= form_errors(hook)

.form-group
  = form.label :url, _('URL'), class: 'label-bold'
  = form.text_field :url, class: 'form-control gl-form-input'
  %p.form-text.text-muted= _('URL must be percent-encoded if necessary.')
.form-group
  = form.label :token, _('Secret token'), class: 'label-bold'
  = form.text_field :token, class: 'form-control gl-form-input'
  %p.form-text.text-muted= _('Use this token to validate received payloads.')
.form-group
  = form.label :url, _('Trigger'), class: 'label-bold'
  .form-text.text-secondary.gl-mb-5= _('System hooks are triggered on sets of events like creating a project or adding an SSH key. You can also enable extra triggers, such as push events.')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :repository_update_events, _('Repository update events'),
    help_text: _('URL is triggered when repository is updated')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :push_events, _('Push events'),
    help_text: _('URL is triggered for each branch updated to the repository')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :tag_push_events, _('Tag push events'),
    help_text: _('URL is triggered when a new tag is pushed to the repository')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :merge_requests_events, _('Merge request events'),
    help_text: _('URL is triggered when a merge request is created, updated, or merged')
.form-group
  = form.label :enable_ssl_verification, _('SSL verification'), class: 'label-bold checkbox'
  = form.gitlab_ui_checkbox_component :enable_ssl_verification, _('Enable SSL verification')
