= form_errors(hook)

.form-group
  = form.label :url, _('URL'), class: 'label-bold'
  = form.text_field :url, class: 'form-control gl-form-input'
  %p.form-text.gl-text-subtle= _('URL must be percent-encoded if necessary.')
.form-group
  = form.label :name, s_('Webhooks|Name (optional)'), class: 'label-bold'
  = form.text_field :name, value: hook.name, class: 'form-control gl-form-input gl-form-input-xl'
.form-group
  = form.label :description, s_('Webhooks|Description (optional)'), class: 'label-bold'
  = form.text_area :description, value: hook.description, class: 'form-control gl-form-input gl-form-input-xl', rows: 4, maxlength: 2048
.form-group
  = form.label :token, _('Secret token'), class: 'label-bold'
  = form.password_field :token, value: hook.masked_token, autocomplete: 'new-password', class: 'form-control gl-form-input gl-max-w-48'
  %p.form-text.gl-text-subtle= _('Use this token to validate received payloads.')
.form-group
  = form.label :url, _('Trigger'), class: 'label-bold gl-mb-0'
  .form-text.gl-text-subtle.gl-mb-5= _('System hooks are triggered on sets of events like creating a project or adding an SSH key. You can also enable extra triggers, such as push events.')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :repository_update_events, _('Repository update events'),
    help_text: _('URL is triggered when repository is updated')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :push_events, _('Push events'),
    help_text: _('URL is triggered for each branch updated to the repository')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :tag_push_events, _('Tag push events'),
    help_text: _('URL is triggered when a new tag is pushed to the repository')
  %fieldset.form-group
    = form.gitlab_ui_checkbox_component :merge_requests_events, _('Merge request events'),
    help_text: _('URL is triggered when a merge request is created, updated, or merged')
.form-group
  = form.label :enable_ssl_verification, _('SSL verification'), class: 'label-bold checkbox'
  = form.gitlab_ui_checkbox_component :enable_ssl_verification, _('Enable SSL verification')
