- add_to_breadcrumbs "System Hooks", admin_hooks_path
- page_title 'Edit System Hook'
%h3.page-title
  Edit System Hook

%p.light
  #{link_to 'System hooks ', help_page_path('system_hooks/system_hooks'), class: 'vlink'} can be
  used for binding events when GitLab creates a User or Project.

%hr

= form_for @hook, as: :hook, url: admin_hook_path do |f|
  = render partial: 'form', locals: { form: f, hook: @hook }
  .form-actions
    = f.submit 'Save changes', class: 'btn btn-create'
    = render 'shared/web_hooks/test_button', triggers: SystemHook.triggers, hook: @hook
    = link_to 'Remove', admin_hook_path(@hook), method: :delete, class: 'btn btn-remove float-right', data: { confirm: 'Are you sure?' }

%hr

= render partial: 'admin/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs }
