- add_to_breadcrumbs @hook.pluralized_name, admin_hooks_path
- page_title _('Edit System Hook')

.row.gl-mt-3
  .col-lg-3
    = render 'shared/web_hooks/title_and_docs', hook: @hook

  .col-lg-9.gl-mb-3
    = form_for @hook, as: :hook, url: admin_hook_path do |f|
      = render partial: 'form', locals: { form: f, hook: @hook }
      .form-actions
        %span>= f.submit _('Save changes'), class: 'btn gl-button btn-confirm gl-mr-3'
        = render 'shared/web_hooks/test_button', hook: @hook
        = link_to _('Delete'), admin_hook_path(@hook), method: :delete, class: 'btn gl-button btn-danger float-right', data: { confirm: _('Are you sure?') }

    %hr

    = render partial: 'admin/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs }
