- add_to_breadcrumbs @hook.pluralized_name, admin_hooks_path
- page_title s_('Webhooks|Edit system hook')

= render 'shared/web_hooks/hook_errors', hook: @hook

= render ::Layouts::SettingsSectionComponent.new(page_title) do |c|
  - c.with_description do
    = render 'shared/web_hooks/description', hook: @hook
  - c.with_body do
    = gitlab_ui_form_for @hook, as: :hook, url: admin_hook_path do |f|
      = render partial: 'form', locals: { form: f, hook: @hook }

      .settings-sticky-footer
        = f.submit _('Save changes'), pajamas_button: true, class: 'gl-mr-2'
        = render 'shared/web_hooks/test_button', hook: @hook
        = link_button_to _('Delete'), admin_hook_path(@hook), method: :delete, class: 'gl-float-right', aria: { label: s_('Webhooks|Delete webhook') }, data: { confirm: s_('Webhooks|Are you sure you want to delete this webhook?'), confirm_btn_variant: 'danger' }, variant: :danger

    %hr

    = render partial: 'shared/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs }
