.alert.alert-info
  %span
    Post receive hooks for binding events.
    %br
    Read more about system hooks
    %strong #{link_to "here", help_system_hooks_path, class: "vlink"}

= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-inline' } do |f|
  -if @hook.errors.any?
    .alert.alert-error
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .clearfix
    = f.label :url, "URL:"
    .input
      = f.text_field :url, class: "text_field xxlarge"
      &nbsp;
      = f.submit "Add System Hook", class: "btn btn-primary"
%hr

-if @hooks.any?
  %h3
    Hooks
    %small (#{@hooks.count})
  %br
  %table
    %tr
      %th URL
      %th Method
      %th
    - @hooks.each do |hook|
      %tr
        %td
          = link_to admin_hook_path(hook) do
            %strong= hook.url
          = link_to 'Test Hook', admin_hook_test_path(hook), class: "btn btn-small pull-right"
        %td POST
        %td
          = link_to 'Remove', admin_hook_path(hook), confirm: 'Are you sure?', method: :delete, class: "btn btn-remove btn-small pull-right"
