- page_title @hook.pluralized_name

.row.prepend-top-default
  .col-lg-4
    = render 'shared/web_hooks/title_and_docs', hook: @hook

  .col-lg-8.append-bottom-default
    = form_for @hook, as: :hook, url: admin_hooks_path do |f|
      = render partial: 'form', locals: { form: f, hook: @hook }
      = f.submit _('Add system hook'), class: 'btn btn-success'

    = render 'shared/web_hooks/index', hooks: @hooks, hook_class: @hook.class

= render 'shared/plugins/index'
