.blank-state-row
  - if has_start_trial?
    = render_if_exists "dashboard/projects/blank_state_ee_trial"

  = link_to new_project_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = image_tag("illustrations/welcome/add_new_project")
    .blank-state-body
      %h3.blank-state-title
        Create a project
      %p.blank-state-text
        Projects are where you store your code, access issues, wiki and other features of GitLab.

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = image_tag("illustrations/welcome/add_new_group")
      .blank-state-body
        %h3.blank-state-title
          Create a group
        %p.blank-state-text
          Groups are a great way to organize projects and people.

    = link_to new_admin_user_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = image_tag("illustrations/welcome/add_new_user")
      .blank-state-body
        %h3.blank-state-title
          Add people
        %p.blank-state-text
          Add your team members and others to GitLab.

  = link_to admin_root_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = image_tag("illustrations/welcome/configure_server")
    .blank-state-body
      %h3.blank-state-title
        Configure GitLab
      %p.blank-state-text
        Make adjustments to how your GitLab instance is set up.
