.row
  .col-md-6
    = link_to new_admin_user_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("add_new_user", size: 50)
        .blank-state-body
          %h3.blank-state-title
            Add user
          %p.blank-state-text
            Add your team members and others to GitLab.

  - if current_user.can_create_group?
    .col-md-6
      = link_to admin_root_path, class: "blank-state-link" do
        .blank-state
          .blank-state-icon
            = custom_icon("add_new_group", size: 50)
          .blank-state-body
            %h3.blank-state-title
              Create a group
            %p.blank-state-text
              Groups are a great way to organize projects and people.

  .col-md-6
    = link_to admin_root_path, class: "blank-state-link" do
      .blank-state
        .blank-state-icon
          = custom_icon("configure_server", size: 50)
        .blank-state-body
          %h3.blank-state-title
            Configure GitLab
          %p.blank-state-text
            Make adjustments to how your GitLab instance is set up.
