.blank-state
  .blank-state-icon
    = custom_icon("add_new_user", size: 50)
  .blank-state-body
    %h3.blank-state-title
      Add user
    %p.blank-state-text
      Add your team members and others to GitLab.
    = link_to new_admin_user_path, class: "btn btn-new" do
      New user

.blank-state
  .blank-state-icon
    = custom_icon("configure_server", size: 50)
  .blank-state-body
    %h3.blank-state-title
      Configure GitLab
    %p.blank-state-text
      Make adjustments to how your GitLab instance is set up.
    = link_to admin_root_path, class: "btn btn-new" do
      Configure

- if current_user.can_create_group?
  .blank-state
    .blank-state-icon
      = custom_icon("add_new_group", size: 50)
    .blank-state-body
      %h3.blank-state-title
        Create a group
      %p.blank-state-text
        Groups are a great way to organize projects and people.
      = link_to new_group_path, class: "btn btn-new" do
        New group
