- publicish_project_count = Project.publicish(current_user).count
%h3.page-title Welcome to GitLab!
%p.light Self hosted Git management application.
%hr
%div
  .dashboard-intro-icon
    %i.fa.fa-bookmark-o
  .dashboard-intro-text
    %p.slead
      You don't have access to any projects right now.
      %br
      - if current_user.can_create_project?
        You can create up to
        %strong= pluralize(number_with_delimiter(current_user.projects_limit), "project") + "."
      - else
        If you are added to a project, it will be displayed here.

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          %i.fa.fa-plus
          New Project

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-users
    .dashboard-intro-text
      %p.slead
        You can create a group for several dependent projects.
        %br
        Groups are the best way to manage projects and members.
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          %i.fa.fa-plus
          New Group

-if publicish_project_count > 0
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-globe
    .dashboard-intro-text
      %p.slead
        There are
        %strong= number_with_delimiter(publicish_project_count)
        public projects on this server.
        %br
        Public projects are an easy way to allow everyone to have read-only access.
      .link_holder
        = link_to trending_explore_projects_path, class: "btn btn-new" do
          Browse public projects
