.blank-state-parent-container
  .section-container.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
    .container.section-body
      .row
        .blank-state-welcome.w-100
          %h2.blank-state-welcome-title{ data: { qa_selector: 'welcome_title_content' } }
            = _('Welcome to GitLab')
          %p.blank-state-text
            = _('Faster releases. Better code. Less pain.')
        - if current_user.admin?
          = render "blank_state_admin_welcome"
        - else
          = render "blank_state_welcome"
