.container
  = render_if_exists 'dashboard/projects/joining_a_project_alert'
  .gl-text-center.gl-pt-6.gl-pb-7
    %h2.gl-font-size-h1{ data: { testid: 'welcome-title-content' } }
      = _('Welcome to GitLab')
    %p.gl-m-0
      = _('Faster releases. Better code. Less pain.')
  - if current_user.admin?
    = render "blank_state_admin_welcome"
  - else
    = render "blank_state_welcome"
