.dashboard-projects.gl-mx-auto
  = render_if_exists 'dashboard/projects/joining_a_project_alert'

  %h1.page-title.gl-text-size-h-display.gl-text-center.gl-mt-11{ data: { testid: 'welcome-title-content' } }
    = safe_format(_('Welcome to GitLab, %{name}!'), name: current_user.first_name)
  %p.gl-text-center.gl-mb-7= _('Ready to get started with GitLab? Follow these steps to get familiar with us:')

  - if current_user.admin?
    = render "blank_state_admin_welcome"
  - else
    = render "blank_state_welcome"
