= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "All activity")

= render_dashboard_ultimate_trial(current_user)
= render_product_usage_data_collection_changes(current_user)

- page_title _("Projects")
- add_page_specific_style 'page_bundles/dashboard_projects'
- add_page_specific_style 'page_bundles/projects'

= render "projects/last_push"

- if show_dashboard_projects_welcome_page?
  = render "zero_authorized_projects"
- else
  = render 'dashboard/projects_head'
  #js-your-work-projects-app{ data: { app_data: dashboard_projects_app_data } }
