- @no_container = true
- @can_bulk_update = can?(current_user, :admin_issue, @project)

- page_title "Service Desk"

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'
  = webpack_bundle_tag 'service_desk_issues'
  = webpack_bundle_tag 'issues'

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{@project.name} issues")
- if show_new_nav?
  - content_for :breadcrumbs_extra do
    = render "projects/issues/nav_btns"

- if project_issues(@project).exists?
  = render 'projects/issues/export_issues/csv_download'

  - support_bot_attrs = User.support_bot.to_json(only: [:id, :name, :username, :avatar_url])

  %div{ class: (container_class), data: { support_bot: support_bot_attrs }}
    .top-area
      = render 'shared/issuable/nav', type: :issues
      .nav-controls{ class: ("visible-xs" if show_new_nav?) }
        = render "projects/issues/nav_btns"
    = render 'shared/issuable/search_bar', type: :issues

    - if @can_bulk_update
      = render 'shared/issuable/bulk_update_sidebar', type: :issues

    .issues-holder
      = render 'projects/issues/issues', empty_state_path: 'service_desk_empty_state'

