= render layout: 'help/api_layout' do
  %h3.page_title
    %span.light API
    %span
      \/
    = @category.titleize
  %br

  .file_holder
    .file_title
      %i.icon-file
      = @category
    .file_content.wiki
      = preserve do
        = markdown File.read(Rails.root.join("doc", "api", "#{@category}.md"))
