.jumbotron
  %h2
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLab is open source software to collaborate on code.
    %br
    Manage git repositories with fine grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 50,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    Read more about GitLab at #{link_to "www.gitlab.com", "https://www.gitlab.com/", target: "_blank"}.

.row
  .col-md-4
    .ui-box
      .title
        Quick help
      %ul.well-list
        %li
          Email your
          = mail_to gitlab_config.support_email, "support contact"
        %li
          Use the
          = link_to "search bar", '#', onclick: "$('#search').focus();"
          on the top of this page
        %li
          Use
          = link_to "shortcuts", '#', onclick: "new Shortcuts()"
        %li
          Ask in our
          = link_to "mailing list", "https://groups.google.com/forum/#!forum/gitlabhq"
          or on
          = link_to "Stack Overflow", "http://stackoverflow.com/questions/tagged/gitlab"
        %li
          Browse our
          = link_to "issue tracker", "https://gitlab.com/gitlab-org/gitlab-ce/issues"

  .col-md-4
    .ui-box
      .title
        User documentation
      %ul.well-list
        %li
          %strong= link_to "Workflow", help_workflow_path
          %p Learn how to use Git and GitLab together.

        %li
          %strong= link_to "SSH keys", help_ssh_path
          %p Setup secure access to your projects.

        %li
          %strong= link_to "GitLab Markdown", help_markdown_path
          %p Learn what you can do with GitLab's advanced formatting system.

        %li
          %strong= link_to "Permissions", help_permissions_path
          %p Get familiar with GitLab's permission levels.

        %li
          %strong= link_to "API", help_api_file_path(category: 'README')
          %p Explore how you can access GitLab via a simple and powerful API.

        %li
          %strong= link_to "Web Hooks", help_web_hooks_path
          %p Let GitLab notify you when new code has been pushed to your project.

  .col-md-4
    .ui-box
      .title
        Admin documentation
      %ul.well-list

        %li
          %strong= link_to "Rake Tasks", help_raketasks_path
          %p Explore what GitLab has in store for you to make administration easier.

        %li
          %strong= link_to "System Hooks", help_system_hooks_path
          %p Let GitLab notify you when certain management tasks need to be carried out.

        %li
          %strong= link_to "Public Access", help_public_access_path
          %p Learn how you can allow public access to a project.

        %li
          %strong= link_to "Security", help_security_path
          %p Learn what you can do to secure your GitLab instance.
