%div
- if Gitlab::CurrentSettings.help_page_text.present?
  .gl-mt-3.md
    = markdown_field(Gitlab::CurrentSettings.current_application_settings, :help_page_text)
  %hr

%h1{ class: 'gl-heading-1 !gl-mt-5 !gl-mb-3' }
  = default_brand_title
  - if user_signed_in?
    = link_to_version
  - if show_version_check?
    .js-gitlab-version-check-badge{ data: { "size": "md", "actionable": "true", "version": gitlab_version_check.to_json } }

- unless Gitlab::CurrentSettings.help_page_hide_commercial_content?
  %p.slead
    = _('GitLab is open source software to collaborate on code.')
    %br
    = _('Manage git repositories with fine-grained access controls that keep your code secure.')
    %br
    = _('Perform code reviews and enhance collaboration with merge requests.')
    %br
    = _('Each project can also have an issue tracker and a wiki.')
    %br
    = _('Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.')
    %br
    - link_to_promo = link_to(promo_host, promo_url, target: '_blank', rel: 'noopener noreferrer')
    = _("Read more about GitLab at %{link_to_promo}.").html_safe % { link_to_promo: link_to_promo }

%p= link_to _('Check the current instance configuration '), help_instance_configuration_url
%hr

.row.gl-mt-3
  .col-md-8
    .md
      = markdown(@help_index)
  .col-md-4
    .card.links-card
      .card-header
        = _('Quick help')
      %ul.content-list
        %li= link_to _('See our website for help'), support_url, { class: '!gl-text-link' }
        %li
          %button.gl-border-none.gl-rounded-none.gl-p-0.btn-link.gl-button.js-trigger-search-bar{ type: 'button', class: "!gl-bg-transparent !gl-outline-none !gl-shadow-none" }
            = _('Use the search bar on the top of this page')
        %li
          %button.gl-border-none.gl-rounded-none.gl-p-0.btn-link.gl-button.js-trigger-shortcut{ type: 'button', class: "!gl-bg-transparent !gl-outline-none !gl-shadow-none" }
            = _('Use shortcuts')
        - unless Gitlab::CurrentSettings.help_page_hide_commercial_content?
          %li= link_to _('Get a support subscription'), "#{ApplicationHelper.promo_url}/pricing/", { class: '!gl-text-link' }
          %li= link_to _('Compare GitLab editions'), "#{ApplicationHelper.promo_url}/features/#compare", { class: '!gl-text-link' }
