%h3
  = t '.title'
  %span.right v2.4
%hr
%h4
  = t '.shortdesc'
%h4
  = t '.desc'

%hr

%h3
  = t 'help.title'

%ol
  %li
    %h5= link_to t('help.workflow.title'), help_workflow_path

  %li
    %h5= link_to t('help.permissions.title'), help_permissions_path
