= render layout: 'help/layout' do
  %h3.page-title Public Access

  %p.slead
    GitLab allows you to open selected data to be visible
    %strong publicly
    = public_icon
    or
    %strong internally
    = internal_icon
    \.
    %br
    Data that has no public access is
    %strong private
    = private_icon
    %br
    This is currently possible for
    %strong projects
    and
    %strong users
    \.
    %br
    %strong Public data
    = public_icon
    will be visible to anyone
    %strong without any
    authentication.
    %br
    %strong Internal data
    = internal_icon
    will only be visible to authenticated users.
    %br
    %strong Private data
    = private_icon
    will only be visible to the owner of the data or explicitly allowed users.
    %br
    Public and internal data will be listed in the
    #{link_to "public area", public_root_path} to users who can see them.

  %h4 Projects
  %p
    Visible projects can be cloned and metadata such as issues can be seen.
    %br
    Logged in user will have #{link_to "Guest", help_permissions_path} permissions on the repository.
    %br
    Users who are not logged in cannot edit any data: create issues, leave comments, etc.
    %br

  %p To change project visibility:
  %ol
    %li Go to your project dashboard
    %li Click on the "Edit" tab
    %li Change "Visibility Level"

  %h4 Users
  %p
    Visible users can have their profile page seen.
    %br
    Sensitive information such as your email will not be shown.
    %br
    Currently, if your account is private only you will be able to see your profile page.

  %p To change your visibility:
  %ol
    %li Go to your #{link_to "profile's account settings", profile_account_path}.
    %li Change "Visibility Level"
