= render layout: 'help/layout' do
  %h3.page-title GitLab Rake Tasks

  %p.slead
    GitLab provides some specific rake tasks to enable special features or perform maintenance tasks.

  %ul.nav.nav-tabs.log-tabs
    %li.active
      = link_to "Maintenance", "#maintenance", 'data-toggle' => 'tab'
    %li
      = link_to "User Management", "#user_management", 'data-toggle' => 'tab'
    %li
      = link_to "Backup & Restore", "#backup_restore", 'data-toggle' => 'tab'
    %li
      = link_to "Cleanup", "#cleanup", 'data-toggle' => 'tab'

  .tab-content
    .tab-pane.active#maintenance
      .file-holder
        .file-title
          %i.icon-file
          Maintenance
        .file-content.wiki
          = preserve do
            = markdown File.read(Rails.root.join("doc", "raketasks", "maintenance.md"))

    .tab-pane#user_management
      .file-holder
        .file-title
          %i.icon-file
          User Management
        .file-content.wiki
          = preserve do
            = markdown File.read(Rails.root.join("doc", "raketasks", "user_management.md"))

    .tab-pane#cleanup
      .file-holder
        .file-title
          %i.icon-file
          Cleanup
        .file-content.wiki
          = preserve do
            = markdown File.read(Rails.root.join("doc", "raketasks", "cleanup.md"))

    .tab-pane#backup_restore
      .file-holder
        .file-title
          %i.icon-file
          Backup &amp; Restore
        .file-content.wiki
          = preserve do
            = markdown File.read(Rails.root.join("doc", "raketasks", "backup_restore.md"))
