- status = local_assigns.fetch(:status)
- link   = local_assigns.fetch(:link, true)
- title  = local_assigns.fetch(:title, nil)
- css_classes = "ci-status ci-#{status.group} #{'has-tooltip' if title.present?}"

- if link && status.has_details?
  = link_to status.details_path, class: css_classes, title: title, data: { html: title.present? } do
    = sprite_icon(status.icon)
    = status.text
- else
  %span{ class: css_classes, title: title, data: { html: title.present? } }
    = sprite_icon(status.icon)
    = status.text
