-# Renders the content of each li in the dropdown

- subject = local_assigns.fetch(:subject)
- status = subject.detailed_status(current_user)
- klass = "ci-status-icon ci-status-icon-#{status.group}"
- tooltip = "#{subject.name} - #{status.status_tooltip}"

- if status.has_details?
  = link_to status.details_path, class: 'mini-pipeline-graph-dropdown-item', data: { toggle: 'tooltip', title: tooltip, html: true, container: 'body' }  do
    %span{ class: klass }= sprite_icon(status.icon)
    %span.ci-build-text= subject.name

- else
  .menu-item.mini-pipeline-graph-dropdown-item{ data: { toggle: 'tooltip', html: true, title: tooltip, container: 'body' } }
    %span{ class: klass }= sprite_icon(status.icon)
    %span.ci-build-text= subject.name

- if status.has_action?
  = link_to status.action_path, class: "ci-action-icon-wrapper js-ci-action-icon", method: status.action_method, data: { toggle: 'tooltip', title: status.action_title, container: 'body' }  do
    = sprite_icon(status.action_icon, css_class: "icon-action-#{status.action_icon}")
