- detailed_status = subject.detailed_status(current_user)
- details_path = detailed_status.details_path if detailed_status.has_details?
- klass = "ci-status-icon ci-status-icon-#{detailed_status}"
- graph_status_icon = "#{detailed_status.icon}_graph"

- if details_path
  = link_to details_path, class: klass, data: { toggle: 'tooltip', title: "#{subject.name} - #{detailed_status}" } do
    %span{ class: klass }= custom_icon(graph_status_icon)
    .ci-status-text= subject.name
- else
  %span{ class: klass }= custom_icon(graph_status_icon)
  .ci-status-text= subject.name
