- expanded = expand_deploy_tokens_section?(@new_deploy_token, @created_deploy_token)

%section.settings.no-animate#js-deploy-tokens{ class: ('expanded' if expanded), data: { qa_selector: 'deploy_tokens_settings_content' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only= s_('DeployTokens|Deploy tokens')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded ? _('Collapse') : _('Expand')
    %p
      = description
  .settings-content
    #js-new-deploy-token{ data: {
        container_registry_enabled: container_registry_enabled?(group_or_project),
        packages_registry_enabled: packages_registry_enabled?(group_or_project),
        create_new_token_path: create_deploy_token_path(group_or_project),
        token_type: group_or_project.is_a?(Group) ? 'group' : 'project',
        deploy_tokens_help_url: help_page_path('user/project/deploy_tokens/index.md')
      }
    }
    %hr
    = render 'shared/deploy_tokens/table', group_or_project: group_or_project, active_tokens: @deploy_tokens
