- if @teams_error_message
  = content_for :flash_message do
    .alert.alert-danger= @teams_error_message

%p
  You aren’t a member of any team on the Mattermost instance at
  %strong= Gitlab.config.mattermost.host
%p
  To install this service,
  = link_to "#{Gitlab.config.mattermost.host}/select_team", target: '__blank' do
    join a team
    = icon('external-link')
  and try again.
%hr
.clearfix
  = link_to 'Go back', edit_project_service_path(@project, @service), class: 'btn btn-lg pull-right'
