- add_to_breadcrumbs _('Integrations'), scoped_integrations_path(project: @project, group: @group)
- add_to_breadcrumbs @integration.title, scoped_edit_integration_path(@integration, project: @project, group: @group)
- breadcrumb_title _('New integration')
- page_title @integration.title, _('Integrations')

- if @teams_error_message
  = render Pajamas::AlertComponent.new(variant: :danger) do |c|
    - c.with_body do
      = @teams_error_message

%h3
  Install Mattermost Command
  .gl-float-right
    = custom_icon('mattermost_logo', size: 48)

- if @teams.empty?
  = render 'no_teams'
- else
  = render 'team_selection'
