%li.commit
  .browse_code_link_holder
    %p
      %strong= link_to "Browse Code »", project_tree_path(@project, commit), class: "right"
  %p
    = link_to commit.short_id(8), project_commit_path(@project, commit), class: "commit_short_id"
    = commit.author_link avatar: true, size: 24
    &nbsp;
    = link_to_gfm truncate(commit.title, length: 50), project_commit_path(@project, commit.id), class: "row_title"

    %span.committed_ago
      = time_ago_in_words(commit.committed_date)
      ago
      &nbsp;

    %span.notes_count
      - notes = @project.notes.for_commit_id(commit.id)
      - if notes.any?
        %span.btn.disabled.grouped
          %i.icon-comment
          = notes.count
