%li.entry
  = link_to project_commit_path(@project, :id => commit.id) do
    %div
      %strong
        = truncate commit.id.to_s, :length => 10
      &ndash;
      = image_tag gravatar_icon(commit.author_email), :class => "", :width => 16
      = truncate(commit.safe_message, :length => 50)

      %span.right.cgray
        = time_ago_in_words(commit.committed_date)
        ago

