- @commits.group_by { |c| c.committed_date.to_date }.each do |day, commits|
  %div{ :class => "commits-date ui-box ui-box-small ui-box-big" }
    .day-commits-table
      %h5.underlined= day.stamp("28 Aug, 2010")
      %br
      %ul.unstyled
        - commits.each do |commit|
          %li.entry
            = link_to project_commit_path(@project, :id => commit.id) do
              %div
                %strong
                  = truncate commit.id.to_s, :length => 10
                &ndash;
                = image_tag gravatar_icon(commit.author_email), :class => "", :width => 16
                = truncate(commit.safe_message, :length => 50)

                %span.right.cgray
                  = time_ago_in_words(commit.committed_date)
                  ago
