.commit-box{class: @commit.parents_count > 1 ? "merge-commit" : ""}
  .commit-head
    .right
      - if @notes_count > 0
        %span.btn.disabled.grouped
          %i.icon-comment
          = @notes_count
      .left.btn-group
        %a.btn.small.grouped.dropdown-toggle{ data: {toggle: :dropdown} }
          %i.icon-download-alt
          Download as
          %span.caret
        %ul.dropdown-menu
          %li= link_to "Email Patches", project_commit_path(@project, @commit, format: :patch)
          %li= link_to "Plain Diff",    project_commit_path(@project, @commit, format: :diff)
      = link_to project_tree_path(@project, @commit), class: "browse-button primary grouped" do
        %strong Browse Code »
    %h3.commit-title.page_title
      = gfm escape_once(@commit.title)
    - if @commit.description.present?
      %pre.commit-description
        = gfm escape_once(@commit.description)
  .commit-info
    .row
      .span5
        .author
          %strong= @commit.author_link avatar: true, size: 40
          authored
          %time{title: @commit.authored_date.stamp("Aug 21, 2011 9:23pm")}
            #{time_ago_in_words(@commit.authored_date)} ago
        - if @commit.different_committer?
          .committer
            &rarr;
            %strong= @commit.committer_link
            committed
            %time{title: @commit.committed_date.stamp("Aug 21, 2011 9:23pm")}
              #{time_ago_in_words(@commit.committed_date)} ago
      .span6.right
        .sha-block
          %span.cgray commit
          %code.label_commit= @commit.id
        .sha-block
          %span.cgray= pluralize(@commit.parents.count, "parent")
          - @commit.parents.each do |parent|
            = link_to parent.id[0...10], project_commit_path(@project, parent)


