%li.commit
  .browse-code-link-holder
    %p
      %strong= link_to "Browse Code »", project_tree_path(@project, commit), class: "right"
  %p
    = link_to commit.short_id(8), project_commit_path(@project, commit), class: "commit-short-id"
    = commit.author_link avatar: true, size: 24
    &nbsp;
    = link_to_gfm truncate(commit.title, length: 50), project_commit_path(@project, commit.id), class: "row-title"

    %span.committed-ago
      = time_ago_in_words(commit.committed_date)
      ago
      &nbsp;

    %span.notes-count
      - notes = @project.commit_notes(commit) + @project.commit_line_notes(commit)
      - if notes.any?
        %span.btn.small.disabled.grouped
          %i.icon-comment
          = notes.count
