%ul.bordered-list
  - diffs.each do |diff|
    %li
      - if diff.deleted_file
        %span.removed_file
          %a{href: "##{diff.old_path}"}
            = diff.old_path
            = image_tag "diff_file_delete.png"
      - elsif diff.renamed_file
        %span.moved_file
          %a{href: "##{diff.new_path}"}
            = diff.old_path
            = "->"
            = diff.new_path
            = image_tag "diff_file_notice.png"
      - elsif diff.new_file
        %span.new_file
          %a{href: "##{diff.new_path}"}
            = diff.new_path
            = image_tag "diff_file_add.png"
      - else
        %span.edit_file
          %a{href: "##{diff.new_path}"}
            = diff.new_path
            = image_tag "diff_file_info.png"

