%ul.nav.nav-tabs
  %li= render partial: 'shared/ref_switcher', locals: {destination: 'commits'}

  = nav_link(controller: [:commit, :commits]) do
    = link_to 'Commits', project_commits_path(@project, @project.root_ref)
  = nav_link(controller: :compare) do
    = link_to 'Compare', project_compare_index_path(@project)

  = nav_link(html_options: {class: branches_tab_class}) do
    = link_to project_repository_path(@project) do
      Branches
      %span.badge= @project.repo.branch_count

  = nav_link(controller: :repositories, action: :tags) do
    = link_to tags_project_repository_path(@project) do
      Tags
      %span.badge= @project.repo.tag_count

  - if current_controller?(:commits) && current_user.private_token
    %li.right
      %span.rss-icon
        = link_to project_commits_path(@project, @ref, {format: :atom, private_token: current_user.private_token}), title: "Feed" do
          = image_tag "rss_ui.png", title: "feed"
