= render "head"

%h3 
  = t '.title'
%hr

%div
  %p 
    = t '.desc'

  %br

  = form_tag compare_project_commits_path(@project), :method => :get do 
    .clearfix
      = text_field_tag :from, params[:from], :placeholder => "master", :class => "xlarge"
      = "..."
      = text_field_tag :to, params[:to], :placeholder => "aa8b4ef", :class => "xlarge"
    .actions
      = submit_tag t('.submit'), :class => "btn primary"


- unless @commits.empty?
  %h4
    = t '.commits', :count => @commits.count
  %ul.unstyled= render @commits

- unless @diffs.empty?
  %h4
    = t '.diff'
  = render "commits/diffs", :diffs => @diffs


:javascript
  $(function() {
    var availableTags = #{@project.heads.map(&:name).to_json};

    $("#from").autocomplete({
      source: availableTags,
      minLength: 1
    });

    $("#to").autocomplete({
      source: availableTags,
      minLength: 1
    });
  });

