- content_for(:body_class, "project-page commits-page")

-#%a.right.button{:href => "#"} Download
-#-if can? current_user, :admin_project, @project
  %a.right.button.blue{:href => "#"} EDIT
- if params[:path]
  %h2.icon
    %span
    %d
      = link_to project_commits_path(@project) do
        = @project.code
      \/
      %a{:href => "#"}= params[:path].split("/").join(" / ")

%div{:id => dom_id(@project)}
  #commits_list= render "commits"
.clear
.loading{ :style => "display:none;"}
  %center= image_tag "ajax-loader.gif"

- if @commits.count == @limit
  :javascript
    $(function(){
      CommitsList.init("#{@ref}", 20);
    });
