- content_for(:body_class, "project-page commits-page")

-#%a.right.button{:href => "#"} Download
-#-if can? current_user, :admin_project, @project
  %a.right.button.blue{:href => "#"} EDIT
%h2.icon
  %span
  %d
    = link_to project_commits_path(@project) do 
      = @project.name
    - if params[:path]
      \/
      %a{:href => "#"}= params[:path].split("/").join(" / ")

.right= render "projects/refs"

%div{:id => dom_id(@project)}
  = render "commits"
