- content_for(:body_class, "project-page commits-page")
- if current_user.private_token   
  = content_for :rss_icon do 
    .rss-icon
      = link_to project_commits_path(@project, :atom, { :private_token => current_user.private_token, :ref => @ref }) do 
        = image_tag "rss_icon_gray.png", :width => 16, :title => "feed"

- if params[:path]
  %h2.icon
    %span
    %d
      = link_to project_commits_path(@project) do
        = @project.code
      \/
      %a{:href => "#"}= params[:path].split("/").join(" / ")

%div{:id => dom_id(@project)}
  #commits_list= render "commits"
.clear
.loading{ :style => "display:none;"}
  %center= image_tag "ajax-loader.gif"

- if @commits.count == @limit
  :javascript
    $(function(){
      CommitsList.init("#{@ref}", 20);
    });
