= render "head"
%h3 
  Commits
  - if current_user.private_token   
    %span.rss-icon
      = link_to project_commits_path(@project, :atom, { :private_token => current_user.private_token, :ref => @ref }) do 
        = image_tag "Rss-UI.PNG", :width => 22, :title => "feed"
%hr

- if params[:path]
  %ul.breadcrumb
    %li
      = link_to project_commits_path(@project) do
        = @project.code
      %span.divider 
        \/
    %li
      %a{:href => "#"}= params[:path].split("/").join(" / ")

%div{:id => dom_id(@project)}
  #commits_list= render "commits"
.clear
.loading{ :style => "display:none;"}
  %center= image_tag "ajax-loader.gif"

- if @commits.count == @limit
  :javascript
    $(function(){
      CommitsList.init("#{@ref}", #{@limit});
    });

