.commit
  %span.commit-info
    = link_to tree_project_ref_path(@project, @commit.id), :class => "btn right" do 
      Browse Code »
  - if @commit.author_email
    = image_tag gravatar_icon(@commit.author_email), :class => "left", :width => 40, :style => "padding-right:5px;"
  - else
    = image_tag "no_avatar.png", :class => "left", :width => 40, :style => "padding-right:5px;"
  %span.commit-title
    %strong
      = truncate(@commit.id.to_s, :length => 60)
  %span.commit-author
    %strong= @commit.author_name
    = @commit.created_at.stamp("Aug 21, 2011 9:23pm")

%hr
%pre.commit_message
  = commit_msg_with_link_to_issues(@project, @commit.safe_message)
.clear
%br

= render "commits/diffs", :diffs => @commit.diffs
= render "notes/notes"
= render "notes/per_line_form"


:javascript
  $(document).ready(function(){
    $(".noteable_line").live("dblclick", function(e) { 
      var form = $(".per_line_form");
      $(this).parent().after(form);
      form.find("#note_line_code").val($(this).attr("line_code"));
      form.show();  
    });
  });
