- content_for(:body_class, "project-page commits-page")
%h2.icon
  %span
  %d
    = "#{truncate(@commit.safe_message, :length => 50)}"
.right 
  = link_to 'Browse Code', tree_project_ref_path(@project, @commit.id), :class => "browse-code button yellow"
%table.round-borders
  %thead
    %th{:colspan => 2} Details
  %tr
    %td ID
    %td= @commit.id
  %tr
    %td Author
    %td= @commit.author_name
  %tr
    %td Commited Date
    %td= @commit.committed_date.stamp("21 Aug 2011, 11:15pm")
  %tr
    %td Message
    %td
      %pre.commit_message
        = preserve @commit.safe_message
.clear

%br

= render "commits/diff"
= render "notes/notes"
