%h3
  = "[ #{@commit.author_name} ]  #{truncate(@commit.safe_message_no_signoff, :length => 70)}"
-#= link_to 'Back', project_commits_path(@project), :class => "button"
%table.round-borders
  %tr
    %td ID
    %td= @commit.id
  %tr
    %td Author
    %td= @commit.author_name
  %tr
    %td Commited Date
    %td= @commit.committed_date.stamp("21 Aug 2011, 11:15pm")
  %tr
    %td Message
    %td
      %pre.commit_message
        = preserve @commit.safe_message_no_signoff
  %tr
    %td Tree
    %td= link_to 'Browse Code', tree_project_path(@project, :commit_id => @commit.id)
.clear

%br

= render "commits/diff"
= render "notes/notes"
