.commit-head{class: @commit.parents.count > 1 ? "merge-commit" : ""}
  = link_to t('commits.commit.browse'), tree_project_ref_path(@project, @commit.id), :class => "browse-button"
  %h3.commit-title
    = commit_msg_with_link_to_issues(@project, @commit.title)
  - if @commit.description.present?
    %pre.commit-description
      = commit_msg_with_link_to_issues(@project, @commit.description)
  %span.sha-block
    = t '.commit' 
    %code= @commit.id
  %span.sha-block
    = pluralize(@commit.parents.count, t('.parent'), t('.parents'))
    - @commit.parents.each do |parent|
      %code= link_to parent.id, project_commit_path(@project, parent)
  .commit-info
    .author
      = image_tag gravatar_icon(@commit.author_email, 24), :class => "avatar", :height => 24, :width => 24
      = @commit.author_name
      = t '.authored'
      %time{title: @commit.authored_date.stamp(t('global.full_timestamp'))}
        = time_ago_in_words(@commit.authored_date)
        = t 'global.ago'
    - if @commit.different_committer?
      .committer
        = @commit.committer_name
        = t '.committed'
        %time{title: @commit.committed_date.stamp(t('global.full_timestamp'))}
          = time_ago_in_words(@commit.committed_date)
          = 'global.ago'

= render "commits/diffs", :diffs => @commit.diffs
= render "notes/notes", :tid => @commit.id, :tt => "commit"
= render "notes/per_line_form"


:javascript
  $(document).ready(function(){
    $(".line_note_link, .line_note_reply_link").live("click", function(e) { 
      var form = $(".per_line_form");
      $(this).parent().parent().after(form);
      form.find("#note_line_code").val($(this).attr("line_code"));
      form.show();  
      return false;
    });
  });
