= render "head"

- if @path.present?
  %ul.breadcrumb
    = breadcrumbs

%div{id: dom_id(@project)}
  #commits-list= render "commits"
.clear
.loading{ style: "display:none;"}

- if @commits.count == @limit
  :javascript
    $(function(){
      CommitsList.init("#{@ref}", #{@limit});
    });

