%h3.page-title
  Group membership
  - if current_user.can_create_group?
    %span.pull-right
      = link_to new_group_path, class: "btn btn-new" do
        %i.icon-plus
        New Group
%p.light
  Group members have access to all a group's projects
%hr
.ui-box
  .title
    %strong Groups
    (#{@user_groups.count})
  %ul.well-list
    - @user_groups.each do |user_group|
      - group = user_group.group
      %li
        .pull-right
          - if can?(current_user, :manage_group, group)
            = link_to edit_group_path(group), class: "btn-small btn grouped" do
              %i.icon-cogs
              Settings

          - if can?(current_user, :destroy, user_group)
            = link_to leave_profile_group_path(group), data: { confirm: leave_group_message(group.name) }, method: :delete, class: "btn-small btn grouped", title: 'Remove user from group' do
              %i.icon-signout
              Leave

        = link_to group, class: 'group-name' do
          %strong= group.name

        as
        %strong #{user_group.human_access}

        %div.light
          #{pluralize(group.projects.count, "project")}, #{pluralize(group.users.count, "user")}

= paginate @user_groups
