%h3.page-title
  = t("gitlab.profile.groups.title")
  - if current_user.can_create_group?
    %span.pull-right
      = link_to new_group_path, class: "btn btn-new" do
        %i.icon-plus
        = t("gitlab.groups.new_group")
%p.light
  = t("gitlab.profile.groups.desc")
%hr
.ui-box
  .title
    %strong
    = t("gitlab.groups.groups")
    (#{@user_groups.count})
  %ul.well-list
    - @user_groups.each do |user_group|
      - group = user_group.group
      %li
        .pull-right
          - if can?(current_user, :manage_group, group)
            = link_to edit_group_path(group), class: "btn-small btn btn-grouped" do
              %i.icon-cogs
              = t("gitlab.groups.settings")

          - if can?(current_user, :destroy, user_group)
            = link_to leave_profile_group_path(group), data: { confirm: t("gitlab.groups.leave_confirm", :group => group.name) }, method: :delete, class: "btn-small btn btn-grouped", title: t("gitlab.groups.leave_title") do
              %i.icon-signout
              = t("gitlab.groups.leave")

        = link_to group, class: 'group-name' do
          %strong= group.name

        = t("gitlab.groups.as")
        %strong
        = t("gitlab.access." + user_group.human_access.downcase)

        %div.light
          #{pluralize(group.projects.count, "project")}, #{pluralize(group.users.count, "user")}

= paginate @user_groups
