.js-toggle-container
  .commit-stat-summary
    Showing
    = link_to '#', class: 'js-toggle-button' do
      %strong #{pluralize(diff_files.count, "changed file")}
    with
    %strong.cgreen #{diff_files.sum(&:added_lines)} additions
    and
    %strong.cred #{diff_files.sum(&:removed_lines)} deletions
  .file-stats.js-toggle-content.hide
    %ul
      - diff_files.each_with_index do |diff_file, i|
        %li
          - if diff_file.deleted_file
            %span.deleted-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-minus
                = diff_file.old_path
          - elsif diff_file.renamed_file
            %span.renamed-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-minus
                = diff_file.old_path
                &rarr;
                = diff_file.new_path
          - elsif diff_file.new_file
            %span.new-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-plus
                = diff_file.new_path
          - else
            %span.edit-file
              %a{href: "#diff-#{i}"}
                %i.fa.fa-adjust
                = diff_file.new_path

