.alert.alert-warning
  %h4
    = _("Too many changes to show.")
    .float-right
      - if current_controller?(:commit)
        = link_to _("Plain diff"), project_commit_path(@project, @commit, format: :diff), class: "btn btn-sm"
        = link_to _("Email patch"), project_commit_path(@project, @commit, format: :patch), class: "btn btn-sm"
      - elsif current_controller?('projects/merge_requests/diffs') && @merge_request&.persisted?
        = link_to _("Plain diff"), merge_request_path(@merge_request, format: :diff), class: "btn btn-sm"
        = link_to _("Email patch"), merge_request_path(@merge_request, format: :patch), class: "btn btn-sm"
  %p
    = _("To preserve performance only <strong>%{display_size} of %{real_size}</strong> files are displayed.").html_safe % { display_size: diff_files.size, real_size: diff_files.real_size }
