= form_for [@project.namespace.becomes(Namespace), @project, @protected_tag], html: { class: 'js-new-protected-tag' } do |f|
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Protect a tag
    .panel-body
      .form-horizontal
        = form_errors(@protected_tag)
        .form-group
          = f.label :name, class: 'col-md-2 text-right' do
            Tag:
          .col-md-10
            = render partial: "shared/protected_refs/dropdown", locals: { f: f, dropdown_placeholder: 'Select tag or create wildcard', dropdown_toggle_class: 'js-protected-tag-select', dropdown_filter_placeholder: 'Search protected tags', protected_ref_param: params[:protected_tag_name], new_protected_ref_class: 'create-new-protected-tag-button js-create-new-protected-tag', new_protected_ref_title: 'New Protected Tag' }
            .help-block
              = link_to 'Wildcards', help_page_path('user/project/protected_tags', anchor: 'wildcard-protected-tags')
              such as
              %code v*
              or
              %code *-release
              are supported
        = render partial: "shared/protected_refs/access_level_dropdown", locals: { access_level_type: 'create_access_levels_attributes', access_level_label: 'Allowed to create:', access_level_container_class: 'create_access_levels-container', access_level_toggle_class: 'js-allowed-to-create', access_level_field_name: 'protected_tag[create_access_levels_attributes][0][access_level]', access_level_input_id: 'create_access_levels_attributes' }

    .panel-footer
      = f.submit 'Protect', class: 'btn-create btn', disabled: true
