%tr.js-protected-tag-edit-form{ data: { url: namespace_project_protected_tag_path(@project.namespace, @project, protected_tag) } }
  %td
    = protected_tag.name
    - if @project.root_ref?(protected_tag.name)
      %span.label.label-info.prepend-left-5 default
  %td
    - if protected_tag.wildcard?
      - matching_tags = protected_tag.matching(repository.tags)
      = link_to pluralize(matching_tags.count, "matching tag"), namespace_project_protected_tag_path(@project.namespace, @project, protected_tag)
    - else
      - if commit = protected_tag.commit
        = link_to(commit.short_id, namespace_project_commit_path(@project.namespace, @project, commit.id), class: 'commit_short_id')
        = time_ago_with_tooltip(commit.committed_date)
      - else
        (tag was removed from repository)

  = render partial: 'shared/protected_refs/update_protected_ref', locals: { protected_ref_field_name: "allowed_to_create_#{protected_tag.id}", protected_ref_first_access_level: protected_tag.create_access_levels.first, protected_ref_toggle_class: 'js-allowed-to-create', protected_ref_container_class: 'js-allowed-to-create-container' }

  - if can_admin_project
    %td
      = link_to 'Unprotect', [@project.namespace.becomes(Namespace), @project, protected_tag], data: { confirm: 'tag will be writable for developers. Are you sure?' }, method: :delete, class: 'btn btn-warning'
