- page_title "Builds"
- header_title project_title(@project, "Builds", project_builds_path(@project))

%ul.center-top-menu
  %li{class: ('active' if @scope.nil?)}
    = link_to project_builds_path(@project) do
      All builds
      %span.badge.js-totalbuilds-count= @all_builds.size

  %li{class: ('active' if @scope == 'pending')}
    = link_to project_builds_path(@project, scope: :pending) do
      Pending
      %span.badge.js-pending-count= @all_builds.pending.size

  %li{class: ('active' if @scope == 'running')}
    = link_to project_builds_path(@project, scope: :running) do
      Running
      %span.badge.js-running-count= @all_builds.running.size

.gray-content-block
  .oneline
    List of all builds from this project

    - if @ci_project && current_user && can?(current_user, :manage_builds, @project)
      .pull-right
        - if @all_builds.running_or_pending.any?
          = link_to 'Cancel all', cancel_all_namespace_project_builds_path(@project.namespace, @project), data: { confirm: 'Are you sure?' }, method: :post, class: 'btn btn-danger'

%ul.content-list
  - if @builds.blank?
    %li
      .nothing-here-block No builds to show
  - else
    %table.table.builds
      %thead
        %tr
          %th Status
          %th Build ID
          %th Commit
          %th Ref
          %th Runner
          %th Name
          %th Duration
          %th Finished at
          %th

      - @builds.each do |build|
        = render 'projects/builds/build', build: build

    = paginate @builds

