- @no_container = true
- page_title "Builds"
= render "projects/pipelines/head"

%div{ class: container_class }
  .top-area
    %ul.nav-links
      %li{class: ('active' if @scope.nil?)}
        = link_to project_builds_path(@project) do
          All
          %span.badge.js-totalbuilds-count
            = number_with_delimiter(@all_builds.count(:id))

      %li{class: ('active' if @scope == 'pending')}
        = link_to project_builds_path(@project, scope: :pending) do
          Pending
          %span.badge
            = number_with_delimiter(@all_builds.pending.count(:id))

      %li{class: ('active' if @scope == 'running')}
        = link_to project_builds_path(@project, scope: :running) do
          Running
          %span.badge
            = number_with_delimiter(@all_builds.running.count(:id))

      %li{class: ('active' if @scope == 'finished')}
        = link_to project_builds_path(@project, scope: :finished) do
          Finished
          %span.badge
            = number_with_delimiter(@all_builds.finished.count(:id))

    .nav-controls
      - if can?(current_user, :update_build, @project)
        - if @all_builds.running_or_pending.any?
          = link_to 'Cancel running', cancel_all_namespace_project_builds_path(@project.namespace, @project),
            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

        - unless @repository.gitlab_ci_yml
          = link_to 'Get started with Builds', help_page_path('ci/quick_start/README'), class: 'btn btn-info'

        = link_to ci_lint_path, class: 'btn btn-default' do
          %span CI Lint

  %ul.content-list.builds-content-list
    - if @builds.blank?
      %li
        .nothing-here-block No builds to show
    - else
      .table-holder
        %table.table.builds
          %thead
            %tr
              %th Status
              %th Commit
              %th Stage
              %th Name
              %th
              - if @project.build_coverage_enabled?
                %th Coverage
              %th

          = render @builds, commit_sha: true, ref: true, stage: true, allow_retry: true, coverage: @project.build_coverage_enabled?

      = paginate @builds, theme: 'gitlab'
