- @scopes.each do |scope|
  %fieldset
    = check_box_tag "#{prefix}[scopes][]", scope, token.scopes.include?(scope), id: "#{prefix}_scopes_#{scope}"
    = label_tag "#{prefix}_scopes_#{scope}", scope
    %span= "(#{t(scope, scope: [:doorkeeper, :scopes])})"
