- scopes = local_assigns.fetch(:scopes)
- prefix = local_assigns.fetch(:prefix)
- token = local_assigns.fetch(:token)

- scopes.each do |scope|
  %fieldset.form-group.form-check
    = check_box_tag "#{prefix}[scopes][]", scope, token.scopes.include?(scope), id: "#{prefix}_scopes_#{scope}", class: "form-check-input", data: { qa_selector: "#{scope}_checkbox" }
    = label_tag "#{prefix}_scopes_#{scope}", scope, class: 'label-bold form-check-label'
    .text-secondary= t scope, scope: scope_description(prefix)
