%h3.page_title= "Edit Team #{@team.name}"
%hr
.row
  .span7
    = form_for @team, url: team_path(@team) do |f|
      - if @team.errors.any?
        .alert.alert-error
          %span= @team.errors.full_messages.first
      .clearfix
        = f.label :name do
          Team name is
        .input
          = f.text_field :name, placeholder: "Ex. OpenSource", class: "xlarge left"

      .clearfix.team-description-holder
        = f.label :description, "Details"
        .input
          = f.text_area :description, maxlength: 250, class: "xxlarge js-gfm-input", rows: 4

      .clearfix
        = f.label :path do
          Team path is
        .input
          = f.text_field :path, placeholder: "opensource", class: "xlarge left"

      .form-actions
        = f.submit 'Save team changes', class: "btn btn-primary"
        = link_to 'Delete team', team_path(@team), method: :delete, confirm: "You are shure?", class: "btn btn-remove pull-right"
  .span5
    .ui-box
      %h5.title Remove team
      .padded.bgred
        %p
          Removed team can not be restored!
        = link_to 'Remove team', team_path(@team), method: :delete, confirm: "You are sure?", class: "btn btn-remove btn-small"
