%h3.page_title
  Teams
  %small
    list of all teams

  = link_to 'New Team', new_team_path, class: "btn success small right"
  %br

= form_tag search_teams_path, method: :get, class: 'form-inline' do
  = text_field_tag :name, params[:name], class: "xlarge"
  = submit_tag "Search", class: "btn submit primary"

%table.teams_list
  %thead
    %tr
      %th
        Name
        %i.icon-sort-down
      %th Path
      %th Projects
      %th Members
      %th Owner
      %th.cred Danger Zone!

  - @teams.each do |team|
    %tr
      %td
        %strong= link_to team.name, team_path(team)
      %td= team.path
      %td= link_to team.projects.count, team_projects_path(team)
      %td= link_to team.members.count, team_members_path(team)
      %td= link_to team.owner.name, team_member_path(team, team.owner)
      %td.bgred
        - if current_user.can?(:manage_user_team, team)
          = link_to "Edit", edit_team_path(team), class: "btn small"
          - if current_user.can?(:admin_user_team, team)
            = link_to "Destroy", team_path(team), method: :delete, confirm: "You are shure?", class: "danger btn small"
            &nbsp;
