= form_for @team, url: teams_path do |f|
  - if @team.errors.any?
    .alert.alert-error
      %span= @team.errors.full_messages.first
  .clearfix
    = f.label :name do
      Team name is
    .input
      = f.text_field :name, placeholder: "Ex. Ruby Developers", class: "xxlarge left"

  .clearfix.team-description-holder
    = f.label :description, "Details"
    .input
      = f.text_area :description, maxlength: 250, class: "xxlarge js-gfm-input", rows: 4


  .clearfix
    .input
      %ul
        %li All created teams are public (users can view who enter into team and which project are assigned for this team)
        %li People within a team see only projects they have access to
        %li You will be able to assign existing projects for team
  .form-actions
    = f.submit 'Create team', class: "btn btn-create"

  - if current_user.can_create_group?
    .clearfix
      .input.light
        Need a group for several dependent projects?
        = link_to new_group_path, class: "btn btn-tiny" do
          Create a group
  - if current_user.can_create_project?
    .clearfix
      .input.light
        Want to create a project?
        = link_to new_project_path, class: "btn btn-tiny" do
          Create a project
