.dashboard
  .activities.span8
    = link_to dashboard_path, class: 'btn btn-tiny' do
      &larr; To dashboard
    &nbsp;
    %span.cgray Events and projects are filtered in scope of team
    %hr
    - if @events.any?
      .content_list
    - else
      %p.nothing_here_message Projects activity will be displayed here
    .loading.hide
  .side.span4
    - if @team.description.present?
      .description-block
        = @team.description
    = render "projects", projects: @projects
    .prepend-top-20
      = link_to team_path(@team, { format: :atom, private_token: current_user.private_token }), title: "Feed" do
        %strong
          %i.icon-rss
          News Feed

    %hr
    = render 'shared/promo'
