.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = @service.title
      = boolean_to_icon @service.activated?

    %p= @service.description
  .col-lg-9
    - # This returns an array of hashes, could you make a fancy dropdown :D
    - # Also, this is mocked for now, checkout the MattermostHelper to edit the data
    = mattermost_teams_for(current_user)
    = form_for(:auto_configure, method: :post, url: configure_namespace_project_service_path(@project.namespace, @project, @service.to_param)) do |f|
      = "Team ID"
      = f.text_field(:team_id)
      = "Team ID"
      = f.submit 'Save changes', class: 'btn btn-save'

