- if lookup_context.template_exists?('top', "projects/services/#{integration.to_param}", true)
  = render "projects/services/#{integration.to_param}/top", integration: integration

%h3.page-title
  = integration.title
  - if integration.operating?
    = sprite_icon('check', css_class: 'gl-text-green-500')

= form_for(integration, as: :service, url: scoped_integration_path(integration), method: :put, html: { class: 'gl-show-field-errors integration-settings-form js-integration-settings-form', data: { 'test-url' => test_project_service_path(@project, integration) } }) do |form|
  = render 'shared/service_settings', form: form, integration: integration
  %input{ id: 'services_redirect_to', type: 'hidden', name: 'redirect_to', value: request.referer }

- if lookup_context.template_exists?('show', "projects/services/#{integration.to_param}", true)
  %hr
  = render "projects/services/#{integration.to_param}/show", integration: integration
