- if lookup_context.template_exists?('top', "projects/services/#{integration.to_param}", true)
  = render "projects/services/#{integration.to_param}/top", integration: integration

%h3.page-title
  = integration.title
  - if integration.operating?
    = sprite_icon('check', css_class: 'gl-text-green-500')

= render 'shared/integration_settings', integration: integration
- if lookup_context.template_exists?('show', "projects/services/#{integration.to_param}", true)
  %hr
  = render "projects/services/#{integration.to_param}/show", integration: integration
