- if lookup_context.template_exists?('top', "projects/services/#{@service.to_param}", true)
  = render "projects/services/#{@service.to_param}/top"

%h3.page-title
  = @service.title
  - if @service.operating?
    = sprite_icon('check', css_class: 'gl-text-green-500')

= form_for(@service, as: :service, url: scoped_integration_path(@service), method: :put, html: { class: 'gl-show-field-errors integration-settings-form js-integration-settings-form', data: { 'test-url' => test_project_service_path(@project, @service) } }) do |form|
  = render 'shared/service_settings', form: form, integration: @service
  %input{ id: 'services_redirect_to', type: 'hidden', name: 'redirect_to', value: request.referrer }

- if lookup_context.template_exists?('show', "projects/services/#{@service.to_param}", true)
  %hr
  = render "projects/services/#{@service.to_param}/show"
