%h3.page-title
  = @service.title
  = boolean_to_icon @service.activated?

%p= @service.description

.back-link
  = link_to project_services_path(@project) do
    &larr; to services

%hr

= form_for(@service, as: :service, url: project_service_path(@project, @service.to_param), method: :put, html: { class: 'form-horizontal' }) do |form|
  - if @service.errors.any?
    .alert.alert-danger
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  - if @service.help.present?
    .bs-callout
      = preserve do
        = markdown @service.help

  .form-group
    = form.label :active, "Active", class: "control-label"
    .col-sm-10
      = form.check_box :active

  - @service.fields.each do |field|
    - type = field[:type]

    - if type == 'fieldset'
      - fields = field[:fields]
      - legend = field[:legend]

      %fieldset
        %legend= legend
        - fields.each do |subfield|
          = render 'field', :form => form, :field => subfield

    - else
      = render 'field', :form => form, :field => field


  .form-actions
    = form.submit 'Save', class: 'btn btn-save'
    &nbsp;
    - if @service.valid? && @service.activated? && @service.can_test?
      = link_to 'Test settings', test_project_service_path(@project, @service.to_param), class: 'btn'
