- page_title _('New Deploy Key')
%h1.page-title.gl-font-size-h-display= _('New public deploy key')

= gitlab_ui_form_for [:admin, @deploy_key], html: { class: 'deploy-key-form' } do |f|
  = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
  .gl-display-flex.gl-mt-6.gl-gap-3
    = f.submit 'Create', pajamas_button: true
    = render Pajamas::ButtonComponent.new(href: admin_deploy_keys_path) do
      = _('Cancel')
