- page_title "New Deploy Key"
%h3.page-title New public deploy key
%hr

%div
  = bootstrap_form_for [:admin, @deploy_key], layout: :horizontal, html: { class: 'deploy-key-form' } do |f|
    = f.alert_message 'Please check your form for possible errors.'

    = f.text_field :title
    = f.text_area :key, rows: 5, help: 'Paste a machine public key here. Read more about how to generate it on ssh doc.'

    .form-actions
      = f.submit 'Create', class: 'btn-create btn'
      = link_to 'Cancel', admin_deploy_keys_path, class: 'btn btn-cancel'
