- page_title "New Deploy Key"
%h3.page-title New public deploy key
%hr

%div
  = form_for [:admin, @deploy_key], html: { class: 'deploy-key-form form-horizontal' } do |f|
    -if @deploy_key.errors.any?
      .alert.alert-danger
        %ul
          - @deploy_key.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :title, class: "control-label"
      .col-sm-10= f.text_field :title, class: 'form-control'
    .form-group
      = f.label :key, class: "control-label"
      .col-sm-10
        %p.light
          Paste a machine public key here. Read more about how to generate it
          = link_to "here", help_page_path("ssh", "README")
        = f.text_area :key, class: "form-control thin_area", rows: 5

    .form-actions
      = f.submit 'Create', class: "btn-create btn"
      = link_to "Cancel", admin_deploy_keys_path, class: "btn btn-cancel"

