- page_title _('New Deploy Key')
%h1.page-title.gl-font-size-h-display= _('New public deploy key')
%hr

%div
  = gitlab_ui_form_for [:admin, @deploy_key], html: { class: 'deploy-key-form' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit 'Create', data: { qa_selector: "add_deploy_key_button" }, pajamas_button: true
      = render Pajamas::ButtonComponent.new(href: admin_deploy_keys_path) do
        = _('Cancel')
