.container.devops-empty
  .col-sm-12.justify-content-center.text-center
    = custom_icon('dev_ops_score_no_index')
    %h4= _('Usage ping is not enabled')
    - if !current_user.admin?
      %p
        - usage_ping_path = help_page_path('user/admin_area/settings/usage_statistics', anchor: 'usage-ping')
        - usage_ping_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: usage_ping_path }
        = s_('In order to enable instance-level analytics, please ask an admin to enable %{usage_ping_link_start}usage ping%{usage_ping_link_end}.').html_safe % { usage_ping_link_start: usage_ping_link_start, usage_ping_link_end: '</a>'.html_safe }
    - if current_user.admin?
      %p
        = _('Enable usage ping to get an overview of how you are using GitLab from a feature perspective.')
    - if current_user.admin?
      = link_to _('Enable usage ping'), metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings'), class: 'btn btn-primary'
