- issuable = local_assigns.fetch(:issuable)

- if issuable.project.feature_available?(:merge_request_squash)
  .form-group.row
    .col-sm-10.offset-sm-2
      = label_tag 'merge_request[squash]' do
        = hidden_field_tag 'merge_request[squash]', '0', id: nil
        = check_box_tag 'merge_request[squash]', '1', issuable.squash
        Squash commits when merge request is accepted.
        = link_to 'About this feature', help_page_path('user/project/merge_requests/squash_and_merge')
- elsif show_promotions? && show_callout?('promote_squash_commits_dismissed')
  .form-group.row
    .col-sm-10.offset-sm-2
      = render 'shared/promotions/promote_squash_commits'
