-# .block.assignee
  -# .title.hide-collapsed
  -#   Assignee
  -#   - if can?(current_user, :admin_issue, @project)
  -#     = icon("spinner spin", class: "block-loading")
  -#     = link_to "Edit", "#", class: "edit-link pull-right"
-#   .value.hide-collapsed
-#     %span.assign-yourself.no-value{ "v-if" => "!issue.assignees" }
-#       No assignee
-#       - if can?(current_user, :admin_issue, @project)
-#         \-
-#         %a.js-assign-yourself{ href: "#" }
-#           assign yourself
-#     %a.author_link.bold{ ":href" => "'#{root_url}' + issue.assignees[0].username",
-#       "v-if" => "issue.assignees" }
-#       %img.avatar.avatar-inline.s32{ ":src" => "issue.assignees[0].avatar",
-#         width: "32", alt: "Avatar" }
-#       %span.author
-#         {{ issue.assignees[0].name }}
-#       %span.username
-#         = precede "@" do
-#           {{ issue.assignees[0].username }}
.block.assignee
  %template{ "v-if" => "issue.assignees"}
    %assignee-title{ ":number-of-assignees" => "issue.assignees.length",
      ":editable" => can?(current_user, :admin_issue, @project) }
    %assignees{ class: "value", "root-path" => "#{root_url}",
      ":users" => "issue.assignees" }

  - if can?(current_user, :admin_issue, @project)
    .selectbox.hide-collapsed
      %input{ type: "hidden",
        name: "issue[assignee_ids][]",
        ":value" => "assignee.id",
        "v-if" => "issue.assignees",
        "v-for" => "assignee in issue.assignees" }
      .dropdown
        %button.dropdown-menu-toggle.js-user-search.js-author-search.js-multiselect.js-save-user-data.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", field_name: "issue[assignee_ids][]", first_user: (current_user.username if current_user), current_user: "true", project_id: @project.id, null_user: "true", multi_select: "true", dropdown: { header: 'Assignee(s)'} },
          ":data-issuable-id" => "issue.id",
          ":data-issue-update" => "'#{namespace_project_issues_path(@project.namespace, @project)}/' + issue.id + '.json'" }
          Select assignee(s)
          = icon("chevron-down")
        .dropdown-menu.dropdown-select.dropdown-menu-user.dropdown-menu-selectable.dropdown-menu-author
          = dropdown_title("Assign to")
          = dropdown_filter("Search users")
          = dropdown_content
          = dropdown_loading
