- blob = @snippet.blob
.js-file-title.file-title-flex-parent
  .file-header-content
    = blob_icon blob.mode, blob.path

    %strong.file-title-name
      = blob.path

    = copy_file_path_button(blob.path)

    %small
      = number_to_human_size(blob.raw_size)

  .file-actions.hidden-xs
    = render 'projects/blob/viewer_switcher', blob: blob

    .btn-group{ role: "group" }<
      = copy_blob_source_button(blob)
      = open_raw_blob_button(blob)

      = link_to icon('download'), download_snippet_path(@snippet), target: '_blank', class: "btn btn-sm has-tooltip", title: 'Download', data: { container: 'body' }

= render 'projects/blob/content', blob: blob
