- link_project = local_assigns.fetch(:link_project, false)
- notes_count = @noteable_meta_data[snippet.id].user_notes_count

%li.snippet-row.py-3{ data: { qa_selector: 'snippet_link', qa_snippet_title: snippet.title } }
  = image_tag avatar_icon_for_user(snippet.author), class: "avatar s40 d-none d-sm-block", alt: ''

  .title
    = link_to gitlab_snippet_path(snippet) do
      = snippet.title

    %ul.controls{ data: { qa_selector: 'snippet_file_count_content', qa_snippet_files: snippet.statistics&.file_count } }
      %li
        = snippet_file_count(snippet)
      %li
        = link_to gitlab_snippet_path(snippet, anchor: 'notes'), class: ('no-comments' if notes_count == 0) do
          = sprite_icon('comments', css_class: 'gl-vertical-align-text-bottom')
          = notes_count
      %li
        %span.sr-only{ data: { qa_selector: 'snippet_visibility_content', qa_snippet_visibility: visibility_level_label(snippet.visibility_level) } }
          = visibility_level_label(snippet.visibility_level)
        = visibility_level_icon(snippet.visibility_level)

  .snippet-info
    #{snippet.to_reference} &middot;
    authored #{time_ago_with_tooltip(snippet.created_at, placement: 'bottom', html_class: 'snippet-created-ago')}
    by
    = link_to user_snippets_path(snippet.author), class: "js-user-link", data: { user_id: snippet.author.id } do
      = snippet.author_name
    - if link_project && snippet.project_id?
      %span.d-none.d-sm-inline-block
        in
        = link_to project_path(snippet.project) do
          = snippet.project.full_name

    .float-right.snippet-updated-at
      %span updated #{time_ago_with_tooltip(snippet.updated_at, placement: 'bottom')}
