.groups_box
  %h5
    Groups
    %small
      (#{groups.count})
    - if current_user.can_create_group?
      %span.right
        = link_to new_admin_group_path, class: "btn very_small info" do
          %i.icon-plus
          New Group
  %ul.well-list
    - groups.each do |group|
      %li
        = link_to group_path(id: group.path), class: dom_class(group) do
          %strong.well-title= truncate(group.name, length: 35)
          %span.arrow
            &rarr;
          %span.last_activity
            %strong Projects:
            %span= group.projects.authorized_for(current_user).count
