%div
  = link_to dashboard_path, :remote => true, :class => "left" do 
    .box-arrow
      &larr;
  %h2{:style => "width:86%; text-align:center"}
    Issues
  = link_to dashboard_merge_requests_path, :remote => true, :class => "right" do 
    .box-arrow 
      &rarr;


#feeds_content_holder
  .project-box.project-updates.ui-box.ui-box-small.ui-box-big
    .data
      - @issues.each do |update|
        %a.project-update{:href => dashboard_feed_path(update.project, update)}
          = image_tag gravatar_icon(update.author_email), :class => "left", :width => 40
          %span.update-title
            = truncate update.title, :length => 50
            .right= update.project.name
          %span.update-author
            %strong= update.author_name
            authored
            = time_ago_in_words(update.created_at)
            ago
          .right
            - if update.critical
              %span.tag.high critical
            - if update.today?
              %span.tag.today today

