- @issues.each do |issue|
  .wll
    = link_to [issue.project, issue] do 
      %p
        %strong
          %span.pretty_label= issue.project.name
          &ndash;
          Issue #
          = issue.id
        = truncate issue.title, :length => 50
        %span.right.cgray
          = issue.updated_at.stamp("Aug 21, 2011")
