%h4.dash-tabs
  = link_to "Activities", dashboard_path, :remote => true, :class => "dash-button #{"active" if current_page?(dashboard_path) || current_page?(root_path) }", :id => "activities_slide"
  = link_to "Issues", dashboard_issues_path, :remote => true, :class => "dash-button #{"active" if current_page?(dashboard_issues_path)}", :id => "issues_slide"
  = link_to "Merge Requests", dashboard_merge_requests_path, :remote => true, :class => "dash-button #{"active" if current_page?(dashboard_merge_requests_path)}", :id => "merge_requests_slide"
  = image_tag "ajax-loader-facebook.gif", :class => "dashboard-loader"

:javascript 
  $(function(){
    $(".dash-button").live("click", function() { 
      $(".dash-button").removeClass("active");
      $(this).addClass("active");
    });

    $(".dash-button").live("ajax:before", function() { 
      $(".dashboard-loader").show();
    });

    $(".dash-button").live("ajax:complete", function() { 
      $(".dashboard-loader").hide();
    });
  });
