- @merge_requests.each do |merge_request|
  .wll
    = link_to [merge_request.project, merge_request] do 
      %p
        %strong
          %strong= merge_request.project.name
          &ndash;
          = t('dashboard.merge_requests.merge_request_no')
          #{merge_request.id}
        = truncate merge_request.title, :length => 50
        %span.right.cgray
          = merge_request.updated_at.stamp(t('global.timestamp'))
