- @merge_requests.each do |merge_request|
  .wll
    = link_to [merge_request.project, merge_request] do 
      %p
        %strong
          %span.pretty_label= merge_request.project.name
          &ndash;
          Merge Request ##{merge_request.id}
        = truncate merge_request.title, :length => 50
        %span.right.cgray
          = merge_request.updated_at.stamp("Aug 21, 2011")
