= content_for :flash_message do
  = render 'shared/project_limit'
#user-callout
  .bordered-box.landing.content-block
    = icon("times", class: "dismiss-icon")
    .row
      .col-sm-3.col-xs-12.svg-container
        = custom_icon('icon_cycle_analytics_splash')
      .col-sm-8.col-xs-12.inner-content
        %h4
          Customize your experience
        %p
          Change syntax themes, default project pages, and more in preferences.

        = link_to "Check it out",  profile_preferences_path, class: 'btn'
.top-area
  %ul.nav-links
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, title: 'Home', class: 'shortcuts-activity', data: {placement: 'right'} do
        Your projects
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, title: 'Starred Projects', data: {placement: 'right'} do
        Starred projects
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, title: 'Explore', data: {placement: 'right'} do
        Explore projects

  .nav-controls
    = form_tag request.path, method: :get, class: 'project-filter-form', id: 'project-filter-form' do |f|
      = search_field_tag :filter_projects, params[:filter_projects], placeholder: 'Filter by name...', class: 'project-filter-form-field form-control input-short projects-list-filter', spellcheck: false, id: 'project-filter-form-field', tabindex: "2"
    = render 'shared/projects/dropdown'
    - if current_user.can_create_project?
      = link_to new_project_path, class: 'btn btn-new' do
        New Project
