.projects_box
  %h5
    Projects
    %small
      (#{projects.total_count})
    - if current_user.can_create_project?
      %span.right
        = link_to new_project_path, class: "btn very_small info" do
          %i.icon-plus
          New Project
  %ul.nav.nav-projects-tabs
    = nav_tab :scope, nil do
      = link_to "All", dashboard_path
    = nav_tab :scope, 'personal' do
      = link_to "Personal", dashboard_path(scope: 'personal')
    = nav_tab :scope, 'joined' do
      = link_to "Joined", dashboard_path(scope: 'joined')

  %ul.well-list
    - projects.each do |project|
      %li
        = link_to project_path(project), class: dom_class(project) do
          - if project.namespace
            = project.namespace.human_name
            \/
          %strong.well-title
            = truncate(project.name, length: 25)
          %span.arrow
            &rarr;
          %span.last_activity
            %strong Last activity:
            %span= project_last_activity(project)
    - if projects.blank?
      %li
        %h3.nothing_here_message There are no projects here.
  .bottom= paginate projects, theme: "gitlab"
