- is_your_projects_path = current_page?(dashboard_projects_path) || current_page?(root_path)

%div
  = gl_tabs_nav({ class: 'gl-flex gl-grow gl-border-none'}) do
    = gl_tab_link_to dashboard_projects_path, { item_active: is_your_projects_path && !params['archived'] && !params['personal'], class: 'shortcuts-activity', data: { placement: 'right' } } do
      = s_("ProjectList|Yours")
      = gl_tab_counter_badge(limited_counter_with_delimiter(@all_user_projects))
    = gl_tab_link_to starred_dashboard_projects_path, { data: { placement: 'right' } } do
      = s_("ProjectList|Starred")
      = gl_tab_counter_badge(limited_counter_with_delimiter(@all_starred_projects))
    = gl_tab_link_to _('Personal'), dashboard_projects_path({ personal: true }), { item_active: params['personal'] == 'true' }
    = gl_tab_link_to _('Inactive'), dashboard_projects_path({ archived: 'only' }), { item_active: params['archived'] == 'only' }
    = render_if_exists "dashboard/removed_projects_tab"
  #js-projects-filtered-search-and-sort.gl-py-5.gl-border-t.gl-border-b.gl-w-full{ data: { app_data: projects_filtered_search_and_sort_app_data } }
    -# This element takes up space while Vue is rendering to avoid page jump
    .gl-h-7
