= content_for :flash_message do
  = render 'shared/project_limit'
.top-area
  %ul.nav-links
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, title: 'Home', class: 'shortcuts-activity', data: {placement: 'right'} do
        Your Projects
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, title: 'Starred Projects', data: {placement: 'right'} do
        Starred Projects
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, title: 'Explore', data: {placement: 'right'} do
        Explore Projects

  .nav-controls
    = form_tag '', method: :get, class: 'project-list-form', id: 'project-list-form' do |f|
      .append-right-10.hidden-xs.hidden-sm
        = search_field_tag :filter_projects, params[:filter_projects], placeholder: 'Filter by name...', class: 'projects-list-filter form-control issue_search search-text-input', spellcheck: false, id: 'projects-list-filter'
        - if current_user.can_create_project?
          = link_to new_project_path, class: 'btn btn-new' do
            = icon('plus')
            New Project
