- feature_project_list_filter_bar = Feature.enabled?(:project_list_filter_bar)

%ul.nav-links.scrolling-tabs.mobile-separator.nav.nav-tabs{ class: ('gl-border-0!' if feature_project_list_filter_bar) }
  = nav_link(page: [dashboard_projects_path, root_path]) do
    = link_to dashboard_projects_path, class: 'shortcuts-activity', data: {placement: 'right'} do
      = _("Your projects")
      %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm= limited_counter_with_delimiter(@total_user_projects_count)
  = nav_link(page: starred_dashboard_projects_path) do
    = link_to starred_dashboard_projects_path, data: {placement: 'right'} do
      = _("Starred projects")
      %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm= limited_counter_with_delimiter(@total_starred_projects_count)
  = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
    = link_to explore_root_path, data: {placement: 'right'} do
      = _("Explore projects")
  = nav_link(page: topics_explore_projects_path) do
    = link_to topics_explore_projects_path, data: {placement: 'right'} do
      = _("Explore topics")
  = render_if_exists "dashboard/removed_projects_tab", removed_projects_count: @removed_projects_count
