.ui-box
  .title.clearfix
    = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'dash-filter form-control'
    - if current_user.can_create_project?
      %span.pull-right
        = link_to new_project_path, class: "btn btn-new" do
          %i.icon-plus
          New project

  %ul.well-list.dash-list
    - projects.each do |project|
      %li.project-row
        = render "project", project: project

    - if projects.blank?
      %li
        %h3.nothing_here_message There are no projects here.
    - if @projects_count > @projects_limit
      %li.bottom
        %span.light
          #{@projects_limit} of #{pluralize(@projects_count, 'project')} displayed.
        .pull-right.append-right-10
          = link_to projects_dashboard_path do
            Show all
            %i.icon-angle-right
