- if params[:personal]
  = content_for :flash_message do
    = render 'shared/project_limit'

= render ::Layouts::PageHeadingComponent.new(_('Projects')) do |c|
  - c.with_actions do
    = render Pajamas::ButtonComponent.new(href: starred_explore_projects_path, variant: :link, button_options: { class: 'gl-m-2' }) do
      = _("Explore projects")

    - if current_user.can_create_project?
      = render Pajamas::ButtonComponent.new(href: new_project_path, variant: :confirm, button_options: { data: { testid: 'new-project-button' } }) do
        = _("New project")
