= content_for :flash_message do
  = render 'shared/project_limit'

.nav-block
  %ul.nav-links
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path(filter: @filter, sort: @sort), title: 'Your Projects', data: {placement: 'right'} do
        Your Projects
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path(filter: @filter, sort: @sort), title: 'Starred Projects', data: {placement: 'right'} do
        Starred Projects
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path], html_options: { class: 'hidden-xs' }) do
      = link_to explore_root_path, title: 'Explore Projects', data: {placement: 'right'} do
        Explore Projects

  = render 'shared/projects/controls', disable_projects: defined?(disable_projects_dropdown) && disable_projects_dropdown
