- if @teams.present?
  = render "teams", teams: @teams
- if @groups.present?
  = render "groups", groups: @groups
= render "projects", projects: @projects
%div
  %span.rss-icon
    = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
      = image_tag "rss_ui.png", title: "feed"
      %strong News Feed

%hr
.gitlab-promo
  = link_to "Homepage", "http://gitlab.org"
  = link_to "Blog", "http://blog.gitlab.org"
  = link_to "@gitlabhq", "https://twitter.com/gitlabhq"
