%ul.nav.nav-tabs.dash-sidebar-tabs
  %li.active
    = link_to 'Projects', '#projects', 'data-toggle' => 'tab', id: 'sidebar-projects-tab'
  %li
    = link_to 'Groups', '#groups', 'data-toggle' => 'tab', id: 'sidebar-groups-tab'
  %li
    = link_to 'Teams', '#teams', 'data-toggle' => 'tab', id: 'sidebar-teams-tab'

.tab-content
  .tab-pane.active#projects
    = render "projects", projects: @projects
  .tab-pane#groups
    = render "groups", groups: @groups
  .tab-pane#teams
    = render "teams", teams: @teams

.prepend-top-20
  %span.rss-icon
    = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
      %strong
        %i.icon-rss
        News Feed

%hr
.gitlab-promo
  = link_to "Homepage", "http://gitlab.org"
  = link_to "Blog", "http://blog.gitlab.org"
  = link_to "@gitlabhq", "https://twitter.com/gitlabhq"
