.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('Snippets')

  - if current_user && current_user.snippets.any? || @snippets.any?
    .page-title-controls
      - if can?(current_user, :create_snippet)
        = link_to _("New snippet"), new_snippet_path, class: "gl-button btn btn-confirm", title: _("New snippet")

.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: 'Your snippets', data: {placement: 'right'} do
        Your snippets
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: 'Explore snippets', data: {placement: 'right'} do
        Explore snippets
