.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: 'Your snippets', data: {placement: 'right'} do
        Your snippets
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: 'Explore snippets', data: {placement: 'right'} do
        Explore snippets

  - if current_user
    .nav-controls.d-none.d-sm-block
      = link_to "New snippet", new_snippet_path, class: "btn btn-new", title: "New snippet"
