.teams_box
  %h5.title
    Teams
    %small
      (#{@teams.count})
    %span.right
      = link_to new_team_path, class: "btn very_small info" do
        %i.icon-plus
        New Team
  %ul.well-list
    - @teams.each do |team|
      %li
        = link_to team_path(id: team.path), class: dom_class(team) do
          %strong.well-title= truncate(team.name, length: 35)
          %span.arrow
            &rarr;
          %span.last_activity
            %strong Projects:
            %span= "#{team.projects.count}, "
            %strong Members:
            %span= team.members.count
