- content_for(:body_class, "dashboard-page")

#dashboard-content.dashboard-content.content
  %aside
    %h4
      - if current_user.can_create_project?
        %a.button-small.button-green{:href => new_project_path} New Repository
      Your Repositories
    %ol.project-list
      - @projects.each do |project|
        %li
          %a{:href => project_path(project)}
            %span.arrow →
            %span.project-name= project.name
            %span.time
              %strong Last activity:
              = project.last_activity_date ? time_ago_in_words(project.last_activity_date) + " ago" : "Never"
  #news-feed.news-feed
    %h2.icon
      %span>
      Dashboard
    - @active_projects.first(3).each do |project|
      .project-box.project-updates.ui-box.ui-box-small.ui-box-big
        %h3= project.name
        .data
          - project.updates(4).each do |update|
            %a.project-update{:href => dashboard_feed_path(project, update)}
              = image_tag gravatar_icon(update.author_email), :class => "left", :width => 40
              %span.update-title
                - if update.kind_of?(Grit::Commit)
                  %span.right.tag.commit= update.head.name
                = dashboard_feed_title(update)
              %span.update-author
                %strong= update.author_name
                authored
                = time_ago_in_words(update.created_at)
                ago
  / #news-feed
/ #dashboard-content
