- content_for(:body_class, "dashboard-page")

#dashboard-content.dashboard-content.content
  %aside
    %h4
      %a.button-small.button-green{:href => ""} New Repository
      Your Repositories
    %ol.project-list
      - @projects.each do |project|
        %li
          %a{:href => "#"}
            %span.arrow →
            %span.project-name= project.name
            %span.time
              %strong Last activity:
              = project.last_activity_date ? time_ago_in_words(project.last_activity_date) + " ago" : "Never"
  #news-feed.news-feed
    %h2.icon
      %span>
      Dashboard
    - @active_projects.each do |project|
      .project-box.project-updates.ui-box.ui-box-small.ui-box-big
        %h3= project.name
        .data
          - project.updates.each do |update|
            %a.project-update{:href => path_to_object(project, update)}
              %img{:src => "http://placehold.it/40x40"}
                %span.update-title [#{update.class.name}] added a matcher that helps debugging matching problems
                %span.update-author
                  %strong= update.author.name
                  authored
                  = time_ago_in_words(update.created_at) 
                  ago
            %br
            / .project-update
      / .project-updates
  / #news-feed
/ #dashboard-content
