- if current_user.require_ssh_key?
  .alert-message.block-message.error
    %p  
      = t('.require_key.before')  
      = link_to new_key_path, :class => "vlink" do 
        = t('.require_key.href')
      = t('.require_key.after')

%div.dashboard_category
  %h3
    %span.ico.projects
    = link_to t('.projects.title'), "#projects", :id => "projects"
    %small
      = t('.projects.recent')

  %strong.right
    = link_to projects_path do 
      = t('.projects.list') 
      &rarr;
  %hr
  .dashboard_block
    .row
      .span3.right
        %div.lborder.ipadded
          %h3
            = pluralize current_user.projects.count, t('.projects.singular'), t('.projects.plural')
          - if current_user.can_create_project?
            %hr
            %div
              = t '.projects.maximum', :limit => current_user.projects_limit
              .link_holder
                %br
                = link_to new_project_path, :class => "btn" do 
                  = t '.projects.new'
          - else 
            %hr
            %div
              = t '.projects.limit_reached'
              .link_holder
                %br
                = link_to profile_path, :class => "btn" do 
                  = t '.projects.my_profile'
      .span9.left= render "dashboard/projects_feed", :projects => @active_projects
    - if @last_push && @last_push.valid_push?
      .padded.prepend-top-20
        %h5
          %small
            = t '.latest_push', :ref_name => @last_push.ref_name, :ref_type => @last_push.ref_type, :project => @last_push.project.name
        %ul.unstyled= render @last_push

- if @merge_requests.any?
  %div.dashboard_category
    %h3
      = link_to t('dashboard.merge_requests.title') , "#merge_requests", :id => "merge_requests"
      
      %small
        = t 'dashboard.merge_requests.authored_assigned_to_you'
    %strong.right
      = link_to dashboard_merge_requests_path do 
        = t 'dashboard.merge_requests.list'
        &rarr; 
    %hr
    .dashboard_block= render "dashboard/merge_requests_feed"

- if @issues.any?
  %div.dashboard_category
    %h3
      = link_to t('dashboard.issues.title') , "#issues", :id => "issues"
      %small 
        = t 'dashboard.issues.assigned_to_you'
    %strong.right
      = link_to dashboard_issues_path do 
        = t 'dashboard.issues.list'
        &rarr; 
    %hr
    .dashboard_block= render "dashboard/issues_feed"

- if @events.any?
  %div.dashboard_category
    %h3
      %span.ico.activities
      = link_to t('.activities') , "#activities", :id => "activities"

    %hr
    .dashboard_block= render @events
