- if @projects.any?
  .projects
    .activities.span8
      = render 'shared/no_ssh'
      - if @events.any?
        .content_list= render @events
      - else
        %h4.nothing_here_message Projects activity will be displayed here
      .loading.hide
    .side
      = render "events/event_last_push", event: @last_push
      .projects_box
        %h5
          Projects
          %small
            (#{@projects.total_count})
          - if current_user.can_create_project?
            %span.right
              = link_to new_project_path, class: "btn very_small info" do
                %i.icon-plus
                New Project
        %ul.unstyled
          - @projects.each do |project|
            %li.wll
              = link_to project_path(project), class: dom_class(project) do
                %strong.project_name= truncate(project.name, length: 25)
                %strong.language_name= project.language || "Plain Text"
                %span.arrow
                  &rarr;
                %span.last_activity
                  %strong Last activity:
                  %span= project_last_activity(project)
        .bottom= paginate @projects, theme: "gitlab"

      %hr
      %div
        %span.rss-icon
          = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
            = image_tag "rss_ui.png", title: "feed"
            %strong News Feed

- else
  %h3.nothing_here_message There are no projects you have access to.
  %br
  %h4.nothing_here_message
    - if current_user.can_create_project?
      You can create up to
      = current_user.projects_limit
      projects. Click on button below to add a new one
      .link_holder
        = link_to new_project_path, class: "btn primary" do
          New Project »
    - else
      If you will be added to project - it will be displayed here


:javascript
  $(function(){ Pager.init(20); });
