%h3.page-title
  = t("gitlab.issues.issues")
  %span.pull-right
    = t("gitlab.issues.issues_no", :count => @issues.total_count)
%p.light
  = t("gitlab.issues.list_of_all_issues")
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
