%h3.page-title
  Issues
  %span.light
    &ndash;
    Assigned to you
  %span.pull-right #{@issues.total_count} issues

.row
  .span3
    = render 'filter', entity: 'issue'
  .span9
    - if @issues.any?
      - @issues.group_by(&:project).each do |group|
        %div.ui-box
          - project = group[0]
          .title
            = link_to_project project
            &nbsp;
            %i.icon-angle-right
            &nbsp;
            = link_to 'issues', project_issues_path(project)

          %ul.well-list.issues-list
            - group[1].each do |issue|
              = render 'projects/issues/issue', issue: issue
      %hr
      = paginate @issues, theme: "gitlab"
    - else
      %p.nothing_here_message Nothing to show here
