%h3.page-title
  = t("gitlab.merge_requests.merge_requests")
  %span.pull-right #{@merge_requests.total_count} #{t("gitlab.merge_requests.total_count__merge_requests")}


%p.light
  = t("gitlab.merge_requests.list_of_all_merge_requests")
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
