:ruby
  title = _("Merge requests")
  page_title title
  @breadcrumb_link = merge_requests_dashboard_path(assignee_username: current_user.username)
  add_page_specific_style 'page_bundles/issuable_list'

= render_dashboard_ultimate_trial(current_user)
= render_if_exists 'shared/dashboard/saml_reauth_notice',
  groups_requiring_saml_reauth: user_groups_requiring_reauth

- if show_mr_dashboard_banner?
  = render Pajamas::AlertComponent.new(title: _('Your merge requests have a new homepage!'),
    variant: :info,
    alert_options: { class: 'gl-mt-5 js-new-mr-dashboard-banner', data: { dismiss_endpoint: callouts_path, defer_links: 'true', feature_id: Users::CalloutsHelper::NEW_MR_DASHBOARD_BANNER } },
    close_button_options: { data: { href: merge_requests_dashboard_path } }) do |c|
    = c.with_body do
      = _("View merge requests you're involved with from start to finish by highlighting those that Needs Attention and those you are Following.")

    = c.with_actions do
      = render Pajamas::ButtonComponent.new(href: merge_requests_dashboard_path, button_options: { class: 'deferred-link' }) do
        = _('Visit new homepage')

= render ::Layouts::PageHeadingComponent.new(title) do |c|
  - c.with_actions do
    - if current_user
      = render 'shared/new_project_item_vue_select'

- if merge_request_dashboard_enabled?(current_user) && !current_page?(merge_requests_search_dashboard_path)
  #js-merge-request-dashboard{ data: { base_path: merge_requests_dashboard_path, merge_requests_search_dashboard_path: merge_requests_search_dashboard_path(assignee_username: current_user.username), initial_data: merge_request_dashboard_data.to_json } }
    = gl_loading_icon(size: 'lg')

- if !merge_request_dashboard_enabled?(current_user) || current_page?(merge_requests_search_dashboard_path)
  - if merge_request_dashboard_enabled?(current_user)
    = gl_tabs_nav do
      = gl_tab_link_to _('Active'), merge_requests_dashboard_path
      = gl_tab_link_to _('Merged'), merge_requests_merged_dashboard_path
      = gl_tab_link_to _('Search'), merge_requests_search_dashboard_path, item_active: true

  %div{ class: "#{'gl-bg-subtle' if merge_request_dashboard_enabled?(current_user)}" }
    - unless merge_request_dashboard_enabled?(current_user)
      .top-area
        = render 'shared/issuable/nav', type: :merge_requests, display_count: !(@no_filters_set || @search_timeout_occurred)

    = render 'shared/issuable/search_bar',
      type: :merge_requests,
      disable_target_branch: true,
      disable_releases: true,
      disable_environments: true,
      filtered_search_class: merge_request_dashboard_enabled?(current_user) ? '!gl-border-b-0' : ''

    - if merge_request_dashboard_enabled?(current_user)
      .top-area
        = render 'shared/issuable/nav', type: :merge_requests, display_count: !(@no_filters_set || @search_timeout_occurred)

  - if current_user && @no_filters_set
    = render 'no_filter_selected'
  - elsif @search_timeout_occurred
    = render 'shared/dashboard/search_timeout_occurred'
  - else
    = render 'shared/merge_requests'
