- @hide_top_links = true
- page_title _("Merge requests")
- @breadcrumb_link = merge_requests_dashboard_path(assignee_username: current_user.username)

= render_dashboard_ultimate_trial(current_user)

.page-title-holder.d-flex.align-items-start.flex-column.flex-sm-row.align-items-sm-center
  %h1.page-title= _('Merge requests')

  - if current_user
    .page-title-controls.ml-0.mb-3.ml-sm-auto.mb-sm-0
      = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New merge request", with_feature_enabled: 'merge_requests', type: :merge_requests

.top-area
  = render 'shared/issuable/nav', type: :merge_requests, display_count: !@no_filters_set

= render 'shared/issuable/search_bar', type: :merge_requests, disable_target_branch: true

- if current_user && @no_filters_set
  = render 'shared/dashboard/no_filter_selected'
- else
  = render 'shared/merge_requests'
