.row
  .span3
    %ul.nav.nav-pills.nav-stacked
      = nav_tab :scope, nil do
        = link_to "All", projects_dashboard_path
      = nav_tab :scope, 'personal' do
        = link_to "Personal", projects_dashboard_path(scope: 'personal')
      = nav_tab :scope, 'joined' do
        = link_to "Joined", projects_dashboard_path(scope: 'joined')
      = nav_tab :scope, 'owned' do
        = link_to "Owned", projects_dashboard_path(scope: 'owned')

    - if @labels.present?
      %p.light Filter by label:
      %ul.bordered-list
        - @labels.each do |label|
          %li{ class: (label.name == params[:label]) ? 'active' : 'light' }
            = link_to projects_dashboard_path(scope: params[:scope], label: label.name) do
              %i.icon-tag
              = label.name


  .span9
    .ui-box
      %h5.title
        Projects (#{@projects.total_count})
        .pull-right.light
          %small Last activity
      %ul.well-list
        - @projects.each do |project|
          %li
            - if project.public
              = public_icon
            - else
              = private_icon
            = link_to project_path(project), class: dom_class(project) do
              %strong
                = project.name_with_namespace
            - if project.description.present?
              %span.light
                = truncate project.description, length: 80

            .pull-right.light
              %small #{project_last_activity(project)}

        - if @projects.blank?
          %li
            %h3.nothing_here_message There are no projects here.
    .bottom
      = paginate @projects, theme: "gitlab"

