= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, dashboard_url(format: :atom, private_token: current_user.private_token), title: "All activity")

= render 'dashboard/projects_head'

- if @projects.any?
  = render 'shared/show_aside'

  .dashboard.row
    %section.activities.col-md-8
      = render 'activities'
    %aside.col-md-4
      = render 'sidebar'

- else
  = render "zero_authorized_projects"
