- breadcrumb_title _("Groups")
- page_title    _("Explore groups")
- header_title  _("Groups"), dashboard_groups_path

= render_dashboard_ultimate_trial(current_user)

.page-title-holder.gl-display-flex.gl-align-items-center
  %h1.page-title.gl-font-size-h-display= page_title
  .page-title-controls
    - if current_user&.can_create_group?
      = render Pajamas::ButtonComponent.new(href: new_group_path, variant: :confirm) do
        = _("New group")

%p= _("Below you will find all the groups that are public. You can easily contribute to them by requesting to join these groups.")

= render 'nav'
= render 'groups'
