.clearfix
  .pull-left
    = form_tag explore_groups_path, method: :get, class: 'form-inline form-tiny' do |f|
      .form-group
        = search_field_tag :search, params[:search], placeholder: "Filter by name", class: "form-control search-text-input input-mn-300", id: "groups_search"
      .form-group
        = submit_tag 'Search', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light sort:
        - if @sort.present?
          = @sort.humanize
        - else
          Name
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_groups_path(sort: nil) do
            Name
          = link_to explore_groups_path(sort: 'newest') do
            Newest
          = link_to explore_groups_path(sort: 'oldest') do
            Oldest
          = link_to explore_groups_path(sort: 'recently_updated') do
            Recently updated
          = link_to explore_groups_path(sort: 'last_updated') do
            Last updated

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        %h4
          = link_to group_path(id: group.path) do
            %i.icon-group
            = group.name
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, 'member')}, #{pluralize(group.projects.count, 'project')}
  - unless @groups.present?
    .nothing-here-block No public groups


= paginate @groups, theme: "gitlab"
