- breadcrumb_title _("Groups")
- page_title    _("Explore groups")
- header_title  _("Groups"), dashboard_groups_path

= render_dashboard_ultimate_trial(current_user)

.page-title-holder.gl-flex.gl-align-items
  %div
    %h1.page-title.gl-text-size-h-display= page_title
    %p
      = _("Below you will find all the groups that are public or internal. Contribute by requesting to join a group.")
      #{link_to _('Learn more'), help_page_path('user/group/_index.md', { anchor: 'view-groups' })}.
  .page-title-controls.gl-mt-4
    - if current_user&.can_create_group?
      = render Pajamas::ButtonComponent.new(href: new_group_path, variant: :confirm) do
        = _("New group")

= render 'groups'
