- page_title "Groups"
- if current_user
  = render 'dashboard/groups_head'
.clearfix.append-bottom-10
  .pull-left
    = form_tag explore_groups_path, method: :get, class: 'form-inline form-tiny' do |f|
      = hidden_field_tag :sort, @sort
      .form-group
        = search_field_tag :search, params[:search], placeholder: "Filter by name", class: "form-control search-text-input", id: "groups_search"
      .form-group
        = button_tag 'Search', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
        %span.light sort:
        - if @sort.present?
          = sort_options_hash[@sort]
        - else
          = sort_title_recently_created
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_groups_path(sort: sort_value_recently_created) do
            = sort_title_recently_created
          = link_to explore_groups_path(sort: sort_value_oldest_created) do
            = sort_title_oldest_created
          = link_to explore_groups_path(sort: sort_value_recently_updated) do
            = sort_title_recently_updated
          = link_to explore_groups_path(sort: sort_value_oldest_updated) do
            = sort_title_oldest_updated

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        %h4
          = link_to group_path(id: group.path) do
            = group.name
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, 'member')}, #{pluralize(group.projects.count, 'project')}
  - unless @groups.present?
    .nothing-here-block No public groups


= paginate @groups, theme: "gitlab"
