= gitlab_ui_form_for group, url: update_auto_devops_group_settings_ci_cd_path(group), method: :patch do |f|
  = form_errors(group)
  %fieldset
    .form-group
      = render Pajamas::CardComponent.new(card_options: { class: 'gl-mb-3' }) do |c|
        - c.with_body do
          - learn_more_link = link_to _('Learn more.'), help_page_path('topics/autodevops/_index.md'), target: '_blank', rel: 'noopener noreferrer'
          - help_text = s_('GroupSettings|The Auto DevOps pipeline runs if no alternative CI configuration file is found.')
          - badge = gl_badge_tag badge_for_auto_devops_scope(group), variant: :info
          - label = s_('GroupSettings|Default to Auto DevOps pipeline for all projects within this group')
          = f.gitlab_ui_checkbox_component :auto_devops_enabled,
            '%{label} %{badge}'.html_safe % { label: label, badge: badge.html_safe },
            help_text: '%{help_text} %{learn_more_link}'.html_safe % { help_text: help_text, learn_more_link: learn_more_link },
            checkbox_options: { checked: group.auto_devops_enabled? }

      = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, button_options: { class: 'gl-mt-5' }) do
        = _('Save changes')
