.row.gl-mt-3
  .col-lg-12
    = gitlab_ui_form_for group, url: group_settings_ci_cd_path(group, anchor: 'js-general-pipeline-settings') do |f|
      %fieldset.builds-feature
        .form-group
          = f.label :max_artifacts_size, _('Maximum artifacts size'), class: 'label-bold'
          = f.number_field :max_artifacts_size, class: 'form-control'
          %p.form-text.gl-text-subtle
            = _("The maximum file size in megabytes for individual job artifacts.")
            = link_to _('Learn more.'), help_page_path('administration/settings/continuous_integration.md', anchor: 'maximum-artifacts-size'), target: '_blank', rel: 'noopener noreferrer'
        = f.submit _('Save changes'), pajamas_button: true
