.row.gl-mt-3
  .col-lg-12
    - if can?(current_user, :update_max_artifacts_size, group)
      = gitlab_ui_form_for group, url: group_settings_ci_cd_path(group, anchor: 'js-general-pipeline-settings') do |f|
        %fieldset.builds-feature
          .form-group
            = f.label :max_artifacts_size, _('Maximum artifacts size'), class: 'label-bold'
            = f.number_field :max_artifacts_size, class: 'form-control'
            %p.form-text.gl-text-subtle
              = _("The maximum file size in megabytes for individual job artifacts.")
              = link_to _('Learn more.'), help_page_path('administration/settings/continuous_integration.md', anchor: 'maximum-artifacts-size'), target: '_blank', rel: 'noopener noreferrer'
          = f.submit _('Save changes'), pajamas_button: true
    - if group.root?
      .gl-mb-5
      = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false) do |c|
        - c.with_body do
          = s_('GroupSettings|Unless manually disabled, this setting will be automatically enabled in GitLab 18.0. This setting is scheduled to be removed in GitLab 18.3, and the JWT format will be used by all job tokens.')
          = link_to _('Learn more.'), help_page_path('ci/jobs/ci_job_token.md', anchor: 'use-legacy-format-for-cicd-tokens'), target: '_blank', rel: 'noopener noreferrer'
      .gl-mb-5
      = gitlab_ui_form_for group, url: group_settings_ci_cd_path(group, anchor: 'js-general-pipeline-settings') do |f|
        = f.hidden_field :jwt_ci_cd_job_token_enabled, class: 'js-setting-input', value: group.jwt_ci_cd_job_token_enabled?
        = render Pajamas::ToggleComponent.new(classes: 'js-setting-toggle',
          label: s_('GroupSettings|Enable JWT format for CI/CD job tokens'),
          is_checked: group.jwt_ci_cd_job_token_enabled?) do
          = s_('GroupSettings|Enable JWT format for the CI_JOB_TOKEN variable. When disabled, it uses the legacy database format.')
      .gl-mb-5
      = gitlab_ui_form_for group, url: group_settings_ci_cd_path(group, anchor: 'js-general-pipeline-settings') do |f|
        %span.gl-toggle-label.gl-shrink-0= s_('GroupSettings|Enable fine-grained permissions for CI/CD job tokens')
        %span= render_if_exists 'shared/experimental_badge_tag'
        = f.hidden_field :job_token_policies_enabled, class: 'js-setting-input', value: group.job_token_policies_enabled?
        = render Pajamas::ToggleComponent.new(classes: 'js-setting-toggle gl-mt-3',
          label: s_('GroupSettings|Enable fine-grained permissions for CI/CD job tokens'),
          label_position: :hidden,
          is_checked: group.job_token_policies_enabled?) do
          = s_('GroupSettings|Enable fine-grained permissions for CI/CD job tokens.')
          = link_to _('Learn more.'), help_page_path('ci/jobs/fine_grained_permissions.md'), target: '_blank', rel: 'noopener noreferrer'
