- breadcrumb_title "CI / CD Settings"
- page_title "CI / CD"

- expanded = Rails.env.test?

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Secret variables')
      = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank', rel: 'noopener noreferrer'
    %button.btn.js-settings-toggle
      = expanded ? 'Collapse' : 'Expand'
    %p.append-bottom-0
      = render "ci/variables/content"
  .settings-content
    = render 'ci/variables/index', save_endpoint: group_variables_path
