- expanded = expanded_by_default?

= render ::Layouts::SettingsBlockComponent.new(_('Branch defaults'),
  id: 'branch-defaults-settings',
  expanded: expanded) do |c|
  - c.with_description do
    = s_('ProjectSettings|Select the default branch for this project, and configure the template for branch names.')
  - c.with_body do
    - url = namespace_project_settings_repository_path(@project.namespace, @project)
    = gitlab_ui_form_for @project, url: url, method: :put, html: { multipart: true, class: "issue-settings-form js-issue-settings-form" }, authenticity_token: true do |f|
      %input{ name: 'update_section', type: 'hidden', value: 'js-issue-settings' }
        = render 'projects/branch_defaults/default_branch_fields', f: f
        = render 'projects/branch_defaults/branch_names_fields', f: f
      = f.submit _('Save changes'), pajamas_button: true
