= render "service_templates_deprecated_alert"

%h3.page-title
  = @service.title

%p= @service.description

= form_for :service, url: admin_application_settings_service_path, method: :put, html: { class: 'fieldset-form js-integration-settings-form' } do |form|
  = render 'shared/service_settings', form: form, integration: @service
