- page_title "Service Templates"
%h3.page-title Service templates
%p.light Service template allows you to set default values for project services

.table-holder
  %table.table
    %thead
      %tr
        %th
        %th Service
        %th Description
        %th Last edit
    - @services.sort_by(&:title).each do |service|
      %tr
        %td
          = boolean_to_icon service.activated?
        %td
          = link_to edit_admin_application_settings_service_path(service.id) do
            %strong= service.title
        %td
          = service.description
        %td.light
          = time_ago_with_tooltip service.updated_at
