- page_title _("Service Templates")
- @content_class = 'limit-container-width' unless fluid_layout

= render "service_templates_deprecated_alert"

- if @activated_services.any?
  %h3.page-title Service templates
  %p= s_('AdminSettings|Service template allows you to set default values for integrations')

  %table.table.b-table.gl-table
    %colgroup
      %col
      %col
      %col
      %col{ width: 135 }
    %thead
      %tr
        %th
        %th= _('Service')
        %th= _('Description')
        %th= _('Last edit')
    - @activated_services.each do |service|
      - if service.type.in?(@existing_instance_types)
        %tr
          %td
          %td
            = link_to edit_admin_application_settings_integration_path(service.to_param), class: 'gl-text-blue-300!' do
              %strong.has-tooltip{ title: s_('AdminSettings|Moved to integrations'), data: { container: 'body' } }
                = service.title
          %td.gl-cursor-default.gl-text-gray-400
            = service.description
          %td
      - else
        %tr
          %td
            = boolean_to_icon service.activated?
          %td
            = link_to edit_admin_application_settings_service_path(service.id) do
              %strong= service.title
          %td
            = service.description
          %td.light
            = time_ago_with_tooltip service.updated_at
