%h5.gl-mt-0
  = _('History of authentications')

%ul.content-list
  - events.each do |event|
    %li
      %span.description
        = audit_icon(event.details[:with], class: "append-right-5")
        = _('Signed in with %{authentication} authentication') % { authentication: event.details[:with]}
      %span.float-right= time_ago_with_tooltip(event.created_at)

= paginate events, theme: "gitlab"
