- if Gitlab.config.omniauth.enabled
  %fieldset
    %legend Social Accounts
    .oauth_select_holder
      %p.hint Tip: Click on icon to activate sigin with one of the following services
      - User.omniauth_providers.each do |provider|
        %span{class: oauth_active_class(provider) }
          = link_to authbutton(provider, 32), omniauth_authorize_path(User, provider)



%fieldset
  %legend
    Private token
    %span.cred.pull-right
      keep it secret!
  .padded
    = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
      .data
        %p.slead
          Private token used to access application resources without authentication.
          %br
          It can be used for atom feed or API
        %p.cgray
          - if current_user.private_token
            = text_field_tag "token", current_user.private_token, class: "xxlarge large_text"
            = f.submit 'Reset', confirm: "Are you sure?", class: "btn btn-primary btn-build-token"
          - else
            %span You don`t have one yet. Click generate to fix it.
            = f.submit 'Generate', class: "btn success btn-build-token"

%fieldset
  %legend Password
  = form_for @user, url: update_password_profile_path, method: :put do |f|
    .padded
      %p.slead After successful password update you will be redirected to login page where you should login with new password
      -if @user.errors.any?
        .alert.alert-error
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .clearfix
        = f.label :password
        .input= f.password_field :password, required: true
      .clearfix
        = f.label :password_confirmation
        .input
          = f.password_field :password_confirmation, required: true
      .clearfix
        .input
          = f.submit 'Save password', class: "btn btn-save"



%fieldset.update-username
  %legend
    Username
    %small.cred.pull-right
      Changing your username can have unintended side effects!
  = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
    .padded
      = f.label :username
      .input
        = f.text_field :username, required: true
        &nbsp;
        %span.loading-gif.hide= image_tag "ajax_loader.gif"
        %span.update-success.cgreen.hide
          %i.icon-ok
          Saved
        %span.update-failed.cred.hide
          %i.icon-remove
          Failed
        %ul.cred
          %li It will change web url for personal projects.
          %li It will change the git path to repositories for personal projects.
      .input
        = f.submit 'Save username', class: "btn btn-save"


