- page_title "Applications"
- header_title page_title, applications_profile_path

.alert.alert-help.prepend-top-default
  - if user_oauth_applications?
    Manage applications that can use GitLab as an OAuth provider,
    and applications that you've authorized to use your account.
  - else
    Manage applications that you've authorized to use your account.

- if user_oauth_applications?
  .oauth-applications
    %h3
      Your applications
      .pull-right
        = link_to 'New Application', new_oauth_application_path, class: 'btn btn-success'
    - if @applications.any?
      .table-holder
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Callback URL
              %th Clients
              %th
              %th
          %tbody
            - @applications.each do |application|
              %tr{:id => "application_#{application.id}"}
                %td= link_to application.name, oauth_application_path(application)
                %td
                  - application.redirect_uri.split.each do |uri|
                    %div= uri
                %td= application.access_tokens.count
                %td= link_to 'Edit', edit_oauth_application_path(application), class: 'btn btn-link btn-sm'
                %td= render 'doorkeeper/applications/delete_form', application: application

.oauth-authorized-applications.prepend-top-20
  - if user_oauth_applications?
    %h3
      Authorized applications

  - if @authorized_tokens.any?
    .table-holder
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Authorized At
            %th Scope
            %th
        %tbody
          - @authorized_apps.each do |app|
            - token = app.authorized_tokens.order('created_at desc').first
            %tr{:id => "application_#{app.id}"}
              %td= app.name
              %td= token.created_at
              %td= token.scopes
              %td= render 'doorkeeper/authorized_applications/delete_form', application: app
          - @authorized_anonymous_tokens.each do |token|
            %tr
              %td
                Anonymous
                %div.help-block
                  %em Authorization was granted by entering your username and password in the application.
              %td= token.created_at
              %td= token.scopes
              %td= render 'doorkeeper/authorized_applications/delete_form', token: token
  - else
    %p.light You don't have any authorized applications
