%h3.page-title
  Application Settings
%p.light
  OAuth2 protocol settings below.

%fieldset.oauth-applications
  %legend Your applications
  %p= link_to 'New Application', new_oauth_application_path, class: 'btn btn-success'
  - if @applications.any?
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Callback URL
          %th Clients
          %th
          %th
      %tbody
        - @applications.each do |application|
          %tr{:id => "application_#{application.id}"}
            %td= link_to application.name, oauth_application_path(application)
            %td
              - application.redirect_uri.split.each do |uri|
                %div= uri
            %td= application.access_tokens.count
            %td= link_to 'Edit', edit_oauth_application_path(application), class: 'btn btn-link btn-small'
            %td= render 'doorkeeper/applications/delete_form', application: application

%fieldset.oauth-authorized-applications.prepend-top-20
  %legend Authorized applications

  - if @authorized_tokens.any?
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Authorized At
          %th Scope
          %th
      %tbody
        - @authorized_apps.each do |app|
          - token = app.authorized_tokens.order('created_at desc').first
          %tr{:id => "application_#{app.id}"}
            %td= app.name
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', application: app
  - else
    %p.light You dont have any authorized applications
