%h3.page-title
  = t("gitlab.profile.design.my_appearance_settings")
%p.light
  = t("gitlab.profile.design.appearance_settings_description")
%hr

= form_for @user, url: profile_path, remote: true, method: :put do |f|
  %fieldset.application-theme
    %legend
      = t("gitlab.profile.design.application_theme")
    .themes_opts
      = label_tag do
        .prev.default
        = f.radio_button :theme_id, 1
        = t("gitlab.profile.design.themes.default")

      = label_tag do
        .prev.classic
        = f.radio_button :theme_id, 2
        = t("gitlab.profile.design.themes.classic")

      = label_tag do
        .prev.modern
        = f.radio_button :theme_id, 3
        = t("gitlab.profile.design.themes.modern")

      = label_tag do
        .prev.gray
        = f.radio_button :theme_id, 4
        = t("gitlab.profile.design.themes.gray")

      = label_tag do
        .prev.violet
        = f.radio_button :theme_id, 5
        = t("gitlab.profile.design.themes.violet")
    %br
    .clearfix

  %fieldset.code-preview-theme
    %legend
      Code preview theme
    .code_highlight_opts
      - color_schemes.each do |color_scheme_id, color_scheme|
        = label_tag do
          .prev
            = image_tag "#{color_scheme}-scheme-preview.png"
          = f.radio_button :color_scheme_id, color_scheme_id
          = color_scheme.gsub(/[-_]+/, ' ').humanize
