%h3.page-title
  Profile settings
%p.light
  This information appears on your profile.
  - if current_user.ldap_user?
    Some options are unavailable for LDAP accounts
%hr



= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block Enter your name, so people you know can recognize you.

      .form-group
        = f.label :email, class: "control-label"
        .col-sm-10
          - if @user.ldap_user?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              Email is read-only for LDAP user
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                Please click the link in the confirmation email before continuing, it was send to
                %strong #{@user.unconfirmed_email}

            - else
              %span.help-block We also use email for avatar detection if no avatar is uploaded.
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Website', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :bio, class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 6, class: "form-control", maxlength: 250
          %span.help-block Tell us about yourself in fewer than 250 characters.

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user.email, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                You can change your avatar here
                - if Gitlab.config.gravatar.enabled
                  %br
                  or remove the current avatar to revert to #{link_to "gravatar.com", "http://gravatar.com"}
              - else
                You can upload an avatar here
                - if Gitlab.config.gravatar.enabled
                  %br
                  or change it at #{link_to "gravatar.com", "http://gravatar.com"}
            %hr
            %a.choose-btn.btn.btn-small.js-choose-user-avatar-button
              %i.icon-paper-clip
              %span Choose File ...
            &nbsp;
            %span.file_name.js-avatar-filename File name...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light The maximum file size allowed is 100KB.
            - if @user.avatar?
              %hr
              = link_to 'Remove avatar', profile_avatar_path, data: { confirm: "Avatar will be removed. Are you sure?"}, method: :delete, class: "btn btn-remove btn-small remove-avatar"

      - if @user.public_profile?
        .bs-callout.bs-callout-info
          %h4 Public profile
          %p Your profile is publicly visible because you joined public project(s)


  .form-actions
    = f.submit 'Save changes', class: "btn btn-save"
