.dropdown.inline
  %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light
      = sort_options_hash[@sort]
      %b.caret
  %ul.dropdown-menu.dropdown-menu-align-right
    %li.dropdown-label Sort by
    %li
      = link_to_sort sort_title_recently_active, sort_value_recently_active, @sort
      = link_to_sort sort_title_stars, sort_value_stars, @sort
      = link_to_sort sort_title_name_asc, sort_value_name_asc, @sort
      = link_to_sort sort_title_name_desc, sort_value_name_desc, @sort

    - if current_user && !current_controller?(:groups)
      %hr
      %li
        = link_to_filter 'Owned by anyone', 'all', @filter
        = link_to_filter 'Owned by me', 'personal', @filter
