- @sort ||= sort_value_recently_updated
- archived = params[:archived]
.dropdown.inline
  %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light
      = projects_sort_options_hash[@sort]
    %b.caret
  %ul.dropdown-menu.dropdown-menu-align-right.dropdown-with-checkmark
    %li
      .legend Sort by
    - projects_sort_options_hash.each do |value, title|
      %li
        = link_to filter_projects_path(sort: value, archived: archived) do
          = icon('check') if @sort == value
          = title

    %li.divider
    %li
      = link_to filter_projects_path(sort: @sort, archived: nil) do
        = icon('check') unless params[:archived].present?
        Hide archived projects
    %li
      = link_to filter_projects_path(sort: @sort, archived: true) do
        = icon('check') if params[:archived].present?
        Show archived projects
