.dropdown.inline
  %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light
      = sort_options_hash[@sort] || sort_title_recently_active
      %b.caret
  %ul.dropdown-menu.align-right.with-label
    %li Sort by
    %li= link_to_sort sort_title_recently_active, sort_value_recently_active, @sort
    %li= link_to_sort sort_title_stars, sort_value_stars, @sort
    %li= link_to_sort sort_title_name, sort_value_name, @sort

    - if current_user && !@disable_dropdown_filters
      %hr
      %li= link_to_filter 'Owned by anyone', 'all', @filter
      %li= link_to_filter 'Owned by me', 'personal', @filter
