- @sort ||= sort_value_latest_activity
.dropdown
  - toggle_text = projects_sort_options_hash[@sort]
  = dropdown_toggle(toggle_text, { toggle: 'dropdown' }, { id: 'sort-projects-dropdown' })
  %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
    %li.dropdown-header
      Sort by
    - projects_sort_options_hash.each do |value, title|
      %li
        = radio_button_tag :sort, value, @sort == value, title: title, class: 'dropdown-filter-radio'
        = label_tag "sort_#{value}", { class: 'dropdown-filter-label' } do
          = icon 'check', class: 'dropdown-filter-check'
          %span= title

    %li.divider
    %li
      = radio_button_tag :archived, '', !params[:archived].present?, { class: 'dropdown-filter-radio' }
      = label_tag :archived_, { class: 'dropdown-filter-label' } do
        = icon 'check', class: 'dropdown-filter-check'
        %span Hide archived projects
    %li
      = radio_button_tag :archived, true, params[:archived].present?, { class: 'dropdown-filter-radio' }
      = label_tag :archived_true, { class: 'dropdown-filter-label' } do
        = icon 'check', class: 'dropdown-filter-check'
        %span Show archived projects

    - if current_user
      %li.divider
      %li
        = radio_button_tag :personal, '', !params[:personal].present?, { class: 'dropdown-filter-radio' }
        = label_tag :personal_, { class: 'dropdown-filter-label' } do
          = icon 'check', class: 'dropdown-filter-check'
          %span Owned by anyone

      %li
        = radio_button_tag :personal, true, params[:personal].present?, { class: 'dropdown-filter-radio' }
        = label_tag :personal_true, { class: 'dropdown-filter-label' } do
          = icon 'check', class: 'dropdown-filter-check'
          %span Owned by me

      - if @group && @group.shared_projects.present?
        %li.divider
        %li
          = radio_button_tag :shared, '', !params[:shared].present?, { class: 'dropdown-filter-radio' }
          = label_tag :shared_, { class: 'dropdown-filter-label' } do
            = icon 'check', class: 'dropdown-filter-check'
            %span All projects
        %li
          = radio_button_tag :shared, '0', params[:shared] == '0', { class: 'dropdown-filter-radio' }
          = label_tag :shared_0, { class: 'dropdown-filter-label' } do
            = icon 'check', class: 'dropdown-filter-check'
            %span Hide shared projects
        %li
          = radio_button_tag :shared, '1', params[:shared] == '1', { class: 'dropdown-filter-radio' }
          = label_tag :shared_1, { class: 'dropdown-filter-label' } do
            = icon 'check', class: 'dropdown-filter-check'
            %span Hide group projects
