= form_tag filter_projects_path, method: :get, class: 'project-filter-form', id: 'project-filter-form' do |f|
  = search_field_tag :name, params[:name],
    placeholder: 'Filter by name...',
    class: 'project-filter-form-field form-control input-short js-projects-list-filter',
    spellcheck: false,
    id: 'project-filter-form-field',
    tabindex: "2",
    autofocus: local_assigns[:autofocus]

  - if local_assigns[:icon]
    = icon("search", class: "search-icon")

  - if local_assigns[:show_namespace_dropdown]
    .dropdown
      - toggle_text = 'Namespace'
      - if params[:namespace_id].present?
        = hidden_field_tag :namespace_id, params[:namespace_id]
        - namespace = Namespace.find(params[:namespace_id])
        - toggle_text = "#{namespace.kind}: #{namespace.full_path}"
      = dropdown_toggle(toggle_text, { toggle: 'dropdown' }, { toggle_class: 'js-namespace-select large' })
      .dropdown-menu.dropdown-select.dropdown-menu-align-right
        = dropdown_title('Namespaces')
        = dropdown_filter("Search for Namespace")
        = dropdown_content
        = dropdown_loading

  = render 'shared/projects/dropdown'
