- form_field_classes = local_assigns[:admin_view] || !Feature.enabled?(:project_list_filter_bar) ? 'input-short js-projects-list-filter' : 'gl-w-full! gl-pl-7 '
- placeholder = local_assigns[:search_form_placeholder] ? search_form_placeholder : _('Filter by name')

= form_tag filter_projects_path, method: :get, class: 'project-filter-form', data: { qa_selector: 'project_filter_form_container' }, id: 'project-filter-form' do |f|
  = search_field_tag :name, params[:name],
    placeholder: placeholder,
    class: "project-filter-form-field form-control #{form_field_classes}",
    spellcheck: false,
    id: 'project-filter-form-field',
    autofocus: local_assigns[:autofocus]

  - if local_assigns[:icon]
    = sprite_icon('search', css_class: 'search-icon')

  - if params[:sort].present?
    = hidden_field_tag :sort, params[:sort]

  - if params[:personal].present?
    = hidden_field_tag :personal, params[:personal]

  - if params[:archived].present?
    = hidden_field_tag :archived, params[:archived]

  - if params[:visibility_level].present?
    = hidden_field_tag :visibility_level, params[:visibility_level]

  - if params[:language].present?
    = hidden_field_tag :language, params[:language]

  - if Feature.enabled?(:project_language_search, current_user) && !Feature.enabled?(:project_list_filter_bar)
    .dropdown.inline
      = dropdown_toggle(search_language_placeholder, { toggle: 'dropdown', testid: 'project-language-dropdown' })
      %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable
        %li
          = link_to _('Any'), filter_projects_path(language: nil)
        - programming_languages.each do |language|
          %li
            = link_to filter_projects_path(language: language.id), class: language_state_class(language) do
              = language.name

  = submit_tag nil, class: 'gl-display-none!'

  = render 'shared/projects/dropdown' unless Feature.enabled?(:project_list_filter_bar)

  = render_if_exists 'shared/projects/search_fields'
