- @diffs.each do |diff|
  - next if diff.diff.empty?
  - file = (@commit.tree / diff.b_path)
  - next unless file
  .diff_file
    .diff_file_header
      - if diff.deleted_file
        %strong{:id => "#{diff.b_path}"}= diff.a_path
      - else
        = link_to tree_file_project_ref_path(@project, @commit.id, diff.b_path) do
          %strong{:id => "#{diff.b_path}"}= diff.b_path
      %br/
    .diff_file_content
      - if file.text?
        = render :partial => "commits/text_file", :locals => { :diff => diff }
      - elsif file.image?
        .diff_file_content_image
          %img{:src => "data:#{file.mime_type};base64,#{Base64.encode64(file.data)}"}
      - else
        %p
          %center No preview for this file type

