%li{ class: mr_css_classes(merge_request) }
  .pull-right
    .left
      - if merge_request.merged?
        %span.btn.btn-small.disabled.grouped
          %strong
            %i.icon-ok
            = "MERGED"
      - if merge_request.notes.any?
        %span.btn.btn-small.disabled.grouped
          %i.icon-comment
          = merge_request.mr_and_commit_notes.count
      - if merge_request.milestone_id?
        %span.btn.btn-small.disabled.grouped
          %i.icon-time
          = merge_request.milestone.title
      %span.btn.btn-small.disabled.grouped
        = merge_request.source_branch
        &rarr;
        = merge_request.target_branch
  = image_tag gravatar_icon(merge_request.author_email), class: "avatar"

  %p= link_to_gfm truncate(merge_request.title, length: 80), project_merge_request_path(merge_request.project, merge_request), class: "row_title"

  %span.update-author
    %small.cdark= "##{merge_request.id}"
    authored by #{merge_request.author_name}
    = time_ago_in_words(merge_request.created_at)
    ago

    - if merge_request.votes_count > 0
      = render 'votes/votes_inline', votable: merge_request
