%li.wll
  = image_tag gravatar_icon(merge_request.author_email), :class => "avatar"
  %span.update-author
    %strong= merge_request.author_name
    authored
    = time_ago_in_words(merge_request.created_at)
    ago
  .right
    %span.label= merge_request.source_branch
    &rarr;
    %span.label= merge_request.target_branch
  = link_to project_merge_request_path(merge_request.project, merge_request) do
    %p.row_title= truncate(merge_request.title, :length => 100)
