= render "merge_requests/show/mr_title"
= render "merge_requests/show/how_to_merge"
= render "merge_requests/show/mr_box"
= render "merge_requests/show/mr_accept"
- if @project.gitlab_ci?
  = render "merge_requests/show/mr_ci"
= render "merge_requests/show/commits"

- if @commits.present?
  %ul.nav.nav-tabs.mr_nav_tabs
    %li
      = link_to "#notes", "data-url" => project_merge_request_path(@project, @merge_request), class: "merge-notes-tab tab" do
        %i.icon-comment
        Comments
    %li
      = link_to "#diffs", "data-url" => diffs_project_merge_request_path(@project, @merge_request), class: "merge-diffs-tab tab" do
        %i.icon-list-alt
        Diff

.merge_request_notes.voting_notes#notes{ class: (controller.action_name == 'show') ? "" : "hide" }
  = render("notes/notes_with_form", tid: @merge_request.id, tt: "merge_request")
.merge-request-diffs
  = render "merge_requests/show/diffs" if @diffs
.status

= render "notes/per_line_form"

:javascript
  $(function(){
    MergeRequest.init({
      url_to_automerge_check: "#{automerge_check_project_merge_request_path(@project, @merge_request)}",
      check_enable: #{@merge_request.state == MergeRequest::UNCHECKED ? "true" : "false"},
      url_to_ci_check: "#{ci_status_project_merge_request_path(@project, @merge_request)}",
      ci_enable: #{@project.gitlab_ci? ? "true" : "false"},
      current_state: "#{@merge_request.human_state}",
      action: "#{controller.action_name}"
    });

    $(".edit_merge_request").live("ajax:beforeSend", function() {
      $('.can_be_merged').hide();
      $('.merge_in_progress').show();
    })
  })

