.merge-request
  = render "merge_requests/show/mr_title"
  = render "merge_requests/show/how_to_merge"
  = render "merge_requests/show/mr_box"
  = render "merge_requests/show/mr_accept"
  - if @project.gitlab_ci?
    = render "merge_requests/show/mr_ci"
  = render "merge_requests/show/commits"

  - if @commits.present?
    %ul.nav.nav-tabs
      %li.notes-tab{data: {action: 'notes'}}
        = link_to project_merge_request_path(@project, @merge_request) do
          %i.icon-comment
          Discussion
      %li.diffs-tab{data: {action: 'diffs'}}
        = link_to diffs_project_merge_request_path(@project, @merge_request) do
          %i.icon-list-alt
          Diff

  .notes.tab-content.voting_notes#notes{ class: (controller.action_name == 'show') ? "" : "hide" }
    = render "notes/notes_with_form"
  .diffs.tab-content
    = render "merge_requests/show/diffs" if @diffs
  .status

:javascript
  var merge_request;
  $(function(){
    merge_request = new MergeRequest({
      url_to_automerge_check: "#{automerge_check_project_merge_request_path(@project, @merge_request)}",
      check_enable: #{@merge_request.state == MergeRequest::UNCHECKED ? "true" : "false"},
      url_to_ci_check: "#{ci_status_project_merge_request_path(@project, @merge_request)}",
      ci_enable: #{@project.gitlab_ci? ? "true" : "false"},
      current_state: "#{@merge_request.human_state}",
      action: "#{controller.action_name}"
    });
  });

