%table
  %thead
    %th Target branch
    %th Source branch
    %th Author
    %th Assignee
    %th Title
    %th
    %th
    %th

  - @merge_requests.each do |merge_request|
    %tr
      %td= merge_request.target_branch
      %td= merge_request.source_branch
      %td= merge_request.author_id
      %td= merge_request.assignee_id
      %td= merge_request.title
      %td= link_to 'Show', [@project, merge_request]
      %td= link_to 'Edit', edit_project_merge_request_path(@project, merge_request)
      %td= link_to 'Destroy', [@project, merge_request], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Merge request', new_project_merge_request_path(@project)
