.merge-request-show-holder.ui-box.width-100p
  %h3
    = "Merge Request ##{@merge_request.id}:"
    &nbsp;
    .tag.commit.inline= @merge_request.source_branch
    &rarr;
    .tag.commit.inline= @merge_request.target_branch
    .right
      - if @merge_request.closed
        %span.tag.high Closed
      - else 
        %span.tag.today Open

  .data
    %p= @merge_request.title

    - if @merge_request.author == @merge_request.assignee
      = image_tag gravatar_icon(@merge_request.assignee_email),  :width => 20, :style => "padding:0 5px;"
      = @merge_request.assignee_name
    - else 
      = image_tag gravatar_icon(@merge_request.author_email),  :width => 20, :style => "padding:0 5px;"
      = @merge_request.author_name
      &rarr;
      = image_tag gravatar_icon(@merge_request.assignee_email),  :width => 20, :style => "padding:0 5px;"
      = @merge_request.assignee_name
    .right
      %cite.cgray= @merge_request.created_at.stamp("21 Aug 2011, 11:15pm")
    .clear

  .buttons
    - if can? current_user, :write_project, @project
      - if @merge_request.closed
        = link_to 'Reopen', project_merge_request_path(@project, @merge_request, :merge_request => {:closed => false }, :status_only => true), :method => :put,  :class => "grey-button"
      - else
        = link_to 'Close', project_merge_request_path(@project, @merge_request, :merge_request => {:closed => true }, :status_only => true), :method => :put, :class => "grey-button"
      .right
        = link_to 'Edit', edit_project_merge_request_path(@project, @merge_request), :class => "grey-button positive"

.clear
%br
%br

%ul.merge-tabs
  = link_to "Notes", "#", :class => "merge-notes-tab"
  = link_to "Commits","#",  "data-url" => commits_project_merge_request_path(@project, @merge_request), :class => "merge-commits-tab"
  = link_to "Diff", diffs_project_merge_request_path(@project, @merge_request), :class => "merge-diffs-tab"
  %img{:src => "/assets/ajax-loader-facebook.gif", :class => "dashboard-loader"}

.merge-request-notes
  .issue_notes= render "notes/notes"
  .loading{ :style => "display:none;"}
    %center= image_tag "ajax-loader.gif"
  .clear

.merge-request-commits

.merge-request-diffs


:javascript
  $(function(){
    MergeRequest.init();
  })
