.block.milestone
  .title.gl-h-5.gl-display-flex.gl-align-items-center
    = _("Milestone")
    - if can_admin_issue?
      = loading_icon(css_class: 'gl-ml-2 block-loading')
      = link_to _("Edit"), "#", class: "js-sidebar-dropdown-toggle edit-link gl-ml-auto"
  .value
    %span.no-value{ "v-if" => "!issue.milestone" }
      = _("None")
    %span.bold.has-tooltip{ "v-if" => "issue.milestone" }
      {{ issue.milestone.title }}
  - if can_admin_issue?
    .selectbox
      %input{ type: "hidden",
        ":value" => "issue.milestone.id",
        name: "issue[milestone_id]",
        "v-if" => "issue.milestone" }
      .dropdown
        %button.dropdown-menu-toggle.js-milestone-select.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", show_no: "true", field_name: "issue[milestone_id]", ability_name: "issue", use_id: "true", default_no: "true" },
          ":data-selected" => "milestoneTitle",
          ":data-issuable-id" => "issue.iid",
          ":data-project-id" => "issue.project_id" }
          = _("Milestone")
          = sprite_icon('chevron-down', css_class: "dropdown-menu-toggle-icon gl-top-3")
        .dropdown-menu.dropdown-select.dropdown-menu-selectable
          = dropdown_title(_("Assign milestone"))
          = dropdown_filter(_("Search milestones"))
          = dropdown_content
          = dropdown_loading
