.note-form-holder
  = form_for [@project, @note], remote: "true", multipart: true do |f|
    %h3.page_title Leave a comment
    -if @note.errors.any?
      .alert-message.block-message.error
        - @note.errors.full_messages.each do |msg|
          %div= msg

    = f.hidden_field :noteable_id
    = f.hidden_field :noteable_type
    = f.text_area :note, size: 255, class: 'note-text'
    #preview-note.preview_note.hide
    .hint
      .right Comments are parsed with #{link_to "GitLab Flavored Markdown", help_markdown_path, target: '_blank'}.
      .clearfix

    .row.note_advanced_opts
      .span3
        = f.submit 'Add Comment', class: "btn success submit_note grouped", id: "submit_note"
        = link_to 'Preview', preview_project_notes_path(@project), class: 'btn grouped', id: 'preview-link'
      .span4.notify_opts
        %h6.left Notify via email:
        = label_tag :notify do
          = check_box_tag :notify, 1, @note.noteable_type != "Commit"
          %span Project team

        - if @note.notify_only_author?(current_user)
          = label_tag :notify_author do
            = check_box_tag :notify_author, 1 , @note.noteable_type == "Commit"
            %span Commit author
      .span5.attachments
        %h6.left Attachment:
        %span.file_name File name...

        .input.input_file
          %a.file_upload.btn.small Upload File
          = f.file_field :attachment, class: "input-file"
        %span.hint Any file less than 10 MB

:javascript
  $(function(){
    var names = #{@project.users.pluck(:name)}, emoji = ['+1', '-1'];
    var emoji = $.map(emoji, function(value, i) {return {key:value + ':', name:value}});
    $('#note_note, .per_line_form .line-note-text').
      atWho('@', { data: names }).
      atWho(':', {
        data: emoji,
        tpl: "<li data-value='${key}'>${name} #{escape_javascript image_tag('emoji/${name}.png', :size => '20x20')}</li>"
      });
  });
