.note_discussion
  .header
    = image_tag gravatar_icon(note.author.email), class: "avatar s32"
    .text
      %strong= note.author_name
      - if note.for_merge_request?
        %cite.cgray started a discussion on this merge request diff
        = link_to_merge_request_diff_line_note(note)
      - elsif note.for_commit?
        %cite.cgray started a discussion on commit
        #{link_to note.noteable.short_id, project_commit_path(@project, note.noteable)}
        = link_to_commit_diff_line_note(note) if note.for_diff_line?
      - else
        %cite.cgray started a discussion
  - if note.for_diff_line?
    .diff_file
      .diff_file_header
        - if diff.deleted_file
          %i.icon-file
          %span{id: "#{diff.a_path}"}= diff.a_path
        - else
          %i.icon-file
          %span{id: "#{diff.b_path}"}= diff.b_path
        %br/
      .diff_file_content
        = render "commits/text_file", diff: diff, index: note.diff_index
  - else
    .body
      - discussion_notes(note).each do |a_note|
        = render 'note', note: a_note

- discussion_rendered!(note)
