= form_for [@project, @note], remote: true, html: { multipart: true, class: "new_note new_discussion_note js-discussion-note-form" } do |f|

  = note_target_fields
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type

  -if @note.errors.any?
    .alert-message.block-message.error
      - @note.errors.full_messages.each do |msg|
        %div= msg

  = f.text_area :note,  size: 255, class: 'js-note-text js-gfm-input'
  .note_actions
    .buttons
      = f.submit 'Add Comment', class: "btn comment-btn js-comment-button"
      %button.btn.js-close-discussion-note-form Cancel
    .options
      %h6.left Notify via email:
      .labels
        = label_tag :notify do
          = check_box_tag :notify, 1, @note.noteable_type != "Commit"
          %span Project team

        - if @note.notify_only_author?(current_user)
          = label_tag :notify_author do
            = check_box_tag :notify_author, 1 , @note.noteable_type == "Commit"
            %span Commit author
