.note_discussion
  .header
    %strong= note.author_name
    - case note.noteable_type
    - when 'MergeRequest'
      %cite.cgray
        started a discussion on this merge request diff
      = link_to_merge_request_diff_line_note(note)
      \:
    - when 'Commit'
      %cite.cgray
        started a discussion on commit
      #{link_to note.target.short_id, project_commit_path(@project, note.target)}
      = link_to_commit_diff_line_note(note) if note.line_note?
      \:
    - else
      %cite.cgray
        started a discussion:
  .body
    - discussion_notes(note).each do |a_note|
      = render 'note', note: a_note
