.group_diff_note
  .header
    = link_to diffs_project_merge_request_path(note.project, note.noteable_id, anchor: note.line_code) do
      = "#{note.author.name} started a discussion on this merge request (on line #{note.line_code.split('_')[2]}):"
  .body
    - @notes.select {|a_note| a_note.line_code == note.line_code}.each do |a_note|
      = render "note", note: a_note
