%div
  = form_for [@project, @note], :remote => "true", :multipart => true do |f|
    -if @note.errors.any?
      .errors.error
        - @note.errors.full_messages.each do |msg|
          %div= msg

    = f.hidden_field :noteable_id
    = f.hidden_field :noteable_type

    %div
      = f.label :note
      %cite.cgray markdown supported
      %br
      %br
      = f.text_area :note,  :size => 255

    %div.attach_holder
      %br
      = f.label :attachment
      %cite.cgray (less than 10 MB)
      %br
      %br
      = f.file_field :attachment
      
      %p.notify_controls
        %span Notify:
        = check_box_tag :notify, 1, @note.noteable_type != "Commit"
        = label_tag :notify, "Project team"

        -if @note.noteable_type == "Commit"
          = check_box_tag :notify_author, 1 , @note.noteable_type == "Commit"
          = label_tag :notify_author, "Commit author"

    .clear
    %br
    = f.submit 'Add note', :class => "grey-button", :id => "submit_note"
