- unless @notes.blank?

  - if params[:last_id] && params[:first_id]
    :plain
      NoteList.replace(#{@notes.last.id}, #{@notes.first.id}, "#{escape_javascript(render(:partial => 'notes/notes_list'))}");

  - elsif params[:last_id]
    :plain
      NoteList.prepend(#{@notes.first.id}, "#{escape_javascript(render(:partial => 'notes/notes_list'))}");

  - elsif params[:first_id]
    :plain
      NoteList.append(#{@notes.last.id}, "#{escape_javascript(render(:partial => 'notes/notes_list'))}");

  - else
    :plain

- else 
  - if params[:first_id]
    :plain
      NoteList.append(#{params[:first_id]}, "");
