%ul#notes-list.notes

- if can? current_user, :write_note, @project
  .note-forms.js-note-forms
    = render "notes/common_form"
    = render "notes/discussion_note_form"

:javascript
  $(function(){
    NoteList.init("#{@target_id}", "#{@target_type}", "#{project_notes_path(@project)}");
  });
