%li{ id: dom_id(note), class: dom_class(note), data: { discussion: note.discussion_id } }
  .note-header
    .note-actions
      = link_to "##{dom_id(note)}", name: dom_id(note) do
        %i.icon-link
        Link here
      &nbsp;
      - if(note.author_id == current_user.id) || can?(current_user, :admin_note, @project)
        = link_to project_note_path(@project, note), method: :delete, confirm: 'Are you sure?', remote: true, class: "danger js-note-delete" do
          %i.icon-remove-circle
    = image_tag gravatar_icon(note.author.email), class: "avatar s32"
    = link_to note.author_name, project_team_member_path(@project, @project.team_member_by_id(note.author)), class: "note-author"
    %span.note-last-update
      = time_ago_in_words(note.updated_at)
      ago

    - if note.upvote?
      %span.vote.upvote.label.label-success
        %i.icon-thumbs-up
        \+1
    - if note.downvote?
      %span.vote.downvote.label.label-error
        %i.icon-thumbs-down
        \-1


  .note-body
    = preserve do
      = markdown(note.note)
    - if note.attachment.url
      .right
        %div.file
          = link_to note.attachment_identifier, note.attachment.url, target: "_blank"
  .clear
