%li{ id: dom_id(note), class: dom_class(note), data: { discussion: note.discussion_id } }
  .note-header
    .note-actions
      = link_to "##{dom_id(note)}", name: dom_id(note) do
        %i.icon-link
        Link here
      &nbsp;
      - if(note.author_id == current_user.id) || can?(current_user, :admin_note, @project)
        = link_to project_note_path(@project, note), title: "Remove comment", method: :delete, confirm: 'Are you sure you want to remove comment?', remote: true, class: "danger js-note-delete" do
          %i.icon-trash.cred
    = image_tag gravatar_icon(note.author.email), class: "avatar s32"
    = link_to_member(@project, note.author, avatar: false)
    %span.note-last-update
      = time_ago_in_words(note.updated_at)
      ago

    - if note.upvote?
      %span.vote.upvote.label.label-success
        %i.icon-thumbs-up
        \+1
    - if note.downvote?
      %span.vote.downvote.label.label-error
        %i.icon-thumbs-down
        \-1


  .note-body
    = preserve do
      = markdown(note.note)
  - if note.attachment.url
    - if note.attachment.image?
      = image_tag note.attachment.url, class: 'note-image-attach'
    .attachment.pull-right
      = link_to note.attachment.url, target: "_blank" do
        %i.icon-paper-clip
        = note.attachment_identifier
  .clear
