%table{style: "display:none;"}
  %tr.per_line_form
    %td{colspan: 3 }
      .line-note-form-holder
        = form_for [@project, @note], remote: "true", multipart: true do |f|
          %h3.page_title Leave a note
          %div.span10
            -if @note.errors.any?
              .alert-message.block-message.error
                - @note.errors.full_messages.each do |msg|
                  %div= msg

            = f.hidden_field :noteable_id
            = f.hidden_field :commit_id
            = f.hidden_field :noteable_type
            = f.hidden_field :line_code
            = f.text_area :note,  size: 255, class: 'line-note-text js-gfm-input'
            .note_actions
              .buttons
                = f.submit 'Add note', class: "btn save-btn submit_note submit_inline_note", id: "submit_note"
                = link_to "Cancel", "#", class: "btn hide-button"
              .options
                %h6.left Notify via email:
                .labels
                  = label_tag :notify do
                    = check_box_tag :notify, 1, @note.noteable_type != "Commit"
                    %span Project team

                  - if @note.notify_only_author?(current_user)
                    = label_tag :notify_author do
                      = check_box_tag :notify_author, 1 , @note.noteable_type == "Commit"
                      %span Commit author

:javascript
  $(function(){
    $(".per_line_form .hide-button").bind("click", function(){
      $('.per_line_form').hide();
      return false;
    });
  });
