%li{:id => dom_id(note), :class => "note"}
  = image_tag gravatar_icon(note.author.email), :class => "left", :width => 40, :style => "padding-right:5px;"
  %div.note-author
    %strong= note.author_name
    = time_ago_in_words(note.updated_at)
    - if(note.author_id == current_user.id) || can?(current_user, :admin_note, @project)
      = link_to 'Remove', [@project, note], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "lbutton delete-note right negative"
    
  %div.note-title
    = markdown(note.note)
    - if note.attachment.url
      Attachment:
      = link_to note.attachment_identifier, note.attachment.url, :target => "_blank"
    %br
  .clear
