%li{:id => dom_id(note)}
  %div.note_author
    = image_tag gravatar_icon(note.author.email), :class => "left", :width => 40, :style => "padding-right:5px;"
  %div.note_content.left
    = raw RDiscount.new(note.note, :smart, :filter_html).to_html
    - if note.attachment.url
      Attachment:
      = link_to note.attachment_identifier, note.attachment.url, :target => "_blank"
      %br
    %span.author= note.author.name
    %cite.ago
      = time_ago_in_words(note.updated_at)
      ago
    %br
  - if(note.author_id == current_user.id) || can?(current_user, :admin_note, @project)
    = link_to 'Remove', [@project, note], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "lbutton delete-note right negative"
  .clear
