.login-box.panel.panel-default
  .panel-heading
    %h3.panel-title Resend confirmation instructions
  .panel-body
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      .devise-errors
        = devise_error_messages!
      .clearfix.append-bottom-20
        = f.email_field :email, placeholder: 'Email', class: "form-control", required: true
      .clearfix.append-bottom-10
        = f.submit "Resend confirmation instructions", class: 'btn btn-success'
  .panel-footer
    = render 'devise/shared/sign_in_link'
