.login-box
  %h3.page-title Resend confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .devise-errors
      = devise_error_messages!
    .clearfix.append-bottom-20
      = f.email_field :email, placeholder: 'Email', class: "form-control", required: true
    .clearfix.append-bottom-10
      = f.submit "Resend confirmation instructions", class: 'btn btn-success'
  %hr
  %p
    %span.light
      Already have login and password?
    %strong
      = link_to "Sign in", new_session_path(resource_name)
