.login-box
  %h3.page-title Resend confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    = f.email_field :email, placeholder: 'Email'
    %div= f.submit "Resend confirmation instructions", class: 'btn btn-success'
  %hr
  = link_to "Sign in", new_session_path(resource_name)
