-# TODO: Swap out for real passkeys once backend is complete
- @passkeys = @registrations
= render ::Layouts::CrudComponent.new(s_('ProfilesAuthentication|Manage passkeys'),
  icon: 'key',
  count: @passkeys.length ) do |c|
  - c.with_actions do
    = render Pajamas::ButtonComponent.new(href: new_profile_passkey_path, size: :small, icon: 'passkey') do
      = s_('ProfilesAuthentication|Add passkey')
  - c.with_body do
    .table-holder
      %table.table.b-table.gl-table.b-table-stacked-md{ role: 'table' }
        %thead
          %tr
            %th= _('Name')
            %th= s_('ProfilesAuthentication|Added on')
            %th= s_('ProfilesAuthentication|Last used')
            %th= _('Actions')
        %tbody
          - if @passkeys.present?
            - @passkeys.each do |passkey|
              %tr
                %td{ data: { label: _('Name') } }= passkey[:name]
                %td{ data: { label: s_('ProfilesAuthentication|Added on') } }= l(passkey[:created_at].to_date, format: :admin)
                -# TODO: change created_at for last_used_at once backend is complete
                %td{ data: { label: s_('ProfilesAuthentication|Last used') } }= l(passkey[:created_at].to_date, format: :admin)
                %td{ data: { label: _('Actions') }, class: '!gl-py-3' }
                  .js-two-factor-action-confirm{ data: delete_passkey_data(current_password_required?, passkey[:delete_path]) }
          - else
            %tr
              %td= s_('ProfilesAuthentication|No passkeys added.')
