- title = _('Two-Factor Authentication')
- breadcrumb_title title
- page_title title, _('Account')
- add_to_breadcrumbs _('Account'), profile_account_path
- troubleshooting_link = link_to _('Try the troubleshooting steps here.'), help_page_path('user/profile/account/two_factor_authentication_troubleshooting.md'), target: '_blank', rel: 'noopener noreferrer'

- content_for :after_flash_content do
  - if @error
    .flash-container.flash-container-page.sticky
      = render Pajamas::AlertComponent.new(title: @error[:message],
        variant: :danger,
        dismissible: false) do |c|
        - c.with_body do
          = troubleshooting_link

= render ::Layouts::PageHeadingComponent.new(title, options: { class: 'gl-mb-3' })

= render ::Layouts::SettingsSectionComponent.new(_('Register a one-time password authenticator')) do |c|
  - c.with_body do
    = render 'otp_registration', {troubleshooting_link: troubleshooting_link}

= render ::Layouts::SettingsSectionComponent.new(_('Register a WebAuthn device')) do |s|
  - s.with_body do
    = render 'webauthn_registration'


= render ::Layouts::SettingsSectionComponent.new(_('Disable two-factor authentication')) do |s|
  - s.with_body do
    = render 'recovery_codes'
