- title = _('Two-Factor Authentication')
- breadcrumb_title title
- page_title title, _('Account')
- add_to_breadcrumbs _('Account'), profile_account_path
- troubleshooting_link = link_to _('Try the troubleshooting steps here.'), help_page_path('user/profile/account/two_factor_authentication_troubleshooting.md'), target: '_blank', rel: 'noopener noreferrer'

- content_for :after_flash_content do
  - if @error
    .flash-container.flash-container-page.sticky
      = render Pajamas::AlertComponent.new(title: @error[:message],
        variant: :danger,
        dismissible: false) do |c|
        - c.with_body do
          = troubleshooting_link

= render ::Layouts::SettingsSectionComponent.new(title) do |c|
  - c.with_description do
    .gl-flex.gl-flex-wrap.gl-gap-3.gl-justify-between.gl-mt-2
      %div
        = _("Increase your account's security by enabling two-factor authentication (2FA).")
      - if current_user.two_factor_enabled?
        .gl-w-full{ class: "@sm/panel:gl-w-auto" }
          .js-two-factor-action-confirm{ data: disable_two_factor_authentication_data(current_password_required?) }
  - c.with_body do
    %p
      %span.gl-font-bold
        = _('Status:')
      #{current_user.two_factor_enabled? ? _('Enabled') : _('Disabled')}
    = render 'otp_registration', {troubleshooting_link: troubleshooting_link}
    = render 'webauthn_registration'
    - if current_user.two_factor_enabled?
      = render 'recovery_codes'
