- disable_fixed_body_scroll
- board = local_assigns.fetch(:board, nil)
- @no_container = true
- @content_wrapper_class = "#{@content_wrapper_class} gl-relative gl-pb-0"
- @content_class = "issue-boards-content js-focus-mode-board"
- is_epic_board = board.to_type == "EpicBoard"
- title = is_epic_board ? _("Epic Boards") : _("Issue Boards")
- page_title title
- breadcrumb_title title

%h1.gl-sr-only= title

- if !is_epic_board
  = render 'shared/alerts/positioning_disabled'

= content_for :after_content do
  #js-right-sidebar-portal

- page_title("#{board.name}", _("Boards"))
- add_page_specific_style 'page_bundles/boards'
- add_page_specific_style 'page_bundles/labels'

#js-issuable-board-app{ data: board_data }
