%h3= @milestone.new_record? ? t('milestones.index.new') : t('.edit', :id => @milestone.id)
.back_link
  = link_to project_milestones_path(@project) do 
    &larr;
    = t '.back_to_list'

%hr

= form_for [@project, @milestone], :html => {:class => "new_milestone form-horizontal"}  do |f|
  -if @milestone.errors.any?
    .alert-message.block-message.error
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span6
      .control-group
        = f.label :title, :class => "control-label"
        .controls
          = f.text_field :title, :maxlength => 255, :class => "input-xlarge"
      .control-group
        = f.label :description, :class => "control-label"
        .controls
          = f.text_area :description, :maxlength => 2000, :class => "input-xlarge", :rows => 10
          %p.help-block=t 'global.markdown'
    .span6
      .control-group
        = f.label :due_date, :class => "control-label"
        .input= f.hidden_field :due_date
        .controls
          .datepicker


  .form-actions
    = f.submit t('global.save'), :class => "primary btn"

    - if request.xhr?
      = link_to t('global.reset'), "#back", :onclick => "backToIssues();", :class => "btn" 
    - else 
      - if @milestone.new_record?
        = link_to t('global.reset'), project_milestones_path(@project), :class => "btn"
      - else    
        = link_to t('global.reset'), project_milestone_path(@project, @milestone), :class => "btn"

:javascript
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
    });
  });
