%li{:class => "milestone", :id => dom_id(milestone) }
  .right
    - if milestone.issues.count > 0
      = link_to 'Browse Issues', project_issues_path(milestone.project, :milestone_id => milestone.id), :class => "btn small"
    - if milestone.issues.any?
      %span.btn.small.disabled.padded= pluralize milestone.issues.count, 'issues'
    - if can? current_user, :admin_milestone, milestone.project
      = link_to 'Edit', edit_project_milestone_path(milestone.project, milestone), :class => "btn small edit-milestone-link"
  = link_to project_milestone_path(milestone.project, milestone) do
    %h4.row_title
      = truncate(milestone.title, :length => 100)
      %small= milestone.expires_at
      %br
      .progress.span3

  &nbsp;
  :javascript
    $(function() {
      $( "##{dom_id(milestone)} .progress" ).progressbar({
        value: #{milestone.percent_complete}
       });
    });
