%h3.page_title
  Milestone ##{@milestone.id}
  %small
    = @milestone.expires_at

  %span.right
    = link_to new_project_issue_path(@project, issue: { milestone_id: @milestone.id }), class: "btn small grouped", title: "New Issue" do
      %i.icon-plus
      New Issue
    = link_to 'Browse Issues', project_issues_path(@milestone.project, milestone_id: @milestone.id), class: "btn edit-milestone-link small grouped"
    - if can?(current_user, :admin_milestone, @project)
      = link_to edit_project_milestone_path(@project, @milestone), class: "btn small grouped" do
        %i.icon-edit
        Edit

.back_link
  = link_to project_milestones_path(@project) do
    &larr; To milestones list

.main_box
  .top_box_content
    %h5
      - if @milestone.closed
        .alert-message.error.status_info Closed
      - else
        .alert-message.success.status_info Open
      = gfm escape_once(@milestone.title)
      %small.right= @milestone.expires_at

  .middle_box_content
    %h5
      Progress:
      %small
        #{@milestone.issues.opened.count} open
        &ndash;
        #{@milestone.issues.closed.count} closed
    .progress.progress-success
      .bar{style: "width: #{@milestone.percent_complete}%;"}


  - if @milestone.description.present?
    .bottom_box_content
      = preserve do
        = markdown @milestone.description

.row
  .span6
    %table
      %thead
        %th Open Issues
      - @issues.each do |issue|
        %tr
          %td
            = link_to [@project, issue] do
              %span.badge.badge-info ##{issue.id}
            &ndash;
            = link_to_gfm truncate(issue.title, length: 60), [@project, issue]
    %br
    = paginate @issues, theme: "gitlab"

  .span6
    %table
      %thead
        %th Participants
      - @users.each do |user|
        %tr
          %td
            = image_tag gravatar_icon(user.email, 24), width: "24"
            &nbsp;
            = user.name
