= form_for @admin_team_member, :as => :team_member, :url => admin_team_member_path(@admin_team_member)  do |f|
  -if @admin_team_member.errors.any?
    .alert-message.block-message.error
      %ul
        - @admin_team_member.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    %label Project Access:
    .input
      = f.select :project_access, options_for_select(Project.access_options, @admin_team_member.project_access), {}, :class => "project-access-select"

  %br
  .actions
    = f.submit 'Save', :class => "btn primary"
    = link_to 'Cancel', :back, :class => "btn"

:css
  form select { 
    width:300px;
  }

:javascript
  $('select#team_member_user_id').chosen();
  $('select#team_member_project_id').chosen();
  $('select#team_member_repo_access').chosen();
  $('select#team_member_project_access').chosen();

