%h3
  Edit access
  %small
    = @admin_team_member.project.name
    &ndash;
    = @admin_team_member.user_name

%hr
%table.zebra-striped
  %tr
    %td User:
    %td= @admin_team_member.user_name
  %tr
    %td Project:
    %td= @admin_team_member.project.name
  %tr
    %td Since:
    %td= @admin_team_member.updated_at.stamp("Nov 11, 2010")
= render 'form'
