#infoblock
  %p
    %b Name:
    = @admin_team_member.user_name
  %p
    %b Project:
    = @admin_team_member.project.name
  %p
    %b Since:
    = @admin_team_member.updated_at.stamp("Nov 11, 2010")

#infoblock
  .span-6
    %b Project Access:
    = select_tag :project_access, options_for_select(Project.access_options, @admin_team_member.project_access), :class => "project-access-select", :disabled => true

  %br
  .span-6
    %b Repository Access:
    = select_tag :repo_access, options_for_select(Repository.access_options, @admin_team_member.repo_access), :class => "repo-access-select", :disabled => true

%br

= link_to 'Edit', edit_admin_team_member_path(@admin_project)
\|
= link_to 'Back', admin_team_members_path
