- redirect_params = { redirect: @redirect } if @redirect

.panel-content.rendered-terms
  = markdown_field(@term, :terms)
.row-content-block.footer-block.clearfix
  - if can?(current_user, :accept_terms, @term)
    .pull-right
      = button_to accept_term_path(@term, redirect_params), class: 'btn btn-success prepend-left-8' do
        = _('Accept terms')
  - if can?(current_user, :decline_terms, @term)
    .pull-right
      = button_to decline_term_path(@term, redirect_params), class: 'btn btn-default prepend-left-8' do
        =  _('Decline and sign out')
