- redirect_params = { redirect: @redirect } if @redirect

.card-body.rendered-terms
  = markdown_field(@term, :terms)
.card-footer.footer-block.clearfix
  - if can?(current_user, :accept_terms, @term)
    .float-right
      = button_to accept_term_path(@term, redirect_params), class: 'btn btn-success prepend-left-8' do
        = _('Accept terms')
  - else
    .pull-right
      = link_to root_path, class: 'btn btn-success prepend-left-8' do
        = _('Continue')
  - if can?(current_user, :decline_terms, @term)
    .float-right
      = button_to decline_term_path(@term, redirect_params), class: 'btn btn-default prepend-left-8' do
        =  _('Decline and sign out')
