- page_title _('GPG Keys')
- @content_class = "limit-container-width" unless fluid_layout

.row.gl-mt-3
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
      = _('GPG keys allow you to verify signed commits.')
  .col-lg-8
    %h5.gl-mt-0
      = _('Add a GPG key')
    %p.profile-settings-content
      - help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/project/repository/gpg_signed_commits/index.md') }
      = _('Before you can add a GPG key you need to %{help_link_start}Generate it.%{help_link_end}'.html_safe) % {help_link_start: help_link_start, help_link_end: '</a>'.html_safe }
    = render 'form'
    %hr
    %h5
      = _('Your GPG keys (%{count})') % { count: @gpg_keys.count }
    .gl-mb-3
      = render 'key_table'
