%h4 Overall stats
%ul
  %li
    Total:
    %strong= pluralize @project.builds.count(:all), 'build'
  %li
    Successful:
    %strong= pluralize @project.builds.success.count(:all), 'build'
  %li
    Failed:
    %strong= pluralize @project.builds.failed.count(:all), 'build'
  %li
    Success ratio:
    %strong
      #{success_ratio(@project.builds.success, @project.builds.failed)}%
  %li
    Commits covered:
    %strong
      = @project.ci_commits.count(:all)
