%h4 整体统计
%ul
  %li
    合计：
    %strong= pluralize @project.builds.count(:all), '次构建', '次构建'
  %li
    成功：
    %strong= pluralize @project.builds.success.count(:all), '次构建', '次构建'
  %li
    失败：
    %strong= pluralize @project.builds.failed.count(:all), '次构建', '次构建'
  %li
    成功率：
    %strong
      #{success_ratio(@project.builds.success, @project.builds.failed)}%
  %li
    提交覆盖：
    %strong
      = @project.ci_commits.count(:all)
