-# TODO: This file can be removed in favor of 'dashboard/projects/index.html.haml' as part of `:your_work_projects_vue` FF rollout
-# https://gitlab.com/gitlab-org/gitlab/-/issues/465889

- page_title _("Projects")

= render_dashboard_ultimate_trial(current_user)

= render "projects/last_push"

- if Feature.enabled?(:your_work_projects_vue, current_user)
  = render 'dashboard/projects_head'
  #js-your-work-projects-app{ data: { app_data: dashboard_projects_app_data } }
- else
  = render 'dashboard/projects_head', project_tab_filter: :starred
  = render 'dashboard/projects_nav'

  - if params[:filter_projects] || any_projects?(@projects)
    = render 'projects'
  - else
    = render empty_page
