- page_title _("Projects")

= render_dashboard_ultimate_trial(current_user)

= render "projects/last_push"
= render 'dashboard/projects_head', project_tab_filter: :starred

- if params[:filter_projects] || any_projects?(@projects)
  - if Feature.enabled?(:your_work_projects_vue, current_user)
    #js-your-work-projects-app
  - else
    = render 'projects'
- else
  = render empty_page
