- if @status
  %p
    %b Status:
    syntax is correct
    %i.fa.fa-ok.correct-syntax

  %table.table.table-bordered
    %thead
      %tr
        %th Parameter
        %th Value
    %tbody
      - @stages.each do |stage|
        - @builds.select { |build| build[:stage] == stage }.each do |build|
          %tr
            %td #{stage.capitalize} Job - #{build[:name]}
            %td
              %pre
                = simple_format build[:script]

              %br
              %b Tag list:
              = build[:tags]
              %br
              %b Refs only:
              = build[:only] && build[:only].join(", ")
              %br
              %b Refs except:
              = build[:except] && build[:except].join(", ")

-else
  %p
    %b Status:
    syntax is incorrect
    %i.fa.fa-remove.incorrect-syntax
  %b Error:
  = @error

    
