= render "commits/head"
%ul.nav.nav-pills
  = nav_link(path: 'repositories#show') do
    = link_to 'Recent', project_repository_path(@project)
  = nav_link(path: 'protected_branches#index') do
    = link_to 'Protected', project_protected_branches_path(@project)
  = nav_link(path: 'repositories#branches') do
    = link_to 'All', branches_project_repository_path(@project)
