- commit = update
.alert-message.entry
  = link_to project_commits_path(@project, :ref => commit.head.name) do 
    %p
      %strong
        = commit.head.name
        &ndash;
        = truncate(commit.id.to_s, :length => 10)
      = image_tag gravatar_icon(commit.author_email), :class => "", :width => 16
      = truncate(commit.safe_message, :length => 40)
      %span.right
        = time_ago_in_words(commit.committed_date)
        ago
