- commit = update
- commit = CommitDecorator.new(commit)
%tr
  %td
    = link_to project_commits_path(@project, commit.head.name) do
      %strong
        = commit.head.name
      - if commit.head.name == @project.root_ref
        %span.label default

  %td
    %div
      = link_to project_commits_path(@project, commit.id) do
        %code= commit.short_id
      = image_tag gravatar_icon(commit.author_email), class: "", width: 16
      = gfm escape_once(truncate(commit.title, length: 40))
  %td
    %span.right.cgray
      = time_ago_in_words(commit.committed_date)
      ago
