- commit = update
%tr
  %td
    = link_to project_commits_path(@project, :ref => commit.head.name) do 
      %strong
        = commit.head.name
      - if commit.head.name == @project.root_ref
        %span.label default

  %td
    %div
      = link_to project_commits_path(@project, commit.id) do
        %code= commit.id.to_s[0..10]
      = image_tag gravatar_icon(commit.author_email), :class => "", :width => 16
      = truncate(commit.safe_message, :length => 40)
  %td
    %span.right.cgray
      = time_ago_in_words(commit.committed_date)
      ago
