%ul.tabs
  %li{:class => "#{'active' if current_page?(project_repository_path(@project)) }"}
    = link_to project_repository_path(@project) do 
      %span
      Activities
  %li{:class => "#{'active' if current_page?(branches_project_repository_path(@project)) }"}
    = link_to branches_project_repository_path(@project) do 
      %span
      Branches
  %li{:class => "#{'active' if current_page?(tags_project_repository_path(@project)) }"}
    = link_to tags_project_repository_path(@project) do 
      %span 
      Tags
  %li{:class => "#{'active' if controller.controller_name == "hooks" }"}
    = link_to project_hooks_path do 
      %span
      Hooks
  %li{:class => "#{'active' if controller.controller_name == "deploy_keys"}"}
    - if can? current_user, :admin_project, @project
      = link_to project_deploy_keys_path(@project) do 
        %span
        Deploy Keys

