= render "head"
%h3
  = @project.name
  - if can? current_user, :download_code, @project
    = link_to "Download", archive_project_repository_path(@project), :class => "btn small right"


%hr
.alert-message.block-message.warning
  .input
    .input-prepend
      %span.add-on git clone
      = text_field_tag :project_clone, @project.url_to_repo, :class => "xlarge one_click_select git_clone_url"


%p
  Last commit was 
  %small
    %code= @activities.first.commit.id.to_s[0..10]

  = time_ago_in_words(@activities.first.commit.committed_date)
  ago to 
  = link_to project_commits_path(@project, :ref => @activities.first.head.name), :class => "visible_link" do 
    = @activities.first.head.name

%h4.cgray
  Recent Branches

%ul.unstyled
  - @activities.each do |update|
    = render "repositories/feed", :update => update, :project => @project

