- content_for(:body_class, "project-page dashboard")
= render "head"

#news-feed.news-feed
  .project-box.project-updates.ui-box.ui-box-small.ui-box-big
    - @activities.each do |update|
      %a.project-update.titled{:href => project_commits_path(@project, :ref => update.head.name)}
        = image_tag gravatar_icon(update.author_email), :class => "left", :width => 40
        %span.update-title
          = dashboard_feed_title(update)
        %span.update-author
          %strong= update.author_name
          authored
          = time_ago_in_words(update.created_at)
          ago
        .right-block
          %span.update-title
            %span.commit.tag= update.head.name
          %span.update-author
            .right= truncate update.commit.id

