= render "commits/head"
- unless @tags.empty?
  %table
    %thead
      %tr
        %th Name
        %th Last commit
        %th Updated at
        %th
    - @tags.each do |tag|
      - commit = Commit.new(tag.commit)
      - commit = CommitDecorator.decorate(commit)
      %tr
        %td
          %strong= link_to tag.name, project_commits_path(@project, tag.name), class: ""
        %td
          = link_to project_commit_path(@project, commit.id) do
            %code= commit.short_id
          = image_tag gravatar_icon(commit.author_email), class: "", width: 16
          = gfm escape_once(truncate(commit.title, length: 40))
        %td
          %span.update-author.right
            = time_ago_in_words(commit.committed_date)
            ago
            &nbsp;
        %td
          - if can? current_user, :download_code, @project
            = link_to "Download", archive_project_repository_path(@project, ref: tag.name), class: "visible_link download_repo_link"

- else
  %h3 No tags
