= render "head"
- unless @tags.empty?
  %table.zebra-striped.borders
    - @tags.each do |tag|
      %tr
        %td
          = tag.name
          %code= tag.commit.id.to_s[0..10]
          %span.update-author.right
            = time_ago_in_words(tag.commit.committed_date)
            ago
            &nbsp;
        %td
          - if can? current_user, :download_code, @project
            = link_to "Download", archive_project_repository_path(@project, :ref => tag.name), :class => "btn small"
          = link_to "Commits", project_commits_path(@project, :ref => tag.name), :class => "btn small"

- else 
  %h3 No tags
