%h3.page-title Authorize required
%main{:role => "main"}
  %p.h4
    Authorize
    %strong.text-info= @pre_auth.client.name
    to use your account?

  - if current_user.admin?
    .text-warning.prepend-top-20
      %p
        = icon("exclamation-triangle fw")
        You are an admin, which means granting access to
        %strong #{@pre_auth.client.name}
        will allow them to interact with GitLab as an admin as well. Proceed with caution.

  - if @pre_auth.scopes
    #oauth-permissions
      %p This application will be able to:
      %ul.text-info
        - @pre_auth.scopes.each do |scope|
          %li= t scope, scope: [:doorkeeper, :scopes]
  %hr/
  .actions
    = form_tag oauth_authorization_path, method: :post do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "Authorize", class: "btn btn-success wide pull-left"
    = form_tag oauth_authorization_path, method: :delete do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "Deny", class: "btn btn-danger prepend-left-10"
