- page_title _("Fork project")
- if @forked_project && !@forked_project.saved?
  .alert.alert-danger.alert-block
    %h4
      = sprite_icon('fork', size: 16)
      = _("Fork Error!")
    %p
      = _("You tried to fork %{link_to_the_project} but it failed for the following reason:").html_safe % { link_to_the_project: link_to_project(@project) }

    - if @forked_project && @forked_project.errors.any?
      %p
        &ndash;
        - error = @forked_project.errors.full_messages.first
        - if error.include?("already been taken")
          = _("Name has already been taken")
        - else
          = error

    %p
      = link_to _("Try to fork again"), new_project_fork_path(@project), title: _("Fork"), class: "btn"
