- page_title _("Forks")
- sort_value = @sort || sort_value_recently_created
- excluded_filters = [:state, :scope, :label_name, :milestone_id, :assignee_id, :author_id]
- created_at = { value: sort_value_created_date, text: sort_title_created_date, href: page_filter_path(sort: sort_value_recently_created, without: excluded_filters) }
- activity = { value: sort_value_latest_activity, text: sort_title_latest_activity, href: page_filter_path(sort: sort_value_latest_activity, without: excluded_filters) }

.top-area
  .nav-text
    - full_count_title = "#{@public_forks_count} public, #{@internal_forks_count} internal, and #{@private_forks_count} private"
    #{pluralize(@total_forks_count, 'fork')}: #{full_count_title}

  .gl-flex.gl-flex-col.md:gl-flex-row.md:gl-items-center
    = form_tag request.original_url, method: :get, class: 'project-filter-form gl-flex gl-mt-3 md:gl-mt-0', id: 'project-filter-form' do |f|
      = search_field_tag :filter_projects, nil, placeholder: _('Search forks'), class: 'projects-list-filter project-filter-form-field form-control input-short gl-grow',
        spellcheck: false, data: { 'filter-selector' => 'span.namespace-name' }

    .dropdown.gl-inline.md:gl-ml-3.gl-mt-3.md:gl-mt-0
      .btn-group{ role: 'group' }
        = gl_redirect_listbox_tag [created_at, activity], @sort, class: 'btn-group'
        = forks_sort_direction_button(sort_value)

    - if current_user && can?(current_user, :fork_project, @project)
      - if current_user.already_forked?(@project) && current_user.forkable_namespaces.size < 2
        = link_button_to namespace_project_path(current_user, current_user.fork_of(@project)), title: _('Go to your fork'), class: 'md:gl-ml-3', variant: :confirm, icon: 'fork' do
          = _('Fork')
      - else
        = link_button_to new_project_fork_path(@project), title: _("Fork project"), class: 'md:gl-ml-3 gl-mt-3 md:gl-mt-0', variant: :confirm, icon: 'fork' do
          = _('Fork')

= render 'projects', projects: @forks
