- page_title s_("ForkProject|Fork project")

- if Feature.enabled?(:fork_project_form, @project, default_enabled: :yaml)
  #fork-groups-mount-element{ data: { fork_illustration: image_path('illustrations/project-create-new-sm.svg'),
    endpoint: new_project_fork_path(@project, format: :json),
    new_group_path: new_group_path,
    project_full_path: project_path(@project),
    visibility_help_path: help_page_path("public_access/public_access"),
    project_id: @project.id,
    project_name: @project.name,
    project_path: @project.path,
    project_description: @project.description,
    project_visibility: @project.visibility,
    restricted_visibility_levels: Gitlab::CurrentSettings.restricted_visibility_levels.to_json } }
- else
  .row.gl-mt-3
    .col-lg-3
      %h4.gl-mt-0
        = s_("ForkProject|Fork project")
      %p
        = s_("ForkProject|A fork is a copy of a project.")
        %br
        = s_('ForkProject|Forking a repository allows you to make changes without affecting the original project.')
    .col-lg-9
      - if @own_namespace.present?
        .fork-thumbnail-container.js-fork-content
          %h5.gl-mt-0.gl-mb-0.gl-ml-3.gl-mr-3
            = s_("ForkProject|Select a namespace to fork the project")
          = render 'fork_button', namespace: @own_namespace
      #fork-groups-mount-element{ data: { endpoint: new_project_fork_path(@project, format: :json) } }
