.convdev-card-wrapper
  .convdev-card{ class: "convdev-card-#{score_level(card.percentage_score)}" }
    .convdev-card-title
      %h3
        = card.title
      .text-light
        = card.description
    .card-scores
      .card-score
        .card-score-value
          = format_score(card.instance_score)
        .card-score-name You
      .card-score
        .card-score-value
          = format_score(card.leader_score)
        .card-score-name Lead
    .card-score-big
      = number_to_percentage(card.percentage_score, precision: 1)
    .card-buttons
      - if card.blog
        %a{ href: card.blog }
          = icon('info-circle', 'aria-hidden' => 'true')
      - if card.docs
        %a{ href: card.docs }
          = icon('question-circle', 'aria-hidden' => 'true')
