- page_title _("Sign up")
- page_description _("Join GitLab today! You and your team can plan, build, and ship secure code all in one application. Get started here for free!")
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render_if_exists "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render_if_exists "layouts/google_tag_manager_body"

.signup-page
  .gl-mb-3.gl-p-4
    = render 'signup_box_form',
      url: registration_path(resource_name, ::Onboarding::StatusPresenter.registration_path_params(params: params)),
      button_text: _('Continue')

    - if signup_button_based_providers_enabled?
      .gl-text-center.gl-pt-5
        %label.gl-font-normal
          = _('Continue with:')
        .gl-flex.gl-flex-col.gl-gap-3
          - enabled_button_based_providers_for_signup.each do |provider|
            = render 'devise/shared/omniauth_provider_button',
              href: omniauth_authorize_path(:user, provider, onboarding_status_presenter.registration_omniauth_params),
              provider: provider,
              classes: 'js-track-omni-auth',
              data: { provider: provider, track_action: "#{provider}_sso", track_label: preregistration_tracking_label }

  = render 'devise/shared/sign_in_link',
    tracking_action: 'click_sign_in_from_registration_page',
    tracking_label: preregistration_tracking_label
