%li.todo.gl-border-t.gl-border-gray-50.hover:gl-border-blue-200.hover:gl-bg-blue-50.hover:gl-cursor-pointer.gl-relative{ class: "hover:gl-z-1 todo-#{todo.done? ? 'done' : 'pending'}", id: dom_id(todo) }
  .gl-flex.gl-flex-col.sm:gl-flex-row.sm:gl-items-center
    .todo-item.gl-overflow-hidden.gl-overflow-x-auto.gl-self-center.gl-w-full{ data: { testid: "todo-item-container" } }
      .todo-title.gl-pt-2.gl-pb-3.gl-px-2.gl-md-mb-1.gl-text-sm.gl-text-subtle

        = todo_target_state_pill(todo)

        %span.todo-target-title{ :id => dom_id(todo) + "_describer" }
          = todo_target_title(todo)

          - if !todo.for_design? && !todo.member_access_requested?
            &middot;

        %span
          = todo_parent_path(todo)

        %span.todo-label
          - if todo.target
            = link_to todo_target_name(todo), todo_target_path(todo), class: 'todo-target-link !gl-text-subtle !gl-no-underline', :'aria-describedby' => dom_id(todo) + "_describer", :'aria-label' => todo_target_aria_label(todo)
          - else
            = _("(removed)")

      .todo-body.gl-mb-2.gl-px-2.gl-flex.gl-items-start
        .todo-avatar.gl-hidden.sm:gl-inline-block
          = author_avatar(todo, size: 24)
        .todo-note
          - if todo_author_display?(todo)
            .author-name.gl-font-bold.gl-inline{ data: { testid: "todo-author-name-content" } }<
              - if todo.author
                = link_to_author(todo, self_added: todo.self_added?)
              - else
                = _('(removed)')
              - if todo.note.present?
                \:

          %span.action-name{ data: { testid: "todo-action-name-content" } }<
            - if !todo.note.present?
              = todo_action_name(todo)
              - unless todo.self_assigned?
                \.

          - if todo.self_assigned?
            %span.action-name<
              = todo_self_addressing(todo)
              \.
          - if todo.note.present?
            %span.action-description<
            = first_line_in_markdown(todo, :body, 125, project: todo.project, group: todo.group)

    .todo-timestamp.gl-whitespace-nowrap.sm:gl-ml-3.gl-mt-2.gl-mb-2.gl-sm-my-0.gl-px-2.gl-sm-px-0
      %span.todo-timestamp.gl-text-sm.gl-text-subtle
        = todo_due_date(todo)
        #{time_ago_with_tooltip(todo.created_at)}

    .todo-actions.gl-mr-4.gl-px-2.gl-sm-px-0.sm:gl-mx-0
      - if todo.pending?
        = render Pajamas::ButtonComponent.new(button_options: { class: 'btn-icon gl-flex js-done-todo has-tooltip', title: _('Mark as done')}, method: :delete, href: dashboard_todo_path(todo)), 'aria-label' => _('Mark as done') do
          = gl_loading_icon(inline: true, css_class: 'hidden')
          = sprite_icon('check', css_class: 'js-todo-button-icon')
        = render Pajamas::ButtonComponent.new(button_options: { class: 'btn-icon gl-flex js-undo-todo hidden has-tooltip', title: _('Undo')}, method: :patch, href: restore_dashboard_todo_path(todo)), 'aria-label' => _('Undo') do
          = gl_loading_icon(inline: true, css_class: 'hidden')
          = sprite_icon('redo', css_class: 'js-todo-button-icon')
      - else
        = render Pajamas::ButtonComponent.new(button_options: { class: 'btn-icon gl-flex js-add-todo has-tooltip', title: _('Re-add this to-do item')}, method: :patch, href: restore_dashboard_todo_path(todo)), 'aria-label' => _('Re-add this to-do item') do
          = gl_loading_icon(inline: true, css_class: 'hidden')
          = sprite_icon('redo', css_class: 'js-todo-button-icon')
