- page_title _("To-Do List")

= render_two_factor_auth_recovery_settings_check
= render_dashboard_ultimate_trial(current_user)

= render_if_exists 'shared/dashboard/saml_reauth_notice',
  groups_requiring_saml_reauth: todo_groups_requiring_saml_reauth(@todos)

- if current_user.todos.any?
  = render ::Layouts::PageHeadingComponent.new(_('To-Do List'))
  #js-todos-app-root
- else
  = render 'dashboard/todos/user_has_no_todos'
