-# TODO: add file size
-# TODO: add comment button
-# TODO: add viewed toggle
-# TODO: add raw\rendered toggle
-# TODO: add file actions:
-#  * view file
-#  * view replaced file (for image diffs)
-#  * view on environment
-#  * edit
-#  * open in WebIDE
-#  * toggle file comments
-#  * submodule compare

.rd-diff-file-header{ data: { testid: 'rd-diff-file-header' } }
  .rd-diff-file-toggle.gl-mr-2<
    = render Pajamas::ButtonComponent.new(category: :tertiary, size: :small, icon: 'chevron-down', button_options: { data: { opened: '', click: 'toggleFile' }, aria: { label: _('Hide file contents') } })
    = render Pajamas::ButtonComponent.new(category: :tertiary, size: :small, icon: 'chevron-right', button_options: { data: { closed: '', click: 'toggleFile' }, aria: { label: _('Show file contents') } })
  .rd-diff-file-title
    - if @diff_file.submodule?
      %span{ data: { testid: 'rd-diff-file-header-submodule' } }
        = helpers.sprite_icon('folder-git', file_icon: true)
        %strong
          = helpers.submodule_link(@diff_file.blob, @diff_file.content_sha, @diff_file.repository)
      = copy_path_button
    - else
      -# TODO: add icons for file types
      - if @diff_file.renamed_file?
        - old_path, new_path = helpers.mark_inline_diffs(@diff_file.old_path, @diff_file.new_path)
        %strong
          = old_path
        →
        %strong
          = new_path
      - else
        %strong
          = @diff_file.file_path
        - if @diff_file.deleted_file?
          = _("deleted")
        = copy_path_button
      - if @diff_file.mode_changed?
        %small #{@diff_file.a_mode} → #{@diff_file.b_mode}
      - if @diff_file.stored_externally? && @diff_file.external_storage == :lfs
        = helpers.gl_badge_tag(_('LFS'), variant: :neutral)
  .rd-diff-file-stats
    %span.rd-lines-added
      %span>= "+"
      %span{ "data-testid" => "js-file-addition-line" }= @diff_file.added_lines
    %span.rd-lines-removed
      %span>= "&#x2212;".html_safe
      %span{ "data-testid" => "js-file-deletion-line" }= @diff_file.removed_lines
