- if @sort.present?
  - default_sort_by = @sort
- else
  - if params[:sort]
    - default_sort_by = params[:sort]
  - else
    - default_sort_by = sort_value_recently_created


.dropdown.inline.js-group-filter-dropdown-wrap.append-right-10
  %button.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
    %span.dropdown-label
      = sort_options_hash[default_sort_by]
    = icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-align-right.dropdown-menu-selectable
    %li.dropdown-header
      = _("Sort by")
    - groups_sort_options_hash.each do |value, title|
      %li
        = link_to filter_groups_path(sort: value), class: "#{ 'is-active' if default_sort_by == value }" do
          = title
