.dropdown.inline.js-group-filter-dropdown-wrap
  %button.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
    %span.dropdown-label
      - if @sort.present?
        = sort_options_hash[@sort]
      - else
        = sort_title_recently_created
    = icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-align-right
    %li
      = link_to filter_groups_path(sort: sort_value_recently_created) do
        = sort_title_recently_created
      = link_to filter_groups_path(sort: sort_value_oldest_created) do
        = sort_title_oldest_created
      = link_to filter_groups_path(sort: sort_value_recently_updated) do
        = sort_title_recently_updated
      = link_to filter_groups_path(sort: sort_value_oldest_updated) do
        = sort_title_oldest_updated
