- user = local_assigns.fetch(:user, current_user)
- access = user&.max_member_access_for_group(group.id)

%li.group-row.py-3{ class: ('no-description' if group.description.blank?) }
  .stats
    %span
      = icon('bookmark')
      = number_with_delimiter(group.projects.non_archived.count)

    %span
      = icon('users')
      = number_with_delimiter(group.users.count)

    %span.visibility-icon.has-tooltip{ data: { container: 'body', placement: 'left' }, title: visibility_icon_description(group) }
      = visibility_level_icon(group.visibility_level, fw: false)

  .avatar-container.rect-avatar.s40
    = link_to group do
      = group_icon(group, class: "avatar s40 d-none d-sm-block")
  .title
    = link_to group.full_name, group, class: 'group-name'

    - if access&.nonzero?
      %span.user-access-role= Gitlab::Access.human_access(access)

  - if group.description.present?
    .description
      = markdown_field(group, :description)
