.gl-alert{ @alert_options, role: 'alert', class: base_class }
  - if @show_icon
    .gl-alert-icon-container
      = sprite_icon(icon, css_class: icon_classes)
  - if @dismissible
    = render Pajamas::ButtonComponent.new(category: :tertiary,
      icon: 'close',
      size: :small,
      button_options: dismissible_button_options)
  .gl-alert-content{ role: 'alert' }
    - if @title
      %h2.gl-alert-title
        = @title
    - if body?
      .gl-alert-body
        = body
    - if actions?
      .gl-alert-actions
        = actions
