.gl-broadcast-message.banner{ role: 'alert',
  class: "js-broadcast-notification-#{@id} #{@theme}", data: { testid: 'banner-broadcast-message', 'broadcast-banner': @banner } }
  .gl-broadcast-message-content
    .gl-broadcast-message-icon
      = sprite_icon('bullhorn')
    .gl-broadcast-message-text
      %h2.gl-sr-only= _('Admin message')
      = @message
  - if @dismissable
    = render Pajamas::ButtonComponent.new(category: :tertiary,
      icon: 'close',
      size: :small,
      button_options: { class: 'gl-broadcast-message-dismiss js-dismiss-current-broadcast-notification',
        'aria-label': _('Close'),
        data: { id: @id,
                expire_date: @expire_date,
                dismissal_path: @dismissal_path,
                cookie_key: @cookie_key,
                testid: @button_testid } })
