= content_tag tag, {**@button_options, **base_attributes, class: button_class, href: @href, target: @target } do
  - if @loading
    = gl_loading_icon(inline: true, css_class: 'gl-button-icon gl-button-loading-indicator')
  - if @icon && (!@loading || content)
    = sprite_icon(@icon, css_class: "gl-icon gl-button-icon #{@icon_classes}")
  - if content
    %span.gl-button-text{ class: @button_text_classes }
      = content
