- form = local_assigns.fetch(:form)

= form.fields_for :project_setting do |settings|
  %fieldset.form-group{ aria: { describedby: :merge_request_squash_options_description } }
    %legend{ class: 'gl-m-0 gl-heading-5 gl-border-0' }
      = s_('ProjectSettings|Squash commits when merging')
    %p.gl-text-subtle{ id: :merge_request_squash_options_description }
      = s_('ProjectSettings|Set the default behavior of this option in merge requests. Changes to this are also applied to existing merge requests.')
      = link_to s_('ProjectSettings|What is squashing?'), help_page_path('user/project/merge_requests/squash_and_merge.md'), target: '_blank', rel: 'noopener noreferrer'

    = settings.gitlab_ui_radio_component :squash_option,
      :never,
      s_('ProjectSettings|Do not allow'),
      help_text: s_('ProjectSettings|Squashing is never performed and the checkbox is hidden.')
    = settings.gitlab_ui_radio_component :squash_option,
      :default_off,
      s_('ProjectSettings|Allow'),
      help_text: s_('ProjectSettings|Checkbox is visible and unselected by default.')
    = settings.gitlab_ui_radio_component :squash_option,
      :default_on,
      s_('ProjectSettings|Encourage'),
      help_text: s_('ProjectSettings|Checkbox is visible and selected by default.')
    = settings.gitlab_ui_radio_component :squash_option,
      :always,
      s_('ProjectSettings|Require'),
      help_text: s_('ProjectSettings|Squashing is always performed. Checkbox is visible and selected, and users cannot change it.')
