- form = local_assigns.fetch(:form)

.form-group
  = form.label :squash_commit_template_or_default, s_('ProjectSettings|Squash commit message template'), class: 'gl-mb-0'
  %p.gl-text-subtle{ id: :squash_commit_template_or_default_description }
    = s_('ProjectSettings|The commit message used when squashing commits.')
  .mb-2
    = form.text_area :squash_commit_template_or_default, class: 'form-control gl-form-input', rows: 8, aria: { describedby: :squash_commit_template_or_default_description }, maxlength: Project::MAX_COMMIT_TEMPLATE_LENGTH, placeholder: s_('ProjectSettings|The default template will be applied on save.')
    %p.form-text.gl-text-subtle
      = s_('ProjectSettings|Leave empty to use default template.')
      = sprintf(s_('ProjectSettings|Maximum %{maxLength} characters.'), { maxLength: Project::MAX_COMMIT_TEMPLATE_LENGTH })
      - link = link_to('', help_page_path('user/project/merge_requests/commit_templates.md'), target: '_blank', rel: 'noopener noreferrer')
      = safe_format(s_('ProjectSettings|%{link_start}What variables can I use?%{link_end}'), tag_pair(link, :link_start, :link_end))
