- disable_collapse_class = local_assigns.fetch(:disable_collapse_class, false)
- collapsed_class = 'collapsed' if discussion.resolved? && !disable_collapse_class
- badge_counter = discussion_counter + 1 if local_assigns[:discussion_counter]
- show_toggle = local_assigns.fetch(:show_toggle, true)
- show_image_comment_badge = local_assigns.fetch(:show_image_comment_badge, false)

.discussion-notes{ class: collapsed_class }
  -# Save the first note position data so that we have a reference and can go
  -# to the first note position when we click on a badge diff discussion
  %ul.notes{ id: "discussion_#{discussion.id}", data: { discussion_id: discussion.id, position: discussion.notes[0].position.to_json } }
    - if discussion.try(:on_image?) && show_toggle
      %button.gl-button.diff-notes-collapse.js-diff-notes-toggle{ type: 'button' }
        = sprite_icon('collapse', css_class: 'collapse-icon')
      %button.gl-button.btn-transparent.badge.badge-pill.js-diff-notes-toggle{ type: 'button' }
        = badge_counter
    = render partial: "shared/notes/note", collection: discussion.notes, as: :note, locals: { badge_counter: badge_counter, show_image_comment_badge: show_image_comment_badge }

  .flash-container

  .discussion-reply-holder
    - if can_create_note?
      %a.user-avatar-link.d-none.d-sm-block{ href: user_path(current_user) }
        = image_tag avatar_icon_for_user(current_user), alt: current_user.to_reference, class: 'avatar s40'
      .discussion-with-resolve-btn
        = link_to_reply_discussion(discussion)
    - elsif !current_user
      .disabled-comment.text-center
        Please
        = link_to "register", new_session_path(:user, redirect_to_referer: 'yes')
        or
        = link_to "sign in", new_session_path(:user, redirect_to_referer: 'yes')
        to reply
