- if discussion.can_resolve?(current_user)
  %resolve-all-btn{ ":namespace-path" => "'#{discussion.project.namespace.path}'",
      ":project-path" => "'#{discussion.project.path}'",
      ":discussion-id" => "'#{discussion.id}'",
      ":merge-request-id" => "#{discussion.first_note.noteable.iid}",
      "inline-template" => true,
      "v-cloak" => true }
    %button.btn.btn-default{ type: "button", "@click" => "resolve", ":disabled" => "loading" }
      = icon("spinner spin", "v-show" => "loading")
      {{ buttonText }}
