%tr
  %td
    #{Gitlab::Auth::OAuth::Provider.label_for(identity.provider)} (#{identity.provider}) #{identity.saml_provider_id.present? ? "for #{link_to identity.saml_provider.group.path, identity.saml_provider.group} ID: #{identity.saml_provider_id}".html_safe : ""}
  %td
    = identity.extern_uid
  %td
    = link_to edit_admin_user_identity_path(@user, identity), class: 'gl-button btn btn-sm btn-grouped' do
      = _("Edit")
    = link_to [:admin, @user, identity], method: :delete,
      class: 'gl-button btn btn-sm btn-danger',
      data: { confirm: _("Are you sure you want to remove this identity?") } do
      = _('Delete')
