- add_to_breadcrumbs _('Users'), admin_users_path
- breadcrumb_title @user.name
- page_title _("Identities"), @user.name, _("Users")
= render 'admin/users/head'

- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th= _('Provider')
          %th= _('Identifier')
          %th
      = render @identities
- else
  %h4= _('This user has no identities')
