- add_to_breadcrumbs "Users", admin_users_path
- breadcrumb_title @user.name
- page_title _("Identities"), @user.name, _("Users")
= render 'admin/users/head'

= link_to _('New identity'), new_admin_user_identity_path, class: 'float-right gl-button btn btn-success'
- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th= _('Provider')
          %th= _('Identifier')
          %th
      = render @identities
- else
  %h4= _('This user has no identities')

= render partial: 'admin/users/modals'
