-# haml-lint:disable UnnecessaryStringOutput

= auto_generated_comment

:plain
  # GraphQL API Resources

  This documentation is self-generated based on GitLab current GraphQL schema.

  The API can be explored interactively using the [GraphiQL IDE](../index.md#graphiql).

Each table below documents a GraphQL type. Types match loosely to models, but not all
fields and methods on a model are available via GraphQL.
\
- objects.each do |type|
  - unless type[:fields].empty?
    = "## #{type[:name]}"
    - if type[:description]&.present?
      \
      = type[:description]
    \
    ~ "| Name  | Type  | Description |"
    ~ "| ---   |  ---- | ----------  |"
    - type[:fields].each do |field|
      = "| `#{field[:name]}` | #{render_field_type(field[:type][:info])} | #{field[:description]} |"
    \
