- page_title "Exceptions"
= render "header_title"

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_issues_url(@project.namespace, @project, :atom, private_token: current_user.private_token), title: "#{@project.name} issues")

.project-issuable-filter
  = render 'shared/issuable/filter', type: :exceptions

.issues-holder
  = render "exceptions"
