- user = member.user
- return unless user
%li{class: dom_class(member)}
  = image_tag gravatar_icon(user.email, 16), class: "avatar s16"
  %strong= user.name
  %span.cgray= user.username
  - if user == current_user
    %span.label.label-success It's you

  %span.pull-right
    - if @group.owners.include?(user)
      %span.label.label-info Group Owner
    - else
      = member.human_access

    - if show_controls && user != @group.owner && user != current_user
      = link_to group_users_group_path(@group, member), confirm: remove_user_from_group_message(@group, user), method: :delete, remote: true, class: "btn-tiny btn btn-remove", title: 'Remove user from group' do
        %i.icon-minus.icon-white

