- link = link_to _('Runner API'), help_page_path('api/runners.md')

%h4
  = _('Group runners')

%p
  = _('These runners are shared across projects in this group.')
  = _('Group runners can be managed with the %{link}.').html_safe % { link: link }

-# Proper policies should be implemented per
-# https://gitlab.com/gitlab-org/gitlab-foss/issues/45894
.bs-callout.help-callout
  - if can?(current_user, :admin_pipeline, @group) && valid_runner_registrars.include?('group')
    = render partial: 'ci/runner/how_to_setup_runner_automatically',
             locals: { type: 'group',
                       clusters_path: group_clusters_path(@group) }
    - if params[:ci_runner_templates]
      %hr
      = render partial: 'ci/runner/setup_runner_in_aws',
               locals: { registration_token: @group.runners_token }
    %hr
    = render partial: 'ci/runner/how_to_setup_runner',
             locals: { registration_token: @group.runners_token,
                       type: 'group',
                       reset_token_url: reset_registration_token_group_settings_ci_cd_path,
                       project_path: '',
                       group_path: @group.full_path }
    %br
  - else
    = _('Please contact an admin to register runners.')
    = link_to _('Learn more.'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'runner-registration'), target: '_blank', rel: 'noopener noreferrer'

