<<<<<<< HEAD
- page_title _('Edit'), "#{@runner.description} ##{@runner.id}", 'Runners'
=======
- page_title "Edit", "#{@runner.description} ##{@runner.id}", "Runners"
>>>>>>> f67fa26c271... Undo unrelated changes from b1fa486b74875df8cddb4aab8f6d31c036b38137

%h4 Runner ##{@runner.id}

%hr
  = render 'shared/runners/form', runner: @runner, runner_form_url: group_runner_path(@group, @runner)
