= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :admin_notification_email, 'Abuse reports notification email', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :admin_notification_email, class: 'form-control'
        .form-text.text-muted
          Abuse reports will be sent to this address if it is set. Abuse reports are always available in the admin area.

  = f.submit 'Save changes', class: "btn btn-success"
