= form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-ci-cd-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :auto_devops_enabled, class: 'form-check-input'
        = f.label :auto_devops_enabled, class: 'form-check-label' do
          %strong= s_('CICD|Default to Auto DevOps pipeline for all projects')
        .form-text.text-muted
          = s_('CICD|The Auto DevOps pipeline runs by default in all projects with no CI/CD configuration file.')
          = link_to _('What is Auto DevOps?'), help_page_path('topics/autodevops/index.md'), target: '_blank'
    .form-group
      = f.label :auto_devops_domain, s_('AdminSettings|Auto DevOps domain'), class: 'label-bold'
      = f.text_field :auto_devops_domain, class: 'form-control gl-form-input', placeholder: 'domain.com'
      .form-text.text-muted
        = s_("AdminSettings|Specify a domain to use by default for every project's Auto Review Apps and Auto Deploy stages.")
    .form-group
      .form-check
        = f.check_box :shared_runners_enabled, class: 'form-check-input'
        = f.label :shared_runners_enabled, class: 'form-check-label' do
          = s_("AdminSettings|Enable shared runners for new projects")

    = render_if_exists 'admin/application_settings/shared_runners_minutes_setting', form: f

    .form-group
      = f.label :shared_runners_text, _('Shared runners details'), class: 'label-bold'
      = f.text_area :shared_runners_text, class: 'form-control gl-form-input', rows: 4
      .form-text.text-muted= _("Add a custom message with details about the instance's shared runners. The message is visible in group and project CI/CD settings, in the Runners section. Markdown is supported.")
    .form-group
      = f.label :max_artifacts_size, _('Maximum artifacts size (MB)'), class: 'label-bold'
      = f.number_field :max_artifacts_size, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _("Set the maximum file size for each job's artifacts")
        = link_to sprite_icon('question-o'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'maximum-artifacts-size')
    .form-group
      = f.label :default_artifacts_expire_in, _('Default artifacts expiration'), class: 'label-bold'
      = f.text_field :default_artifacts_expire_in, class: 'form-control gl-form-input'
      .form-text.text-muted
        = html_escape(_("Set the default expiration time for each job's artifacts. 0 for unlimited. The default unit is in seconds, but you can define an alternative. For example: %{code_open}4 mins 2 sec%{code_close}, %{code_open}2h42min%{code_close}.")) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
        = link_to sprite_icon('question-o'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'default-artifacts-expiration')
    .form-group
      .form-check
        = f.check_box :keep_latest_artifact, class: 'form-check-input'
        = f.label :keep_latest_artifact, class: 'form-check-label' do
          %strong
            = s_('AdminSettings|Keep the latest artifacts for all jobs in the latest successful pipelines')
        .form-text.text-muted
          = s_('AdminSettings|The latest artifacts for all jobs in the most recent successful pipelines in each project are stored and do not expire.')
    .form-group
      = f.label :archive_builds_in_human_readable, _('Archive jobs'), class: 'label-bold'
      = f.text_field :archive_builds_in_human_readable, class: 'form-control gl-form-input', placeholder: 'never'
      .form-text.text-muted
        = html_escape(_("Set the duration for which the jobs will be considered as old and expired. Once that time passes, the jobs will be archived and no longer able to be retried. Make it empty to never expire jobs. It has to be no less than 1 day, for example: %{code_open}15 days%{code_close}, %{code_open}1 month%{code_close}, %{code_open}2 years%{code_close}.")) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
    .form-group
      .form-check
        = f.check_box :protected_ci_variables, class: 'form-check-input'
        = f.label :protected_ci_variables, class: 'form-check-label' do
          %strong= s_('AdminSettings|Protect CI/CD variables by default')
        .form-text.text-muted
          = s_('AdminSettings|New CI/CD variables in projects and groups default to protected.')
    .form-group
      = f.label :ci_config_path, _('Default CI/CD configuration file'), class: 'label-bold'
      = f.text_field :default_ci_config_path, class: 'form-control gl-form-input', placeholder: '.gitlab-ci.yml'
      %p.form-text.text-muted
        = _("The default CI/CD configuration file and path for new projects.").html_safe
        = link_to sprite_icon('question-o'), help_page_path('ci/pipelines/settings', anchor: 'specify-a-custom-cicd-configuration-file'), target: '_blank'

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
