- expanded = integration_expanded?('diagramsnet_')

= render ::Layouts::SettingsBlockComponent.new(_('Diagrams.net'),
  id: 'js-diagramsnet-settings',
  expanded: expanded) do |c|
  - c.with_description do
    = _('Render diagrams in your documents using diagrams.net.')
    = link_to _('Learn more.'), help_page_path('administration/integration/diagrams_net.md'), target: '_blank', rel: 'noopener noreferrer'
  - c.with_body do
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-diagramsnet-settings'), html: { class: 'fieldset-form', id: 'diagramsnet-settings' } do |f|
      = form_errors(@application_setting) if expanded

      %fieldset
        .form-group
          = f.gitlab_ui_checkbox_component :diagramsnet_enabled,
            _('Enable diagrams.net')
        .form-group
          = f.label :diagramsnet_url, _('Diagrams.net URL'), class: 'label-bold'
          = f.text_field :diagramsnet_url, class: 'form-control gl-form-input', placeholder: 'https://embed.diagrams.net'
          .form-text.gl-text-subtle
            = _('The hostname of your diagrams.net server.')

      = f.submit _('Save changes'), pajamas_button: true
