= gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-merge-request-settings'), html: { class: 'fieldset-form', id: 'merge-request-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :diff_max_patch_bytes, _('Maximum diff patch size (bytes)'), class: 'label-light'
      = f.number_field :diff_max_patch_bytes, class: 'form-control gl-form-input'
      %span.form-text.gl-text-subtle
        = _("Diff files surpassing this limit will be presented as 'too large' and won't be expandable.")

        = link_to sprite_icon('question-o'),
          help_page_path('administration/diff_limits.md',
          anchor: 'diff-limits-administration')

      = f.label :diff_max_files, _('Maximum files in a diff'), class: 'label-light'
      = f.number_field :diff_max_files, class: 'form-control gl-form-input'
      %span.form-text.gl-text-subtle
        = _("Diff files surpassing this limit will be presented as 'too large' and won't be expandable.")

        = link_to sprite_icon('question-o'),
          help_page_path('administration/diff_limits.md',
          anchor: 'diff-limits-administration')

      = f.label :diff_max_lines, _('Maximum lines in a diff'), class: 'label-light'
      = f.number_field :diff_max_lines, class: 'form-control gl-form-input'
      %span.form-text.gl-text-subtle
        = _("Diff files surpassing this limit will be presented as 'too large' and won't be expandable.")

        = link_to sprite_icon('question-o'),
          help_page_path('administration/diff_limits.md',
          anchor: 'diff-limits-administration')
  = f.submit _('Save changes'), pajamas_button: true
