= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        - is_enabled = @application_setting.elt_database_dump_enabled?
        - is_available = @application_setting.elt_database_dump_available?
        .form-check
          = f.label :elt_database_dump_enabled do
            = f.check_box :elt_database_dump_enabled, disabled: !is_available
            Enable Meltano Database Cron Job
          .form-text.text-muted
            - if is_enabled
              = meltano_elt_description_text
            - else
              - if is_available
                = meltano_elt_disabled_description_text
              - else
                = meltano_elt_unavailable_description_text

  = f.submit 'Save changes', class: "btn btn-success"

