- expanded = integration_expanded?('floc_')

%section.settings.no-animate#js-floc-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('FloC|Federated Learning of Cohorts')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('FloC|Configure whether you want to participate in FloC.').html_safe
      = link_to sprite_icon('question-o'), 'https://github.com/WICG/floc', target: '_blank', class: 'has-tooltip', title: _('More information')

  .settings-content
    = form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-floc-settings'), html: { class: 'fieldset-form', id: 'floc-settings' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          .form-check
            = f.check_box :floc_enabled, class: 'form-check-input'
            = f.label :floc_enabled, s_('FloC|Enable FloC (Federated Learning of Cohorts)'), class: 'form-check-label'
      = f.submit s_('Save changes'), class: 'gl-button btn btn-confirm'
