= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  - if License.feature_available?(:repository_mirrors)
    = render partial: 'repository_mirrors_form', locals: { f: f }

  = render partial: 'elasticsearch_form', locals: { f: f }

  - if Gitlab.com? || Rails.env.development?
    %fieldset
      %legend Slack application
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            = f.label :slack_app_enabled do
              = f.check_box :slack_app_enabled
              Enable Slack application
            .help-block
              This option is only available on GitLab.com
      .form-group
        = f.label :slack_app_id, 'APP_ID', class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :slack_app_id, class: 'form-control'
      .form-group
        = f.label :slack_app_secret, 'APP_SECRET', class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :slack_app_secret, class: 'form-control'
      .form-group
        = f.label :slack_app_verification_token, 'Verification token', class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :slack_app_verification_token, class: 'form-control'

  - if Gitlab::Geo.license_allows?
    %fieldset
      %legend GitLab Geo
      %p
        These settings will only take effect if Geo is enabled and require a restart to take effect.
      .form-group
        = f.label :geo_status_timeout, 'Connection timeout', class: 'control-label col-sm-2'
        .col-sm-10
          = f.number_field :geo_status_timeout, class: 'form-control'
          .help-block
            The amount of seconds after which a request to get a secondary node
            status will time out.

  - if License.feature_available?(:external_authorization_service)
    = render partial: 'external_authorization_service_form', locals: { f: f }

  .form-actions
    = f.submit 'Save', class: 'btn btn-save'
