= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-git-http-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %h5
      = _('Unauthenticated Git HTTP request rate limit')
    .form-group
      = f.gitlab_ui_checkbox_component :throttle_unauthenticated_git_http_enabled,
        _('Enable unauthenticated Git HTTP request rate limit'),
        help_text: _('Helps reduce unauthenticated Git HTTP request volume for git paths.')
    .form-group
      = f.label :throttle_unauthenticated_git_http_requests_per_period, _('Maximum unauthenticated Git HTTP requests per period per IP'), class: 'gl-font-bold'
      = f.number_field :throttle_unauthenticated_git_http_requests_per_period, class: 'form-control gl-form-input'
    .form-group
      = f.label :throttle_unauthenticated_git_http_period_in_seconds, _('Unauthenticated Git HTTP rate limit period in seconds'), class: 'gl-font-bold'
      = f.number_field :throttle_unauthenticated_git_http_period_in_seconds, class: 'form-control gl-form-input'

  = f.submit _('Save changes'), pajamas_button: true
