= form_for @application_setting, url: metrics_and_profiling_admin_application_settings_path(anchor: 'js-grafana-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :grafana_enabled, class: 'form-check-input'
        = f.label :grafana_enabled, class: 'form-check-label' do
          = _("Add a link to Grafana")
        .form-text.text-muted
          = _("A Metrics Dashboard menu item appears in the Monitoring section of the Admin Area.")
    .form-group
      = f.label :grafana_url, _('Grafana URL'), class: 'label-bold'
      = f.text_field :grafana_url, class: 'form-control gl-form-input', placeholder: '/-/grafana'
      %span.form-text.text-muted#support_help_block= _('URL of the Grafana instance to link to from the Metrics Dashboard menu item.')

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
