= form_for @application_setting, url: metrics_and_profiling_admin_application_settings_path(anchor: 'js-grafana-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      = _("Add a Grafana button in the admin sidebar, monitoring section, to access a variety of statistics on the health and performance of GitLab.")
      = link_to sprite_icon('question-o'), help_page_path('administration/monitoring/performance/grafana_configuration.md')
    .form-group
      .form-check
        = f.check_box :grafana_enabled, class: 'form-check-input'
        = f.label :grafana_enabled, class: 'form-check-label' do
          = _('Enable access to Grafana')
    .form-group
      = f.label :grafana_url, _('Grafana URL'), class: 'label-bold'
      = f.text_field :grafana_url, class: 'form-control gl-form-input', placeholder: '/-/grafana'

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
