= gitlab_ui_form_for @application_setting, url: preferences_admin_application_settings_path(anchor: 'js-help-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :help_page_text, _('Additional text to show on the Help page'), class: 'label-bold'
      = f.text_area :help_page_text, class: 'form-control gl-form-input', rows: 4
      .form-text.gl-text-subtle= _('Markdown enabled.')
    .form-group
      = f.gitlab_ui_checkbox_component :help_page_hide_commercial_content, _('Hide marketing-related entries from the Help page')
    .form-group
      = f.label :help_page_support_url, _('Support page URL'), class: 'label-bold'
      = f.text_field :help_page_support_url, class: 'form-control gl-form-input', placeholder: 'https://company.example.com/get-help', :'aria-describedby' => 'support_help_block'
      %span.form-text.gl-text-subtle#support_help_block= _('Alternate support URL for Help page and Help dropdown.')

    .form-group
      = f.label :help_page_documentation_base_url, _('Documentation pages URL'), class: 'gl-font-bold'
      = f.text_field :help_page_documentation_base_url, class: 'form-control gl-form-input', placeholder: 'https://docs.gitlab.com'
      - docs_link_url = help_page_path('administration/settings/help_page.md', anchor: 'destination-requirements')
      - docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: docs_link_url }
      %span.form-text.gl-text-subtle#support_help_block= html_escape(_('Requests for pages at %{code_start}%{help_text_url}%{code_end} redirect to the URL. The destination must meet certain requirements. %{docs_link_start}Learn more%{docs_link_end}.')) % { code_start: '<code>'.html_safe, help_text_url: help_url, code_end: '</code>'.html_safe, docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }
  = f.submit _('Save changes'), pajamas_button: true
