= form_for @application_setting, url: admin_application_settings_path(anchor: 'js-ip-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :throttle_unauthenticated_enabled, class: 'form-check-input'
        = f.label :throttle_unauthenticated_enabled, class: 'form-check-label' do
          Enable unauthenticated request rate limit
        %span.form-text.text-muted
          Helps reduce request volume (e.g. from crawlers or abusive bots)
    .form-group
      = f.label :throttle_unauthenticated_requests_per_period, 'Max requests per period per IP', class: 'label-bold'
      = f.number_field :throttle_unauthenticated_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_unauthenticated_period_in_seconds, 'Rate limit period in seconds', class: 'label-bold'
      = f.number_field :throttle_unauthenticated_period_in_seconds, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :throttle_authenticated_api_enabled, class: 'form-check-input'
        = f.label :throttle_authenticated_api_enabled, class: 'form-check-label' do
          Enable authenticated API request rate limit
        %span.form-text.text-muted
          Helps reduce request volume (e.g. from crawlers or abusive bots)
    .form-group
      = f.label :throttle_authenticated_api_requests_per_period, 'Max requests per period per user', class: 'label-bold'
      = f.number_field :throttle_authenticated_api_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_api_period_in_seconds, 'Rate limit period in seconds', class: 'label-bold'
      = f.number_field :throttle_authenticated_api_period_in_seconds, class: 'form-control'
    .form-group
      .form-check
        = f.check_box :throttle_authenticated_web_enabled, class: 'form-check-input'
        = f.label :throttle_authenticated_web_enabled, class: 'form-check-label' do
          Enable authenticated web request rate limit
        %span.form-text.text-muted
          Helps reduce request volume (e.g. from crawlers or abusive bots)
    .form-group
      = f.label :throttle_authenticated_web_requests_per_period, 'Max requests per period per user', class: 'label-bold'
      = f.number_field :throttle_authenticated_web_requests_per_period, class: 'form-control'
    .form-group
      = f.label :throttle_authenticated_web_period_in_seconds, 'Rate limit period in seconds', class: 'label-bold'
      = f.number_field :throttle_authenticated_web_period_in_seconds, class: 'form-control'

  = f.submit 'Save changes', class: "btn btn-success"
