= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :sentry_enabled do
            = f.check_box :sentry_enabled
            Enable Sentry
          .form-text.text-muted
            %p This setting requires a restart to take effect.
            Sentry is an error reporting and logging tool which is currently not shipped with GitLab, get it here:
            %a{ href: 'https://getsentry.com', target: '_blank', rel: 'noopener noreferrer' } https://getsentry.com

    .form-group.row
      = f.label :sentry_dsn, 'Sentry DSN', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :sentry_dsn, class: 'form-control'

    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :clientside_sentry_enabled do
            = f.check_box :clientside_sentry_enabled
            Enable Clientside Sentry
          .form-text.text-muted
            Sentry can also be used for reporting and logging clientside exceptions.
            %a{ href: 'https://sentry.io/for/javascript/', target: '_blank', rel: 'noopener noreferrer' } https://sentry.io/for/javascript/

    .form-group.row
      = f.label :clientside_sentry_dsn, 'Clientside Sentry DSN', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :clientside_sentry_dsn, class: 'form-control'

  = f.submit 'Save changes', class: "btn btn-success"
