= render ::Layouts::SettingsBlockComponent.new(_('Members API rate limits'),
  id: 'js-members-api-limits-settings',
  expanded: expanded_by_default?) do |c|
  - c.with_description do
    = _('Limit the number of project or group members a user can delete per minute through API requests.')
    = link_to _('Learn more.'), help_page_path('administration/settings/rate_limit_on_members_api.md'), target: '_blank', rel: 'noopener noreferrer'
  - c.with_body do
    = gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-members-api-limits-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          = f.label :members_delete_limit, _('Maximum requests per minute per group / project'), class: 'label-bold'
          = f.number_field :members_delete_limit, min: 0, class: 'form-control gl-form-input'
          .form-text.gl-text-subtle
            = _("Set to 0 to disable the limit.")

      = f.submit _('Save changes'), pajamas_button: true
