= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-note-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :notes_create_limit, _('Maximum requests per minute'), class: 'label-bold'
      = f.number_field :notes_create_limit, class: 'form-control gl-form-input'
    .form-group
      = f.label :notes_create_limit_allowlist, _('Users to exclude from the rate limit'), class: 'label-bold'
      = f.text_area :notes_create_limit_allowlist_raw, class: 'form-control gl-form-input', rows: 5, aria: { describedBy: 'note-create-limits-allowlist-field-description' }
      .form-text.gl-text-subtle{ id: 'note-create-limits-allowlist-field-description' }
        = _('List of users who are allowed to exceed the rate limit. Example: username1, username2')


  = f.submit _('Save changes'), pajamas_button: true
