= form_for @application_setting, url: admin_application_settings_path(anchor: 'js-pages-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  = hidden_field(:redirect_path, preferences_admin_application_settings_path)

  %fieldset
    .form-group
      = f.label :max_pages_size, 'Maximum size of pages (MB)', class: 'label-bold'
      = f.number_field :max_pages_size, class: 'form-control'
      .form-text.text-muted 0 for unlimited
    .form-group
      .form-check
        = f.check_box :pages_domain_verification_enabled, class: 'form-check-input'
        = f.label :pages_domain_verification_enabled, class: 'form-check-label' do
          Require users to prove ownership of custom domains
      .form-text.text-muted
        Domain verification is an essential security measure for public GitLab
        sites. Users are required to demonstrate they control a domain before
        it is enabled
        = link_to icon('question-circle'), help_page_path('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')

  = f.submit 'Save changes', class: "btn btn-success"
