= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      = f.label :max_pages_size, 'Maximum size of pages (MB)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :max_pages_size, class: 'form-control'
        .form-text.text-muted 0 for unlimited
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :pages_domain_verification_enabled do
            = f.check_box :pages_domain_verification_enabled
            Require users to prove ownership of custom domains
        .form-text.text-muted
          Domain verification is an essential security measure for public GitLab
          sites. Users are required to demonstrate they control a domain before
          it is enabled
          = link_to icon('question-circle'), help_page_path('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')

  = f.submit 'Save changes', class: "btn btn-success"
