= gitlab_ui_form_for @application_setting, url: preferences_admin_application_settings_path(anchor: 'js-pages-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      - pages_link_url = help_page_path('administration/pages/_index.md', anchor: 'custom-domain-verification')
      - pages_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: pages_link_url }
      = f.gitlab_ui_checkbox_component :pages_domain_verification_enabled,
        s_("AdminSettings|Require users to prove ownership of custom domains"),
        help_text: s_('AdminSettings|Domain verification is an essential security measure for public GitLab sites. Users are required to demonstrate they control a domain before it is enabled. %{link_start}Learn more%{link_end}.').html_safe % { link_start: pages_link_start, link_end: '</a>'.html_safe }
    - if Gitlab.config.pages.access_control
      .form-group
        - pages_link_url = help_page_path('administration/pages/_index.md', anchor: 'disable-public-access-to-all-pages-sites')
        - pages_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: pages_link_url }
        = f.gitlab_ui_checkbox_component :force_pages_access_control,
          s_("AdminSettings|Disable public access to Pages sites"),
          help_text: s_("AdminSettings|Select to disable public access for Pages sites, which requires users to sign in for access to the Pages sites in your instance. %{link_start}Learn more%{link_end}.").html_safe % { link_start: pages_link_start, link_end: '</a>'.html_safe }
    .form-group
      = f.label :max_pages_size, _('Maximum size of pages (MiB)'), class: 'label-bold'
      = f.number_field :max_pages_size, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        - link = link_to('', help_page_path('administration/pages/_index.md', anchor: 'set-maximum-size-of-gitlab-pages-site-in-a-project'), target: '_blank', rel: 'noopener noreferrer')
        = safe_format(s_('AdminSettings|Set the maximum size of GitLab Pages per project (0 for unlimited). %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end))
    .form-group
      = f.label :max_pages_custom_domains_per_project, s_('AdminSettings|Maximum number of custom domains per project'), class: 'label-bold'
      = f.number_field :max_pages_custom_domains_per_project, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        - link = link_to('', help_page_path('administration/pages/_index.md', anchor: 'set-maximum-number-of-gitlab-pages-custom-domains-for-a-project'), target: '_blank', rel: 'noopener noreferrer')
        = safe_format(s_('AdminSettings|Set the maximum number of GitLab Pages custom domains per project (0 for unlimited). %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end))
    .form-group
      = f.label :pages_extra_deployments_default_expiry_seconds, s_('AdminSettings|Default expiration time for parallel deployments (in seconds)'), class: 'label-bold'
      = f.number_field :pages_extra_deployments_default_expiry_seconds, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        - link = link_to('', help_page_path('user/project/pages/_index.md', anchor: 'parallel-deployments'), target: '_blank', rel: 'noopener noreferrer')
        = safe_format(s_('AdminSettings|Set the default time after which parallel deployments expire (0 for unlimited). %{link_start}What are parallel deployments%{link_end}?'), tag_pair(link, :link_start, :link_end))
    %h5
      = s_("AdminSettings|Configure Let's Encrypt")
    %p
      - link = link_to('', "https://letsencrypt.org/", target: '_blank', rel: 'noopener noreferrer')
      = safe_format(_("%{lets_encrypt_link_start}Let's Encrypt%{lets_encrypt_link_end} is a free, automated, and open certificate authority (CA) that issues digital certificates to enable HTTPS (SSL/TLS) for sites."), tag_pair(link, :lets_encrypt_link_start, :lets_encrypt_link_end))
      .form-group
        = f.label :lets_encrypt_notification_email, s_("AdminSettings|Let's Encrypt email"), class: 'label-bold'
        = f.text_field :lets_encrypt_notification_email, class: 'form-control gl-form-input'
        .form-text.gl-text-subtle
          - link = link_to('', help_page_path('administration/pages/_index.md', anchor: 'lets-encrypt-integration'), target: '_blank', rel: 'noopener noreferrer')
          = safe_format(s_("AdminSettings|A Let's Encrypt account will be configured for this GitLab instance using this email address. You will receive emails to warn of expiring certificates. %{link_start}Learn more%{link_end}."), tag_pair(link, :link_start, :link_end))
      .form-group
        - terms_of_service_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: lets_encrypt_terms_of_service_admin_application_settings_path }
        = f.gitlab_ui_checkbox_component :lets_encrypt_terms_of_service_accepted,
          s_("AdminSettings|I have read and agree to the Let's Encrypt %{link_start}Terms of Service%{link_end} (PDF).").html_safe % { link_start: terms_of_service_link_start, link_end: '</a>'.html_safe }

  = f.submit _('Save changes'), pajamas_button: true
