= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-performance-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      - help_link = help_page_path('administration/operations/fast_ssh_key_lookup.md')
      - help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_link }
      = f.gitlab_ui_checkbox_component :authorized_keys_enabled, _('Use %{code_start}authorized_keys%{code_end} file to authenticate SSH keys').html_safe % { code_start: '<code>'.html_safe, code_end: '</code>'.html_safe },
      help_text: _('Authenticate user SSH keys without requiring additional configuration. Performance of GitLab can be improved by using the GitLab database instead. %{link_start}How do I configure authentication using the GitLab database? %{link_end}').html_safe % { link_start: help_link_start, link_end: '</a>'.html_safe}
    .form-group
      = f.label :raw_blob_request_limit, _('Raw blob request rate limit per minute'), class: 'label-bold'
      = f.number_field :raw_blob_request_limit, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        = _('Maximum number of requests per minute for each raw path (default is 300). Set to 0 to disable throttling.')
    .form-group
      = f.label :push_event_hooks_limit, class: 'label-bold'
      = f.number_field :push_event_hooks_limit, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        = _('Maximum number of changes (branches or tags) in a single push above which webhooks and integrations are not triggered (default is 3). Setting to 0 does not disable throttling.')
    .form-group
      = f.label :push_event_activities_limit, class: 'label-bold'
      = f.number_field :push_event_activities_limit, class: 'form-control gl-form-input'
      .form-text.gl-text-subtle
        = _('Maximum number of changes (branches or tags) in a single push above which a bulk push event is created (default is 3). Setting to 0 does not disable throttling.')

  = f.submit _('Save changes'), pajamas_button: true
