= form_for @application_setting, url: metrics_and_profiling_admin_application_settings_path(anchor: 'js-prometheus-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      Enable a Prometheus metrics endpoint at
      %code= metrics_path
      to expose a variety of statistics on the health and performance of GitLab. Additional information on authenticating and connecting to the metrics endpoint is available
      = link_to 'here', admin_health_check_path
      \. This setting requires a
      = link_to 'restart', help_page_path('administration/restart_gitlab')
      to take effect.
      = link_to icon('question-circle'), help_page_path('administration/monitoring/prometheus/index')
    .form-group
      .form-check
        = f.check_box :prometheus_metrics_enabled, class: 'form-check-input'
        = f.label :prometheus_metrics_enabled, class: 'form-check-label' do
          Enable Prometheus Metrics
        - unless Gitlab::Metrics.metrics_folder_present?
          .form-text.text-muted
            %strong.cred WARNING:
            Environment variable
            %code prometheus_multiproc_dir
            does not exist or is not pointing to a valid directory.
            = link_to icon('question-circle'), help_page_path('administration/monitoring/prometheus/gitlab_metrics', anchor: 'metrics-shared-directory')
    .form-group
      = f.label :metrics_method_call_threshold, 'Method Call Threshold (ms)', class: 'label-bold'
      = f.number_field :metrics_method_call_threshold, class: 'form-control'
      .form-text.text-muted
        A method call is only tracked when it takes longer to complete than
        the given amount of milliseconds.

  = f.submit 'Save changes', class: "btn btn-success"
