= form_for @application_setting, url: preferences_admin_application_settings_path(anchor: 'js-realtime-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :polling_interval_multiplier, _('Polling interval multiplier'), class: 'label-bold'
      = f.text_field :polling_interval_multiplier, class: 'form-control gl-form-input'
      .form-text.text-muted
        = _('Multiplier to apply to polling intervals. Decimal values are supported. Defaults to 1.')

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
