= form_for @application_setting, url: repository_admin_application_settings_path(anchor: 'js-mirror-settings') do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :mirror_available, _('Repository mirroring configuration'), class: 'label-bold'
      .form-check
        = f.check_box :mirror_available, class: 'form-check-input'
        = f.label :mirror_available, class: 'form-check-label' do
          = _('Allow project maintainers to configure repository mirroring')
      %span.form-text.text-muted
        = _('If disabled, only administrators can configure repository mirroring.')

    = render_if_exists 'admin/application_settings/mirror_settings', form: f

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
