= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-runner-jobs-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    = _('Set to 0 to disable rate limits.')

  %fieldset
    .form-group
      = f.label :runner_jobs_request_api_limit, s_('Runners|Maximum requests per minute to /jobs/request endpoint')
      = f.number_field :runner_jobs_request_api_limit, class: 'form-control gl-form-input'
      .form-text.gl-text-muted
        = s_('Runners|Limits how many API requests a runner can make to request jobs within a 1-minute window.')

  %fieldset
    .form-group
      = f.label :runner_jobs_endpoints_api_limit, s_('Runners|Maximum requests per minute to other Runner Jobs API endpoints')
      = f.number_field :runner_jobs_endpoints_api_limit, class: 'form-control gl-form-input'
      .form-text.gl-text-muted
        = s_('Runners|Limits how many API requests a runner can make to jobs endpoints within a 1-minute window, per job token.')

  = f.submit _('Save changes'), pajamas_button: true
