= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-search-limits-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :search_rate_limit, _('Maximum number of requests per minute for an authenticated user'), class: 'label-bold'
      .form-text.gl-text-gray-600
        = _("Set this number to 0 to disable the limit.")
      = f.number_field :search_rate_limit, class: 'form-control gl-form-input'

    .form-group
      = f.label :search_rate_limit_unauthenticated, _('Maximum number of requests per minute for an unauthenticated IP address'), class: 'label-bold'
      = f.number_field :search_rate_limit_unauthenticated, class: 'form-control gl-form-input'


  = f.submit _('Save changes'), data: { qa_selector: 'save_changes_button' }, pajamas_button: true
