= form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-terms-settings'), html: { class: 'fieldset-form', id: 'terms-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :enforce_terms, class: 'form-check-input'
        = f.label :enforce_terms, class: 'form-check-label' do
          = _("Require all users to accept Terms of Service and Privacy Policy when they access GitLab.")
        .form-text.text-muted
          = _("When enabled, users cannot use GitLab until the terms have been accepted.")
    .form-group
      = f.label :terms do
        = _("Terms of Service Agreement and Privacy Policy")
      = f.text_area :terms, class: 'form-control gl-form-input', rows: 8
      .form-text.text-muted
        = _("Markdown enabled")
  = f.submit _("Save changes"), class: "gl-button btn btn-confirm"
