= gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-terms-settings'), html: { class: 'fieldset-form', id: 'terms-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.gitlab_ui_checkbox_component :enforce_terms, _("All users must accept the Terms of Service and Privacy Policy to access GitLab")
    .form-group
      = f.label :terms do
        = _("Terms of Service Agreement and Privacy Policy")
      = f.text_area :terms, class: 'form-control gl-form-input', rows: 8
      .form-text.gl-text-subtle
        = _("Markdown supported.")
        = link_to _('What is Markdown?'), help_page_path('user/markdown.md'), target: '_blank', rel: 'noopener noreferrer'
  = f.submit _("Save changes"), pajamas_button: true
