= gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-visibility-settings'), html: { class: 'fieldset-form', id: 'visibility-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    = render 'shared/project_creation_levels', f: f, method: :default_project_creation, legend: s_('ProjectCreationLevel|Default project creation protection')
    = render_if_exists 'admin/application_settings/default_project_deletion_protection_setting', form: f
    = render_if_exists 'admin/application_settings/deletion_protection_settings', form: f
    .form-group.visibility-level-setting
      = f.label :default_project_visibility, class: 'label-bold'
      = render('shared/visibility_radios', model_method: :default_project_visibility, form: f, selected_level: @application_setting.default_project_visibility, form_model: Project.new)
    .form-group.visibility-level-setting
      = f.label :default_snippet_visibility, class: 'label-bold'
      = render('shared/visibility_radios', model_method: :default_snippet_visibility, form: f, selected_level: @application_setting.default_snippet_visibility, form_model: ProjectSnippet.new)
    .form-group.visibility-level-setting
      = f.label :default_group_visibility, class: 'label-bold'
      = render('shared/visibility_radios', model_method: :default_group_visibility, form: f, selected_level: @application_setting.default_group_visibility, form_model: Group.new)
    %fieldset.form-group.gl-form-group{ data: { testid: 'restricted-visibility-levels' } }
      %legend.col-form-label
        = s_('AdminSettings|Restricted visibility levels')
        %small.form-text.gl-text-subtle
          = s_('AdminSettings|Prevent non-administrators from using the selected visibility levels for groups, projects and snippets.')
          = s_('AdminSettings|The selected level must be different from the selected default group and project visibility.')
          = link_to _('Learn more.'), help_page_path('administration/settings/visibility_and_access_controls.md', anchor: 'restrict-visibility-levels'), target: '_blank', rel: 'noopener noreferrer'
      = hidden_field_tag 'application_setting[restricted_visibility_levels][]'
      .gl-form-checkbox-group
        - restricted_level_checkboxes(f).each do |checkbox|
          = checkbox

    = render_if_exists 'admin/application_settings/ldap_access_setting', form: f

    = render_if_exists 'admin/application_settings/saml_group_locks_setting', form: f

    .form-group
      %label.label-bold= _('Enabled Git access protocols')
      = select(:application_setting, :enabled_git_access_protocol, [['Both SSH and HTTP(S)', nil], ['Only SSH', 'ssh'], ['Only HTTP(S)', 'http']], {}, class: 'form-control')
      %span.form-text.gl-text-subtle#clone-protocol-help
        = _('Allow only the selected protocols to be used for Git access.')

    .form-group
      = f.label :custom_http_clone_url_root, _('Custom Git clone URL for HTTP(S)'), class: 'label-bold'
      = f.text_field :custom_http_clone_url_root, class: 'form-control gl-form-input', placeholder: 'https://git.example.com', :'aria-describedby' => 'custom_http_clone_url_root_help_block'
      %span.form-text.gl-text-subtle#custom_http_clone_url_root_help_block
        = _('Replaces the clone URL root.')

    - Gitlab::SSHPublicKey.supported_types.each do |type|
      - field_name = :"#{type}_key_restriction"
      .form-group
        = f.label field_name, "#{type.upcase} SSH keys", class: 'label-bold'
        = f.select field_name, key_restriction_options_for_select(type), {}, class: 'form-control'

    = render_if_exists 'admin/application_settings/disable_personal_access_tokens', form: f

    .form-group
      %label.label-bold= s_('AdminSettings|Feed token')
      = f.gitlab_ui_checkbox_component :disable_feed_token, s_('AdminSettings|Disable feed token')

    = render_if_exists 'admin/application_settings/globally_allowed_ips', form: f

    -# This is added for Jihu edition in https://jihulab.com/gitlab-cn/gitlab/-/merge_requests/1112
    = render_if_exists 'admin/application_settings/disable_download_button', f: f

  = f.submit _('Save changes'), pajamas_button: true
