- breadcrumb_title "Settings"
- page_title "Settings"
- @content_class = "limit-container-width" unless fluid_layout
- expanded = Rails.env.test?

%section.settings.as-performance.no-animate#js-performance-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Performance optimization')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Various settings that affect GitLab performance.')
  .settings-content
    = render 'performance'

%section.settings.as-ip-limits.no-animate#js-ip-limits-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('User and IP Rate Limits')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Configure limits for web and API requests.')
  .settings-content
    = render 'ip_limits'

%section.settings.as-outbound.no-animate#js-outbound-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Outbound requests')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Allow requests to the local network from hooks and services.')
  .settings-content
    = render 'outbound'
