- breadcrumb_title "Settings"
- page_title "Settings"
- @content_class = "limit-container-width" unless fluid_layout
- expanded = Rails.env.test?

%section.settings.as-spam.no-animate#js-spam-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Spam and Anti-bot Protection')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Enable reCAPTCHA or Akismet and set IP limits.')
  .settings-content
    = render 'spam'

%section.settings.as-abuse.no-animate#js-abuse-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Abuse reports')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Set notification email for abuse reports.')
  .settings-content
    = render 'abuse'

%section.settings.as-logging.no-animate#js-logging-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Error Reporting and Logging')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Enable Sentry for error reporting and logging.')
  .settings-content
    = render 'logging'
