%ul.bordered-list
  - diffs.each_with_index do |diff, i|
    %li
      - if diff.deleted_file
        %span.deleted-file
          %a{href: "#diff-#{i}"}
            %i.icon-minus
            = diff.old_path
      - elsif diff.renamed_file
        %span.renamed-file
          %a{href: "#diff-#{i}"}
            %i.icon-minus
            = diff.old_path
            = "->"
            = diff.new_path
      - elsif diff.new_file
        %span.new-file
          %a{href: "#diff-#{i}"}
            %i.icon-plus
            = diff.new_path
      - else
        %span.edit-file
          %a{href: "#diff-#{i}"}
            %i.icon-adjust
            = diff.new_path

