.row
  .col-md-8
    = render 'projects/commits/diff_stats', diffs: diffs
  .col-md-4
    %ul.nav.nav-tabs
      %li.pull-right{class: params[:view] == 'parallel' ? 'active' : ''}
        = link_to "Side-by-side Diff", url_for(view: 'parallel'), {id: "commit-diff-viewtype"}
      %li.pull-right{class: params[:view] != 'parallel' ? 'active' : ''}
        = link_to "Inline Diff", url_for(view: 'inline'), {id: "commit-diff-viewtype"}

- if show_diff_size_warninig?(diffs)
  = render 'projects/commits/diff_warning', diffs: diffs

.files
  - safe_diff_files(diffs).each_with_index do |diff, i|
    = render 'projects/commits/diff_file', diff: diff, i: i, project: project

- if @diff_timeout
  .alert.alert-danger
    %h4
      Failed to collect changes
    %p
      Maybe diff is really big and operation failed with timeout. Try to get diff localy
