%ul.nav.nav-tabs
  = nav_link(controller: [:commit, :commits]) do
    = link_to 'Commits', namespace_project_commits_path(@project.namespace, @project, @repository.root_ref)
  = nav_link(controller: :compare) do
    = link_to 'Compare', namespace_project_compare_index_path(@project.namespace, @project, from: @repository.root_ref, to: @ref || @repository.root_ref)

  = nav_link(html_options: {class: branches_tab_class}) do
    = link_to namespace_project_branches_path(@project.namespace, @project) do
      Branches
      %span.badge.js-totalbranch-count= @repository.branches.size

  = nav_link(controller: :tags) do
    = link_to namespace_project_tags_path(@project.namespace, @project) do
      Tags
      %span.badge.js-totaltags-count= @repository.tags.length
