/ Side-by-side diff view
%div.text-file
  %table
    - side_diff_line(diff, index) do |line, type, line_code, line_new, line_old, raw_line, next_type, next_line|
      %tr.line_holder.parallel{ id: line_code }
        - if type == "match"
          = render "projects/commits/diffs/match_line_parallel", {line: line,
          line_old: line_old, line_new: line_new, bottom: false}
        - else
          - if diff.new_file
            %td.old_line{ class: "old" }
            %td.line_content.parallel= " "
          - else
            - next if type == 'new'
            %td.old_line{ class: "#{type}" }
              = link_to raw(line_old), "##{line_code}", id: line_code
              - if type == 'old'
                %td.line_content{class: "parallel noteable_line old #{line_code}", "line_code" => line_code}= raw line
              - else
                %td.line_content.parallel= raw line
          - if diff.deleted_file
            %td.new_line{class: "new", data: {linenumber: line_new}}
            %td.line_content.parallel= " "
          - else
            %td.new_line{class: "#{type}", data: {linenumber: line_new}}
              - if type == 'old'
                - if next_type == 'new'
                  - content = next_line
                  = link_to raw(line_new) , "##{line_code}", id: line_code
                - else
                  - content = "&nbsp;"
                %td.line_content.parallel{class: "noteable_line new #{line_code}", "line_code" => line_code}= raw content
              - else
                = link_to raw(line_new) , "##{line_code}", id: line_code
                %td.line_content.parallel{class: "#{type}"}= raw line

- if diff.diff.blank? && diff_file_mode_changed?(diff)
  .file-mode-changed
    File mode changed
