/ Side-by-side diff view
%div.text-file
  %table
    - parallel_diff(diff, index).each do |line|
      - type_left = line[0]
      - line_number_left = line[1]
      - line_content_left = line[2]
      - type_right = line[3]
      - line_number_right = line[4]
      - line_content_right = line[5]

      %tr.line_holder.parallel
        - if type_left == 'match'
          = render "projects/commits/diffs/match_line_parallel", {line: line_content_left,
          line_old: line_number_left, line_new: line_number_right, bottom: false}
        - elsif type_left ==  'old'
          %td.old_line{ class: "old" }
            = link_to raw(line_number_left)
            %td.line_content{class: "parallel noteable_line old"}= raw line_content_left
          %td.new_line{class: "#{type_right == 'new' ? 'new' : nil}", data: {linenumber: line_number_right}}
            = link_to raw(line_number_right)
            %td.line_content.parallel{class: "noteable_line #{type_right == 'new' ? 'new' : nil}"}= raw line_content_right
        - elsif type_left.nil?
          %td.old_line
            = link_to raw(line_number_left)
            %td.line_content{class: "parallel noteable_line"}= raw line_content_left
          %td.new_line{class: "#{type_right == 'new' ? 'new' : nil}", data: {linenumber: line_number_right}}
            = link_to raw(line_number_right)
            %td.line_content.parallel{class: "noteable_line #{type_right == 'new' ? 'new' : nil}"}= raw line_content_right

- if diff.diff.blank? && diff_file_mode_changed?(diff)
  .file-mode-changed
    File mode changed
