= render "head"

- if @path.present?
  %ul.breadcrumb.commit-breadcrumb
    %li.light
      History for
    = commits_breadcrumbs

%div{id: dom_id(@project)}
  #commits-list= render "commits"
.clear
= spinner

- if @commits.count == @limit
  :javascript
    CommitsList.init("#{@ref}", #{@limit});

