.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.search-filter.scrolling-tabs.nav.nav-tabs
    - category_tabs&.each do |category, cat_attrs|
      %li{ class: active_when(@scope == category.to_s) }
        = link_to cat_attrs[:link] do
          = cat_attrs[:title]
          %span.badge.badge-pill
            = cat_attrs[:count].call()
