- if params[:group_id].present?
  = hidden_field_tag :group_id, params[:group_id]
- if params[:project_id].present?
  = hidden_field_tag :project_id, params[:project_id]
.dropdown
  %label{ for: "dashboard_search_group" }
    = _("Group")
  %button.form-control.dropdown-menu-toggle.js-search-group-dropdown{ type: "button", id: "dashboard_search_group", data: { toggle: "dropdown", group_id: params[:group_id] } }
    %span.dropdown-toggle-text
      - if @group.present?
        = @group.name
      - else
        = _("Any")
    = icon("chevron-down")
  .dropdown-menu.dropdown-select.dropdown-menu-selectable.dropdown-menu-right
    = dropdown_title(_("Filter results by group"))
    = dropdown_filter(_("Search groups"))
    = dropdown_content
    = dropdown_loading

.dropdown.project-filter
  %label{ for: "dashboard_search_project" }
    = _("Project")
  %button.form-control.dropdown-menu-toggle.js-search-project-dropdown{ type: "button", id: "dashboard_search_project", data: { toggle: "dropdown"} }
    %span.dropdown-toggle-text
      - if @project.present?
        = @project.full_name
      - else
        = _("Any")
    = icon("chevron-down")
  .dropdown-menu.dropdown-select.dropdown-menu-selectable.dropdown-menu-right
    = dropdown_title(_("Filter results by project"))
    = dropdown_filter(_("Search projects"))
    = dropdown_content
    = dropdown_loading
