%ul.nav.nav-pills.nav-stacked.search-filter
  %li{class: ("active" if @scope == 'blobs')}
    = link_to search_filter_path(scope: 'blobs') do
      %i.icon-code
      Code
      .pull-right
        = @search_results.blobs_count
  %li{class: ("active" if @scope == 'issues')}
    = link_to search_filter_path(scope: 'issues') do
      %i.icon-exclamation-sign
      Issues
      .pull-right
        = @search_results.issues_count
  %li{class: ("active" if @scope == 'merge_requests')}
    = link_to search_filter_path(scope: 'merge_requests') do
      %i.icon-code-fork
      Merge requests
      .pull-right
        = @search_results.merge_requests_count
  %li{class: ("active" if @scope == 'notes')}
    = link_to search_filter_path(scope: 'notes') do
      %i.icon-comments
      Comments
      .pull-right
        = @search_results.notes_count
