.search-results-status.sm:gl-flex.gl-items-start.gl-justify-between.gl-my-4{ class: ('lg:gl-hidden' if @search_objects.to_a.empty?) }
  - unless @search_objects.to_a.empty?
    %div
      - unless @search_service_presenter.without_count?
        %span= search_entries_info(@search_objects, @scope, @search_term)
      - unless @search_service_presenter.show_snippets?
        - if @project
          - link_to_project = link_to(@project.full_name, @project, class: 'search-wrap-f-md-down')
          - if @scope == 'blobs'
            %span= _("in")
            .gl-inline-block
              #js-blob-ref-switcher{ data: { "project-id" => @project.id, "ref" => repository_ref(@project), "field-name": "repository_ref" } }
            %span= safe_format(s_('SearchCodeResults|of %{link_to_project}'), link_to_project: link_to_project)
          - else
            = safe_format(_("in project %{link_to_project}"), link_to_project: link_to_project)
        - elsif @group
          - link_to_group = link_to(@group.name, @group, class: 'ml-md-1')
          = safe_format(_("in group %{link_to_group}"), link_to_group: link_to_group)
  .gl-flex.gl-gap-3.gl-mt-3.sm:gl-mt-0
    = render Pajamas::ButtonComponent.new(category: 'primary', icon: 'filter', button_options: {id: 'js-open-mobile-filters', class: 'lg:gl-hidden gl-grow md:gl-grow-0'}) do
      = s_('GlobalSearch|Filters')
    - if @search_service_presenter.show_sort_dropdown? && !@search_objects.to_a.empty?
      #js-search-sort{ data: { "search-sort-options" => search_sort_options.to_json }, class: "gl-grow md:gl-grow-0" }
