%fieldset
  %legend
    Search results
    %span.cgray (#{@projects.count + @merge_requests.count + @issues.count + @wiki_pages.count})
.search_results
  %ul.well-list
    - @projects.each do |project|
      %li
        project:
        = link_to project do
          %strong.term= project.name_with_namespace
    - @merge_requests.each do |merge_request|
      %li
        merge request:
        = link_to [merge_request.project, merge_request] do
          %span ##{merge_request.id}
          %strong.term
            = truncate merge_request.title, length: 50
        %span.light (#{merge_request.project.name_with_namespace})
    - @issues.each do |issue|
      %li
        issue:
        = link_to [issue.project, issue] do
          %span ##{issue.id}
          %strong.term
            = truncate issue.title, length: 50
        %span.light (#{issue.project.name_with_namespace})
    - @wiki_pages.each do |wiki_page|
      %li
        wiki:
        = link_to project_wiki_path(wiki_page.project, wiki_page) do
          %strong.term
            = truncate wiki_page.title, length: 50
        %span.light (#{wiki_page.project.name_with_namespace})

:javascript
  $(function() {
    $(".search_results .term").highlight("#{escape_javascript(params[:search])}");
  })

