- if @search_objects.to_a.empty?
  .gl-display-md-flex
    - if %w(issues merge_requests).include?(@scope)
      #js-search-sidebar.gl-display-flex.gl-flex-direction-column.col-md-3.gl-mr-4{ }
    .gl-w-full
      = render partial: "search/results/empty"
      = render_if_exists 'shared/promotions/promote_advanced_search'
- else
  .search-results-status
    .row-content-block.gl-display-flex
      .gl-display-md-flex.gl-text-left.gl-align-items-center.gl-flex-grow-1
        - unless @search_objects.is_a?(Kaminari::PaginatableWithoutCount)
          = search_entries_info(@search_objects, @scope, @search_term)
        - unless @show_snippets
          - if @project
            - link_to_project = link_to(@project.full_name, @project, class: 'ml-md-1')
            - if @scope == 'blobs'
              = s_("SearchCodeResults|in")
              .mx-md-1
                = render partial: "shared/ref_switcher", locals: { ref: repository_ref(@project), form_path: request.fullpath, field_name: 'repository_ref' }
              = s_('SearchCodeResults|of %{link_to_project}').html_safe % { link_to_project: link_to_project }
            - else
              = _("in project %{link_to_project}").html_safe % { link_to_project: link_to_project }
          - elsif @group
            - link_to_group = link_to(@group.name, @group, class: 'ml-md-1')
            = _("in group %{link_to_group}").html_safe % { link_to_group: link_to_group }
      .gl-display-md-flex.gl-flex-direction-column
        = render partial: 'search/sort_dropdown'
  = render_if_exists 'shared/promotions/promote_advanced_search'

  .results.gl-display-md-flex.gl-mt-3
    - if %w(issues merge_requests).include?(@scope)
      #js-search-sidebar{ }
    .gl-w-full
      - if @scope == 'commits'
        %ul.content-list.commit-list
          = render partial: "search/results/commit", collection: @search_objects
      - else
        .search-results
          - if @scope == 'projects'
            .term
              = render 'shared/projects/list', projects: @search_objects, pipeline_status: false
          - else
            = render_if_exists partial: "search/results/#{@scope.singularize}", collection: @search_objects

      - if @scope != 'projects'
        = paginate_collection(@search_objects)
