- @hide_top_links = true
- page_title @search_term
- @hide_breadcrumbs = true

.page-title-holder.d-sm-flex.align-items-sm-center
  %h1.page-title<
    = _('Search')
  = render_if_exists 'search/form_elasticsearch', attrs: { class: 'ml-sm-auto' }

.gl-mt-3
  = render 'search/form'
- if @search_term
  = render 'search/category'
  = render 'search/results'
