= form_tag search_path, method: :get, class: 'form-inline' do |f|
  .search-holder
    = label_tag :search do
      %span Looking for
    .input
      = search_field_tag :search, params[:search], placeholder: "issue 143", class: "input-xxlarge search-text-input", id: "dashboard_search"
      = submit_tag 'Search', class: "btn btn-primary wide"
  .clearfix
  .row
    .span3
      = render 'filter', f: f
    .span9
      .results
        - if params[:search].present?
          = render 'search/result'
