- button_path = local_assigns.fetch(:new_project_issue_button_path, false)
- show_import_button = local_assigns.fetch(:show_import_button, false) && can?(current_user, :import_issues, @project)
- closed_issues_count = issuables_count_for_state(:issues, :closed)
- opened_issues_count = issuables_count_for_state(:issues, :opened)
- is_opened_state = params[:state] == 'opened'
- is_closed_state = params[:state] == 'closed'
- can_edit = can?(current_user, :admin_project, @project)

.row.empty-state
  .col-12
    .svg-content.svg-150
      = image_tag 'illustrations/empty-state/empty-issues-md.svg'
  .col-12
    .text-content
      - if has_filter_bar_param?
        %h4.text-center
          = _("Sorry, your filter produced no results")
        %p.text-center
          = _("To widen your search, change or remove filters above")
        - if show_new_issue_link?(@project)
          .text-center
            = link_button_to _("New issue"), new_project_issue_path(@project), variant: :confirm
      - elsif is_opened_state && opened_issues_count == 0 && closed_issues_count > 0
        %h4.text-center
          = _("There are no open issues")
        %p.text-center
          = _("To keep this project going, create a new issue")
        - if show_new_issue_link?(@project)
          .text-center
            = link_button_to _("New issue"), new_project_issue_path(@project), variant: :confirm
      - elsif is_closed_state && opened_issues_count > 0 && closed_issues_count == 0
        %h4.text-center
          = _("There are no closed issues")
      - elsif current_user
        %h4
          = _("The Issue Tracker is the place to add things that need to be improved or solved in a project")
        %p
          = _("Issues can be bugs, tasks or ideas to be discussed. Also, issues are searchable and filterable.")
        - if button_path
          .text-center
            - if show_new_issue_link?(@project)
              = link_button_to _('New issue'), button_path, id: 'new_issue_link', variant: :confirm

            - if show_import_button
              .js-csv-import-export-buttons{ data: { show_import_button: 'true', issuable_type: 'issue', import_csv_issues_path: import_csv_namespace_project_issues_path, can_edit: can_edit.to_s, project_import_jira_path: project_import_jira_path(@project), max_attachment_size: number_to_human_size(Gitlab::CurrentSettings.max_attachment_size.megabytes) } }
        %hr
        %p.gl-text-center.gl-mb-0
          %strong
            = s_('JiraService|Using Jira for issue tracking?')
        %p.gl-text-center.gl-mb-0
          - jira_docs_link_url = help_page_url('integration/jira/configure.md', anchor: 'view-jira-issues')
          - jira_docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: jira_docs_link_url }
          = html_escape(s_('JiraService|%{jira_docs_link_start}Enable the Jira integration%{jira_docs_link_end} to view your Jira issues in GitLab.')) % { jira_docs_link_start: jira_docs_link_start.html_safe, jira_docs_link_end: '</a>'.html_safe }
        %p.gl-text-center.gl-mb-0.gl-text-subtle
          = s_('JiraService|This feature requires a Premium plan.')

      - else
        %h4.text-center= _("There are no issues to show")
        %p
          = _("The Issue Tracker is the place to add things that need to be improved or solved in a project. You can register or sign in to create issues for this project.")
        .text-center
          = link_button_to _('Register / Sign In'), new_user_session_path, variant: :confirm
