- button_path = local_assigns.fetch(:button_path, false)
- project_select_button = local_assigns.fetch(:project_select_button, false)
- has_button = button_path || project_select_button

.row.empty-state.merge-requests
  .col-12
    .svg-content
      = image_tag 'illustrations/merge_requests.svg'
  .col-12
    .text-content
      - if has_button
        %h4
          = _("Merge requests are a place to propose changes you've made to a project and discuss those changes with others")
        %p
          = _("Interested parties can even contribute by pushing commits if they want to.")
        .text-center
          - if project_select_button
            = render 'shared/new_project_item_select', path: 'merge_requests/new', label: _('New merge request'), type: :merge_requests
          - else
            = link_to _('New merge request'), button_path, class: 'btn btn-new', title: _('New merge request'), id: 'new_merge_request_link'
      - else
        %h4.text-center
          = _("There are no merge requests to show")
