- button_path = local_assigns.fetch(:button_path, false)

.row.empty-state
  .col-12
    .svg-content.svg-150{ data: { testid: 'svg-content' } }
      = image_tag 'illustrations/empty-state/empty-snippets-md.svg'
    .text-content.gl-text-center.gl-pt-0
      - if current_user
        %h4
          = s_('SnippetsEmptyState|Code snippets')
        %p.gl-mb-0
          = s_('SnippetsEmptyState|Store, share, and embed small pieces of code and text.')
        .gl-mt-3<
          - if button_path
            = link_button_to s_('SnippetsEmptyState|New snippet'), button_path, title: s_('SnippetsEmptyState|New snippet'), data: { testid: 'create-first-snippet-link' }, variant: :confirm
          = link_button_to s_('SnippetsEmptyState|Documentation'), help_page_path('user/snippets'), title: s_('SnippetsEmptyState|Documentation')
      - else
        %h4.gl-text-center= s_('SnippetsEmptyState|There are no snippets to show.')
