- can_admin_project = can?(current_user, :admin_project, @project)

%tr.qa-protected-branch.js-protected-branch-edit-form{ data: { url: namespace_project_protected_branch_path(@project.namespace, @project, protected_branch) } }
  %td
    %span.ref-name= protected_branch.name

    - if @project.root_ref?(protected_branch.name)
      %span.badge.badge-info.d-inline default

    %div
      - if protected_branch.wildcard?
        - matching_branches = protected_branch.matching(repository.branches)
        = link_to pluralize(matching_branches.count, "matching branch"), namespace_project_protected_branch_path(@project.namespace, @project, protected_branch)
      - elsif !protected_branch.commit
        %span.text-muted Branch was deleted.

  = yield

  = render_if_exists 'projects/protected_branches/ee/code_owner_approval_table', protected_branch: protected_branch

  - if can_admin_project
    %td
      = link_to 'Unprotect', [@project, protected_branch, { update_section: 'js-protected-branches-settings' }], disabled: local_assigns[:disabled], data: { confirm: 'Branch will be writable for developers. Are you sure?' }, method: :delete, class: "btn btn-warning"
