.footer-container.gl-w-full.gl-self-end
  %hr.gl-m-0
  .container.gl-py-5.gl-flex.gl-justify-between.gl-items-start
    .gl-hidden.md:gl-flex.gl-gap-5.gl-flex-wrap
      - unless public_visibility_restricted?
        = link_to _("Explore"), explore_root_path
        = link_to _("Help"), help_path
      = link_to _("About GitLab"), ApplicationHelper.promo_url
      = link_to _("Community forum"), ApplicationHelper.community_forum, target: '_blank', class: 'text-nowrap', rel: 'noopener noreferrer'
    - if one_trust_enabled?
      = render Pajamas::ButtonComponent.new(category: :tertiary, size: :small, button_options: { class: 'ot-sdk-show-settings' }) do
        = _("Cookie Preferences")
    = render 'devise/shared/language_switcher'
= footer_message
