.omniauth-container.prepend-top-15
  %label.label-bold.d-block
    Sign in with
  - providers = enabled_button_based_providers
  .d-flex.justify-content-between.flex-wrap
    - providers.each do |provider|
      - has_icon = provider_has_icon?(provider)
      = link_to omniauth_authorize_path(:user, provider), method: :post, class: 'btn d-flex align-items-center omniauth-btn text-left oauth-login', id: "oauth-login-#{provider}" do
        - if has_icon
          = provider_image_tag(provider)
        %span
          = label_for_provider(provider)
  %fieldset.remember-me
    %label
      = check_box_tag :remember_me, nil, false, class: 'remember-me-checkbox'
      %span
        Remember me
