- render_remember_me = remember_me_enabled? && local_assigns.fetch(:render_remember_me, true)

- if any_form_based_providers_enabled? || password_authentication_enabled_for_web?
  .omniauth-divider.gl-display-flex.gl-align-items-center
    = _("or sign in with")

.gl-mt-5.gl-px-5.omniauth-container.gl-text-center.gl-ml-auto.gl-mr-auto
  - enabled_button_based_providers.each do |provider|
    - has_icon = provider_has_icon?(provider)
    = button_to omniauth_authorize_path(:user, provider), id: "oauth-login-#{provider}", data: { testid: "#{test_id_for_provider(provider)}" }, class: "btn gl-button btn-default gl-mb-2 js-oauth-login gl-w-full", form: { class: 'gl-mb-3' } do
      - if has_icon
        = provider_image_tag(provider)
      %span.gl-button-text
        = label_for_provider(provider)
  - if render_remember_me
    = render Pajamas::CheckboxTagComponent.new(name: 'remember_me_omniauth', value: nil) do |c|
      - c.with_label do
        = _('Remember me')
