%label.gl-font-weight-bold
  = _("Create an account using:")
.gl-display-flex.gl-justify-content-between.gl-flex-wrap
  - providers.each do |provider|
    = link_to omniauth_authorize_path(:user, provider), method: :post, class: "btn gl-button btn-default gl-w-full gl-mb-3 js-oauth-login #{qa_class_for_provider(provider)}", id: "oauth-login-#{provider}" do
      - if provider_has_icon?(provider)
        = provider_image_tag(provider)
      %span.gl-button-text
        = label_for_provider(provider)
