#login-pane.login-box{ role: 'tabpanel', class: 'tab-pane active' }
  .login-body
    - if form_based_providers.any?
      - if crowd_enabled?
        %div.tab-pane.active{id: "tab-crowd"}
          = render 'devise/sessions/new_crowd'
      - @ldap_servers.each_with_index do |server, i|
        %div.tab-pane{id: "tab-#{server['provider_name']}", class: (:active if i.zero? && !crowd_enabled?)}
          = render 'devise/sessions/new_ldap', server: server
      - if signin_enabled?
        %div#tab-signin.tab-pane
          = render 'devise/sessions/new_base'

    - elsif signin_enabled?
      = render 'devise/sessions/new_base'
