- page_title t('sherlock.title'), t('sherlock.transaction')
- header_title t('sherlock.title'), sherlock_transactions_path

%ul.nav-links
  %li.active
    %a{ href: "#tab-general", data: { toggle: "tab" } }
      = t('sherlock.general')
  %li
    %a{ href: "#tab-queries", data: { toggle: "tab" } }
      = t('sherlock.queries')
      %span.badge.badge-pill
        #{@transaction.queries.length}
  %li
    %a{ href: "#tab-file-samples", data: { toggle: "tab" } }
      = t('sherlock.file_samples')
      %span.badge.badge-pill
        #{@transaction.file_samples.length}

.row-content-block
  .pull-right
    = link_to(sherlock_transactions_path, class: 'btn') do
      %i.fa.fa-arrow-left
      = t('sherlock.all_transactions')
  .oneline
    = t('sherlock.transaction')
    = @transaction.id

.tab-content
  .tab-pane.active#tab-general
    = render(partial: 'general')

  .tab-pane#tab-queries
    = render(partial: 'queries')

  .tab-pane#tab-file-samples
    = render(partial: 'file_samples')
