- cluster_client = locals.fetch(:cluster_client)
- services = cluster_client.get_services
.card
  .card-header
    Knative Services (#{services.count})
  %ul.content-list.pages-domain-list
    - services.each do |service|
      %li.pages-domain-list-item.unstyled
        = service.metadata.name

        %p
          = service.status.domain

        - if traffic = service.status&.trafic&.first
          %p
            Traffic configuration:
            = traffic.configurationName
            Percent:
            = traffic.percent
            Revision:
            = traffic.revisionName

        %div.controls.d-none.d-md-block
        %p
          - if service.status.conditions.all? { |condition| condition.status }
            %span.badge.badge-success Ready
          - else
            %span.badge.badge-danger NotReady
