#js-authenticate-u2f
%a.btn.btn-block.btn-info#js-login-2fa-device{ href: '#' }= _("Sign in via 2FA code")

%script#js-authenticate-u2f-in-progress{ type: "text/template" }
  %p= _("Trying to communicate with your device. Plug it in (if you haven't already) and press the button on the device now.")

-# haml-lint:disable NoPlainNodes
%script#js-authenticate-u2f-error{ type: "text/template" }
  %div
    %p <%= error_message %> (#{_("error code:")} <%= error_code %>)
    %a.btn.btn-block.btn-warning#js-u2f-try-again= _("Try again?")

%script#js-authenticate-u2f-authenticated{ type: "text/template" }
  %div
    %p= _("We heard back from your U2F device. You have been authenticated.")
    = form_tag(admin_session_path, method: :post, id: 'js-login-u2f-form') do |f|
      = hidden_field_tag 'user[device_response]', nil, class: 'form-control', required: true, id: "js-device-response"
