= form_tag(admin_session_path, { method: :post, class: "edit_user gl-show-field-errors js-2fa-form #{'hidden' if current_user.two_factor_webauthn_u2f_enabled?}" }) do
  .form-group
    = label_tag :user_otp_attempt, _('Two-Factor Authentication code')
    = text_field_tag 'user[otp_attempt]', nil, class: 'form-control', required: true, autofocus: true, autocomplete: 'off', title: _('This field is required.')
    %p.form-text.text-muted.hint
      = _("Enter the code from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes.")

  .submit-container.move-submit-down
    = submit_tag 'Verify code', class: 'gl-button btn btn-success'
