= form_tag project_issues_path(@project), method: 'get' do
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if !params[:status])}
        = link_to project_issues_path(@project, status: nil) do
          Open
      %li{class: ("active" if params[:status] == 'assigned-to-me')}
        = link_to project_issues_path(@project, status: 'assigned-to-me') do
          Assigned To Me
      %li{class: ("active" if params[:status] == 'closed')}
        = link_to project_issues_path(@project, status: 'closed') do
          Closed
      %li{class: ("active" if params[:status] == 'all')}
        = link_to project_issues_path(@project, status: 'all') do
          All

  %fieldset
    %hr
    = link_to "Reset", project_issues_path(@project), class: 'btn pull-right'

