%div.issue-form-holder
  = form_for [@project, @issue], :remote => request.xhr? do |f|
    %h3= @issue.new_record? ? "New Issue" : "Edit Issue ##{@issue.id}"
    %hr
    -if @issue.errors.any?
      .alert-message.block-message.error
        %ul
          - @issue.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :title, "Issue Subject *"
      .input
        = f.text_field :title, :maxlength => 255, :class => "xxlarge"

    .clearfix
      = f.label :assignee_id, "Assign to *"
      .input= f.select(:assignee_id, @project.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => "Assign to user" })

    .clearfix
      = f.label :description, "Issue Details"
      .input
        = f.text_area :description, :maxlength => 2000, :class => "xxlarge", :rows => 10
        %p.hint Markdown is enabled.


    .clearfix
      = f.label :milestone_id
      .input= f.select(:milestone_id, @project.milestones.active.all.collect {|p| [ p.title, p.id ] }, { :include_blank => "Select milestone" })


    .clearfix
      = f.label :critical, "Critical"
      .input= f.check_box :critical
    
    - unless @issue.new_record?
      .clearfix
        = f.label :closed
        .input= f.check_box :closed

    .actions
      - if @issue.new_record?
        = f.submit 'Submit new issue', :class => "primary btn"
      -else
        = f.submit 'Save changes', :class => "primary btn"

      - if request.xhr?
        = link_to "Cancel", "#back", :onclick => "backToIssues();", :class => "btn" 
      - else 
        - if @issue.new_record?
          = link_to "Cancel", project_issues_path(@project), :class => "btn"
        - else    
          = link_to "Cancel", project_issue_path(@project, @issue), :class => "btn"
