%div.issue-form-holder
  %h3= @issue.new_record? ? "New Issue" : "Edit Issue ##{@issue.id}"
  = form_for [@project, @issue], :remote => request.xhr? do |f|
    -if @issue.errors.any?
      .alert-message.block-message.error
        %ul
          - @issue.errors.full_messages.each do |msg|
            %li= msg
    .issue_form_box
      .issue_title
        .clearfix
          = f.label :title do 
            %strong= "Subject *"
          .input
            = f.text_field :title, :maxlength => 255, :class => "xxlarge"
      .issue_middle_block
        .issue_assignee
          = f.label :assignee_id do 
            %i.icon-user
            Assign to
          .input= f.select(:assignee_id, @project.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => "Select a user" })
        .issue_milestone
          = f.label :milestone_id do 
            %i.icon-time
            Milestone
          .input= f.select(:milestone_id, @project.milestones.active.all.collect {|p| [ p.title, p.id ] }, { :include_blank => "Select milestone" })

      .issue_description
        .clearfix
          = f.label :label_list do 
            %i.icon-tag 
            Labels
          .input
            = f.text_field :label_list, :maxlength => 2000, :class => "xxlarge"
            %p.hint Separate with comma.

        .clearfix
          = f.label :description, "Details"
          .input
            = f.text_area :description, :maxlength => 2000, :class => "xxlarge", :rows => 14
            %p.hint Markdown is enabled.


    .actions
      - if @issue.new_record?
        = f.submit 'Submit new issue', :class => "primary btn"
      -else
        = f.submit 'Save changes', :class => "primary btn"

      - if request.xhr?
        = link_to "Cancel", "#back", :onclick => "backToIssues();", :class => "btn"
      - else
        - if @issue.new_record?
          = link_to "Cancel", project_issues_path(@project), :class => "btn"
        - else
          = link_to "Cancel", project_issue_path(@project, @issue), :class => "btn"
