%div
  = form_for [@project, @issue], :remote => "true" do |f|
    -if @issue.errors.any?
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

    .form-row
      = f.label :title
      = f.text_area :title, :style => "width:450px; height:100px", :maxlength => 255
    .form-row
      = f.label :assignee_id
      = f.select(:assignee_id, @project.users.all.collect {|p| [ p.name, p.id ] }, { :include_blank => "Select user" })
    .form-row
      = f.label :critical, "Critical"
      %br
      = f.check_box :critical
    - unless @issue.new_record?
      .form-row
        = f.label :closed
        %br
        = f.check_box :closed
    .form-row
      = f.submit 'Save', :class => "grey-button"
