.ui-box
  .title
    = check_box_tag "check_all_issues", nil, false, class: "check_all_issues left"
    .clearfix
      .issues_bulk_update.hide
        = form_tag bulk_update_project_issues_path(@project), method: :post  do
          %span.update_issues_text Update selected issues with &nbsp;
          .left
            = select_tag('update[status]', options_for_select(['open', 'closed']), prompt: "Status")
            = select_tag('update[assignee_id]', options_from_collection_for_select(@project.users.all, "id", "name", params[:assignee_id]), prompt: "Assignee")
            = select_tag('update[milestone_id]', options_from_collection_for_select(issues_active_milestones, "id", "title", params[:milestone_id]), prompt: "Milestone")
            = hidden_field_tag 'update[issues_ids]', []
            = hidden_field_tag :status, params[:status]
          = button_tag "Save", class: "btn update_selected_issues btn-small btn-save"
      .issues_filters
        = form_tag project_issues_path(@project), method: :get, remote: true  do
          %span Filter by
          .dropdown.inline.prepend-left-10
            %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
              %i.icon-tags
              %span.light labels:
              - if params[:label_name]
                %strong= params[:label_name]
              - else
                Any
              %b.caret
            %ul.dropdown-menu
              - issue_label_names.each do |label_name|
                %li
                  = link_to '#' do
                    %span{class: "label #{label_css_class(label_name)}"}
                      %i.icon-tag
                    = label_name
          .dropdown.inline.prepend-left-10
            %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
              %i.icon-user
              %span.light assignee:
              - if params[:assignee_id].present?
                %strong= User.find(params[:assignee_id]).name
              - else
                Any
              %b.caret
            %ul.dropdown-menu
              - @project.users.sort_by(&:name).each do |user|
                %li
                  = link_to '#' do
                    = image_tag gravatar_icon(user.email), class: "avatar s16"
                    = user.name

          .dropdown.inline.prepend-left-10
            %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
              %i.icon-time
              %span.light milestone:
              - if params[:milestone_id].present?
                %strong= Milestone.find(params[:milestone_id]).title
              - else
                Any
              %b.caret
            %ul.dropdown-menu
              - issues_active_milestones.each do |milestone|
                %li
                  = link_to '#' do
                    %strong= milestone.title
                    %small.light= milestone.expires_at

          -#= select_tag(:label_name, options_for_select(issue_tags, params[:label_name]), prompt: "Labels")
          -#= select_tag(:assignee_id, options_from_collection_for_select([unassigned_filter] + @project.users.all, "id", "name", params[:assignee_id]), prompt: "Assignee")
          -#= select_tag(:milestone_id, options_from_collection_for_select([unassigned_filter] + issues_active_milestones, "id", "title", params[:milestone_id]), prompt: "Milestone")
          = hidden_field_tag :status, params[:status]
          = hidden_field_tag :issue_search, params[:status], id: 'filter_issue_search'

  %ul.well-list.issues-list
    = render @issues
    - if @issues.blank?
      %li
        %h4.nothing_here_message Nothing to show here

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    issues for this filter

  = paginate @issues, remote: true, theme: "gitlab"
