%li.wll{ :id => dom_id(issue), :class => "issue #{issue.critical ? "critical" : ""}", :url => project_issue_path(issue.project, issue) }
  .right
    - if issue.notes.any?
      %span.btn.small.disabled.padded= pluralize issue.notes.count, 'note'
    - if can? current_user, :modify_issue, issue
      - if issue.closed
        = link_to 'Reopen', project_issue_path(issue.project, issue, :issue => {:closed => false }, :status_only => true), :method => :put,  :class => "btn small padded", :remote => true
      - else
        = link_to 'Resolve', project_issue_path(issue.project, issue, :issue => {:closed => true }, :status_only => true), :method => :put, :class => "success btn small padded", :remote => true
      = link_to edit_project_issue_path(issue.project, issue), :class => "btn small edit-issue-link", :remote => true do
        %i.icon-edit
        Edit

  = image_tag gravatar_icon(issue.assignee_email), :class => "avatar"
  %span.update-author
    assigned to
    %strong= issue.assignee_name
    - if issue.critical
      %span.label.important critical
    - if issue.today?
      %span.label.success today
    - if issue.upvotes > 0
      %span.label.success= "+#{issue.upvotes}"

  = link_to project_issue_path(issue.project, issue) do
    %p.row_title= truncate(issue.title, :length => 100)
