%li{ id: dom_id(issue), class: issue_css_classes(issue), url: project_issue_path(issue.project, issue) }
  - if controller.controller_name == 'issues'
    .issue_check
      = check_box_tag dom_id(issue,"selected"), nil, false, 'data-id' => issue.id, class: "selected_issue", disabled: !can?(current_user, :modify_issue, issue)
  .right
    - issue.labels.each do |label|
      %span.label.label-tag.grouped
        %i.icon-tag
        = label.name
    - if issue.notes.any?
      %span.btn.small.disabled.grouped
        %i.icon-comment
        = issue.notes.count
    - if can? current_user, :modify_issue, issue
      - if issue.closed
        = link_to 'Reopen', project_issue_path(issue.project, issue, issue: {closed: false }, status_only: true), method: :put,  class: "btn small grouped reopen_issue", remote: true
      - else
        = link_to 'Close', project_issue_path(issue.project, issue, issue: {closed: true }, status_only: true), method: :put, class: "btn small grouped close_issue", remote: true
      = link_to edit_project_issue_path(issue.project, issue), class: "btn small edit-issue-link grouped" do
        %i.icon-edit
        Edit

  - if issue.assignee
    = image_tag gravatar_icon(issue.assignee_email), class: "avatar"
  - else
    = image_tag "no_avatar.png", class: "avatar"

  %p= link_to_gfm truncate(issue.title, length: 100), project_issue_path(issue.project, issue), class: "row_title"

  %span.update-author
    %span.cdark= "##{issue.id}"
    - if issue.assignee
      assigned to #{issue.assignee_name}
    - else
      &nbsp;

    - if issue.votes_count > 0
      = render 'votes/votes_inline', votable: issue
