%tr{ :id => dom_id(issue), :class => "issue #{issue.critical ? "critical" : ""}", :url => project_issue_path(@project, issue) }
  %td
    %strong.issue-number{:class => sort_class}= "##{issue.id}"
    %span
      = truncate(html_escape(issue.title), :length => fixed_mode? ? 100 : 200)
    %br
    %br
    %div.note-author
      %strong= issue.assignee.name
      %cite.cgray
        = time_ago_in_words(issue.updated_at)
        ago
      - if issue.critical
        %span.tag.high critical
      - if issue.today?
        %span.tag.today today
      .right.action-links
        - if can? current_user, :write_issue, issue
          - if issue.closed
            = link_to 'Reopen', project_issue_path(@project, issue, :issue => {:closed => false }, :status_only => true), :method => :put,  :class => "cgray", :remote => true
          - else 
            = link_to 'Resolve', project_issue_path(@project, issue, :issue => {:closed => true }, :status_only => true), :method => :put, :class => "cgray", :remote => true
        - if can? current_user, :write_issue, issue
          = link_to 'Edit', edit_project_issue_path(@project, issue), :class => "cgray edit-issue-link", :remote => true
        - if can?(current_user, :admin_issue, @project) || issue.author == current_user
          = link_to 'Destroy', [@project, issue], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "cred delete-issue negative", :id => "destroy_issue_#{issue.id}"
