%h3 
  Issue ##{@issue.id} 

  %span.right
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      - if @issue.closed
        = link_to 'Reopen', project_issue_path(@project, @issue, :issue => {:closed => false }, :status_only => true), :method => :put,  :class => "btn"
      - else
        = link_to 'Close', project_issue_path(@project, @issue, :issue => {:closed => true }, :status_only => true), :method => :put, :class => "btn", :title => "Close merge request"
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      = link_to edit_project_issue_path(@project, @issue), :class => "btn small" do 
        Edit

%hr
- if @issue.closed
  .alert-message.error Closed
- else 
  .alert-message.success Open


%div.well
  %div
    %span.entity-info
    = image_tag gravatar_icon(@issue.author_email), :class => "left", :width => 40, :style => "padding-right:5px;"
    %span.commit-title
      %strong
        %span.commit-author
      %strong
        = link_to project_team_member_path(@project, @project.team_member_by_id(@issue.author.id)) do 
          %span.author= @issue.author_name
        &rarr;
        = link_to project_team_member_path(@project, @project.team_member_by_id(@issue.assignee.id)) do 
          %span.author= @issue.assignee_name
      %br
      .cgray= @issue.created_at.stamp("Aug 21, 2011 9:23pm")
    

  %div= simple_format @issue.title


.issue_notes= render "notes/notes"

