%h3.page_title
  Issue ##{@issue.id}

  %small
    created at
    = @issue.created_at.stamp("Aug 21, 2011")

  %span.pull-right
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      - if @issue.closed
        = link_to 'Reopen', project_issue_path(@project, @issue, issue: {closed: false }, status_only: true), method: :put,  class: "btn grouped reopen_issue"
      - else
        = link_to 'Close', project_issue_path(@project, @issue, issue: {closed: true }, status_only: true), method: :put, class: "btn grouped close_issue", title: "Close Issue"
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      = link_to edit_project_issue_path(@project, @issue), class: "btn grouped" do
        %i.icon-edit
        Edit

.pull-right
  .span3#votes= render 'votes/votes_block', votable: @issue

.back_link
  = link_to project_issues_path(@project) do
    &larr; To issues list


.ui-box.ui-box-show
  .ui-box-head
    %h4.box-title
      - if @issue.closed
        .error.status_info Closed
      = gfm escape_once(@issue.title)

  .ui-box-body
    %cite.cgray
      Created by #{link_to_member(@project, @issue.author)}
      - if @issue.assignee
        \ and currently assigned to #{link_to_member(@project, @issue.assignee)}

    - if @issue.milestone
      - milestone = @issue.milestone
      %cite.cgray and attached to milestone
      %strong= link_to_gfm truncate(milestone.title, length: 20), project_milestone_path(milestone.project, milestone)

    .pull-right
      - @issue.labels.each do |label|
        %span.label
          %i.icon-tag
          = label.name
        &nbsp;

  - if @issue.description.present?
    .ui-box-bottom
      .wiki
        = preserve do
          = markdown @issue.description


.voting_notes#notes= render "notes/notes_with_form"
