.issue-show-holder.ui-box
  %h3
    = "Issue ##{@issue.id}"
    .right
      - if @issue.closed
        %span.tag.high Resolved
      - else 
        %span.tag.today Open

  .data
    %p= @issue.title

    - if @issue.author == @issue.assignee
      = image_tag gravatar_icon(@issue.assignee_email),  :width => 20, :style => "padding:0 5px;"
      = @issue.assignee_name
    - else 
      = image_tag gravatar_icon(@issue.author_email),  :width => 20, :style => "padding:0 5px;"
      = @issue.author_name
      &rarr;
      = image_tag gravatar_icon(@issue.assignee_email),  :width => 20, :style => "padding:0 5px;"
      = @issue.assignee_name
    .right
      %cite.cgray= @issue.created_at.stamp("21 Aug 2011, 11:15pm")
    .clear

  .buttons
    - if can? current_user, :write_issue, @issue
      - if @issue.closed
        = link_to 'Reopen', project_issue_path(@project, @issue, :issue => {:closed => false }, :status_only => true), :method => :put,  :class => "grey-button"
      - else
        = link_to 'Resolve', project_issue_path(@project, @issue, :issue => {:closed => true }, :status_only => true), :method => :put, :class => "grey-button"
      .right
        = link_to 'Edit', edit_project_issue_path(@project, @issue), :class => "grey-button positive"

.clear
%br
%br

.issue_notes= render "notes/notes"
.loading{ :style => "display:none;"}
  %center= image_tag "ajax-loader.gif"
.clear
