%h3 
  Issue ##{@issue.id} 
  %small
    created at 
    = @issue.created_at.stamp("Aug 21, 2011")

  %span.right
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      - if @issue.closed
        = link_to 'Reopen', project_issue_path(@project, @issue, :issue => {:closed => false }, :status_only => true), :method => :put,  :class => "btn"
      - else
        = link_to 'Close', project_issue_path(@project, @issue, :issue => {:closed => true }, :status_only => true), :method => :put, :class => "btn", :title => "Close merge request"
    - if can?(current_user, :admin_project, @project) || @issue.author == current_user
      = link_to edit_project_issue_path(@project, @issue), :class => "btn small" do 
        Edit

%hr
- if @issue.closed
  .alert-message.error Closed
- else 
  .alert-message.success Open


%div.well
  %div
    %cite.cgray Created by
    = image_tag gravatar_icon(@issue.author_email), :width => 16, :class => "lil_av"
    = link_to project_team_member_path(@project, @project.team_member_by_id(@issue.author.id)) do 
      %strong.author= @issue.author_name

    %cite.cgray and currently assigned to 
    = image_tag gravatar_icon(@issue.assignee_email), :width => 16, :class => "lil_av"
    = link_to project_team_member_path(@project, @project.team_member_by_id(@issue.assignee.id)) do 
      %strong.author= @issue.assignee_name
      
    %hr
    
  %div= simple_format @issue.title


.issue_notes= render "notes/notes"

