%h2
  = "Issue ##{@issue.id} - #{html_escape(@issue.title)}"
.left.width-65p
  .issue_notes= render "notes/notes"

  .loading{ :style => "display:none;"}
    %center= image_tag "ajax-loader.gif"
.right.width-30p
  .span-8
  %table.round-borders
    %tr
      %td Title:
      %td
        = truncate html_escape(@issue.title)
    %tr
      %td Project
      %td
        %strong= @issue.project.name
    %tr
      %td Author:
      %td
        = image_tag gravatar_icon(@issue.author.email), :class => "left", :width => 40, :style => "padding:0 5px;"
        = @issue.author.name
    %tr
      %td Assignee:
      %td
        = image_tag gravatar_icon(@issue.assignee.email), :class => "left", :width => 40, :style => "padding:0 5px;"
        = @issue.assignee.name
    %tr 
      %td Tags
      %td
        - if @issue.critical
          %span.tag.high critical
        - else 
          %span.tag.normal normal

        - if @issue.today?
          %span.tag.today today
    %tr
      %td Closed?
      %td
        - if can? current_user, :write_issue, @project
          = form_for([@project, @issue]) do |f|
            = f.check_box :closed, :onclick => "$(this).parent().submit();"
            = hidden_field_tag :status_only, true
        - else
          = check_box_tag "closed", 1, @issue.closed, :disabled => true


  - if can?(current_user, :admin_issue, @issue)
    .clear
      = link_to 'Edit', edit_project_issue_path(@project, @issue), :class => "lbutton positive", :remote => true
      .right= link_to 'Destroy', [@project, @issue], :confirm => 'Are you sure?', :method => :delete,  :class => "lbutton delete-issue negative", :id => "destroy_issue_#{@issue.id}"
.clear
