.hidden-xs
  - if current_user
    = link_to new_snippet_path, class: "btn btn-grouped btn-create new-snippet-link", title: "New snippet" do
      New snippet
  - if can?(current_user, :admin_personal_snippet, @snippet)
    = link_to snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grouped btn-danger", title: 'Delete Snippet' do
      Delete
  - if can?(current_user, :update_personal_snippet, @snippet)
    = link_to edit_snippet_path(@snippet), class: "btn btn-grouped snippable-edit" do
      Edit
- if current_user
  .visible-xs-block.dropdown
    %button.btn.btn-default.btn-block.append-bottom-0.prepend-top-5{ data: { toggle: "dropdown" } }
      Options
      %span.caret
    .dropdown-menu.dropdown-menu-full-width
      %ul
        %li
          = link_to new_snippet_path, title: "New snippet" do
            New snippet
        - if can?(current_user, :admin_personal_snippet, @snippet)
          %li
            = link_to snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, title: 'Delete Snippet' do
              Delete
        - if can?(current_user, :update_personal_snippet, @snippet)
          %li
            = link_to edit_snippet_path(@snippet) do
              Edit
