.file-holder
  .file-title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      .btn-group.tree-btn-group.pull-right
        - if @snippet.author == current_user
          = link_to t("gitlab.snippets.edit"), edit_snippet_path(@snippet), class: "btn btn-tiny", title: t("gitlab.snippets.edit_snippet")
          = link_to t("gitlab.snippets.delete"), snippet_path(@snippet), method: :delete, data: { confirm: t("gitlab.snippets.are_you_sure") }, class: "btn btn-tiny", title: t("gitlab.snippets.delete_snippet")
        = link_to t("gitlab.snippets.raw"), raw_snippet_path(@snippet), class: "btn btn-tiny", target: "_blank"
  = render 'snippets/blob_content'
