%h3.page_title
  = @snippet.new_record? ? "New Snippet" : "Edit Snippet ##{@snippet.id}"
%hr
.snippet-form-holder
  = form_for [@project, @snippet] do |f|
    -if @snippet.errors.any?
      .alert-message.block-message.error
        %ul
          - @snippet.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :title
      .input= f.text_field :title, placeholder: "Example Snippet", class: 'input-xlarge', required: true
    .clearfix
      = f.label "Lifetime"
      .input= f.select :expires_at, lifetime_select_options, {}, {class: 'chosen span2'}
    .clearfix
      .file-editor
        = f.label :file_name, "File"
        .input
          .file_holder.snippet
            .file_title
              = f.text_field :file_name, placeholder: "example.rb", class: 'snippet-file-name', required: true
            .file_content.code
              %pre#editor= @snippet.content
              = f.hidden_field :content, class: 'snippet-file-content'

    .form-actions
      = f.submit 'Save', class: "save-btn btn"
      = link_to "Cancel", project_snippets_path(@project), class: " btn"
      - unless @snippet.new_record?
        .right= link_to 'Destroy', [@project, @snippet], confirm: 'Are you sure?', method: :delete, class: "btn right danger delete-snippet", id: "destroy_snippet_#{@snippet.id}"


:javascript
  var editor = ace.edit("editor");
  $(".snippet-form-holder form").submit(function(){
    $(".snippet-file-content").val(editor.getValue());
  });

