%div
  = form_for [@project, @snippet] do |f|
    -if @snippet.errors.any?
      %ul
        - @snippet.errors.full_messages.each do |msg|
          %li= msg

    %table.round-borders
      %tr
        %td= f.label :title
        %td= f.text_field :title, :placeholder => "Example Snippet"
      %tr
        %td= f.label :file_name
        %td= f.text_field :file_name, :placeholder => "example.rb"
      %tr
        %td{:colspan => 2}
          = f.label :content, "Code"
          %br
          = f.text_area :content, :style => "height:240px;width:932px;"

    .actions.prepend-top
      = f.submit 'Save', :class => "lbutton vm"
