%tr
  %td
    - if snippet.private?
      %i.icon-lock
    - else
      %i.icon-globe
    = image_tag gravatar_icon(snippet.author_email), class: "avatar s24"
    - if snippet.project_id?
      %a{href: project_snippet_path(snippet.project, snippet)}
        %strong= truncate(snippet.title, length: 60)
    - else
      %a{href: snippet_path(snippet)}
        %strong= truncate(snippet.title, length: 60)
  %td
    = snippet.file_name
  %td
    %span.cgray
      - if snippet.expires_at
        = snippet.expires_at.to_date.to_s(:short)
      - else
        Never
  %td
    - if snippet.project_id?
      = link_to snippet.project.name, project_path(snippet.project)
