- unless snippet.expired?
  %tr{ :id => dom_id(snippet), :class => "snippet", :url => project_snippet_path(@project, snippet) }
    %td
      = image_tag gravatar_icon(snippet.author.email), :class => "left", :width => 40, :style => "padding:0 5px;"
      %span
        %strong= html_escape snippet.title
        %br
        %br
      %div.author
        %strong= truncate snippet.author.name, :lenght => 20
        %cite.cgray
          = time_ago_in_words(snippet.updated_at)
          ago
        .right.action-links
          - if can?(current_user, :admin_snippet, @project) || snippet.author == current_user
            = link_to 'Edit', edit_project_snippet_path(@project, snippet), :class => "cgray"
          - if can?(current_user, :admin_snippet, @project) || snippet.author == current_user
            = link_to 'Destroy', [@project, snippet], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "cred delete-snippet negative", :id => "destroy_snippet_#{snippet.id}"
