%h3.page-title
  My Snippets
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new grouped", title: "New Snippet" do
      Add new snippet
    = link_to snippets_path, class: "btn grouped"  do
      Discover snippets

%p.light
  Share code pastes with others out of git repository
%hr

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked
      = nav_tab :scope, nil do
        = link_to user_snippets_path(@user) do
          All
          %span.pull-right
            = @user.snippets.count
      = nav_tab :scope, 'private' do
        = link_to user_snippets_path(@user, scope: 'private') do
          Private
          %span.pull-right
            = @user.snippets.private.count
      = nav_tab :scope, 'public' do
        = link_to user_snippets_path(@user, scope: 'public') do
          Public
          %span.pull-right
            = @user.snippets.public.count

  .col-md-9.my-snippets
    = render 'snippets'

