- page_title "Your Snippets"
= render 'head'

.slead
  Share code pastes with others out of git repository

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-sm", title: "New Snippet" do
      Add new snippet

%ul.nav.nav-tabs
  = nav_tab :scope, nil do
    = link_to user_snippets_path(@user) do
      All
      %span.badge
        = @user.snippets.count
  = nav_tab :scope, 'are_private' do
    = link_to user_snippets_path(@user, scope: 'are_private') do
      Private
      %span.badge
        = @user.snippets.are_private.count
  = nav_tab :scope, 'are_internal' do
    = link_to user_snippets_path(@user, scope: 'are_internal') do
      Internal
      %span.badge
        = @user.snippets.are_internal.count
  = nav_tab :scope, 'are_public' do
    = link_to user_snippets_path(@user, scope: 'are_public') do
      Public
      %span.badge
        = @user.snippets.are_public.count

.my-snippets
  = render 'snippets'

