%h3.page-title
  = t("gitlab.snippets.my_snippets")
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "New Snippet" do
      = t("gitlab.snippets.add_new_snippet")
    = link_to snippets_path, class: "btn btn-grouped"  do
      = t("gitlab.snippets.discover_snippets")

%p.light
  = t("gitlab.snippets.description")
%hr

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked
      = nav_tab :scope, nil do
        = link_to user_snippets_path(@user) do
          = t("gitlab.filter.all")
          %span.pull-right
            = @user.snippets.count
      = nav_tab :scope, 'private' do
        = link_to user_snippets_path(@user, scope: 'private') do
          = t("gitlab.filter.private")
          %span.pull-right
            = @user.snippets.private.count
      = nav_tab :scope, 'public' do
        = link_to user_snippets_path(@user, scope: 'public') do
          = t("gitlab.filter.public")
          %span.pull-right
            = @user.snippets.public.count

  .col-md-9.my-snippets
    = render 'snippets'

