- page_title _("By %{user_name}") % { user_name: @user.name }, _("Snippets")

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to snippets_path do
      = _("Snippets")
  %li.breadcrumb-item
    = @user.name
  .float-right.d-none.d-sm-block
    = link_to user_path(@user) do
      = _("%{user_name} profile page") % { user_name: @user.name }

= render 'shared/snippets/list'
