- page_title "By #{@user.name}", "Snippets"

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to snippets_path do
      Snippets
  %li.breadcrumb-item
    = @user.name
  .float-right.d-none.d-sm-block
    = link_to user_path(@user) do
      #{@user.name} profile page

= render 'snippets'
