%h3.page-title
  = t("gitlab.snippets.public_snippets")

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "New Snippet" do
      = t("gitlab.snippets.add_new_snippet")
    = link_to user_snippets_path(current_user), class: "btn btn-grouped"  do
      = t("gitlab.snippets.my_snippets")

%p.light
  = t("gitlab.snippets.description")

%hr
= render 'snippets'

