= render "projects/project_head"

%h3.page_title
  = @snippet.title
  %small= @snippet.file_name
  - if can?(current_user, :admin_snippet, @project) || @snippet.author == current_user
    = link_to "Edit", edit_project_snippet_path(@project, @snippet), class: "btn small right"

%br
%div= render 'blob'
%div#notes= render "notes/notes_with_form", tid: @snippet.id, tt: "snippet"
