%h3.page-title
  = @snippet.title

  - if @snippet.private?
    %span.label.label-success
      %i.icon-lock
      private

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "New Snippet" do
      Add new snippet
%hr

.append-bottom-20
  .pull-right
    = "##{@snippet.id}"
    %span.light
      by
      = link_to user_snippets_path(@snippet.author) do
        = image_tag avatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
        = @snippet.author_name

  .back-link
    - if @snippet.author == current_user
      = link_to user_snippets_path(current_user) do
        &larr; my snippets
    - else
      = link_to snippets_path do
        &larr; discover snippets

.file-holder
  .file-title
    %i.icon-file
    %span.file_name
      = @snippet.file_name
    .options
      .btn-group
        - if can?(current_user, :modify_personal_snippet, @snippet)
          = link_to "edit", edit_snippet_path(@snippet), class: "btn btn-small", title: 'Edit Snippet'
        = link_to "raw", raw_snippet_path(@snippet), class: "btn btn-small", target: "_blank"
      - if can?(current_user, :admin_personal_snippet, @snippet)
        = link_to "remove", snippet_path(@snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small btn-remove", title: 'Delete Snippet'
  = render 'shared/snippets/blob'
