%h3.page_title
  - if @snippet.private?
    %i.icon-lock.cgreen
  - else
    %i.icon-globe.cblue

  = @snippet.title

  %small.pull-right
    = "##{@snippet.id}"
    %span.light
      by
      = image_tag gravatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
      = @snippet.author_name
%br
%div= render 'blob'
