%h3.page_title
  - if @snippet.private?
    %i{:class => "icon-lock cgreen has_bottom_tooltip", "data-original-title" => "Private snippet"}
  - else
    %i{:class => "icon-globe cblue has_bottom_tooltip", "data-original-title" => "Public snippet"}

  = @snippet.title

  %small.pull-right
    = "##{@snippet.id}"
    %span.light
      by
      = image_tag gravatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
      = @snippet.author_name
%br
%div= render 'blob'
