- page_title @snippet.title, "Snippets"

= render 'shared/snippets/header'

%article.file-holder.snippet-file-content
  .file-title
    = blob_icon 0, @snippet.file_name
    = @snippet.file_name
    .file-actions
      = clipboard_button(clipboard_target: ".blob-content[data-blob-id='#{@snippet.id}']")
      = link_to 'Raw', raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank"
  = render 'shared/snippets/blob'

= render 'award_emoji/awards_block', awardable: @snippet, inline: true