= render "projects/project_head"

%h3
  = @snippet.title
  %small= @snippet.file_name
  - if can?(current_user, :admin_snippet, @project) || @snippet.author == current_user
    = link_to "Edit", edit_project_snippet_path(@project, @snippet), :class => "btn small right"

%br
#tree-holder
  #tree-content-holder
    .view_file
      .view_file_header
        %strong= @snippet.file_name
      .view_file_content
        %div{:class => current_user.dark_scheme ? "black" : ""}
          = raw @snippet.colorize(options: { linenos: 'True'})

= render "notes/notes", :tid => @snippet.id, :tt => "snippet"
