= universal_stylesheet_link_tag 'application'
= universal_stylesheet_link_tag 'application_utilities'
= universal_stylesheet_link_tag 'tailwind'
= universal_stylesheet_link_tag 'lookbook/rapid_diffs'
= webpack_bundle_tag 'javascripts/entrypoints/lookbook/rapid_diffs'

%div{ style: 'padding: 20px' }
  = yield
