.devops
  .devops-header
    %h2.devops-header-title{ class: "devops-#{score_level(@metric.average_percentage_score)}-score" }
      = number_to_percentage(@metric.average_percentage_score, precision: 1)
    .devops-header-subtitle
      = _('DevOps')
      %br
      = _('Score')
      = link_to sprite_icon('question-o', css_class: 'devops-header-icon'), help_page_path('user/admin_area/analytics/dev_ops_report')

  .devops-cards.board-card-container
    - @metric.cards.each do |card|
      = render 'card', card: card

  .devops-steps.d-none.d-lg-block
    - @metric.idea_to_production_steps.each_with_index do |step, index|
      .devops-step{ class: "devops-#{score_level(step.percentage_score)}-score" }
        = custom_icon("i2p_step_#{index + 1}")
        %h4.devops-step-title
          = step.title
