- page_title "Integrations"
%h3.page-title Integrations

%p
  Project integrations allow GitLab to respond to inbound webhooks from other applications. Currently GitLab has experimental support for Slack slash commands.

= succeed "." do
  = link_to "Read more about integrations", help_page_path("integrations")

%div
  - if can?(current_user, :create_integration, @project)
    .top-area.nav-controls
      = link_to new_namespace_project_integration_path(@project.namespace, @project), class: 'btn btn-create' do
        New integration

  - unless @integrations.blank?
    .table-holder
      %table.table
        %thead
          %tr
            %th Name
            %th Enabled since
        - @integrations.sort_by(&:name).each do |integration|
          %tr
            %td
              = link_to edit_namespace_project_integration_path(@project.namespace, @project, integration.id) do
                %strong= integration.name
            %td.light
              = time_ago_in_words integration.created_at
              ago
