.task-title
  %span.author_name= link_to_author task
  %span.task_label{class: task.action_name}
    = task_action_name(task)

  %strong= link_to "##{task.target_iid}", [task.project.namespace.becomes(Namespace), task.project, task.target]

  &middot; #{time_ago_with_tooltip(task.created_at)}

- if task.pending?
  .task-actions.pull-right
    = link_to 'Done', [:dashboard, task], method: :delete, class: 'btn'

- if task.body?
  .task-body
    .task-note
      = task.target.title
