.task-title
  %span.author_name
    = link_to_author task
  %span.task_label{class: task.action_name}
    = task_action_name(task)
    = task_note_link_html(task)

  &middot; #{time_ago_with_tooltip(task.created_at)}

- if task.pending?
  .task-actions.pull-right
    = link_to 'Done', [:dashboard, task], method: :delete, class: 'btn'

.task-body
  .task-note
    .md
      = task_note(task.note_text, project: task.project)
    - note = task.note
    - if note.attachment.url
      - if note.attachment.image?
        = link_to note.attachment.url, target: '_blank' do
          = image_tag note.attachment.url, class: 'note-image-attach'
      - else
        = link_to note.attachment.url, target: "_blank", class: 'note-file-attach' do
          %i.fa.fa-paperclip
          = note.attachment_identifier
