%li{class: "task task-#{task.done? ? 'done' : 'pending'}", id: dom_id(task) }
  .task-item{class: "#{task.body? ? 'task-block' : 'task-inline' }"}
    = image_tag avatar_icon(task.author_email, 40), class: "avatar s40", alt:''

    - if task.note.present?
      = render 'note', task: task
    - else
      = render 'common', task: task
