- mirror = f.object
- auth_options = [[_('Password'), 'password'], [_('SSH public key'), 'ssh_public_key']]

.form-group
  = f.label :auth_method, _('Authentication method'), class: 'label-bold'
  = f.select :auth_method,
      options_for_select(auth_options, mirror.auth_method),
      {}, { class: "form-control js-mirror-auth-type qa-authentication-method" }
  = f.hidden_field :auth_method, value: "password", class: "js-hidden-mirror-auth-type"

.form-group
  .collapse.js-well-changing-auth
    .changing-auth-method= icon('spinner spin lg')
  .well-password-auth.collapse.js-well-password-auth
    = f.label :password, _("Password"), class: "label-bold"
    = f.password_field :password, value: mirror.password, class: 'form-control qa-password', autocomplete: 'new-password'
