- import_data = @project.import_data || @project.build_import_data
- is_one_user_option = default_mirror_users.count == 1

= f.fields_for :remote_mirrors, @remote_mirror do |rm_f|
  = rm_f.hidden_field :enabled, value: '1'
  = rm_f.hidden_field :url, class: 'js-mirror-url-hidden', required: true, pattern: "(#{protocols}):\/\/.+"
  = rm_f.hidden_field :only_protected_branches, class: 'js-mirror-protected-hidden'