%header.jira-connect-header.gl-display-flex.gl-align-items-center.gl-justify-content-center.gl-px-5.gl-border-b-solid.gl-border-b-gray-100.gl-border-b-1.gl-bg-white
  = link_to brand_header_logo, Gitlab.config.gitlab.url, target: '_blank', rel: 'noopener noreferrer'

.jira-connect-user.gl-font-base
  - if current_user
    - user_link = link_to(current_user.to_reference, jira_connect_users_path, target: '_blank', rel: 'noopener noreferrer', class: 'js-jira-connect-sign-in')
    = _('Signed in to GitLab as %{user_link}').html_safe % { user_link: user_link }
  - elsif @subscriptions.present?
    = link_to _('Sign in to GitLab'), jira_connect_users_path, target: '_blank', rel: 'noopener noreferrer', class: 'js-jira-connect-sign-in'

%main.jira-connect-app.gl-px-5.gl-pt-7.gl-mx-auto
  - if current_user.blank? && @subscriptions.empty?
    .jira-connect-app-body.gl-px-5.gl-text-center
      %h2= s_('JiraService|GitLab for Jira Configuration')
      %p= s_('JiraService|Sign in to GitLab.com to get started.')

      .gl-mt-7
        = external_link _('Sign in to GitLab'), jira_connect_users_path, class: "btn gl-button btn-confirm js-jira-connect-sign-in"

      .gl-mt-7
        %p= s_('Integrations|Note: this integration only works with accounts on GitLab.com (SaaS).')
  - else
    .js-jira-connect-app{ data: jira_connect_app_data(@subscriptions) }

  %p.jira-connect-app-body.gl-px-5.gl-mt-7.gl-font-base.gl-text-center
    %strong= s_('Integrations|Browser limitations')
    - browser_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'
    - firefox_link_start = browser_link_start.html_safe % { url: 'https://www.mozilla.org/en-US/firefox/' }
    - chrome_link_start = browser_link_start.html_safe % { url: 'https://www.google.com/chrome/' }
    = s_('Integrations|Adding a namespace works only in browsers that allow cross‑site cookies. Use %{firefox_link_start}Firefox%{link_end}, %{chrome_link_start}Google Chrome%{link_end}, or enable cross‑site cookies in your browser, when adding a namespace.').html_safe % { firefox_link_start: firefox_link_start, chrome_link_start: chrome_link_start, link_end: '</a>'.html_safe }
    = link_to _('Learn more'), 'https://gitlab.com/gitlab-org/gitlab/-/issues/284211', target: '_blank', rel: 'noopener noreferrer'

= webpack_bundle_tag 'performance_bar' if performance_bar_enabled?
= webpack_bundle_tag 'jira_connect_app'

- add_page_specific_style 'page_bundles/jira_connect', defer: false
