- if current_application_settings.should_check_namespace_plan?
  - if (@project.owner.present? && @project.owner == @current_user) || @project.group&.has_owner?(@current_user)
    = link_to 'Upgrade your plan', upgrade_plan_url, class: 'btn btn-primary'
  - elsif  @project.group
    %p Contact an owner of group #{ @project.group.name } to upgrade the license.
  - else
    - owner = @project.namespace.owner
    %p Contact owner #{ link_to(simple_sanitize(owner.name), user_path(owner)) } to upgrade the license.
- elsif current_user.admin?
  = 'URL ' + upgrade_plan_url
  - if License.current&.expired?
    = link_to 'Buy GitLab Enterprise Edition', Gitlab::SUBSCRIPTIONS_PLANS_URL, class: 'btn btn-primary'
  - else
    = link_to 'Start GitLab Enterprise Edition trial', new_trial_url, class: 'btn btn-primary'
- else
  %p
    Contact your Administrator to upgrade your license.
