- page_title "Emails"
%h3.page-title
  = page_title
%p.light
  Control emails linked to your account
%hr


%ul
  %li
    Your
    %b Primary Email
    will be used for avatar detection and web based operations, such as edits and merges.
  %li
    Your
    %b Notification Email
    will be used for account notifications.
  %li
    Your
    %b Public Email
    will be displayed on your public profile.
  %li
    All email addresses will be used to identify your commits.

.panel.panel-default
  .panel-heading
    Emails (#{@emails.count + 1})
  %ul.well-list#emails-table
    %li
      %strong= @primary
      %span.label.label-success Primary Email
      - if @primary === current_user.public_email
        %span.label.label-info Public Email
      - if @primary === current_user.notification_email
        %span.label.label-info Notification Email
    - @emails.each do |email|
      %li
        %strong= email.email
        - if email.email === current_user.public_email
          %span.label.label-info Public Email
        - if email.email === current_user.notification_email
          %span.label.label-info Notification Email
        %span.cgray
          added #{time_ago_with_tooltip(email.created_at)}
        = link_to 'Remove', profile_email_path(email), data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-sm btn-remove pull-right'

%h4 Add email address
= form_for 'email', url: profile_emails_path, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :email, class: 'control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-actions
    = f.submit 'Add email address', class: 'btn btn-create'
