- webhooks_link_url = 'https://slack.com/apps/A0F7XDUAZ-incoming-webhooks'
- webhooks_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: webhooks_link_url }

.info-well
  .well-segment
    %p= s_('SlackIntegration|This service send notifications about projects\' events to Slack channels. To set up this service:')
    %ol
      %li
        = s_('SlackIntegration|%{webhooks_link_start}Add an incoming webhook%{webhooks_link_end} in your Slack team. The default channel can be overridden for each event.').html_safe % { webhooks_link_start: webhooks_link_start, webhooks_link_end: '</a>'.html_safe }
      %li
        = s_('SlackIntegration|Paste the <strong>Webhook URL</strong> into the field below.').html_safe
      %li
        = s_('SlackIntegration|Select events below to enable notifications. The <strong>Slack channel names</strong> and <strong>Slack username</strong> fields are optional.').html_safe
    %p.mt-3.mb-0
      = s_('SlackIntegration|<strong>Note:</strong> Usernames and private channels are not supported.').html_safe
      = link_to _('Learn more'), help_page_path('user/project/integrations/slack')
