- access = note_max_access_for_user(note)
- if access
  %span.note-role= access

- if note.resolvable?
  - can_resolve = can?(current_user, :resolve_note, note)
  .js-resolve-btn-mount{ data: { "discussion-id" => note.discussion_id(@noteable),
      "note-id" => note.id,
      "resolved" => note.resolved?.to_s,
      "can-resolve" => can_resolve.to_s,
      "author-name" => "#{j(note.author.name)}",
      "author-avatar" => note.author.avatar_url,
      "note-truncated" => "#{j(truncate(note.note, length: 17))}",
      "resolved-by" => "#{j(note.resolved_by.try(:name))}" } }

- if current_user
  - if note.emoji_awardable?
    - user_authored = note.user_authored?(current_user)
    = link_to '#', title: 'Add reaction', class: "note-action-button note-emoji-button js-add-award js-note-emoji #{'js-user-authored' if user_authored} has-tooltip", data: { position: 'right' } do
      = icon('spinner spin')
      %span{ class: 'link-highlight award-control-icon-neutral' }= custom_icon('emoji_slightly_smiling_face')
      %span{ class: 'link-highlight award-control-icon-positive' }= custom_icon('emoji_smiley')
      %span{ class: 'link-highlight award-control-icon-super-positive' }= custom_icon('emoji_smile')

    = render 'projects/notes/more_actions_dropdown', note: note, note_editable: note_editable
