- note_left = notes_left.present? ? notes_left.first : nil
- note_right = notes_right.present? ? notes_right.first : nil

%tr.notes_holder
  - if note_left
    %td.notes_line.old
    %td.notes_content.parallel.old
      %ul.notes{ data: { discussion_id: note_left.discussion_id } }
        = render partial: "projects/notes/note", collection: notes_left, as: :note

      = link_to_reply_discussion(note_left, 'old')
  - else
    %td.notes_line.old= ""
    %td.notes_content.parallel.old= ""

  - if note_right
    %td.notes_line.new
    %td.notes_content.parallel.new
      %ul.notes{ data: { discussion_id: note_right.discussion_id } }
        = render partial: "projects/notes/note", collection: notes_right, as: :note

      = link_to_reply_discussion(note_right, 'new')
  - else
    %td.notes_line.new= ""
    %td.notes_content.parallel.new= ""
