- note = discussion_notes.first
.timeline-entry
  .timeline-entry-inner
    .timeline-icon
      = link_to user_path(note.author) do
        = image_tag avatar_icon(note.author_email), class: "avatar s40"
    .timeline-content
      - if note.for_merge_request?
        - (active_notes, outdated_notes) = discussion_notes.partition(&:active?)
        = render "projects/notes/discussions/active", discussion_notes: active_notes if active_notes.length > 0
        = render "projects/notes/discussions/outdated", discussion_notes: outdated_notes if outdated_notes.length > 0
      - else
        = render "projects/notes/discussions/commit", discussion_notes: discussion_notes
