.note-edit-form
  = form_tag '#', method: :put, remote: true, class: 'edit-note common-note-form js-quick-submit' do
    = render layout: 'projects/md_preview', locals: { preview_class: 'md-preview' } do
      = render 'projects/zen', attr: 'note[note]', classes: 'note-textarea js-note-text js-task-list-field', placeholder: "Write a comment or drag your files here..."
      = render 'projects/notes/hints'

    .note-form-actions.clearfix
      = submit_tag 'Save Comment', class: 'btn btn-nr btn-save js-comment-button'
      %span.settings-message.note-edit-warning.js-edit-warning
        Finish editing this message first!
      %button.btn.btn-nr.btn-cancel.note-edit-cancel{ type: 'button' }
        Cancel
