= form_for [@project, @note], remote: true, html: { :'data-type' => 'json', multipart: true, id: nil,
    class: "new_note js-new-note-form common-note-form" }, authenticity_token: true do |f|
  = note_target_fields
  = f.hidden_field :commit_id
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type

  .form-group
    = render 'shared/markup_input_and_preview', {f: f, text_area_args: [:note, {}], header_anchors: notes_header_anchors?}

  .note-form-actions
    .buttons
      = f.submit 'Add Comment', class: "btn comment-btn btn-grouped js-comment-button"
      = yield(:note_actions)

      %a.btn.grouped.js-close-discussion-note-form Cancel

    .note-form-option
      %a.choose-btn.btn.js-choose-note-attachment-button
        %i.icon-paper-clip
        %span Choose File ...
      &nbsp;
      %span.file_name.js-attachment-filename File name...
      = f.file_field :attachment, class: "js-note-attachment-input hidden"

    .clearfix
