%ul#notes-list.notes.main-notes-list
  = render "projects/notes/notes"
.js-notes-busy

.js-main-target-form
- if can? current_user, :write_note, @project
  = render "projects/notes/form"

- channel = Gitlab::NoteHelper.channel(@noteable)
= subscribe_to channel
:javascript
  new Notes("#{channel}", #{@notes.map(&:id).to_json})
