- if @discussions.present?
  - @discussions.each do |discussion|
    - if discussion.for_target?(@noteable)
      = render partial: "projects/notes/note", object: discussion.first_note, as: :note
    - else
      = render 'discussions/discussion', discussion: discussion
- else
  = render partial: "projects/notes/note", collection: @notes, as: :note

= render 'projects/notes/edit_form', note: @notes[0]
= hidden_field_tag :authenticity_token, form_authenticity_token
