.admin_dash.row
  .span4
    .ui-box
      %h5.title Projects
      .data.padded
        = link_to admin_projects_path do
          %h1= Project.count
        %hr
        = link_to 'New Project', new_project_path, class: "btn btn-small"
  .span4
    .ui-box
      %h5.title Groups
      .data.padded
        = link_to admin_groups_path do
          %h1= Group.count
        %hr
        = link_to 'New Group', new_admin_group_path, class: "btn btn-small"
  .span4
    .ui-box
      %h5.title Users
      .data.padded
        = link_to admin_users_path do
          %h1= User.count
        %hr
        = link_to 'New User', new_admin_user_path, class: "btn btn-small"

.row
  .span4
    %h4 Latest projects
    %hr
    - @projects.each do |project|
      %p
        = link_to project.name_with_namespace, [:admin, project]
        %span.light.pull-right
          = time_ago_in_words project.created_at
          ago

  .span4
    %h4 Latest users
    %hr
    - @users.each do |user|
      %p
        = link_to [:admin, user] do
          = user.name
        %span.light.pull-right
          = time_ago_in_words user.created_at
          ago

  .span4
    %h4 Stats
    %hr
    %p
      Issues
      %span.light.pull-right
        = Issue.count
    %p
      Merge Requests
      %span.light.pull-right
        = MergeRequest.count
    %p
      Notes
      %span.light.pull-right
        = Note.count
    %p
      Snippets
      %span.light.pull-right
        = Snippet.count
    %p
      SSH Keys
      %span.light.pull-right
        = Key.count
    %p
      Milestones
      %span.light.pull-right
        = Milestone.count
