.admin_dash.row
  .span3
    .ui-box
      %h5 Projects
      .data.padded
        = link_to admin_projects_path do
          %h1= Project.count
        %hr
        = link_to 'New Project', new_project_path, class: "btn small"
  .span3
    .ui-box
      %h5 Groups
      .data.padded
        = link_to admin_groups_path do
          %h1= Group.count
        %hr
        = link_to 'New Group', new_admin_group_path, class: "btn small"
  .span3
    .ui-box
      %h5 Users
      .data.padded
        = link_to admin_users_path do
          %h1= User.count
        %hr
        = link_to 'New User', new_admin_user_path, class: "btn small"
  .span3
    .ui-box
      %h5
        Resque Workers
      .data.padded
        - if @resque_accessible
          = link_to admin_resque_path do
            %h1{class: @workers.present? ? "cgreen" : "cred"}
              = @workers.count
          %hr
          %p
            %strong{class: @pending_jobs > 0 ? "cred" : "cgreen"}
              #{@pending_jobs} post receive jobs waiting
        - else
          = link_to admin_resque_path do
            %h1.cdark ?
          %hr
          %p
            %strong Resque status unknown

.row
  .span6
    %h3 Latest projects
    %hr
    - @projects.each do |project|
      %p
        = link_to project.name_with_namespace, [:admin, project]
  .span6
    %h3 Latest users
    %hr
    - @users.each do |user|
      %p
        = link_to [:admin, user] do
          = user.name
          %small= user.email
