%ul.nav.nav-sidebar
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "状态" do
      %i.fa.fa-dashboard
      %span
        概况
  = nav_link(controller: :projects) do
    = link_to admin_namespaces_projects_path, title: '项目' do
      %i.fa.fa-cube
      %span
        项目
  = nav_link(controller: :users) do
    = link_to admin_users_path, title: '用户' do
      %i.fa.fa-user
      %span
        用户
  = nav_link(controller: :groups) do
    = link_to admin_groups_path, title: '组' do
      %i.fa.fa-group
      %span
        组
  = nav_link(controller: :logs) do
    = link_to admin_logs_path, title: '日志' do
      %i.fa.fa-file-text
      %span
        日志
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path, title: '广播消息' do
      %i.fa.fa-bullhorn
      %span
        消息
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path, title: '钩子' do
      %i.fa.fa-external-link
      %span
        钩子
  = nav_link(controller: :background_jobs) do
    = link_to admin_background_jobs_path, title: '后台任务' do
      %i.fa.fa-cog
      %span
        后台任务

  = nav_link(controller: :applications) do
    = link_to admin_applications_path, title: '应用' do
      %i.fa.fa-cloud
      %span
        应用

  = nav_link(controller: :services) do
    = link_to admin_application_settings_services_path, title: '服务模板' do
      %i.fa.fa-copy
      %span
        服务模板

  = nav_link(controller: :application_settings, html_options: { class: 'separate-item'}) do
    = link_to admin_application_settings_path, title: '设置' do
      %i.fa.fa-cogs
      %span
        设置

