%ul
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "Stats" do
      Overview
  = nav_link(controller: :projects) do
    = link_to "Projects", admin_projects_path
  = nav_link(controller: :users) do
    = link_to "Users", admin_users_path
  = nav_link(controller: :groups) do
    = link_to "Groups", admin_groups_path
  = nav_link(controller: :logs) do
    = link_to "Logs", admin_logs_path
  = nav_link(controller: :broadcast_messages) do
    = link_to "Messages", admin_broadcast_messages_path
  = nav_link(controller: :hooks) do
    = link_to "Hooks", admin_hooks_path
  = nav_link(controller: :background_jobs) do
    = link_to "Background Jobs", admin_background_jobs_path

