%ul.nav.nav-sidebar
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "Stats" do
      %i.fa.fa-dashboard
      %span
        Overview
  = nav_link(controller: :projects) do
    = link_to admin_projects_path do
      %i.fa.fa-cube
      %span
        Projects
  = nav_link(controller: :users) do
    = link_to admin_users_path do
      %i.fa.fa-users
      %span
        Users
  = nav_link(controller: :groups) do
    = link_to admin_groups_path do
      %i.fa.fa-group
      %span
        Groups
  = nav_link(controller: :logs) do
    = link_to admin_logs_path do
      %i.fa.fa-file-text
      %span
        Logs
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path do
      %i.fa.fa-bullhorn
      %span
        Messages
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path do
      %i.fa.fa-external-link
      %span
        Hooks
  = nav_link(controller: :background_jobs) do
    = link_to admin_background_jobs_path do
      %i.fa.fa-cog
      %span
        Background Jobs
  = nav_link(controller: :appearances) do
    = link_to admin_appearances_path do
      %i.fa.fa-image
      %span
        Appearance
