%ul.nav.nav-sidebar
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "Stats" do
      = icon('dashboard fw')
      %span
        Overview
  = nav_link(controller: :projects) do
    = link_to admin_namespaces_projects_path, title: 'Projects' do
      = icon('cube fw')
      %span
        Projects
  = nav_link(controller: :users) do
    = link_to admin_users_path, title: 'Users' do
      = icon('user fw')
      %span
        Users
  = nav_link(controller: :groups) do
    = link_to admin_groups_path, title: 'Groups' do
      = icon('group fw')
      %span
        Groups
  = nav_link(controller: :deploy_keys) do
    = link_to admin_deploy_keys_path, title: 'Deploy Keys' do
      = icon('key fw')
      %span
        Deploy Keys
  = nav_link(controller: :logs) do
    = link_to admin_logs_path, title: 'Logs' do
      = icon('file-text fw')
      %span
        Logs
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path, title: 'Broadcast Messages' do
      = icon('bullhorn fw')
      %span
        Messages
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path, title: 'Hooks' do
      = icon('external-link fw')
      %span
        Hooks
  = nav_link(controller: :background_jobs) do
    = link_to admin_background_jobs_path, title: 'Background Jobs' do
      = icon('cog fw')
      %span
        Background Jobs

  = nav_link(controller: :applications) do
    = link_to admin_applications_path, title: 'Applications' do
      = icon('cloud fw')
      %span
        Applications

  = nav_link(controller: :services) do
    = link_to admin_application_settings_services_path, title: 'Service Templates' do
      = icon('copy fw')
      %span
        Service Templates

  = nav_link(controller: :application_settings, html_options: { class: 'separate-item'}) do
    = link_to admin_application_settings_path, title: 'Settings' do
      = icon('cogs fw')
      %span
        Settings
