%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to (current_user ? root_path : explore_root_path), title: 'Home', class: 'shortcuts-activity', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        Projects
  = nav_link(controller: :groups) do
    = link_to (current_user ? dashboard_groups_path : explore_groups_path), title: 'Groups', data: {placement: 'right'} do
      = icon('group fw')
      %span
        Groups
  - if current_user
    = nav_link(controller: :milestones) do
      = link_to dashboard_milestones_path, title: 'Milestones', data: {placement: 'right'} do
        = icon('clock-o fw')
        %span
          Milestones
    = nav_link(path: 'dashboard#issues') do
      = link_to assigned_issues_dashboard_path, title: 'Issues', class: 'shortcuts-issues', data: {placement: 'right'} do
        = icon('exclamation-circle fw')
        %span
          Issues
          %span.count= current_user.assigned_issues.opened.count
    = nav_link(path: 'dashboard#merge_requests') do
      = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'shortcuts-merge_requests', data: {placement: 'right'} do
        = icon('tasks fw')
        %span
          Merge Requests
          %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :snippets) do
    = link_to (current_user ? user_snippets_path(current_user) : snippets_path), title: 'Your snippets', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        Snippets
  - if current_user
    = nav_link(controller: :profile) do
      = link_to profile_path, title: 'Profile settings', data: {toggle: 'tooltip', placement: 'bottom'} do
        = icon('user fw')
        %span
          Profile
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help', data: {placement: 'right'} do
      = icon('question-circle fw')
      %span
        Help
