%ul.nav.nav-sidebar
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: "#{project_tab_class} home"}) do
    = link_to dashboard_projects_path, title: 'Projects', class: 'dashboard-shortcuts-projects' do
      = navbar_icon('project')
      .nav-link-text
        Projects
  = nav_link(controller: :todos) do
    = link_to dashboard_todos_path, title: 'Todos' do
      = icon('bell fw')
      .nav-link-text
        Todos
  = nav_link(path: 'dashboard#activity') do
    = link_to activity_dashboard_path, class: 'dashboard-shortcuts-activity', title: 'Activity' do
      = navbar_icon('activity')
      .nav-link-text
        Activity
  = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
    = link_to dashboard_groups_path, title: 'Groups' do
      = navbar_icon('group')
      .nav-link-text
        Groups
  = nav_link(controller: 'dashboard/milestones') do
    = link_to dashboard_milestones_path, title: 'Milestones' do
      = navbar_icon('milestones')
      .nav-link-text
        Milestones
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: 'Issues', class: 'dashboard-shortcuts-issues' do
      = navbar_icon('issues')
      .nav-link-text
        Issues
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'dashboard-shortcuts-merge_requests' do
      = navbar_icon('mr')
      .nav-link-text
        Merge Requests
  = nav_link(controller: :snippets) do
    = link_to dashboard_snippets_path, title: 'Snippets' do
      = icon('clipboard fw')
      .nav-link-text
        Snippets
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      = icon('question-circle fw')
      .nav-link-text
        Help
  = nav_link(html_options: {class: profile_tab_class}) do
    = link_to profile_path, title: 'Profile Settings', data: {placement: 'bottom'} do
      = icon('user fw')
      .nav-link-text
        Profile Settings
