%ul.nav.nav-sidebar
  = nav_link(path: 'projects#trending') do
    = link_to explore_root_path, title: 'Trending Projects', data: {placement: 'right'} do
      = icon('comments fw')
      %span Trending Projects
  = nav_link(path: 'projects#starred') do
    = link_to starred_explore_projects_path, title: 'Most-starred Projects', data: {placement: 'right'} do
      = icon('star fw')
      %span Most-starred Projects
  = nav_link(path: 'projects#index') do
    = link_to explore_projects_path, title: 'All Projects', data: {placement: 'right'} do
      = icon('bookmark fw')
      %span All Projects
  = nav_link(controller: :groups) do
    = link_to explore_groups_path, title: 'All Groups', data: {placement: 'right'} do
      = icon('group fw')
      %span All Groups

