-# WARNING! This file is slated to be removed along with the `combined_menu`
-# feature flag. The logic here will be migrated to an upcoming `top_nav_helper`.
-# Please see [this MR][1] for more context.
-# [1]: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/56587
%ul.list-unstyled.navbar-sub-nav
  - if explore_nav_link?(:projects)
    = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
      = link_to explore_root_path, title: _('Projects'), class: 'dashboard-shortcuts-projects' do
        = _('Projects')
  - if explore_nav_link?(:groups)
    = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
      = link_to explore_groups_path, title: _('Groups'), class: 'dashboard-shortcuts-groups' do
        = _('Groups')
  - if explore_nav_link?(:snippets)
    = nav_link(controller: :snippets) do
      = link_to explore_snippets_path, title: _('Snippets'), class: 'dashboard-shortcuts-snippets' do
        = _('Snippets')
  %li
    = link_to _("Help"), help_path, title: _('About GitLab CE')
