%ul
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to explore_root_path, title: 'Projects', class: 'dashboard-shortcuts-projects' do
      .shortcut-mappings
        .key
          = icon('arrow-up', 'aria-label' => 'hidden')
          P
      %span
        Projects
  = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
    = link_to explore_groups_path, title: 'Groups', class: 'dashboard-shortcuts-groups' do
      .shortcut-mappings
        .key
          = icon('arrow-up', 'aria-label' => 'hidden')
          G
      %span
        Groups
  = nav_link(controller: :snippets) do
    = link_to explore_snippets_path, title: 'Snippets', class: 'dashboard-shortcuts-snippets' do
      .shortcut-mappings
        .key
          = icon('arrow-up', 'aria-label' => 'hidden')
          S
      %span
        Snippets
  %li.divider
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      %span
        Help
