- if current_user
  - can_admin_group = can?(current_user, :admin_group, @group)
  - can_edit = can?(current_user, :admin_group, @group)

  - if can_admin_group || can_edit
    .controls
      .dropdown.group-settings-dropdown
        %a.dropdown-new.btn.btn-default#group-settings-button{href: '#', 'data-toggle' => 'dropdown'}
          = icon('cog')
          = icon('caret-down')
        %ul.dropdown-menu.dropdown-menu-align-right
          - if can_admin_group
            = nav_link(path: 'groups#projects') do
              = link_to 'Projects', projects_group_path(@group), title: 'Projects'
          - if can_edit && can_admin_group
            %li.divider
            %li
              = link_to 'Edit Group', edit_group_path(@group)
