%ul.nav.nav-sidebar
  = nav_link do
    = link_to group_path(@group), title: 'Go to group', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Go to group

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'groups#edit') do
      = link_to edit_group_path(@group), title: 'Group Settings', data: {placement: 'right'} do
        = icon ('pencil-square-o fw')
        %span
          Group Settings
    = nav_link(path: 'groups#projects') do
      = link_to projects_group_path(@group), title: 'Projects', data: {placement: 'right'} do
        = icon('folder fw')
        %span
          Projects
