.nav-sidebar{ class: ("sidebar-icons-only" if collapsed_sidebar?) }
  .context-header
    = link_to profile_path, title: 'Profile Settings' do
      .avatar-container.s40.settings-avatar
        = icon('user')
      .project-title User Settings
  %ul.sidebar-top-level-items
    = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
      = link_to profile_path, title: 'Profile Settings' do
        .nav-icon-container
          = custom_icon('profile')
        %span.nav-item-name
          Profile
    = nav_link(controller: [:accounts, :two_factor_auths]) do
      = link_to profile_account_path, title: 'Account' do
        .nav-icon-container
          = custom_icon('account')
        %span.nav-item-name
          Account
    - if current_application_settings.should_check_namespace_plan?
      = nav_link(controller: :billings) do
        = link_to profile_billings_path, title: 'Billing' do
          %span
            Billing
    - if current_application_settings.user_oauth_applications?
      = nav_link(controller: 'oauth/applications') do
        = link_to applications_profile_path, title: 'Applications' do
          .nav-icon-container
            = custom_icon('applications')
          %span.nav-item-name
            Applications
    = nav_link(controller: :chat_names) do
      = link_to profile_chat_names_path, title: 'Chat' do
        .nav-icon-container
          = custom_icon('chat')
        %span.nav-item-name
          Chat
    = nav_link(controller: :personal_access_tokens) do
      = link_to profile_personal_access_tokens_path, title: 'Access Tokens' do
        .nav-icon-container
          = custom_icon('access_tokens')
        %span.nav-item-name
          Access Tokens
    = nav_link(controller: :emails) do
      = link_to profile_emails_path, title: 'Emails' do
        .nav-icon-container
          = custom_icon('emails')
        %span.nav-item-name
          Emails
    - unless current_user.ldap_user?
      = nav_link(controller: :passwords) do
        = link_to edit_profile_password_path, title: 'Password' do
          .nav-icon-container
            = custom_icon('lock')
          %span.nav-item-name
            Password
    = nav_link(controller: :notifications) do
      = link_to profile_notifications_path, title: 'Notifications' do
        .nav-icon-container
          = custom_icon('notifications')
        %span.nav-item-name
          Notifications

    = nav_link(controller: :keys) do
      = link_to profile_keys_path, title: 'SSH Keys' do
        .nav-icon-container
          = custom_icon('key')
        %span.nav-item-name
          SSH Keys
    = nav_link(controller: :gpg_keys) do
      = link_to profile_gpg_keys_path, title: 'GPG Keys' do
        .nav-icon-container
          = custom_icon('key_2')
        %span.nav-item-name
          GPG Keys
    = nav_link(controller: :preferences) do
      = link_to profile_preferences_path, title: 'Preferences' do
        .nav-icon-container
          = custom_icon('preferences')
        %span.nav-item-name
          Preferences
    = nav_link(path: 'profiles#audit_log') do
      = link_to audit_log_profile_path, title: 'Authentication log' do
        .nav-icon-container
          = custom_icon('authentication_log')
        %span.nav-item-name
          Authentication log
    = nav_link(path: 'profiles#pipeline_quota') do
      = link_to profile_pipeline_quota_path, title: 'Pipeline quota' do
        .nav-icon-container
          = custom_icon('pipeline')
        %span
          Pipeline quota

  = render 'shared/sidebar_toggle_button'
