%ul
  = nav_link(path: 'projects#show', html_options: {class: "home"}) do
    = link_to project_path(@project), title: "Project" do
      %i.icon-home

  - unless @project.empty_repo?
    - if can? current_user, :download_code, @project
      = nav_link(controller: %w(tree blob blame)) do
        = link_to 'Files', project_tree_path(@project, @ref || @repository.root_ref)
      = nav_link(controller: %w(commit commits compare repositories protected_branches)) do
        = link_to "Commits", project_commits_path(@project, @ref || @repository.root_ref)
      = nav_link(controller: %w(graph)) do
        = link_to "Network", project_graph_path(@project, @ref || @repository.root_ref)
      = nav_link(controller: %w(stat_graph)) do
        = link_to "Graphs", project_stat_graph_path(@project, @ref || @repository.root_ref)

  - if @project.issues_enabled
    = nav_link(controller: %w(issues milestones labels)) do
      = link_to url_for_project_issues do
        Issues
        - if @project.used_default_issues_tracker?
          %span.count.issue_counter= @project.issues.opened.count

  - if @project.repo_exists? && @project.merge_requests_enabled
    = nav_link(controller: :merge_requests) do
      = link_to project_merge_requests_path(@project) do
        Merge Requests
        %span.count.merge_counter= @project.merge_requests.opened.count

  - if @project.wiki_enabled
    = nav_link(controller: :wikis) do
      = link_to 'Wiki', project_wiki_path(@project, :home)

  - if @project.wall_enabled
    = nav_link(controller: :walls) do
      = link_to 'Wall', project_wall_path(@project)

  - if @project.snippets_enabled
    = nav_link(controller: :snippets) do
      = link_to 'Snippets', project_snippets_path(@project)

  - if can? current_user, :admin_project, @project
    = nav_link(html_options: {class: "#{project_tab_class}"}) do
      = link_to edit_project_path(@project), class: "stat-tab tab " do
        Settings
