- page_title t('sherlock.title'), t('sherlock.transaction'),
  t('sherlock.file_sample')

- header_title t('sherlock.title'), sherlock_transactions_path

.row-content-block
  .float-right
    = link_to(sherlock_transaction_path(@transaction), class: 'btn') do
      %i.fa.fa-arrow-left
      = t('sherlock.transaction')
  .oneline
    = t('sherlock.file_sample')
    = @file_sample.id

.prepend-top-default
  %p
    %span.light
      #{t('sherlock.time')}:
    %strong
      = @file_sample.duration.round(2)
      = t('sherlock.milliseconds')
  %p
    %span.light
      #{t('sherlock.events')}:
    %strong
      = @file_sample.events

%article.file-holder
  .js-file-title.file-title
    %i.fa.fa-file-text-o.fa-fw
    %strong
      = @file_sample.file
  .code.file-content.js-syntax-highlight
    .line-numbers
      %table.sherlock-line-samples-table
        %thead
          %tr
            %th= t('sherlock.line_capitalized')
            %th= t('sherlock.events')
            %th= t('sherlock.time')
            %th= t('sherlock.percent')
        %tbody
          - @file_sample.line_samples.each_with_index do |sample, index|
            %tr{ class: sample.majority_of?(@file_sample.duration) ? 'slow' : '' }
              %td= index + 1
              %td= sample.events
              %td
                = sample.duration.round(2)
                = t('sherlock.milliseconds')
              %td
                = sample.percentage_of(@file_sample.duration).round
                = t('sherlock.percent')

    .sherlock-file-sample
      = highlight(@file_sample.file, @file_sample.source)
