- if @commits.present?
  .ui-box
    %h5.title
      %i.icon-list
      Commits (#{@commits.count})
    .commits
      - if @commits.count > 8
        %ul.first-commits.well-list
          - @commits.first(8).each do |commit|
            = render "commits/commit", commit: commit
          %li.bottom
            8 of #{@commits.count} commits displayed.
            %strong
              %a.show-all-commits Click here to show all
        %ul.all-commits.hide.well-list
          - @commits.each do |commit|
            = render "commits/commit", commit: commit

      - else
        %ul.well-list
          - @commits.each do |commit|
            = render "commits/commit", commit: commit

- else
  %h5
    Nothing to merge from
    %span.label #{@merge_request.source_branch}
    to
    %span.label #{@merge_request.target_branch}
  %br
