%div#modal_merge_info.modal.hide
  .modal-header
    %a.close{href: "#"} ×
    %h3 How To Merge
  .modal-body
    - if @merge_request.for_fork?
      %p
        %strong Step 1.
        Checkout target branch and get recent objects from GitLab
        Assuming remote for  #{@merge_request.target_project.path_with_namespace} is called #{@merge_request.target_project.namespace.path}
        remote for  #{@merge_request.source_project.path_with_namespace} is called #{@merge_request.source_project.namespace.path}
        %pre.dark
        :preserve
          git checkout #{@merge_request.target_project.namespace.path} #{@merge_request.target_branch}
          git fetch #{@merge_request.source_project.namespace.path}
      %p
        %strong Step 2.
        Merge source branch into target branch and push changes to GitLab
        %pre.dark
          :preserve
            git merge #{@merge_request.source_project.namespace.path}/#{@merge_request.source_branch}
            git push #{@merge_request.target_project.namespace.path} #{@merge_request.target_branch}
    - else
      %p
        %strong Step 1.
        Checkout target branch and get recent objects from GitLab
        %pre.dark
        :preserve
          git checkout #{@merge_request.target_branch}
          git fetch origin
      %p
        %strong Step 2.
        Merge source branch into target branch and push changes to GitLab
      %pre.dark
        :preserve
          git merge origin/#{@merge_request.source_branch}
          git push origin #{@merge_request.target_branch}


:javascript
  $(function(){
    var modal = $('#modal_merge_info').modal({modal: true, show:false});
    $('.how_to_merge_link').bind("click", function(){
      modal.show();
    });
    $('.modal-header .close').bind("click", function(){
      modal.hide();
    })
  })

>>>>>>> Merge Request on forked commits
