- page_title "GitLab Import"
- header_title "Projects", root_path
%h3.page-title
  = icon('gitlab')
  Import projects from GitLab
%hr

= form_tag import_gitlab_project_path, class: 'form-horizontal', multipart: true do
  %p
    Project will be imported to path
    %strong
      #{@path}

  %p
    To get started add your exported project file below, then you will be redirected to the new project page and the project will appear once the import is done.
  %p
    You can generate a new export file from your project settings.
  .form-group
    = hidden_field_tag :namespace_id, @namespace_id
    = hidden_field_tag :path, @path
    = label_tag :file, class: 'control-label' do
      %span GitLab project export
    .col-sm-10
      = file_field_tag :file, class: ''

  .form-actions
    = submit_tag 'Continue to the next step', class: 'btn btn-create'
