- page_title "GitLab Import"
- header_title "Projects", root_path
%h3.page-title
  = icon('gitlab')
  Import an exported GitLab project
%hr

= form_tag import_gitlab_project_path, class: 'form-horizontal', multipart: true do
  %p
    Project will be imported as
    %strong
      #{@namespace.name}/#{@path}

  %p
    To move or copy an entire GitLab project from another GitLab installation to this one, navigate to the original project's settings page, generate an export file, and upload it here.
  .form-group
    = hidden_field_tag :namespace_id, @namespace.id
    = hidden_field_tag :path, @path
    = label_tag :file, class: 'control-label' do
      %span GitLab project export
    .col-sm-10
      = file_field_tag :file, class: ''

  .form-actions
    = submit_tag 'Import project', class: 'btn btn-create'
