- page_title "FogBugz Import"
- header_title "Projects", root_path
%h3.page-title
  %i.fa.fa-bug
  Import projects from Gitlab
%hr

= form_tag import_gitlab_project_path, class: 'form-horizontal', multipart: true do
  %p
    To get started you add your project export file below.
  .form-group
    = hidden_field_tag :namespace_id, @namespace_id
    = hidden_field_tag :path, @path
    = label_tag :file, class: 'control-label' do
      %span GitLab export file
    .col-sm-10
      = file_field_tag :file, class: ''

  .form-actions
    = submit_tag 'Continue to the next step', class: 'btn btn-create'
