%div
  = gitlab_ui_form_for [:user_settings, @gpg_key] do |f|
    = form_errors(@gpg_key)

    .form-group
      = f.label :key, s_('Profiles|Key'), class: 'label-bold'
      = f.text_area :key, class: "form-control gl-form-input", rows: 8, required: true, placeholder: _("Don't paste the private part of the GPG key. Paste the public part which begins with '-----BEGIN PGP PUBLIC KEY BLOCK-----'.")

    .gl-mt-3
      = f.submit s_('Profiles|Add key'), pajamas_button: true
      = render Pajamas::ButtonComponent.new(button_options: { type: 'reset', class: 'gl-ml-2 js-toggle-button' }) do
        = _('Cancel')
