- is_admin = local_assigns.fetch(:admin, false)
- require_external_verification = Integrations::BeyondIdentity.activated_for_instance?
- if @gpg_keys.any?
  .table-holder
    %table.table.b-table.gl-table.b-table-stacked-md.-gl-mt-1.-gl-mb-2.ssh-keys-list
      %thead.gl-hidden.md:gl-table-header-group
        %tr
          %th= s_('Profiles|Key')
          %th= _('Status')
          %th= _('Created')
          %th.gl-text-right= _('Actions')
      = render partial: 'user_settings/gpg_keys/key', collection: @gpg_keys, locals: { is_admin: is_admin, require_external_verification: require_external_verification }

- else
  %p.gl-text-subtle
    - if is_admin
      = _('There are no GPG keys associated with this account.')
    - else
      = _('There are no GPG keys with access to your account.')
