- page_title _('Labels')
- can_admin_label = can?(current_user, :admin_label, @group)
- search = params[:search]
- subscribed = params[:subscribed]
- labels_or_filters = @labels.exists? || search.present? || subscribed.present?

- if labels_or_filters
  #js-promote-label-modal
  = render 'shared/labels/nav', labels_or_filters: labels_or_filters, can_admin_label: can_admin_label

  .labels-container.gl-mt-2.gl-bg-gray-10.gl-border-solid.gl-border-1.gl-border-gray-100
    - if @labels.any?
      .text-muted
        = _('Labels can be applied to %{features}. Group labels are available for any project within the group.') % { features: issuable_types.to_sentence }
      .other-labels
        %h5= _('Labels')
        %ul.content-list.manage-labels-list.js-other-labels
          = render partial: 'shared/label', collection: @labels, as: :label, locals: { use_label_priority: false, subject: @group }
          = paginate @labels, theme: 'gitlab'
    - elsif search.present?
      .nothing-here-block
        = _('No labels with such name or description')
    - elsif subscribed.present?
      .nothing-here-block
        = _('You do not have any subscriptions yet')
- else
  = render 'shared/empty_states/labels'

%template#js-badge-item-template
  %li.js-priority-badge.inline.gl-ml-3
    .label-badge.gl-bg-blue-50= _('Prioritized label')
