- page_title 'Labels'

.top-area.adjust
  .nav-text
    Labels can be applied to issues and merge requests.

  .nav-controls
    - if can?(current_user, :admin_label, @group)
      = link_to new_group_label_path(@group), class: "btn btn-new" do
        New label

.labels
  -# Only show it in the first page
  - hide = @group.labels.empty? || (params[:page].present? && params[:page] != '1')
  .global-labels{ class: ('hide' if hide) }
    %h5
      = icon('globe')
      Global Labels
    %ul.content-list.manage-labels-list.js-global-labels
      %p.empty-message{ class: ('hidden' unless @global_labels.empty?) } No global labels yet
      - if @global_labels.present?
        = render @global_labels

  .group-labels
    %h5
      = icon('folder-open')
      Group Labels
    %ul.content-list.manage-labels-list.js-group-labels
      - if @labels.present?
        = render @labels
    = paginate @labels, theme: 'gitlab'
    - if @labels.blank?
      .nothing-here-block
        - if can?(current_user, :admin_label, @group)
          Create a group label or #{link_to 'generate a default set of group labels', generate_group_labels_path(@group), method: :post}.
        - else
          No labels created
