- page_title 'Labels'

.top-area.adjust
  .nav-text
    Labels can be applied to issues and merge requests.

  .nav-controls
    - if can?(current_user, :admin_label, @group)
      = link_to new_group_label_path(@group), class: "btn btn-new" do
        New label

.labels
  .group-labels
    %h5
      = icon('folder-open')
      Group Labels
    %ul.content-list.manage-labels-list.js-group-labels
      - if @labels.present?
        = render @labels
    = paginate @labels, theme: 'gitlab'
    - if @labels.blank?
      .nothing-here-block
        - if can?(current_user, :admin_label, @group)
          Create a label or #{link_to 'generate a default set of labels', generate_group_labels_path(@group), method: :post}.
        - else
          No labels created
