- content_for :usage_quotas_subtitle do
  = s_('UsageQuota|Usage of resources across your projects')

- content_for :usage_quotas_alerts do
  = render 'shared/shared_runners_minutes_limit', namespace: @namespace, usage_quotas_link_hidden: true, classes: 'gl-my-3'

- content_for :usage_quotas_tabs do
  = render_if_exists 'shared/usage_quotas/tabs_content/pipelines'
  #js-storage-usage-app{ data: storage_usage_app_data(@namespace) }
  = render_if_exists 'shared/usage_quotas/tabs_content/pages'

= render 'shared/usage_quotas/index'
