- page_title "Repository"
<<<<<<< HEAD

= render @deploy_keys
= render "projects/push_rules/index"
= render "projects/mirrors/show"
=======
= render "projects/settings/head"

= render @deploy_keys
>>>>>>> ce/master
= render "projects/protected_branches/index"
