- page_title "Repository"
- @content_class = "limit-container-width" unless fluid_layout
= render "projects/settings/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('deploy_keys')

= render "projects/push_rules/index"
= render "projects/mirrors/show"

- if @project.feature_available?(:ref_permissions_for_users, current_user)
  = render "projects/protected_branches/ee/index"
  = render "projects/protected_tags/ee/index"
- else
  = render "projects/protected_branches/index"
  = render "projects/protected_tags/index"

= render @deploy_keys
