- page_title "Repository"
= render "projects/settings/head"

= render @deploy_keys
= render "projects/push_rules/index"
= render "projects/mirrors/show"

= render "projects/protected_branches/index"
= render "projects/protected_tags/index"
