%b
  = s_('PrometheusService|Auto configuration')

- if service.manual_configuration?
  .info-well.p-2.mt-2
    = s_('PrometheusService|To enable the installation of Prometheus on your clusters, deactivate the manual configuration.')
- else
  .container-fluid
    .row
      - if service.prometheus_available?
        .col-sm-2
          .svg-container
            = image_tag 'illustrations/monitoring/getting_started.svg'
        .col-sm-10
          %p.text-success.gl-mt-3
            = s_('PrometheusService|GitLab manages Prometheus on your clusters.')
          = link_to s_('PrometheusService|Manage clusters'), project_clusters_path(project), class: 'gl-button btn btn-default'
      - else
        .col-sm-2
          = image_tag 'illustrations/monitoring/loading.svg'
        .col-sm-10
          %p.gl-mt-3
            = s_('PrometheusService|Monitor your project’s environments by deploying and configuring Prometheus on your clusters.')
          = link_to s_('PrometheusService|Install Prometheus on clusters'), project_clusters_path(project), class: 'gl-button btn btn-confirm'
