- group = local_assigns.fetch(:group)

= render Pajamas::CardComponent.new do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0= s_('GroupSettings|Export group')
    %p.gl-text-subtle.gl-text-sm.gl-m-0
      = _('Export this group with all related data.')

  - c.with_body do
    = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false, alert_options: { class: 'gl-mb-4' }) do |c|
      - c.with_body do
        - docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/group/import/_index.md') }
        - docs_link_end = '</a>'.html_safe
        = s_('GroupsNew|This feature is deprecated and replaced by group migration by direct transfer. %{docs_link_start}Learn more%{docs_link_end}.').html_safe % { docs_link_start: docs_link_start, docs_link_end: docs_link_end }
    %p
      - export_information = _('After the export is complete, download the data file from a notification email or from this page. You can then import the data file from the %{strong_text_start}Create new group%{strong_text_end} page of another GitLab instance.') % { strong_text_start: '<strong>'.html_safe, strong_text_end: '</strong>'.html_safe}
      = export_information.html_safe
    = render Pajamas::AlertComponent.new(dismissible: false, alert_options: { class: 'gl-mb-5' }) do |c|
      - c.with_body do
        %p.gl-mb-0
          %p= _('The following items will be exported:')
          %ul
            - group_export_descriptions.each do |description|
              %li= description
          %p= _('The following items will NOT be exported:')
          %ul
            %li= _('Projects')
            %li= _('Runner tokens')
            %li= _('SAML discovery tokens')
    - if group.export_file_exists?(current_user)
      = render Pajamas::ButtonComponent.new(href: download_export_group_path(group), button_options: { rel: 'nofollow', data: { method: :get } }) do
        = _('Download export')
      = render Pajamas::ButtonComponent.new(href: export_group_path(group), button_options: { data: { method: :post } }) do
        = _('Regenerate export')
    - else
      = render Pajamas::ButtonComponent.new(href: export_group_path(group), button_options: { data: { method: :post } }) do
        = _('Export group')
