- remove_form_id = local_assigns.fetch(:remove_form_id, nil)
-# FIXME: Replace `Date.current` with `group` after https://gitlab.com/gitlab-org/gitlab/-/work_items/527085
- date = permanent_deletion_date_formatted(Date.current)

- if group.marked_for_deletion?
  = render Pajamas::CardComponent.new(body_options: { class: 'gl-bg-feedback-danger' }) do |c|
    - c.with_header do
      .gl-flex.gl-grow
        %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-feedback-danger= _('Delete group immediately')

    - c.with_body do
      = form_tag(group, method: :delete, id: remove_form_id) do
        %p
          = html_escape(_("This group is scheduled for deletion on %{date}. This action will permanently delete this group, including its subgroups and projects, %{strong_open}immediately%{strong_close}. This action cannot be undone.")) % { date: tag.strong(date), strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }

        = hidden_field_tag(:permanently_remove, true)

        = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id, button_text: _('Delete group immediately')
