- return unless group.self_deletion_scheduled?

- remove_form_id = local_assigns.fetch(:remove_form_id, nil)

= render Pajamas::CardComponent.new(body_options: { class: 'gl-bg-feedback-danger' }) do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-feedback-danger= _('Delete group immediately')

  - c.with_body do
    = form_tag(group, method: :delete, id: remove_form_id) do
      %p= delete_immediately_group_scheduled_for_deletion_message(group)

      = hidden_field_tag(:permanently_remove, true)

      = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id, button_text: _('Delete group immediately')
