- docs_link_url = help_page_path('topics/git/lfs/index')
- docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: docs_link_url }

%h5= _('Large File Storage')

%p= s_('Check the %{docs_link_start}documentation%{docs_link_end}.').html_safe % { docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }

.form-group.gl-mb-3
  .gl-form-checkbox.custom-control.custom-checkbox
    = f.check_box :lfs_enabled, checked: @group.lfs_enabled?, class: 'custom-control-input', data: { qa_selector: 'lfs_checkbox' }
    = f.label :lfs_enabled, class: 'custom-control-label' do
      = _('Allow projects within this group to use Git LFS')
      %p.help-text= _('This setting can be overridden in each project.')
