.sub-section
  %h4.danger-title= _('Remove group')
  = form_tag(group, method: :delete) do
    %p
      = _('Removing this group also removes all child projects, including archived projects, and their resources.')
      %br
      %strong= _('Removed group can not be restored!')
    = button_to _('Remove group'), '#', class: 'gl-button btn btn-danger js-confirm-danger', data: { 'confirm-danger-message' => remove_group_message(group) }
