- remove_form_id = local_assigns.fetch(:remove_form_id, nil)

= render Pajamas::CardComponent.new(body_options: { class: 'gl-bg-red-50' }) do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-red-500= _('Delete group')

  - c.with_body do
    = form_tag(group, method: :delete, id: remove_form_id) do
      %p
        = _('This action will permanently delete this group, including its subgroups and projects.')

      = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id
