.sub-section
  %h4.danger-title= _('Remove group')
  = form_tag(group, method: :delete) do
    %p
      = _('Removing group will cause all child projects and resources to be removed.')
      %br
      %strong= _('Removed group can not be restored!')

    = button_to _('Remove group'), '#', class: 'btn btn-remove js-confirm-danger', data: { 'confirm-danger-message' => remove_group_message(group) }
