%ul.list-group
  %li.list-group-item
    Issue:
    - if issue = @cycle_analytics.issue
      = distance_of_time_in_words issue
    - else
      = "<Not enough data>"

  %li.list-group-item
    Plan:
    - if plan = @cycle_analytics.plan
      = distance_of_time_in_words plan
    - else
      = "<Not enough data>"

  %li.list-group-item
    Code:
    - if code = @cycle_analytics.code.presence
      = distance_of_time_in_words code
    - else
      = "<Not enough data>"

  %li.list-group-item
    Test:
    - if test = @cycle_analytics.test.presence
      = distance_of_time_in_words test
    - else
      = "<Not enough data>"

  %li.list-group-item
    Review:
    - if review = @cycle_analytics.review.presence
      = distance_of_time_in_words review
    - else
      = "<Not enough data>"

  %li.list-group-item
    Staging:
    - if staging = @cycle_analytics.staging.presence
      = distance_of_time_in_words staging
    - else
      = "<Not enough data>"

  %li.list-group-item
    Production:
    - if production = @cycle_analytics.production.presence
      = distance_of_time_in_words production
    - else
      = "<Not enough data>"
