- show_cancel_button = local_assigns.fetch(:show_cancel_button, false)
= gitlab_ui_form_for [@project, @trigger], html: { class: 'gl-show-field-errors' } do |f|
  = form_errors(@trigger)

  - if @trigger.token
    .form-group
      %label.label-bold Token
      %p.form-control-plaintext= @trigger.token
  .form-group
    = f.label :key, s_("Trigger|Description"), class: "label-bold"
    = f.text_field :description, class: 'form-control gl-form-input', required: true, title: 'Trigger description is required.', placeholder: s_("Trigger|Trigger description")
  .form-group
    = f.label :expires_at, s_('Trigger|Expiration Date')
    = f.gitlab_ui_datepicker :expires_at, class: 'gl-datepicker-input form-control gl-form-input', placeholder: 'YYYY-MM-DD', autocomplete: 'off'
    %span.form-text.text-muted
      = s_('Trigger|By default, trigger tokens never expire if no expiration date is selected.')
  = f.submit btn_text, pajamas_button: true
  - if show_cancel_button
    = render Pajamas::ButtonComponent.new(button_options: { type: 'reset', class: 'gl-ml-2 js-toggle-button' }) do
      = _('Cancel')
