- page_title "触发器"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p
      触发器被 API 调用用于强制重新构建指定的分支或标签。
  .col-lg-9
    %h5.prepend-top-0
      你的触发器
    - if @triggers.any?
      .table-responsive
        %table.table
          %thead
            %th 授权码
            %th 最后使用
            %th
          = render partial: 'trigger', collection: @triggers, as: :trigger
    - else
      %p.settings-message.text-center.append-bottom-default
        没有触发器，请使用下面的按钮增加。

    = form_for @trigger, url: url_for(controller: 'projects/triggers', action: 'create') do |f|
      = f.submit "增加触发器", class: 'btn btn-success'

    %h5.prepend-top-default
      使用 CURL

    %p.light
      复制授权码到下面并设置你的分支或标签名。此例子是将触发重新构建。


    %pre
      :plain
        curl -X POST \
             -F token=TOKEN \
             -F ref=REF_NAME \
             #{builds_trigger_url(@project.id)}
    %h5.prepend-top-default
      使用 .gitlab-ci.yml

    %p.light
      复制代码片段到依赖项目的
      %i .gitlab-ci.yml
      文件。
      此例子将在依赖项目构建结束试触发此项目重新构建。

    %pre
      :plain
        trigger:
          type: deploy
          script:
            - "curl -X POST -F token=TOKEN -F ref=REF_NAME #{builds_trigger_url(@project.id)}"
    %h5.prepend-top-default
      通过构建变量传递

    %p.light
      增加
      %strong variables[VARIABLE]=VALUE
      到 API 请求中。
      变量的值可以被用来区分触发构建。

    %pre.append-bottom-0
      :plain
        curl -X POST \
             -F token=TOKEN \
             -F "ref=REF_NAME" \
             -F "variables[RUN_NIGHTLY_BUILD]=true" \
             #{builds_trigger_url(@project.id)}
