- unless @branches.empty?
  %br
  %h4 已经受保护:
  %table.table.protected-branches-list
    %thead
      %tr.no-border
        %th 分支
        %th 开发人员可以推送
        %th 最新提交
        %th

    %tbody
      - @branches.each do |branch|
        - @url = namespace_project_protected_branch_path(@project.namespace, @project, branch)
        %tr
          %td
            = link_to namespace_project_commits_path(@project.namespace, @project, branch.name) do
              %strong= branch.name
              - if @project.root_ref?(branch.name)
                %span.label.label-info 默认
            %td
              = check_box_tag "developers_can_push", branch.id, branch.developers_can_push, "data-url" => @url
            %td
              - if commit = branch.commit
                = link_to namespace_project_commit_path(@project.namespace, @project, commit.id), class: 'commit_short_id' do
                  = commit.short_id
                &middot;
                #{time_ago_with_tooltip(commit.committed_date)}
              - else
                (分支已经从项目中删除)
            %td
              .pull-right
                - if can? current_user, :admin_project, @project
                  = link_to '取消保护', [@project.namespace.becomes(Namespace), @project, branch], data: { confirm: '开发人员将可以写分支. 您确定?' }, method: :delete, class: "btn btn-remove btn-sm"
