- page_title "Protected branches"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p Keep stable branches secure and force developers to use merge requests.
    %p.prepend-top-20
      Protected branches are designed to:
      %ul
        %li prevent pushes from everybody except #{link_to "masters", help_page_path("user/permissions"), class: "vlink"}
        %li prevent anyone from force pushing to the branch
        %li prevent anyone from deleting the branch
      %p.append-bottom-0 Read more about #{link_to "project permissions", help_page_path("user/permissions"), class: "underlined-link"}
  .col-lg-9
    %h5.prepend-top-0
      Protect a branch
    - if can? current_user, :admin_project, @project
      = form_for [@project.namespace.becomes(Namespace), @project, @protected_branch] do |f|
        = form_errors(@protected_branch)

        .form-group
          = f.label :name, "Branch", class: "label-light"
          = render partial: "dropdown", locals: { f: f }
          %p.help-block
            = link_to "Wildcards", help_page_path('user/project/protected_branches', anchor: "wildcard-protected-branches")
            such as
            %code *-stable
            or
            %code production/*
            are supported.

        .form-group
          .prepend-left-10
            = f.hidden_field :allowed_to_merge
            = f.label :allowed_to_merge, "Allowed to Merge: ", class: "label-light append-bottom-0"
            = dropdown_tag("<Make a selection>",
                           options: { title: "Allowed To Merge", toggle_class: 'allowed-to-merge',
                                      dropdown_class: 'dropdown-menu-selectable',
                                      data: { field_name: "protected_branch[allowed_to_merge]" }})

        .form-group
          .prepend-left-10
            = f.hidden_field :allowed_to_push
            = f.label :allowed_to_push, "Allowed to Push: ", class: "label-light append-bottom-0"
            = dropdown_tag("<Make a selection>",
                           options: { title: "Allowed To Push", toggle_class: 'allowed-to-push',
                                      dropdown_class: 'dropdown-menu-selectable',
                                      data: { field_name: "protected_branch[allowed_to_push]" }})


        = f.submit "Protect", class: "btn-create btn protect-branch-btn", disabled: true

    %hr
    = render "branches_list"

:javascript
  new ProtectedBranchesAccessSelect($(".new_protected_branch"), false);
