.table-mobile-content
  .branch-commit
    - if deployment.ref
      %span.icon-container
        = deployment.tag? ? icon('tag') : sprite_icon('fork', css_class: 'sprite')
      = link_to deployment.ref, project_ref_path(@project, deployment.ref), class: "ref-name"
    .icon-container.commit-icon
      = custom_icon("icon_commit")
    = link_to deployment.short_sha, project_commit_path(@project, deployment.sha), class: "commit-sha"

    %p.commit-title.flex-truncate-parent
      %span.flex-truncate-child
        - if commit_title = deployment.commit_title
          = author_avatar(deployment.commit, size: 20)
          = link_to_markdown commit_title, project_commit_path(@project, deployment.sha), class: "commit-row-message"
        - else
          Cant find HEAD commit for this branch
