%tr.deployment
  %td
    %strong= "##{deployment.iid}"

  %td
    = render 'projects/deployments/commit', deployment: deployment

  %td
    - if deployment.deployable
      = link_to [@project.namespace.becomes(Namespace), @project, deployment.deployable] do
        = user_avatar(user: deployment.user, size: 20)
        = "#{deployment.deployable.name} (##{deployment.deployable.id})"

  %td
    #{time_ago_with_tooltip(deployment.created_at)}

  %td
    = render 'projects/deployments/actions', deployment: deployment, allow_rollback: true
