.gl-responsive-table-row.deployment
  .table-section.section-10{ role: 'gridcell' }
    %strong ##{deployment.iid}

  .table-section.section-40{ role: 'gridcell' }
    = render 'projects/deployments/commit', deployment: deployment

  .table-section.section-15.build-column{ role: 'gridcell' }
    - if deployment.deployable
      = link_to [@project.namespace.becomes(Namespace), @project, deployment.deployable], class: 'build-link' do
        #{deployment.deployable.name} (##{deployment.deployable.id})
      - if deployment.user
        by
        = user_avatar(user: deployment.user, size: 20)

  .table-section.section-15{ role: 'gridcell' }
    #{time_ago_with_tooltip(deployment.created_at)}

  .table-section.section-20.environments-actions.table-button-footer{ role: 'gridcell' }
    .btn-group.environment-action-buttons
      = render 'projects/deployments/actions', deployment: deployment
      = render 'projects/deployments/rollback', deployment: deployment
