- if deployment.deployable && can?(current_user, :create_deployment, deployment)
  - tooltip = deployment.last? ? s_('Environments|Re-deploy to environment') : s_('Environments|Rollback environment')
  = button_tag class: 'gl-button btn btn-default btn-icon has-tooltip', type: 'button', data: { toggle: 'modal', target: "#confirm-rollback-modal-#{deployment.id}" }, title: tooltip do
    - if deployment.last?
      = sprite_icon('repeat', css_class: 'gl-icon')
    - else
      = sprite_icon('redo', css_class: 'gl-icon')
  = render 'projects/deployments/confirm_rollback_modal', deployment: deployment
