%tr
  %th{ colspan: 10 }
    %strong
      %a{ name: stage.name }
      %span{ class: "ci-status-link ci-status-icon-#{stage.status}" }
        = ci_icon_for_status(stage.status)
      &nbsp;
      = stage.name.titleize
= render stage.latest_statuses, stage: false, ref: false, pipeline_link: false, allow_retry: true
= render stage.retried_statuses, stage: false, ref: false, pipeline_link: false, retried: true
%tr
  %td{ colspan: 10 }
    &nbsp;
