- pipeline = @build.pipeline

.content-block.build-header.top-area.page-content-header
  .header-content
    = render 'ci/status/icon', status: @build.detailed_status(current_user), show_status_text: true
    %strong
      Job
      = link_to "##{@build.id}", project_job_path(@project, @build), class: 'js-build-id'
    in pipeline
    %strong
      = link_to "##{pipeline.id}", pipeline_path(pipeline)
    for
    %strong
      = link_to pipeline.short_sha, project_commit_path(@project, pipeline.sha), class: 'commit-sha'
    from
    %strong
      = link_to @build.ref, project_ref_path(@project, @build.ref), class: 'ref-name'

    = render "projects/jobs/user" if @build.user

    = time_ago_with_tooltip(@build.created_at)
