%aside.right-sidebar.right-sidebar-expanded.build-sidebar.js-build-sidebar.js-right-sidebar{ data: { "offset-top" => "101", "spy" => "affix" } }
  .sidebar-container
    .blocks-container
      #js-details-block-vue{ data: { terminal_path: can?(current_user, :create_build_terminal, @build) && @build.has_terminal? ? terminal_project_job_path(@project, @build) : nil } }

      - if @build.pipeline.stages_count > 1
        .block-last.dropdown.build-dropdown
          %div
            %span{ class: "ci-status-icon-#{@build.pipeline.status}" }
              = ci_icon_for_status(@build.pipeline.status)
            Pipeline
            = link_to "##{@build.pipeline.id}", project_pipeline_path(@project, @build.pipeline), class: 'link-commit'
            from
            = link_to "#{@build.pipeline.ref}", project_ref_path(@project, @build.pipeline.ref), class: 'link-commit ref-name'
          %button.dropdown-menu-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
            %span.stage-selection More
            = icon('chevron-down')
          %ul.dropdown-menu
            - @build.pipeline.legacy_stages.each do |stage|
              %li
                %a.stage-item= stage.name

    .builds-container
      - HasStatus::ORDERED_STATUSES.each do |build_status|
        - builds.select{|build| build.status == build_status}.each do |build|
          .build-job{ class: sidebar_build_class(build, @build), data: { stage: build.stage } }
            - tooltip = sanitize(build.tooltip_message.dup)
            = link_to(project_job_path(@project, build), data: { toggle: 'tooltip', title: tooltip, container: 'body' }) do
              = sprite_icon('arrow-right', size:16, css_class: 'icon-arrow-right')
              %span{ class: "ci-status-icon-#{build.status}" }
                = ci_icon_for_status(build.status)
              %span
                - if build.name
                  = build.name
                - else
                  = build.id
              - if build.retried?
                = sprite_icon('retry', size:16, css_class: 'icon-retry')
