- admin = local_assigns.fetch(:admin, false)

- if builds.blank?
  - if @project
    .row.empty-state
      .col-12
        .svg-content.svg-250
          = image_tag('jobs-empty-state.svg')
      .col-12
        .text-content.gl-text-center
          %h4
            = s_('Jobs|Use jobs to automate your tasks')
          %p
            = s_('Jobs|Jobs are the building blocks of a GitLab CI/CD pipeline. Each job has a specific task, like testing code. To set up jobs in a CI/CD pipeline, add a CI/CD configuration file to your project.')
          = link_to s_('Jobs|Create CI/CD configuration file'), project_ci_pipeline_editor_path(project), class: 'btn gl-button btn-confirm js-empty-state-button'
  - else
    .nothing-here-block= s_('Jobs|No jobs to show')
- else
  .table-holder
    %table.table.ci-table.builds-page
      %thead
        %tr
          %th Status
          %th Job
          %th Pipeline
          - if admin
            %th Project
            %th Runner
          %th Stage
          %th Name
          %th Duration
          %th Coverage
          %th

      = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: { commit_sha: true, ref: true, pipeline_link: true, stage: true, allow_retry: true, admin: admin }

  = paginate_collection(builds)
