- @no_container = true
- add_to_breadcrumbs _("Jobs"), project_jobs_path(@project)
- breadcrumb_title "##{@build.id}"
- page_title "#{@build.name} (##{@build.id})", _("Jobs")

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/xterm'


%div{ class: container_class }
  #js-vue-job-app{ data: { job_endpoint: project_job_path(@project, @build, format: :json),
    trace_options: javascript_build_options,
    runner_help_url: help_page_path('ci/runners/README.html', anchor: 'setting-maximum-job-timeout-for-a-runner'),
    terminal_path: can?(current_user, :create_build_terminal, @build) && @build.has_terminal? ? terminal_project_job_path(@project, @build) : nil,
    runners_path: project_runners_path(@build.project, anchor: 'js-runners-settings') } }

  - if @build.starts_environment?
    .prepend-top-default.js-environment-container
      .environment-information
        - if @build.outdated_deployment?
          = ci_icon_for_status('success_with_warnings')
        - else
          = ci_icon_for_status(@build.status)

        - environment = environment_for_build(@build.project, @build)
        - if @build.success? && @build.last_deployment.present?
          - if @build.last_deployment.last?
            This job is the most recent deployment to #{environment_link_for_build(@build.project, @build)}.
          - else
            This job is an out-of-date deployment to #{environment_link_for_build(@build.project, @build)}.
            View the most recent deployment #{deployment_link(environment.last_deployment)}.
        - elsif @build.complete? && !@build.success?
          The deployment of this job to #{environment_link_for_build(@build.project, @build)} did not succeed.
        - else
          This job is creating a deployment to #{environment_link_for_build(@build.project, @build)}
          - if environment.try(:last_deployment)
            and will overwrite the #{deployment_link(environment.last_deployment, text: 'latest deployment')}

  -#= render "sidebar", builds: @builds

.js-build-options{ data: javascript_build_options }

