- views = integration_views
- return unless views.any?

.col-sm-12
  %hr

.col-lg-4.profile-settings-sidebar#integrations
  %h4.gl-mt-0
    = s_('Preferences|Integrations')
  %p
    = s_('Preferences|Customize integrations with third party services.')
    = succeed '.' do
      = link_to _('Learn more'), help_page_path('user/profile/preferences.md', anchor: 'integrations'), target: '_blank'

.col-lg-8
  - views.each do |view|
    = render view, f: f

