- page_title "Design"
%h3.page-title
  = page_title
%p.light
  Appearance settings will be saved to your profile and made available across all devices.
%hr

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: {class: 'js-preferences-form'} do |f|
  .panel.panel-default.application-theme
    .panel-heading
      Application theme
    .panel-body
      - Gitlab::Themes.each do |theme|
        = label_tag do
          .preview{class: theme.css_class}
          = f.radio_button :theme_id, theme.id
          = theme.name

  .panel.panel-default.syntax-theme
    .panel-heading
      Syntax highlighting theme
    .panel-body
      - color_schemes.each do |color_scheme_id, color_scheme|
        = label_tag do
          .preview= image_tag "#{color_scheme}-scheme-preview.png"
          = f.radio_button :color_scheme_id, color_scheme_id
          = color_scheme.tr('-_', ' ').titleize
