- page_title _('System information')
= render ::Layouts::PageHeadingComponent.new(_('System information'))

.gl-grid.gl-gap-5{ class: "@sm/panel:gl-grid-cols-2 @md/panel:gl-grid-cols-3", data: { event_tracking_load: 'true', event_tracking: 'view_admin_system_info_pageload' } }
  = render Pajamas::CardComponent.new do |c|
    - c.with_header do
      %h2.gl-flex.gl-justify-between
        = _('CPU')
        = sprite_icon('pod')
    - c.with_body do
      - if @cpus
        .gl-heading-1.gl-m-0= _('%{cores} cores') % { cores: @cpus.length }
      - else
        = _('Unable to collect CPU information')

  = render Pajamas::CardComponent.new do |c|
    - c.with_header do
      %h2.gl-flex.gl-justify-between
        = _('Memory usage')
        = sprite_icon('status-health')
    - c.with_body do
      - if @memory
        .gl-heading-1.gl-m-0 #{number_to_human_size(@memory.active_bytes)} / #{number_to_human_size(@memory.total_bytes)}
        - progress = @memory.active_bytes / (@memory.total_bytes / 100)
        = render Pajamas::ProgressComponent.new(value: progress, variant: 'primary')
      - else
        = _('Unable to collect memory information')

  = render Pajamas::CardComponent.new do |c|
    - c.with_header do
      %h2.gl-flex.gl-justify-between
        = _('System started')
        = sprite_icon('clock')
    - c.with_body do
      .gl-heading-1.gl-m-0= time_ago_with_tooltip(Rails.application.config.booted_at)

  - @disks.each do |disk|
    = render Pajamas::CardComponent.new do |c|
      - c.with_header do
        %h2.gl-flex.gl-justify-between
          = _('Disk usage')
          = sprite_icon('disk')
      - c.with_body do
        .gl-heading-1.gl-m-0 #{number_to_human_size(disk[:bytes_used])} / #{number_to_human_size(disk[:bytes_total])}
        - if disk[:bytes_total] == 0
          = render Pajamas::ProgressComponent.new(value: 0, variant: 'primary')
        - else
          - progress = disk[:bytes_used] / (disk[:bytes_total] / 100)
          = render Pajamas::ProgressComponent.new(value: progress, variant: 'primary')
        .gl-mt-3
          %code= disk[:disk_name]
          %code= disk[:mount_path]
