- page_title _('System Info')

.gl-mt-3
.row
  .col-sm
    .bg-light.info-well.p-3
      %h4.page-title.d-flex
        .gl-display-flex.gl-align-items-center.gl-justify-content-center
          = sprite_icon('pod', size: 18, css_class: 'pod-icon gl-mr-3')
        = _('CPU')
      .data
        - if @cpus
          %h2= _('%{cores} cores') % { cores: @cpus.length }
        - else
          = sprite_icon('warning-solid', css_class: 'text-warning')
          = _('Unable to collect CPU info')
    .bg-light.info-well.p-3.gl-mt-3
      %h4.page-title.d-flex
        .gl-display-flex.gl-align-items-center.gl-justify-content-center
          = sprite_icon('status-health', size: 18, css_class: 'pod-icon gl-mr-3')
        = _('Memory Usage')
      .data
        - if @memory
          %h2 #{number_to_human_size(@memory.active_bytes)} / #{number_to_human_size(@memory.total_bytes)}
        - else
          = sprite_icon('warning-solid', css_class: 'text-warning')
          = _('Unable to collect memory info')
    .bg-light.info-well.p-3.gl-mt-3
      %h4.page-title.d-flex
        .gl-display-flex.gl-align-items-center.gl-justify-content-center
          = sprite_icon('clock', size: 18, css_class: 'pod-icon gl-mr-3')
        = _('Uptime')
      .data
        %h2= distance_of_time_in_words_to_now(Rails.application.config.booted_at)
  .col-sm
    .bg-light.info-well.p-3
      %h4.page-title.d-flex
        .gl-display-flex.gl-align-items-center.gl-justify-content-center
          = sprite_icon('disk', size: 18, css_class: 'pod-icon gl-mr-3')
        = _('Disk Usage')
      .data
        %ul
          - @disks.each do |disk|
            %li
              %h2 #{number_to_human_size(disk[:bytes_used])} / #{number_to_human_size(disk[:bytes_total])}
              %p= disk[:disk_name]
              %p= disk[:mount_path]
