- return unless Gitlab::Geo.license_allows?

%section.settings.as-geo.no-animate#js-geo-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('GitLab Geo')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      = _('Geo allows you to replicate your GitLab instance to other geographical locations.')
  .settings-content

    = form_for @application_setting, url: admin_application_settings_path(anchor: 'js-geo-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        %p
          These settings will only take effect if Geo is enabled and require a restart to take effect.
        .form-group
          = f.label :geo_status_timeout, 'Connection timeout', class: 'label-bold'
          = f.number_field :geo_status_timeout, class: 'form-control'
          .form-text.text-muted
            The amount of seconds after which a request to get a secondary node
            status will time out.

      = f.submit 'Save changes', class: "btn btn-success"
