- if @result.valid?
  .bs-callout.bs-callout-success
    %p
      %b= _("Status:")
      = _("syntax is correct")

  = render "projects/ci/lints/lint_warnings", warnings: @result.warnings

  .table-holder
    %table.table.table-bordered
      %thead
        %tr
          %th= _("Parameter")
          %th= _("Value")
      %tbody
        - @result.jobs.each do |job|
          %tr
            %td #{job[:stage].capitalize} Job - #{job[:name]}
            %td
              %pre= job[:before_script].to_a.join('<br />')
              %pre= job[:script].to_a.join('<br />')
              %pre= job[:after_script].to_a.join('<br />')
              %br
              %b= _("Tag list:")
              = job[:tag_list].to_a.join(", ")
              - unless @dry_run
                %br
                %b= _("Only policy:")
                = job[:only].to_a.join(", ")
                %br
                %b= _("Except policy:")
                = job[:except].to_a.join(", ")
              %br
              %b= _("Environment:")
              = job[:environment]
              %br
              %b= _("When:")
              = job[:when]
              - if job[:allow_failure]
                %b= _("Allowed to fail")

- else
  .bs-callout.bs-callout-danger
    %p
      %b= _("Status:")
      = _("syntax is incorrect")
  %pre
    - @result.errors.each do |message|
      %p= message

  = render "projects/ci/lints/lint_warnings", warnings: @result.warnings
