.row.prepend-top-default.append-bottom-default
  = form_for [@project.namespace.becomes(Namespace), @project, @metric], html: { class: 'col-lg-9' } do |f|
    = form_errors(@metric)
    .form-group
      = f.label :title, 'Title', class: 'label-light'
      = f.text_field :title, required: true, class: 'form-control'
    .form-group
      = f.label :query, 'Query', class: 'label-light'
      = f.text_field :query, required: true, class: 'form-control'
    .form-group
      = f.label :y_label, 'Y-axis label', class: 'label-light'
      = f.text_field :y_label, class: 'form-control'
    .form-group
      = f.label :unit, 'Unit label', class: 'label-light'
      = f.text_field :unit, class: 'form-control'
    .form-group
      = f.label :legend, 'Legend label', class: 'label-light'
      = f.text_field :legend, class: 'form-control'

    .form-actions
      = f.submit 'Save', class: 'btn btn-save'
      = link_to 'Cancel', edit_project_service_path(@project, @project.prometheus_service), class: 'btn btn-cancel'
