- @no_breadcrumb_container = false
- @no_container = false
- @content_class = "limit-container-width" unless fluid_layout

-# TODO: Move this to @epic.to_reference when implementing gitlab-ee#3853
- epic_reference = "&#{@epic.iid}"
- add_to_breadcrumbs _("Epics"), group_epics_path(@group)
- breadcrumb_title epic_reference

- page_title           "#{@epic.title} (#{epic_reference})", _("Epics")
- page_description     @epic.description

- page_card_attributes @epic.card_attributes

#epic-show-app{ data: epic_show_app_data(@epic, author_icon: avatar_icon_for_user(@epic.author), initial: issuable_initial_data(@epic)) }

.content-block.emoji-block
  .row
    .col-sm-8.js-noteable-awards
      = render 'award_emoji/awards_block', awardable: @epic, inline: true

%section.issuable-discussion
  = render 'discussion'
