%hr
.form-horizontal.resolve-conflicts-form
  .form-group
    .col-md-4
      %h4= _('Resolve conflicts on source branch')
      .resolve-info
        #{ _('You can resolve the merge conflict using either the Interactive mode, by choosing') }
        %code Use ours
        #{ _('or') }
        %code Use theirs
        #{ _('buttons, or by editing the files directly. Commit these changes into') }
        #{link_to @merge_request.source_branch, project_tree_path(@merge_request.project, @merge_request.source_branch), class: "ref-name"}.
    .col-md-8
      %label.label-light{ "for" => "commit-message" }
        #{ _('Commit message') }
      .commit-message-container
        .max-width-marker
        %textarea.form-control.js-commit-message#commit-message{ "v-model" => "conflictsData.commitMessage", "rows" => "5" }
  .form-group
    .col-md-offset-4.col-md-8
      .row
        .col-xs-6
          %button.btn.btn-success.js-submit-button{ type: "button", "@click" => "commit()", ":disabled" => "!readyToCommit" }
            %span {{commitButtonText}}
        .col-xs-6.text-right
          = link_to "Cancel", project_merge_request_path(@merge_request.project, @merge_request), class: "btn btn-cancel"
