= form_for application, url: doorkeeper_submit_path(application), html: {class: 'form-horizontal', role: 'form'} do |f|
  - if application.errors.any?
    .alert.alert-danger
      %ul
        - application.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'control-label'

    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :redirect_uri, class: 'control-label'

    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control', required: true

      %span.help-block
        Use one line per URI
      - if Doorkeeper.configuration.native_redirect_uri
        %span.help-block
          Use
          %code= Doorkeeper.configuration.native_redirect_uri
          for local tests

  .form-actions
    = f.submit 'Submit', class: "btn btn-create"
    = link_to "Cancel", applications_profile_path, class: "btn btn-cancel"
