- add_to_breadcrumbs _("Applications"), oauth_applications_path
- breadcrumb_title @application.name
- page_title @application.name, _("Applications")
- @content_class = "limit-container-width" unless fluid_layout

%h3.page-title
  = _("Application: %{name}") % { name: @application.name }

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        = _('Application ID')
      %td
        .clipboard-group
          .input-group
            %input.label.label-monospace.monospace{ id: "application_id", type: "text", autocomplete: 'off', value: @application.uid, readonly: true }
            .input-group-append
              = clipboard_button(target: '#application_id', title: _("Copy ID"), class: "gl-button btn btn-default")
    %tr
      %td
        = _('Secret')
      %td
        .clipboard-group
          .input-group
            %input.label.label-monospace.monospace{ id: "secret", type: "text", autocomplete: 'off', value: @application.secret, readonly: true }
            .input-group-append
              = clipboard_button(target: '#secret', title: _("Copy secret"), class: "gl-button btn btn-default")
    %tr
      %td
        = _('Callback URL')
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri

    %tr
      %td
        = _('Confidential')
      %td
        = @application.confidential? ? _('Yes') : _('No')

    = render "shared/tokens/scopes_list", token: @application

.form-actions
  = link_to _('Edit'), edit_oauth_application_path(@application), class: 'gl-button btn btn-primary wide float-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger gl-ml-3'
