%h3.page-title
  Application: #{@application.name}
.row
  .col-md-8
    %h4 Application Id:
    %p
      %code#application_id= @application.uid
    %h4 Secret:
    %p
      %code#secret= @application.secret
    %h4 Callback urls:
    %table
      - @application.redirect_uri.split.each do |uri|
        %tr
          %td
            %code= uri
          %td
            = link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'btn btn-success', target: '_blank'
.prepend-top-20
  %p= link_to 'Edit', edit_oauth_application_path(@application), class: 'btn btn-primary wide pull-left'
  %p= render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'