%p.profile-settings-content
  = s_("DeployTokens|Pick a name for the application, and we'll give you a unique deploy token.")

= form_for token, url: project_deploy_tokens_path(project), method: :post do |f|
  = form_errors(token)

  .form-group
    = f.label :name, class: 'label-light'
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :expires_at, class: 'label-light'
    = f.text_field :expires_at, class: 'datepicker form-control'

  .form-group
    = f.label :scopes, class: 'label-light'
    - presenter.available_scopes.each do |scope|
      = render 'projects/deploy_tokens/scope_form', token: token, scope: scope, presenter: presenter

  .prepend-top-default
    = f.submit s_('DeployTokens|Create deploy token'), class: 'btn btn-success'
