%h5= s_("DeployTokens|Active Deploy Tokens (%{active_tokens})") % { active_tokens: active_tokens.length }

- if active_tokens.present?
  .table-responsive.deploy-tokens
    %table.table
      %thead
        %tr
          %th= s_('DeployTokens|Name')
          %th= s_('DeployTokens|Created')
          %th= s_('DeployTokens|Expires')
          %th= s_('DeployTokens|Scopes')
          %th
      %tbody
        - active_tokens.each do |token|
          %tr
            %td= token.name
            %td= token.created_at.to_date.to_s(:medium)
            %td
              - if token.expires?
                %span{ class: ('text-warning' if token.expires_soon?) }
                  In #{distance_of_time_in_words_to_now(token.expires_at)}
              - else
                %span.token-never-expires-label Never
            %td= token.scopes.present? ? token.scopes.join(", ") : "<no scopes selected>"
            %td= link_to s_('DeployTokens|Revoke'), "#", class: "btn btn-danger pull-right", data: { toggle: "modal", target: "#revoke-modal-#{token.id}"}
            = render 'projects/deploy_tokens/revoke_modal', token: token, project: project
- else
  .settings-message.text-center
    = s_('DeployTokens|This project has no active Deploy Tokens.')
