%div
  = form_for [:profile, @key], html: { class: 'js-requires-input' } do |f|
    = form_errors(@key)

    .form-group
      = f.label :key, "公钥", class: 'label-light'
      = f.text_area :key, class: "form-control", rows: 8, required: true
    .form-group
      = f.label :title, "标题", class: 'label-light'
      = f.text_field :title, class: "form-control", required: true

    .prepend-top-default
      = f.submit '增加密钥', class: "btn btn-create"
