- is_admin = defined?(admin) ? true : false
.row.prepend-top-default
  .col-md-4
    .card
      .card-header
        = _('SSH Key')
      %ul.content-list
        %li
          %span.light= _('Title:')
          %strong= @key.title
        %li
          %span.light= _('Created on:')
          %strong= @key.created_at.to_s(:medium)
        %li
          %span.light= _('Last used on:')
          %strong= @key.last_used_at.try(:to_s, :medium) || 'N/A'

  .col-md-8
    = form_errors(@key, type: 'key') unless @key.valid?
    %pre.well-pre
      = @key.key
    .card
      .card-header
        = _('Fingerprints')
      %ul.content-list
        %li
          %span.light= 'MD5:'
          %code.key-fingerprint= @key.fingerprint
        - if @key.fingerprint_sha256.present?
          %li
            %span.light= 'SHA256:'
            %code.key-fingerprint= @key.fingerprint_sha256


  .col-md-12
    .float-right
      - if @key.can_delete?
        = link_to _('Remove'), path_to_key(@key, is_admin), data: {confirm: _('Are you sure?')}, method: :delete, class: "btn btn-remove delete-key qa-delete-key-button"
