%li.key-list-item
  .pull-left.append-right-10
    - if key.valid?
      = icon 'key', class: 'settings-list-icon hidden-xs'
    - else
      = icon 'exclamation-triangle', class: 'settings-list-icon hidden-xs has-tooltip',
        title: key.errors.full_messages.join(', ')


  .key-list-item-info
    = link_to path_to_key(key, is_admin), class: "title" do
      = key.title
    .description
      = key.fingerprint
    .last-used-at
      last used:
      = key.last_used_at ? time_ago_with_tooltip(key.last_used_at) : 'n/a'
  .pull-right
    %span.key-created-at
      created #{time_ago_with_tooltip(key.created_at)}
    = link_to path_to_key(key, is_admin), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-transparent prepend-left-10" do
      %span.sr-only Remove
      = icon('trash')
