%h3.page-title
  = t("gitlab.profile.ssh_keys.my_ssh_keys")
  .pull-right
    = link_to t("gitlab.profile.ssh_keys.add_ssh_key"), new_profile_key_path, class: "btn btn-new"
%p.light
  = t("gitlab.profile.ssh_keys.desc1")
  %br
  = t("gitlab.profile.ssh_keys.desc2")
  = link_to t("gitlab.profile.ssh_keys.generate_it"), help_ssh_path
%hr


.ui-box
  .title
    #{t("gitlab.profile.ssh_keys.ssh_keys")} (#{@keys.count})
  %ul.well-list#keys-table
    = render @keys
    - if @keys.blank?
      %li
        .nothing-here-block
          = t("gitlab.profile.ssh_keys.no_ssh_keys")


