.row
  .col-md-4
    .ui-box
      .title
        SSH Key
      %ul.well-list
        %li
          %span.light Title:
          %strong= @key.title
        %li
          %span.light Created on:
          %strong= @key.created_at.stamp("Aug 21, 2011")

  .col-md-8
    %p
      %span.light Fingerprint:
      %strong= @key.fingerprint
    %pre.well-pre
      = @key.key

.pull-right
  = link_to 'Remove', profile_key_path(@key), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove delete-key"
