.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        SSH Key
      %ul.well-list
        %li
          %span.light Title:
          %strong{ dir: :auto }= @key.title
        %li
          %span.light Created on:
          %strong= JalaliDate.new(@key.created_at).strftime("%A %d %b %Y")

  .col-md-8
    %p
      %span.light Fingerprint:
      %strong= @key.fingerprint
    %pre.well-pre
      = @key.key

.pull-right
  = link_to 'Remove', profile_key_path(@key), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove delete-key"
