- page_title "Push Rules"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p.light
      Push Rules outline what is accepted for this project. You can request new rules (for free) by creating an issue on our
      = succeed '.' do
        %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/" }GitLab EE issue tracker
      Alternatively, submit a merge request to GitLab EE.
  .col-lg-9
    %h5.prepend-top-0
      Add new push rule
    = form_for [@project.namespace.becomes(Namespace), @project, @push_rule] do |f|
      = form_errors(@push_rule)

      = render "shared/push_rules_form", f: f
