- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }

  %p.prepend-top-default
    %span
      To properly configure the Container Registry you should add the following
      access token to the Docker Registry config.yml as follows:
      %pre
        %code
          :plain
            notifications:
              endpoints:
                - ...
                  headers:
                    X-Registry-Token: [#{@access_token}]
      %br
      Access token is
      %code{ id: 'registry-token' }= @access_token

  .bs-callout.clearfix
    .pull-left
      %p
        You can reset container registry access token by pressing the button below.
      %p
        = button_to reset_container_registry_token_admin_application_settings_path,
          method: :put, class: 'btn btn-default',
          data: { confirm: 'Are you sure you want to reset container registry token?' } do
          = icon('refresh')
          Reset container registry access token
