= form_tag project_compare_index_path(@project), method: :post do
  .clearfix
    .pull-left
      - if params[:to] && params[:from]
        = link_to 'switch', {from: params[:to], to: params[:from]}, {class: 'commits-compare-switch has_tooltip', title: 'Switch base of comparison'}
      .input-prepend
        %span.add-on.input-xpadding from
        = text_field_tag :from, params[:from], class: "span3 input-xpadding"
      = "..."
      .input-prepend
        %span.add-on.input-xpadding to
        = text_field_tag :to, params[:to], class: "span3 input-xpadding"
    .pull-left
      &nbsp;
      = submit_tag "Compare", class: "btn btn-create commits-compare-btn"
      - if compare_to_mr_button?
        = link_to compare_mr_path, class: 'prepend-left-10' do
          %strong Make a merge request


:javascript
  var availableTags = #{@project.repository.ref_names.to_json};

  $("#from, #to").autocomplete({
    source: availableTags,
    minLength: 1
  });

  disableButtonIfEmptyField('#to', '.commits-compare-btn');
