= form_tag namespace_project_compare_index_path(@project.namespace, @project), method: :post, class: 'form-inline js-requires-input' do
  .clearfix
    - if params[:to] && params[:from]
      = link_to 'switch', {from: params[:to], to: params[:from]}, {class: 'commits-compare-switch has-tooltip', title: 'Switch base of comparison'}
    .form-group
      = hidden_field_tag :from, params[:from]
      .input-group.inline-input-group.compare-input-group.dropdown
        %span.input-group-addon from
        = dropdown_toggle h(params[:from].presence || ''), { toggle: "dropdown", refs_url: refs_namespace_project_path(@project.namespace, @project), field_name: 'from', selected: params[:from] }, { toggle_class: "js-project-refs-dropdown js-compare-dropdown" }
        = render "ref_dropdown"
    = "..."
    .form-group
      = hidden_field_tag :to, params[:to]
      .input-group.inline-input-group.compare-input-group.dropdown
        %span.input-group-addon to
        = dropdown_toggle h(params[:from].presence || ''), { toggle: "dropdown", refs_url: refs_namespace_project_path(@project.namespace, @project), field_name: 'to', selected: params[:to] }, { toggle_class: "js-project-refs-dropdown js-compare-dropdown" }
        = render "ref_dropdown"
    &nbsp;
    = button_tag "Compare", class: "btn btn-create commits-compare-btn"
    - if @merge_request.present?
      = link_to "View Open Merge Request", namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'prepend-left-10 btn'
    - elsif create_mr_button?
      = link_to create_mr_path, class: 'prepend-left-10 btn' do
        = icon("plus")
        Create Merge Request
