- @no_container = true
- page_title "#{params[:from]}...#{params[:to]}"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block.no-bottom-space
    = render "form"

  - if @commits.present?
    = render "projects/commits/commit_list"
    = render "projects/diffs/diffs", diff_files: @diffs.diff_files, project: @diffs.project, diff_refs: @diffs.diff_refs
  - else
    .light-well
      .center
        %h4
          There isn't anything to compare.
        %p.slead
          - if params[:to] == params[:from]
            %span.label-branch #{params[:from]}
            and
            %span.label-branch #{params[:to]}
            are the same.
          - else
            You'll need to use different branch names to get a valid comparison.
