= render "projects/commits/head"

%h3.page-title
  Compare View

= render "form"

- if @commits.present?
  = render "projects/commits/commit_list"
  = render "projects/diffs/diffs", diffs: @diffs, project: @project
- else
  .light-well
    .center
      %h4
        There isn't anything to compare.
      %p.slead
        - if params[:to] == params[:from]
          %span.label-branch #{params[:from]}
          and
          %span.label-branch #{params[:to]}
          are the same.
        - else
          You'll need to use different branch names to get a valid comparison.
