- page_title _("Report abuse to administrator")
.row
  .col-lg-8
    = render ::Layouts::PageHeadingComponent.new(_("Report abuse to administrator"), description: _("Please use this form to report to the administrator users who create spam issues, comments or behave inappropriately. A member of the abuse team will review your report as soon as possible."))

= gitlab_ui_form_for @abuse_report, html: { class: 'js-quick-submit'} do |f|
  .row
    .col-lg-8
      = form_errors(@abuse_report)

  = f.hidden_field :user_id
  = f.hidden_field :category

  .form-group.row
    .col-lg-8
      = f.label :reported_user

      - name = "#{@abuse_report.user.name} (@#{@abuse_report.user.username})"
      = text_field_tag :user_name, name, class: "form-control", readonly: true
  .form-group.row
    .col-lg-8
      = f.label :reported_from
      = f.text_field :reported_from_url, class: "form-control", readonly: true
  #js-links-to-spam{ data: { links: Array(@abuse_report.links_to_spam) } }

  .form-group.row
    .col-lg-8
      = f.label :screenshot do
        %span
          = s_('ReportAbuse|Screenshot')
      %div
        = render 'shared/file_picker_button', f: f, field: :screenshot, help_text: _("Screenshot must be less than 1 MB."), mime_types: valid_image_mimetypes

  .form-group.row
    .col-lg-8
      = f.label :reason
      = f.text_area :message, class: "form-control", rows: 4, required: true
      .form-text.gl-text-subtle
        = _("Explain why you're reporting the user.")

  .gl-flex.gl-gap-3
    = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm) do
      = _('Send report')
    = render Pajamas::ButtonComponent.new(href: @abuse_report.reported_from_url) do
      = _('Cancel')
