.gl-alert.gl-alert-info.gl-my-5
  = sprite_icon('information-o', css_class: 'gl-alert-icon')
  - if runner.instance_type?
    %h4.gl-alert-title
      = s_('Runners|This runner is available to all groups and projects in your GitLab instance.')
    .gl-alert-body
      = s_('Runners|Shared runners are available to every project in a GitLab instance. If you want a runner to build only specific projects, restrict the project in the table below. After you restrict a runner to a project, you cannot change it back to a shared runner.')
      = link_to _('Learn more.'), help_page_path('ci/runners/runners_scope', anchor: 'shared-runners'), target: '_blank', rel: 'noopener noreferrer'
  - elsif runner.group_type?
    %h4.gl-alert-title
      = s_('Runners|This runner is available to all projects and subgroups in a group.')
    .gl-alert-body
      = s_('Runners|Use Group runners when you want all projects in a group to have access to a set of runners.')
      = link_to _('Learn more.'), help_page_path('ci/runners/runners_scope', anchor: 'group-runners'), target: '_blank', rel: 'noopener noreferrer'
  - else
    %h4.gl-alert-title
      = s_('Runners|This runner is associated with specific projects.')
    .gl-alert-body
      = s_('Runners|You can set up a specific runner to be used by multiple projects but you cannot make this a shared runner.')
      = link_to _('Learn more.'), help_page_path('ci/runners/runners_scope', anchor: 'specific-runners'), target: '_blank', rel: 'noopener noreferrer'
