.light.prepend-top-default
  %p
    = _("You can set up as many Runners as you need to run your jobs.")
    %br
    = _('Runners can be placed on separate users, servers, and even on your local machine.')

  %p
    = _('Each Runner can be in one of the following states:')
  %div
    %ul
      %li
        %span.badge.badge-success active
        = _('- Runner is active and can process any new jobs')
      %li
        %span.badge.badge-danger paused
        = _('- Runner is paused and will not receive any new jobs')
