.light.gl-mt-3
  %p
    = s_("Runners|Register as many runners as you want. You can register runners as separate users, on separate servers, and on your local machine.")

  %h5
    = s_("Runners|How do runners pick up jobs?")

  %p
    = s_("Runners|Runners are either:")

  %div
    %ul
      %li
        = gl_badge_tag s_("Runners|active"), variant: :success
        = _('- Available to run jobs.')
      %li
        = gl_badge_tag s_("Runners|paused"), variant: :danger
        = _('- Not available to run jobs.')

  %p
    = s_("Runners|Tags control which type of jobs a runner can handle. By tagging a runner, you make sure runners only handle the jobs they are equipped to run.")
    = link_to _("Learn more."), help_page_path("ci/runners/configure_runners.md", anchor: "how-the-runner-uses-tags"), target: '_blank'
