%li{class: ("active" if @scope == 'blobs')}
  = link_to search_filter_path(scope: 'blobs') do
    = icon('code fw')
    %span
      Code
      %span.count
        = @search_results.blobs_count
%li{class: ("active" if @scope == 'issues')}
  = link_to search_filter_path(scope: 'issues') do
    = icon('exclamation-circle fw')
    %span
      Issues
      %span.count
        = @search_results.issues_count
%li{class: ("active" if @scope == 'merge_requests')}
  = link_to search_filter_path(scope: 'merge_requests') do
    = icon('tasks fw')
    %span
      Merge requests
      %span.count
        = @search_results.merge_requests_count
%li{class: ("active" if @scope == 'notes')}
  = link_to search_filter_path(scope: 'notes') do
    = icon('comments fw')
    %span
      Comments
      %span.count
        = @search_results.notes_count
%li{class: ("active" if @scope == 'wiki_blobs')}
  = link_to search_filter_path(scope: 'wiki_blobs') do
    = icon('book fw')
    %span
      Wiki
      %span.count
        = @search_results.wiki_blobs_count
