%h3.page_title Setup your notification level

%br

%p.light
  %strong Disabled
  &ndash; You will not get any notifications via email
%p.light
  %strong Participating
  &ndash; You will receive only notifications from related resources(ex. from assigned issue or your commit)
%p.light
  %strong Watch
  &ndash; You will receive all notifications from projects in which you participate
%hr

= form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications' do
  %ul.well-list
    %li
      .row
        .span4
          %h5 Global
        .span7
          = label_tag do
            = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?
            %span Disabled

          = label_tag do
            = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?
            %span Participating

          = label_tag do
            = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?
            %span Watch


  = link_to '#', class: 'js-toggle-visibility-link' do
    %h6.btn.btn-tiny
      %i.icon-chevron-down
      %span Per project notifications settings
  %ul.well-list.js-toggle-visibility-container.hide
    - @projects.each do |project|
      %li
        .row
          .span4
            %span
              = project.name_with_namespace
          .span7
            = label_tag do
              = radio_button_tag :"notification_level[#{project.id}]", Notification::N_DISABLED, @notification.disabled?, disabled: true
              %span Disabled

            = label_tag do
              = radio_button_tag :"notification_level[#{project.id}]", Notification::N_PARTICIPATING, @notification.participating?, disabled: true
              %span Participating

            = label_tag do
              = radio_button_tag :"notification_level[#{project.id}]", Notification::N_WATCH, @notification.watch?, disabled: true
              %span Watch


  .form-actions
    = submit_tag 'Save', class: 'btn btn-save'
    %span.update-success.cgreen.hide
      %i.icon-ok
      Saved
    %span.update-failed.cred.hide
      %i.icon-remove
      Failed
