%div
  = form_for [@project, @key], url: project_deploy_keys_path do |f|
    -if @key.errors.any?
      .alert.alert-error
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = f.label :title
      .controls= f.text_field :title, class: 'input-xlarge'
    .control-group
      = f.label :key
      .controls
        %p.light
          Paste a machine public key here. Read more about how to generate it
          = link_to "here", help_ssh_path
        = f.text_area :key, class: "input-xxlarge thin_area"

    .form-actions
      = f.submit 'Create', class: "btn-create btn"
      = link_to "Cancel", project_deploy_keys_path(@project), class: "btn btn-cancel"

