%div
  = form_for [@project, @key], url: project_deploy_keys_path, html: { class: 'deploy-key-form form-horizontal' } do |f|
    -if @key.errors.any?
      .alert.alert-danger
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :title, class: "control-label"
      .col-sm-10= f.text_field :title, class: 'form-control'
    .form-group
      = f.label :key, class: "control-label"
      .col-sm-10
        %p.light
          Paste a machine public key here. Read more about how to generate it
          = link_to "here", help_ssh_path
        = f.text_area :key, class: "form-control thin_area", rows: 5

    .form-actions
      = f.submit 'Create', class: "btn-create btn"
      = link_to "Cancel", project_deploy_keys_path(@project), class: "btn btn-cancel"

