- page_title _('Edit deploy key')
%h1.page-title.gl-text-size-h-display= _('Edit deploy key')

= gitlab_ui_form_for [@project, @deploy_key], include_id: false do |f|
  = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
  .gl-flex.gl-gap-3
    = f.submit _('Save changes'), pajamas_button: true
    = link_button_to _('Cancel'), project_settings_repository_path(@project, anchor: 'js-deploy-keys-settings')
