- page_title "部署密钥"

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      使用部署密钥只读访问存储库。部署密钥用于 CI 集成、预发布和产品服务器获取版本仓库的代码。请创建一个新的或增加已存在的 SSH 密钥。
  .col-lg-9
    %h5.prepend-top-0
      给此项目创建一个新的部署密钥
    = render "form"
  .col-lg-9.col-lg-offset-3
    %hr
  .col-lg-9.col-lg-offset-3.append-bottom-default.deploy-keys
    %h5.prepend-top-0
      本项目已启用的部署密钥 (#{@enabled_keys.size})
    - if @enabled_keys.any?
      %ul.well-list
        = render @enabled_keys
    - else
      .settings-message.text-center
        没有部署密钥。请使用上面的表单创建一个或增加一个已存在的。
    %h5.prepend-top-default
      其他项目的部署密钥 (#{@available_project_keys.size})
    - if @available_project_keys.any?
      %ul.well-list
        = render @available_project_keys
    - else
      .settings-message.text-center
        没有其他项目的部署密钥。请使用上面的表单创建一个或增加一个已存在的。
    - if @available_public_keys.any?
      %h5.prepend-top-default
        全部项目可用的公开部署密钥 (#{@available_public_keys.size})
      %ul.well-list
        = render @available_public_keys
