%h3.page-title
  = t("gitlab.profile.password.title")
%p.light
  = t("gitlab.profile.password.change_your_password_description")
%hr
.update-password
  = form_for @user, url: profile_password_path, method: :put, html: { class: 'form-horizontal' }  do |f|
    %div
      %p.slead
        = t("gitlab.profile.password.must_provide_current_password")
        %br
        = t("gitlab.profile.password.you_will_be_redirected_to_login_page")
      -if @user.errors.any?
        .alert.alert-danger
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :current_password, t("gitlab.profile.password.current_password"), class: 'control-label'
        .col-sm-10
          = f.password_field :current_password, required: true, class: 'form-control'
          %div
            = link_to t("gitlab.login.forgot_your_password"), reset_profile_password_path, method: :put

      .form-group
        = f.label :password, t("gitlab.profile.password.new_password"), class: 'control-label'
        .col-sm-10
          = f.password_field :password, required: true, class: 'form-control'
      .form-group
        = f.label :password_confirmation, t("gitlab.profile.password.password_confirmation"), class: 'control-label'
        .col-sm-10
          = f.password_field :password_confirmation, required: true, class: 'form-control'
      .form-actions
        = f.submit t("gitlab.profile.password.save_password"), class: "btn btn-save"
