%h3.page-title Setup new password
%hr
= form_for @user, url: profile_password_path, method: :post, html: { class: 'form-horizontal '} do |f|
  %p.slead
    Please set a new password before proceeding.
    %br
    After a successful password update you will be redirected to login screen.
  -if @user.errors.any?
    .alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :password, class: 'control-label'
    .col-sm-10= f.password_field :password, required: true, class: 'form-control'
  .form-group
    = f.label :password_confirmation, class: 'control-label'
    .col-sm-10
      = f.password_field :password_confirmation, required: true, class: 'form-control'
  .form-actions
    = f.submit 'Set new password', class: "btn btn-create"
