= form_for @user, url: profile_password_path, method: :post do |f|
  .light-well.padded
    %p.slead
      Please set new password before proceed.
      %br
      After successful password update you will be redirected to login screen
    -if @user.errors.any?
      .alert.alert-danger
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :password
      .col-sm-10= f.password_field :password, required: true
    .form-group
      = f.label :password_confirmation
      .col-sm-10
        = f.password_field :password_confirmation, required: true
    .form-group
      .col-sm-10
        = f.submit 'Set new password', class: "btn btn-create"
