.template-option.d-flex.gl-align-items-center{ data: { testid: 'template-option-container' } }
  .logo.gl-mr-3.px-1
    = image_tag template.logo, size: 32, class: "btn-template-icon icon-#{template.name}"
  .description
    %strong
      = template.title
    %br
    .text-muted
      = template.description
  .controls.d-flex.gl-align-items-center
    = render Pajamas::ButtonComponent.new(button_options: { class: 'gl-mr-3', data: { track_label: "template_preview", track_property: template.name, track_action: "click_button", track_value: "" }, rel: 'noopener noreferrer' }, href: template.preview, target: '_blank') do
      = _("Preview")
    = render Pajamas::ButtonComponent.new(variant: :confirm, button_options: { class: 'js-use-template-button', data: { testid: "use-template-#{template.name}", track_label: 'template_use', track_property: template.name, track_action: 'click_button', track_value: '', template_name: template.name } }) do
      = _("Use template")
