.form-group
  = f.label :name, class: 'control-label' do
    %span.mattermost-icon
      = custom_icon('icon_mattermost')
    Mattermost
  .col-sm-10
    .checkbox
      = f.label :name do
        = f.check_box :create_chat_team, checked: true
        Link the group to a new Mattermost team

.form-group
  = f.label :chat_team, class: 'control-label' do
    Chat Team name
  .col-sm-10
    = f.text_field :chat_team, placeholder: @group.name, class: 'form-control mattermost-team-name'
    Leave blank to match your group name

