.form-group
  .col-sm-2.col-form-label
    = f.label :create_chat_team do
      %span.gl-display-flex
        = custom_icon('icon_mattermost')
        %span.gl-ml-2= _('Mattermost')
  .col-sm-12
    .form-check.js-toggle-container
      .js-toggle-button.form-check-input= f.check_box(:create_chat_team, { checked: false }, true, false)
      = f.label :create_chat_team, class: 'form-check-label' do
        = _('Create a Mattermost team for this group')
      %br
      %small.light.js-toggle-content
        = _('Mattermost URL:')
        = Settings.mattermost.host
        %span> /
        %span{ "data-bind-out" => "create_chat_team" }
