.group-home-panel.text-center
  %div{ class: container_class }
    .avatar-container.s70.group-avatar
      = group_icon(@group, class: "avatar s70 avatar-tile")
    %h1.group-title
      = @group.name
      %span.visibility-icon.has-tooltip{ data: { container: 'body' }, title: visibility_icon_description(@group) }
        = visibility_level_icon(@group.visibility_level, fw: false)

    - if @group.description.present?
      .group-home-desc
        = markdown_field(@group, :description)

    - if current_user
      .group-buttons
        = render 'shared/members/access_request_buttons', source: @group
        = render 'shared/notifications/button', notification_setting: @notification_setting
