= form_for @users_group, url: group_users_groups_path(@group) do |f|
  %fieldset
    %legend= "New Group member(s) for #{@group.name}"

    %h6 1. Choose users you want in the group
    .clearfix
      = f.label :user_ids, "People"
      .input= users_select_tag(:user_ids, multiple: true, class: 'input-large')

    %h6 2. Set access level for them
    .clearfix
      = f.label :group_access, "Group Access"
      .input= select_tag :group_access, options_for_select(UsersGroup.group_access_roles, @users_group.group_access), class: "project-access-select chosen"

    .form-actions
      = f.submit 'Add users into group', class: "btn btn-create"

