%fieldset
  %legend Group members:
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:project_id].blank?)}
      = link_to people_group_path(@group) do
        #{@group.name} Group
        %small.pull-right= @group.users.count


= form_tag people_group_path(@group), method: 'get' do
  %fieldset
    %legend Project members:
    %ul.nav.nav-pills.nav-stacked
      - @projects.each do |project|
        %li{class: ("active" if params[:project_id] == project.id.to_s)}
          = link_to people_group_path(@group, project_id: project.id) do
            = project.name_with_namespace
            %small.pull-right= project.users.count
      - if @projects.blank?
        %p.nothing_here_message This group has no projects yet


