.row
  .form-group.col-sm-12.gl-mb-0
    %label.label-bold
      = _('Now, personalize your GitLab experience')
    %p
      = _("We'll use this to help surface the right features and information to you.")

.row
  .form-group.col-sm-4
    = f.label :setup_for_company, _('Who will be using this group?')
    .gl-flex.gl-flex-col.lg:gl-flex-row
      .gl-grow.gl-flex.gl-items-center
        = f.gitlab_ui_radio_component :setup_for_company, true, _('My company or team')
      .gl-grow.gl-flex.gl-items-center
        = f.gitlab_ui_radio_component :setup_for_company, false, _('Just me')

.row
  .form-group.col-sm-4
    = f.label :jobs_to_be_done, _("What will you use this group for?")
    = f.select :jobs_to_be_done, ::NamespaceSetting.jobs_to_be_dones.keys.map { |job_to_be_done| [localized_jobs_to_be_done_choices[job_to_be_done], job_to_be_done] }, { include_blank: true }, class: 'form-control'
