.projects_box
  %h5
    Projects
    %small
      (#{projects.count})
    - if can? current_user, :manage_group, @group
      %span.right
        = link_to new_project_path(namespace_id: @group.id), class: "btn very_small info" do
          %i.icon-plus
          New Project
  %ul.unstyled
    - if projects.blank?
      %p.nothing_here_message This groups has no projects yet
    - projects.each do |project|
      %li.wll
        = link_to project_path(project), class: dom_class(project) do
          %strong.project_name= truncate(project.name, length: 25)
          %span.arrow
            &rarr;
          %span.last_activity
            %strong Last activity:
            %span= project_last_activity(project)
