%ul.sidebar-subnav
  = nav_link(path: 'groups#edit') do
    = link_to edit_group_path(@group), title: 'Group' do
      %i.fa.fa-pencil-square-o
      %span
        Group
  = nav_link(path: 'groups#projects') do
    = link_to projects_group_path(@group), title: 'Projects' do
      %i.fa.fa-folder
      %span
        Projects
  - if ldap_enabled?
    = nav_link(controller: :ldap_group_links) do
      = link_to group_ldap_group_links_path(@group) do
        %i.fa.fa-exchange
        %span
          LDAP Groups
  = nav_link(controller: :audit_events) do
    = link_to group_audit_events_path(@group) do
      %i.fa.fa-file-text-o
      %span
        Audit Events
