- @can_bulk_update = can?(current_user, :admin_issue, @group) && @group.feature_available?(:group_bulk_edit)

- page_title "Issues"
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{@group.name} issues")

- if group_issues_count(state: 'all').zero?
  = render 'shared/empty_states/issues', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls
      = render 'shared/issuable/feed_buttons'

      - if @can_bulk_update
        = render_if_exists 'shared/issuable/bulk_update_button', type: :issues

      = render 'shared/new_project_item_select', path: 'issues/new', label: "New issue", type: :issues, with_feature_enabled: 'issues', with_shared: false, include_projects_in_subgroups: true

  = render 'shared/issuable/search_bar', type: :issues

  - if @can_bulk_update
    = render_if_exists 'shared/issuable/group_bulk_update_sidebar', group: @group, type: :issues

  - if Feature.enabled?(:vue_issuables_list, @group)
    .js-issuables-list{ data: { endpoint: expose_url(api_v4_groups_issues_path(id: @group.id)),
      'can-bulk-edit': @can_bulk_update.to_json,
      'empty-svg-path': image_path('illustrations/issues.svg'),
      'sort-key': @sort } }
  - else
    = render 'shared/issues'
