%h3.page-title
  Issues
  %span.pull-right #{@issues.total_count} issues

%p.light
  Only issues from
  %strong #{@group.name}
  group are listed here. To see all issues you should visit #{link_to 'dashboard', issues_dashboard_path} page.
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
