%h3.page-title
  = t("gitlab.issues.issues")
  %span.pull-right
    = t("gitlab.issues.issues_no", :count => @issues.total_count)

%p.light
  = t("gitlab.groups.only_issues_from_group", :group => @group.name)
  - if current_user
    = t("gitlab.groups.all_groups_dashboard", :dashboard_link => link_to('dashboard', issues_dashboard_path)).html_safe
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
