%h3.page-title
  = t("gitlab.merge_requests.merge_requests")
  %span.pull-right
    = t("gitlab.merge_requests.merge_requests_no", :count => @merge_requests.total_count)

%p.light
  = t("gitlab.groups.only_merge_requests_from_group", :group => @group.name)
  - if current_user
    = t("gitlab.groups.all_groups_dashboard", :dashboard_link => link_to('dashboard', merge_requests_dashboard_path))
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
