- page_title "Merge Requests"

- if show_new_nav? && current_user
  - content_for :breadcrumbs_extra do
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New merge request"

- if @group_merge_requests.empty?
  = render 'shared/empty_states/merge_requests', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :merge_requests
    - if current_user
      .nav-controls{ class: ("visible-xs" if show_new_nav?) }
        = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "New merge request"

  = render 'shared/issuable/filter', type: :merge_requests

  .row-content-block.second-block
    Only merge requests from
    %strong= @group.name
    group are listed here.
    - if current_user
      To see all merge requests you should visit #{link_to 'dashboard', merge_requests_dashboard_path} page.

  = render 'shared/merge_requests'
