- page_title    'New Group'
- header_title  "Groups", dashboard_groups_path

%h3.page-title
  New Group
%hr

= form_for @group, html: { class: 'group-form form-horizontal gl-show-field-errors' } do |f|
  = form_errors(@group)
  = render 'shared/group_form', f: f, autofocus: true

  .form-group.group-description-holder
    = f.label :avatar, "Group avatar", class: 'control-label'
    .col-sm-10
      = render 'shared/choose_group_avatar_button', f: f

  = render 'shared/visibility_level', f: f, visibility_level: default_group_visibility, can_change_visibility_level: true, form_model: @group

  .form-group
    = f.label :create_chat_team, class: 'control-label' do
      %span.mattermost-icon
        = custom_icon('icon_mattermost')
      Mattermost
    .col-sm-10
      .checkbox
        = f.label :chat_team do
          = f.check_box :chat_team
          Link the group to a new or existing Mattermost team

- enabled = Gitlab.config.mattermost.enabled
- if enabled
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.text_field :name, placeholder: 'Mattermost team name', class: 'form-control mattermost-team-name'

  .form-group
    .col-sm-offset-2.col-sm-10
      = render 'shared/group_tips'

  .form-actions
    = f.submit 'Create group', class: "btn btn-create"
    = link_to 'Cancel', dashboard_groups_path, class: 'btn btn-cancel'
