- page_title    'New Group'
- header_title  'New Group'
= bootstrap_form_for @group, layout: :horizontal do |f|
  = f.alert_message 'Please check your form for possible errors.'

  = render 'shared/group_form', f: f, autofocus: true

  = f.form_group :avatar, label: { text: 'Group avatar' } do
    = render 'shared/choose_group_avatar_button', f: f

  = f.static_control label: 'Group tips', hide_label: true do
    = render 'shared/group_tips'

  .form-actions
    = f.submit 'Create group', class: 'btn btn-create'
