= form_for @group do |f|
  - if @group.errors.any?
    .alert.alert-error
      %span= @group.errors.full_messages.first
  .control-group
    = f.label :name do
      Group name
    .controls
      = f.text_field :name, placeholder: "Ex. OpenSource", class: "input-xxlarge left"

  .control-group.group-description-holder
    = f.label :description, "Details"
    .controls
      = f.text_area :description, maxlength: 250, class: "input-xxlarge js-gfm-input", rows: 4

  .control-group
    .controls
      %ul
        %li A group is a collection of several projects
        %li Groups are private by default
        %li Members of a group may only view projects they have permission to access
        %li Group project URLs are prefixed with the group namespace
        %li Existing projects may be moved into a group

  .form-actions
    = f.submit 'Create group', class: "btn btn-create"


