.row
  .span3
    = render 'people_filter'
  .span9
    - if can?(current_user, :manage_group, @group)
      = render (@project ? "new_member" : "new_group_member")
    .ui-box
      %h5.title
        Team
        %small
          (#{@users_groups.count})
      %ul.well-list
        - @users_groups.each do |users_group|
          - user = users_group.user
          %li
            = image_tag gravatar_icon(user.email, 16), class: "avatar s16"
            %strong= user.name
            %span.cgray= user.username

            %span.pull-right
              - if @group.owners.include?(user)
                %span.label.label-info Group Owner
              - else
                = users_group.human_group_access

