.row
  .span3
    = render 'people_filter'
  .span9
    - if can?(current_user, :manage_group, @group)
      = render (@project ? "new_member" : "new_group_member")
    .ui-box
      %h5.title
        - if @project
          #{@project.name} Project Members
          %small
            (#{@members.count})
        - else
          #{@group.name} Group Members
          %small
            (#{@members.count})
      %ul.well-list
        - @members.each do |member|
          = render 'users_groups/users_group', member: member
