- breadcrumb_title _("Projects")
- page_title _("Projects")
- add_page_specific_style 'page_bundles/projects'
- @force_desktop_expanded_sidebar = true

= render ::Layouts::CrudComponent.new(_('Projects'),
  icon: 'project',
  count: @projects.size,
  options: { class: 'js-search-settings-section' }) do |c|
  - c.with_actions do
    - if can? current_user, :admin_group, @group
      = render Pajamas::ButtonComponent.new(href: new_project_path(namespace_id: @group.id), size: :small) do
        = _("New project")
  - c.with_body do
    %ul.content-list
      - @projects.each do |project|
        %li.project-row.gl-items-center{ class: '!gl-flex' }
          = render Pajamas::AvatarComponent.new(project, alt: project.name, size: 48, class: 'gl-shrink-0 gl-mr-5')
          .gl-min-w-0.gl-grow
            .title.gl-mr-5
              = link_to project_path(project), class: 'js-prefetch-document' do
                %span.project-full-name
                  %span.namespace-name
                    - if project.namespace
                      = project.namespace.human_name
                      \/
                  %span.project-name
                    = project.name
              = visibility_level_content(project, css_class: 'visibility-icon gl-fill-icon-subtle gl-ml-2', icon_css_class: 'icon')

            - if project.description.present?
              .description
                = markdown_field(project, :description)

          = render 'shared/projects/badges', project: project, css_class: 'gl-mr-3'

          .stats.gl-text-subtle.gl-shrink-0.gl-hidden.sm:gl-flex.gl-gap-3
            = gl_badge_tag storage_counter(project.statistics&.storage_size)
          .controls.gl-shrink-0.gl-ml-5
            = render Pajamas::ButtonComponent.new(href: project_project_members_path(project),
              variant: :link,
              button_options: { class: 'gl-mr-2' }) do
              = _('View members')
            = render Pajamas::ButtonComponent.new(href: edit_project_path(project),
              category: :tertiary,
              icon: 'pencil',
              button_options: { class: 'has-tooltip', title: _('Edit') })
            = render 'delete_project_button', project: project
      - if @projects.blank?
        .nothing-here-block= _("This group has no projects yet")
  - c.with_pagination do
    = paginate @projects, theme: "gitlab"
