.activities.col-md-8.hidden-sm
  - if current_user
    = render "events/event_last_push", event: @last_push
    = link_to dashboard_path, class: 'btn btn-tiny' do
      &larr; #{ t("gitlab.groups.to_dashboard") }
    &nbsp;
  %span.cgray
    = t("gitlab.groups.desc")
  %hr
  = render 'shared/event_filter'
  - if @events.any?
    .content_list
  - else
    .nothing-here-block
      = t("gitlab.groups.no_activity")
  = spinner
  .side.col-md-4
    .light-well.append-bottom-20
      = image_tag group_icon(@group.path), class: "avatar s90"
      .clearfix.light
        %h3.page-title
          = @group.name
        - if @group.description.present?
          %p= @group.description
    = render "projects", projects: @projects
    - if current_user
      .prepend-top-20
        = link_to group_path(@group, { format: :atom, private_token: current_user.private_token }), title: t("gitlab.feed") do
          %strong
            %i.icon-rss
            = t("gitlab.news_feed")

    %hr
    = render 'shared/promo'
