- page_itemtype 'https://schema.org/Organization'
- @skip_current_level_breadcrumb = true
- add_page_specific_style 'page_bundles/group'

= render_if_exists 'shared/qrtly_reconciliation_alert', group: @group

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, group_url(@group, rss_url_options), title: "#{@group.name} activity")

= render partial: 'flash_messages'

= render 'groups/home_panel'

= render_if_exists 'groups/group_activity_analytics', group: @group

#js-groups-show-app{ data: { app_data: groups_show_app_data(@group) } }

= render partial: 'groups/group_readme', locals: { group: @group }
