- @no_container = true

= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, group_url(@group, format: :atom, private_token: current_user.private_token), title: "#{@group.name} activity")

.cover-block.groups-cover-block
  %div{ class: container_class }
    = image_tag group_icon(@group), class: "avatar group-avatar s70 avatar-tile"
    .group-info
      .cover-title
        %h1
          @#{@group.path}
          %span.visibility-icon.has-tooltip{ data: { container: 'body' }, title: visibility_icon_description(@group) }
            = visibility_level_icon(@group.visibility_level, fw: false)

        .group-right-buttons.btn-group
          - if current_user
            .pull-left.append-right-10= render 'shared/members/access_request_buttons', source: @group
          = render 'shared/notifications/button', notification_setting: @notification_setting

      - if @group.description.present?
        .cover-desc.description
          = markdown_field(@group, :description)

%div.groups-header{ class: container_class }
  .top-area
    %ul.nav-links
      %li.active
        = link_to "#projects", 'data-toggle' => 'tab' do
          All Projects
      - if @shared_projects.present?
        %li
          = link_to "#shared", 'data-toggle' => 'tab' do
            Shared Projects
    .nav-controls
      = form_tag request.path, method: :get, class: 'project-filter-form', id: 'project-filter-form' do |f|
        = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'projects-list-filter form-control', spellcheck: false
      = render 'shared/projects/dropdown'
      - if can? current_user, :create_projects, @group
        = link_to new_project_path(namespace_id: @group.id), class: 'btn btn-new pull-right' do
          New Project

  .tab-content
    .tab-pane.active#projects
      = render "projects", projects: @projects

    - if @shared_projects.present?
      .tab-pane#shared
        = render "shared_projects", projects: @shared_projects
