= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, group_url(@group, format: :atom, private_token: current_user.private_token), title: "#{@group.name} activity")

= render 'header'

%div{class: container_class}
  .tab-content
    .tab-pane.active
      - if can?(current_user, :read_group, @group)
        .activity-filter-block
          - if current_user
            = render "events/event_last_push", event: @last_push
            = render 'shared/event_filter'

        .content_list
        = spinner
      - else
        .nothing-here-block No activity to show
