- page_itemtype 'https://schema.org/Organization'
- @skip_current_level_breadcrumb = true
- add_page_specific_style 'page_bundles/group'

= render_if_exists 'shared/qrtly_reconciliation_alert', group: @group

- if show_invite_banner?(@group)
  = content_for :group_invite_members_banner do
    .gl-pt-6
      .js-group-invite-members-banner{ data: { svg_path: image_path('illustrations/add-user-sm.svg'),
        track_label: 'invite_members_banner',
        invite_members_path: group_group_members_path(@group),
        callouts_path: group_callouts_path,
        callouts_feature_id: Users::GroupCalloutsHelper::INVITE_MEMBERS_BANNER,
        group_id: @group.id } }

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, group_url(@group, rss_url_options), title: "#{@group.name} activity")

= render partial: 'flash_messages'

= render 'groups/home_panel'

= render_if_exists 'groups/group_activity_analytics', group: @group


- if Feature.enabled?(:groups_overview_shared_vue_components, current_user)
  -# Do nothing for now. To get around an issue with ff-inverse job
  -# we can't introduce a FF and change the UI in the same MR.
  -# But if we don't use the feature flag in the code then the
  -# rspec:feature-flags job fails. This will be updated in a
  -# future commit.
  -# See https://gitlab.com/gitlab-org/quality/quality-engineering/team-tasks/-/issues/2795
  -# for more context.

#js-group-overview-tabs{ data: group_overview_tabs_app_data(@group) }

= render partial: 'groups/group_readme', locals: { group: @group }
