- @no_container = true

= render 'groups/home_panel'

.groups-header{ class: container_class }
  .top-area
    = render 'groups/show_nav'
    .nav-controls
      = form_tag request.path, method: :get do |f|
        = search_field_tag :filter_groups, params[:filter_groups], placeholder: 'Filter by name', class: 'form-control', spellcheck: false
      - if can? current_user, :admin_group, @group
        = link_to new_group_path(parent_id: @group.id), class: 'btn btn-new pull-right' do
          New Subgroup

  - if @nested_groups.present?
    %ul.content-list
      = render partial: 'shared/groups/group', collection: @nested_groups, locals: { full_name: false }
  - else
    .nothing-here-block
      There are no subgroups to show.
