%li{id: dom_id(team), class: "user_team_row team_#{team.id}"}
  .pull-right
    - if can?(current_user, :admin_team_member, @project)
      = link_to resign_project_team_path(@project, team), method: :delete, confirm: "Are you sure?", class: "btn btn-remove btn-tiny" do
        %i.icon-minus.icon-white

  %strong= link_to team.name, team_path(team), title: team.name, class: "dark"
  %br
  %small.cgray Members: #{team.members.count}
  %small.cgray Max access: #{team_relation.human_max_access}
