%h3.page_title
  = "New Team member(s)"
%hr
= form_for @user_project_relation, as: :team_member, url: project_team_members_path(@project) do |f|
  -if @user_project_relation.errors.any?
    .alert.alert-error
      %ul
        - @user_project_relation.errors.full_messages.each do |msg|
          %li= msg

  %h6 1. Choose people you want in the team
  .clearfix
    = f.label :user_ids, "People"
    .input= select_tag(:user_ids, options_from_collection_for_select(User.active.not_in_project(@project).alphabetically, :id, :name), {data: {placeholder: "Select users"}, class: "chosen xxlarge", multiple: true})

  %h6 2. Set access level for them
  .clearfix
    = f.label :project_access, "Project Access"
    .input= select_tag :project_access, options_for_select(Project.access_options, @user_project_relation.project_access), class: "project-access-select chosen"

  .actions
    = f.submit 'Add users', class: "btn btn-create"
    = link_to "Cancel", project_team_index_path(@project), class: "btn btn-cancel"
