- user = member.user
- allow_admin = can? current_user, :admin_project, @project
%li{id: dom_id(user), class: "team_member_row user_#{user.id}"}
  .row
    .span6
      = link_to project_team_member_path(@project, user), title: user.name, class: "dark" do
        = image_tag gravatar_icon(user.email, 40), class: "avatar s32"
      = link_to project_team_member_path(@project, user), title: user.name, class: "dark" do
        %strong= truncate(user.name, lenght: 40)
        %br
        %small.cgray= user.email

    .span5.pull-right
      - if allow_admin
        .left
          = form_for(member, as: :team_member, url: project_team_member_path(@project, member.user)) do |f|
            = f.select :project_access, options_for_select(UsersProject.access_roles, member.project_access), {}, class: "medium project-access-select span2"
      .pull-right
        - if current_user == user
          %span.btn.disabled This is you!
        - if @project.namespace_owner == user
          %span.btn.disabled Owner
        - elsif user.blocked
          %span.btn.disabled.blocked Blocked
        - elsif allow_admin
          = link_to project_team_member_path(@project, user), confirm: remove_from_project_team_message(@project, user), method: :delete, class: "btn-tiny btn btn-remove" do
            %i.icon-minus.icon-white

