- user = member.user
- allow_admin = can? current_user, :admin_project, @project
%li{:id => dom_id(member), :class => "team_member_row wll"}
  .left
    = link_to project_team_member_path(@project, member), :title => user.name do 
      = image_tag gravatar_icon(user.email, 60), :class => "styled_image"
  .row
    .span8
      %h4
        = truncate(user.name, :lenght => 24)
        %br
        %small= truncate user.email, :lenght => 24

    .span3
      = form_for(member, :as => :team_member, :url => project_team_member_path(@project, member)) do |f|
        = f.select :project_access, options_for_select(UsersProject.access_roles, member.project_access), {}, :class => "medium project-access-select", :disabled => !allow_admin
    - if @project.owner == user
      %span.label Project Owner
