= render "projects/settings_nav"
%h3.page_title
  Users with access to this project

  - if can? current_user, :admin_team_member, @project
    %span.pull-right
      = link_to import_project_team_members_path(@project), class: "btn btn-small grouped", title: "Import team from another project" do
        Import team from another project
      = link_to available_project_teams_path(@project), class: "btn btn-small grouped", title: "Assign project to team of users" do
        Assign project to Team of users
      = link_to new_project_team_member_path(@project), class: "btn btn-primary small grouped", title: "New Team Member" do
        New Team Member

%p.light
  Read more about project permissions
  %strong= link_to "here", help_permissions_path, class: "vlink"

.clearfix

- if @group
  .row
    .span6
      = render "team_members/group_members"
    .span6
      = render "team_members/team", members: @users_projects

- else
  = render "team_members/team", members: @users_projects

- if @assigned_teams.present?
  %h5
    Assigned teams
    (#{@project.user_teams.count})
  %div
    = render "team_members/assigned_teams", assigned_teams: @assigned_teams
