#cal-heatmap.calendar
  :javascript 
    new calendar(
      #{@timestamps.to_json},
      #{@starting_year},
      #{@starting_month},
      '#{user_activities_path}'
    );
= render "calendar_onclick"
