#cal-heatmap
  :javascript 
    window.timestamps = #{@timestamps};
    window.timestart_year = #{@time_copy.year-1};
    window.timestart_month = #{@time_copy.month};
    window.path = '/u/#{@user.username}/activities';
  = javascript_include_tag "calendar"
= render 'onclick'