- if current_user&.following_users_allowed?(@user)
  - if current_user.following?(@user)
    = form_tag user_unfollow_path(@user, :json) do
      = render Pajamas::ButtonComponent.new(type: :submit, button_options: { data: { track_action: 'click_button', track_label: 'unfollow_from_profile' } }) do
        = _('Unfollow')
  - else
    = form_tag user_follow_path(@user, :json) do
      = render Pajamas::ButtonComponent.new(variant: :confirm, type: :submit, button_options: { data: { testid: 'follow-user-link', track_action: 'click_button', track_label: 'follow_from_profile' } }) do
        = _('Follow')
