.ui-box
  %h5.title
    Profile
  %ul.well-list
    %li
      %strong Email
      %span.right= mail_to @user.email
    - unless @user.skype.blank?
      %li
        %strong Skype
        %span.right= @user.skype
    - unless @user.linkedin.blank?
      %li
        %strong LinkedIn
        %span.right= @user.linkedin
    - unless @user.twitter.blank?
      %li
        %strong Twitter
        %span.right= @user.twitter
    - unless @user.bio.blank?
      %li
        %strong Bio
        %span.right= @user.bio
