.panel.panel-default
  .panel-heading
    Profile
  %ul.well-list
    %li
      %span.light Member since
      %strong= JalaliDate.new(user.created_at).strftime("%A %d %b %Y")
    - unless user.skype.blank?
      %li
        %span.light Skype:
        %strong= link_to user.skype, "skype:#{user.skype}", dir: :auto
    - unless user.linkedin.blank?
      %li
        %span.light LinkedIn:
        %strong{ dir: 'auto' }= user.linkedin
    - unless user.twitter.blank?
      %li
        %span.light Twitter:
        %strong= link_to user.twitter, "http://www.twitter.com/#{user.twitter}", dir: :auto
    - unless user.website_url.blank?
      %li
        %span.light Website:
        %strong= link_to user.short_website_url, user.full_website_url, dir: :auto
    - unless user.bio.blank?
      %li
        %span.light Bio:
        %span{ dir: 'auto' }= user.bio
