.panel.panel-default
  .panel-heading
    Profile
  %ul.well-list
    %li
      %span.light Member since
      %strong= user.created_at.stamp("Aug 21, 2011")
    - unless user.skype.blank?
      %li
        %span.light Skype:
        %strong= link_to user.skype, "skype:#{user.skype}"
    - unless user.linkedin.blank?
      %li
        %span.light LinkedIn:
        %strong= user.linkedin
    - unless user.twitter.blank?
      %li
        %span.light Twitter:
        %strong= link_to user.twitter, "http://www.twitter.com/#{user.twitter}"
    - unless user.website_url.blank?
      %li
        %span.light Website:
        %strong= link_to user.short_website_url, user.full_website_url
    - unless user.bio.blank?
      %li
        %span.light Bio:
        %span= user.bio
