.row
  .col-md-8
    %h3.page-title
      = image_tag avatar_icon(@user.email, 90), class: "avatar s90", alt: ''
      = @user.name
      - if @user == current_user
        .pull-right
          = link_to profile_path, class: 'btn' do
            %i.icon-edit
            Edit Profile settings
      %br
      %span.user-show-username #{@user.username}
      %br
      %small member since #{@user.created_at.stamp("Nov 12, 2031")}
    .clearfix
    %h4 Groups:
    = render 'groups', groups: @groups
    %hr
    %h4 User Activity:
    = render @events
  .col-md-4
    = render 'profile', user: @user
    = render 'projects', user: @user
