- page_title    "代码片段"
- header_title  "代码片段", dashboard_snippets_path

= render 'dashboard/snippets_head'

.nav-block
  .controls
    = link_to new_snippet_path, class: "btn btn-new", title: "新代码片段" do
      = icon('plus')
      新代码片段

  .nav-links.snippet-scope-menu
    %li{ class: ("active" unless params[:scope]) }
      = link_to dashboard_snippets_path do
        全部
        %span.badge
          = current_user.snippets.count

    %li{ class: ("active" if params[:scope] == "are_private") }
      = link_to dashboard_snippets_path(scope: 'are_private') do
        私有
        %span.badge
          = current_user.snippets.are_private.count

    %li{ class: ("active" if params[:scope] == "are_internal") }
      = link_to dashboard_snippets_path(scope: 'are_internal') do
        内部
        %span.badge
          = current_user.snippets.are_internal.count

    %li{ class: ("active" if params[:scope] == "are_public") }
      = link_to dashboard_snippets_path(scope: 'are_public') do
        公开
        %span.badge
          = current_user.snippets.are_public.count

= render 'snippets/snippets'

