- page_title    "Snippets"
- header_title  "Snippets", dashboard_snippets_path

- if current_user.snippets.count.zero?
  = render 'shared/empty_states/snippets', button_path: new_snippet_path
- else
  = render 'dashboard/snippets_head'

  .nav-block
    .controls.hidden-xs
      = link_to new_snippet_path, class: "btn btn-new", title: "New snippet" do
        = icon('plus')
        New snippet

    .nav-links.snippet-scope-menu
      %li{ class: ("active" unless params[:scope]) }
        = link_to dashboard_snippets_path do
          All
          %span.badge
            = current_user.snippets.count

      %li{ class: ("active" if params[:scope] == "are_private") }
        = link_to dashboard_snippets_path(scope: 'are_private') do
          Private
          %span.badge
            = current_user.snippets.are_private.count

      %li{ class: ("active" if params[:scope] == "are_internal") }
        = link_to dashboard_snippets_path(scope: 'are_internal') do
          Internal
          %span.badge
            = current_user.snippets.are_internal.count

      %li{ class: ("active" if params[:scope] == "are_public") }
        = link_to dashboard_snippets_path(scope: 'are_public') do
          Public
          %span.badge
            = current_user.snippets.are_public.count

      .visible-xs
        = link_to new_snippet_path, class: "btn btn-new btn-block", title: "New snippet" do
          = icon('plus')
          New snippet

  = render 'snippets/snippets'
