= render 'devise/shared/tab_single', tab_title:'Change your password'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: password_path(:user), html: { method: :put, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .form-group
        = f.label 'New password', for: "user_password"
        = f.password_field :password, class: "form-control top qa-password-field", required: true, title: 'This field is required'
      .form-group
        = f.label 'Confirm new password', for: "user_password_confirmation"
        = f.password_field :password_confirmation, class: "form-control bottom qa-password-confirmation", title: 'This field is required', required: true
      .clearfix
        = f.submit "Change your password", class: "btn btn-primary qa-change-password-button"

.clearfix.prepend-top-20
  %p
    %span.light Didn't receive a confirmation email?
    = link_to "Request a new one", new_confirmation_path(:user)
= render 'devise/shared/sign_in_link'
