<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "login-box", :method => :post }) do |f| %>
  <%= image_tag "login-logo.png", :width => "304", :height => "66", :class => "login-logo", :alt => "Login Logo" %>
  <%= devise_error_messages! %>
  <%= f.email_field :email, :placeholder => "Email",  :class => "text" %>
  <br/>
  <br/>
  <%= f.submit "Reset password", :class => "btn-primary btn"  %>
  <div class="right"> <%= link_to "Sign in", new_session_path(resource_name), :class => "btn" %><br /></div>
<% end %>
