= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "login-box", method: :post }) do |f|
  %h3.page-title Reset password
  = devise_error_messages!
  = f.email_field :email, placeholder: "Email",  class: "text"
  %br/
  %br/
  = f.submit "Reset password", class: "btn-primary btn"
  .pull-right
    = link_to "Sign in", new_session_path(resource_name), class: "btn"
    %br/
