= render "projects/commits/head"
.row
  .col-md-6
    %div#activity-chart.chart
    %hr
    %p
      %b Total commits:
      %span= @stats.commits_count
    %p
      %b Total files in #{@repository.root_ref}:
      %span= @stats.files_count
    %p
      %b Authors:
      %span= @stats.authors_count


  .col-md-6
    %h4 Top 50 Committers:
    %ol.styled
      - @stats.authors[0...50].each do |author|
        %li
          = image_tag avatar_icon(author.email, 16), class: 'avatar s16', alt: ''
          = author.name
          %small.light= author.email
          .pull-right
            = author.commits


:javascript
  var labels = [#{@graph.labels.to_json}];
  var commits = [#{@graph.commits.join(', ')}];
  var title = "Commit activity for last #{@graph.weeks} weeks";
  Chart.init(labels, commits, title);
