- last_deployment = environment.last_deployment

%tr.environment
  %td
    = link_to environment.name, namespace_project_environment_path(@project.namespace, @project, environment)

  %td.deployment-column
    - if last_deployment
      %span ##{last_deployment.iid} 
      - if last_deployment.user
        by
        = user_avatar(user: last_deployment.user, size: 20)

  %td
    - if last_deployment && last_deployment.deployable
      = link_to [@project.namespace.becomes(Namespace), @project, last_deployment.deployable], class: 'build-link' do
        = "#{last_deployment.deployable.name} (##{last_deployment.deployable.id})"

  %td
    - if last_deployment
      = render 'projects/deployments/commit', deployment: last_deployment
    - else
      %p.commit-title
        No deployments yet

  %td
    - if last_deployment
      #{time_ago_with_tooltip(last_deployment.created_at)}

  %td.hidden-xs
    - if last_deployment
      = render 'projects/deployments/actions', deployment: last_deployment,
        allow_close: environment.opened?, allow_rollback: environment.closed?,
        show_external_url: environment.opened?, show_actions: environment.opened?,
        show_terminal: environment.opened?
