- last_deployment = environment.last_deployment

%tr.environment
  %td
    = link_to environment.name, namespace_project_environment_path(@project.namespace, @project, environment)

  %td
    - if last_deployment
      = user_avatar(user: last_deployment.user, size: 20)
      %strong ##{last_deployment.id}

  %td
    - if last_deployment
      = render 'projects/deployments/commit', deployment: last_deployment
    - else
      %p.commit-title
        No deployments yet

  %td
    - if last_deployment
      #{time_ago_with_tooltip(last_deployment.created_at)}

  %td
    = render 'projects/deployments/actions', deployment: last_deployment
