- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

%div{ class: container_class }
  .top-area
    %ul.nav-links
      %li{class: ('active' if @scope.nil?)}
        = link_to project_environments_path(@project) do
          Available
          %span.badge.js-available-environments-count
            = number_with_delimiter(@all_environments.available.count)

      %li{class: ('active' if @scope == 'stopped')}
        = link_to project_environments_path(@project, scope: :stopped) do
          Stopped
          %span.badge.js-stopped-environments-count
            = number_with_delimiter(@all_environments.stopped.count)

    .nav-controls
      - if can?(current_user, :create_environment, @project) && !@all_environments.blank?
        = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
          New environment

  .environments-container
    - if @environments.blank?
      .blank-state.blank-state-no-icon
        %h2.blank-state-title
          You don't have any environments right now.
        %p.blank-state-text
          Environments are places where code gets deployed, such as staging or production.
          %br
          = succeed "." do
            = link_to "Read more about environments", help_page_path("ci/environments")
        - if can?(current_user, :create_environment, @project)
          = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
            New environment
    - else
      .table-holder
        %table.table.ci-table.environments
          %tbody
            %th Environment
            %th Last Deployment
            %th Build
            %th Commit
            %th
            %th.hidden-xs
          = render @environments
