- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

%div{ class: container_class }
  - if can?(current_user, :create_environment, @project) && !@environments.blank?
    .top-area
      .nav-controls
        = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
          New environment

  - if @environments.blank?
    .blank-state.blank-state-no-icon
      %h2.blank-state-title
        You don't have any environments right now.
      %p.blank-state-text
        Environments are places where code gets deployed, such as staging or production.
        %br
        = succeed "." do
          = link_to "Read more about environments", help_page_path("ci/environments")
      - if can?(current_user, :create_environment, @project)
        = link_to new_namespace_project_environment_path(@project.namespace, @project), class: 'btn btn-create' do
          New environment
  - else
    .table-holder
      %table.table.builds.environments
        %tbody
          %th Environment
          %th Last Deployment
          %th Commit
          %th
          %th
        = render @environments
