- add_to_breadcrumbs _("Environments"), project_environments_path(@project)
- breadcrumb_title @environment.name
- page_title _("Environments")
- add_page_specific_style 'page_bundles/xterm'
- add_page_specific_style 'page_bundles/environments'
- add_page_specific_style 'page_bundles/ci_status'

#environments-detail-view{ data: { details: environments_detail_data_json(current_user, @project, @environment) } }
  #environments-detail-view-header

  - if Feature.enabled?(:environment_details_vue, @project)
    #environment_details_page
  - else
    .environments-container
      - if @deployments.blank?
        .empty-state
          .text-content
            %h4.state-title
              = _("You don't have any deployments right now.")
            %p
              = html_escape(_("Define environments in the deploy stage(s) in %{code_open}.gitlab-ci.yml%{code_close} to track deployments here.")) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
            .text-center
              = render Pajamas::ButtonComponent.new(variant: :confirm, href: help_page_path("ci/environments/index.md")) do
                = _('Read more')

      - else
        .table-holder.gl-overflow-visible
          .ci-table.environments{ role: 'grid' }
            .gl-responsive-table-row.table-row-header{ role: 'row' }
              .table-section.section-15{ role: 'columnheader' }= _('Status')
              .table-section.section-10{ role: 'columnheader' }= _('ID')
              .table-section.section-10{ role: 'columnheader' }= _('Triggerer')
              .table-section.section-25{ role: 'columnheader' }= _('Commit')
              .table-section.section-10{ role: 'columnheader' }= _('Job')
              .table-section.section-10{ role: 'columnheader' }= _('Created')
              .table-section.section-10{ role: 'columnheader' }= _('Deployed')

            = render @deployments

        = paginate @deployments, theme: 'gitlab'
