- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

%div{ class: (container_class) }
  .top-area
    .col-md-9
      %h3.page-title= @environment.name.titleize

    .col-md-3
      .nav-controls
        - if can?(current_user, :update_environment, @environment)
          = link_to 'Destroy', namespace_project_environment_path(@project.namespace, @project, @environment), data: { confirm: 'Are you sure you want to delete this environment?' }, class: 'btn btn-danger', method: :delete

  - if @deployments.blank?
    %ul.content-list.environments
      %li.nothing-here-block
        No deployments for
        %strong= @environment.name
  - else
    .table-holder
      %table.table.environments
        %thead
          %tr
            %th ID
            %th Commit
            %th Build
            %th Date
            %th

        = render @deployments

    = paginate @deployments, theme: 'gitlab'
