- slack_integration = @service.slack_integration
- if slack_integration
  %table.table
    %colgroup
      %col
      %col
      %col
      %col
    %thead
      %tr
        %th Team name
        %th Project alias
        %th Created at
        %th Actions
    %tr
      %td
        = slack_integration.team_name
      %td
        = slack_integration.alias
      %td
        = time_ago_in_words slack_integration.created_at
        ago
      %td
        .controls
          - project = @service.project
          = link_to 'Edit', edit_project_settings_slack_path(project), class: 'btn btn-sm'
          = link_to 'Remove', project_settings_slack_path(project), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }
- else
  %p To set up this service press "Add to Slack"
  = render "projects/services/#{@service.to_param}/slack_button"
