%div
  = form_for @key do |f|
    -if @key.errors.any?
      .alert-message.block-message.error
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :title
      .input= f.text_field :title
    .clearfix
      = f.label :key
      .input= f.text_area :key, :class => "xlarge"
    .actions
      = f.submit 'Save', :class => "primary btn"
      = link_to "Cancel", keys_path, :class => "btn"

