%tr
  %td
    = link_to key_path(key) do
      %p
        %strong= key.title
  %td
    %span.right.cgray
      = t '.added'
      = time_ago_in_words(key.created_at)
      = t 'global.ago'
  %td
    = link_to t('global.destroy'), key, :confirm => t('global.destroy_confirm'), :method => :delete, :class => "btn small danger delete-key right"

