%h3
  = t '.pubkey' 
  = @key.title
  %small
    = t 'global.created_at'
    = @key.created_at.stamp(t('global.timestamp'))
.back_link
  = link_to keys_path do 
    &larr; 
    = t('.back_to_list')
%hr

%pre= @key.key
.actions
  = link_to t('global.destroy'), @key, :confirm => t('global.destroy_confirm'), :method => :delete, :class => "btn danger delete-key"


