%h3.page_title
  Public key:
  = @key.title
  %small
    created at
    = @key.created_at.stamp("Aug 21, 2011")
.back_link
  = link_to keys_path do
    &larr; To keys list
%hr

%pre= @key.key
.pull-right
  = link_to 'Remove', @key, confirm: 'Are you sure?', method: :delete, class: "btn btn-remove delete-key"
