- prev_view = previous_path ? 'kaminari/gitlab/page_cursor_nav' : 'kaminari/gitlab/disabled_page_cursor_nav'
- next_view = next_path ? 'kaminari/gitlab/page_cursor_nav' : 'kaminari/gitlab/disabled_page_cursor_nav'

- if previous_path || next_path
  .gl-pagination.gl-mt-3
    %ul.gl-justify-center
      = render prev_view, testid: 'kaminari-pagination-prev', rel: 'prev', url: previous_path, data: paginate_event_tracking_data_attributes(event_tracking: event_tracking, event_label: 'prev') do
        = sprite_icon('chevron-left')
        = s_('Pagination|Prev')
      = render next_view, testid: 'kaminari-pagination-next', rel: 'next', url: next_path, data: paginate_event_tracking_data_attributes(event_tracking: event_tracking, event_label: 'next') do
        = s_('Pagination|Next')
        = sprite_icon('chevron-right')
