= render "projects/blob/breadcrumb", blob: blob

.info-well.hidden-xs
  .well-segment
    %ul.blob-commit-info
      = render 'projects/commits/commit', commit: @last_commit, project: @project, ref: @ref

  = render "projects/blob/auxiliary_viewer", blob: blob

#blob-content-holder.blob-content-holder
  %article.file-holder
    = render 'projects/blob/header', blob: blob
    = render 'projects/blob/content', blob: blob
