- blame = local_assigns.fetch(:blame, false)
- blob = local_assigns.fetch(:blob, nil)
.js-file-title.file-title-flex-parent
  = render 'projects/blob/header_content', blob: blob

  .file-actions.gl-flex.gl-items-center.gl-flex-wrap.md:gl-justify-end<
    = render 'shared/web_ide_button', blob: blob
    .btn-group.gl-ml-3{ role: "group" }
      = copy_blob_source_button(blob) unless blame
      = open_raw_blob_button(blob)
      = download_blob_button(blob)
      = view_on_environment_button(@commit.sha, @path, @environment) if @environment

= render_fork_suggestion
= render_if_exists 'projects/blob/header_file_locks', project: @project, path: @path
