#modal-upload-blob.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } &times;
        %h3.page-title= title
      .modal-body
        = form_tag form_path, method: method, class: 'js-quick-submit js-upload-blob-form form-horizontal', data: { method: method } do
          .dropzone
            .dropzone-previews.blob-upload-dropzone-previews
              %p.dz-message.light
                - upload_link = link_to s_('UploadLink|click to upload'), '#', class: "markdown-selector"
                - dropzone_text = _('Attach a file by drag &amp; drop or %{upload_link}') % { upload_link: upload_link }
                #{ dropzone_text.html_safe }

          %br
          .dropzone-alerts.alert.alert-danger.data{ style: "display:none" }

          = render 'shared/new_commit_form', placeholder: placeholder

          .form-actions
            = button_tag class: 'btn btn-create btn-upload-file', id: 'submit-all', type: 'button' do
              = icon('spin spinner', class: 'js-loading-icon hidden' )
              = button_title
            = link_to _("Cancel"), '#', class: "btn btn-cancel", "data-dismiss" => "modal"

            = render 'shared/projects/edit_information'
