- if @lines.present?
  - line_class = diff_view == :inline ? '' : diff_view
  - if @form.unfold? && @form.since != 1 && !@form.bottom?
    %tr.line_holder{ class: line_class }
      = diff_match_line @form.since, @form.since, text: @match_line, view: diff_view

  - @lines.each_with_index do |line, index|
    - line_number_new = index + @form.since
    - line_number_old = line_number_new - @form.offset
    - line[0, 0] = ' ' * @form.indent
    %tr.line_holder.diff-expanded{ id: line_number_old, class: line_class }
      - case diff_view
      - when :inline
        %td.old_line.diff-line-num{ data: { linenumber: line_number_old } }
          %a{ href: "#", data: { linenumber: line_number_old }, disabled: true }
        %td.new_line.diff-line-num{ data: { linenumber: line_number_new } }
          %a{ href: "#", data: { linenumber: line_number_new }, disabled: true }
        %td.line_content.noteable_line{ class: line_class }= line
      - when :parallel
        %td.old_line.diff-line-num{ data: { linenumber: line_number_old } }
          %a{ href: "##{line_number_old}", data: { linenumber: line_number_old }, disabled: true }
        %td.line_content.noteable_line.left-side{ class: line_class }= line
        %td.new_line.diff-line-num{ data: { linenumber: line_number_new } }
          %a{ href: "##{line_number_new}", data: { linenumber: line_number_new }, disabled: true }
        %td.line_content.noteable_line.right-side{ class: line_class }= line

  - if @form.unfold? && @form.bottom? && @form.to < @blob.lines.size
    %tr.line_holder{ id: @form.to, class: line_class }
      = diff_match_line @form.to - @form.offset, @form.to, text: @match_line, view: diff_view, bottom: true
