- breadcrumb_title _("Repository")
- page_title _("New File"), @path.presence, @ref
- add_page_specific_style 'page_bundles/editor'

.js-blob-edit-header{ data: edit_blob_app_data(@project, @id, @blob, @ref, 'create') }
  .gl-mb-4.gl-mt-5.gl-items-center.gl-justify-between.md:gl-flex.lg:gl-mb-5
    %h1{ class: 'md:!gl-mb-0 gl-heading-1 gl-inline-block' }
      = _('New file')
    .gl-flex.gl-gap-3
      = render Pajamas::ButtonComponent.new do
        = _('Cancel')
      = render Pajamas::ButtonComponent.new(variant: :confirm) do
        = _('Commit changes')

.file-editor
  = form_tag(project_create_blob_path(@project, @id), method: :post, class: 'js-edit-blob-form js-new-blob-form js-quick-submit', data: blob_editor_paths(@project, 'post')) do
    = render 'projects/blob/editor', ref: @ref, path: @path
