- page_title _('New Password')
- breadcrumb_title _('New Password')

%h1.page-title.gl-font-size-h-display= _('Set up new password')
%hr
= gitlab_ui_form_for @user, url: user_settings_password_path, method: :post do |f|
  %p.slead
    = _('Please set a new password before proceeding.')
    %br
    = _('After a successful password update you will be redirected to login screen.')

  = form_errors(@user)

  - unless @user.password_automatically_set?
    .form-group.row
      .col-sm-2.col-form-label
        = f.label :password, _('Current password')
      .col-sm-10
        = f.password_field :password, required: true, autocomplete: 'current-password', class: 'form-control gl-form-input', data: { testid: 'current-password-field' }
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :new_password, _('New password')
    .col-sm-10
      = f.password_field :new_password, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input js-password-complexity-validation', data: { testid: 'new-password-field' }
      = render_if_exists 'shared/password_requirements_list'
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :password_confirmation, _('Password confirmation')
    .col-sm-10
      = f.password_field :password_confirmation, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input', data: { testid: 'confirm-password-field' }
  .form-actions
    = f.submit _('Set new password'), data: { testid: 'set-new-password-button' }, pajamas_button: true
