%div
  = form_for [@project, @key], :url => project_deploy_keys_path do |f|
    -if @key.errors.any?
      %ul.errors_holder
        - @key.errors.full_messages.each do |msg|
          %li= msg
    
    %table.no-borders
      %tr
        %td= f.label :title
        %td= f.text_field :title, :style => "width:300px"
      %tr
        %td= f.label :key
        %td= f.text_area :key, :style => "width:300px; height:130px"
    %br
    .merge-tabs
      = f.submit 'Save', :class => "positive-button"

