%div
  = form_for [@project, @key], url: project_deploy_keys_path do |f|
    -if @key.errors.any?
      .alert.alert-error
        %ul
          - @key.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :title
      .input= f.text_field :title
    .clearfix
      = f.label :key
      .input
        = f.text_area :key, class: [:xxlarge, :thin_area]
        %p.hint
          Paste a machine public key here. Read more about how generate it
          = link_to "here", help_ssh_path

    .actions
      = f.submit 'Save', class: "btn-save btn"
      = link_to "Cancel", project_deploy_keys_path(@project), class: "btn btn-cancel"

