= render "projects/settings_nav"

%p.slead
  Deploy keys allow read-only access to repository. They can be used for CI, staging or production servers

%p
  You can create a deploy key or add existing one
  = link_to new_project_deploy_key_path(@project), class: "btn btn-primary pull-right", title: "New Deploy Key" do
    %i.icon-plus
    New Deploy Key

%hr.clearfix

.row
  .span6.enabled-keys
    %h5.cgreen
      Enabled deploy keys
      %small for this project
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          %p.nothing_here_message Create #{link_to 'new deploy key', new_project_deploy_key_path(@project)} or add existing one
  .span6.available-keys
    %h5
      Available deploy keys
      %small from projects you are able to manage
    %ul.bordered-list
      = render @available_keys
      - if @available_keys.blank?
        .light-well
          %p.nothing_here_message All deploy keys created in projects you own will be displayed here
