= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }

        - content_for :page_specific_javascripts do
          = page_specific_javascript_bundle_tag('common_d3')
          = page_specific_javascript_bundle_tag('graphs')
        = nav_link(action: :show) do
          = link_to 'Contributors', namespace_project_graph_path
        = nav_link(action: :commits) do
          = link_to 'Commits', commits_namespace_project_graph_path
        = nav_link(action: :languages) do
          = link_to 'Languages', languages_namespace_project_graph_path
        = nav_link(action: :ci) do
          = link_to_protected_feature ci_namespace_project_graph_path, feature: :builds, user: current_user do
            Continuous Integration
