- page_title _("Find File"), @ref

.file-finder-holder.tree-holder.clearfix.js-file-finder{ 'data-file-find-url': "#{escape_javascript(project_files_path(@project, @ref, format: :json))}", 'data-find-tree-url': escape_javascript(project_tree_path(@project, @ref)), 'data-blob-url-template': escape_javascript(project_blob_path(@project, @id || @commit.id)) }
  .nav-block
    .tree-ref-holder
      = render 'shared/ref_switcher', destination: 'find_file', path: @path
    %ul.breadcrumb.repo-breadcrumb
      %li.breadcrumb-item
        = link_to project_tree_path(@project, @ref) do
          = @project.path
      %li.file-finder.breadcrumb-item
        %input#file_find.form-control.file-finder-input{ type: "text", placeholder: _('Find by path'), autocomplete: 'off' }

  .tree-content-holder
    .table-holder
      %table.table.files-slider{ class: "table_#{@hex_path} tree-table" }
        %tbody
        .col-12.empty-state.hidden
          .svg-250.svg-content
            = image_tag('illustrations/profile-page/personal-projects.svg', alt: 'No files svg', lazy: true)
          .text-center
            %h4
              = _('There are no matching files')
            %p.text-secondary
              = _('Try using a different search term to find the file you are looking for.')
      .text-center.gl-mt-3.loading
        = loading_icon(size: 'md')
