- page_title "Find File", @ref
= render "projects/commits/head"

.file-finder-holder.tree-holder.clearfix
  .nav-block
    .tree-ref-holder
      = render 'shared/ref_switcher', destination: 'find_file', path: @path
    %ul.breadcrumb.repo-breadcrumb
      %li
        = link_to project_tree_path(@project, @ref) do
          = @project.path
      %li.file-finder
        %input#file_find.form-control.file-finder-input{ type: "text", placeholder: _('Find by path'), autocomplete: 'off' }

  .tree-content-holder
    .table-holder
      %table.table.files-slider{ class: "table_#{@hex_path} tree-table table-striped" }
        %tbody
      = spinner nil, true

:javascript
  var projectFindFile = new ProjectFindFile($(".file-finder-holder"), {
    url: "#{escape_javascript(project_files_path(@project, @ref, @options.merge(format: :json)))}",
    treeUrl: "#{escape_javascript(project_tree_path(@project, @ref))}",
    blobUrlTemplate: "#{escape_javascript(project_blob_path(@project, @id || @commit.id))}"
  });
  new ShortcutsFindFile(projectFindFile);
