- if show_auto_devops_implicitly_enabled_banner?(project, current_user)
  = render 'shared/global_alert',
    variant: :info,
    alert_class: 'qa-auto-devops-banner auto-devops-implicitly-enabled-banner',
    close_button_class: 'hide-auto-devops-implicitly-enabled-banner',
    close_button_data: { project_id: project.id } do
    .gl-alert-body
      = s_("AutoDevOps|The Auto DevOps pipeline has been enabled and will be used if no alternative CI configuration file is found.")
      - unless Gitlab.config.registry.enabled
        %div
          = _('Container registry is not enabled on this GitLab instance. Ask an administrator to enable it in order for Auto DevOps to work.')
    .gl-alert-actions
      = link_to _('Settings'), project_settings_ci_cd_path(project), class: 'alert-link btn gl-button btn-confirm'
      = link_to _('More information'), help_page_path('topics/autodevops/index.md'), target: '_blank', class: 'alert-link btn gl-button btn-default gl-ml-3'
