%div{ class: "broadcast-#{message.broadcast_type}-message #{opts[:preview] && 'preview'} js-broadcast-notification-#{message.id} d-flex",
  style: broadcast_message_style(message), dir: 'auto' }
  .flex-grow-1.text-right.pr-2
    = sprite_icon('bullhorn', size: 16, css_class: 'vertical-align-text-top')
  %div{ class: !fluid_layout && 'container-limited' }
    = render_broadcast_message(message)
  .flex-grow-1.text-right{ style: 'flex-basis: 0' }
    - if (message.notification? || message.dismissable?) && opts[:preview].blank?
      %button.broadcast-message-dismiss.js-dismiss-current-broadcast-notification.btn.btn-link.pl-2.pr-2{ 'aria-label' => _('Close'), :type => 'button', data: { id: message.id, expire_date: message.ends_at.iso8601 } }
        %i.fa.fa-times
