- is_banner = message.broadcast_type == 'banner'

%div{ class: "broadcast-message #{'alert-warning' if is_banner} broadcast-#{message.broadcast_type}-message #{opts[:preview] && 'preview'} js-broadcast-notification-#{message.id} gl-display-flex",
  style: broadcast_message_style(message), dir: 'auto' }
  .gl-flex-grow-1.gl-text-right.gl-pr-3
    = sprite_icon('bullhorn', css_class: 'vertical-align-text-top')
  %div{ class: !fluid_layout && 'container-limited' }
    = render_broadcast_message(message)
  .gl-flex-grow-1.gl-flex-basis-0.gl-text-right
    - if (message.notification? || message.dismissable?) && opts[:preview].blank?
      %button.js-dismiss-current-broadcast-notification.btn.btn-link.gl-button{ 'aria-label' => _('Close'), :type => 'button', data: { id: message.id, expire_date: message.ends_at.iso8601 } }
        = sprite_icon('close', size: 16, css_class: "gl-icon gl-mx-3! #{is_banner ? 'gl-text-white' : 'gl-text-gray-700'}")
