- project = project || @project
.git-clone-holder.input-group
  .input-group-addon.git-protocols
    .input-group-btn
      = ssh_clone_button(project)
    .input-group-btn
      = http_clone_button(project)
  = text_field_tag :project_clone, default_url_to_repo(project), class: "js-select-on-focus form-control", readonly: true
  - if project.kind_of?(Project)
    .input-group-addon.has_tooltip{title: "#{visibility_level_label(project.visibility_level)} project", data: { container: "body" } }
      .visibility-level-label
        = visibility_level_icon(project.visibility_level)
