.form-group.commit_message-group
  - nonce = SecureRandom.hex
  = label_tag "commit_message-#{nonce}", class: 'control-label' do
    Commit message
  .col-sm-10
    .commit-message-container
      .max-width-marker
      = text_area_tag 'commit_message',
          (params[:commit_message] || local_assigns[:text] || local_assigns[:placeholder]),
          class: 'form-control js-commit-message', placeholder: local_assigns[:placeholder],
          required: true, rows: (local_assigns[:rows] || 3),
          id: "commit_message-#{nonce}"
    - if local_assigns[:hint]
      %p.hint
        Try to keep the first line under 52 characters
        and the others under 72.
    - if local_assigns[:description] 
      %p.hint.use-description-hint
        = link_to "#", class: "use-description-link" do
          Use Merge Request description as merge commit message
      %p.hint.use-default-message-hint.hide
        = link_to "#", class: "use-default-message-link" do
          Use default Gitlab merge commit message

      :javascript
        $('.use-description-link').on('click', function(e) {
          e.preventDefault();

          var message = "Merge branch '#{j @merge_request.source_branch}' into '#{j @merge_request.target_branch}'\n\n"
          message = message + "#{j @merge_request.title}\n\n"
          message = message + "#{j local_assigns[:description]}\n\n";
          message = message + "See merge request #{j @merge_request.to_reference}"


          $('.use-description-hint').hide();
          $('.use-default-message-hint').show();
          $('.js-commit-message').val(message)
        });

        $('.use-default-message-link').on('click', function(e) {
          e.preventDefault();

          var defaultMessage = "#{j (params[:commit_message] || local_assigns[:text] || local_assigns[:placeholder])}";

          $('.use-description-hint').show();
          $('.use-default-message-hint').hide();
          $('.js-commit-message').val(defaultMessage);
        });

