- return unless custom_attributes.present?

= render ::Layouts::CrudComponent.new(_('Custom attributes')) do |c|
  - c.with_actions do
    = render Pajamas::ButtonComponent.new(href: help_page_path('api/custom_attributes.md'), size: :small, category: :tertiary, variant: :confirm) do
      = _('Learn more')
  - c.with_body do
    %ul.content-list
      - custom_attributes.each do |custom_attribute|
        %li
          %span.light
            = custom_attribute.key
          %strong
            = custom_attribute.value
