- show_group_events = local_assigns.fetch(:show_group_events, false)

.scrolling-tabs-container.inner-page-scroll-tabs.gl-grow.gl-min-w-0.gl-w-full
  %button.fade-left{ type: 'button', title: _('Scroll left'), 'aria-label': _('Scroll left') }
    = sprite_icon('chevron-lg-left', size: 12)
  %button.fade-right{ type: 'button', title: _('Scroll right'), 'aria-label': _('Scroll right') }
    = sprite_icon('chevron-lg-right', size: 12)
  %ul.nav-links.event-filter.scrolling-tabs.nav.nav-tabs
    = event_filter_link EventFilter::ALL, _('All'), s_('EventFilterBy|Filter by all')
    - if event_filter_visible(:repository)
      = event_filter_link EventFilter::PUSH, _('Push events'), s_('EventFilterBy|Filter by push events')
    - if event_filter_visible(:merge_requests)
      = event_filter_link EventFilter::MERGED, _('Merge events'), s_('EventFilterBy|Filter by merge events')
    - if event_filter_visible(:issues)
      = event_filter_link EventFilter::ISSUE, _('Issue events'), s_('EventFilterBy|Filter by issue events')
    - if show_group_events
      = render_if_exists 'events/epics_filter'
    - if comments_visible?
      = event_filter_link EventFilter::COMMENTS, _('Comments'), s_('EventFilterBy|Filter by comments')
    - if @project.nil? || @project.has_wiki?
      = event_filter_link EventFilter::WIKI, _('Wiki'), s_('EventFilterBy|Filter by wiki')
    - if event_filter_visible(:designs)
      = event_filter_link EventFilter::DESIGNS, _('Designs'), s_('EventFilterBy|Filter by designs')
    = event_filter_link EventFilter::TEAM, _('Team'), s_('EventFilterBy|Filter by team')
