%ul.nav-links.event-filter.scrolling-tabs
  = event_filter_link EventFilter.all, 'All'
  - if event_filter_visible(:repository)
    = event_filter_link EventFilter.push, 'Push events'
  - if event_filter_visible(:merge_requests)
    = event_filter_link EventFilter.merged, 'Merge events'
  - if event_filter_visible(:issues)
    = event_filter_link EventFilter.comments, 'Comments'
  = event_filter_link EventFilter.team, 'Team'
