- name = field[:name]
- title = field[:title] || name.humanize
- value = service_field_value(field[:type], @service.send(name))
- type = field[:type]
- placeholder = field[:placeholder]
- choices = field[:choices]
- default_choice = field[:default_choice]
- help = field[:help]

- case type
- when 'textarea'
  = form.text_area name, label: title, help: help, rows: 5, placeholder: placeholder
- when 'checkbox'
  = form.form_group name, label: { text: title }, help: help do
    = form.check_box name, label: title
- when 'select'
  = form.select name, options_for_select(choices, value ? value : default_choice), { label: title, help: help }, {}
- when 'password'
  = form.password_field name, label: title, help: help
- else
  = form.text_field name, label: title, help: help, placeholder: placeholder
