.file-content.code.js-syntax-highlight.qa-file-content
  .line-numbers
    - if blob.data.present?
      - link_icon = icon('link')
      - link = blob_link if defined?(blob_link)
      - blob.data.each_line.each_with_index do |_, index|
        - offset = defined?(first_line_number) ? first_line_number : 1
        - i = index + offset
        -# We're not using `link_to` because it is too slow once we get to thousands of lines.
        %a.diff-line-num{ href: "#{link}#L#{i}", id: "L#{i}", 'data-line-number' => i }
          = link_icon
          = i
  .blob-content{ data: { blob_id: blob.id } }
    %pre.code.highlight
      %code
        = blob.present.highlight
