- callout_data = { uid: "callout_feature_#{feature_name}_dismissed", feature_id: feature_name, dismiss_endpoint: user_callouts_path }
- extra_flash_class = local_assigns.fetch(:extra_flash_class, nil)

.flash-container.flash-container-page.user-callout{ data: callout_data }
  -# We currently only support `alert`, `warning`, `notice`, `success`
  %div{ class: "flash-#{flash_type}" }
    %div{ class: "#{(container_class unless fluid_layout)} #{(extra_flash_class unless @no_container)} #{@content_class}" }
      %span= message
      %button.btn.gl-button.btn-default.close.js-close{ type: 'button',
        'aria-label' => _('Dismiss') }
        = sprite_icon('close', css_class: 'dismiss-icon')
