- member = entity.send(members_association(entity)).find_by(user_id: current_user.id)
- can_edit = can?(current_user, "admin_#{entity.class.to_s.underscore}".to_sym, entity)

- if member || can_edit
  .dropdown.project-settings-dropdown
    %a.dropdown-new.btn.btn-gray{ href: '#', id: "#{entity.class.to_s.underscore}-settings-button", data: { toggle: 'dropdown' } }
      = icon('cog')
      = icon('caret-down')
    %ul.dropdown-menu.dropdown-menu-align-right
      - if can_edit
        %li
          = link_to "Edit #{entity.class.to_s}", [:edit, entity]

      - if member
        %li
          = link_to "Leave #{entity.class.to_s}",
                    leave_path(entity),
                    method: :delete,
                    data: { confirm: leave_confirmation_message(entity) }
- elsif entity.access_requested?(current_user)
  = link_to 'Withdraw Request',
            leave_path(entity),
            data: { confirm: withdraw_request_message(entity) },
            method: :delete,
            class: 'btn btn-grouped btn-gray'
- else
  = link_to 'Request Access',
            request_access_path(entity),
            method: :post,
            class: 'btn btn-grouped btn-gray'
