- parent = Group.find_by(id: params[:parent_id] || @group.parent_id)
- if @group.persisted?
  .form-group
    = f.label :name, class: 'control-label' do
      Group name
    .col-sm-10
      = f.text_field :name, placeholder: 'open-source', class: 'form-control'

.form-group
  = f.label :path, class: 'control-label' do
    Group path
  .col-sm-10
    .input-group.gl-field-error-anchor
      .input-group-addon
        %span>= root_url
        - if parent
          %strong= parent.full_path + '/'
      = f.text_field :path, placeholder: 'open-source', class: 'form-control',
        autofocus: local_assigns[:autofocus] || false, required: true,
        pattern: Gitlab::Regex::NAMESPACE_REGEX_STR_JS,
        title: 'Please choose a group name with no special characters.'
      - if parent
        = f.hidden_field :parent_id, value: parent.id

    - if @group.persisted?
      .alert.alert-warning.prepend-top-10
        %ul
          %li Changing group path can have unintended side effects.
          %li Renaming group path will rename directory for all related projects
          %li It will change web url for access group and group projects.
          %li It will change the git path to repositories under this group.

.form-group.group-description-holder
  = f.label :description, class: 'control-label'
  .col-sm-10
    = f.text_area :description, maxlength: 250,
        class: 'form-control js-gfm-input', rows: 4
