- if @group.persisted?
  .form-group.col-xs-12
    = f.label :name, class: 'label-light' do
      %span Group name
    = f.text_field :name, placeholder: 'open-source', class: 'form-control'

.form-group.col-xs-12
  = f.label :path, class: 'label-light' do
    %span Group path
  .input-group.gl-field-error-anchor
    .input-group-addon
      = root_url
    = f.text_field :path, placeholder: 'open-source', class: 'form-control',
      autofocus: local_assigns[:autofocus] || false,  pattern: "[a-zA-Z0-9-_]+",
      required: true, title: 'Please choose a group name with no special characters.'

  - if @group.persisted?
    .alert.alert-warning.prepend-top-10
      %ul
        %li Changing group path can have unintended side effects.
        %li Renaming group path will rename directory for all related projects
        %li It will change web url for access group and group projects.
        %li It will change the git path to repositories under this group.

.form-group.col-xs-12
  = f.label :description, class: 'label-light' do
    Description
    %span.lighter (optional)
  = f.text_area :description, maxlength: 250,
      class: 'form-control js-gfm-input', rows: 4
