- ci_cd_only = local_assigns.fetch(:ci_cd_only, false)
- import_url = Gitlab::UrlSanitizer.new(f.object.import_url)

.import-url-data
  .form-group
    = f.label :import_url, class: 'label-bold' do
      %span
        = _('Git repository URL')
    = f.text_field :import_url, value: import_url.sanitized_url,
        autocomplete: 'off', class: 'form-control gl-form-input', placeholder: 'https://gitlab.company.com/group/project.git', required: true
    = render 'shared/global_alert',
      variant: :warning,
      alert_class: 'gl-mt-3 js-import-url-warning hide',
      dismissible: false,
      close_button_class: 'js-close-2fa-enabled-success-alert' do
      .gl-alert-body
        = s_('Import|A repository URL usually ends in a .git suffix, although this is not required. Double check to make sure your repository URL is correct.')

    .gl-alert.gl-alert-not-dismissible.gl-alert-warning.gl-mt-3.hide#project_import_url_warning
      .gl-alert-container
        = sprite_icon('warning-solid', css_class: 'gl-icon s16 gl-alert-icon gl-alert-icon-no-title')
        .gl-alert-content{ role: 'alert' }
  .row
    .form-group.col-md-6
      = f.label :import_url_user, class: 'label-bold' do
        %span
          = _('Username (optional)')
      = f.text_field :import_url_user, value: import_url.user, class: 'form-control gl-form-input', required: false, autocomplete: 'new-password'

    .form-group.col-md-6
      = f.label :import_url_password, class: 'label-bold' do
        %span
          = _('Password (optional)')
      = f.password_field :import_url_password, class: 'form-control gl-form-input', required: false, autocomplete: 'new-password'

  .info-well.prepend-top-20
    .well-segment
      %ul
        %li
          = html_escape(_('The repository must be accessible over %{code_open}http://%{code_close}, %{code_open}https://%{code_close} or %{code_open}git://%{code_close}.')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
        %li= html_escape(_('When using the %{code_open}http://%{code_close} or %{code_open}https://%{code_close} protocols, please provide the exact URL to the repository. HTTP redirects will not be followed.')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
        %li
          = _('If your HTTP repository is not publicly accessible, add your credentials.')
        %li
          = import_will_timeout_message(ci_cd_only)
        %li
          = import_svn_message(ci_cd_only)
        = render_if_exists 'shared/ci_cd_only_link', ci_cd_only: ci_cd_only

= render_if_exists 'shared/ee/import_form', f: f, ci_cd_only: ci_cd_only
