- note_count         = @issuable_meta_data[issuable.id].user_notes_count
- issue_votes        = @issuable_meta_data[issuable.id]
- upvotes, downvotes = issue_votes.upvotes, issue_votes.downvotes
- issuable_path      = issuable_path(issuable, anchor: 'notes')
- issuable_mr        = @issuable_meta_data[issuable.id].merge_requests_count

- if issuable_mr > 0
  %li.issuable-mr.d-none.d-sm-block.has-tooltip{ title: _('Related merge requests') }
    = image_tag('icon-merge-request-unmerged.svg', class: 'icon-merge-request-unmerged')
    = issuable_mr

- if upvotes > 0
  %li.issuable-upvotes.d-none.d-sm-block.has-tooltip{ title: _('Upvotes') }
    = sprite_icon('thumb-up', size: 16, css_class: "vertical-align-middle")
    = upvotes

- if downvotes > 0
  %li.issuable-downvotes.d-none.d-sm-block.has-tooltip{ title: _('Downvotes') }
    = sprite_icon('thumb-down', size: 16, css_class: "vertical-align-middle")
    = downvotes

%li.issuable-comments.d-none.d-sm-block
  = link_to issuable_path, class: ['has-tooltip', ('no-comments' if note_count.zero?)], title: _('Comments') do
    = sprite_icon('comments', size: 16, css_class: 'gl-vertical-align-text-bottom')
    = note_count
