- note_count         = @issuable_meta_data[issuable.id].notes_count
- issue_votes        = @issuable_meta_data[issuable.id]
- upvotes, downvotes = issue_votes.upvotes, issue_votes.downvotes
- issuable_url       = @collection_type == "Issue" ? issue_path(issuable, anchor: 'notes') : merge_request_path(issuable, anchor: 'notes')

- if upvotes > 0
  %li
    = icon('thumbs-up')
    = upvotes

- if downvotes > 0
  %li
    = icon('thumbs-down')
    = downvotes

%li
  = link_to issuable_url, class: ('no-comments' if note_count.zero?) do
    = icon('comments')
    = note_count
