.issues-filters
  .issues-state-filters
    %ul.nav.nav-tabs
      %li{class: ("active" if params[:state] == 'opened')}
        = link_to page_filter_path(state: 'opened') do
          %i.fa.fa-exclamation-circle
          Open
      %li{class: ("active" if params[:state] == 'closed')}
        = link_to page_filter_path(state: 'closed') do
          %i.fa.fa-check-circle
          Closed
      %li{class: ("active" if params[:state] == 'all')}
        = link_to page_filter_path(state: 'all') do
          %i.fa.fa-compass
          All

  %div
    = form_tag page_filter_path(without: [:assignee_id, :author_id, :milestone_id, :label_name]), method: :get, class: 'filter-form' do
      - if controller.controller_name == 'issues'
        .check-all-holder
          = check_box_tag "check_all_issues", nil, false,
            class: "check_all_issues left",
            disabled: !can?(current_user, :modify_issue, @project)
      .issues-other-filters
        .filter-item.inline
          %span.light
            %i.fa.fa-user
            Assignee
          %strong
            = users_select_tag(:assignee_id, selected: params[:assignee_id],
              placeholder: 'Any', class: 'trigger-submit', any_user: true, null_user: true)

        .filter-item.inline
          %span.light
            %i.fa.fa-user
            Author
          %strong
            = users_select_tag(:author_id, selected: params[:author_id],
              placeholder: 'Any', class: 'trigger-submit', any_user: true)

        .filter-item.inline
          %span.light
            %i.fa.fa-clock-o
            Milestone
          %strong
            = select_tag('milestone_id', projects_milestones_options, class: "select2 trigger-submit")

        - if @project
          .filter-item.inline
            %span.light
              %i.fa.fa-tag
              Label
            %strong
              = select_tag('label_name', project_labels_options(@project), class: "select2 trigger-submit")

        .pull-right
          = render 'shared/sort_dropdown'

:coffeescript
  new UsersSelect()

  $('form.filter-form').on 'submit', (event) ->
    event.preventDefault()
    Turbolinks.visit @.action + '&' + $(@).serialize()
