- force_priority = local_assigns.fetch(:force_priority, false)
- subject_or_group_defined = defined?(@project) || defined?(@group)
- show_label_issues_link = subject_or_group_defined && show_label_issuables_link?(label, :issues)
- show_label_merge_requests_link = subject_or_group_defined && show_label_issuables_link?(label, :merge_requests)

.label-name.gl-flex-shrink-0.gl-mt-2.gl-mr-3
  = render_label(label, tooltip: false)
.label-description.gl-overflow-hidden.gl-w-full
  .gl-display-flex.gl-align-items-stretch.gl-flex-wrap.gl-mt-2
    .gl-flex-basis-half.gl-flex-grow-1.gl-overflow-hidden.gl-mr-2
      - if label.description.present?
        = markdown_field(label, :description)
      - elsif show_labels_full_path?(@project, @group)
        = render 'shared/label_full_path', label: label
    %ul.label-links.gl-m-0.gl-p-0.gl-white-space-nowrap
      - if show_label_issues_link
        %li.inline
          = link_to_label(label, css_class: 'gl-text-blue-600!') { _('Issues') }
      - if show_label_merge_requests_link
        &middot;
        %li.inline
          = link_to_label(label, type: :merge_request, css_class: 'gl-text-blue-600!') { _('Merge requests') }
      = render_if_exists 'shared/label_row_epics_link', label: label
      - if force_priority
        &middot;
        %li.js-priority-badge.inline.gl-ml-3
          .label-badge.gl-bg-blue-50= _('Prioritized label')
  - if label.description.present? && show_labels_full_path?(@project, @group)
    .gl-mt-3
      = render 'shared/label_full_path', label: label
