- if @project
  - counts = milestone_counts(@project.milestones)

%ul.nav-links
  %li{class: ("active" if params[:state].blank? || params[:state] == 'opened')}
    = link_to milestones_filter_path(state: 'opened') do
      Open
      - if @project
        %span.badge #{counts[:opened]}
  %li{class: ("active" if params[:state] == 'closed')}
    = link_to milestones_filter_path(state: 'closed') do
      Closed
      - if @project
        %span.badge #{counts[:closed]}
  %li{class: ("active" if params[:state] == 'all')}
    = link_to milestones_filter_path(state: 'all') do
      All
      - if @project
        %span.badge #{counts[:all]}
