%ul.nav-links
  %li{class: ("active" if params[:state].blank? || params[:state] == 'opened')}
    = link_to milestones_filter_path(state: 'opened') do
      Open
      %span.badge #{milestone_count_by_state(@project, 'opened')}
  %li{class: ("active" if params[:state] == 'closed')}
    = link_to milestones_filter_path(state: 'closed') do
      Closed
      %span.badge #{milestone_count_by_state(@project, 'closed')}
  %li{class: ("active" if params[:state] == 'all')}
    = link_to milestones_filter_path(state: 'all') do
      All
      %span.badge #{milestone_count_by_state(@project, 'all')}
