.dropdown.inline.prepend-left-10
  %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
    %span.light
    - if @sort.present?
      = milestone_sort_options_hash[@sort]
    - else
      = sort_title_due_date_soon
    = icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-sort
    %li
      = link_to page_filter_path(sort: sort_value_due_date_soon, label: true) do
        = sort_title_due_date_soon
      = link_to page_filter_path(sort: sort_value_due_date_later, label: true) do
        = sort_title_due_date_later
      = link_to page_filter_path(sort: sort_value_start_date_soon, label: true) do
        = sort_title_start_date_soon
      = link_to page_filter_path(sort: sort_value_start_date_later, label: true) do
        = sort_title_start_date_later
      = link_to page_filter_path(sort: sort_value_name, label: true) do
        = sort_title_name_asc
      = link_to page_filter_path(sort: sort_value_name_desc, label: true) do
        = sort_title_name_desc
