-  count_badge_classes = 'gl-hidden sm:gl-inline-flex'

= gl_tabs_nav({class: 'gl-border-b-0 gl-grow', data: { testid: 'milestones-filter' } }) do
  = gl_tab_link_to milestones_filter_path(state: 'opened'), { item_active: params[:state].blank? || params[:state] == 'opened' } do
    = _('Open')
    = gl_tab_counter_badge counts[:opened], { class: count_badge_classes }
  = gl_tab_link_to milestones_filter_path(state: 'closed', sort: 'due_date_desc'), { item_active: params[:state] == 'closed' } do
    = _('Closed')
    = gl_tab_counter_badge counts[:closed], { class: count_badge_classes }
  = gl_tab_link_to milestones_filter_path(state: 'all', sort: 'due_date_desc'), { item_active: params[:state] == 'all' } do
    = _('All')
    = gl_tab_counter_badge counts[:all], { class: count_badge_classes }
