.stage-cell
  - pipeline.legacy_stages.each do |stage|
    - if stage.status
      - detailed_status = stage.detailed_status(current_user)
      - icon_status = "#{detailed_status.icon}_borderless"

      .stage-container.mt-0.ml-1.dropdown{ class: klass }
        %button.mini-pipeline-graph-dropdown-toggle.has-tooltip.js-builds-dropdown-button{ class: "ci-status-icon-#{detailed_status.group}", type: 'button', data: { toggle: 'dropdown', title: "#{stage.name}: #{detailed_status.label}", placement: 'top', "stage-endpoint" => stage_ajax_project_pipeline_path(pipeline.project, pipeline, stage: stage.name) } }
          = sprite_icon(icon_status)

        %ul.dropdown-menu.mini-pipeline-graph-dropdown-menu.js-builds-dropdown-container
          %li.js-builds-dropdown-list.scrollable-menu
            %ul

          %li.js-builds-dropdown-loading.hidden
            .loading-container.text-center
              %span.spinner{ 'aria-label': _('Loading') }
