- case @project.mirror_last_update_status
- when :success
  Updated #{time_ago_with_tooltip(@project.mirror_last_successful_update_at)}.
- when :failed
  - if can?(current_user, :admin_project, @project)
    = link_to namespace_project_mirror_path(@project.namespace, @project) do
      = icon("exclamation-triangle")
      Failed to update #{time_ago_with_tooltip(@project.mirror_last_update_at)}.
  - else
    = icon("exclamation-triangle")
    Failed to update #{time_ago_with_tooltip(@project.mirror_last_update_at)}.

  - if @project.mirror_ever_updated_successfully?
    Last successful update #{time_ago_with_tooltip(@project.mirror_last_successful_update_at)}.
