.form-check
  - nonce = SecureRandom.hex
  = label_tag "create_merge_request-#{nonce}" do
    = check_box_tag 'create_merge_request', 1, true, class: 'js-create-merge-request', id: "create_merge_request-#{nonce}"
    - translation_variables = { new_merge_request: "<strong>#{_('new merge request')}</strong>" }
    - translation = _('Start a %{new_merge_request} with these changes') % translation_variables
    #{ translation.html_safe }

