- if show_no_password_message?
  = render Pajamas::AlertComponent.new(variant: :warning,
    alert_options: { class: 'js-no-password-message' },
    close_button_options: { class: 'js-hide-no-password-message' }) do |c|
    = c.body do
      = no_password_message
    = c.actions do
      = link_to _('Remind later'), '#', class: 'js-hide-no-password-message gl-alert-action btn btn-confirm btn-md gl-button'
      = link_to _("Don't show again"), profile_path(user: { hide_no_password: true }), method: :put, role: 'button', class: 'gl-alert-action btn btn-default btn-md gl-button'
