- if show_no_password_message?
  .no-password-message.gl-alert.gl-alert-warning
    = sprite_icon('warning', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    %button.js-close.gl-alert-dismiss{ type: 'button', 'aria-label': _('Dismiss') }
      = sprite_icon('close', size: 16, css_class: 'gl-icon')
    .gl-alert-body
      - translation_params = { protocol: gitlab_config.protocol.upcase, set_password_link: link_to_set_password }
      - set_password_message = _("You won't be able to pull or push repositories via %{protocol} until you %{set_password_link} on your account") % translation_params
      = set_password_message.html_safe
    .gl-alert-actions
      = link_to _('Remind later'), '#', class: 'hide-no-password-message btn gl-alert-action btn-info btn-md gl-button'
      = link_to _("Don't show again"), profile_path(user: {hide_no_password: true}), method: :put, role: 'button', class: 'btn gl-alert-action btn-md btn-default gl-button btn-default-secondary'
