- type = impersonation ? "impersonation" : "personal access"

%h5.prepend-top-0
  Add a #{type} token
%p.profile-settings-content
  Pick a name for the application, and we'll give you a unique #{type} token.

= form_for token, url: path, method: :post do |f|

  = form_errors(token)

  .form-group.input-lg
    = f.label :name, 'Name (Required)', class: 'label-bold'
    = f.text_field :name, class: 'form-control'

  .form-group.input-lg
    = f.label :expires_at, class: 'label-bold'
    .input-icon-wrapper
      = f.text_field :expires_at, class: 'datepicker form-control', placeholder: 'YYYY-MM-DD'
      = sprite_icon('calendar', { css_class: 'input-icon-right s12' })

  .form-group
    = f.label :scopes, 'Scopes (Required)', class: 'label-bold'
    = render 'shared/tokens/scopes_form', prefix: 'personal_access_token', token: token, scopes: scopes

  .form-group
    = f.label 'personal_access_token[project_ids]', 'Projects', class: 'label-bold'
    %p
      Limit this token's access to specific projects.
  .input-icon-wrapper
    = hidden_field_tag 'personal_access_token[project_ids]', '', { class: 'js-project-multi-select project-multi-select', data: { order_by: 'last_activity_at' } }
    = sprite_icon('angle-down', css_class: 'input-icon-right caret-down')

  .prepend-top-default
    = f.submit "Create #{type} token", class: "btn btn-success"
