= cache [project.namespace, project, controller.controller_name, controller.action_name] do
  = link_to project_path(project), class: dom_class(project) do
    - if avatar
      .dash-project-avatar
        = project_icon(project, alt: '', class: 'avatar project-avatar s40')
    %span.str-truncated
      %span.namespace-name
        - if project.namespace
          = project.namespace.human_name
          \/
      %span.project-name.filter-title
        = project.name
    - if stars
      %span.pull-right.light
        %i.fa.fa-star
        = project.star_count
