= form_tag switch_project_refs_path(@project), method: :get, class: "project-refs-form" do
  = select_tag "ref", grouped_options_refs, class: "project-refs-select select2 select2-sm"
  = hidden_field_tag :destination, destination
  - if defined?(path)
    = hidden_field_tag :path, path
  - @options && @options.each do |key, value|
    = hidden_field_tag key, value, id: nil
