= form_errors(integration)

- if lookup_context.template_exists?('help', "projects/services/#{integration.to_param}", true)
  = render "projects/services/#{integration.to_param}/help", subject: integration
- elsif integration.help.present?
  .info-well
    .well-segment
      = markdown integration.help

.service-settings
  - if @default_integration
    .js-vue-default-integration-settings{ data: integration_form_data(@default_integration) }
  .js-vue-integration-settings{ data: integration_form_data(integration) }
