= form_errors(@service)

- if lookup_context.template_exists?('help', "projects/services/#{@service.to_param}", true)
  = render "projects/services/#{@service.to_param}/help", subject: subject
- elsif @service.help.present?
  .info-well
    .well-segment
      = markdown @service.help

.service-settings
  - if @service.show_active_box?
    .form-group.row
      = form.label :active, "Active", class: "col-form-label col-sm-2"
      .col-sm-10
        = form.check_box :active, disabled: disable_fields_service?(@service), data: { qa_selector: 'active_checkbox' }

  - if @service.configurable_events.present?
    .form-group.row
      %label.col-form-label.col-sm-2= _('Trigger')

      .col-sm-10
        - @service.configurable_events.each do |event|
          .form-group
            .form-check
              = form.check_box service_event_field_name(event), class: 'form-check-input'
              = form.label service_event_field_name(event), class: 'form-check-label' do
                %strong
                  = event.humanize

            - field = @service.event_field(event)

            - if field
              = form.text_field field[:name], class: "form-control", placeholder: field[:placeholder]

            %p.text-muted
              = @service.class.event_description(event)

  - if @service.configurable_event_actions.present?
    .form-group.row
      %label.col-form-label.col-sm-2= _('Event Actions')

      .col-sm-10
        - @service.configurable_event_actions.each do |action|
          .form-group
            .form-check
              = form.check_box service_event_action_field_name(action), class: 'form-check-input'
              = form.label service_event_action_field_name(action), class: 'form-check-label' do
                %strong
                  = event_action_description(action)

            %p.text-muted
              = event_action_description(action)

  - @service.global_fields.each do |field|
    - type = field[:type]

    - if type == 'fieldset'
      - fields = field[:fields]
      - legend = field[:legend]

      %fieldset
        %legend= legend
        - fields.each do |subfield|
          = render 'shared/field', form: form, field: subfield
    - else
      = render 'shared/field', form: form, field: field
