= render Pajamas::AlertComponent.new(variant: :warning,
  alert_options: { class: 'js-recovery-settings-callout gl-mt-5',
                   data: { feature_id: Users::CalloutsHelper::TWO_FACTOR_AUTH_RECOVERY_SETTINGS_CHECK,
                           dismiss_endpoint: callouts_path,
                           defer_links: 'true' }},
  close_button_options: { data: { testid: 'close-account-recovery-regular-check-callout' }}) do |c|
  - c.with_body do
    = s_('Profiles|Ensure you have two-factor authentication recovery codes stored in a safe place.')
    = link_to _('Learn more.'), help_page_path('user/profile/account/two_factor_authentication.md', anchor: 'recovery-codes'), target: '_blank', rel: 'noopener noreferrer'
  - c.with_actions do
    = link_button_to profile_two_factor_auth_path, class: 'deferred-link gl-alert-action', variant: :confirm do
      = s_('Profiles|Manage two-factor authentication')
