- with_label = local_assigns.fetch(:with_label, true)

.visibility-level-setting
  - if with_label
    = f.label :visibility_level, _('Visibility level'), class: 'label-bold gl-mb-0'
    %p
      = _('Who can see this group?')
      - link = link_to('', help_page_path('user/public_access.md'), target: '_blank', rel: 'noopener noreferrer')
      = safe_format(_('%{docs_link_start}Learn about visibility levels.%{docs_link_end}'), tag_pair(link, :docs_link_start, :docs_link_end))
  - if can_change_visibility_level
    = render('shared/visibility_radios', model_method: :visibility_level, form: f, selected_level: visibility_level, form_model: form_model)
  - else
    %div
      %span.info
        = visibility_level_icon(visibility_level)
        %strong
          = visibility_level_label(visibility_level)
        .light= visibility_level_description(visibility_level, form_model)
