.card.card-without-border
  = render 'shared/members/tab_pane/header' do
    = render 'shared/members/tab_pane/title' do
      = html_escape(_("Groups with access to %{strong_open}%{project_name}%{strong_close}")) % { project_name: sanitize(@project.name, tags: []), strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    = form_tag project_project_members_path(@project), method: :get, class: 'user-search-form gl-mx-n3 gl-my-n3', data: { testid: 'group-link-search-form' } do
      .gl-px-3.gl-py-2
        .search-control-wrap.gl-relative
          = render 'shared/members/search_field', name: 'search_groups'
  %ul.content-list.members-list{ data: { testid: 'project-member-groups' } }
    - @group_links.each do |group_link|
      = render 'shared/members/group', group_link: group_link, can_admin_member: can_manage_project_members?(@project), group_link_path: project_group_link_path(@project, group_link)
