.panel.panel-default
  .panel-heading
    %strong #{@group.name}
    group members
    %span.badge= members.size
    - if can?(current_user, :admin_group_member, @group)
      .controls
        = link_to 'Manage group members',
                  group_group_members_path(@group),
                  class: 'btn'
  %ul.content-list
    = render partial: 'shared/members/member',
             collection: members.limit(20),
             as: :member,
             locals: { show_controls: false }
    - if members.size > 20
      %li
        and #{members.count - 20} more. For full list visit #{link_to 'group members page', group_group_members_path(@group)}
