= form_for @project_member, as: :project_member, url: namespace_project_project_members_path(@project.namespace, @project), html: { class: 'users-project-form' } do |f|
  .row
    .col-md-4.col-lg-6
      .dropdown
        %input{ type: "hidden", name: "user_ids", id: "js-member-user-ids" }
        %input{ type: "hidden", name: "group_ids", id: "js-member-group-ids" }
        %input.form-control.js-member-dropdown#js-members-input{ type: "text", placeholder: "Search for users or groups", data: { toggle: "dropdown", url: options_namespace_project_project_members_path(@project.namespace, @project, :json) } }
        .dropdown-menu.dropdown-menu-full-width.dropdown-menu-selectable.dropdown-members
          .dropdown-content
          = dropdown_loading
      .help-block.append-bottom-10
        Search for users by name, username, or email, or invite new ones using their email address.

    .col-md-3.col-lg-2
      = select_tag :access_level, options_for_select(ProjectMember.access_level_roles, @project_member.access_level), class: "form-control project-access-select"
      .help-block.append-bottom-10
        = link_to "Read more", help_page_path("user/permissions"), class: "vlink"
        about role permissions

    .col-md-3.col-lg-2
      .clearable-input
        = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date', placeholder: 'Expiration date'
        %i.clear-icon.js-clear-input
      .help-block.append-bottom-10
        On this date, the user(s) will automatically lose access to this project.

    .col-md-2
      = f.submit "Add to project", class: "btn btn-create btn-block"
