= form_for @project_member, as: :project_member, url: namespace_project_project_members_path(@project.namespace, @project), html: { class: 'users-project-form' } do |f|
  .form-group
    = users_select_tag(:user_ids, multiple: true, class: "input-clamp", scope: :all, email_user: true, placeholder: "Search for members to update or invite")
    .help-block.append-bottom-10
      Search for members by name, username, or email, or invite new ones using their email address.
  .form-group
    = select_tag :access_level, options_for_select(ProjectMember.access_level_roles, @project_member.access_level), class: "form-control project-access-select"
    .help-block.append-bottom-10
      = link_to "Read more", help_page_path("user/permissions"), class: "vlink"
      about role permissions
  .form-group
    .clearable-input
      = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date', placeholder: 'Expiration date'
      %i.clear-icon.js-clear-input
    .help-block.append-bottom-10
      On this date, the member(s) will automatically lose access to this project.
  = f.submit "Add to project", class: "btn btn-create"
  - if can?(current_user, :admin_project_member, @project) && !membership_locked?
    = link_to "Import", import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-default", title: "Import members from another project"
