- @project_group_links.each do |group_links|
  - shared_group = group_links.group
  - shared_group_users_count = group_links.group.group_members.count
  .panel.panel-default
    .panel-heading
      共享
      %strong #{shared_group.name}
      群组和成员，身份规则为
      %strong #{group_links.human_access}
      人数 (#{shared_group_users_count})
      - if can?(current_user, :admin_group, shared_group)
        .panel-head-actions
          = link_to group_group_members_path(shared_group), class: 'btn btn-sm' do
            %i.fa.fa-pencil-square-o
            编辑群组成员
    %ul.content-list
      - shared_group.group_members.order('access_level DESC').limit(20).each do |member|
        = render 'groups/group_members/group_member', member: member, show_controls: false, show_roles: false
      - if shared_group_users_count > 20
        %li
          和 #{shared_group_users_count - 20} 个更多成员。完整列表请访问#{link_to '群组成员页面', group_group_members_path(shared_group)}
