- project = local_assigns.fetch(:project)
- members = local_assigns.fetch(:members)

.card
  .card-header.flex-project-members-panel
    %span.flex-project-title
      = _("Members of <strong>%{project_name}</strong>").html_safe % { project_name: sanitize(project.name, tags: []) }
    %span.badge.badge-pill= members.total_count
    = form_tag project_project_members_path(project), method: :get, class: 'form-inline user-search-form flex-users-form' do
      .form-group
        .position-relative
          = search_field_tag :search, params[:search], { placeholder: _('Find existing members by name'), class: 'form-control', spellcheck: false }
          %button.user-search-btn{ type: "submit", "aria-label" => _("Submit search") }
            = icon("search")
        = render 'shared/members/sort_dropdown'
  %ul.content-list.members-list{ data: { qa_selector: 'members_list' } }
    = render partial: 'shared/members/member', collection: members, as: :member
