- page_title "Members"

.project-members-page.js-project-members-page.prepend-top-default
  %h4
    Members
  %hr
  - if can?(current_user, :admin_project_member, @project)
    .project-members-new.append-bottom-default
      %h5.clearfix
        Add new user to
        %strong= @project.name
        -# = link_to "Import", import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-default pull-right", title: "Import members from another project"
      = render "new_project_member"

      = render 'shared/members/requests', membership_source: @project, requesters: @requesters

  .append-bottom-default.clearfix
    %h5.pull-left
      Existing users and groups
    = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form pull-right hidden-xs hidden-sm'  do
      .form-group
        = search_field_tag :search, params[:search], { placeholder: 'Find existing members by name', class: 'form-control', spellcheck: false }
        = icon("search")
  - if @groups.size > 0
    = render 'groups', groups: @groups

  = render 'team', members: @project_members
  = paginate @project_members, theme: "gitlab"
