- page_title "Members"

.project-members-page.js-project-members-page.prepend-top-default
  %h4
    Members
  %hr
  - if can?(current_user, :admin_project_member, @project)
    .project-members-new.append-bottom-default
      %h5.clearfix
        Add new user to
        %strong= @project.name
        -# = link_to "Import", import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-default pull-right", title: "Import members from another project"
      = render "new_project_member"

      = render 'shared/members/requests', membership_source: @project, requesters: @requesters

  %h5.append-bottom-default
    Existing users and groups
  = render 'team', members: @project_members

  - if @group
    = render "group_members", members: @group_members

  - if @project_group_links.any? && @project.allowed_to_share_with_group?
    = render "shared_group_members"
