- page_title "Members"

.project-members-page.prepend-top-default
  %h4.clearfix
    Members
    = link_to "Import", import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-default pull-right hidden-xs", title: "Import members from another project"
  %hr
  - if can?(current_user, :admin_project_member, @project)
    .project-members-new.append-bottom-default
      %h5.clearfix
        Add new user to
        %strong= @project.name
      = render "new_project_member"

      = render 'shared/members/requests', membership_source: @project, requesters: @requesters

  .append-bottom-default.clearfix
    %h5.member.existing-title
      Existing users and groups
    = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form'  do
      .form-group
        = search_field_tag :search, params[:search], { placeholder: 'Find existing members by name', class: 'form-control', spellcheck: false }
        %button.member-search-btn{ type: "submit", "aria-label" => "Submit search" }
          = icon("search")
  - if @groups.size > 0
    = render 'groups', groups: @groups

  = render 'team', members: @members
  = paginate @members, theme: "gitlab"
