- page_title "Members"
= render "header_title"

.project-members-page.prepend-top-default
  - if can?(current_user, :admin_project_member, @project)
    .panel.panel-default
      .panel-heading
        Add new user to project
        .controls
          = link_to import_namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-grouped", title: "Import members from another project" do
            Import members
      .panel-body
        %p.light
          Users with access to this project are listed below.
        = render "new_project_member"

  = render "team", members: @project_members

  - if @group
    = render "group_members", members: @group_members
