.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: [explore_projects_path, explore_root_path]) do
      = link_to explore_projects_path do
        = _('All')
    = nav_link(page: starred_explore_projects_path) do
      = link_to starred_explore_projects_path do
        = _('Most stars')
    = nav_link(page: trending_explore_projects_path) do
      = link_to trending_explore_projects_path do
        = _('Trending')

  .nav-controls
    - unless current_user
      = render 'shared/projects/search_form'
      = render 'shared/projects/dropdown'
    = render 'filter'
