- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.top-area
  = render 'explore/projects/nav'

  .nav-controls
    = render 'filter'

= render 'projects', projects: @projects
