.clearfix
  .pull-left
    = form_tag explore_projects_path, method: :get, class: 'form-inline form-tiny' do |f|
      .form-group
        = search_field_tag :search, params[:search], placeholder: "Filter by name", class: "form-control search-text-input input-mn-300", id: "projects_search"
      .form-group
        = button_tag 'Search', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light sort:
        - if @sort.present?
          = sort_options_hash[@sort]
        - else
          = sort_title_recently_created
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_projects_path(sort: sort_value_recently_created) do
            = sort_title_recently_created
          = link_to explore_projects_path(sort: sort_value_oldest_created) do
            = sort_title_oldest_created
          = link_to explore_projects_path(sort: sort_value_recently_updated) do
            = sort_title_recently_updated
          = link_to explore_projects_path(sort: sort_value_oldest_updated) do
            = sort_title_oldest_updated

%hr
.public-projects
  %ul.bordered-list.top-list
    = render @projects
    - unless @projects.present?
      .nothing-here-block No public projects

  = paginate @projects, theme: "gitlab"
