- @hide_top_links = true
- page_title    _("Projects")
- header_title  _("Projects"), dashboard_projects_path
- page_canonical_link explore_projects_url

= render_dashboard_ultimate_trial(current_user)

- if current_user
  = render 'dashboard/projects_head', project_tab_filter: :explore
- else
  = render 'explore/head'

= render 'explore/projects/nav' unless Feature.enabled?(:project_list_filter_bar) && current_user
= render 'projects', projects: @projects
