= render 'explore/projects/head'
= render 'explore/projects/nav'

.nothing-here-block
  .svg-content
    = image_tag 'illustrations/empty-state/empty-projects-md.svg', size: '75'
    .text-content
      %h5= _("Maximum page reached")
      %p= _("Sorry, you have exceeded the maximum browsable page number. Please use the API to explore further.")

      = render Pajamas::ButtonComponent.new(href: safe_params.merge(page: @max_page_number)) do
        = _("Back to page %{number}") % { number: @max_page_number }
