- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.explore-trending-block
  .gray-content-block
    .pull-right
      = render 'explore/projects/dropdown'
    .oneline
      %i.fa.fa-star
      See most starred projects
  = render 'projects', projects: @starred_projects
  = paginate @starred_projects, theme: 'gitlab'
