- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head', disable_projects_dropdown: true
- else
  = render 'explore/head'

.explore-trending-block
  .gray-content-block.second-block
    .pull-right
      = render 'dropdown'
    .oneline
      %i.fa.fa-star
      See most starred projects
  = render 'projects', projects: @projects
  = paginate @projects, theme: 'gitlab'
