- @hide_top_links = true
- page_title    _("Projects")
- header_title  _("Projects"), dashboard_projects_path

= render_dashboard_ultimate_trial(current_user)

- if current_user
  = render 'dashboard/projects_head', project_tab_filter: :starred
- else
  = render 'explore/head'

= render 'explore/projects/nav'
= render 'projects', projects: @projects
