= bootstrap_form_for [:admin, @application], url: @url, layout: :horizontal do |f|
  = f.alert_message 'Please check your form for possible errors.'

  = f.text_field :name
  = f.text_area :redirect_uri, help: 'Use one line per URI'

  .form-actions
    = f.primary 'Submit'
    = link_to 'Cancel', admin_applications_path, class: 'btn btn-default'
