= form_for [:admin, @application], url: @url, html: {class: 'form-horizontal', role: 'form'} do |f|
  = form_errors(application)

  = content_tag :div, class: 'form-group' do
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
      = doorkeeper_errors_for application, :name
  = content_tag :div, class: 'form-group' do
    = f.label :redirect_uri, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control'
      = doorkeeper_errors_for application, :redirect_uri
      %span.help-block
        Use one line per URI
      - if Doorkeeper.configuration.native_redirect_uri
        %span.help-block
          Use
          %code= Doorkeeper.configuration.native_redirect_uri
          for local tests

  .form-group
    = f.label :scopes, class: 'col-sm-2 control-label'
    .col-sm-10
      - @scopes.each do |scope|
        %fieldset
          = check_box_tag 'doorkeeper_application[scopes][]', scope, application.scopes.include?(scope), id: "doorkeeper_application_scopes_#{scope}"
          = label_tag "doorkeeper_application_scopes_#{scope}", scope
          %span= "(#{t(scope, scope: [:doorkeeper, :scopes])})"

  .form-actions
    = f.submit 'Submit', class: "btn btn-save wide"
    = link_to "Cancel", admin_applications_path, class: "btn btn-default"
