- noteable = @sent_notification.noteable
- noteable_type = @sent_notification.noteable_type.titleize.downcase
- noteable_text = show_unsubscribe_title?(noteable) ? %(#{noteable.title} (#{noteable.to_reference})) : %(#{noteable.to_reference})
- page_title _("Unsubscribe"), noteable_text, noteable_type.pluralize, @sent_notification.project.full_name

%h3.page-title
  = _("Unsubscribe from %{type}") % { type: noteable_type }

%p
  - link_to_noteable_text = link_to(noteable_text, url_for([@sent_notification.project.namespace.becomes(Namespace), @sent_notification.project, noteable]))
  = _("Are you sure you want to unsubscribe from the %{type}: %{link_to_noteable_text}?").html_safe % { type: noteable_type, link_to_noteable_text: link_to_noteable_text }

%p
  = link_to _('Unsubscribe'), unsubscribe_sent_notification_path(@sent_notification, force: true),
            class: 'btn btn-primary append-right-10'
  = link_to _('Cancel'), new_user_session_path, class: 'btn append-right-10'
