- if event.action_name == "merged"
  .event_icon= image_tag "event_mr_merged.png"
= image_tag gravatar_icon(event.author_email), class: "avatar"
%strong #{event.author_name}
%span.event_label{class: event.action_name}= event.action_name
merge request
= link_to project_merge_request_path(event.project, event.merge_request) do
  %strong= truncate event.merge_request_title
at
%strong= link_to event.project.name, event.project
%span.cgray
  = time_ago_in_words(event.created_at)
  ago.
%br
%span= event.merge_request.source_branch
&rarr;
%span= event.merge_request.target_branch

