= image_tag gravatar_icon(event.author_email), class: "avatar"
.event-title
  %strong.author_name #{event.author_name}
  %span.event_label{class: event.action_name} #{event.action_name} project
  %strong= link_to event.project_name, event.project
  %span.cgray
    = time_ago_in_words(event.created_at)
    ago.

