- if event.allowed?
  %div.event-item
    = event_image(event)
    = image_tag gravatar_icon(event.author_email), class: "avatar"

    - if event.push?
      = render "events/event/push", event: event
    - else
      = render "events/event/common", event: event

    .clearfix
    %span.cgray.right
      = time_ago_in_words(event.created_at)
      ago.
    .clearfix
