= image_tag gravatar_icon(event.author_email), :class => "avatar"
%strong #{event.author_name} 
%span.event_label= event.action_name
&nbsp;merge request 
= link_to project_merge_request_path(event.project, event.merge_request) do
  %strong= truncate event.merge_request_title
at 
%strong= link_to event.project.name, event.project
%span.cgray
  = time_ago_in_words(event.created_at)
  ago.
%br
%span= event.merge_request.source_branch
&rarr;
%span= event.merge_request.target_branch

