- if event.proper?
  .event-item{class: "#{event.body? ? "event-block" : "event-inline" }"}
    %span.cgray.pull-right
      #{time_ago_in_words(event.created_at)} ago.

    = cache event do
      = image_tag gravatar_icon(event.author_email), class: "avatar s24", alt:''

      - if event.push?
        = render "events/event/push", event: event
      - elsif event.note?
        = render "events/event/note", event: event
      - else
        = render "events/event/common", event: event

