- if show_last_push_widget?(event)
  .event_lp
    %div
      = image_tag gravatar_icon(event.author_email), class: "avatar"
      %span You pushed to
      = event.ref_type
      = link_to project_commits_path(event.project, event.ref_name) do
        %strong= truncate(event.ref_name, length: 28)
      at
      %strong= link_to event.project.name, event.project

      = link_to new_mr_path_from_push_event(event), title: "New Merge Request", class: "btn very_small" do
        Create Merge Request
