- event_url = event_feed_url(event)

%div{ xmlns: "http://www.w3.org/1999/xhtml" }
  %p
    %strong= event.author_name
    = link_to "(#{truncate_sha(event.commit_id)})", event_url if event_url
    %i
      at
      = event.created_at.to_s(:short)
  - unless event.rm_ref?
    .blockquote= markdown(escape_once(event.commit_title), pipeline: :atom, project: event.project, author: event.author)
    - if event.commits_count > 1
      %p
        %i
          \... and
          = pluralize(event.commits_count - 1, "more commit")
