%div
  .event_icon= image_tag "event_push.png"
  = image_tag gravatar_icon(event.author_email), :class => "avatar"
  %strong #{event.author_name}
  %span.event_label.pushed= event.push_action_name
  = event.ref_type
  = link_to project_commits_path(event.project, :ref => event.ref_name) do
    %strong= event.ref_name
  at
  %strong= link_to event.project.name, event.project
  %span.cgray
    = time_ago_in_words(event.created_at)
    ago.

  - if event.push_with_commits?
    - if event.commits_count > 1
      = link_to compare_project_commits_path(event.project, :from => event.parent_commit.id, :to => event.last_commit.id) do
        %strong #{event.parent_commit.id[0..7]}...#{event.last_commit.id[0..7]}
    - project = event.project
    %ul.unstyled.event_commits
      - if event.commits_count > 3
        - event.commits[0...2].each do |commit|
          = render "events/commit", :commit => commit, :project => project
        %li
          %br
          \... and #{event.commits_count - 2} more commits
      - else
        - event.commits.each do |commit|
          = render "events/commit", :commit => commit, :project => project

