- @content_class = "limit-container-width" unless fluid_layout
- @breadcrumb_title = "Pipelines"
- page_title "Pipelines"

- if show_new_nav?
  - breadcrumbs_extra_links("Settings", edit_project_path(@project))

= render "projects/settings/head"

= render 'projects/runners/index'
= render 'ci/variables/index'
= render 'projects/triggers/index'
= render 'projects/pipelines_settings/show'
