%tr.tag
  %td
    = escape_once(tag.name)
    = clipboard_button(clipboard_text: "docker pull #{tag.path}")
  %td
    - if tag.revision
      %span.has-tooltip{ title: "#{tag.revision}" }
        = tag.short_revision
    - else
      \-
  %td
    - if tag.total_size
      = number_to_human_size(tag.total_size)
      &middot;
      = pluralize(tag.layers.size, "layer")
    - else
      .light
        \-
  %td
    - if tag.created_at
      = time_ago_in_words(tag.created_at)
    - else
      .light
        \-
  - if can?(current_user, :update_container_image, @project)
    %td.content
      .controls.hidden-xs.pull-right
        = link_to namespace_project_container_registry_path(@project.namespace, @project, tag.name), class: 'btn btn-remove has-tooltip', title: "Remove", data: { confirm: "Are you sure?" }, method: :delete do
          = icon("trash cred")
