- page_title "容器注册表"
= render "header_title"

%hr

%ul.content-list
  %li.light.prepend-top-default
    %p
      “容器镜像”是容器的快照。
      你现在可以将容器镜像存放在 GitLab。
      %br
      要使用 GitLab 存放的容器镜像需要你先登录：
      %pre
        %code
          docker login #{Gitlab.config.registry.host_port}
      %br
      然后你就可以自由的使用 build 和 push 命令创建和上传容器镜像：
      %pre
        docker build -t #{escape_once(@project.container_registry_repository_url)} .
        %br
        docker push #{escape_once(@project.container_registry_repository_url)}

  - if @tags.blank?
    %li
      .nothing-here-block 此项目的容器注册表没有任何镜像。

  - else
    .table-holder
      %table.table.tags
        %thead
          %tr
            %th 名称
            %th 镜像 ID
            %th 大小
            %th 创建时间
            - if can?(current_user, :update_container_image, @project)
              %th

        - @tags.each do |tag|
          = render 'tag', tag: tag