= render "commits/commit_box"

%p.pull-right.cgray
  This commit has
  %span.cgreen #{@commit.stats.additions} additions
  and
  %span.cred #{@commit.stats.deletions} deletions

= render "commits/diffs", diffs: @commit.diffs
= render "notes/notes_with_form"

:javascript
  $(function(){
    $('.files .file').each(function(){
      new CommitFile(this);
    });
  });
