.container-image.js-toggle-container
  .container-image-head
    = link_to "#", class: "js-toggle-button" do
      = icon('chevron-down', 'aria-hidden': 'true')
      = escape_once(image.path)

    = clipboard_button(clipboard_text: "docker pull #{image.location}")

    - if can?(current_user, :update_container_image, @project)
      .controls.hidden-xs.pull-right
        = link_to project_container_registry_path(@project, image),
                  class: 'btn btn-remove has-tooltip',
                  title: 'Remove repository',
                  data: { confirm: 'Are you sure?' },
                  method: :delete do
          = icon('trash cred', 'aria-hidden': 'true')

  .container-image-tags.js-toggle-content.hide
    - if image.has_tags?
      .table-holder
        %table.table.tags
          %thead
            %tr
              %th Tag
              %th Tag ID
              %th Size
              %th Created
              - if can?(current_user, :update_container_image, @project)
                %th
          = render partial: 'tag', collection: image.tags
    - else
      .nothing-here-block No tags in Container Registry for this container image.
