%ul.nav-links
  %li{class: ('active' if scope.nil?)}
    = link_to build_path[nil] do
      All
      %span.badge.js-totalbuilds-count
        = number_with_delimiter(all_builds.count(:id))

  %li{class: ('active' if scope == 'pending')}
    = link_to build_path[:pending] do
      Pending
      %span.badge
        = number_with_delimiter(all_builds.pending.count(:id))

  %li{class: ('active' if scope == 'running')}
    = link_to build_path[:running] do
      Running
      %span.badge
        = number_with_delimiter(all_builds.running.count(:id))

  %li{class: ('active' if scope == 'finished')}
    = link_to build_path[:finished] do
      Finished
      %span.badge
        = number_with_delimiter(all_builds.finished.count(:id))
