- count_badge_classes = 'gl-display-none gl-sm-display-inline-flex'

= gl_tabs_nav({class: 'scrolling-tabs nav-links gl-display-flex gl-flex-grow-1 gl-w-full nav gl-border-b-0', data: { testid: 'jobs-tabs' } }) do
  = gl_tab_link_to build_path_proc.call(nil), { item_active: scope.nil? } do
    = _('All')
    = gl_tab_counter_badge(limited_counter_with_delimiter(all_builds), { class: count_badge_classes })
  = gl_tab_link_to build_path_proc.call('pending'), { item_active: scope == 'pending' } do
    = _('Pending')
    = gl_tab_counter_badge(limited_counter_with_delimiter(all_builds.pending), { class: count_badge_classes })
  = gl_tab_link_to build_path_proc.call('running'), { item_active: scope == 'running' } do
    = _('Running')
    = gl_tab_counter_badge(limited_counter_with_delimiter(all_builds.running), { class: count_badge_classes })
  = gl_tab_link_to build_path_proc.call('finished'), { item_active: scope == 'finished' } do
    = _('Finished')
    = gl_tab_counter_badge(limited_counter_with_delimiter(all_builds.finished), { class: count_badge_classes })
