- page_title _("Google Code import")
- header_title _("Projects"), root_path
%h3.page-title
  %i.fa.fa-google
  = _('Import projects from Google Code')
%hr

= form_tag callback_import_google_code_path, multipart: true do
  %p
    = _('Follow the steps below to export your Google Code project data.')
    = _("In the next step, you'll be able to select the projects you want to import.")
  %ol
    %li
      %p
        - link_to_google_takeout = link_to(_("Google Takeout"), "https://www.google.com/settings/takeout", target: '_blank', rel: 'noopener noreferrer')
        = _("Go to %{link_to_google_takeout}.").html_safe % { link_to_google_takeout: link_to_google_takeout }
    %li
      %p
        = _("Make sure you're logged into the account that owns the projects you'd like to import.")
    %li
      %p
        = html_escape(_('Click the %{strong_open}Select none%{strong_close} button on the right, since we only need "Google Code Project Hosting".')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %li
      %p
        = html_escape(_('Scroll down to %{strong_open}Google Code Project Hosting%{strong_close} and enable the switch on the right.')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %li
      %p
        = html_escape(_('Choose %{strong_open}Next%{strong_close} at the bottom of the page.')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %li
      %p
        = _('Leave the "File type" and "Delivery method" options on their default values.')
    %li
      %p
        = html_escape(_('Choose %{strong_open}Create archive%{strong_close} and wait for archiving to complete.')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %li
      %p
        = html_escape(_('Click the %{strong_open}Download%{strong_close} button and wait for downloading to complete.')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
    %li
      %p
        = _('Find the downloaded ZIP file and decompress it.')
    %li
      %p
        = html_escape(_('Find the newly extracted %{code_open}Takeout/Google Code Project Hosting/GoogleCodeProjectHosting.json%{code_close} file.')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
    %li
      %p
        = html_escape(_('Upload %{code_open}GoogleCodeProjectHosting.json%{code_close} here:')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
      %p
        %input{ type: "file", name: "dump_file", id: "dump_file" }
    %li
      %p
        = _('Do you want to customize how Google Code email addresses and usernames are imported into GitLab?')
      %p
        = label_tag :create_user_map_0 do
          = radio_button_tag :create_user_map, 0, true
          = _('No, directly import the existing email addresses and usernames.')
      %p
        = label_tag :create_user_map_1 do
          = radio_button_tag :create_user_map, 1, false
          = _('Yes, let me map Google Code users to full names or GitLab users.')

    %span
      = submit_tag _('Continue to the next step'), class: "btn btn-success"
