= form_for [@project.namespace.becomes(Namespace), @project, @variable] do |f|
  = form_errors(@variable)

  .form-group
    = f.label :key, "Key", class: "label-light"
    = f.text_field :key, class: "form-control", placeholder: "PROJECT_VARIABLE", required: true
  .form-group
    = f.label :value, "Value", class: "label-light"
    = f.text_area :value, class: "form-control", placeholder: "PROJECT_VARIABLE", required: true
  = f.submit btn_text, class: "btn btn-save"
