.table-responsive.variables-table
  %table.table
    %colgroup
      %col
      %col
      %col
      %col{ width: 100 }
    %thead
      %th Key
      %th Value
      %th Protected
      - if @project.feature_available?(:variable_environment_scope)
        %th Environment scope
      %th
    %tbody
      - @project.variables.order_key_asc.each do |variable|
        - if variable.id?
          %tr
            %td.variable-key= variable.key
            %td.variable-value{ "data-value" => variable.value }******
            %td.variable-protected= Gitlab::Utils.boolean_to_yes_no(variable.protected)
            - if @project.feature_available?(:variable_environment_scope)
              %td.variable-environment-scope= variable.environment_scope
            %td.variable-menu
              = link_to project_variable_path(@project, variable), class: "btn btn-transparent btn-variable-edit" do
                %span.sr-only
                  Update
                = icon("pencil")
              = link_to project_variable_path(@project, variable), class: "btn btn-transparent btn-variable-delete", method: :delete, data: { confirm: "Are you sure?" } do
                %span.sr-only
                  Remove
                = icon("trash")
