.table-responsive.variables-table
  %table.table
    %colgroup
      %col
      %col
      %col{ width: 100 }
    %thead
      %th 键
      %th 值
      %th
    %tbody
      - @project.variables.each do |variable|
        - if variable.id?
          %tr
            %td= variable.key
            %td= variable.value
            %td
              = link_to namespace_project_variable_path(@project.namespace, @project, variable), class: "btn btn-transparent btn-variable-edit" do
                %span.sr-only
                  更新
                = icon("pencil")
              = link_to namespace_project_variable_path(@project.namespace, @project, variable), class: "btn btn-transparent btn-variable-delete", method: :delete, data: { confirm: "确定要继续么？" } do
                %span.sr-only
                  删除
                = icon("trash")
