- member = @project.team_member_by_id(current_user.id)
.widget
  .media-grid
    %li
      = link_to project_team_member_path(@project, member), :title => current_user.name do 
        = image_tag gravatar_icon(current_user.email, 60), :class => "thumbnail", :width => 60
  %h4
    Hey, 
    #{truncate current_user.first_name, :lenght => 24}!

  %p 
    - if @project.issues_enabled
      %span
        Assigned Issues:
        = current_user.assigned_issues.opened.count
      %br
    - if @project.merge_requests_enabled
      %span
        Assigned Requests:
        = current_user.assigned_merge_requests.opened.count
      %br
    %br
    - if @project.merge_requests_enabled && can?(current_user, :write_merge_request, @project)
      = link_to new_project_merge_request_path(@project), :title => "New Merge Request", :class => "btn small padded" do 
        Merge Request
    - if @project.issues_enabled && can?(current_user, :write_issue, @project)
      = link_to new_project_issue_path(@project), :title => "New Issue", :class => "btn small" do 
        Issue

  %hr
  %p
    Your access level in this project is 
    %code #{member.project_access_human}
    %br
    Visit member card for more information

  .link_holder
    = link_to project_team_member_path(@project, member), :title => current_user.name do 
      = "Member Card »"



-#- if can? current_user, :write_project, @project
  .widget
    - if @project.issues_enabled && @project.merge_requests_enabled
      .span3
        %p You have access to create new issue or merge request.
        %div
          = link_to new_project_issue_path(@project), :title => "New Issue", :class => "" do 
            New Issue »
        %div
          = link_to new_project_merge_request_path(@project), :title => "New Merge Request", :class => "" do 
            New Merge Request »

