- @no_container = true
- @content_class = "issue-boards-content"
- page_title "Boards"

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('boards/boards_bundle.js')
  = page_specific_javascript_tag('boards/test_utils/simulate_drag.js') if Rails.env.test?

= render "projects/issues/head"

= render 'shared/issuable/filter', type: :boards

.boards-list#board-app{ "v-cloak" => true,
  "data-endpoint" => "#{namespace_project_board_path(@project.namespace, @project, @boards.first)}",
  "data-disabled" => "#{!can?(current_user, :admin_list, @project)}",
  "data-issue-link-base" => "#{namespace_project_issues_path(@project.namespace, @project)}" }
  .boards-app-loading.text-center{ "v-if" => "loading" }
    = icon("spinner spin")
  = render "projects/boards/components/board"
