- @no_container = true
- @content_class = "issue-boards-content"
- page_title "Boards"

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('boards/boards_bundle.js')
  = page_specific_javascript_tag('boards/test_utils/simulate_drag.js') if Rails.env.test?

= render "projects/issues/head"

= render 'shared/issuable/filter', type: :boards

.boards-list#board-app{ "data-endpoint" => "#{namespace_project_boards_path(@project.namespace, @project)}" }
  = render "projects/boards/components/board"
