- if viewer.valid?
  = icon('check fw')
  = _('Metrics Dashboard YAML definition is valid.')
- else
  = icon('warning fw')
  = _('Metrics Dashboard YAML definition is invalid:')
  %ul
    - viewer.errors.messages.each do |error|
      %li= error.join(': ')

= link_to _('Learn more'), help_page_path('user/project/integrations/prometheus.md', anchor: 'defining-custom-dashboards-per-project')
