- integration = local_assigns.fetch(:integration)

%h3.page-title
  = integration.title

%p= integration.description

= form_for integration, as: :service, url: scoped_integration_path(integration), method: :put, html: { class: 'gl-show-field-errors fieldset-form integration-settings-form js-integration-settings-form', data: { 'can-test' => integration.can_test?, 'test-url' => scoped_test_integration_path(integration) } } do |form|
  = render 'shared/service_settings', form: form, integration: integration

  - if integration.editable?
    .footer-block.row-content-block
      = service_save_button
      = link_to _('Cancel'), scoped_integration_path(integration), class: 'btn btn-cancel'
