- if integration.instance_level?
  .tabs.gl-tabs
    %div
      = gl_tabs_nav({ class: 'gl-mb-5' }) do
        = gl_tab_link_to _('Settings'), scoped_edit_integration_path(integration, project: @project, group: @group)
        = gl_tab_link_to s_('Integrations|Projects using custom settings'), scoped_overrides_integration_path(integration)

      = yield

- else
  = yield
