- custom_settings_title = @integration.title == 'Beyond Identity' ? s_('Integrations|Exclusions') : s_('Integrations|Projects using custom settings')
- if integration.instance_level?
  .tabs.gl-tabs
    %div
      = gl_tabs_nav({ class: 'gl-mb-5' }) do
        = gl_tab_link_to _('Settings'), scoped_edit_integration_path(integration, project: @project, group: @group)
        = gl_tab_link_to custom_settings_title, scoped_overrides_integration_path(integration)

      = yield

- else
  = yield
