- add_to_breadcrumbs _('Integrations'), scoped_integrations_path(project: @project, group: @group)
- breadcrumb_title @integration.title
- page_title @integration.title, _('Integrations')

= render ::Layouts::PageHeadingComponent.new(@integration.title) do |c|
  - c.with_heading do
    .gl-flex.gl-items-center.gl-gap-4
      = render Pajamas::AvatarComponent.new(@integration, size: 48, alt: @integration.title, class: 'integration-logo')
      = @integration.title

= render 'shared/integrations/tabs', integration: @integration, active_tab: 'edit' do
  = render 'shared/integration_settings', integration: @integration
