= form_for [@project, @wiki] do |f|
  -if @wiki.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wiki.errors.count, "error")} prohibited this wiki from being saved:"
      %ul
        - @wiki.errors.full_messages.each do |msg|
          %li= msg

  .ui-box.ui-box-show
    .ui-box-head
      %h3.page-title
        .edit-wiki-header
          = @wiki.title.titleize
          = f.hidden_field :title, value: @wiki.title
          = f.select :format, options_for_select(GollumWiki::MARKUPS, {selected: @wiki.format}), {}, class: "pull-right input-medium"
          = f.label :format, class: "pull-right", style: "padding-right: 20px;"
    .ui-box-body
      .controls
        %span.cgray
          Wiki content is parsed with #{link_to "GitLab Flavored Markdown", help_markdown_path, target: '_blank'}.
          To link to a (new) page you can just type
          %code [Link Title](page-slug)
          \.

    .ui-box-bottom
      .control-group
        = f.label :content
        .controls= f.text_area :content, class: 'span8 js-gfm-input'
    .ui-box-bottom
      .control-group
        = f.label :commit_message
        .controls= f.text_field :message, class: 'span8'
  .form-actions
    - if @wiki && @wiki.persisted?
      = f.submit 'Save changes', class: "btn-save btn"
      = link_to "Cancel", project_wiki_path(@project, @wiki), class: "btn btn-cancel"
    - else
      = f.submit 'Create page', class: "btn-create btn"
      = link_to "Cancel", project_wiki_path(@project, :home), class: "btn btn-cancel"
