- page_title "Edit", @page.title.capitalize, "Wiki"
= render "header_title"
= render 'nav'

.top-area
  .nav-text
    %strong
      - if @page.persisted?
        = link_to @page.title.capitalize, namespace_project_wiki_path(@project.namespace, @project, @page)
      - else
        = @page.title.capitalize
    %span.light
      &middot;
      Edit Page

  .nav-controls
    = render 'main_links'


= render 'form'
