- @no_container = true
- page_title "Edit", @page.title.capitalize, "Wiki"

%div{ class: container_class }
  .top-area
    %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
      = icon('angle-double-left')

    .nav-text
      %strong
        - if @page.persisted?
          = link_to @page.title.capitalize, namespace_project_wiki_path(@project.namespace, @project, @page)
        - else
          = @page.title.capitalize
      %span.light
        &middot;
        Edit Page

    .nav-controls
      - if !(@page && @page.persisted?)
        - if can?(current_user, :create_wiki, @project)
          = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
            New Page

  = render 'form'

= render 'sidebar'
