= render 'nav'
%h3.page-title
  %span.light History for
  = link_to @page.title, project_wiki_path(@project, @page)

%table.table
  %thead
    %tr
      %th Page version
      %th Author
      %th Commit Message
      %th Last updated
      %th Format
  %tbody
    - @page.versions.each do |version|
      - commit = version
      %tr
        %td
          = link_to project_wiki_path(@project, @page, version_id: commit.id) do
            = truncate_sha(commit.id)
        %td
          = commit.author.name
        %td
          = commit.message
        %td
          #{time_ago_with_tooltip(version.date)}
        %td
          %strong
            = @page.page.wiki.page(@page.page.name, commit.id).try(:format)
