- page_title "History", @page.title.capitalize, "Wiki"
= render "header_title"
= render 'nav'

.top-area
  .nav-text
    %strong
      = link_to @page.title.capitalize, namespace_project_wiki_path(@project.namespace, @project, @page)
    %span.light
      &middot;
      History

.table-holder
  %table.table
    %thead
      %tr
        %th Page version
        %th Author
        %th Commit Message
        %th Last updated
        %th Format
    %tbody
      - @page.versions.each_with_index do |version, index|
        - commit = version
        %tr
          %td
            = link_to project_wiki_path_with_version(@project, @page,
                                                     commit.id, index == 0) do
              = truncate_sha(commit.id)
          %td
            = commit.author.name
          %td
            = commit.message
          %td
            #{time_ago_with_tooltip(version.authored_date)}
          %td
            %strong
              = @page.page.wiki.page(@page.page.name, commit.id).try(:format)
