- @no_container = true
- add_to_breadcrumbs "Wiki", project_wiki_path(@project, :home)
- breadcrumb_title s_("Wiki|Pages")
- page_title s_("Wiki|Pages"), _("Wiki")
- sort_title = wiki_sort_title(params[:sort])

%div{ class: container_class }
  .wiki-page-header.top-area

    .nav-text.flex-fill
      %h2.wiki-page-title
        = s_("Wiki|Wiki Pages")

    .nav-controls
      = link_to project_wikis_git_access_path(@project), class: 'btn' do
        = icon('cloud-download')
        = _("Clone repository")

      .dropdown.inline.wiki-sort-dropdown
        .btn-group{ role: 'group' }
          .btn-group{ role: 'group' }
            %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' }, class: 'btn btn-default' }
              = sort_title
              = icon('chevron-down')
            %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
              %li
                = sortable_item(s_("Wiki|Title"), project_wikis_pages_path(@project, sort: ProjectWiki::TITLE_ORDER), sort_title)
                = sortable_item(s_("Wiki|Created date"), project_wikis_pages_path(@project, sort: ProjectWiki::CREATED_AT_ORDER), sort_title)
          = wiki_sort_controls(@project, params[:sort], params[:direction])

  %ul.wiki-pages-list.content-list
    = render @wiki_entries, context: 'pages'

  = paginate @wiki_pages, theme: 'gitlab'
