- @no_container = true
- page_title "Pages", "Wiki"

%div{ class: container_class }
  .wiki-page-header

    .nav-text
      %h2.wiki-page-title
        Wiki Pages

    .nav-controls
      = link_to namespace_project_wikis_git_access_path(@project.namespace, @project), class: 'btn' do
        = icon('cloud-download')
        Clone repository

  %ul.content-list
    - @wiki_directories.each do |wiki_directory, wiki_pages|
      - if wiki_directory == '/'
        = render 'wiki_pages', wiki_pages: wiki_pages
      - else
        %li
          = wiki_directory
          %ul
            = render 'wiki_pages', wiki_pages: wiki_pages

  = paginate @wiki_pages, theme: 'gitlab'
