= render 'nav'
%h3.page-title
  = @wiki.title.titleize
  = render 'main_links'
- if @wiki.historical?
  .warning_message
    This is an old version of this page.
    You can view the #{link_to "most recent version", project_wiki_path(@project, @wiki)} or browse the #{link_to "history", history_project_wiki_path(@project, @wiki)}.

%hr

.wiki-holder
  .wiki
    = preserve do
      = render_wiki_content(@wiki)

%hr

.wiki-last-edit-by
  Last edited by #{commit_author_link(@wiki.commit, avatar: true, size: 16)} #{time_ago_with_tooltip(@wiki.commit.created_at)}
