= render 'nav'
%h3.page-title
  = @page.title
  = render 'main_links'
- if @page.historical?
  .warning_message
    This is an old version of this page.
    You can view the #{link_to "most recent version", project_wiki_path(@project, @page)} or browse the #{link_to "history", history_project_wiki_path(@project, @page)}.

%hr

.wiki-holder
  .wiki
    = preserve do
      = render_wiki_content(@page)

%hr

.wiki-last-edit-by
  Last edited by #{@page.commit.author.name} #{time_ago_with_tooltip(@page.commit.authored_date)}
