= form_for [:admin, project] do |f|
  -if project.errors.any?
    .alert-message.block-message.error
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"

  %hr
  .adv_settings
    %h6 Advanced settings:
    .clearfix
      = f.label :path do
        Path
      .input
        .input-prepend
          %strong
            = text_field_tag :ppath, @admin_project.path_to_repo, class: "xlarge", disabled: true
    .clearfix
      = f.label :code do
        URL
      .input
        .input-prepend
          %span.add-on= web_app_url
          = f.text_field :code, placeholder: "example"

    - unless project.new_record?
      .clearfix
        = f.label :owner_id
        .input= f.select :owner_id, User.all.map { |user| [user.name, user.id] }, {}, {class: 'chosen'}

      - if project.repo_exists?
        .clearfix
          = f.label :default_branch, "Default Branch"
          .input= f.select(:default_branch, project.heads.map(&:name), {}, style: "width:210px;")

  - unless project.new_record?
    %hr
    .adv_settings
      %h6 Features:

      .clearfix
        = f.label :issues_enabled, "Issues"
        .input= f.check_box :issues_enabled

      .clearfix
        = f.label :merge_requests_enabled, "Merge Requests"
        .input= f.check_box :merge_requests_enabled

      .clearfix
        = f.label :wall_enabled, "Wall"
        .input= f.check_box :wall_enabled

      .clearfix
        = f.label :wiki_enabled, "Wiki"
        .input= f.check_box :wiki_enabled

      .clearfix	
        = f.label :private_flag, "Private"	
        .input= f.check_box :private_flag

  - unless project.new_record?
    .actions
      = f.submit 'Save Project', class: "btn save-btn"
      = link_to 'Cancel', admin_projects_path, class: "btn cancel-btn"



:javascript
  $(function(){
    new Projects();
  })

