= form_for [:admin, @admin_project] do |f|
  -if @admin_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_project.errors.count, "error")} prohibited this admin_project from being saved:"
      %ul
        - @admin_project.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label :name
    .input= f.text_field :name
  .clearfix
    = f.label :code
    .input= f.text_field :code
  .clearfix
    = f.label :path
    .input= f.text_field :path

  - unless @admin_project.new_record?
    .clearfix
      = f.label :owner_id
      .input= f.select :owner_id, User.all.map { |user| [user.name, user.id] }

  .clearfix
    = f.label :description
    .input= f.text_area :description
  .clear
  %br
  .actions
    = f.submit 'Save', :class => "btn"

:javascript
  $(function(){
    taggifyForm();
    $('#project_owner_id').chosen();
  })
