= form_for [:admin, project] do |f|
  -if project.errors.any?
    .alert-message.block-message.error
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"
      = f.submit project.new_record? ? 'Create project' : 'Save Project', class: "btn primary"

  %hr
  .alert.alert-info
    %h5 Advanced settings:
    .clearfix
      = f.label :path do
        Git Clone
      .input
        .input-prepend
          %span.add-on= Gitlab.config.ssh_path
          = f.text_field :path, placeholder: "example_project", disabled: !!project.id
          %span.add-on= ".git"
    .clearfix
      = f.label :code do
        URL
      .input
        .input-prepend
          %span.add-on= web_app_url
          = f.text_field :code, placeholder: "example"

    - unless project.new_record?
      .clearfix
        = f.label :owner_id
        .input= f.select :owner_id, User.all.map { |user| [user.name, user.id] }

      - if project.repo_exists?
        .clearfix
          = f.label :default_branch, "Default Branch"
          .input= f.select(:default_branch, project.heads.map(&:name), {}, style: "width:210px;")

  - unless project.new_record?
    .alert.alert-info
      %h5 Features:

      .clearfix
        = f.label :issues_enabled, "Issues"
        .input= f.check_box :issues_enabled

      .clearfix
        = f.label :merge_requests_enabled, "Merge Requests"
        .input= f.check_box :merge_requests_enabled

      .clearfix
        = f.label :wall_enabled, "Wall"
        .input= f.check_box :wall_enabled

      .clearfix
        = f.label :wiki_enabled, "Wiki"
        .input= f.check_box :wiki_enabled

  - unless project.new_record?
    .actions
      = f.submit 'Save Project', class: "btn primary"



:javascript
  $(function(){
    $('#project_owner_id').chosen();
    new Projects();
  })

