= form_for [:admin, @admin_project] do |f|
  -if @admin_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_project.errors.count, "error")} prohibited this admin_project from being saved:"
      %ul
        - @admin_project.errors.full_messages.each do |msg|
          %li= msg

  .form-row
    = f.label :name
    %br
    = f.text_field :name
  .form-row
    = f.label :code
    %br
    = f.text_field :code
  .form-row
    = f.label :path
    %br
    = f.text_field :path

  .form-row
    = f.label :tag_list
    %br
    = f.text_area :tag_list, :placeholder => "project tags", :style => "height:50px", :id => :tag_field

  .form-row
    = f.label :description
    %br
    = f.text_area :description
  .clear
  .actions
    = f.submit 'Save', :class => "lbutton"

:javascript
  $(function(){
    taggifyForm();
  })
