= form_for [:admin, project] do |f|
  -if project.errors.any?
    .alert.alert-error
      %ul
        - project.errors.full_messages.each do |msg|
          %li= msg

  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"

  - if project.repo_exists?
    %fieldset.adv_settings
      %legend Advanced settings:
      .clearfix
        = f.label :path do
          Path
        .input
          = text_field_tag :ppath, @project.repository.path_to_repo, class: "xlarge", disabled: true

      .clearfix
        = f.label :default_branch, "Default Branch"
        .input= f.select(:default_branch, @project.repository.heads.map(&:name), {}, style: "width:210px;")

  %fieldset.adv_settings
    %legend Features:

    .clearfix
      = f.label :issues_enabled, "Issues"
      .input= f.check_box :issues_enabled

    .clearfix
      = f.label :merge_requests_enabled, "Merge Requests"
      .input= f.check_box :merge_requests_enabled

    .clearfix
      = f.label :wall_enabled, "Wall"
      .input= f.check_box :wall_enabled

    .clearfix
      = f.label :wiki_enabled, "Wiki"
      .input= f.check_box :wiki_enabled

  %fieldset.features
    %legend Public mode:
    .clearfix
      = f.label :public do
        %span Allow public http clone
      .input= f.check_box :public

  %fieldset.features
    %legend Transfer:
    .control-group
      = f.label :namespace_id do
        %span Namespace
      .controls
        = f.select :namespace_id, namespaces_options(@project.namespace_id, :all), {}, {class: 'chosen'}
        %br
        %ul.prepend-top-10.cred
          %li Be careful. Changing project namespace can have unintended side effects
          %li You can transfer project only to namespaces you can manage
          %li You will need to update your local repositories to point to the new location.


  .actions
    = f.submit 'Save Project', class: "btn btn-save"
    = link_to 'Cancel', admin_projects_path, class: "btn btn-cancel"



:javascript
  $(function(){
    new Projects();
  })

