= form_for [:admin, @admin_project] do |f|
  - if @admin_project.errors.any?
    .alert-message.block-message.error
      %span= @admin_project.errors.full_messages.first
  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"
      = f.submit 'Create project', class: "btn primary project-submit"

  %hr
  %div.adv_settings
    %h6 Advanced settings:
    .clearfix
      = f.label :path do
        Git Clone
      .input
        .input-prepend
          %span.add-on= Gitlab.config.ssh_path
          = f.text_field :path, placeholder: "example_project", disabled: !@admin_project.new_record?
          %span.add-on= ".git"
    .clearfix
      = f.label :code do
        URL
      .input
        .input-prepend
          %span.add-on= web_app_url
          = f.text_field :code, placeholder: "example"
