.js-projects-list-holder
  - if @projects.any?
    %ul.content-list
      - @projects.each do |project|
        %li.project-row.gl-items-center{ class: '!gl-flex' }
          = render Pajamas::AvatarComponent.new(project, size: 32, alt: '')
          .gl-min-w-0.gl-grow.gl-ml-3
            .title
              = link_to(admin_project_path(project)) do
                %span.project-full-name
                  %span.namespace-name
                    - if project.namespace
                      = project.namespace.human_name
                      \/
                  %span.project-name
                    = project.name

            - if project.description.present?
              .description
                = markdown_field(project, :description)
          = render_if_exists 'shared/projects/badges', project: project, css_class: 'gl-mr-3'
          .stats.gl-text-subtle.gl-shrink-0.gl-hidden.sm:gl-flex
            = gl_badge_tag storage_counter(project.statistics&.storage_size)

          - if current_user.can_admin_all_resources?
            .controls.gl-shrink-0.gl-ml-5
              = render Pajamas::ButtonComponent.new(href: edit_admin_namespace_project_path({ id: project.to_param, namespace_id: project.namespace.to_param }), button_options: { id: dom_id(project) }) do
                = _('Edit')
              = render Pajamas::ButtonComponent.new(variant: :danger, button_options: { class: 'delete-project-button', data: { delete_project_url: admin_project_path(project), project_name: project.name } }) do
                = s_('AdminProjects|Delete')

    = paginate @projects, theme: 'gitlab'
  - else
    = render ::Layouts::EmptyResultComponent.new(type: :search)

  #delete-project-modal
