- page_title _('Projects')
- add_page_specific_style 'page_bundles/search'
- params[:visibility_level] ||= []

.top-area
  .scrolling-tabs-container.inner-page-scroll-tabs.gl-flex-grow-1.gl-min-w-0.gl-w-full
    .fade-left= sprite_icon('chevron-lg-left', size: 12)
    .fade-right= sprite_icon('chevron-lg-right', size: 12)
    = gl_tabs_nav({ class: 'scrolling-tabs nav-links gl-display-flex gl-flex-grow-1 gl-w-full nav gl-tabs-nav nav gl-tabs-nav' }) do
      = gl_tab_link_to _('All'), admin_projects_path(visibility_level: nil), { item_active: params[:visibility_level].empty? }
      = gl_tab_link_to _('Private'), admin_projects_path(visibility_level: Gitlab::VisibilityLevel::PRIVATE)
      = gl_tab_link_to _('Internal'), admin_projects_path(visibility_level: Gitlab::VisibilityLevel::INTERNAL)
      = gl_tab_link_to _('Public'), admin_projects_path(visibility_level: Gitlab::VisibilityLevel::PUBLIC)


  .nav-controls.gl-pl-2
    .search-holder
      = render 'shared/projects/search_form', autofocus: true, admin_view: true
      - current_namespace = _('Namespace')
      - if params[:namespace_id].present?
        - namespace = Namespace.find(params[:namespace_id])
        - current_namespace = "#{namespace.kind}: #{namespace.full_path}"
      %button.dropdown-menu-toggle.btn.btn-default.btn-md.gl-button.js-namespace-select{ data: { show_any: 'true', field_name: 'namespace_id', placeholder: current_namespace, update_location: 'true' }, type: 'button' }
        %span.gl-dropdown-button-text
          = current_namespace

      = render 'shared/projects/dropdown'
      = link_to new_project_path, class: 'gl-button btn btn-confirm' do
        = _('New Project')

= render 'projects'
