%h3 
  Projects
  = link_to 'New Project', new_admin_project_path, :class => "btn small right"
%hr
%table.zebra-striped
  %thead
    %th Name
    %th Path
    %th Team Members
    %th Last Commit
    %th
    %th

  - @admin_projects.each do |project|
    %tr
      %td= link_to project.name, [:admin, project]
      %td= project.path
      %td= project.users_projects.count
      %td= last_commit(project)
      %td= link_to 'Edit', edit_admin_project_path(project), :id => "edit_#{dom_id(project)}", :class => "btn small"
      %td= link_to 'Destroy', [:admin, project], :confirm => 'Are you sure?', :method => :delete, :class => "btn small danger"
= paginate @admin_projects
