%h3
  = @admin_project.name
  = link_to 'Edit', edit_admin_project_path(@admin_project), :class => "btn right small"

%hr

%table.zebra-striped
  %tr
    %td
      %b
        Name:
    %td
      = @admin_project.name    
  %tr
    %td
      %b
        Code:
    %td
      = @admin_project.code
  %tr
    %td
      %b
        Path:
    %td
      = @admin_project.path
  %tr
    %td
      %b
        Description:
    %td
      = @admin_project.description


.span-14

  %h3
    Team
    %small
      ( #{@admin_project.users_projects.count} )

  %hr

  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Project Access
        %th Repository Access
        %th

    - @admin_project.users_projects.each do |tm|
      %tr
        %td
          = link_to tm.user_name, admin_users_path(tm.user)
        %td= select_tag :tm_project_access, options_for_select(Project.access_options, tm.project_access), :class => "medium project-access-select", :disabled => :disabled
        %td= link_to 'Edit Access', edit_admin_team_member_path(tm), :class => "btn small"
        %td= link_to 'Remove from team', admin_team_member_path(tm), :confirm => 'Are you sure?', :method => :delete, :class => "btn danger small"

  = form_tag team_update_admin_project_path(@admin_project), :class => "bulk_import", :method => :put  do 
    %table
      %thead
        %tr
          %th Users
          %th Project Access:
          %th Repo Access:

      %tr
        %td= select_tag :user_ids, options_from_collection_for_select(@users , :id, :name),  :multiple => true
        %td= select_tag :project_access, options_for_select(Project.access_options), :class => "project-access-select"

    .actions
      = submit_tag 'Add', :class => "btn primary"

:css 
  form select { 
    width:150px;
  }

  #user_ids {
    width:300px;
  }

  
:javascript 
  $('select#user_ids').chosen();
  $('select#repo_access').chosen();
  $('select#project_access').chosen();

