- unless notice.nil?
  %p#notice= notice


%h2= @admin_project.name

%table.round-borders
  %tr
    %td
      %b
        Name:
    %td
      = @admin_project.name    
  %tr
    %td
      %b
        Code:
    %td
      = @admin_project.code
  %tr
    %td
      %b
        Path:
    %td
      = @admin_project.path
  %tr
    %td
      %b
        Description:
    %td
      = @admin_project.description
  %tr
    %td{:colspan => 2}
      = link_to 'Edit', edit_admin_project_path(@admin_project), :class => "grey-button"


.span-14

  %h2 Team

  %table.round-borders
    %thead
      %tr
        %th Name
        %th Added
        %th Project Access
        %th Repository Access
        %th

    - @admin_project.users_projects.each do |tm|
      %tr
        %td
          = link_to tm.user_name, admin_team_member_path(tm)
        %td= time_ago_in_words(tm.updated_at) + " ago"
        %td= select_tag :project_access, options_for_select(Project.access_options, tm.project_access), :class => "project-access-select", :disabled => :disabled
        %td= select_tag :repo_access, options_for_select(Repository.access_options, tm.repo_access), :class => "repo-access-select", :disabled => :disabled
        %td= link_to 'Destroy', admin_team_member_path(tm), :confirm => 'Are you sure?', :method => :delete

  = link_to 'New Team Member', new_admin_team_member_path(:team_member => {:project_id => @admin_project.id}),  :class => "grey-button"
