%h3.page_title
  Project: #{@project.name_with_namespace}
  = link_to edit_project_path(@project), class: "btn pull-right" do
    %i.icon-edit
    Edit
%hr
.row
  .span6
    .ui-box
      %h5.title
        Project info:
      %ul.well-list
        %li
          %span.light Name:
          %strong= @project.name
        %li
          %span.light Namespace:
          %strong
            - if @project.namespace
              = link_to @project.namespace.human_name, [:admin, @project.group || @project.owner]
            - else
              Global
        %li
          %span.light Owned by:
          %strong
            - if @project.owner
              = link_to @project.owner_name, admin_user_path(@project.owner)
            - else
              (deleted)

        %li
          %span.light Created by:
          %strong
            = @project.creator.try(:name) || '(deleted)'

        %li
          %span.light Created at:
          %strong
            = @project.created_at.stamp("March 1, 1999")

        %li
          %span.light http:
          %strong
            = link_to @project.http_url_to_repo
        %li
          %span.light ssh:
          %strong
            = link_to @project.ssh_url_to_repo
        %li
          %span.light fs:
          %strong
            = @repository.path_to_repo

        %li
          %span.light last commit:
          %strong
            - if @repository
              = last_commit(@project)
            - else
              never

        %li
          %span.light access:
          %strong
            - if @project.public
              %span.cblue
                %i.icon-share
                Public
            - else
              %span.cgreen
                %i.icon-lock
                Private
  .span6
    .ui-box
      %h5.title
        Team
        %small
          (#{@project.users.count})
        = link_to project_team_index_path(@project), class: "btn btn-tiny" do
          %i.icon-edit
          Edit Team
      %ul.well-list.team_members
        - @project.users.each do |tm|
          %li
            %strong
              = link_to tm.name, admin_user_path(tm)
            %span.pull-right.light= @project.project_access_human(tm)
