= form_tag team_update_admin_project_path(@admin_project), :class => "bulk_import", :method => :put  do 
  .span-6
    %b Project Access:
  .span-6
    = select_tag :project_access, options_for_select(Project.access_options), :class => "project-access-select"

  .span-6
    %b Repository Access:
  .span-6
    = select_tag :repo_access, options_for_select(Repository.access_options), :class => "repo-access-select"

  %br
  = select_tag :user_ids, options_from_collection_for_select(@users , :id, :name),  :multiple => true

  %br
  .clear
  %br
  .actions
    = submit_tag 'Save', :class => "grey-button"

:css 
  form select { 
    width:300px;
  }

  
:javascript 
  $('select#user_ids').chosen();
  $('select#repo_access').chosen();
  $('select#project_access').chosen();
