= gitlab_ui_form_for [@group, @milestone], html: { class: 'milestone-form common-note-form js-quick-submit' } do |f|
  = form_errors(@milestone)

  - if @conflict
    = render 'shared/model_version_conflict', model_name: _('milestone'), link_path: group_milestone_path(@group, @milestone)

  .form-group
    = f.label :title, _("Title")
    = f.text_field :title, maxlength: 255, class: "form-control", data: { testid: "milestone-title-field" }, required: true, autofocus: true
  = render "shared/milestones/form_dates", f: f
  .form-group
    = f.label :description, _("Description")
    - @gfm_form = true
    .js-markdown-editor{ data: { render_markdown_path: group_preview_markdown_path,
                               markdown_docs_path: help_page_path('user/markdown.md'),
                               testid: 'milestone-description-field',
                               form_field_placeholder: _('Write milestone description...'),
                               supports_quick_actions: 'false',
                               enable_autocomplete: 'true',
                               autofocus: 'false',
                               form_field_classes: 'note-textarea js-gfm-input markdown-area' } }
      = f.hidden_field :description
      .clearfix
      .error-alert

  = f.hidden_field :lock_version

  - if @milestone.new_record?
    = f.submit _('Create milestone'), data: { testid: "create-milestone-button" }, class: 'gl-mr-2', pajamas_button: true
    = render Pajamas::ButtonComponent.new(href: group_milestones_path(@group)) do
      = _("Cancel")
  - else
    = f.submit _('Save changes'), class: 'gl-mr-2', pajamas_button: true
    = render Pajamas::ButtonComponent.new(href: group_milestone_path(@group, @milestone)) do
      = _("Cancel")
