%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone.milestones.first) }
  .row
    .col-sm-6
      %strong
        = link_to_gfm truncate(milestone.title, length: 100), group_milestone_path(@group, milestone.safe_title, title: milestone.title)
    .col-sm-6
      .pull-right.light #{milestone.percent_complete}% complete
  .row
    .col-sm-6
      = link_to issues_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.issue_count, 'Issue'
      &middot;
      = link_to merge_requests_group_path(@group, milestone_title: milestone.title) do
        = pluralize milestone.merge_requests_count, 'Merge Request'
    .col-sm-6
      = milestone_progress_bar(milestone)
  .row
    .col-sm-6
      %div
        - milestone.milestones.each do |milestone|
          = link_to milestone_path(milestone) do
            %span.label.label-gray
              = milestone.project.name
    .col-sm-6
      - if can?(current_user, :admin_milestones, @group)
        - if milestone.closed?
          = link_to 'Reopen Milestone', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-xs btn-grouped btn-reopen"
        - else
          = link_to 'Close Milestone', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-xs btn-close"
