- page_title _("Milestones")
- add_page_specific_style 'page_bundles/milestone'

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls
    = render 'shared/milestones/search_form'
    = render 'shared/milestones_sort_dropdown'
    - if can?(current_user, :admin_milestone, @group)
      = link_to _('New milestone'), new_group_milestone_path(@group), class: "btn gl-button btn-confirm", data: { qa_selector: "new_group_milestone_link" }

- if @milestones.blank?
  = render 'shared/empty_states/milestones'
- else
  .milestones
    %ul.content-list
      - @milestones.each do |milestone|
        - if milestone.project_milestone?
          = render 'projects/milestones/milestone', milestone: milestone
        - else
          = render 'milestone', milestone: milestone
    = paginate @milestones, theme: "gitlab"
