- page_title "Milestones"
= render "groups/head_issues"

- if group_milestones(@group).exists?
  .top-area
    = render 'shared/milestones_filter', counts: @milestone_states

    .nav-controls
      - if can?(current_user, :admin_milestones, @group)
        = link_to new_group_milestone_path(@group), class: "btn btn-new" do
          New Milestone

  .row-content-block
    Only milestones from
    %strong= @group.name
    group are listed here.

  .milestones
    %ul.content-list
      - if @milestones.blank?
        = render 'shared/empty_states/milestones'
      - else
        - @milestones.each do |milestone|
          = render 'milestone', milestone: milestone
    = paginate @milestones, theme: "gitlab"
- else
  = render 'shared/empty_states/milestones', button_path: new_group_milestone_path(@group)
