%h3.page-title
  Milestones
  %span.pull-right #{@group_milestones.titles.count} milestones

%p.light
  Only milestones from
  %strong #{@group.name}
  group are listed here.

%hr

.row
  .fixed.sidebar-expand-button.hidden-lg.hidden-md
    %i.icon-list.icon-2x
  .col-md-3.responsive-side
    = render 'groups/filter', entity: 'milestones'
  .col-md-9
    .panel.panel-default
      %ul.well-list
        - if @group_milestones.blank?
          %li
            .nothing-here-block No milestones to show
        - else
          - @group_milestones.titles.each do |title|
            %li{class: "milestone milestone-open", id: 1 }
              .pull-right
                = link_to root_path, class: "btn btn-small edit-milestone-link btn-grouped" do
                  %i.icon-edit
                  Edit
                = link_to 'Close Milestone', root_path, method: :put, remote: true, class: "btn btn-small btn-remove"
              %h4
                = link_to_gfm truncate(title, length: 100), root_path
              - if false
                %span.muted Empty
              - else
                %div
                  %div
                    = link_to root_path do
                      = pluralize @group_milestones.issue_count[title], 'Issue'
                    &nbsp;
                    = link_to root_path do
                      = pluralize @group_milestones.mr_count[title], 'Merge Request'
                    &nbsp;
                    %span.light #{@group_milestones.percent_complete[title]}% complete
                  .progress.progress-info
                  .progress-bar{style: "width: #{@group_milestones.percent_complete[title]}%;"}
                  %div
                    %br
                    - @group_milestones.project_names[title].each do |name|
                      %span.label.label-default
                        = name
