- page_title @milestone.title, "Milestones"
= render "header_title"

.detail-page-header
  .status-box{ class: "status-box-#{@milestone.closed? ? 'closed' : 'open'}" }
    - if @milestone.closed?
      Closed
    - else
      Open
  %span.identifier
    Milestone #{@milestone.title}
  .pull-right
    - if can?(current_user, :admin_milestones, @group)
      - if @milestone.active?
        = link_to 'Close Milestone', group_milestone_path(@group, @milestone.safe_title, title: @milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-grouped btn-close"
      - else
        = link_to 'Reopen Milestone', group_milestone_path(@group, @milestone.safe_title, title: @milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-grouped btn-reopen"

.detail-page-description.gray-content-block.second-block
  %h2.title
    = markdown escape_once(@milestone.title), pipeline: :single_line

- if @milestone.complete? && @milestone.active?
  .alert.alert-success.prepend-top-default
    %span All issues for this milestone are closed. You may close the milestone now.

.table-holder
  %table.table
    %thead
      %tr
        %th Project
        %th Open issues
        %th State
        %th Due date
    - @milestone.milestones.each do |milestone|
      %tr
        %td
          = link_to "#{milestone.project.name}", namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone)
        %td
          = milestone.issues.opened.count
        %td
          - if milestone.closed?
            Closed
          - else
            Open
        %td
          = milestone.expires_at

.context
  %p.lead
    Progress:
    #{@milestone.closed_items_count} closed
    &ndash;
    #{@milestone.open_items_count} open
  = milestone_progress_bar(@milestone)

%ul.nav-links.no-top.no-bottom
  %li.active
    = link_to '#tab-issues', 'data-toggle' => 'tab' do
      Issues
      %span.badge= @milestone.issue_count
  %li
    = link_to '#tab-merge-requests', 'data-toggle' => 'tab' do
      Merge Requests
      %span.badge= @milestone.merge_requests_count
  %li
    = link_to '#tab-participants', 'data-toggle' => 'tab' do
      Participants
      %span.badge= @milestone.participants.count

.tab-content
  .tab-pane.active#tab-issues
    .gray-content-block.middle-block
      .pull-right
        = link_to 'Browse Issues', issues_group_path(@group, milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        All issues in this milestone

    .row.prepend-top-default
      .col-md-6
        = render 'issues', title: "Open", issues: @milestone.opened_issues
      .col-md-6
        = render 'issues', title: "Closed", issues: @milestone.closed_issues

  .tab-pane#tab-merge-requests
    .gray-content-block.middle-block
      .pull-right
        = link_to 'Browse Merge Requests', merge_requests_group_path(@group, milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        All merge requests in this milestone

    .row.prepend-top-default
      .col-md-6
        = render 'merge_requests', title: "Open", merge_requests: @milestone.opened_merge_requests
      .col-md-6
        = render 'merge_requests', title: "Closed", merge_requests: @milestone.closed_merge_requests

  .tab-pane#tab-participants
    .gray-content-block.middle-block
      .oneline
        All participants to this milestone

    %ul.bordered-list
      - @milestone.participants.each do |user|
        %li
          = link_to user, title: user.name, class: "darken" do
            = image_tag avatar_icon(user, 32), class: "avatar s32"
            %strong= truncate(user.name, lenght: 40)
            %br
            %small.cgray= user.username
