- type = local_assigns.fetch(:type)
- is_issue = type == :issues
- move_data = { projects_fetch_path: autocomplete_projects_path(project_id: @project.id), project_full_path: @project.full_path }

%aside.issues-bulk-update.js-right-sidebar.right-sidebar{ "aria-live" => "polite", data: { 'signed-in': current_user.present? }, 'aria-label': _('Bulk update') }
  .issuable-sidebar.hidden
    = form_tag [:bulk_update, @project, type], method: :post, class: "bulk-update" do
      .block.issuable-sidebar-header
        .filter-item.gl-inline-block.update-issues-btn.float-left
          = render Pajamas::ButtonComponent.new(variant: :confirm, button_options: { type: 'submit', disabled: true, class: 'js-update-selected-issues' }) do
            = _('Update selected')
        = render Pajamas::ButtonComponent.new(button_options: { class: 'js-bulk-update-menu-hide gl-float-right' }) do
          = _('Cancel')
      - if params[:state] != 'merged' || ::Feature.enabled?(:vue_merge_request_list, @project)
        .block.js-status-dropdown-container
          .title
            = _('Status')
          .js-status-dropdown
      .block
        .title
          = _('Assignee')
        .filter-item
          %input.js-assignee-ids-input{ type: "hidden", name: "update[assignee_ids][]" }
          .js-assignee-dropdown{ data: { full_path: @project.full_path } }
      - if is_issue
        = render_if_exists 'shared/issuable/epic_dropdown', parent: @project.group
      .block
        .title
          = _('Labels')
        .filter-item.labels-filter
          = render "shared/issuable/label_dropdown", classes: ["js-filter-bulk-update", "js-multiselect"], dropdown_title: _("Apply a label"), show_footer: false, extra_options: false, filter_submit: false, data_options: { persist_when_hide: "true", field_name: "update[label_ids][]", show_no: false, show_any: false, use_id: true, default_label: _("Labels") }, label_name: _("Select labels"), no_default_styles: true
      .block
        .title
          = _('Milestone')
        .filter-item
          .js-milestone-dropdown-root{ data: { full_path: @project.full_path, workspace_type: Namespaces::ProjectNamespace.sti_name.downcase } }
      - if is_issue
        = render_if_exists 'shared/issuable/iterations_dropdown', parent: @project.group
      - if is_issue
        = render_if_exists 'shared/issuable/health_status_dropdown', parent: @project
      .block
        .title
          = _('Subscriptions')
        .js-subscriptions-dropdown
      - if is_issue
        .block
          .title
            = _('Confidentiality')
          .js-confidentiality-dropdown
        .block
          .js-move-issues{ data: move_data }

      = hidden_field_tag "update[issuable_ids]", []
      = hidden_field_tag :state_event, params[:state_event]
