= form_for issuable, remote: true, html: { class: 'detail-page-description content-block common-note-form hidden js-quick-submit js-issuable-inline-form', data: { type: "json" } } do |f|
  = hidden_field_tag :inline, true
  .row.form-group
    .col-md-2.issuable-inline-label
      = f.label :title, "Title", class: "label-light"
    .col-md-10
      = f.text_field :title, maxlength: 255, autofocus: true, autocomplete: "off", class: "form-control", required: true
  .row
    .col-md-2.issuable-inline-label
      = f.label :description, "Description", class: "label-light"
    .col-md-10
      = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
        = render 'projects/zen', f: f, attr: :description,
                                 classes: 'note-textarea js-task-list-field',
                                 placeholder: "Write a comment or drag your files here..."
        = render 'projects/notes/hints'
      .prepend-top-10.append-bottom-10
        %button.btn.btn-success.js-issuable-description-save{ type: "submit" }
          Save changes
        %button.btn.btn-default.pull-right.js-issuable-edit-cancel{ type: "button" }
          Cancel
