- title = local_assigns.fetch(:title, 'Assign labels')
- show_create = local_assigns.fetch(:show_create, true)
- show_footer = local_assigns.fetch(:show_footer, true)
- filter_placeholder = local_assigns.fetch(:filter_placeholder, 'Search')
- show_boards_content = local_assigns.fetch(:show_boards_content, false)
.dropdown-page-one
  = dropdown_title(title)
  - if show_boards_content
    .issue-board-dropdown-content
      %p
        Create lists from the labels you use in your project. Issues with that
        label will automatically be added to the list.
  = dropdown_filter(filter_placeholder)
  = dropdown_content
  - if @project && show_footer
    = dropdown_footer do
      %ul.dropdown-footer-list
        - if can?(current_user, :admin_label, @project)
          %li
            %a.dropdown-toggle-page{ href: "#" }
              Create new label
        %li
          = link_to project_labels_path(@project), :"data-is-link" => true do
            - if show_create && @project && can?(current_user, :admin_label, @project)
              Manage labels
            - else
              View labels
  = dropdown_loading
