- show_close = local_assigns.fetch(:show_close, true)
- show_add_list = local_assigns.fetch(:show_add_list, false)
- add_list = local_assigns.fetch(:add_list, false)
- add_list_class = local_assigns.fetch(:add_list_class, '')
- subject = @project || @group
.dropdown-page-two.dropdown-new-label
  = dropdown_title(create_label_title(subject), options: { back: true, close: show_close })
  = dropdown_content do
    = render Pajamas::AlertComponent.new(variant: :danger, alert_options: { class: 'js-label-error gl-mb-3' }, dismissible: false)
    %input#new_label_name.default-dropdown-input{ type: "text", placeholder: _('Name new label') }
    .suggest-colors.suggest-colors-dropdown
      = render_suggested_colors
    .dropdown-label-color-input.gl-display-flex
      %input.dropdown-label-color-preview.js-dropdown-label-color-preview.gl-w-7.gl-h-7.gl-border-1.gl-border-solid.gl-border-gray-500.gl-rounded-top-right-none.gl-rounded-bottom-right-none{ class: "gl-border-r-0!", type: "color", placeholder: _('Select color') }
      %input#new_label_color.default-dropdown-input.gl-rounded-top-left-none.gl-rounded-bottom-left-none{ type: "text", placeholder: _('Assign custom color like #FF0000') }
    - if show_add_list
      .dropdown-label-input{ class: add_list_class }
        %label
          %input.js-add-list{ type: "checkbox", name: "add_list", checked: add_list }
          %span= _('Add list')
    .clearfix
      = render Pajamas::ButtonComponent.new(variant: :confirm, button_options: { class: 'float-left js-new-label-btn' }) do
        = _('Create')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'float-right js-cancel-label-btn' }) do
        = _('Cancel')
