- title = local_assigns.fetch(:title, '指派标记')
- filter_placeholder = local_assigns.fetch(:filter_placeholder, '搜索标记')
.dropdown-page-one
  = dropdown_title(title)
  = dropdown_filter(filter_placeholder)
  = dropdown_content
  - if @project
    = dropdown_footer do
      %ul.dropdown-footer-list
        - if can? current_user, :admin_label, @project
          %li
            %a.dropdown-toggle-page{href: "#"}
              创建新的
        %li
          = link_to namespace_project_labels_path(@project.namespace, @project), :"data-is-link" => true do
            - if can? current_user, :admin_label, @project
              管理标记
            - else
              查看标记
  = dropdown_loading
