- participants_row = 7
- participants_size = participants.size
- participants_extra = participants_size - participants_row
.block.participants
  .sidebar-collapsed-icon
    = icon('users')
    %span
      = participants.count
  .title.hide-collapsed
    = pluralize participants.count, "participant"
  .hide-collapsed.participants-list
    - participants.each do |participant|
      .participants-author.js-participants-author
        = link_to_member(@project, participant, name: false, size: 24)
    - if participants_extra > 0
      %div.participants-more
        %a.js-participants-more{href: "#", data: {original_text: "+ #{participants_size - 7} more", less_text: "- show less"}}
          + #{participants_extra} more
:javascript
  Issue.prototype.PARTICIPANTS_ROW_COUNT = #{participants_row};
