- todo = issuable_todo(issuable)
- can_edit_issuable = can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
- has_due_date = issuable.has_attribute?(:due_date)
- has_labels = @labels && @labels.any?

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('issuable/issuable_bundle.js')

%aside.right-sidebar{ class: sidebar_gutter_collapsed_class }
  #issuable-sidebar-app.issuable-sidebar{ 'data-issuable' => issuable.to_json, 'data-admin' => can_edit_issuable.to_s }
    %issuable-todo-toggle{':todo' => 'issuable.todo', ':admin' => 'admin'}
    %issuable-assignee-select{ ':assignee' => 'issuable.assignee', ':admin' => 'admin'}
    %issuable-milestone-select{':milestone' => 'issuable.milestone', ':admin' => 'admin'}
    %issuable-due-date-select{':due_date' => 'issuable.due_date', ':admin' => 'admin'}
    %issuable-labels-select{':labels' => 'issuable.labels', 'admin' => 'admin' }
    %issuable-participants-display{':participants' => 'issuable.participants', 'admin' => 'admin'}
    %issuable-subscription-toggle{':subscription' => 'issuable.subscription' }
    %issuable-project-refs{':refs' => 'issuable.refs', ':admin' => 'admin'}

  :javascript
    new MilestoneSelect('{"namespace":"#{@project.namespace.path}","path":"#{@project.path}"}');
    new LabelsSelect();
    new IssuableContext('#{escape_javascript(current_user.to_json(only: [:username, :id, :name]))}');
    new Subscription('.subscription')
    new gl.DueDateSelectors();
    sidebar = new Sidebar();
