- expanded = local_assigns.fetch(:expanded)

%h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
  = _('Variables')

= render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
  = expanded ? _('Collapse') : _('Expand')

%p.gl-text-secondary
  = s_('CiVariables|Variables store information that you can use in job scripts. All projects on the instance can use these variables.')
  = link_to _('Learn more.'), help_page_path('ci/variables/index', anchor: 'for-an-instance'), target: '_blank', rel: 'noopener noreferrer'
