- page_title "Personal Access Tokens"

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      You can generate a personal access token for each application you use that needs access to the GitLab API.
  .col-lg-9

    - if flash[:personal_access_token]
      .panel.panel-success
        .panel-heading Success!
        .panel-body
          Your new personal access token has been created. Make sure to save it - you can't see it again on this page.
          .created-personal-access-token
            %pre= flash[:personal_access_token]
            = clipboard_button(clipboard_text: flash[:personal_access_token])

    %h5.prepend-top-0
      Add a Personal Access Token
    %p.profile-settings-content
      Pick a name for the application, and we'll give you a unique token.
    = form_for [:profile, @personal_access_token],
                method: :post, html: { class: 'js-requires-input' } do |f|

      = form_errors(@personal_access_token)

      .form-group
        = f.label :name, class: 'label-light'
        = f.text_field :name, class: "form-control", required: true

      .form-group
        = f.label :expires_at, class: 'label-light'
        = f.hidden_field :expires_at, class: "form-control", required: false
        .datepicker

      .prepend-top-default
        = f.submit 'Add Personal Access Token', class: "btn btn-create"

    %hr

    %h5 Active Personal Access Tokens (#{@active_personal_access_tokens.length})

    - if @active_personal_access_tokens.present?
      .table-responsive
        %table.table.table-striped.table-hover.active-personal-access-tokens
          %thead
            %tr
              %th Name
              %th Created
              %th Expires
              %th
          %tbody
            - @active_personal_access_tokens.each do |token|
              %tr
                %td= token.name
                %td= token.created_at.to_date.to_s(:medium)
                %td
                  - if token.expires_at.present?
                    = token.expires_at.to_date.to_s(:medium)
                  - else
                    %span.personal-access-tokens-never-expires-label Never
                %td= link_to "Revoke", revoke_profile_personal_access_token_path(token), method: :put, class: "btn btn-danger", data: { confirm: "Are you sure? This cannot be undone." }

    - else
      .settings-message.text-center
        You don't have any active tokens yet.

    %hr

    %h5 Inactive Personal Access Tokens (#{@inactive_personal_access_tokens.length})

    - if @inactive_personal_access_tokens.present?
      .table-responsive
        %table.table.table-striped.table-hover.inactive-personal-access-tokens
          %thead
            %tr
              %th Name
              %th Created
          %tbody
            - @inactive_personal_access_tokens.each do |token|
              %tr
                %td= token.name
                %td= token.created_at.to_date.to_s(:medium)

    - else
      .settings-message.text-center
        There are no inactive tokens.


:javascript
  $(".datepicker").datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#personal_access_token_expires_at").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#personal_access_token_expires_at').val()));
