- reporter = abuse_report.reporter
- user = abuse_report.user
%tr
  %td
    - if reporter
      = link_to reporter.name, [:admin, reporter]
    - else
      (removed)
  %td
    = abuse_report.created_at.to_s(:short)
  %td
    = abuse_report.message
  %td
    - if user
      = link_to user.name, [:admin, user]
    - else
      (removed)
  %td
    - if user
      = link_to 'Block', block_admin_user_path(user), data: {confirm: 'USER WILL BE BLOCKED! Are you sure?'}, method: :put, class: "btn btn-xs btn-warning"
      = link_to 'Remove user', [:admin, user], data: { confirm: "USER #{user.name} WILL BE REMOVED! Are you sure?" }, method: :delete, class: "btn btn-xs btn-remove"
  %td
    = link_to 'Remove report', [:admin, abuse_report], method: :delete, class: "btn btn-xs btn-close"
