%p
  = t '.desc'
%p 
  = t '.availability_hint'

#accordion
  %h3
    %a
      = t '.new_user'
  %div
    %iframe{ :src=> admin_mailer_preview_user_new_path, :width=>"100%", :height=>"350"}
  %h3
    %a
      = t '.new_issue'
  %div
    %iframe{ :src=> admin_mailer_preview_issue_new_path, :width=>"100%", :height=>"350"}
  %h3
    %a
      = t '.commit_note'
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Commit"), :width=>"100%", :height=>"350"}
  %h3
    %a
      = t '.issue_note'
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Issue"), :width=>"100%", :height=>"350"}
  %h3
    %a
      = t '.wall_note'
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Wall"), :width=>"100%", :height=>"350"}

:javascript
  $(function() {
      $("#accordion").accordion(); });
