#js-authenticate-token-2fa

= render Pajamas::ButtonComponent.new(variant: :confirm,
  block: true,
  button_options: { id: 'js-login-2fa-device' }) do
  = _("Sign in via 2FA code")

-# haml-lint:disable InlineJavaScript
%script#js-authenticate-token-2fa-in-progress{ type: "text/template" }
  %p= _("Trying to communicate with your device. Plug it in (if you haven't already) and press the button on the device now.")

-# haml-lint:disable InlineJavaScript
%script#js-authenticate-token-2fa-error{ type: "text/template" }
  .gl-mb-3
    %p <%= error_message %> (<%= error_name %>)
    = render Pajamas::ButtonComponent.new(block: true, button_options: { id: 'js-token-2fa-try-again' }) do
      = _("Try again?")

-# haml-lint:disable InlineJavaScript
%script#js-authenticate-token-2fa-authenticated{ type: "text/template" }
  %div
    %p= _("We heard back from your device. You have been authenticated.")
    = gitlab_ui_form_for(:user, url: target_path, method: :post, html: { id: 'js-login-token-2fa-form' }) do |f|
      - if render_remember_me
        - user_params = params[:user].presence || params
        = f.hidden_field :remember_me, value: user_params.fetch(:remember_me, 0)
      = f.hidden_field :device_response, value: nil, id: 'js-device-response'
