.gl-display-flex.gl-mt-7
  - submit_button_options = { type: :submit, variant: :confirm, button_options: { id: 'commit-changes', class: 'js-commit-button', data: { testid: 'commit-button' } } }
  = render Pajamas::ButtonComponent.new(**submit_button_options) do
    = _('Commit changes')
  = render Pajamas::ButtonComponent.new(loading: true, disabled: true, **submit_button_options.merge({ button_options: { class: 'js-commit-button-loading gl-hidden' } })) do
    = _('Commit changes')

  = render Pajamas::ButtonComponent.new(href: cancel_path, button_options: { class: 'gl-ml-3', id: 'cancel-changes', aria: { label: _('Discard changes') }, data: { confirm: leave_edit_message, confirm_btn_variant: "danger" } }) do
    = _('Cancel')

  = render 'shared/projects/edit_information'
