- @activities.each do |update|
  .wll
    = link_to dashboard_feed_path(@project, update) do 
      - if update.kind_of? Note
        %p
          %strong
            - if update.target
              = update.target.class.name.titleize
              = truncate update.target.id.to_s, :length => 10
              commented
            - else 
              Project wall
          &ndash;
          = image_tag gravatar_icon(update.author_email), :class => "", :width => 16
          = truncate dashboard_feed_title(update), :length => 50
      - else 
        %p
          %strong
            = update.class.name.titleize
            = truncate update.id.to_s
          &ndash;
          = image_tag gravatar_icon(update.author_email), :class => "", :width => 16
          = truncate dashboard_feed_title(update), :length => 50
