%a.project-update{:href => dashboard_feed_path(project, update)}
  = image_tag gravatar_icon(update.author_email), :class => "left", :width => 40
  %span.update-title
    = dashboard_feed_title(update)
  %span.update-author
    %strong= update.author_name
    authored
    = time_ago_in_words(update.created_at)
    ago
  .right
    - klass = update.class.to_s.split("::").last.downcase
    %span.tag{ :class => klass }= klass
    - if update.kind_of?(Commit)
      %span.tag.commit= update.head.name

