= form_for(@project, :remote => true) do |f|
  - if @project.errors.any?
    .alert-message.block-message.error
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    = f.label :name
    .input= f.text_field :name, :placeholder => t('admin.projects.form.example_title')
  .clearfix
    = f.label :path
    .input
      .input-prepend
        %span.add-on= "#{GIT_HOST["git_user"]}@#{GIT_HOST["host"]}:"
        = f.text_field :path, :placeholder => t('admin.projects.form.example_project'), :disabled => !@project.new_record?
  .clearfix
    = f.label :code
    .input
      .input-prepend
        %span.add-on= web_app_url
        = f.text_field :code, :placeholder => t('admin.projects.form.example')

  - unless @project.new_record? || @project.heads.empty?  
    .clearfix
      = f.label :default_branch
      .input= f.select(:default_branch, @project.heads.map(&:name), {}, :style => "width:210px;")

    .alert-message.block-message.warning
      %h5=t '.features'

      .clearfix
        = f.label :issues_enabled
        .input= f.check_box :issues_enabled

      .clearfix
        = f.label :merge_requests_enabled
        .input= f.check_box :merge_requests_enabled

      .clearfix
        = f.label :wall_enabled
        .input= f.check_box :wall_enabled
      
      .clearfix
        = f.label :wiki_enabled
        .input= f.check_box :wiki_enabled
    
  .clearfix
    = f.label :description
    .input
      = f.text_area :description, :class => "xxlarge", :rows => 5
      %p.hint=t 'global.markdown'

  %br
  
  .actions
    = f.submit t('global.save'), :class => "btn primary"
    = link_to t('global.reset'), @project, :class => "btn"
    - unless @project.new_record?
      .right
        = link_to t('global.destroy'), @project, :confirm => t('global.destroy_confirm'), :method => :delete, :class => "btn danger"
