.project-last-commit
  - if commit.status
    = link_to ci_status_path(commit), class: "ci-status ci-#{commit.status}" do
      = ci_status_icon(commit)
      = ci_status_label(commit)

  = link_to commit.short_id, namespace_project_commit_path(project.namespace, project, commit), class: "commit_short_id"
  = link_to_gfm commit.title, namespace_project_commit_path(project.namespace, project, commit), class: "commit-row-message"
  &middot;
  #{time_ago_with_tooltip(commit.committed_date, skip_js: true)} by
  = commit_author_link(commit, avatar: true, size: 24)
