- event = last_push_event
- if event && show_last_push_widget?(event)
  .row-content-block.top-block.hidden-xs.white
    .event-last-push
      .event-last-push-text
        %span You pushed to
        = link_to namespace_project_commits_path(event.project.namespace, event.project, event.ref_name), class: 'ref-name' do
          %strong= event.ref_name

        = clipboard_button(text: event.ref_name, gfm: "`#{event.ref_name}`", class: 'btn-clipboard btn-transparent', title: 'Copy branch name to clipboard')

        - if event.project != @project
          %span at
          %strong= link_to_project event.project

        #{time_ago_with_tooltip(event.created_at)}

      .pull-right
        = link_to new_mr_path_from_push_event(event), title: "New merge request", class: "btn btn-info btn-sm" do
          Create merge request
