- event = last_push_event
- if event && show_last_push_widget?(event)
  .gl-alert.gl-alert-success.mt-2{ role: 'alert' }
    = sprite_icon('check-circle', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
    %button.js-close-banner.gl-alert-dismiss{ type: 'button', 'aria-label' => _('Dismiss') }
      = sprite_icon('close', size: 16, css_class: 'gl-icon')
    .gl-alert-body
      %span= s_("LastPushEvent|You pushed to")
      %strong.gl-display-inline-flex.gl-max-w-50p{ data: { toggle: 'tooltip' }, title: event.ref_name }
        = link_to event.ref_name, project_commits_path(event.project, event.ref_name), class: 'ref-name gl-text-truncate'

      - if event.project != @project
        %span= s_("LastPushEvent|at")
        %strong= link_to_project event.project

      #{time_ago_with_tooltip(event.created_at)}

    - if can?(current_user, :create_merge_request_in, event.project.default_merge_request_target)
      .gl-alert-actions
        = link_to new_mr_path_from_push_event(event), title: _("New merge request"), class: "btn gl-button btn-confirm qa-create-merge-request" do
          #{ _('Create merge request') }
