= form_for(@project, :remote => true) do |f|
  - if @project.errors.any?
    .alert-message.block-message.error
      %span= @project.errors.full_messages.first
  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, :placeholder => "Example Project", :class => "xxlarge"
      = f.submit 'Create project', :class => "btn primary"

  %hr
  .alert.alert-info
    %h5 Advanced settings:
    .clearfix
      = f.label :path do
        Git Clone
      .input
        .input-prepend
          %span.add-on= Gitlab.config.ssh_path
          = f.text_field :path, :placeholder => "example_project", :disabled => !@project.new_record?
          %span.add-on= ".git"
    .clearfix
      = f.label :code do
        URL
      .input
        .input-prepend
          %span.add-on= web_app_url
          = f.text_field :code, :placeholder => "example"
    .clearfix
      = f.label :project_access do
        Initial Access for Admins
      .input
        .input-prepend
          - access_options_w_none = {"none"=>0}.merge(Project.access_options)
          = select_tag :project_access, options_for_select(access_options_w_none, access_options_w_none[Gitlab.config.default_project_access]), :class => "project-access-select", :name => "project[access]"
          %br
          Read more about project permissions
          %strong= link_to "here", help_permissions_path, :class => "vlink"
