- experiment_name = local_assigns.fetch(:experiment_name)
- track_label = local_assigns.fetch(:track_label)

- with_free_badge = local_assigns.fetch(:with_free_badge, false)
- checked = local_assigns.fetch(:checked, false)

.form-group
  .form-check.gl-mb-3
    = check_box_tag 'project[initialize_with_sast]', '1', checked, class: 'form-check-input', data: { qa_selector: 'initialize_with_sast_checkbox', track_experiment: experiment_name, track_label: track_label, track_action: 'activate_form_input', track_property: 'init_with_sast' }
    = label_tag 'project[initialize_with_sast]', class: 'form-check-label' do
      = s_('ProjectsNew|Enable Static Application Security Testing (SAST)')
      - if with_free_badge
        = gl_badge_tag _('Free'), variant: :info, size: :sm
    .form-text.text-muted
      = s_('ProjectsNew|Analyze your source code for known security vulnerabilities.')
      = link_to _('Learn more.'), help_page_path('user/application_security/sast/index'), target: '_blank', rel: 'noopener noreferrer', data: { track_action: 'followed', track_experiment: experiment_name }
