= form_for(@project, remote: true) do |f|
  - if @project.errors.any?
    .alert-message.block-message.error
      %span= @project.errors.full_messages.first
  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"
      = f.submit 'Create project', class: "btn primary project-submit"

  - if current_user.several_namespaces?
    .clearfix
      = f.label :namespace_id do
        %span.cgray Namespace
      .input
        = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'chosen'}
  %hr
  %p.padded
    All created project are private. You choose who can see project and commit to repository.
