= form_for(@project, remote: true) do |f|
  - if @project.errors.any?
    .alert.alert-error
      %span= @project.errors.full_messages.first
  .clearfix.project_name_holder
    = f.label :name do
      Project name is
    .input
      = f.text_field :name, placeholder: "Example Project", class: "xxlarge"
      = f.submit 'Create project', class: "btn btn-create project-submit"

  - if current_user.can_select_namespace?
    .clearfix
      = f.label :namespace_id do
        %span Namespace
      .input
        = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'chosen'}

  %p.padded
    New projects are private by default. You choose who can see the project and commit to repository.
  %hr

  - if current_user.can_create_group?
    .clearfix
      .input.light
        Need a group for several dependent projects?
        = link_to new_group_path, class: "btn btn-tiny" do
          Create a group
  - if current_user.can_create_team?
    .clearfix
      .input.light
        Want to share a project between team?
        = link_to new_team_path, class: "btn btn-tiny" do
          Create a team
