.merge-tabs
  = link_to project_path(@project), :class => "activities-tab tab #{'active' if current_page?(project_path(@project)) }" do 
    %span
    Activities
  = link_to info_project_path(@project), :class => "stat-tab tab #{'active' if current_page?(info_project_path(@project)) || current_page?(edit_project_path(@project)) }" do 
    %span
    Info
  = link_to team_project_path(@project), :class => "team-tab tab #{'active' if current_page?(team_project_path(@project)) }" do 
    %span 
    Team
  = link_to files_project_path(@project), :class => "files-tab tab #{'active' if current_page?(files_project_path(@project)) }" do 
    %span
    Files
  = link_to project_snippets_path(@project), :class => "snippets-tab tab #{'active' if current_page?(project_snippets_path(@project)) }" do 
    %span
    Snippets


