- f ||= local_assigns[:f]

.project-templates-buttons.col-sm-12
  %ul.nav-tabs.nav-links.nav.scrolling-tabs
    %li.built-in-tab
      %a.nav-link.active{ href: "#built-in", data: { toggle: 'tab'} }
        = _('Built-in')
        %span.badge.badge-pill= Gitlab::ProjectTemplate.all.count
    %li.sample-data-templates-tab
      %a.nav-link{ href: "#sample-data-templates", data: { toggle: 'tab'} }
        = _('Sample Data')
        %span.badge.badge-pill= Gitlab::SampleDataTemplate.all.count

.tab-content
  .project-templates-buttons.import-buttons.tab-pane.active#built-in
    = render partial: 'projects/project_templates/template', collection: Gitlab::ProjectTemplate.all
  .project-templates-buttons.import-buttons.tab-pane#sample-data-templates
    = render partial: 'projects/project_templates/template', collection: Gitlab::SampleDataTemplate.all

.project-fields-form
  = render 'projects/project_templates/project_fields_form'
  = render 'projects/new_project_fields', f: f, project_name_id: "template-project-name", hide_init_with_readme: true, track_label: "create_from_template"
