%ul.tabs
  %li{ :class => "#{'active' if current_page?(project_path(@project)) }" }
    = link_to project_path(@project), :class => "activities-tab tab" do 
      Show
  %li{ :class => " #{'active' if (controller.controller_name == "team_members") || current_page?(team_project_path(@project)) }" }
    = link_to team_project_path(@project), :class => "team-tab tab" do 
      Team
  %li{ :class => "#{'active' if current_page?(files_project_path(@project)) }" }
    = link_to files_project_path(@project), :class => "files-tab tab " do 
      Attachments
  %li{ :class => " #{'active' if (controller.controller_name == "snippets") }" }
    = link_to project_snippets_path(@project), :class => "snippets-tab tab" do 
      Snippets

  - if can? current_user, :admin_project, @project
    %li.right{:class => "#{'active' if controller.controller_name == "deploy_keys"}"}
      = link_to project_deploy_keys_path(@project) do 
        %span
        Deploy Keys
    %li.right{:class => "#{'active' if controller.controller_name == "hooks" }"}
      = link_to project_hooks_path(@project) do 
        %span
        Hooks
    %li.right{ :class => "#{'active' if current_page?(edit_project_path(@project)) }" }
      = link_to edit_project_path(@project), :class => "stat-tab tab " do 
        Edit
 
