- @messages.group_by{ |x| [x.noteable_id, x.noteable_type]}.each do |item, notes|
  - id, type = item[0], item[1]
  - parent = load_note_parent(id, type, @project)
  - next unless parent

  - case type
  - when "Issue"
    - issue = parent
    - item_code = issue.author.email
    - link_item_name = truncate(issue.title, :length => 50)
    - link_to_item = project_issue_path(@project, issue)
  - when "Commit"
    - commit = parent
    - item_code = commit.author.email
    - link_item_name = truncate_commit_message(commit, 50)
    - link_to_item = project_commit_path(@project, :id => commit.id)
  - else
    - item_code = @project.name
    - link_item_name = "Project Wall"
    - link_to_item = wall_project_path(@project)

  %div.recent_message_parent
    = image_tag gravatar_icon(item_code), :class => "left", :width => 40
    %h4
      = link_to(link_item_name, link_to_item)
    %span
      = type
  .clear
  - notes.sort {|x,y| x.updated_at <=> y.updated_at }.each do |note|
    %div.message
      = image_tag gravatar_icon(note.author.email), :class => "left", :width => 24, :style => "padding-right:5px;"
      %p{:style => "margin-bottom: 3px;"}
        = link_to truncate(note.note, :length => 50), "#" 
        - if note.attachment.url
          %br
          Attachment:
          = link_to note.attachment_identifier, note.attachment.url
          %br
      %span
        %span
          [ #{note.author.name} ]
        %cite
          = time_ago_in_words(note.created_at)
          ago
    %br
  .append-bottom
    &nbsp;
  .clear
