- return unless @project.forked? && can?(current_user, :remove_fork_project, @project)
- remove_form_id = "js-remove-project-fork-form"

= render Pajamas::CardComponent.new do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-danger= _('Remove fork relationship')
    %p.gl-text-subtle.gl-text-sm.gl-m-0
      = remove_fork_project_description_message(@project)

  - c.with_body do
    = form_for @project, url: remove_fork_project_path(@project), method: :delete, html: { id: remove_form_id } do |f|
      %p
        %strong= _('After it is removed, the fork relationship can only be restored by using the API. This project will no longer be able to receive or send merge requests to the upstream project or other forks.')
      .js-confirm-danger{ data: remove_fork_project_confirm_json(@project, remove_form_id) }
