%ul.project-settings-nav.sidebar-subnav
  = nav_link(path: 'projects#edit') do
    = link_to edit_project_path(@project), title: 'Project', class: 'stat-tab tab', data: {placement: 'right'} do
      = icon('pencil-square-o')
      %span
        Project
  = nav_link(controller: [:project_members, :teams]) do
    = link_to namespace_project_project_members_path(@project.namespace, @project), title: 'Members', class: 'team-tab tab', data: {placement: 'right'} do
      = icon('users')
      %span
        Members
  = nav_link(controller: :deploy_keys) do
    = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys', data: {placement: 'right'} do
      = icon('key')
      %span
        Deploy Keys
  = nav_link(controller: :hooks) do
    = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web Hooks', data: {placement: 'right'} do
      = icon('link')
      %span
        Web Hooks
  = nav_link(controller: :services) do
    = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services', data: {placement: 'right'} do
      = icon('cogs')
      %span
        Services
  = nav_link(controller: :protected_branches) do
    = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches', data: {placement: 'right'} do
      = icon('lock')
      %span
        Protected branches
