- return unless can?(current_user, :change_namespace, @project)
- form_id = "transfer-project-form"
- hidden_input_id = "new_namespace_id"
- initial_data = { button_text: s_('ProjectSettings|Transfer project'), confirm_danger_message: transfer_project_message(@project), phrase: @project.name, target_form_id: form_id, target_hidden_input_id: hidden_input_id, project_id: @project.id }

.sub-section{ data: { qa_selector: 'transfer_project_content' } }
  %h4.danger-title= _('Transfer project')
  = form_for @project, url: transfer_project_path(@project), method: :put, html: { class: 'js-project-transfer-form', id: form_id } do |f|
    .form-group
      - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/project/settings/index', anchor: 'transfer-a-project-to-another-namespace') }
      %p= _("Transfer your project into another namespace. %{link_start}Learn more.%{link_end}").html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
      %p= _('When you transfer your project to a group, you can easily manage multiple projects, view usage quotas for storage, pipeline minutes, and users, and start a trial or upgrade to a paid tier.')
      %p
        = _("Don't have a group?")
        = link_to _('Create one'), new_group_path, target: '_blank'
      = _('Things to be aware of before transferring:')
      %ul
        %li= _("Be careful. Changing the project's namespace can have unintended side effects.")
        %li= _('You can only transfer the project to namespaces you manage.')
        %li= _('You will need to update your local repositories to point to the new location.')
        %li= _('Project visibility level will be changed to match namespace rules when transferring to a group.')
      = hidden_field_tag(hidden_input_id)
      .js-transfer-project-form{ data: initial_data }
