- file = params[:path] ? File.join(params[:path], content.name) : content.name
- content_commit = @project.repo.log(@commit.id, file, :max_count => 1).last
- return unless content_commit
%tr{ :class => "tree-item", :url => tree_file_project_path(@project, @commit.id, file) }
  %td.tree-item-file-name
    - if content.is_a?(Grit::Blob)
      = image_tag "txt.png"
    - else
      = image_tag "dir.png"
    = link_to truncate(content.name, :length => 40), tree_file_project_path(@project, @commit.id, file, :branch => @branch, :tag => @tag), :remote => :true
  %td
    = time_ago_in_words(content_commit.committed_date)
    ago
  %td.commit
    = link_to truncate(content_commit.safe_message, :length => fixed_mode? ? 40 : 80), project_commit_path(@project, content_commit), :class => "tree-commit-link"
    - tm = @project.team_member_by_name_or_email(content_commit.author_email, content_commit.author_name)
    - if tm
      = link_to "[#{tm.user_name}]", project_team_member_path(@project, tm)
