.view_file
  .view_file_header
    %strong
      = name
      = link_to "raw", blob_project_path(@project, :commit_id => @commit.id, :path => params[:path] ), :class => "right", :target => "_blank"
      = link_to "history", project_commits_path(@project, :path => params[:path]), :class => "right", :style => "margin-right:10px;"
      %br/
  - if ! file.binary?
    .view_file_content
      :erb
        <%= raw file.colorize(:options => {:linenos => 'True'}) %>
  - elsif file.image?
    .view_file_content_image
      %img{ :src => "data:#{file.mime_type};base64,#{Base64.encode64(file.data)}"}
  - else
    %p 
      %center No preview for this file type

