- if @wiki_home.present?
  %div{ class: container_class }
    .md.gl-mt-3.gl-mb-3
      = render_wiki_content(@wiki_home)
- else
  - can_create_wiki = can?(current_user, :create_wiki, @project)
  .landing{ class: [('row-content-block row p-0 align-items-center' if can_create_wiki), ('content-block' unless can_create_wiki)] }
    .col-12.col-md-3.p-0
      .svg-content
        = image_tag 'illustrations/empty-state/empty-wiki-md.svg'
    .col-12.col-md-9.text-center.text-md-left.pl-md-0.pl-sm-3.mb-4
      %h4
        = _("This project does not have a wiki homepage yet")
      - if can_create_wiki
        %p
          = _("Add a homepage to your wiki that contains information about your project and GitLab will display it here instead of this message.")
        = link_button_to _("Create your first page"), wiki_path(@project.wiki) + '?view=create', variant: :confirm
