.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        Project settings:
      %p.light Some settings, such as "Transfer Project", are hidden inside the danger area below.
      %hr
      .panel-body
        = form_for @project, remote: true, html: { class: "edit_project form-horizontal" } do |f|
          %fieldset
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                Project name
              .col-sm-10
                = f.text_field :name, placeholder: "Example Project", class: "form-control"


            .form-group
              = f.label :description, class: 'control-label' do
                Project description
                %span.light (optional)
              .col-sm-10
                = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .form-group
                = f.label :default_branch, "Default Branch", class: 'control-label'
                .col-sm-10= f.select(:default_branch, @repository.branch_names, {}, {class: 'select2 select-wide'})


          = render "visibility_level", f: f, visibility_level: @project.visibility_level, can_change_visibility_level: can?(current_user, :change_visibility_level, @project)

          %fieldset.features
            %legend
              Labels:
            .form-group
              = f.label :label_list, "Labels", class: 'control-label'
              .col-sm-10
                = f.text_field :label_list, maxlength: 2000, class: "form-control"
                %p.hint Separate labels with commas.

          %fieldset.features
            %legend
              Features:
            .form-group
              = f.label :issues_enabled, "Issues", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :issues_enabled
                  %span.descr Lightweight issue tracking system for this project

            - if Project.issues_tracker.values.count > 1
              .form-group
                = f.label :issues_tracker, "Issues tracker", class: 'control-label'
                .col-sm-10= f.select(:issues_tracker, project_issues_trackers(@project.issues_tracker), {}, { disabled: !@project.issues_enabled })

              .form-group
                = f.label :issues_tracker_id, "Project name or id in issues tracker", class: 'control-label'
                .col-sm-10= f.text_field :issues_tracker_id, disabled: !@project.can_have_issues_tracker_id?, class: 'form-control'

            .form-group
              = f.label :merge_requests_enabled, "Merge Requests", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :merge_requests_enabled
                  %span.descr Submit changes to be merged upstream.

            .form-group
              = f.label :wiki_enabled, "Wiki", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :wiki_enabled
                  %span.descr Pages for project documentation

            .form-group
              = f.label :snippets_enabled, "Snippets", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :snippets_enabled
                  %span.descr Share code pastes with others out of git repository


          .form-actions
            = f.submit 'Save changes', class: "btn btn-save"



    .danger-settings.js-toggle-container
      .centered-light-block
        %h3
          %i.icon-warning-sign
          Dangerous settings

        %p Project settings below may result in data loss!
        = link_to '#', class: 'btn js-toggle-button' do
          Show them to me
          %i.icon-chevron-down

      .js-toggle-content.hide
        - if can? current_user, :archive_project, @project
          .panel.panel-default.panel.panel-warning
            .panel-heading
              - if @project.archived?
                Unarchive project
              - else
                Archive project
            .panel-body
              - if @project.archived?
                %p
                  Unarchiving the project will mark its repository as active.
                  %br
                  The project can be committed to.
                  %br
                  %strong Once active this project shows up in the search and on the dashboard.
                = link_to 'Unarchive', unarchive_project_path(@project),
                    data: { confirm: "Are you sure that you want to unarchive this project?\nWhen this project is unarchived it is active and can be comitted to again." },
                    method: :post, class: "btn btn-remove"
              - else
                %p
                  Archiving the project will mark its repository as read-only.
                  %br
                  It is hidden from the dashboard and doesn't show up in searches.
                  %br
                  %strong Archived projects cannot be committed to!
                = link_to 'Archive', archive_project_path(@project),
                    data: { confirm: "Are you sure that you want to archive this project?\nAn archived project cannot be committed to." },
                    method: :post, class: "btn btn-warning"
        - else
          .nothing-here-block Only the project owner can archive a project

        .panel.panel-default.panel.panel-warning
          .panel-heading Rename repository
          .errors-holder
          .panel-body
            = form_for(@project, html: { class: 'form-horizontal' }) do |f|
              .form-group
                = f.label :path, class: 'control-label' do
                  %span Path
                .col-sm-9
                  .form-group
                    .input-group
                      = f.text_field :path, class: 'form-control'
                      %span.input-group-addon .git
                  %ul
                    %li Be careful. Renaming a project's repository can have unintended side effects.
                    %li You will need to update your local repositories to point to the new location.
              .form-actions
                = f.submit 'Rename', class: "btn btn-warning"

        - if can?(current_user, :change_namespace, @project)
          .panel.panel-default.panel.panel-danger
            .panel-heading Transfer project
            .errors-holder
            .panel-body
              = form_for(@project, url: transfer_project_path(@project), method: :put, remote: true, html: { class: 'transfer-project form-horizontal' }) do |f|
                .form-group
                  = f.label :namespace_id, class: 'control-label' do
                    %span Namespace
                  .col-sm-10
                    .form-group
                      = f.select :namespace_id, namespaces_options(@project.namespace_id), { prompt: 'Choose a project namespace' }, { class: 'select2' }
                    %ul
                      %li Be careful. Changing the project's namespace can have unintended side effects.
                      %li You can only transfer the project to namespaces you manage.
                      %li You will need to update your local repositories to point to the new location.
                .form-actions
                  = f.submit 'Transfer', class: "btn btn-remove"
        - else
          .nothing-here-block Only the project owner can transfer a project

        - if can?(current_user, :remove_project, @project)
          .panel.panel-default.panel.panel-danger
            .panel-heading Remove project
            .panel-body
              %p
                Removing the project will delete its repository and all related resources including issues, merge requests etc.
                %br
                %strong Removed projects cannot be restored!

              = link_to 'Remove project', @project, data: { confirm: remove_project_message(@project) }, method: :delete, class: "btn btn-remove"
        - else
          .nothing-here-block Only project owner can remove a project

.save-project-loader.hide
  .center
    %h2
      %i.icon-spinner.icon-spin
      Saving project.
    %p Please wait a moment, this page will automatically refresh when ready.
