= render 'shared/no_ssh'
.project_clone_panel
  .row
    .span7
      .form-horizontal
        .input-prepend.project_clone_holder
          = link_to "SSH", "#", class: "btn small active", :"data-clone" => @project.ssh_url_to_repo
          = link_to "HTTP", "#", class: "btn small", :"data-clone" => @project.http_url_to_repo
          = text_field_tag :project_clone, @project.url_to_repo, class: "one_click_select span5"
%div.git-empty
  %h4 Git global setup:
  %pre.dark
    = preserve do
      git config --global user.name "#{current_user.name}"
      git config --global user.email "#{current_user.email}"

  %h4.prepend-top-20 Create Repository
  %pre.dark
    = preserve do
      mkdir #{@project.path}
      cd #{@project.path}
      git init
      touch README
      git add README
      git commit -m 'first commit'
      git remote add origin #{@project.url_to_repo}
      git push -u origin master

  %h4.prepend-top-20 Existing Git Repo?
  %pre.dark
    = preserve do
      cd existing_git_repo
      git remote add origin #{@project.url_to_repo}
      git push -u origin master

  - if can? current_user, :admin_project, @project
    .prepend-top-20
      = link_to 'Remove project', @project, confirm: 'Are you sure?', method: :delete, class: "btn danger right"
