= render "project_head"
- unless @notes.empty?
  %table.zebra-striped.borders
    - @notes.each do |note|
      %tr
        %td
          %a{:href => note.attachment.url}
            = image_tag gravatar_icon(note.author_email), :class => "left", :width => 16
            &nbsp;
            = note.attachment_identifier
        %td  
          = t 'global.added'
          = time_ago_in_words(note.created_at)
          = t 'global.ago'
- else 
  .alert-message.block-message
    %p=t '.empty'


