- if @project.import_in_progress?
  .save-project-loader
    .center
      %h2
        %i.icon-spinner.icon-spin
        Import in progress.
      %p.monospace git clone --bare #{@project.import_url}
      %p Please wait while we import the repository for you. Refresh at will.
      :javascript
        new ProjectImport();

- elsif @project.import_failed?
  .save-project-loader
    .center
      %h2
        Import failed. Retry?
  %hr
  - if can?(current_user, :admin_project, @project)
    = form_for @project, url: retry_import_project_path(@project), method: :put, html: { class: 'form-horizontal' } do |f|
      .form-group.import-url-data
        = f.label :import_url, class: 'control-label' do
          %span Import existing repo
        .col-sm-10
          = f.text_field :import_url, class: 'form-control', placeholder: 'https://github.com/randx/six.git'
          .bs-callout.bs-callout-info
            This url must be publicly accessible or you can add a username and password like this: https://username:password@gitlab.com/company/project.git.
            %br
            The import will time out after 2 minutes. For big repositories, use a clone/push combination.
      .form-actions
        = f.submit 'Retry import', class: "btn btn-create", tabindex: 4
