%h3
  Projects
  %small= "( #{current_user.projects.count} )"
%hr
- unless @projects.empty?
  %div.content_list= render "tile"

  -# If projects requris paging
  -# We add ajax loader & init script
  - if @projects.count == @limit
    .loading{ :style => "display:none;"}
      %center= image_tag "ajax-loader.gif"

    :javascript
      $(function(){
        Pager.init(#{@limit});
      });
- else
  %h2 Nothing here
