- if @projects.any?
  .row
    .span8
      - if current_user.require_ssh_key?
        .alert.alert-error.padded
          %span
            You wont be able to pull/push project code unless you  
            %strong
              = link_to new_key_path, :class => "vlink" do 
                add new key
            to your profile
      - if @events.any?
        = render @events
      - else
        .padded
          %strong.cgray Projects activity will be displayed here
    .span4.right
      %div.leftbar.ui-box
        %h5
          Projects
          %small
            (#{@projects.count})
          - if current_user.can_create_project?
            %span.right
              = link_to new_project_path, :class => "btn very_small info" do 
                New Project
        .content_list
          - @projects.each do |project|
            = link_to project_path(project), :class => dom_class(project) do
              %h4
                %span.ico.project
                = truncate(project.name, :length => 25)
                %span.right
                  &rarr;

- else 
  %h3 Nothing here
  %br
  - if current_user.can_create_project?
    .alert-message.block-message.warning
      You can create up to
      = current_user.projects_limit
      projects. Click on link below to add a new one
      .link_holder
        = link_to new_project_path, :class => "" do 
          New Project » 
  - else 
    If you will be added to project - it will be displayed here
