= render "project_head"

%div
  %span.entity-info
    = link_to edit_project_path(@project) do 
      .entity-button
        Edit
        %i
  %h2= @project.name
  %hr

%table.no-borders
  %tr
    %td Name
    %td= @project.name
  
  %tr
    %td Slug
    %td= @project.code

  %tr
    %td Created
    %td= @project.created_at.stamp("Aug 21, 2011")

  %tr
    %td{:colspan => 2}= simple_format @project.description


