.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content

    = form_for @project, html: { class: 'new_project form-horizontal' } do |f|
      .form-group.project-name-holder
        = f.label :path, class: 'control-label' do
          %strong 项目路径
        .col-sm-10
          .input-group
            = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 1, autofocus: true
            .input-group-addon
              \.git

      - if current_user.can_select_namespace?
        .form-group
          = f.label :namespace_id, class: 'control-label' do
            %span 命名空间
          .col-sm-10
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'select2', tabindex: 2}

      %hr

      .project-import.js-toggle-container
        .form-group
          %label.control-label 导入的项目来自于
          .col-sm-10
            - if github_import_enabled?
              = link_to status_import_github_path, class: 'btn' do
                %i.fa.fa-github
                GitHub
            - else
              = link_to '#', class: 'how_to_import_link light btn' do
                %i.fa.fa-github
                GitHub
              = render 'github_import_modal'


            - if bitbucket_import_enabled?
              = link_to status_import_bitbucket_path, class: 'btn' do
                %i.fa.fa-bitbucket
                Bitbucket
            - else
              = link_to '#', class: 'how_to_import_link light btn' do
                %i.fa.fa-bitbucket
                Bitbucket
              = render 'bitbucket_import_modal'

            - unless request.host == 'gitlab.com'
              - if gitlab_import_enabled?
                = link_to status_import_gitlab_path, class: 'btn' do
                  %i.fa.fa-heart
                  GitLab.com
              - else
                = link_to '#', class: 'how_to_import_link light btn' do
                  %i.fa.fa-heart
                  GitLab.com
                = render 'gitlab_import_modal'

            = link_to new_import_gitorious_path, class: 'btn' do
              %i.icon-gitorious.icon-gitorious-small
              Gitorious.org

            = link_to "#", class: 'btn js-toggle-button' do
              %i.fa.fa-git
              %span 可通过URL访问的任意仓库

        .js-toggle-content.hide
          .form-group.import-url-data
            = f.label :import_url, class: 'control-label' do
              %span Git仓库的URL地址
            .col-sm-10
              = f.text_field :import_url, class: 'form-control', placeholder: 'https://username:password@gitlab.company.com/group/project.git'
              .alert.alert-info.prepend-top-10
                %ul
                  %li 
                    仓库必须通过HTTP(S)可以访问. 如果公众不可访问, 您可以添加认证信息到URL中: <code>https://username:password@gitlab.company.com/group/project.git</code>.
                  %li 
                    The import will time out after 4 minutes. For big repositories, use a clone/push combination.
                    导入超过4分钟将作超时处理. 大的仓库请使用clone/push(克隆/推送)相组合的方法处理.
                  %li
                    如果要迁移SVN仓库, 查看
                    #{link_to "此文档", "http://doc.gitlab.com/ce/workflow/migrating_from_svn.html"}.

      %hr.prepend-botton-10

      .form-group
        = f.label :description, class: 'control-label' do
          描述
          %span.light (可选)
        .col-sm-10
          = f.text_area :description, placeholder: "超酷的项目", class: "form-control", rows: 3, maxlength: 250, tabindex: 3
      = render "visibility_level", f: f, visibility_level: gitlab_config.default_projects_features.visibility_level, can_change_visibility_level: true

      .form-actions
        = f.submit '创建项目', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .light
              需要为多个依赖的项目创建组?
              = link_to new_group_path, class: "btn btn-xs" do
                创建组

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      创建项目和仓库.
    %p 请稍候, 此页面将在完成后自动刷新.

:coffeescript
  $ ->
    $('.how_to_import_link').bind 'click', (e) ->
      e.preventDefault()
      import_modal = $(this).parent().find(".modal").show()
    $('.modal-header .close').bind 'click', ->
      $(".modal").hide()
