.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content

    = form_for @project, remote: true, html: { class: 'new_project form-horizontal' } do |f|
      .form-group.project-name-holder
        = f.label :name, class: 'control-label' do
          %strong Project name
        .col-sm-10
          = f.text_field :name, placeholder: "Example Project", class: "form-control", tabindex: 1, autofocus: true
          .help-inline
            = link_to "#", class: 'js-toggle-visibility-link' do
              %span Customize repository name?

      .form-group.js-toggle-visibility-container.hide
        = f.label :path, class: 'control-label' do
          %span Repository name
        .col-sm-10
          .input-group
            = f.text_field :path, class: 'form-control'
            %span.input-group-addon .git


      - if current_user.can_select_namespace?
        .form-group
          = f.label :namespace_id, class: 'control-label' do
            %span Namespace
          .col-sm-10
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'select2', tabindex: 2}

      .form-group
        .col-sm-2
        .col-sm-10
          = link_to "#", class: 'appear-link' do
            %i.icon-upload-alt
            %span Import existing repository?
      .form-group.appear-data.import-url-data
        = f.label :import_url, class: 'control-label' do
          %span Import existing repo
        .col-sm-10
          = f.text_field :import_url, class: 'form-control', placeholder: 'https://github.com/randx/six.git'
          .light
            URL must be cloneable
      .form-group
        = f.label :description, class: 'control-label' do
          Description
          %span.light (optional)
        .col-sm-10
          = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250, tabindex: 3
      = render "visibility_level", f: f, visibility_level: gitlab_config.default_projects_features.visibility_level, can_change_visibility_level: true

      .form-actions
        = f.submit 'Create project', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .light
              Need a group for several dependent projects?
              = link_to new_group_path, class: "btn btn-tiny" do
                Create a group

.save-project-loader.hide
  %center
    %h2
      %i.icon-spinner.icon-spin
      Creating project &amp; repository.
    %p Please wait a moment, this page will automatically refresh when ready.
