- breadcrumb_title "Details"

%h2
  %i.fa.fa-warning
  #{ _('No repository') }

%p.slead
  #{ _('The repository for this project does not exist.') }
  %br
  #{ _('This means you can not push code until you create an empty repository or import existing one.') }
%hr

.no-repo-actions
  = link_to project_repository_path(@project), method: :post, class: 'btn btn-primary' do
    #{ _('Create empty bare repository') }

  %strong.prepend-left-10.append-right-10 or

  = link_to new_project_import_path(@project), class: 'btn' do
    #{ _('Import repository') }

- if can? current_user, :remove_project, @project
  .prepend-top-20
    = link_to _('Remove project'), project_path(@project), data: { confirm: remove_project_message(@project)}, method: :delete, class: "btn btn-inverted btn-remove pull-right"
