= render "project_head"
%h3
  = @project.name
%hr
.alert-message.block-message.warning
  .input
    .input-prepend
      %span.add-on git clone
      = text_field_tag :project_clone, @project.url_to_repo, :class => "xlarge one_click_select git_clone_url"

= simple_format @project.description

%h5.cgray Recent Activity
.content_list= render "feed"


