= render 'clone_panel'

.row
  .span9
    = render "events/event_last_push", event: @last_push
    .content_list
    .loading.hide
  .span3
    .light-well
      %h3.page-title
        = @project.name
      - if @project.description.present?
        %p.light= @project.description

      %hr
      %p
      %p
        %span.light Repo size is
        #{@project.repository.size} MB
      %p
        %span.light Created at
        #{@project.created_at.stamp('Aug 22, 2013')}
      %p
        %span.light Owned by
        - if @project.group
          #{link_to @project.group.name, @project.group} Group
        - else
          #{link_to @project.owner_name, @project.owner}
      - if @project.forked_from_project
        %p
          %i.icon-code-fork
          Forked from:
          = link_to @project.forked_from_project.name_with_namespace, project_path(@project.forked_from_project)

      %hr
      %p
        = link_to pluralize(@repository.round_commit_count, 'commit'), project_commits_path(@project, @ref || @repository.root_ref)
      %p
        = link_to pluralize(@repository.branch_names.count, 'branch'), project_branches_path(@project)
      %p
        = link_to pluralize(@repository.tag_names.count, 'tag'), project_tags_path(@project)

      - if @project.gitlab_ci?
        %hr
        = link_to @project.gitlab_ci_service.builds_path do
          = image_tag @project.gitlab_ci_service.status_img_path, alt: "build status"
