= render 'clone_panel'
= render "events/event_last_push", event: @last_push

.row
  .span9
    .content_list= render @events
    .loading.hide
  .span3
    .ui-box.white
      .padded
        %h3.page_title
          = @project.name
        - if @project.description.present?
          %p.light= @project.description

        %hr
        %p
          Access level:
          - if @project.public
            %span.cblue
              %i.icon-share
              Public
          - else
            %span.cgreen
              %i.icon-lock
              Private
          - if @git_protocol_enabled
            %span.cblue
              - if @project.git_protocol_enabled
                %i.icon-ok
              - else
                %i.icon-off
              Git protocol access

        %p Repo Size: #{@project.repository.size} MB
        %p Created at: #{@project.created_at.stamp('Aug 22, 2013')}
        %p Owner: #{link_to @project.owner_name, @project.owner}
:javascript
  $(function(){ Pager.init(20); });
