= render "project_head"
%h3
  = @project.name
  - if can? current_user, :download_code, @project
    = link_to "Download", archive_project_repository_path(@project), :class => "btn small right"
.back_link
  = link_to projects_path do 
    &larr; To projects list
%hr
.alert-message.block-message.warning
  .input
    .input-prepend
      %span.add-on git clone
      = text_field_tag :project_clone, @project.url_to_repo, :class => "xlarge one_click_select git_clone_url"

= simple_format @project.description
- unless @activities.blank?
  .ui-box
    %h5.cgray Recent Activity
    .content_list= render "feed"


