%div
  %h2.left Recent history
  .right
    = form_tag project_path(@project), :method => :get do
      .span-2
        = radio_button_tag :view, "day", (params[:view] || "day") == "day", :onclick => "this.form.submit()", :id => "day_view"
        = label_tag "day_view","Day"
      .span-2
        = radio_button_tag :view, "week", params[:view] == "week", :onclick => "this.form.submit()", :id => "week_view"
        = label_tag "week_view","Week"
  .clear
  %hr
.span-11
  %h3 Commits
  =render "projects/recent_commits"

.span-11.right
  %h3 Messages
  =render "projects/recent_messages"

