= render "project_head"

- if can? current_user, :admin_team_member, @project
  .alert.alert-info
    = link_to new_project_team_member_path(@project), :class => "btn small right", :title => t('.new') do 
      = t '.new'
    = t 'errors.access_denied.further_info'
    %strong= link_to t('errors.access_denied.further_info_href'), help_permissions_path, :class => "vlink"
    %br
    = t '.profile' 


= render :partial => "team", :locals => {:project => @project}

