= render "commits/head"

%h3.page_title
  Compare View
%hr

= render "form"

- if @commits.size > 100
  .alert.alert-block
    %p
      %strong Warning! This comparison include 100+ commits.
    %p To prevent performance issue we dont show diff information.

- if @commits.present?
  %div.ui-box
    %h5.title
      Commits (#{@commits.count})
    %ul.well-list= render Commit.decorate(@commits)

  - unless @diffs.empty?
    %h4 Diff
    = render "commits/diffs", diffs: @diffs
