- attribute = local_assigns.fetch(:attribute, nil)
- group = local_assigns.fetch(:group, nil)
- form = local_assigns.fetch(:form, nil)

- return unless attribute && group && form && cascading_namespace_settings_enabled?
- return if group.namespace_settings.public_send("#{attribute}_locked?")

- lock_attribute = "lock_#{attribute}"

.gl-form-checkbox.custom-control.custom-checkbox
  = form.check_box lock_attribute, checked: group.namespace_settings.public_send(lock_attribute), class: 'custom-control-input', data: { testid: 'enforce-for-all-subgroups-checkbox' }
  = form.label lock_attribute, class: 'custom-control-label' do
    %span= s_('CascadingSettings|Enforce for all subgroups')
    %p.help-text= s_('CascadingSettings|Subgroups cannot change this setting.')
