- page_title "New Tag"
= render "projects/commits/header_title"

- if @error
  .alert.alert-danger
    %button{ type: "button", class: "close", "data-dismiss" => "alert"} &times;
    = @error

%h3.page-title
  New Tag
%hr

= form_tag namespace_project_tags_path, method: :post, id: "new-tag-form", class: "form-horizontal gfm-form tag-form js-quick-submit js-requires-input" do
  .form-group
    = label_tag :tag_name, nil, class: 'control-label'
    .col-sm-10
      = text_field_tag :tag_name, params[:tag_name], required: true, tabindex: 1, autofocus: true, class: 'form-control'
  .form-group
    = label_tag :ref, 'Create from', class: 'control-label'
    .col-sm-10
      = text_field_tag :ref, params[:ref] || @project.default_branch, required: true, tabindex: 2, class: 'form-control'
      .help-block  Branch name or commit SHA
  .form-group
    = label_tag :message, nil, class: 'control-label'
    .col-sm-10
      = text_field_tag :message, nil, required: false, tabindex: 3, class: 'form-control'
      .help-block Optionally, enter a message to create an annotated tag.
  %hr
  .form-group
    = label_tag :release_description, 'Release notes', class: 'control-label'
    .col-sm-10
      = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
        = render 'projects/zen', attr: :release_description, classes: 'description form-control'
        = render 'projects/notes/hints'
        .help-block Optionally, add release notes to the tag. They will be stored in the GitLab database and displayed on the tags page.
  .form-actions
    = button_tag 'Create tag', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', namespace_project_tags_path(@project.namespace, @project), class: 'btn btn-cancel'

:javascript
  var availableRefs = #{@project.repository.ref_names.to_json};

  $("#ref").autocomplete({
    source: availableRefs,
    minLength: 1
  });
