- @no_container = true
- page_title @tag.name, "Tags"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block
    .pull-right.tag-buttons
      - if can?(current_user, :push_code, @project)
        = link_to edit_namespace_project_tag_release_path(@project.namespace, @project, @tag.name), class: 'btn has-tooltip', title: 'Edit release notes' do
          = icon("pencil")
      = link_to namespace_project_tree_path(@project.namespace, @project, @tag.name), class: 'btn has-tooltip', title: 'Browse files' do
        = icon('files-o')
      = link_to namespace_project_commits_path(@project.namespace, @project, @tag.name), class: 'btn has-tooltip', title: 'Browse commits' do
        = icon('history')
      - if can? current_user, :download_code, @project
        = render 'projects/tags/download', ref: @tag.name, project: @project
      - if can?(current_user, :admin_project, @project)
        .pull-right
          = link_to namespace_project_tag_path(@project.namespace, @project, @tag.name), class: 'btn btn-remove remove-row grouped has-tooltip', title: "Delete tag", method: :delete, data: { confirm: "Deleting the '#{@tag.name}' tag cannot be undone. Are you sure?" } do
            %i.fa.fa-trash-o
    .tag-info.append-bottom-10
      .title
        %span.item-title= @tag.name
      - if @commit
        = render 'projects/branches/commit', commit: @commit, project: @project
      - else
        Cant find HEAD commit for this tag
    - if @tag.message.present?
      %pre.body
        = strip_gpg_signature(@tag.message)

  .append-bottom-default.prepend-top-default
    - if @release.description.present?
      .description
        .wiki
          = preserve do
            = markdown @release.description
    - else
      This tag has no release notes.
