- @no_container = true
- page_title @tag.name, "Tags"
= render "projects/commits/head"

%div{ class: container_class }
  .top-area.multi-line
    .nav-text
      .title
        %span.item-title.ref-name
          = icon('tag')
          = @tag.name
        - if protected_tag?(@project, @tag)
          %span.label.label-success
            protected
      - if @commit
        = render 'projects/branches/commit', commit: @commit, project: @project
      - else
        Cant find HEAD commit for this tag

    .nav-controls.controls-flex
      - if can?(current_user, :push_code, @project)
        = link_to edit_project_tag_release_path(@project, @tag.name), class: 'btn controls-item has-tooltip', title: 'Edit release notes' do
          = icon("pencil")
      = link_to project_tree_path(@project, @tag.name), class: 'btn controls-item has-tooltip', title: 'Browse files' do
        = icon('files-o')
      = link_to project_commits_path(@project, @tag.name), class: 'btn controls-item has-tooltip', title: 'Browse commits' do
        = icon('history')
      .btn-container.controls-item
        = render 'projects/buttons/download', project: @project, ref: @tag.name
      - if can?(current_user, :admin_project, @project)
        .btn-container.controls-item-full
          = link_to project_tag_path(@project, @tag.name), class: "btn btn-remove remove-row has-tooltip #{protected_tag?(@project, @tag) ? 'disabled' : ''}", title: "Delete tag", method: :delete, data: { confirm: "Deleting the '#{@tag.name}' tag cannot be undone. Are you sure?" } do
            %i.fa.fa-trash-o

    - if @tag.message.present?
      %pre.wrap
        = strip_gpg_signature(@tag.message)

  .append-bottom-default.prepend-top-default
    - if @release.description.present?
      .description
        .wiki
          = markdown_field(@release, :description)
    - else
      This tag has no release notes.
