%li.notification-list-item
  %span.notification.fa.fa-holder.append-right-5
    - if setting.global?
      = notification_icon(current_user.notification_level)
    - else
      = notification_icon(setting.level)

  %span.str-truncated
    - if setting.source.kind_of? Project
      = link_to_project(setting.source)
    - else
      = link_to setting.source.name, group_path(setting.source)
  .pull-right
    = form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications' do
      = hidden_field_tag :notification_id, setting.id
      = hidden_field_tag :notification_level, setting.level
      = select_tag :notification_level, options_for_select(User.notification_levels.keys, setting.level), class: 'form-control trigger-submit'
