%h3.page-title Setup your notification level

%p.light
  %strong Disabled
  &ndash; You will not get any notifications via email
%p.light
  %strong Participating
  &ndash; You will receive only notifications from related resources(ex. from assigned issue or your commit)
%p.light
  %strong Watch
  &ndash; You will receive all notifications from projects in which you participate
%hr

.row
  .span4
    %h5 Global setting
  .span7
    = form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications' do
      = hidden_field_tag :notification_type, 'global'

      = label_tag do
        = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?, class: 'trigger-submit'
        %span Disabled

      = label_tag do
        = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?, class: 'trigger-submit'
        %span Participating

      = label_tag do
        = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?, class: 'trigger-submit'
        %span Watch

%hr
= link_to '#', class: 'js-toggle-visibility-link' do
  %h6.btn.btn-tiny
    %i.icon-chevron-down
    %span Advanced notifications settings
.js-toggle-visibility-container.hide
  %h5 Groups:
  %ul.well-list
    - @users_groups.each do |users_group|
      - notification = Notification.new(users_group)
      = render 'settings', type: 'group', membership: users_group, notification: notification

  %h5 Projects:
  %ul.well-list
    - @users_projects.each do |users_project|
      - notification = Notification.new(users_project)
      = render 'settings', type: 'project', membership: users_project, notification: notification


.save-status-fixed
  %span.update-success.cgreen.hide
    %i.icon-ok
    Saved
  %span.update-failed.cred.hide
    %i.icon-remove
    Failed
