- content_for :header do
  %h1{style: "background: #38CF5B; color: #FFF; font: normal 20px Helvetica, Arial, sans-serif; margin: 0; padding: 5px 10px; line-height: 32px; font-size: 16px;"}
    GitLab CI (build successful)

%h3
  Project:
  = link_to ci_project_url(@project) do
    = @project.name

%p
  Commit: #{link_to @build.short_sha, namespace_project_commit_path(@build.gl_project.namespace, @build.gl_project, @build.sha)}
%p
  Author: #{@build.commit.git_author_name}
%p
  Branch: #{@build.ref}
%p
  Stage: #{@build.stage}
%p
  Job: #{@build.name}
%p
  Message: #{@build.commit.git_commit_message}

%p
  Build details: #{link_to "Build #{@build.id}", namespace_project_build_url(@build.gl_project.namespace, @build.gl_project, @build)}
