- gitlab_pages = @instance_configuration.settings[:gitlab_pages]
- content_for :table_content do
  %li= link_to _('GitLab Pages'), '#gitlab-pages'

- content_for :settings_content do
  %h2#gitlab-pages
    = _('GitLab Pages')

  %p
    - link_to_gitlab_pages = link_to(_('GitLab Pages'), gitlab_pages[:url], target: '_blank', rel: 'noopener noreferrer')
    = _('Below are the settings for %{link_to_gitlab_pages}.').html_safe % { link_to_gitlab_pages: link_to_gitlab_pages }
  .table-responsive
    %table
      %thead
        %tr
          %th= _('Setting')
          %th= instance_configuration_host(@instance_configuration.settings[:host])
      %tbody
        %tr
          %td= _('Domain Name')
          %td
            %code= instance_configuration_cell_html(gitlab_pages[:host])
        %tr
          %td= _('IP Address')
          %td
            %code= instance_configuration_cell_html(gitlab_pages[:ip_address])
        %tr
          %td= _('Port')
          %td
            %code= instance_configuration_cell_html(gitlab_pages[:port])
