.row.empty-state
  .col-12
    .svg-content
      = image_tag 'illustrations/epics/roadmap.svg'
  .col-12
    .text-content
      %h4
        = _('The roadmap shows the progress of your epics along a timeline')
      %p
        = _('To view the roadmap, add a start or due date to one of your epics in this group or its subgroups. In the months view, only epics in the past month, current month, and next 5 months are shown.')
      .text-center
        - if can?(current_user, :create_epic, @group)
          #new-epic-app{ data: { endpoint: request.url } }
        = link_to group_epics_path(@group), title: 'List', class: 'btn' do
          %span= _('View epics list')
