- @registries.each do |project_registry|
  .card.project-card.prepend-top-15
    .card-header{ id: "project-#{project_registry.project_id}-header" }
      .d-flex
        - if project_registry.project.nil?
          = render partial: 'removed', locals: { project_registry: project_registry }
        - else
          %strong.header-text-primary.flex-fill
            = link_to project_registry.project.full_name, admin_namespace_project_path(project_registry.project.namespace, project_registry.project)
          - if project_registry.candidate_for_redownload?
            = link_to(force_redownload_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-default btn-sm mr-2') do
              = s_('Geo|Redownload')
          = link_to(resync_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-default-primary btn-sm') do
            = s_('Geo|Resync')

    = render partial: 'registry_failed', locals: { project_registry: project_registry }

= paginate @registries, theme: 'gitlab'
