- @registries.each do |project_registry|
  .card.project-card.prepend-top-15
    .card-header{ id: "project-#{project_registry.project_id}-header" }
      .d-flex
        - if project_registry.project.nil?
          = render partial: 'removed', locals: { project_registry: project_registry }
        - else
          %strong.header-text-primary.flex-fill
            = link_to project_registry.project.full_name, admin_namespace_project_path(project_registry.project.namespace, project_registry.project)

    = render partial: 'registry_never', locals: { project_registry: project_registry }

= paginate @registries, theme: 'gitlab'
