.js-snippets-note-edit-form-holder
.snippets.note-edit-form
  = form_tag '#', method: :put, class: 'edit-note common-note-form js-quick-submit' do
    = hidden_field_tag :target_id, '', class: 'js-form-target-id'
    = hidden_field_tag :target_type, '', class: 'js-form-target-type'
    .flash-container
    = render layout: 'shared/md_preview', locals: { url: preview_markdown_path(project), referenced_users: true } do
      = render 'shared/zen', attr: 'note[note]', classes: 'note-textarea js-note-text js-task-list-field', testid: 'edit-note-field', placeholder: _("Write a comment or drag your files here…")
      = render 'shared/notes/hints'

    .note-form-actions.clearfix
      .settings-message.note-edit-warning.js-finish-edit-warning
        = _("Finish editing this message first!")
      = render Pajamas::ButtonComponent.new(type: 'submit', variant: :confirm, button_options: { class: 'js-comment-save-button', data: { testid: 'save-comment-button' } }) do
        = _("Save comment")
      = render Pajamas::ButtonComponent.new(button_options: { class: 'note-edit-cancel' }) do
        = _("Cancel")
