- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
.comment-toolbar.clearfix
  .toolbar-text
    = link_to _('Markdown'), help_page_path('user/markdown'), target: '_blank'
    - if supports_quick_actions
      and
      = link_to _('quick actions'), help_page_path('user/project/quick_actions'), target: '_blank'
      are
    - else
      is
    supported

  %span.uploading-container
    %span.uploading-progress-container.hide
      = sprite_icon('media', css_class: 'gl-icon gl-vertical-align-text-bottom')
      %span.attaching-file-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %span.uploading-progress 0%
      = loading_icon(css_class: 'align-text-bottom gl-mr-2')

    %span.uploading-error-container.hide
      %span.uploading-error-icon
        = sprite_icon('media', css_class: 'gl-icon gl-vertical-align-text-bottom')
      %span.uploading-error-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %button.btn.gl-button.btn-link.gl-vertical-align-baseline.retry-uploading-link
        %span.gl-button-text
          = _("Try again")
      = _("or")
      %button.btn.gl-button.btn-link.attach-new-file.markdown-selector.gl-vertical-align-baseline
        %span.gl-button-text
          = _("attach a new file")
      = _(".")

    %button.btn.gl-button.btn-link.button-attach-file.markdown-selector.button-attach-file.gl-vertical-align-text-bottom
      = sprite_icon('media')
      %span.gl-button-text
        = _("Attach a file")

    %button.btn.gl-button.btn-link.button-cancel-uploading-files.gl-vertical-align-baseline.hide
      %span.gl-button-text
        = _("Cancel")
