- supports_file_upload = local_assigns.fetch(:supports_file_upload, true)
.comment-toolbar.gl-px-2.gl-flex.gl-justify-end.gl-rounded-bl-base.gl-rounded-br-base.clearfix
  .content-editor-switcher.gl-inline-flex.gl-items-center
    = render Pajamas::ButtonComponent.new(category: :tertiary, icon: 'markdown-mark', size: :small, href: help_page_path('user/markdown.md'), target: '_blank', button_options: { class: '!gl-px-3' })
  - if supports_file_upload
    %span.uploading-container.gl-leading-32.gl-text-sm
      %span.uploading-progress-container.hide
        = sprite_icon('paperclip', css_class: 'gl-icon gl-align-text-bottom')
        %span.attaching-file-message
          -# Populated by app/assets/javascripts/dropzone_input.js
        %span.uploading-progress 0%
        = gl_loading_icon(inline: true, css_class: 'gl-mr-2')

      %span.uploading-error-container.hide
        %span.uploading-error-icon
          = sprite_icon('paperclip', css_class: 'gl-icon gl-align-text-bottom')
        %span.uploading-error-message
          -# Populated by app/assets/javascripts/dropzone_input.js
        = render Pajamas::ButtonComponent.new(variant: :link, button_options: { class: 'retry-uploading-link' }) do
          %span.gl-button-text
            = _("Try again")
        = _("or")
        = render Pajamas::ButtonComponent.new(variant: :link, button_options: { class: 'attach-new-file markdown-selector' }) do
          %span.gl-button-text
            = _("attach a new file")
        = _(".")

      = render Pajamas::ButtonComponent.new(variant: :link, button_options: { class: 'button-cancel-uploading-files hide' }) do
        %span.gl-button-text
          = _("Cancel")
