- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
.comment-toolbar.clearfix
  .toolbar-text
    - md_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer" tabindex="-1">'.html_safe % { url: help_page_path('user/markdown') }
    - actions_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer" tabindex="-1">'.html_safe % { url: help_page_path('user/project/quick_actions') }
    - link_end = '</a>'.html_safe
    - if supports_quick_actions
      = s_('Editor|%{mdLinkStart}Markdown%{mdLinkEnd} and %{actionsLinkStart}quick actions%{actionsLinkEnd} are supported').html_safe % { mdLinkStart: md_link_start, mdLinkEnd: link_end, actionsLinkStart: actions_link_start, actionsLinkEnd: link_end }
    - else
      = s_('Editor|%{mdLinkStart}Markdown is supported%{mdLinkEnd}').html_safe % { mdLinkStart: md_link_start, mdLinkEnd: link_end }

  %span.uploading-container
    %span.uploading-progress-container.hide
      = icon('file-image-o', class: 'toolbar-button-icon')
      %span.attaching-file-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %span.uploading-progress 0%
      %span.uploading-spinner
        = icon('spinner spin', class: 'toolbar-button-icon')

    %span.uploading-error-container.hide
      %span.uploading-error-icon
        = icon('file-image-o', class: 'toolbar-button-icon')
      %span.uploading-error-message
        -# Populated by app/assets/javascripts/dropzone_input.js
      %button.retry-uploading-link{ type: 'button' }= _("Try again")
      or
      %button.attach-new-file.markdown-selector{ type: 'button' }= _("attach a new file")

    %button.markdown-selector.button-attach-file.btn-link{ type: 'button', tabindex: '-1' }
      = icon('file-image-o', class: 'toolbar-button-icon')
      %span.text-attach-file<>
        = _("Attach a file")

    %button.btn.btn-default.btn-sm.hide.button-cancel-uploading-files{ type: 'button' }= _("Cancel")
