- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
- supports_file_upload = local_assigns.fetch(:supports_file_upload, true)
.comment-toolbar.gl-mx-2.gl-mb-2.gl-px-4.gl-bg-gray-10.gl-rounded-bottom-left-base.gl-rounded-bottom-right-base.clearfix
  .toolbar-text.gl-font-sm
    - markdownLinkStart = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/markdown') }
    - quickActionsLinkStart = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('user/project/quick_actions') }
    - if supports_quick_actions
      = html_escape(s_('NoteToolbar|Supports %{markdownDocsLinkStart}Markdown%{markdownDocsLinkEnd}. For %{quickActionsDocsLinkStart}quick actions%{quickActionsDocsLinkEnd}, type %{keyboardStart}/%{keyboardEnd}.')) % { markdownDocsLinkStart: markdownLinkStart, markdownDocsLinkEnd: '</a>'.html_safe, quickActionsDocsLinkStart: quickActionsLinkStart, quickActionsDocsLinkEnd: '</a>'.html_safe, keyboardStart: '<kbd>'.html_safe, keyboardEnd: '</kbd>'.html_safe }
    - else
      = html_escape(s_('MarkdownToolbar|Supports %{markdownDocsLinkStart}Markdown%{markdownDocsLinkEnd}')) % { markdownDocsLinkStart: markdownLinkStart, markdownDocsLinkEnd: '</a>'.html_safe }
  - if supports_file_upload
    %span.uploading-container.gl-line-height-32.gl-font-sm
      %span.uploading-progress-container.hide
        = sprite_icon('paperclip', css_class: 'gl-icon gl-vertical-align-text-bottom')
        %span.attaching-file-message
          -# Populated by app/assets/javascripts/dropzone_input.js
        %span.uploading-progress 0%
        = gl_loading_icon(inline: true, css_class: 'gl-mr-2')

      %span.uploading-error-container.hide
        %span.uploading-error-icon
          = sprite_icon('paperclip', css_class: 'gl-icon gl-vertical-align-text-bottom')
        %span.uploading-error-message
          -# Populated by app/assets/javascripts/dropzone_input.js
        %button.btn.gl-button.btn-link.gl-vertical-align-baseline.retry-uploading-link
          %span.gl-button-text
            = _("Try again")
        = _("or")
        %button.btn.gl-button.btn-link.attach-new-file.markdown-selector.gl-vertical-align-baseline
          %span.gl-button-text
            = _("attach a new file")
        = _(".")

      %button.btn.gl-button.btn-link.button-cancel-uploading-files.gl-vertical-align-baseline.hide
        %span.gl-button-text
          = _("Cancel")
