- issuable = @issue || @merge_request
- discussion_locked = issuable&.discussion_locked?

%ul#notes-list.notes.main-notes-list.timeline{ data: { 'testid': 'notes-list' } }
  = render "shared/notes/notes"

= render 'shared/notes/edit_form', project: @project

- if can_create_note?
  .notes.notes-form.timeline
    .timeline-entry.note-form
      .timeline-entry-inner
        .flash-container

        .timeline-content.timeline-content-form
          = render "shared/notes/form", view: diff_view, supports_autocomplete: autocomplete
- elsif !current_user
  .disabled-comment.gl-text-center.gl-text-subtle.gl-mt-3
    - link_to_register = link_to(_("register"), new_user_registration_path(redirect_to_referer: 'yes'), class: 'js-register-link')
    - link_to_sign_in = link_to(_("sign in"), new_session_path(:user, redirect_to_referer: 'yes'), class: 'js-sign-in-link')
    = _("Please %{link_to_register} or %{link_to_sign_in} to comment").html_safe % { link_to_register: link_to_register, link_to_sign_in: link_to_sign_in }
- elsif discussion_locked
  .disabled-comment.gl-text-center.gl-mt-3
    %span.issuable-note-warning
      = sprite_icon('lock', css_class: 'icon')
      %span
        = html_escape(_("This %{issuable} is locked. Only %{strong_open}project members%{strong_close} can comment.")) % { issuable: issuable.class.to_s.titleize.downcase, strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
-# haml-lint:disable InlineJavaScript
%script.js-notes-data{ type: "application/json" }= initial_notes_data(autocomplete).to_json.html_safe

#js-report-abuse-drawer
