- issuable = @issue || @merge_request
- discussion_locked = issuable&.discussion_locked?

%ul#notes-list.notes.main-notes-list.timeline
  = render "shared/notes/notes"

= render 'shared/notes/edit_form', project: @project

- if can_create_note?
  .notes.notes-form.timeline
    .timeline-entry.note-form
      .timeline-entry-inner
        .flash-container.timeline-content

        .timeline-icon.d-none.d-sm-none.d-md-block
          %a.author-link{ href: user_path(current_user) }
            = image_tag avatar_icon_for_user(current_user), alt: current_user.to_reference, class: 'avatar s40'
        .timeline-content.timeline-content-form
          = render "shared/notes/form", view: diff_view, supports_autocomplete: autocomplete
- elsif !current_user
  .disabled-comment.text-center.prepend-top-default
    - link_to_register = link_to(_("register"), new_session_path(:user, redirect_to_referer: 'yes', anchor: 'register-pane'), class: 'js-register-link')
    - link_to_sign_in = link_to(_("sign in"), new_session_path(:user, redirect_to_referer: 'yes'), class: 'js-sign-in-link')
    = _("Please %{link_to_register} or %{link_to_sign_in} to comment").html_safe % { link_to_register: link_to_register, link_to_sign_in: link_to_sign_in }
- elsif discussion_locked
  .disabled-comment.text-center.prepend-top-default
    %span.issuable-note-warning
      = sprite_icon('lock', size: 16, css_class: 'icon')
      %span
        = _("This %{issuable} is locked. Only <strong>project members</strong> can comment.").html_safe % { issuable: issuable.class.to_s.titleize.downcase }
-# haml-lint:disable InlineJavaScript
%script.js-notes-data{ type: "application/json" }= initial_notes_data(autocomplete).to_json.html_safe
