- page_title "Groups"
= render 'dashboard/groups_head'

.slead
  Group members have access to all group projects.
  - if current_user.can_create_group?
    %span.pull-right.hidden-xs
      = link_to new_group_path, class: "btn btn-new btn-sm" do
        %i.fa.fa-plus
        New Group
.panel.panel-default
  .panel-heading
    %strong Groups
    (#{@group_members.count})
  %ul.well-list
    - @group_members.each do |group_member|
      - group = group_member.group
      %li
        .pull-right.hidden-xs
          - if can?(current_user, :admin_group, group)
            = link_to edit_group_path(group), class: "btn-sm btn btn-grouped" do
              %i.fa.fa-cogs
              Settings

          = link_to leave_group_group_members_path(group), data: { confirm: leave_group_message(group.name) }, method: :delete, class: "btn-sm btn btn-grouped", title: 'Leave this group' do
            %i.fa.fa-sign-out
            Leave

        = image_tag group_icon(group), class: "avatar s40 avatar-tile hidden-xs"
        = link_to group, class: 'group-name' do
          %strong= group.name

        as
        %strong #{group_member.human_access}

        %div.light
          #{pluralize(group.projects.count, "project")}, #{pluralize(group.users.count, "user")}

= paginate @group_members
