- content_for :usage_quotas_alerts do
  = render Pajamas::AlertComponent.new(title: _('Repository usage recalculation started'),
    variant: :info,
    alert_options: { class: 'js-recalculation-started-alert gl-mt-4 gl-mb-5 gl-hidden' }) do |c|
    - c.with_body do
      = _('To view usage, refresh this page in a few minutes.')

- content_for :usage_quotas_subtitle do
  = safe_format(s_('UsageQuota|Usage of project resources across the %{strong_start}%{project_name}%{strong_end} project.'),
    { project_name: @project.name },
    tag_pair(tag.strong, :strong_start, :strong_end))
  %a{ href: help_page_path('user/storage_usage_quotas.md'), target: '_blank', rel: 'noopener noreferrer' }
    = s_('UsageQuota|Learn more about usage quotas.')

- content_for :usage_quotas_tabs do
  #js-storage-usage-app{ data: { project_path: @project.full_path } }
  = render_if_exists 'projects/usage_quotas/transfer_tab_content'
  = render_if_exists 'shared/usage_quotas/tabs_content/observability'
  = render_if_exists 'projects/usage_quotas/pages'

= render 'shared/usage_quotas/index'
