- if @ci_commit or @merge_request.has_ci?
  .mr-widget-heading
    - if @merge_request.has_ci?
      .ci_widget.ci-widget-fetching
        = icon('spinner spin')
        %span
          Checking CI status for #{@merge_request.last_commit_short_sha}&hellip;
    - %w[success skipped canceled failed running pending].each do |status|
      .ci_widget{ class: "ci-#{status}", style: ("display:none" unless status == @ci_commit.status) }
        = ci_icon_for_status(status)
        %span
          CI build
          = ci_label_for_status(status)
        for
        - commit = @merge_request.last_commit
        = succeed "." do
          = link_to commit.short_id, namespace_project_commit_path(@merge_request.source_project.namespace, @merge_request.source_project, commit), class: "monospace"
        %span.ci-coverage
        - if details_path = builds_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)
          = link_to "View details", details_path, :"data-no-turbolink" => "data-no-turbolink"
    - if @merge_request.has_ci?
      - # Compatibility with old CI integrations (ex jenkins) when you request status from CI server via AJAX
      - # Remove in later versions when services like Jenkins will set CI status via Commit status API
      .ci_widget.ci-not_found{style: "display:none"}
        = icon("times-circle")
        Could not find CI status for #{@merge_request.last_commit_short_sha}.

      .ci_widget.ci-error{style: "display:none"}
        = icon("times-circle")
        Could not connect to the CI server. Please check your settings and try again.

      :javascript
        $(function() {
          merge_request_widget.getCIState();
        });
