.mr-state-widget.mr-state-merged{"v-if"=>"state.merged"}
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      Merged by 
      %a.author_link{"v-bind:href"=>"state.author_link"}
        %img.avatar.avatar-inline.s16{width: 16, "v-bind:src"=>"state.avatar",alt:""}
        %span.author
          {{state.author}}

        #{time_ago_with_tooltip(@merge_request.merge_event.created_at)}
    %div
      %template{"v-if"=>"state.source_branch_unavailable"}
        The changes were merged into
        %a.label-branch{"v-bind:href"=>"state.target_branch_url"}
          {{state.target_branch}}
        The source branch has been removed.

      .remove_source_branch_widget{"v-if"=>"state.removeable_branch"}
        %p
          The changes were merged into
          %a.label-branch{"v-bind:href"=>"state.target_branch_url"}
            {{state.target_branch}}
          You can remove the source branch now.
        %a.btn.btn-primary.btn-sm.remove_source_branch{"v-on:click.prevent"=>"deleteBranchClicked"}
          %i.fa.fa-times
          Remove Source Branch

      .remove_source_branch_widget.failed.hide
        %p
          Failed to remove source branch '#{@merge_request.source_branch}'.

      .remove_source_branch_in_progress.hide
        %p
          = icon('spinner spin')
          Removing source branch '#{@merge_request.source_branch}'. Please wait, this page will be automatically reloaded.

        :javascript
          $('.remove_source_branch').on('click', function() {
            $('.remove_source_branch_widget').hide();
            $('.remove_source_branch_in_progress').show();
          });

          $(".remove_source_branch").on("ajax:success", function (e, data, status, xhr) {
            location.reload();
          });

          $(".remove_source_branch").on("ajax:error", function (e, data, status, xhr) {
            $('.remove_source_branch_widget').hide();
            $('.remove_source_branch_in_progress').hide();
            $('.remove_source_branch_widget.failed').show();
          });
