- edit_link = dns_list.is_a?(DnsIpBlacklist) ? edit_admin_ip_blocking_dns_blacklist_path(dns_list.id) : edit_admin_ip_blocking_dns_whitelist_path(dns_list.id)
- remove_link = dns_list.is_a?(DnsIpBlacklist) ? admin_ip_blocking_dns_blacklist_path(dns_list.id) : admin_ip_blocking_dns_whitelist_path(dns_list.id)

%tr
  %td= dns_list.domain
  %td= dns_list.weight
  %td= dns_list.user.name if dns_list.user
  %td= dns_list.created_at.strftime('%Y-%m-%d %H:%M')
  %td= dns_list.updated_at.strftime('%Y-%m-%d %H:%M')
  %td
    .pull-right.controls
      = link_to edit_link, title: 'Edit', class: 'btn btn-grouped btn-xs has_tooltip'  do
        %i.fa.fa-edit
      = link_to remove_link, method: :delete, title: 'Remove', class: 'btn btn-grouped btn-xs btn-remove remove-row has_tooltip', data: { confirm: 'Are You sure?' } do
        %i.fa.fa-trash-o
