.pull-left
  = form_for @row, url: url, html: { class: 'form-inline fieldset-form' } do |f|
    - if @row.errors.any?
      #error_explanation
        .alert.alert-danger
          - @row.errors.full_messages.each do |msg|
            %p= msg

    .fieldset
      .form-group
        = f.text_field :domain, class: 'form-control', placeholder: 'Domain, eg. blacklist.rbl.tld'
        = f.number_field :weight, class: 'form-control', placeholder: '1', step: 1, min: 1, max: 100
        = f.submit 'Save DNS list', class: 'btn btn-primary'
