.devops-card-wrapper
  .devops-card{ class: "devops-card-#{score_level(card.percentage_score)}" }
    .devops-card-title
      %h3
        = card.title
      .light-text
        = card.description
    .board-card-scores
      .board-card-score
        .board-card-score-value
          = format_score(card.instance_score)
        .board-card-score-name= _('You')
      .board-card-score
        .board-card-score-value
          = format_score(card.leader_score)
        .board-card-score-name= _('Lead')
    .board-card-score-big
      = number_to_percentage(card.percentage_score, precision: 1)
    .board-card-buttons
      - if card.blog
        %a{ href: card.blog }
          = icon('info-circle', 'aria-hidden' => 'true')
      - if card.docs
        %a{ href: card.docs }
          = icon('question-circle', 'aria-hidden' => 'true')
