- page_title 'Trial license'
.container-fluid.trial-form-container
  .text-center.start-trial-header
    %h2 Free Trial of GitLab Enterprise Edition
    %p.lead.trial-description No credit card required. 30 days free trial of all premium features.

  .row.start-trial-body
    .col-md-6
      .section-body.ee-features
        %ul.list-unstyled.feature-list
          %li.row
            .col-md-4
              = custom_icon("ee_ldap_sync")
            .col-md-8.prepend-top-15.feature-item-description
              %h4 LDAP Group Sync
              %p
                Automatically sync groups and manage SSH-keys, permissions,
                and authentication.
          %li.row
            .col-md-4
              = custom_icon("ee_mr_approvals")
            .col-md-8.prepend-top-15.feature-item-description
              %h4 Merge Request Approval
              %p
                Make sure every merge request is approved by one or more people.
          %li.row
            .col-md-4
              = custom_icon("ee_audit_events")
            .col-md-8.prepend-top-15.feature-item-description
              %h4 Project Audit Events
              %p
                View any modifications made within the GitLab server in an
                advanced audit log system.
          %li.row
            .col-md-4
              = custom_icon("ee_file_locking")
            .col-md-8.prepend-top-15.feature-item-description
              %h4 File Locking
              %p
                Scan or modify the code to meet your security and development needs.
        %hr
        %p.text-center
          = link_to 'More premium features', '#'

    .col-md-6
      .section-body.trial-form
        = form_tag admin_trials_path, method: :post do
          .form-group
            = label_tag :first_name
            = text_field_tag :first_name, params[:first_name], class: "form-control", required: true
          .form-group
            = label_tag :last_name
            = text_field_tag :last_name, params[:last_name], class: "form-control", required: true
          .form-group
            = label_tag :work_email
            = text_field_tag :work_email, params[:work_email], class: "form-control", required: true
          .form-group
            = label_tag :company_name
            = text_field_tag :company_name, params[:company_name], class: "form-control", required: true
          .form-group
            = label_tag :phone_number
            = text_field_tag :phone_number, params[:phone_number], class: "form-control", required: true
          %hr
          .form-group
            = label_tag :number_of_developers
            = text_field_tag :number_of_developers, params[:number_of_developers], class: "form-control", required: true
          .form-group
            = label_tag :number_of_users
            = text_field_tag :number_of_users, params[:number_of_users], class: "form-control", required: true
          .form-group
            = label_tag :country
            = select_tag :country, options_for_select(CountryCodes.for_select, params[:country]), prompt: '- Select One -', class: "form-control", required: true
          .form-group
            = submit_tag 'Start your free trial', class: "btn btn-primary"
