- project = local_assigns[:project].nil? || local_assigns[:project]
- assigned = false unless local_assigns[:assigned] == true

%li
  .gl-flex.gl-gap-3
    - if assigned
      .gl-min-w-6.gl-w-6
        = sprite_icon('status-success', variant: 'success', css_class: 'gl-mt-3')
    - else
      .gl-hidden.md:gl-block.gl-w-6

    = render Pajamas::AvatarComponent.new(project, size: 32, avatar_options: { aria: { hidden: "true" } })
    .gl-grow.gl-self-center
      %h3.gl-m-0.gl-text-base
        = project.full_name
      - if project.description
        %p.gl-mb-0.gl-text-sm.gl-text-subtle
          = project.description
    .gl-self-start
      = yield
