%tr
  %td
    = chat_name.team_domain
  %td
    = chat_name.chat_name
  %td
    - if chat_name.last_used_at
      = time_ago_with_tooltip(chat_name.last_used_at)
    - else
      = _('Never')

  %td
    = link_button_to _('Remove'), profile_chat_name_path(chat_name), method: :delete, class: 'gl-float-right', aria: { label: _('Remove') }, data: { confirm: _('Are you sure you want to remove this nickname?'), confirm_btn_variant: 'danger' }, variant: :danger
