- page_title _('Chat')
- @content_class = "limit-container-width" unless fluid_layout

.row.gl-mt-3
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
      = _('You can see your chat accounts.')

  .col-lg-8
    %h5 Active chat names (#{@chat_names.size})

    - if @chat_names.present?
      .table-responsive
        %table.table.chat-names
          %thead
            %tr
              %th= _('Project')
              %th= _('Service')
              %th= _('Team domain')
              %th= _('Nickname')
              %th= _('Last used')
              %th
          %tbody
            = render @chat_names

    - else
      .settings-message.text-center
        = _("You don't have any active chat names.")
