- issuable = local_assigns.fetch(:issuable)
- form = local_assigns.fetch(:form)

- return unless issuable.is_a?(MergeRequest)
- return unless issuable.for_fork?
- return unless can?(current_user, :push_code, issuable.source_project)

%hr

.form-group.row
  %label.col-form-label.col-sm-2
    = _('Contribution')
  .col-sm-10
    .form-check.prepend-top-5
      = form.check_box :allow_collaboration, disabled: !issuable.can_allow_collaboration?(current_user), class: 'form-check-input'
      = form.label :allow_collaboration, class: 'form-check-label' do
        = _('Allow commits from members who can merge to the target branch.')
        = link_to 'About this feature', help_page_path('user/project/merge_requests/allow_collaboration')
        .form-text.text-muted
          = allow_collaboration_unavailable_reason(issuable)
