= link_to new_namespace_project_snippet_path(@project.namespace, @project), class: 'btn btn-grouped new-snippet-link', title: "New Snippet" do
  = icon('plus')
  New Snippet
- if can?(current_user, :admin_project_snippet, @snippet)
  = link_to namespace_project_snippet_path(@project.namespace, @project, @snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grouped btn-remove", title: 'Delete Snippet' do
    = icon('trash-o')
    Delete
- if can?(current_user, :update_project_snippet, @snippet)
  = link_to edit_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-grouped snippable-edit" do
    = icon('pencil-square-o')
    Edit
