- page_title @snippet.title, "Snippets"
%h3.page-title
  = @snippet.title

  .pull-right
    = link_to new_namespace_project_snippet_path(@project.namespace, @project), class: "btn btn-new", title: "New Snippet" do
      Add new snippet

%hr

.append-bottom-20
  .pull-right
    = "##{@snippet.id}"
    %span.light
      by
      = link_to user_path(@snippet.author) do
        = image_tag avatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
        = @snippet.author_name

  .back-link
    = link_to namespace_project_snippets_path(@project.namespace, @project) do
      &larr; project snippets

.file-holder
  .file-title
    %i.fa.fa-file
    %strong
      = @snippet.file_name
    .file-actions
      .btn-group
        - if can?(current_user, :update_project_snippet, @snippet)
          = link_to "edit", edit_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", title: 'Edit Snippet'
        = link_to "raw", raw_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", target: "_blank"
      - if can?(current_user, :admin_project_snippet, @snippet)
        = link_to "remove", namespace_project_snippet_path(@project.namespace, @project, @snippet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-remove", title: 'Delete Snippet'
  = render 'shared/snippets/blob'

%div#notes= render "projects/notes/notes_with_form"
