- page_title @snippet.title, "Snippets"
= render "header_title"
= render 'shared/snippets/header'

.file-holder
  .file-title
    %i.fa.fa-file
    %strong
      = @snippet.file_name
    .file-actions
      .btn-group
        = link_to "raw", raw_namespace_project_snippet_path(@project.namespace, @project, @snippet), class: "btn btn-sm", target: "_blank"

%div#notes= render "projects/notes/notes_with_form"
