%h3.page-title
  = @snippet.title

  %small.pull-right
    = "##{@snippet.id}"
    %span.light
      by
      = image_tag avatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
      = @snippet.author_name
%div= render 'projects/snippets/blob'
%div#notes= render "projects/notes/notes_with_form"
