#{@abuse_report.user.name} (@#{@abuse_report.user.username}) 被 #{@abuse_report.reporter.name} (@#{@abuse_report.reporter.username}) 举报为滥用行为。
\
> #{@abuse_report.message}
\
查看明细: #{admin_abuse_reports_url}
