- add_to_breadcrumbs _('Webhook Settings'), namespace_project_hooks_path
- page_title _('Webhook Logs')

%h2.page-title.gl-text-size-h-display
  = _("Request details")

%hr

- if @hook_log.oversize?
  = render Pajamas::ButtonComponent.new(button_options: { class: "gl-float-right gl-ml-3 has-tooltip", disabled: true, title: _("Request data is too large") }) do
    = _("Resend Request")
- else
  = link_button_to _("Resend Request"), @hook_log.present.retry_path, method: :post, class: 'gl-float-right gl-ml-3'

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
