%h3.page-title
  = @service.title

%p= @service.description

= form_for @service, as: :service, url: admin_application_settings_integration_path, method: :put, html: { class: 'gl-show-field-errors fieldset-form integration-settings-form js-integration-settings-form', data: { 'can-test' => @service.can_test?, 'test-url' => test_admin_application_settings_integration_path(@service) } } do |form|
  = render 'shared/service_settings', form: form, service: @service

  - if @service.editable?
    .footer-block.row-content-block
      = service_save_button(@service)
      = link_to _('Cancel'), admin_application_settings_integration_path, class: 'btn btn-cancel'
