= form_for [@project, @wiki] do |f|
  -if @wiki.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wiki.errors.count, "error")} prohibited this wiki from being saved:"
      %ul
        - @wiki.errors.full_messages.each do |msg|
          %li= msg

  .ui-box.ui-box-show
    .ui-box-head
      = f.label :title
      .input= f.text_field :title, class: 'span8'
      = f.hidden_field :slug
    .ui-box-body
      .input
        %span.cgray
          Wiki content is parsed with #{link_to "GitLab Flavored Markdown", help_markdown_path, target: '_blank'}.
          To link to a (new) page you can just type
          %code [Link Title](page-slug)
          \.

    .ui-box-bottom
      = f.label :content
      .input= f.text_area :content, class: 'span8 js-gfm-input'
  .actions
    = f.submit 'Save', class: "btn-save btn"
    = link_to "Cancel", project_wiki_path(@project, :index), class: "btn btn-cancel"
