%h3.page_title
  %span.cgray History for
  = @wiki_pages.first.title
%br
%table
  %thead
    %tr
      %th Page version
      %th Last updated
      %th Updated by
  %tbody
    - @wiki_pages.each_with_index do |wiki_page, i|
      %tr
        %td
          %strong
            = link_to project_wiki_path(@project, wiki_page, version_id: wiki_page.id) do
              Version
              = @wiki_pages.count - i
        %td
          = wiki_page.created_at.to_s(:short)
          (#{time_ago_in_words(wiki_page.created_at)}
          ago)
        %td= link_to_member(@project, wiki_page.user)
