%h3=t '.title'
%table
  %thead
    %tr
      %th=t '.id'
      %th=t '.last_edit'
      %th=t '.created_by'
  %tbody
    - @wikis.each_with_index do |wiki_page, i|
      %tr
        %td= i + 1
        %td
          = link_to wiki_page.created_at.stamp(t('global.full_timestamp')), project_wiki_path(@project, wiki_page, :old_page_id => wiki_page.id)
          (#{time_ago_in_words(wiki_page.created_at)} #{t 'global.ago'})
        %td= wiki_page.user.name

