= render 'wikis/nav'
%h3.page_title
  %span.light History for
  = @wiki.title.titleize
  = render partial: 'main_links'
%br
%table
  %thead
    %tr
      %th Page version
      %th Author
      %th Commit Message
      %th Last updated
      %th Format
  %tbody
    - @wiki.versions.each do |version|
      - commit = CommitDecorator.new(version)
      %tr
        %td
          = link_to project_wiki_path(@project, @wiki, version_id: commit.id) do
            = commit.short_id
        %td= commit.author_link avatar: true, size: 24
        %td
          = commit.title
        %td
          = time_ago_in_words(version.date)
          ago
        %td
          %strong
            = @wiki.page.wiki.page(@wiki.page.name, commit.id).try(:format)
