%h3.page_title All Pages
%br
%table
  %thead
    %tr
      %th Title
      %th Slug
      %th Last updated
      %th Updated by
  %tbody
    - @wiki_pages.each do |wiki_page|
      %tr
        %td
          %strong= link_to wiki_page.title, project_wiki_path(@project, wiki_page)
        %td= wiki_page.slug
        %td
          = wiki_page.created_at.to_s(:short) do
            (#{time_ago_in_words(wiki_page.created_at)}
            ago)
        %td= link_to_member(@project, wiki_page.user)
