= render 'wikis/nav'
%h3.page_title
  All Pages
  = render partial: 'main_links'
%br
%table
  %thead
    %tr
      %th Title
      %th Format
      %th Last updated
      %th Updated by
  %tbody
    - @wiki_pages.each do |wiki_page|
      %tr
        %td
          %strong= link_to wiki_page.title.titleize, project_wiki_path(@project, wiki_page)
        %td
          %strong= wiki_page.format
        %td
          = wiki_page.created_at.to_s(:short) do
            (#{time_ago_in_words(wiki_page.created_at)}
            ago)
        - commit = CommitDecorator.decorate(wiki_page.version)
        %td= commit.author_link avatar: true, size: 24
