%h3.page_title
  = @wiki.title
  %span.pull-right
    = link_to pages_project_wikis_path(@project), class: "btn btn-small grouped" do
      Pages
    - if can? current_user, :write_wiki, @project
      = link_to history_project_wiki_path(@project, @wiki), class: "btn btn-small grouped" do
        History
      = link_to edit_project_wiki_path(@project, @wiki), class: "btn btn-small grouped" do
        %i.icon-edit
        Edit
%br
- if @wiki != @most_recent_wiki
  .warning_message
    This is an old version of this page.
    You can view the #{link_to "most recent version", project_wiki_path(@project, @wiki)} or browse the #{link_to "history", history_project_wiki_path(@project, @wiki)}.

.file_holder
  .file_content.wiki
    = preserve do
      = markdown @wiki.content

%p.time Last edited by #{link_to_member @project, @wiki.user}, #{time_ago_in_words @wiki.created_at} ago
