%h3.page_title
  = @wiki.title
  %span.right
    = link_to pages_project_wikis_path(@project), class: "btn small grouped" do
      Pages
    - if can? current_user, :write_wiki, @project
      = link_to history_project_wiki_path(@project, @wiki), class: "btn small grouped" do
        History
      = link_to edit_project_wiki_path(@project, @wiki), class: "btn small grouped" do
        %i.icon-edit
        Edit
%br
.file_holder
  .file_content.wiki
    = preserve do
      = markdown @wiki.content

%p.time Last edited by #{@wiki.user.name}, #{time_ago_in_words @wiki.created_at} ago
- if can? current_user, :admin_wiki, @project
  = link_to project_wiki_path(@project, @wiki), confirm: "Are you sure you want to delete this page?", method: :delete do
    Delete this page
