%h3
  = @wiki.title
  %span.right
    - if can? current_user, :write_wiki, @project
      = link_to history_project_wiki_path(@project, @wiki), :class => "btn small padded" do
        History
      = link_to edit_project_wiki_path(@project, @wiki), :class => "btn small" do
        Edit
%hr

= markdown_to_html @wiki.content

%p.time Last edited by #{@wiki.user.name}, in #{time_ago_in_words @wiki.created_at}
- if can? current_user, :admin_wiki, @project
  = link_to project_wiki_path(@project, @wiki), :confirm => "Are you sure you want to delete this page?", :method => :delete do
    Delete this page
