- last_commit = project.last_commit
%tr
  %td
    = link_to [:ci, project] do
      = project.name
  %td
    - if last_commit
      = ci_status_with_icon(last_commit.status)
      = commit_link(last_commit)
      &middot;
      - if project.last_commit_date
        = time_ago_in_words project.last_commit_date
        ago
    - else
      No builds yet
  %td
    - if project.public
      %i.fa.fa-globe
      Public
    - else
      %i.fa.fa-lock
      Private
  %td
    = project.commits.count
