- if current_user
  .gray-content-block.top-block
    = render "search"
  .projects
    .gray-content-block.clearfix.light.second-block
      .pull-left.fetch-status
        - if params[:search].present?
          by keyword: "#{params[:search]}",
        #{@total_count} projects

    .wide-table-holder
      %table.table.projects-table.content-list
        %thead
          %tr
            %th Project Name
            %th Last commit
            %th Access
            %th Commits

        = render @projects
    = paginate @projects, theme: 'gitlab'
- else
  = render 'public'
