- message = local_assigns.fetch(:message, nil)
- content_for(:title, 'Access Denied')

= image_tag('illustrations/error-403.svg', alt: '403', lazy: false)
.container
  %h3
    = s_("403|You don't have the permission to access this page.")
  - if message
    %p
      = message
  %p
    = s_('403|Please contact your GitLab administrator to get permission.')
  .action-container.js-go-back{ hidden: true }
    %button{ type: 'button', class: 'gl-button btn btn-success' }
      = s_('Go Back')
= render "errors/footer"
