.alert-message.block-message.error
  %h3
    = t '.title'
  %hr
  %h4
    = t '.desc'
  %ol
    %li
      %p
        = t '.suggestions.first'
    %li
      %p
        = t '.suggestions.second.desc'
        %a{:href => "https://github.com/gitlabhq/gitlabhq/wiki/Gitolite"}
          = t '.suggestions.second.href'
    %li
      %p
        = t '.suggestions.third'
      %pre
        = preserve do
          sudo chmod -R 770 /home/git/repositories/
          sudo chown -R git:git /home/git/repositories/
