- message = local_assigns.fetch(:message, nil)
- content_for(:title, 'Request Conflict')

.error-container
  = image_tag('illustrations/error/error-409-lg.svg', alt: '409', lazy: false)
  %h1
    = s_("409|409: There was a conflict with your request")
  - if message
    %p
      = message
  %p
    = s_('409|Please contact your GitLab administrator if you think this is a mistake.')
  .action-container.js-go-back{ hidden: true }
    = render Pajamas::ButtonComponent.new(variant: :confirm) do
      = _('Go Back')
  = render 'errors/footer'
