- content_for(:title, 'Service unavailable')
.error-container
  = image_tag('illustrations/error/error-503-lg.svg', alt: '503', lazy: false)
  %h1
    = s_("503|503: We're sorry, GitLab is currently unavailable")
  - if message
    %p
      = message
  %p
    = s_('503|Try refreshing the page, or going back and attempting the action again.')
  %p
    = s_('503|Please contact your GitLab administrator if you think this is a mistake.')

  = render 'errors/footer'
