- create_access_level = protected_tag.create_access_levels.for_role.first
- user_create_access_levels = protected_tag.create_access_levels.for_user
- group_create_access_levels =protected_tag.create_access_levels.for_group

%td
  = hidden_field_tag "allowed_to_create_#{protected_tag.id}", create_access_level&.access_level
  = dropdown_tag( (create_access_level&.humanize || 'Select') ,
                 options: { toggle_class: 'js-allowed-to-create', dropdown_class: 'dropdown-menu-selectable capitalize-header js-allowed-to-create-container',
                 data: { field_name: "allowed_to_create_#{protected_tag.id}", access_level_id: create_access_level&.id }})
  - if user_create_access_levels.any?
    %p.small
      The following
      #{ 'user'.pluralize(user_create_access_levels.size) }
      can also create tags:
      #{ user_create_access_levels.map(&:humanize).to_sentence }
  - if group_create_access_levels.any?
    %p.small
      Members of
      #{ group_create_access_levels.size > 1 ? 'these groups' : 'this group' }
      can also create tags:
      #{ group_create_access_levels.map(&:humanize).to_sentence }
