%li
  %span.text-secondary-500.svg-icon.svg-baseline= sprite_icon('book', size: 16)
  = wiki_page_link(wiki_page, @nesting, @project)
  .float-right
    %span.badge.badge-pill.wiki-page-format= _(wiki_page.format)
    - if wiki_page.last_version
      = '/'
      %small= (s_("Last edited %{date}") % { date: time_ago_with_tooltip(wiki_page.last_version.authored_date) }).html_safe
