- @no_container = true
- breadcrumb_title _("Custom Emoji")
- page_title _("New Custom Emoji")

%div{ class: container_class }
  .nav-controls
    = form_for(url, html: { class: 'form-horizontal gl-show-field-errors' }) do |f|
      = form_errors(@custom_emoji)

      .row
        = f.label :name
        = f.text_field :name, class: 'form-control', placeholder: _('emoji name')

      .row.form-group
        = f.file_field :file, accept: 'image/*'
        .light
          = _('the maximum file size allowed is 128Kb.')

      = f.submit _('Add custom emoji'), class: 'btn btn-create'
