- @no_container = true
- breadcrumb_title _("Custom Emoji")
- page_title _("New Custom Emoji")

%div{ class: container_class }
  = form_for(url, html: { class: 'form-horizontal gl-show-field-errors prepend-top-default' }) do |f|
    = form_errors(@custom_emoji)

    .row
      .col-lg-4
        %h4.prepend-top-0
          New custom emoji
        %p
          We recommend your emoji image be at least 64x64.

      .col-lg-8
        %h5.prepend-top-0
        = f.text_field :name, class: 'form-control append-bottom-10', placeholder: _('emoji-name')
        .prepend-top-5.append-bottom-10
          %a.btn.js-choose-custom-emoji-image-button
            Browse file...
          %span.file_name.prepend-left-default.js-avatar-filename No file chosen
          = f.file_field :file, class: 'js-custom-emoji-image-input hidden', accept: 'image/*'
        .help-block
          = _('The maximum file size allowed is 128Kb.')
        %hr
        = f.submit _('Save new emoji'), class: 'btn btn-create'
