- page_title s_('CustomEmoji|Custom Emoji')

%h4
  = s_('CustomEmoji|New custom emoji')

%p
  = s_('CustomEmoji|Custom Emoji can be used in for example titles, descriptions and notes for both issues and merge requests. They can also be used as award emoji.')

= form_for(url, html: { class: 'gl-show-field-errors prepend-top-default' }) do |f|
  = form_errors(@new_custom_emoji)

  = f.label s_('CustomEmoji|Add a new custom emoji')

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control append-bottom-10', placeholder: s_('CustomEmoji|emoji_name')

  .form-group
    = f.label :file, s_('CustomEmoji|Image')
    .prepend-top-5.append-bottom-10
      %a.btn.js-browse-file-button{ role: 'button', data: { id: 'custom-emoji-image' } }
        = _('Browse file...')
      %span.file_name.prepend-left-default.js-browse-file-name{ data: { id: 'custom-emoji-image' } }
        = _('No file chosen')
      = f.file_field :file, accept: 'image/*', class: 'js-browse-file-input hidden', data: { id: 'custom-emoji-image' }
    .help-block
      = s_('CustomEmoji|We recommend your emoji image be at least 64x64px. The maximum file size allowed is 128Kb.')

  .form-group
    = f.submit s_('CustomEmoji|Add new emoji'), class: 'btn btn-success'


.table-responsive
  %table.table
    %thead
      %tr
        %th
          = s_('CustomEmoji|Image')
        %th
          = s_('CustomEmoji|Name')
        %th
    - @custom_emoji.each do |emoji|
      = render "shared/custom_emoji/emoji_row", emoji: emoji
