- if @feature_flag.errors.any?
  #error_explanation
    .alert.alert-danger
      - @feature_flag.errors.full_messages.each do |msg|
        %p= msg

%fieldset
  .row
    .form-group.col-md-4
      = f.label :name, class: 'label-light', for: 'feature_flag_name' do
        = s_('FeatureFlags|Name')
      = f.text_field :name, class: "form-control", id: "feature_flag_name"
  .row
    .form-group.col-md-4
      = f.label :description, class: 'label-light', for: 'feature_flag_description' do
        = s_('FeatureFlags|Description')
      = f.text_area :description, class: "form-control", id: "feature_flag_description", rows: 4
  .row
    .form-group.col-md-1
      = f.label :active, class: 'label-light' do
        = s_('FeatureFlags|Status')
      .form-check
        = f.check_box :active, id: 'feature_flag_status', class: 'form-check-input'
        = f.label :active, for: 'feature_flag_status', class: 'form-check-label' do
          = s_('FeatureFlags|Active')
.form-actions
  - if @feature_flag.persisted?
    = f.submit 'Save changes', class: "btn btn-save"
  - else
    = f.submit 'Create feature flag', class: "btn btn-save"
  .float-right
    = link_to _('Cancel'), project_feature_flags_path(@project), class: 'btn btn-cancel'
