- if @feature_flag.errors.any?
  #error_explanation
    .alert.alert-danger
      - @feature_flag.errors.full_messages.each do |msg|
        %p= msg

- unless @feature_flag.persisted?
  .form-group.row
    = f.label :name, class: 'col-form-label col-sm-2' do
      Name
    .col-sm-10
      = f.text_field :name, required: true, autocomplete: 'off', class: 'form-control', disabled: @feature_flag.persisted?

.form-group.row
  = f.label :active, class: 'col-form-label col-sm-2' do
    Active
  .col-sm-10
    = f.check_box :active

.form-group.row
  = f.label :description, class: 'col-form-label col-sm-2' do
    Description
  .col-sm-10
    = f.text_area :description, rows: 5, class: 'form-control'
    %span.help-inline Write a description of your feature flag
