.card
  .card-header
    Feature flags
    .badge.badge-pill
      = @feature_flags.count
  %ul.content-list.pages-domain-list
    - if @feature_flags.empty?
      %li
        .nothing-here-block
          = s_('FeatureFlags|No feature flags found.')
    - else
      - @feature_flags.each do |feature_flag|
        %li.pages-domain-list-item.unstyled
          = feature_flag.name

          %div.controls.d-none.d-md-block
            = link_to 'Edit', edit_project_feature_flag_path(@project, feature_flag), class: "btn btn-sm btn-grouped"
            = link_to 'Remove', project_feature_flag_path(@project, feature_flag), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove btn-sm btn-grouped"

          %p
            - if feature_flag.active?
              %span.badge.badge-success Enabled
            - else
              %span.badge.badge-danger Disabled