- page_title 'Feature Flags'

%h3.page-title.with-button
  Feature Flags

  .pull-right
    %button.btn.btn-default{ type: 'button', data: { toggle: 'modal', target: '#configure-feature-flags-modal' } }
      = s_('FeatureFlags|Configure')

    = render 'new_feature_flag_button'

= render 'configure_feature_flags_modal'

- if @feature_flags.empty?
  = render 'empty_state'
- else
  = render 'table'
