- page_title 'Feature Flags'

%h3.page-title.with-button
  Feature Flags

  .pull-right
    %button.btn.btn-default{ type: 'button', data: { toggle: 'modal', target: '#configure-feature-flags-modal' } }
      = s_('FeatureFlags|Configure')

    - if can?(current_user, :create_feature_flags, @project)
      = link_to new_project_feature_flag_path(@project), class: 'btn btn-new' do
        = s_('FeatureFlags|New Feature Flag')

%p.light
  With GitLab Feature Flags

%hr.clearfix

= render 'configure_feature_flags_modal'
= render 'list'
