- issuable = local_assigns.fetch(:issuable)

- return unless issuable.supports_weight?

- has_due_date = issuable.has_attribute?(:due_date)
- form = local_assigns.fetch(:form)

.form-group.row
  = form.label :label_ids, class: "col-form-label col-md-2 #{"col-lg-4" if has_due_date}" do
    Weight
  .col-md-10{ class: ("col-lg-8" if has_due_date) }
    .issuable-form-select-holder
      - if issuable.weight
        = form.hidden_field :weight

      = weight_dropdown_tag(issuable, toggle_class: 'js-issuable-form-weight') do
        %ul
          - Issue.weight_options.each do |weight|
            %li
              %a{ href: '#', data: { id: weight, none: weight === Issue::WEIGHT_NONE }, class: ("is-active" if issuable.weight == weight) }
                = weight
