- @registries.each do |project_registry|
  .card.project-card.prepend-top-15
    .card-header{ id: "project-#{project_registry.project.id}-header" }
      %h5.mb-0.mt-0.p-2.d-flex
        %button.btn.btn-link.btn-card-header.d-flex.flex-fill{ type: 'button', data: { toggle: 'collapse', target: "#project-#{project_registry.project.id}" }, 'aria-expanded' => 'true', 'aria-controls' => "project-#{project_registry.project.id}" }
          = sprite_icon('chevron-down', size: 18, css_class: 'card-expand-icon')
          = sprite_icon('chevron-up', size: 18, css_class: 'card-collapse-icon')
          %strong.header-text
            = project_registry.project.name
        = link_to(recheck_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-outline btn-sm mr-2') do
          = s_('Geo|Recheck')
        = link_to(resync_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-outline-primary btn-sm') do
          Resync

    .collapse.show{ id: "project-#{project_registry.project.id}", 'aria-labelledby' => "project-#{project_registry.project.id}-header" }
      .card-body
        .container
          .row
            .col-sm.project-status-container
              .project-status-title.text-muted
                Status
              .project-status-content.status-type-failure
                Pending
            .col-sm.project-status-container
              .project-status-title.text-muted
                Next sync scheduled at
              .project-status-content
                = distance_of_time_in_words(Time.now, project_registry.repository_retry_at) if project_registry.repository_retry_at
            .col-sm.project-status-container
              .project-status-title.text-muted
                Last sync attempt
              .project-status-content
                - if project_registry.last_repository_synced_at
                  = distance_of_time_in_words(Time.now, project_registry.last_repository_synced_at)
                - else
                  Never

= paginate @registries, theme: 'gitlab'
