- @registries.each do |project_registry|
  .card.project-card.prepend-top-15
    .card-header{ id: "project-#{project_registry.project.id}-header" }
      .d-flex
        %strong.header-text-primary.flex-fill
          = project_registry.project.full_name
        = link_to(recheck_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-outline btn-sm mr-2') do
          = s_('Geo|Recheck')
        = link_to(resync_admin_geo_project_path(project_registry), method: :post, class: 'btn btn-outline-primary btn-sm') do
          = s_('Geo|Resync')

    .card-body
      .container.project-container
        .row
          .col-sm.project-status-container
            .project-status-title.text-muted
              = s_('Geo|Status')
            .project-status-content
              = s_('Geo|Pending')
          .col-sm.project-status-container
            .project-status-title.text-muted
              = s_('Geo|Next sync scheduled at')
            .project-status-content
              - if project_registry.repository_retry_at
                = distance_of_time_in_words(Time.now, project_registry.repository_retry_at)
              - else
                = s_('Geo|Never')
          .col-sm.project-status-container
            .project-status-title.text-muted
              = s_('Geo|Last sync attempt')
            .project-status-content
              - if project_registry.last_repository_synced_at
                = distance_of_time_in_words(Time.now, project_registry.last_repository_synced_at)
              - else
                = s_('Geo|Never')
          .col-sm.d-sm-none.d-md-block

= paginate @registries, theme: 'gitlab'
