- project = local_assigns.fetch(:project)
- model = local_assigns.fetch(:model)



- form = local_assigns.fetch(:form)
- placeholder = model.is_a?(MergeRequest) ? _('Describe the goal of the changes and what reviewers should be aware of.') : _('Write a comment or drag your files here…')
- supports_quick_actions = model.new_record?

- if supports_quick_actions
  - preview_url = preview_markdown_path(project, target_type: model.class.name)
- else
  - preview_url = preview_markdown_path(project)

.form-group.row.detail-page-description
  = form.label :description, 'Description', class: 'col-form-label col-sm-2'
  .col-sm-10

    - if model.is_a?(Issuable)
      = render 'shared/issuable/form/template_selector', issuable: model
    = render layout: 'projects/md_preview', locals: { url: preview_url, referenced_users: true } do
      = render 'projects/zen', f: form, attr: :description,
                               classes: 'note-textarea qa-issuable-form-description rspec-issuable-form-description',
                               placeholder: placeholder,
                               supports_quick_actions: supports_quick_actions
      = render 'shared/notes/hints', supports_quick_actions: supports_quick_actions
      .clearfix
      .error-alert
