= form_for @pipeline_schedule, as: :pipeline_schedule, url: namespace_project_pipeline_schedules_path(@project.namespace, @project), html: { id: "new-pipeline-schedule-form", class: "form-horizontal js-pipeline-schedule-form js-requires-input" } do |f|
  = form_errors(@pipeline_schedule)
  .form-group
    = f.label :description, 'Description', class: 'control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control', required: true, autofocus: true
  .form-group
    = f.label :cron, 'Cron Pattern', class: 'control-label'
    .col-sm-10
      = f.text_field :cron, class: 'form-control', required: false, autofocus: true, value: "0 0 * * *"
  .form-group
    = f.label :cron_timezone, 'Cron Timezone', class: 'control-label'
    .col-sm-10
      = f.text_field :cron_timezone, class: 'form-control', required: false, autofocus: true, value: 'UTC'
  .form-group
    = f.label :ref, 'Branch', class: 'control-label'
    .col-sm-10
      = f.text_field :ref, class: 'form-control', required: true, autofocus: true, value: @project.default_branch
  .form-actions
    = f.submit 'Create pipeline schedule', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', project_pipeline_schedules_path(@project), class: 'btn btn-cancel'
