%ul.nav-links.mobile-separator.nav.nav-tabs
  %li{ class: active_when(scope.nil?) }>
    = link_to schedule_path_proc.call(nil) do
      = s_("PipelineSchedules|All")
      %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm.js-totalbuilds-count
        = number_with_delimiter(all_schedules.count(:id))

  %li{ class: active_when(scope == 'active') }>
    = link_to schedule_path_proc.call('active') do
      = s_("PipelineSchedules|Active")
      %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm
        = number_with_delimiter(all_schedules.active.count(:id))

  %li{ class: active_when(scope == 'inactive') }>
    = link_to schedule_path_proc.call('inactive') do
      = s_("PipelineSchedules|Inactive")
      %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm
        = number_with_delimiter(all_schedules.inactive.count(:id))
