.table-holder
  %table.table.ci-table.responsive-table.b-table.gl-table.b-table-stacked-md{ role: 'table' }
    %thead{ role: 'rowgroup' }
      %tr{ role: 'row' }
        %th.table-th-transparent.border-bottom{ role: 'cell', style: 'width: 34%' }= _("Description")
        %th.table-th-transparent.border-bottom{ role: 'cell' }= s_("PipelineSchedules|Target")
        %th.table-th-transparent.border-bottom{ role: 'cell' }= _("Last Pipeline")
        %th.table-th-transparent.border-bottom{ role: 'cell' }= s_("PipelineSchedules|Next Run")
        %th.table-th-transparent.border-bottom{ role: 'cell' }= _("Owner")
        %th.table-th-transparent.border-bottom{ role: 'cell' }
    %tbody{ role: 'rowgroup' }
    = render partial: "pipeline_schedule", collection: @schedules
