= gl_tabs_nav({ class: 'gl-display-flex gl-flex-grow-1 gl-border-0' }) do
  = gl_tab_link_to schedule_path_proc.call(nil), { item_active: active_when(scope.nil?) } do
    = s_("PipelineSchedules|All")
    = gl_tab_counter_badge(number_with_delimiter(all_schedules.count(:id)), { class: 'js-totalbuilds-count' })

  = gl_tab_link_to schedule_path_proc.call('active'), { item_active: active_when(scope == 'active') } do
    = s_("PipelineSchedules|Active")
    = gl_tab_counter_badge(number_with_delimiter(all_schedules.active.count(:id)))

  = gl_tab_link_to schedule_path_proc.call('inactive'), { item_active: active_when(scope == 'inactive') } do
    = s_("PipelineSchedules|Inactive")
    = gl_tab_counter_badge(number_with_delimiter(all_schedules.inactive.count(:id)))
