- breadcrumb_title _("Schedules")

- @no_container = true
- page_title _("Pipeline Schedules")

%div{ class: container_class }
  #pipeline-schedules-callout{ data: { docs_url: help_page_path('user/project/pipelines/schedules') } }
  .top-area
    - schedule_path_proc = ->(scope) { pipeline_schedules_path(@project, scope: scope) }
    = render "tabs", schedule_path_proc: schedule_path_proc, all_schedules: @all_schedules, scope: @scope

    - if can?(current_user, :create_pipeline_schedule, @project)
      .nav-controls
        = link_to new_project_pipeline_schedule_path(@project), class: 'btn btn-create' do
          %span= _('New schedule')

  - if @schedules.present?
    %ul.content-list
      = render partial: "table"
  - else
    .card.bg-light
      .nothing-here-block= _("No schedules")
