- if lookup_context.template_exists?('top', "shared/integrations/#{integration.to_param}", true)
  = render "shared/integrations/#{integration.to_param}/top", integration: integration

- if integration.activate_disabled_reason.present? && integration.activate_disabled_reason[:trackers].any?
  -# When using integration.activate_disabled_reason[:trackers], it's potentially insecure to use the raw records
  -# when passed directly to the frontend. Only use specific fields that are needed for render.
  -# For example, we can get the link to each tracker with scoped_edit_integration_path(tracker, tracker.project)
  = render Pajamas::AlertComponent.new(title: s_('ExternalIssueIntegration|Another issue tracker is already in use'),
    variant: :warning,
    dismissible: false,
    alert_options: { class: 'gl-mb-5' }) do |c|
    - c.with_body do
      = s_('ExternalIssueIntegration|Only one issue tracker integration can be active at a time. Please disable the active tracker first and try again.')

- if integration.to_param === 'slack'
  = render 'shared/integrations/slack_notifications_deprecation_alert'

= render ::Layouts::PageHeadingComponent.new(@integration.title) do |c|
  - c.with_heading do
    .gl-flex.gl-items-center.gl-gap-4
      = render Pajamas::AvatarComponent.new(integration, size: 48, alt: integration.title, class: 'integration-logo')
      = integration.title
      - if integration.operating?
        = render Pajamas::BadgeComponent.new(_('Active'), variant: 'success', icon: 'status-success', class: 'gl-pl-2')
      - elsif integration.persisted?
        = render Pajamas::BadgeComponent.new(_('Inactive'), variant: 'neutral', icon: 'status-paused', class: 'gl-pl-2')

= render 'shared/integration_settings', integration: integration
- if lookup_context.template_exists?('show', "shared/integrations/#{integration.to_param}", true)
  %hr
  = render "shared/integrations/#{integration.to_param}/show", integration: integration
