- show_status = local_assigns.fetch(:show_status, false)

- services.each do |service|
  %li.integration-item.container-flex-center
    - if show_status
      = boolean_to_icon true
    %span.integration-logo{ class: ("#{'prepend-left-20' if show_status}") }
      = custom_icon(service[:logo_path])
    %span.prepend-left-20.integration-metadata
      %a{ href: service[:edit_path] }= service[:title]
      %span.prepend-left-20.integration-description= service[:description]
    - if show_status
      %span.integration-updated-at
        Edited
        = time_ago_in_words service[:updated_at]
        ago
