= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "form-control top", placeholder: t("gitlab.login.username_or_email"), autofocus: "autofocus"
  = f.password_field :password, class: "form-control bottom", placeholder: "Password"
  - if devise_mapping.rememberable?
    .clearfix.append-bottom-10
      %label.checkbox.remember_me{for: "user_remember_me"}
        = f.check_box :remember_me
        %span
          = t("gitlab.login.remember_me")
  %div
    = f.submit t("gitlab.login.sign_in"), class: "btn-create btn"
    .pull-right
      = link_to t("gitlab.login.forgot_your_password"), new_password_path(resource_name), class: "btn"


