- render_remember_me = admin_mode ? false : remember_me_enabled?
- submit_message = admin_mode ? _('Enter admin mode') : _('Sign in')

= gitlab_ui_form_for(:crowd, url: omniauth_authorize_path(:user, :crowd), html: { class: 'gl-show-field-errors', aria: { live: 'assertive' }, data: { testid: 'new_crowd_user' }}) do |f|
  .form-group
    = f.label :username, _('Username or email')
    = f.text_field :username, name: :username, autocomplete: :username, class: 'form-control gl-form-input', title: _('This field is required.'), autofocus: 'autofocus', required: true
  .form-group
    = f.label :password, _('Password')
    %input.form-control.gl-form-input.js-password{ data: { id: 'crowd_password', name: 'password' } }

  - if render_remember_me
    .gl-mb-3
      = f.gitlab_ui_checkbox_component :remember_me, _('Remember me'), checkbox_options: { name: :remember_me, autocomplete: 'off' }

  = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, block: true) do
    = submit_message
