= form_tag(omniauth_callback_path(:user, :kerberos), id: 'new_kerberos_user', class: 'show-gl-field-errors') do
  .form-group
    = label_tag :username, 'Username or email'
    = text_field_tag :username, nil, { class: "form-control top", placeholder: "Kerberos Login", autofocus: "autofocus" }
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: "form-control bottom", placeholder: "Password" }
  = submit_tag "Kerberos Sign in", class: "btn-save btn"
