<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-box" }) do |f| %>
  <%= image_tag "login-logo.png", :width => "304", :height => "66", :class => "login-logo", :alt => "Login Logo" %>
  <%= f.text_field :email, :class => "text top", :placeholder => "Email" %>
  <%= f.password_field :password, :class => "text bottom", :placeholder => "Password"  %>

  <% if devise_mapping.rememberable? -%>
    <div class="clearfix inputs-list"> <label class="checkbox remember_me" for="user_remember_me"><%= f.check_box :remember_me %><span>Remember me</span></label></div>
  <% end -%>
  <br/>
  <%= f.submit "Sign in", :class => "primary btn" %>
  <div class="right"> <%= render :partial => "devise/shared/links" %></div>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <hr/>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => "btn primary" %><br />
    <% end -%>
  <% end -%>
  <% if ldap_enable? -%>
    <p><%= link_to "via LDAP", user_omniauth_authorize_path(:ldap)%></p>
  <% end -%>
<% end %>
