<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-box" }) do |f| %>
  <%= image_tag "login-logo.png", :width => "304", :height => "66", :class => "login-logo", :alt => "Login Logo" %>
  <%= f.text_field :email, :class => "text top" %>
  <%= f.password_field :password, :class => "text bottom"  %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <br/>
  <%= f.submit "Sign in", :class => "grey-button" %>
  <div class="right"> <%= render :partial => "devise/shared/links" %></div>
<% end %>
