= content_for :meta_tags do
  %meta{ 'http-equiv': 'refresh', content: "3; url=#{@redirect_url}" }

.gl-text-center.gl-max-w-62.gl-mx-auto{ data: local_assigns.fetch(:data, {}) }
  .svg-content.svg-80
    = image_tag 'illustrations/success-sm.svg'
  %h2
    = s_('IdentityVerification|Verification successful')
  %p.gl-pt-2
    - redirect_url = link_to '', @redirect_url
    = safe_format(s_("IdentityVerification|Your account has been successfully verified. You'll be redirected to your account in just a moment. You can also %{link_start}refresh the page%{link_end}."), tag_pair(redirect_url, :link_start, :link_end))
