- is_admin = local_assigns.fetch(:admin, false)

- if @keys.any?
  .table-holder
    %table.table.b-table.gl-table.b-table-stacked-md.-gl-mt-1.-gl-mb-2.ssh-keys-list{ data: { testid: 'ssh-keys-list' } }
      %thead.gl-hidden.md:gl-table-header-group
        %tr
          %th= _('Title')
          %th= s_('Profiles|Key')
          %th= s_('Profiles|Usage type')
          %th= s_('Profiles|Created')
          %th= s_('Profiles|Last used')
          %th= s_('Profiles|Expires')
          %th.gl-text-right= _('Actions')
      = render partial: 'user_settings/ssh_keys/key', collection: @keys, locals: { is_admin: is_admin }
- else
  - if is_admin
    = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-access-token-md.svg',
      title: _('There are no SSH keys associated with this account'))
  - else
    = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-access-md.svg',
      title: _('There are no SSH keys with access to your account'))
