- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong Archived projects cannot be committed to!
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong This can't be merged automatically, even if it could be merged you don't have the permission to do so.
    .automerge_widget.can_be_merged.hide
      %strong This can be merged automatically but you don't have the permission to do so.


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project, @merge_request], remote: true, method: :post do |f|
        %h4
          You can accept this request automatically.
        .accept-merge-holder.clearfix
          .accept-group
            .pull-left
              = f.submit "Accept Merge Request", class: "btn btn-create accept_merge_request"
            - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
              .remove_branch_holder.pull-left
                = label_tag :should_remove_source_branch, class: "checkbox" do
                  = check_box_tag :should_remove_source_branch
                  Remove source-branch
            .js-toggle-container
              %label
                %i.fa.fa-edit
                = link_to "modify merge commit message", "#", class: "modify-merge-commit-link js-toggle-button", title: "Modify merge commit message"
              .js-toggle-content.hide
                = render 'shared/commit_message_container', params: params,
                    text: @merge_request.merge_commit_message,
                    rows: 14, hint: true

        %hr
        .light
          If you still want to merge this request manually - use
          %strong
            = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong This repository does not have satellite. Ask an administrator to fix this issue

  .automerge_widget.cannot_be_merged.hide
    %h4
      This request can't be merged with GitLab.
    %p
      You should do it manually with
      %strong
        = link_to "command line", "#modal_merge_info", class: "how_to_merge_link", title: "How To Merge", "data-toggle" => "modal"

  .automerge_widget.unchecked
    %p
      %strong
        %i.fa.fa-spinner.fa-spin
        Checking for ability to automatically merge…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong This merge request can not be merged. Try to reload the page.

  .merge-in-progress.hide
    %p
      %i.fa.fa-spinner.fa-spin
      &nbsp;
      Merge is in progress. Please wait. Page will be automatically reloaded. &nbsp;
