.detail-page-description.content-block.js-issuable-details
  %h2.title.js-issuable-title
    = markdown escape_once(@merge_request.title), pipeline: :single_line, author: @merge_request.author
  .description{class: can?(current_user, :update_merge_request, @merge_request) ? 'js-task-list-container' : ''}
    .wiki.js-issuable-description
      = preserve do
        = markdown(@merge_request.description, cache_key: [@merge_request, "description"], author: @merge_request.author)
    %textarea.hidden.js-task-list-field
      = @merge_request.description
  %div{ class: ('issuable-inline-edit' if can?(current_user, :update_merge_request, @merge_request)) }
    - if can?(current_user, :update_merge_request, @merge_request)
      %button.btn.btn-transparent.has-tooltip.js-inline-edit{ type: "button", title: "Edit title and description", data: { placement: "bottom", container: "body" } }
        = icon("pencil")
        %span.sr-only
          Edit title and description
    = edited_time_ago_with_tooltip(@merge_request, placement: 'bottom')
- if can?(current_user, :update_merge_request, @merge_request)
  = render 'shared/issuable/inline_edit', issuable: @merge_request
