.detail-page-header
  - if @merge_request.merged?
    .status-box{ class: "status-box-merged" }
      Merged
  - else
    .status-box{ class: "status-box-closed #{merge_request_button_visibility(@merge_request, false)}"}
      Closed
    .status-box{ class: "status-box-open #{merge_request_button_visibility(@merge_request, true)}"}
      Open
  %span.identifier
    Merge Request ##{@merge_request.iid}
  %span.creator
    &middot;
    opened by #{link_to_member(@project, @merge_request.author, size: 24)}
    &middot;
    = time_ago_with_tooltip(@merge_request.created_at)
    - if @merge_request.updated_at != @merge_request.created_at
      %span
        &middot;
        = icon('edit', title: 'edited')
        = time_ago_with_tooltip(@merge_request.updated_at, placement: 'bottom')

  .issue-btn-group.pull-right
    - if can?(current_user, :update_merge_request, @merge_request) && !@merge_request.merged?
      
      = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }, format: 'json'), data: {no_turbolink: true}, method: :put, class: "btn btn-nr btn-grouped btn-reopen reopen-mr-link #{merge_request_button_visibility(@merge_request, false)}", title: 'Reopen merge request'
      = link_to 'Close', merge_request_path(@merge_request, merge_request: { state_event: :close }, format: 'json'), data: {no_turbolink: true}, method: :put, class: "btn btn-nr btn-grouped btn-close #{merge_request_button_visibility(@merge_request, true)}", title: 'Close merge request'

      = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "btn btn-nr btn-grouped issuable-edit #{merge_request_button_visibility(@merge_request, true)}", id: 'edit_merge_request' do
        %i.fa.fa-pencil-square-o
        Edit