- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong Archived projects cannot be committed to!
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong This can't be merged automatically, even if it could be merged you don't have the permission to do so.
    .automerge_widget.can_be_merged.hide
      %strong This can be merged automatically but you don't have the permission to do so.


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project, @merge_request], remote: true, method: :post do |f|
        %h4
          You can accept this request automatically.
        %div
          If you still want to do it manually -
          %strong
            = link_to "click here", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"
          for instructions.

        .js-toggle-container
          %p
            If you want to modify merge commit message -
            %strong
              = link_to "click here", "#", class: "modify-merge-commit-link js-toggle-button", title: "Modify merge commit message"
          .js-toggle-content.hide
            .form-group
              = label_tag :merge_commit_message, "Commit message", class: 'control-label'
              .col-sm-10
                = render 'shared/commit_message_container', {textarea: text_area_tag(:merge_commit_message,
                    @merge_request.merge_commit_message, class: "form-control js-gfm-input", rows: 14, required: true)}
                %p.hint
                  The recommended maximum line length is 52 characters for the first line and 72 characters for all following lines.

        .accept-group
          .pull-left
            = f.submit "Accept Merge Request", class: "btn btn-create accept_merge_request"
          - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
            .remove_branch_holder.pull-left
              = label_tag :should_remove_source_branch, class: "checkbox" do
                = check_box_tag :should_remove_source_branch
                Remove source-branch


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong This repository does not have satellite. Ask an administrator to fix this issue

  .automerge_widget.cannot_be_merged.hide
    %h4
      This request can't be merged with GitLab.
    %p
      You should do it manually with
      %strong
        = link_to "command line", "#modal_merge_info", class: "how_to_merge_link", title: "How To Merge", "data-toggle" => "modal"

  .automerge_widget.unchecked
    %p
      %strong
        %i.icon-spinner.icon-spin
        Checking for ability to automatically merge…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong This merge request can not be merged. Try to reload the page.

  .merge-in-progress.hide
    %p
      %i.icon-spinner.icon-spin
      &nbsp;
      Merge is in progress. Please wait. Page will be automatically reloaded. &nbsp;
