- if @commits.any?
  .ci_widget.ci-success{style: "display:none"}
    %i.icon-ok
    %span CI build passed
    for #{@merge_request.last_commit_short_sha}.
    = link_to "Build page", ci_build_details_path(@merge_request)


  .ci_widget.ci-failed{style: "display:none"}
    %i.icon-remove
    %span CI build failed
    for #{@merge_request.last_commit_short_sha}.
    = link_to "Build page", ci_build_details_path(@merge_request)

  - [:running, :pending].each do |status|
    .ci_widget{class: "ci-#{status}", style: "display:none"}
      %i.icon-time
      %span CI build #{status}
      for #{@merge_request.last_commit_short_sha}.
      = link_to "Build page", ci_build_details_path(@merge_request)

  .ci_widget
    %strong
      %i.icon-spinner
      Checking for CI status for #{@merge_request.last_commit_short_sha}

  .ci_widget.ci-error{style: "display:none"}
    %i.icon-remove
    %span Cannot connect to the CI server. Please check your settings and try again.
