- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong Archived projects do not provide commit access.
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong This merge request contains merge conflicts that must be resolved.
      Only those with write access to this repository can merge merge requests.
    .automerge_widget.work_in_progress.hide
      %strong This merge request is marked as Work In Progress.
      Only those with write access to this repository can merge merge requests.
    .automerge_widget.can_be_merged.hide
      %strong This request can be merged automatically.
      Only those with write access to this repository can merge merge requests.


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post do |f|
        .accept-merge-holder.clearfix.js-toggle-container
          .accept-action
            = f.submit "Accept Merge Request", class: "btn btn-create accept_merge_request"
          - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
            .accept-control.checkbox
              = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
                = check_box_tag :should_remove_source_branch
                Remove source-branch
          .accept-control
            = link_to "#", class: "modify-merge-commit-link js-toggle-button", title: "Modify merge commit message" do
              %i.fa.fa-edit
              Modify commit message
          .js-toggle-content.hide.prepend-top-20
            = render 'shared/commit_message_container', params: params,
                text: @merge_request.merge_commit_message,
                rows: 14, hint: true

        %br
        .light
          If you want to merge this request manually, you can use the
          %strong
            = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong This repository does not have a satellite. Please ask an administrator to fix this issue!

  .automerge_widget.cannot_be_merged.hide
    %h4
      This merge request contains merge conflicts that must be resolved.
      You can try it manually on the
      %strong
        = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        Accept Merge Request
      &nbsp;
      This happens when Git is not able to automatically resolve conflicts between branches.

  .automerge_widget.work_in_progress.hide
    %h4
      This merge request cannot be accepted because it is marked as Work In Progress.

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        Accept Merge Request
      &nbsp;
      When the merge request is ready, remove the "WIP" prefix from the title to allow it to be accepted.

  .automerge_widget.unchecked
    %p
      %strong
        %i.fa.fa-spinner.fa-spin
        Checking automatic merge…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong This merge request cannot be merged. Try to reload the page.

  .merge-in-progress.hide
    %p
      %i.fa.fa-spinner.fa-spin
      &nbsp;
      Merge is in progress. Please wait… Page will be reloaded automatically. &nbsp;
