.detail-page-header#merge-request-header{'v-cloak'=> true, transition: "fade"}
  .status-box{"v-bind:class" => "{'status-box-open':state.open,'status-box-closed':state.closed,'status-box-merged':state.merged}"}
    {{ state.label }}
  %span.identifier
    Merge Request ##{@merge_request.iid}
  %span.creator
    &middot;
    opened by 
    %a.author_link{"v-bind:href"=>"state.original_author_url"}
      %img.avatar.avatar-inline.s24{width:24, alt:"", "v-bind:src"=>"state.original_author_avatar_url"}
      %span.author
        {{state.original_author}}
    &middot;
    {{state.created_at}}
    %span{"v-if"=>"state.created_at != state.updated_at"}
      &middot;
      = icon('edit', title: 'edited')
      {{state.created_at}}

  .issue-btn-group.pull-right
    - if can?(current_user, :update_merge_request, @merge_request)
      = link_to 'Close', merge_request_path(@merge_request, merge_request: { state_event: :close }, format: :json), data: {no_turbolink: true}, class: 'btn btn-nr btn-grouped btn-close', data: {no_turbolink: true}, title: 'Close merge request', "v-show"=>"state.open", "v-on:click.prevent" => "closeClicked"
      
      = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }, format: :json), data: {no_turbolink: true}, class: 'btn btn-nr btn-grouped btn-reopen reopen-mr-link', title: 'Reopen merge request', "v-show"=>"state.closed", "v-on:click.prevent" => "reopenClicked"

      = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'btn btn-nr btn-grouped issuable-edit', id: 'edit_merge_request', "v-show"=>"state.open" do
        %i.fa.fa-pencil-square-o
        Edit