- unless @allowed_to_merge
  .bs-callout
    %strong You don't have permission to merge this MR


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .bs-callout.bs-callout-success.clearfix
      = form_for [:automerge, @project, @merge_request], remote: true, method: :get do |f|
        %h4
          You can accept this request automatically.
        %p
          If you still want to do it manually -
          %strong
            = link_to "click here", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"
          for instructions.

          %br
          If you want to modify merge commit message -
          %strong
            = link_to "click here", "#", class: "modify-merge-commit-link js-toggle-visibility-link", title: "Modify merge commit message"

        .js-toggle-visibility-container.hide
          .form-group
            = label_tag :merge_commit_message, "Commit message", class: 'control-label'
            .col-sm-10
              = text_area_tag :merge_commit_message, @merge_request.merge_commit_message, class: "form-control js-gfm-input", rows: 14, required: true
              %p.hint
                The recommended maximum line length is 52 characters for the first line and 72 characters for all following lines.

        .accept-group
          .pull-left
            = f.submit "Accept Merge Request", class: "btn btn-create accept_merge_request"
          - unless @merge_request.disallow_source_branch_removal?
            .remove_branch_holder.pull-left
              = label_tag :should_remove_source_branch, class: "checkbox" do
                = check_box_tag :should_remove_source_branch
                Remove source-branch


  .automerge_widget.no_satellite.hide
    .bs-callout.bs-callout-danger
      %span
        %strong This repository does not have satellite. Ask an administrator to fix this issue

  .automerge_widget.cannot_be_merged.hide
    .bs-callout.bs-callout-disabled
      %h4
        This request can't be merged with GitLab.
      %span
        You should do it manually with
        %strong
          = link_to "command line", "#modal_merge_info", class: "how_to_merge_link", title: "How To Merge", "data-toggle" => "modal"

  .automerge_widget.unchecked
    .bs-callout.bs-callout-warning
      %strong
        %i.icon-spinner.icon-spin
        Checking for ability to automatically merge…

  .automerge_widget.already_cannot_be_merged.hide
    .bs-callout.bs-callout-info
      %strong This merge request can not be merged. Try to reload the page.

  .merge-in-progress.hide
    .bs-callout.bs-callout-success
      %i.icon-spinner.icon-spin
      &nbsp;
      Merge is in progress. Please wait. Page will be automatically reloaded. &nbsp;
