.detail-page-header#merge-request-header{'v-cloak'=> true, transition: "fade"}
  .status-box{"v-bind:class" => "{'status-box-open':state.open,'status-box-closed':state.closed}",transition: 'fade'}
    {{ state.label }}
  %span.identifier
    Merge Request ##{@merge_request.iid}
  %span.creator
    &middot;
    opened by #{link_to_member(@project, @merge_request.author, size: 24)}
    &middot;
    = time_ago_with_tooltip(@merge_request.created_at)
    - if @merge_request.updated_at != @merge_request.created_at
      %span
        &middot;
        = icon('edit', title: 'edited')
        = time_ago_with_tooltip(@merge_request.updated_at, placement: 'bottom')

  .issue-btn-group.pull-right
    - if can?(current_user, :update_merge_request, @merge_request)
      = link_to 'Close', merge_request_path(@merge_request, merge_request: { state_event: :close }, format: :json), data: {no_turbolink: true}, class: 'btn btn-nr btn-grouped btn-close', data: {no_turbolink: true}, title: 'Close merge request', "v-show"=>"state.open", "v-on:click.prevent" => "closeClicked"
      
      = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }, format: :json), data: {no_turbolink: true}, class: 'btn btn-nr btn-grouped btn-reopen reopen-mr-link', title: 'Reopen merge request', "v-show"=>"state.closed", "v-on:click.prevent" => "reopenClicked"

      = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'btn btn-nr btn-grouped issuable-edit', id: 'edit_merge_request', "v-show"=>"state.open" do
        %i.fa.fa-pencil-square-o
        Edit