- if @merge_request.closed_without_fork?
  .alert.alert-danger
    %p The source project of this merge request has been removed.

.clearfix.detail-page-header
  .issuable-header
    .issuable-status-box.status-box{ class: status_box_class(@merge_request) }
      = icon(@merge_request.state_icon_name, class: "hidden-sm hidden-md hidden-lg")
      %span.hidden-xs
        = @merge_request.state_human_name

    %a.btn.btn-default.pull-right.visible-xs-block.gutter-toggle.issuable-gutter-toggle.js-sidebar-toggle{ href: "#" }
      = icon('angle-double-left')

    .issuable-meta
      = issuable_meta(@merge_request, @project, "Merge Request")

  - if can?(current_user, :update_merge_request, @merge_request)
    .issuable-actions
      .clearfix.issue-btn-group.dropdown
        %button.btn.btn-default.pull-left.hidden-md.hidden-lg{ type: "button", data: { toggle: "dropdown" } }
          %span.caret
          Options
        .dropdown-menu.dropdown-menu-align-right.hidden-lg
          %ul
            %li{ class: merge_request_button_visibility(@merge_request, true) }
              = link_to 'Close', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, title: 'Close merge request'
            %li{ class: merge_request_button_visibility(@merge_request, false) }
              = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: 'reopen-mr-link', title: 'Reopen merge request'
            %li
              = link_to 'Edit', edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'issuable-edit'
        = link_to 'Close', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: "hidden-xs hidden-sm btn btn-grouped btn-close #{merge_request_button_visibility(@merge_request, true)}", title: 'Close merge request'
        = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "hidden-xs hidden-sm btn btn-grouped btn-reopen reopen-mr-link #{merge_request_button_visibility(@merge_request, false)}", title: 'Reopen merge request'
        = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "hidden-xs hidden-sm btn btn-grouped issuable-edit" do
          Edit
