- diffs_count = @merge_request.merge_request_diffs.count

- if diffs_count > 1
  - latest_diff = @merge_request.merge_request_diff
  .mr-version-switch
    Version:&nbsp;
    %span.dropdown.inline
      %a.btn-link.dropdown-toggle{ data: {toggle: :dropdown} }
        %strong.monospace<
          - if latest_diff == @merge_request_diff
            #{"latest"}
          - else
            #{@merge_request_diff.head_commit.short_id}
        %span.caret
      %ul.dropdown-menu.dropdown-menu-selectable
        - @merge_request.merge_request_diffs.each do |merge_request_diff|
          %li
            = link_to diffs_namespace_project_merge_request_path(@project.namespace, @project, @merge_request, diff_id: merge_request_diff.id), class: ('is-active' if merge_request_diff == @merge_request_diff) do
              %strong.monospace
                #{merge_request_diff.head_commit.short_id}
              %br
              %small
                = time_ago_with_tooltip(merge_request_diff.created_at)

    .pull-right
      %span.monospace
        git diff #{@merge_request_diff.base_commit.short_id}..#{@merge_request_diff.head_commit.short_id}
