- submit_btn_css ||= 'gl-button btn btn-danger btn-sm'
= form_tag path do
  %input{ :name => "_method", :type => "hidden", :value => "delete" }
  - if defined? small
    = button_tag type: "submit", class: "gl-button btn btn-danger btn-icon", data: { confirm: _("Are you sure?") } do
      %span.sr-only
        = _('Destroy')
      = sprite_icon('remove')
  - else
    = submit_tag _('Destroy'), data: { confirm: _("Are you sure?") }, class: submit_btn_css
