.row.append-bottom-20
  .col-md-2.append-bottom-10
    = render partial: 'shared/ref_switcher', locals: {destination: 'graph'}
  .col-md-10
    = form_tag project_network_path(@project, @id), method: :get, class: 'form-inline network-form' do |f|
      = label_tag :extended_sha1 , "Looking for", class: 'light inline-label'
      = text_field_tag :extended_sha1, @options[:extended_sha1], placeholder: "Input an extended SHA1 syntax", class: "search-input form-control input-mx-250"
      = button_tag type: 'submit', class: 'btn btn-success' do
        %i.icon-search

      .inline.prepend-left-20
        .checkbox.light
          = label_tag :filter_ref do
            = check_box_tag :filter_ref, 1, @options[:filter_ref]
            %span Begin with the selected commit
