= render "head"
.graph_holder
  %h4
    %small You can move around the graph by using the arrow keys.
  #holder.graph
    .loading.loading-gray

:javascript
  var branch_graph;
  $("#filter_ref").click(function() {
    $(this).closest('form').submit();
  });
  branch_graph = new BranchGraph($("#holder"), {
    url: '#{project_network_path(@project, @ref, @options.merge(format: :json))}',
    commit_url: '#{project_commit_path(@project, 'ae45ca32').gsub("ae45ca32", "%s")}',
    ref: '#{@ref}',
    commit_id: '#{@commit.id}'
  });
