= form_tag upload_import_manifest_path, multipart: true do
  .form-group
    = label_tag :group_id, nil, class: 'label-bold' do
      = _('Group')
    .input-group.gl-max-w-62
      - namespace_id = namespace_id_from(params) || current_user.manageable_groups(include_groups_with_developer_maintainer_access: true)&.first&.id
      - namespace_full_path = GroupFinder.new(current_user).execute(id: namespace_id)&.full_path
      .js-vue-new-project-url-select{ data: { namespace_full_path: namespace_full_path,
        namespace_id: namespace_id ,
        input_id: 'group_id',
        input_name: 'group_id',
        root_url: root_url } }
    .form-text.gl-text-subtle
      = _('Choose the top-level group for your repository imports.')

  .form-group
    = label_tag :manifest, class: 'label-bold' do
      = _('Manifest')
    = file_field_tag :manifest, class: 'form-control-file w-auto', required: true
    .form-text.gl-text-subtle
      = _('Import multiple repositories by uploading a manifest file.')
      = link_to sprite_icon('question-o'), help_page_path('user/project/import/manifest.md')

  .gl-mb-3
    = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm) do
      = _('List available repositories')

    = render Pajamas::ButtonComponent.new(href: new_project_path) do
      = _('Cancel')
