- top_level_link = project_security_configuration_path(@project)
- top_level_qa_selector = 'security_configuration_link'
- if any_project_nav_tab?([:security_configuration])
  = nav_link(path: sidebar_security_paths) do
    = link_to top_level_link, data: { qa_selector: top_level_qa_selector } do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security & Compliance')

    %ul.sidebar-sub-level-items
      = nav_link(path: sidebar_security_paths, html_options: { class: "fly-out-top-item" } ) do
        = link_to top_level_link do
          %strong.fly-out-top-item-name
            = _('Security & Compliance')

      %li.divider.fly-out-top-item
      - if project_nav_tab?(:security_configuration)
        = nav_link(path: sidebar_security_configuration_paths) do
          = link_to project_security_configuration_path(@project), title: _('Configuration'), data: { qa_selector: 'security_configuration_link'} do
            %span= _('Configuration')
