-# Shortcut to Project > Activity
%li.hidden
  = link_to activity_project_path(@project), title: _('Activity'), class: 'shortcuts-project-activity' do
    %span
      = _('Activity')

-# Shortcut to Repository > Graph (formerly, Network)
- if project_nav_tab? :network
  %li.hidden
    = link_to project_network_path(@project, current_ref), title: _('Network'), class: 'shortcuts-network' do
      = _('Graph')

-# Shortcut to Issues > New Issue
- if project_nav_tab?(:issues)
  %li.hidden
    = link_to new_project_issue_path(@project), class: 'shortcuts-new-issue' do
      = _('Create a new issue')

-# Shortcut to Pipelines > Jobs
- if project_nav_tab? :builds
  %li.hidden
    = link_to project_jobs_path(@project), title: _('Jobs'), class: 'shortcuts-builds' do
      = _('Jobs')

-# Shortcut to commits page
- if project_nav_tab? :commits
  %li.hidden
    = link_to project_commits_path(@project), title: _('Commits'), class: 'shortcuts-commits' do
      = _('Commits')

-# Shortcut to issue boards
- if project_nav_tab?(:issues)
  %li.hidden
    = link_to _('Issue Boards'), project_boards_path(@project), title: _('Issue Boards'), class: 'shortcuts-issue-boards'
