%li.build
  .build-content
    %span{class: "ci-status-link ci-status-icon-#{subject.status}"}
      - if subject.playable? && can?(current_user, :update_build, @project)
        = link_to play_namespace_project_build_path(subject.project.namespace, subject.project, subject, return_to: request.original_url), method: :post, title: 'Play' do
          = icon('play')
      - elsif can?(current_user, :read_build, @project) && subject.started?
        = link_to namespace_project_build_path(subject.project.namespace, subject.project, subject) do
          = ci_icon_for_status(subject.status)
      - else
        = ci_icon_for_status(subject.status)
    = subject.name
