- page_title 'Badges'

.prepend-top-10
  .panel.panel-default
    .panel-heading
      %b Builds badge &middot;
      = @badge.to_html
    .panel-body
      %table.table
        %tr
          %td Markdown
          %td= markdown("```markdown\n#{@badge.to_markdown}\n```")
        %tr
          %td HTML
          %td= markdown("```html\n#{@badge.to_html}\n```")
