.dropdown-page-one
  = dropdown_title "Select branch"
  = dropdown_filter "Search branches"
  = dropdown_content
  = dropdown_loading
  = dropdown_footer do
    %ul.dropdown-footer-list
      %li
        %a.create-new-branch.dropdown-toggle-page{ href: "#" }
          Create new branch
