.prepend-top-default
  .card
    .card-header
      %strong
        = t('sherlock.application_backtrace')
    %ul.well-list
      - @query.application_backtrace.each do |location|
        %li
          %strong
            - if defined?(BetterErrors)
              = link_to(location.path, BetterErrors.editor[location.path, location.line])
            - else
              = location.path
          %small.light
            = t('sherlock.line')
            = location.line

  .card
    .card-header
      %strong
        = t('sherlock.full_backtrace')
    %ul.well-list
      - @query.backtrace.each do |location|
        %li
          - if location.application?
            %strong= location.path
          - else
            = location.path
          %small.light
            = t('sherlock.line')
            = location.line
