- page_title t('sherlock.title'), t('sherlock.transaction'), t('sherlock.query')
- header_title t('sherlock.title'), sherlock_transactions_path

%ul.nav-links.nav.nav-tabs
  %li.active
    %a{ href: "#tab-general", data: { toggle: "tab" } }
      = t('sherlock.general')
  %li
    %a{ href: "#tab-backtrace", data: { toggle: "tab" } }
      = t('sherlock.backtrace')

.row-content-block
  .float-right
    = link_to(sherlock_transaction_path(@transaction), class: 'btn gl-button btn-default') do
      = sprite_icon('arrow-left')
      = t('sherlock.transaction')
  .oneline
    = t('sherlock.query')
    = @query.id

.tab-content
  .tab-pane.active#tab-general
    = render(partial: 'general')

  .tab-pane#tab-backtrace
    = render(partial: 'backtrace')
