= nav_link(controller: :licenses) do
  = link_to admin_license_path, title: 'License' do
    %span
      License

- if License.feature_available?(:push_rules)
  = nav_link(controller: :push_rules) do
    = link_to admin_push_rule_path, title: 'Push Rules' do
      %span
        Push Rules

= nav_link(controller: :geo_nodes) do
  = link_to admin_geo_nodes_path, title: 'Geo Nodes' do
    %span
      Geo Nodes
