%tr
  %td.blame-commit{ class: commit_data.age_map_class }
    .commit
      = commit_data.author_avatar
      .commit-row-title
        %span.item-title.str-truncated-100
          = commit_data.commit_link
        %span
          = commit_data.project_blame_link
        &nbsp;
      .light
        = commit_data.commit_author_link
        = _('committed')
        #{commit_data.time_ago_tooltip}
  %td.line-numbers
    - line_count = blame_group[:lines].count
    - (current_line...(current_line + line_count)).each do |i|
      %a.diff-line-num{ href: "#L#{i}", id: "L#{i}", 'data-line-number' => i }
        = link_icon
        = i
      \
  %td.lines
    %pre.code.highlight
      %code
        - blame_group[:lines].each do |line|
          #{line}
