= nav_link(**sidebar_menu_item.active_routes, html_options: sidebar_menu_item.nav_link_html_options) do
  = link_to sidebar_menu_item.link, **sidebar_menu_item.link_html_options, data: { qa_selector: 'sidebar_menu_item_link', qa_menu_item: sidebar_menu_item.title } do
    %span.gl-flex-grow-1
      = sidebar_menu_item.title
      - if sidebar_menu_item.sprite_icon
        = sprite_icon(sidebar_menu_item.sprite_icon, **sidebar_menu_item.sprite_icon_html_options)
    - if sidebar_menu_item.has_pill?
      = gl_badge_tag({ size: :sm, variant: :neutral }, { class: "count fly-out-badge gl-ml-3" }) do
        = number_with_delimiter(sidebar_menu_item.pill_count)
    - if sidebar_menu_item.show_hint?
      .js-feature-highlight{ **sidebar_menu_item.hint_html_options }
