- sslStatus = hook.enable_ssl_verification ? _('enabled') : _('disabled')
- sslBadgeText = _('SSL Verification:') + ' ' + sslStatus

%li.gl-border-b.gl-last-of-type-border-b-0
  .row.gl-mx-0
    .col-md-8.col-lg-5.gl-px-5
      .light-header.gl-mb-1
        = hook.name
      .gl-font-sm
        = hook.url

        - if hook.rate_limited?
          = gl_badge_tag(_('Disabled'), variant: :danger, size: :sm)
        - elsif hook.permanently_disabled?
          = gl_badge_tag(s_('Webhooks|Failed to connect'), variant: :danger, size: :sm)
        - elsif hook.temporarily_disabled?
          = gl_badge_tag(s_('Webhooks|Fails to connect'), variant: :warning, size: :sm)

      %div
        - hook.class.triggers.each_value do |trigger|
          - if hook.public_send(trigger)
            = gl_badge_tag(integration_webhook_event_human_name(trigger), size: :sm)
        = gl_badge_tag(sslBadgeText, size: :sm)

    .col-md-2.col-lg-4.gl-px-5.gl-font-sm
      = truncate(hook.description, length: 200)

    .col-md-4.col-lg-3.gl-mt-2.gl-px-5.gl-gap-3.gl-display-flex.gl-md-justify-content-end.gl-align-items-baseline
      = render 'shared/web_hooks/test_button', hook: hook, size: 'small'
      = render Pajamas::ButtonComponent.new(href: edit_hook_path(hook), size: :small) do
        = _('Edit')
      = render Pajamas::ButtonComponent.new(href: destroy_hook_path(hook), category: :secondary, variant: :danger, size: :small, method: :delete, button_options: { 'aria-label' => s_('Webhooks|Delete webhook'), data: { confirm_btn_variant: "danger", confirm: s_('Webhooks|Are you sure you want to delete this webhook?') } }) do
        = _('Delete')
