- return unless show_project_hook_failed_callout?(project: @project)

- content_for :after_flash_content do
  = render Pajamas::AlertComponent.new(variant: :danger,
    title: s_('Webhooks|Webhook disabled'),
    alert_options: { class: 'gl-my-4 js-web-hook-disabled-callout',
                      data: { feature_id: Users::CalloutsHelper::WEB_HOOK_DISABLED, dismiss_endpoint: project_callouts_path, project_id: @project.id, defer_links: 'true'} }) do |c|
    - c.with_body do
      = s_('Webhooks|A webhook in this project was automatically disabled after being retried multiple times.')
      = succeed '.' do
        = link_to _('Learn more'), help_page_path('user/project/integrations/webhooks_troubleshooting.md'), target: '_blank', rel: 'noopener noreferrer'
    - c.with_actions do
      = link_button_to s_('Webhooks|Go to webhooks'), project_hooks_path(@project), class: 'gl-alert-action', variant: :confirm
