%ul
  - if current_user_menu?(:help)
    %li
      = link_to _("Help"), help_path
    %li
      = link_to _("Support"), support_url
    = render_if_exists "shared/learn_gitlab_menu_item"
    %li.divider
  %li
    = link_to _("Submit feedback"), "https://about.gitlab.com/submit-feedback"
  - if current_user_menu?(:help) || current_user_menu?(:settings) || current_user_menu?(:profile)
    %li
      = render 'shared/user_dropdown_contributing_link'
  = render_if_exists 'shared/user_dropdown_instance_review'
  - if Gitlab.com_but_not_canary?
    %li
      = link_to _("Switch to GitLab Next"), "https://next.gitlab.com/"
