%ul.nav.navbar-sub-nav.gl-display-none.gl-lg-display-flex.gl-align-items-center
  %li.dropdown.gl-mr-3
    %button{ type: "button", data: { toggle: "dropdown" } }
      = s_('LoggedOutMarketingHeader|About GitLab')
      = sprite_icon('chevron-down', css_class: 'caret-down')
    .dropdown-menu
      %ul
        %li
          = link_to Gitlab::Utils.append_path(promo_url, 'stages-devops-lifecycle') do
            = s_('LoggedOutMarketingHeader|GitLab: the DevOps platform')
        %li
          = link_to explore_root_path do
            = s_('LoggedOutMarketingHeader|Explore GitLab')
        %li
          = link_to Gitlab::Utils.append_path(promo_url, 'install') do
            = s_('LoggedOutMarketingHeader|Install GitLab')
        %li
          = link_to Gitlab::Utils.append_path(promo_url, 'is-it-any-good') do
            = s_('LoggedOutMarketingHeader|How GitLab compares')
        %li
          = link_to Gitlab::Utils.append_path(promo_url, 'get-started') do
            = s_('LoggedOutMarketingHeader|Get started')
        %li
          = link_to Gitlab::Saas::doc_url do
            = s_('LoggedOutMarketingHeader|GitLab docs')
        %li
          = link_to Gitlab::Utils.append_path(promo_url, 'learn') do
            = s_('LoggedOutMarketingHeader|GitLab Learn')
  %li.gl-mr-3
    = link_to Gitlab::Utils.append_path(promo_url, 'pricing') do
      = s_('LoggedOutMarketingHeader|Pricing')
  %li.gl-mr-3
    = link_to Gitlab::Utils.append_path(promo_url, 'sales') do
      = s_('LoggedOutMarketingHeader|Talk to an expert')
