%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  %div{ class: fluid_layout ? "container-fluid" : "container-fluid" }
    .header-content
      - unless current_controller?('sessions')
        .pull-right
          = link_to "Sign in", new_session_path(:user, redirect_to_referer: 'yes'), class: 'btn btn-sign-in btn-success'

      .navbar-collapse.collapse
        %ul.nav.navbar-nav.pull-right
          - unless @disable_search_panel
            %li.hidden-sm.hidden-xs
              = render 'layouts/search'
          %li.visible-sm.visible-xs
            = link_to search_path, title: 'Search', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('search')

      %h1.title= title


= render 'shared/outdated_browser'
