- return unless show_service_templates_deprecated_callout?

- doc_link_start = "<a href=\"#{integrations_help_page_path}\" target='_blank' rel='noopener noreferrer'>".html_safe
- settings_link_start = "<a href=\"#{integrations_admin_application_settings_path}\">".html_safe

%div{ class: [container_class, @content_class, 'gl-pt-5!'] }
  .gl-alert.gl-alert-warning.js-service-templates-deprecated-callout{ role: 'alert', data: { feature_id: UserCalloutsHelper::SERVICE_TEMPLATES_DEPRECATED_CALLOUT, dismiss_endpoint: user_callouts_path } }
    = sprite_icon('warning', size: 16, css_class: 'gl-alert-icon')
    %button.gl-alert-dismiss.js-close{ type: 'button', aria: { label: _('Close') }, data: { testid: 'close-service-templates-deprecated-callout' } }
      = sprite_icon('close', size: 16)
    .gl-alert-title
      = s_('AdminSettings|Service templates are deprecated and will be removed in GitLab 14.0.')
    .gl-alert-body
      = html_escape_once(s_('AdminSettings|You should migrate to %{doc_link_start}Project integration management%{link_end}, available at %{settings_link_start}Settings &gt; Integrations.%{link_end}')).html_safe % { doc_link_start: doc_link_start, settings_link_start: settings_link_start, link_end: '</a>'.html_safe }
    .gl-alert-actions
      = link_to admin_application_settings_services_path, class: 'btn gl-alert-action btn-info btn-md gl-button' do
        %span.gl-button-text
          = s_('AdminSettings|See affected service templates')
      = link_to "https://gitlab.com/gitlab-org/gitlab/-/issues/325905", class: 'btn gl-alert-action btn-default btn-md gl-button', target: '_blank', rel: 'noopener noreferrer' do
        %span.gl-button-text
          = _('Leave feedback')
