- return unless current_user
- context = local_assigns.fetch(:context)
- banner_info = storage_enforcement_banner_info(context)
- return unless banner_info.present?

= render Pajamas::AlertComponent.new(variant: :warning,
  alert_options: { class: 'js-storage-enforcement-banner',
                   data: { feature_id: banner_info[:callouts_feature_name],
                           dismiss_endpoint: banner_info[:callouts_path],
                           group_id: banner_info[:namespace_id],
                           defer_links: "true" }}) do |c|
  = c.body do
    %p= banner_info[:text_paragraph_1]
    %p= banner_info[:text_paragraph_2]
    %p= banner_info[:text_paragraph_3]
