.gl-text-center.gl-mx-auto.gl-pt-6
  %h3.gl-mb-4
    = _('You are signed in to GitLab as:')

  .gl-display-flex.gl-flex-direction-column.gl-align-items-center.gl-mb-4
    = link_to user_path(current_user), target: '_blank', rel: 'noopener noreferrer' do
      = user_avatar_without_link(user: current_user, size: 60, css_class: 'gl-mr-0! gl-mb-2', has_tooltip: false)
    = link_to current_user.to_reference, user_path(current_user), target: '_blank', rel: 'noopener noreferrer'

  %p.gl-mb-6
    = s_('JiraService|You can now close this window and%{br}return to the GitLab for Jira application.').html_safe % { br: '<br>'.html_safe }

  - if @jira_app_link
    %p
      = render Pajamas::ButtonComponent.new(href: @jira_app_link, variant: :confirm) do
        = s_('Integrations|Return to GitLab for Jira')


  %p= link_to _('Sign out'), destroy_user_session_path, method: :post

- add_page_specific_style 'page_bundles/jira_connect_users'
