- page_title "GitHub Import"
- header_title "Projects", root_path

%h3.page-title
  = icon 'github', text: 'Import Projects from GitHub'

%p.light
  To import a project from GitHub, you can use a
  = link_to 'Personal Access Token', 'https://github.com/settings/tokens'
  to access your GitHub account. When you create your Personal Access Token,
  you will need to select the <code>repo</code> scope, so we can display a
  list of your public and private repositories which are available for import.

= form_tag personal_access_token_import_github_path, method: :post, class: 'form-inline' do
  .form-group
    = text_field_tag :personal_access_token, '', class: 'form-control', placeholder: "Personal Access Token", size: 40
    = submit_tag 'List Repositories', class: 'btn btn-create'

- if github_import_configured?
  - unless logged_in_with_github?
    %hr
    %p.light
      Note: If you go to
      = link_to 'your profile', profile_account_path
      and connect your account to GitHub, you can import projects without
      generating a Personal Access Token.
- else
  %hr
  %p.light
    Note:
    - if current_user.admin?
      As an administrator you may like to configure
    - else
      Consider asking your GitLab administrator to configure
    = link_to 'GitHub integration', help_page_path("integration", "github")
    which will allow login via GitHub and allow importing projects without
    generating a Personal Access Token.
