- if @project.pages_deployed?
  - pages_url = build_pages_url(@project)
  - pages_url_text = pages_url

  = render ::Layouts::CrudComponent.new(s_('GitLabPages|Access pages'),
    icon: 'doc-text',
    count: @project.pages_domains.size + (pages_url ? 1 : 0),
    options: { class: 'gl-mt-5', data: { testid: 'access-page-container' } },
    footer_options: { class: 'gl-bg-red-50' }) do |content|
    - if @project.project_setting.pages_unique_domain_enabled?
      - content.with_actions do
        = render Pajamas::ButtonComponent.new(href: regenerate_unique_domain_project_pages_path(@project),
          method: :post,
          size: :small,
          button_options: { data: { confirm: s_('GitLabPages|Are you sure you want to regenerate the unique domain? The previous URL will stop working.'), 'confirm-btn-variant': 'danger' },
          "aria-label": s_('GitLabPages|Regenerate unique domain') }) do
          = s_('GitLabPages|Regenerate unique domain')
    - content.with_body do
      %ul.content-list
        %li
          = external_link(pages_url_text, pages_url)

        - @project.pages_domains.each do |domain|
          %li
            = external_link(domain.url, domain.url)

    - unless @project.public_pages?
      - content.with_footer do
        - help_page = help_page_path('user/project/pages/pages_access_control.md')
        - link_start = '<a href="%{url}" target="_blank" class="gl-alert-link" rel="noopener noreferrer">'.html_safe % { url: help_page }
        - link_end = '</a>'.html_safe
        = html_escape_once(s_('GitLabPages|Access Control is enabled for this Pages website; only authorized users will be able to access it. To make your website publicly available, navigate to your project\'s %{strong_start}Settings &gt; General &gt; Visibility%{strong_end} and select %{strong_start}Everyone%{strong_end} in pages section. Read the %{link_start}documentation%{link_end} for more information.')).html_safe % { link_start: link_start, link_end: link_end, strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }
