- if @project.pages_deployed?
  - if can?(current_user, :remove_pages, @project)
    .gl-bg-red-50.gl-shadow-inner-l-3-red-600.gl-py-5.gl-px-6.gl-mt-5
      %h4.gl-text-lg.gl-mt-0= s_('GitLabPages|Remove pages')
      %p= s_('GitLabPages|Removing pages will prevent them from being exposed to the public internet.')
      = render Pajamas::ButtonComponent.new(href: project_pages_path(@project),
        variant: :danger,
        method: :delete,
        button_options: { data: { confirm: s_('GitLabPages|Are you sure?'), 'confirm-btn-variant': 'danger' }, "aria-label": s_('GitLabPages|Remove pages') }) do
        = s_('GitLabPages|Remove pages')
  - else
    .nothing-here-block
      = s_('GitLabPages|Only project maintainers can remove pages')
