- page_title s_('GitLabPages|Pages')

- unless @project.pages_deployed?
  = render 'waiting'
- else
  = render 'header'

  = gl_tabs_nav({ class: 'js-pages-tabs' }) do
    = gl_tab_link_to '#overview', item_active: true, 'aria-controls': 'overview' do
      = _('Overview')
    = gl_tab_link_to '#domains-settings', 'aria-controls': 'domains-settings' do
      = s_('GitLabPages|Domains & settings')

  .tab-content.gl-tab-content.gl-pt-5
    .tab-pane.active#overview
      #js-pages{ data: { full_path: @project.full_path } }

    .tab-pane#domains-settings
      .gl-flex.gl-flex-col.gl-gap-5
        = render 'ssl_limitations_warning' if pages_subdomain(@project).include?(".")
        - if Gitlab.config.pages.external_http || Gitlab.config.pages.external_https
          = render 'list'
        - else
          = render 'no_domains'

        = render 'access'

        .gl-mt-5
          %h2.gl-heading-2= s_('Settings')
          = render 'pages_settings'

        = render 'destroy'
