- page_title s_('GitLabPages|Pages')

- unless @project.pages_deployed?
  = render 'waiting'
- else
  = render 'header'
  #js-pages{ data: { full_path: @project.full_path } }
  %h2.gl-heading-2
    = s_('Settings')
  = render 'pages_settings'
  = render 'ssl_limitations_warning' if pages_subdomain(@project).include?(".")
  = render 'access'
  - if Gitlab.config.pages.external_http || Gitlab.config.pages.external_https
    = render 'list'
  - else
    = render 'no_domains'
  = render 'destroy'
