%h3.page_title
  Projects (#{@projects.total_count})
  %small with read-only access
%hr

.public-projects
  %ul.unstyled
    - @projects.each do |project|
      %li.clearfix
        %h5
          %i.icon-share
          = project.name_with_namespace
          .pull-right
            - if project.public
              %pre.dark.tiny git clone #{project.http_url_to_repo}
            - if project.git_protocol_enabled
              %pre.dark.tiny git clone #{project.git_url_to_repo}
        %p.description
          = project.description
    - unless @projects.present?
      %h3.nothing_here_message No public projects

  = paginate @projects, theme: "admin"
