%h3.page_title
  Projects (#{@projects.total_count})
  %small with read-only access
%hr

.public-projects
  %ul.unstyled
    - @projects.each do |project|
      %li.clearfix
        %h5
          %i.icon-share
          = link_to_project project
          .pull-right
            %pre.dark.tiny git clone #{project.http_url_to_repo}
        %p.description
          = project.description
    - unless @projects.present?
      %h3.nothing_here_message No public projects

  = paginate @projects, theme: "gitlab"
