.row
  .span6
    %h3.page-title
      Projects (#{@projects.total_count})
      %small with read-only access
  .span6
    .pull-right
      = form_tag public_projects_path, method: :get, class: 'form-inline' do |f|
        .search-holder
          .controls
            = search_field_tag :search, params[:search], placeholder: "gitlab-ci", class: "span3 search-text-input", id: "projects_search"
            = submit_tag 'Search', class: "btn btn-primary wide"

.public-projects
  %ul.bordered-list
    - @projects.each do |project|
      %li
        .project-title
          %i.icon-share.cgray
          = link_to public_project_path(project) do
            %strong= project.name_with_namespace
          .pull-right
            %pre.public-clone git clone #{project.http_url_to_repo}

        - if project.description.present?
          %div.description
            = project.description
    - unless @projects.present?
      %h3.nothing_here_message No public projects

  = paginate @projects, theme: "gitlab"
