%h3.page-title
  = @project.name_with_namespace
  .pull-right
    %pre.public-clone git clone #{@project.http_url_to_repo}
  .pull-right
    - if current_user
      = link_to 'Browse project', @project, class: 'btn btn-create append-right-10'


%div
  = link_to public_root_path do
    &larr; To projects list
  .pull-right
    %span.light= @project.description

%br
.row
  .span9
    = render 'tree', tree: @tree
  .span3
    %h5 Repository:
    %div
      %p
        %span.light Bare size is
        #{@project.repository.size} MB

      %p
        = pluralize(@repository.round_commit_count, 'commit')
      %p
        = pluralize(@repository.branch_names.count, 'branch')
      %p
        = pluralize(@repository.tag_names.count, 'tag')

    - if @recent_tags.present?
      %hr
      %h5 Most Recent Tags:
      %ul.unstyled
        - @recent_tags.each do |tag|
          %li
            %p
              %i.icon-tag
              %strong= tag.name
              %small.light.pull-right
                %i.icon-calendar
                  = time_ago_in_words(tag.commit.committed_date)
                ago
