- page_title 'IP Blocking: IP Whitelist'
%h3 IP Whitelist

= render 'admin/ip_blocking/nav'

.gray-content-block.clearfix
  = render 'admin/ip_blocking/blocking_ip_form', url: admin_ip_blocking_whitelist_index_path
  = render 'admin/ip_blocking/search_ip_form'

%ul.content-list
  - if @ips.blank?
    %li
      .nothing-here-block No IP addresses to show
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th IP
            %th Description
            %th Created by
            %th Created at
            %th Updated at
            %th

        %tbody
          - @ips.each do |ip|
            = render 'admin/ip_blocking/blocking_ip', ip: ip

    = paginate @ips, theme: 'gitlab'
