%h3.page-title
  Broadcast Messages
%p.light
  Broadcast messages are displayed for every user and can be used to notify users about scheduled maintenance, recent upgrades and more.
.broadcast-message-preview
  %i.icon-bullhorn
  %span Your message here

= form_for [:admin, @broadcast_message], html: { class: 'broadcast-message-form form-horizontal'} do |f|
  -if @broadcast_message.errors.any?
    .alert.alert-danger
      - @broadcast_message.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :message, class: 'control-label'
    .col-sm-10
      = f.text_area :message, class: "form-control", rows: 2, required: true
      %div
        = link_to '#', class: 'js-toggle-colors-link' do
          Customize colors
  .form-group.js-toggle-colors-container.hide
    = f.label :color, "Background Color", class: 'control-label'
    .col-sm-10
      = f.text_field :color, placeholder: "#AA33EE", class: "form-control"
      .light Hex values as 3 double digit numbers, starting with a # sign.
  .form-group.js-toggle-colors-container.hide
    = f.label :font, "Font Color", class: 'control-label'
    .col-sm-10
      = f.text_field :font, placeholder: "#224466", class: "form-control"
      .light Hex values as 3 double digit numbers, starting with a # sign.
  .form-group
    = f.label :starts_at, class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :starts_at
  .form-group
    = f.label :ends_at, class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :ends_at
  .form-actions
    = f.submit "Add broadcast message", class: "btn btn-create"

-if @broadcast_messages.any?
  %ul.bordered-list.broadcast-messages
    - @broadcast_messages.each do |broadcast_message|
      %li
        .pull-right
          - if broadcast_message.starts_at
            %strong
              #{broadcast_message.starts_at.to_s(:short)}
            \...
          - if broadcast_message.ends_at
            %strong
              #{broadcast_message.ends_at.to_s(:short)}
          &nbsp;
          = link_to [:admin, broadcast_message], method: :delete, remote: true, class: 'remove-row btn btn-tiny' do
            %i.icon-remove.cred

        .message= broadcast_message.message


  = paginate @broadcast_messages
