- breadcrumb_title "Messages"
- page_title "Broadcast Messages"

%h3.page-title
  Broadcast Messages
%p.light
  Broadcast messages are displayed for every user and can be used to notify
  users about scheduled maintenance, recent upgrades and more.

= render 'form'

%br.clearfix

- if @broadcast_messages.any?
  %table.table
    %thead
      %tr
        %th Status
        %th Preview
        %th Starts
        %th Ends
        %th &nbsp;
    %tbody
      - @broadcast_messages.each do |message|
        %tr
          %td
            = broadcast_message_status(message)
          %td
            = broadcast_message(message)
          %td
            = message.starts_at
          %td
            = message.ends_at
          %td
            = link_to icon('pencil-square-o'), edit_admin_broadcast_message_path(message), title: 'Edit', class: 'btn btn-sm'
            = link_to icon('times'), admin_broadcast_message_path(message), method: :delete, remote: true, title: 'Remove', class: 'js-remove-tr btn btn-sm btn-danger'

  = paginate @broadcast_messages, theme: 'gitlab'
