- if current_user
  - if note.emoji_awardable?
    - user_authored = note.user_authored?(current_user)
    = link_to '#', title: 'Add reaction', class: "note-action-button note-emoji-button js-add-award js-note-emoji #{'js-user-authored' if user_authored} has-tooltip", data: { position: 'right' } do
      = icon('spinner spin')
      %span{ class: 'link-highlight award-control-icon-neutral' }= custom_icon('emoji_slightly_smiling_face')
      %span{ class: 'link-highlight award-control-icon-positive' }= custom_icon('emoji_smiley')
      %span{ class: 'link-highlight award-control-icon-super-positive' }= custom_icon('emoji_smile')

  = render 'projects/notes/more_actions_dropdown', note: note, note_editable: note_editable
