- if current_user
  - if note.emoji_awardable?
    .note-actions-item
      = link_to '#', title: _('Add reaction'), class: "note-action-button note-emoji-button js-add-award js-note-emoji has-tooltip", data: { position: 'right' } do
        = icon('spinner spin')
        %span{ class: 'link-highlight award-control-icon-neutral' }= sprite_icon('slight-smile')
        %span{ class: 'link-highlight award-control-icon-positive' }= sprite_icon('smiley')
        %span{ class: 'link-highlight award-control-icon-super-positive' }= sprite_icon('smile')

  - if note_editable
    .note-actions-item
      = button_tag title: _('Edit comment'), class: 'note-action-button js-note-edit has-tooltip btn btn-transparent', data: { container: 'body' } do
        %span.link-highlight
          = custom_icon('icon_pencil')

  = render 'projects/notes/more_actions_dropdown', note: note, note_editable: note_editable
