- if group_container_registry_nav?
  = nav_link(path: group_packages_nav_link_paths) do
    = link_to group_container_registries_path(@group), title: _('Container Registry') do
      .nav-icon-container
        = sprite_icon('package')
      %span.nav-item-name
        = _('Packages & Registries')
    %ul.sidebar-sub-level-items
      = nav_link(controller: [:packages, :repositories], html_options: { class: "fly-out-top-item" } ) do
        = link_to group_container_registries_path(@group), title: _('Container Registry') do
          %strong.fly-out-top-item-name
            = _('Packages & Registries')
      %li.divider.fly-out-top-item
      = nav_link(controller: 'groups/container_registries') do
        = link_to group_container_registries_path(@group), title: _('Container Registry') do
          %span= _('Container Registry')
