= render "projects/project_head"

- if can? current_user, :admin_project, @project
  .alert-message.block-message
    = t '.desc'
    = link_to new_project_hook_path(@project), :class => "btn small", :title => t('.new') do 
      = t '.new'

    %p
      = t '.further_info'
      = link_to t('.further_info_href'), help_web_hooks_path, :class => "vlink"

-if @hooks.any?
  %table
    - @hooks.each do |hook|
      %tr
        %td
          = link_to project_hook_path(@project, hook) do
            = hook.url
        %td
          = link_to t('global.destroy'), project_hook_path(@project, hook), :confirm => t('global.destroy_confirm'), :method => :delete, :class => "danger btn small right"
