= render "repositories/head"
= form_for [@project, @hook], :as => :hook, :url => project_hooks_path(@project) do |f|
  -if @hook.errors.any?
    %ul
      - @hook.errors.full_messages.each do |msg|
        %li= msg
  .clearfix
    = f.label :url, "URL:"
    .input= f.text_field :url, :class => "text_field"
  .actions
    = f.submit "Save", :class => "btn"

