%tr{ class: "tree-item #{tree_hex_class(blob_item)}" }
  %td.tree-item-file-name
    = tree_icon(type)
    %span.str-truncated
      = link_to blob_item.name, project_blob_path(@project, tree_join(@id || @commit.id, blob_item.name))
  %td.tree_time_ago.cgray
    = render 'spinner'
  %td.hidden-xs.tree_commit
  %td.hidden-xs.actions
    - if allowed_tree_edit?
      = link_to project_edit_tree_path(@project, tree_join(@id, blob_item.name)) do
        %i.fa.fa-pencil
