%ul.breadcrumb
  %li
    %i.icon-angle-right
    = link_to project_tree_path(@project, @ref) do
      = @project.path
  - tree_breadcrumbs(tree, 6) do |title, path|
    %li
      - if path
        = link_to truncate(title, length: 40), project_tree_path(@project, path)
      - else
        = link_to title, '#'
  - if current_user && @repository.branch_names.include?(@ref) && current_user.can?(:push_code, @project)
    %li
      = link_to project_new_tree_path(@project, @id), title: 'New file', id: 'new-file-link' do
        %small
          %i.icon-plus.light

%div#tree-content-holder.tree-content-holder
  %table#tree-slider{class: "table_#{@hex_path} tree-table" }
    %thead
      %tr
        %th Name
        %th Last Update
        %th.hidden-sm
          Last Commit
          %span.last-commit
            &nbsp;
            %i.icon-angle-right
            &nbsp;
            %small.light
              = link_to @commit.short_id, project_commit_path(@project, @commit)
              &ndash;
              = truncate(@commit.title, length: 50)
        %th= link_to "history", project_commits_path(@project, @id), class: "pull-right"

    - if @path.present?
      %tr.tree-item
        %td.tree-item-file-name
          = image_tag "file_empty.png", size: '16x16'
          = link_to "..", project_tree_path(@project, up_dir_path(tree))
        %td
        %td
        %td

    = render_tree(tree)

  - if tree.readme
    = render "projects/tree/readme", readme: tree.readme

%div.tree_progress

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    ajaxGet('#{@logs_path}');
  });
