.tree-ref-container
  .tree-ref-holder
    = render 'shared/ref_switcher', destination: 'tree', path: @path
    - if show_new_repo?
      =icon('long-arrow-right', title: 'to target branch')
      = render 'shared/target_switcher', destination: 'tree', path: @path

  - if !show_new_repo?
    = render 'projects/tree/old_tree_header'

.tree-controls
  - if show_new_repo?
    = render 'shared/repo/editable_mode'
  - else
    = link_to s_('Commits|History'), project_commits_path(@project, @id), class: 'btn'

  = render 'projects/find_file_link'

  = render 'projects/buttons/download', project: @project, ref: @ref
