= gitlab_ui_form_for [@project, @milestone], html: { class: 'milestone-form common-note-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@milestone)

  - if @conflict
    = render 'shared/model_version_conflict', model_name: _('milestone'), link_path: project_milestone_path(@project, @milestone)

  - if @redirect_path.present?
    = f.hidden_field(:redirect_path, name: :redirect_path, id: :redirect_path, value: @redirect_path)
  .form-group
    = f.label :title, _('Title')
    = f.text_field :title, maxlength: 255, class: 'form-control gl-form-input', data: { qa_selector: 'milestone_title_field' }, required: true, autofocus: true
  = render 'shared/milestones/form_dates', f: f
  .form-group
    = f.label :description, _('Description')
    = render layout: 'shared/md_preview', locals: { url: preview_markdown_path(@project) } do
      = render 'shared/zen', f: f, attr: :description,
                              classes: 'note-textarea',
                              qa_selector: 'milestone_description_field',
                              supports_autocomplete: true,
                              placeholder: _('Write milestone description...')
      = render 'shared/notes/hints'
    .clearfix
    .error-alert

  = f.hidden_field :lock_version

  - if @milestone.new_record?
    = f.submit _('Create milestone'), data: { qa_selector: 'create_milestone_button' }, class: 'gl-mr-2', pajamas_button: true
    = link_to _('Cancel'), project_milestones_path(@project), class: 'gl-button btn btn-default btn-cancel'
  - else
    = f.submit _('Save changes'), class: 'gl-mr-2', pajamas_button: true
    = link_to _('Cancel'), project_milestone_path(@project, @milestone), class: 'gl-button btn btn-default btn-cancel'
