%h3.page-title= @milestone.new_record? ? "New Milestone" : "Edit Milestone ##{@milestone.iid}"
.back-link
  = link_to project_milestones_path(@project) do
    &larr; To milestones

%hr

= form_for [@project, @milestone], html: {class: "new_milestone form-horizontal"}  do |f|
  -if @milestone.errors.any?
    .alert.alert-danger
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :title, "Title", class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control"
          %p.hint Required
      .form-group
        = f.label :description, "Description", class: "control-label"
        .col-sm-10
          = f.text_area :description, maxlength: 2000, class: "form-control markdown-area", rows: 10
          .hint
            .pull-left Milestones are parsed with #{link_to "GitLab Flavored Markdown", help_page_path("markdown", "markdown"), target: '_blank'}.
            .pull-left Attach images (JPG, PNG, GIF) by dragging & dropping or #{link_to "selecting them", '#', class: 'markdown-selector' }.
          .clearfix
          .error-alert
    .col-md-6
      .form-group
        = f.label :due_date, "Due Date", class: "control-label"
        .col-sm-10= f.hidden_field :due_date
        .col-sm-10
          .datepicker

  .form-actions
    - if @milestone.new_record?
      = f.submit 'Create milestone', class: "btn-create btn"
      = link_to "Cancel", project_milestones_path(@project), class: "btn btn-cancel"
    -else
      = f.submit 'Save changes', class: "btn-save btn"
      = link_to "Cancel", project_milestone_path(@project, @milestone), class: "btn btn-cancel"


:javascript
  disableButtonIfEmptyField("#milestone_title", ".btn-save");
  $( ".datepicker" ).datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#milestone_due_date').val()));

  window.project_image_path_upload = "#{upload_image_project_path @project}";
