%li{ id: dom_id(issue, 'sortable'), class: 'issue-row', 'data-iid' => issue.iid, 'data-url' => issue_path(issue) }
  %span
    = link_to_gfm issue.title, [@project.namespace.becomes(Namespace), @project, issue], title: issue.title
  .issue-detail
    = link_to [@project.namespace.becomes(Namespace), @project, issue] do
      %span.issue-number ##{issue.iid}
    - issue.labels.each do |label|
      = render_colored_label(label)
    - if issue.assignee
      = image_tag avatar_icon(issue.assignee, 16), class: "avatar s24", alt: ''
