.ui-box
  .title= title
  %ul.well-list
    - issues.each do |issue|
      %li
        = link_to [@project, issue] do
          %span.label{class: issue.closed? ? 'label-danger' : 'label-info'} ##{issue.iid}
        = link_to_gfm truncate(issue.title, length: 40), [@project, issue]
        - if issue.assignee
          .pull-right
            = image_tag avatar_icon(issue.assignee.email, 16), class: "avatar s16"
