= render "projects/issues/head"
.milestones_content
  %h3.page-title
    Milestones
    - if can? current_user, :admin_milestone, @project
      = link_to new_project_milestone_path(@project), class: "pull-right btn btn-new", title: "New Milestone" do
        %i.icon-plus
        New Milestone

  .row
    .fixed.sidebar-expand-button.hidden-lg.hidden-md.hidden-xs
      %i.icon-list.icon-2x
    .col-md-3.responsive-side
      %ul.nav.nav-pills.nav-stacked
        %li{class: ("active" if (params[:f] == "active" || !params[:f]))}
          = link_to project_milestones_path(@project, f: "active") do
            Active
        %li{class: ("active" if params[:f] == "closed")}
          = link_to project_milestones_path(@project, f: "closed") do
            Closed
        %li{class: ("active" if params[:f] == "all")}
          = link_to project_milestones_path(@project, f: "all") do
            All
    .col-md-9
      .panel.panel-default
        %ul.well-list
          = render @milestones

          - if @milestones.blank?
            %li
              .nothing-here-block No milestones to show

      = paginate @milestones, theme: "gitlab"
