- page_title "Milestones"
= render "header_title"


.top-area
  = render 'shared/milestones_filter'

  .nav-controls
    - if can?(current_user, :admin_milestone, @project)
      = link_to new_namespace_project_milestone_path(@project.namespace, @project), class: "btn btn-new", title: "New Milestone" do
        = icon('plus')
        New Milestone

.milestones
  %ul.content-list
    = render @milestones

    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show

  = paginate @milestones, theme: "gitlab"
