- add_to_breadcrumbs _('Milestones'), project_milestones_path(@project)
- breadcrumb_title @milestone.title
- page_title       @milestone.title, _('Milestones')
- page_description @milestone.description_html
- add_page_specific_style 'page_bundles/milestone'
- add_issuable_stylesheet

- add_page_startup_api_call milestone_tab_path(@milestone, 'issues', show_project_name: false)

= render 'shared/milestones/header', milestone: @milestone
= render 'shared/milestones/description', milestone: @milestone

- if @milestone.complete? && @milestone.active?
  = render Pajamas::AlertComponent.new(variant: :success,
    alert_options: { data: { testid: 'all-issues-closed-alert' }},
    dismissible: false) do |c|
    - c.with_body do
      = _('All issues for this milestone are closed. You may close this milestone now.')

= render_if_exists 'shared/milestones/burndown', milestone: @milestone, project: @project

= render 'shared/milestones/tabs', milestone: @milestone
= render 'shared/milestones/sidebar', milestone: @milestone, project: @project, affix_offset: 153
