- add_to_breadcrumbs _('Milestones'), project_milestones_path(@project)
- breadcrumb_title @milestone.title
- page_title       @milestone.title, _('Milestones')
- page_description @milestone.description_html
- add_page_specific_style 'page_bundles/milestone'

- add_page_startup_api_call milestone_tab_path(@milestone, 'issues', show_project_name: false)

= render 'shared/milestones/header', milestone: @milestone
= render 'shared/milestones/description', milestone: @milestone

= render_if_exists 'shared/milestones/burndown', milestone: @milestone, project: @project

- if can?(current_user, :read_issue, @project) && @milestone.total_issues_count == 0
  = render 'shared/global_alert',
    variant: :info,
    dismissible: false,
    is_contained: true,
    alert_data: { testid: 'no-issues-alert' },
    alert_class: 'gl-mt-3 gl-mb-5' do
    .gl-alert-body
      = _('Assign some issues to this milestone.')
- else
  = render 'shared/milestones/milestone_complete_alert', milestone: @milestone do
    = _('All issues for this milestone are closed. You may close this milestone now.')

= render 'shared/milestones/tabs', milestone: @milestone
= render 'shared/milestones/sidebar', milestone: @milestone, project: @project, affix_offset: 153
