%board{ "inline-template" => true, "v-cloak" => true, "v-for" => "board in state.boards | orderBy 'index'", ":board" => "board" }
  .board{ ":class" => "{ 'is-draggable': !isPreset }" }
    .board-inner
      %header.board-inner-container.board-header{ ":class" => "{ 'has-border': board.label }", ":style" => "{ borderTopColor: board.label.backgroundColor }" }
        %h3.board-title
          {{ board.title }}
          %span.pull-right
            {{ board.issues.length }}
          %board-delete{ "inline-template" => true, "v-if" => "!isPreset" }
            %button.board-delete.has-tooltip.pull-right{ type: "button", title: "Delete board", data: { placement: "bottom" } }
              %span.sr-only
                Delete board
              = icon("trash")
      .board-inner-container.board-search-container{ "v-if" => "board.search" }
        %input.form-control{ type: "text", placeholder: "Search issues", "v-model" => "query" }
        = icon("search", class: "board-search-icon", "v-show" => "!query")
        %button.board-search-clear-btn{ type: "button", role: "button", "@click" => "clearSearch", "v-show" => "query" }
          %span.sr-only
            Clear search
          = icon("times", class: "board-search-clear")
      %board-list{ "inline-template" => true, ":board-id" => "board.id", ":issues" => "board.issues", ":disabled" => "#{current_user.nil?}", ":query" => "query", ":filters" => "filters" }
        %ul.board-list{ "v-el:list" => true, ":data-board" => "boardId", ":class" => "{ 'is-marking-done': boardId == 'done' && newDone.board }" }
          = render "projects/boards/components/card"
        %issue-done{ "inline-template" => true, ":done" => "newDone", "v-if" => "boardId == 'done' && newDone.board" }
          .board-done
            %p
              This issue is currently in the following lists:
            %ul.board-done-label-list
              %li{ "v-for" => "board in done.boards" }
                %span.label{ ":style" => "{ 'background-color': board.label.backgroundColor, 'color': board.label.color }" }
                {{ board.title }}
            %p
              Moving it to Done will remove it from all lists and close the issue.
            %button.btn.btn-gray.btn-block.prepend-top-10{ type: "button" }
              Remove from all lists and close
            %button.btn.btn-gray.btn-block{ type: "button" }
              Remove from {{ done.board.title }} list
