%board-sidebar{ "inline-template" => true }
  %aside.right-sidebar.right-sidebar-expanded{ "v-if" => "showSidebar" }
    .issuable-sidebar
      .block.issuable-sidebar-header
        %span.issuable-header-text.hide-collapsed.pull-left
          %strong
            {{ issue.title }}
          %br/
          %span
            = precede "#" do
              {{ issue.id }}
        %a.gutter-toggle.pull-right{ role: "button",
          href: "#",
          "@click" => "closeSidebar",
          aria: { label: "Toggle sidebar" } }
          = icon("times")
      = render "projects/boards/components/sidebar/assignee"
      = render "projects/boards/components/sidebar/milestone"
      = render "projects/boards/components/sidebar/due_date"
      = render "projects/boards/components/sidebar/labels"
      = render "projects/boards/components/sidebar/notifications"
