- group_users_count = @group.group_members.count
.panel.panel-default
  .panel-heading
    %strong #{@group.name}
    group members (#{group_users_count})
    .pull-right
      = link_to members_group_path(@group), class: 'btn btn-small' do
        %i.fa.fa-pencil-square-o
  %ul.well-list
    - @group.group_members.order('access_level DESC').limit(20).each do |member|
      = render 'groups/group_members/group_member', member: member, show_controls: false
    - if group_users_count > 20
      %li
        and #{group_users_count - 20} more. For full list visit #{link_to 'group members page', members_group_path(@group)}
