%h3.page-title
  Users with access to this project

  - unless membership_locked?
    - if can?(current_user, :admin_team_member, @project)
      %span.pull-right
        = link_to new_project_team_member_path(@project), class: "btn btn-new btn-grouped", title: "New project member" do
          New project member
        = link_to import_project_team_members_path(@project), class: "btn btn-grouped", title: "Import members from another project" do
          Import members


%p.light
  Read more about project permissions
  %strong= link_to "here", help_page_path("permissions", "permissions"), class: "vlink"
  - if membership_locked?
    %span.pull-right
      Adding new user to membership is disabled by a group setting

= render "team", members: @project_members
- if @group
  = render "group_members"
- if @project_group_links.any?
  = render "shared_group_members"
