%li{id: dom_id(label)}
  = render "shared/label_row", label: label

  .pull-right
    %strong.append-right-20
      = link_to_label(label, type: :merge_request) do
        = pluralize label.open_merge_requests_count, 'open merge request'

    %strong.append-right-20
      = link_to_label(label) do
        = pluralize label.open_issues_count, 'open issue'

    - if can? current_user, :admin_label, @project
      = link_to 'Edit', edit_namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm'
      = link_to 'Delete', namespace_project_label_path(@project.namespace, @project, label), class: 'btn btn-sm btn-remove remove-row', method: :delete, remote: true, data: {confirm: "Remove this label? Are you sure?"}
