- @no_container = true
- page_title "Labels"
- hide_class = ''
= render "projects/issues/head"

%div{ class: container_class }
  .top-area.adjust
    .nav-text
      Labels can be applied to issues and merge requests. Star a label to make it a priority label. Order the prioritized labels to change their relative priority, by dragging.

    .nav-controls
      - if can?(current_user, :admin_label, @project)
        = link_to new_namespace_project_label_path(@project.namespace, @project), class: "btn btn-new" do
          New label

  .labels
    - if can?(current_user, :admin_label, @project)
      -# Only show it in the first page
      - hide = @project.labels.empty? || (params[:page].present? && params[:page] != '1')
      .prioritized-labels{ class: ('hide' if hide) }
        %h5 Prioritized Labels
        %ul.content-list.manage-labels-list.js-prioritized-labels{ "data-url" => set_priorities_namespace_project_labels_path(@project.namespace, @project) }
          %p.empty-message{ class: ('hidden' unless @prioritized_labels.empty?) } No prioritized labels yet
          - if @prioritized_labels.present?
            = render @prioritized_labels

    .group-labels
      %h5{ class: ('hide' if hide) } Group Labels
      %ul.content-list.manage-labels-list.js-group-labels
        %p.empty-message{ class: ('hidden' unless @group_labels.empty?) } No group labels yet
        - if @group_labels.present?
          = render @group_labels

    .project-labels
      - if can?(current_user, :admin_label, @project)
        %h5{ class: ('hide' if hide) } Project Labels
        %ul.content-list.manage-labels-list.js-project-labels
          %p.empty-message{ class: ('hidden' unless @labels.empty?) } No labels yet
          - if @labels.present?
            = render @labels
        = paginate @labels, theme: 'gitlab'
      - if @project.labels.empty?
        .nothing-here-block
          - if can?(current_user, :admin_label, @project)
            Create a label or #{link_to 'generate a default set of labels', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}.
          - else
            No labels created
