.file-editor
  = form_tag(project_tree_path(@project, @id), :method => :put) do
    .file_holder
      .file_title
        %i.icon-file
        = @tree.path.force_encoding('utf-8')
      .file_content.code
        #editor= @tree.data

    .editor-commit-comment
      = label_tag 'text-commit' do
        %p.slead Commit message
      = text_area_tag 'text_commit'
    .form-actions
      = hidden_field_tag 'last_commit', @last_commit
      = hidden_field_tag 'content'
      = submit_tag "Save", class: 'btn save-btn'

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/twilight");
  editor.getSession().setMode("ace/mode/javascript");
