.scrolling-tabs-container.sub-nav-scroll
  = render 'shared/nav_scroll'
  .nav-links.sub-nav.scrolling-tabs
    %ul{ class: (container_class) }
      = nav_link(controller: :system_info) do
        = link_to admin_system_info_path, title: 'System Info' do
          %span
            System Info
      = nav_link(controller: :background_jobs) do
        = link_to admin_background_jobs_path, title: 'Background Jobs' do
          %span
            Background Jobs
      = nav_link(controller: :logs) do
        = link_to admin_logs_path, title: 'Logs' do
          %span
            Logs
      = nav_link(controller: :health_check) do
        = link_to admin_health_check_path, title: 'Health Check' do
          %span
            Health Check
      = nav_link(controller: :requests_profiles) do
        = link_to admin_requests_profiles_path, title: 'Requests Profiles' do
          %span
            Requests Profiles
