%h3.page-title Background Jobs
%p.light GitLab uses #{link_to "sidekiq", "http://sidekiq.org/"} library for async job processing

%hr

.panel.panel-default
  .panel-heading Sidekiq running processes
  .panel-body
    - if @sidekiq_processes.empty?
      %h4.cred
        %i.icon-warning-sign
        There are no running sidekiq processes. Please restart GitLab
    - else
      %table.table
        %thead
          %th USER
          %th PID
          %th CPU
          %th MEM
          %th STATE
          %th START
          %th COMMAND
        %tbody
          - @sidekiq_processes.each do |process|
            - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
            - data = process.strip.split(' ')
            %tr
              %td= Settings.gitlab.user
              - 5.times do
                %td= data.shift
              %td= data.join(' ')

      .clearfix
        %p
          %i.icon-exclamation-sign
          If '[25 of 25 busy]' is shown, restart GitLab with 'sudo service gitlab reload'.
        %p
          %i.icon-exclamation-sign
          If more than one sidekiq process is listed, stop GitLab, kill the remaining sidekiq processes (sudo pkill -u #{Settings.gitlab.user} -f sidekiq) and restart GitLab.



.panel.panel-default
  %iframe{src: sidekiq_path, width: '100%', height: 900, style: "border: none"}
