= render Pajamas::AlertComponent.new(variant: :danger,
  dismissible: false,
  show_icon: false,
  alert_options: { class: 'hidden js-cluster-error gl-mt-5 gl-mb-5' }) do |c|
  - c.with_body do
    = s_('ClusterIntegration|Something went wrong while creating your Kubernetes cluster')
    .js-error-reason

= render Pajamas::AlertComponent.new(dismissible: false,
  show_icon: false,
  alert_options: { class: 'hidden js-cluster-creating gl-mt-5 gl-mb-5' }) do |c|
  - c.with_body do
    = render Pajamas::SpinnerComponent.new(inline: true)
    %span.gl-ml-2= s_('ClusterIntegration|Kubernetes cluster is being created...')

= render Pajamas::AlertComponent.new(variant: :warning,
  alert_options: { class: 'hidden js-cluster-api-unreachable' }) do |c|
  - c.with_body do
    = s_('ClusterIntegration|Your cluster API is unreachable. Please ensure your API URL is correct.')

= render Pajamas::AlertComponent.new(variant: :warning,
  alert_options: { class: 'hidden js-cluster-authentication-failure js-cluster-api-unreachable' }) do |c|
  - c.with_body do
    = s_('ClusterIntegration|There was a problem authenticating with your cluster. Please ensure your CA Certificate and Token are valid.')

= render Pajamas::AlertComponent.new(variant: :success,
  dismissible: false,
  show_icon: false,
  alert_options: { class: 'hidden js-cluster-success gl-mt-5 gl-mb-5' }) do |c|
  - c.with_body do
    = s_("ClusterIntegration|Kubernetes cluster was successfully created.")
