.hidden.js-cluster-error.bs-callout.bs-callout-danger{ role: 'alert' }
  = s_('ClusterIntegration|Something went wrong while creating your Kubernetes cluster')
  %p.js-error-reason

.hidden.js-cluster-creating.bs-callout.bs-callout-info{ role: 'alert' }
  %span.gl-spinner.gl-spinner-dark{ 'aria-label': 'Loading' }
  %span.gl-ml-2= s_('ClusterIntegration|Kubernetes cluster is being created...')

= render 'shared/global_alert',
  variant: :warning,
  alert_class: 'hidden js-cluster-api-unreachable',
  is_contained: true,
  close_button_class: 'js-close' do
  .gl-alert-body
    = s_('ClusterIntegration|Your cluster API is unreachable. Please ensure your API URL is correct.')

= render 'shared/global_alert',
  variant: :warning,
  alert_class: 'hidden js-cluster-authentication-failure js-cluster-api-unreachable',
  is_contained: true,
  close_button_class: 'js-close' do
  .gl-alert-body
    = s_('ClusterIntegration|There was a problem authenticating with your cluster. Please ensure your CA Certificate and Token are valid.')

.hidden.js-cluster-success.bs-callout.bs-callout-success{ role: 'alert' }
  = s_("ClusterIntegration|Kubernetes cluster was successfully created.")
