%section#cluster-integration
  - unless @cluster.status_name.in? %i/scheduled creating/
    = render 'form'

- unless @cluster.status_name.in? %i/scheduled creating/
  = render_if_exists 'projects/clusters/prometheus_graphs'

  .cluster-applications-table#js-cluster-applications

  %section.settings#js-cluster-details{ class: ('expanded' if expanded) }
    .settings-header
      %h4= s_('ClusterIntegration|Kubernetes cluster details')
      %button.btn.js-settings-toggle{ type: 'button' }
        = expanded ? _('Collapse') : _('Expand')
      %p= s_('ClusterIntegration|See and edit the details for your Kubernetes cluster')
    .settings-content
      = render 'clusters/platforms/kubernetes/form', cluster: @cluster, platform: @cluster.platform_kubernetes, update_cluster_url_path: clusterable.cluster_path(@cluster)

  %section.settings.no-animate#js-cluster-advanced-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4= _('Advanced settings')
      %button.btn.js-settings-toggle{ type: 'button' }
        = expanded ? _('Collapse') : _('Expand')
      %p= s_("ClusterIntegration|Advanced options on this Kubernetes cluster's integration")
    .settings-content#advanced-settings-section
      = render 'advanced_settings'
