.row.empty-state
  .col-12
    .svg-content= image_tag 'illustrations/clusters_empty.svg'
  .col-12
    .text-content
      %h4.gl-text-center= s_('ClusterIntegration|Integrate Kubernetes with a cluster certificate')
      %p.gl-text-center
        = s_('ClusterIntegration|Kubernetes clusters allow you to use review apps, deploy your applications, run your pipelines, and much more in an easy way.')
        = clusterable.empty_state_help_text
        = clusterable.learn_more_link

      - if clusterable.can_add_cluster?
        .gl-text-center
          = link_to s_('ClusterIntegration|Integrate with a cluster certificate'), clusterable.new_path, class: 'gl-button btn btn-confirm', data: { qa_selector: 'add_kubernetes_cluster_link' }
