.row.empty-state
  .col-12
    .svg-content= image_tag 'illustrations/clusters_empty.svg'
  .col-12
    .text-content
      %h4.text-center= s_('ClusterIntegration|Integrate Kubernetes cluster automation')
      - link_to_help_page = link_to(_('Learn more about Kubernetes'), help_page_path('user/project/clusters/index'), target: '_blank', rel: 'noopener noreferrer')
      %p
        = s_('ClusterIntegration|Kubernetes clusters allow you to use review apps, deploy your applications, run your pipelines, and much more in an easy way.')
        - if clusterable.is_project?
          = link_to(s_('ClusterIntegration|Learn more about Kubernetes'), help_page_path('user/project/clusters/index'), target: '_blank', rel: 'noopener noreferrer')
        - else
          = s_('ClusterIntegration|Adding an integration to your group will share the cluster across all your projects.')
          = link_to(s_('ClusterIntegration|Learn more about group Kubernetes clusters'), help_page_path('user/project/clusters/index'), target: '_blank', rel: 'noopener noreferrer')

      - if clusterable.can_create_cluster?
        .text-center
          = link_to s_('ClusterIntegration|Add Kubernetes cluster'), clusterable.new_path, class: 'btn btn-success'
