- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Clusters')

= render_gcp_signup_offer

.clusters-container
  - if @clusters.empty?
    = render "empty_state"
  - else
    .top-area.adjust
      .nav-text
        = s_('ClusterIntegration|Kubernetes clusters can be used to deploy applications and to provide Review Apps for this project')
      .nav-controls
        - if clusterable.can_add_cluster?
          = link_to s_('ClusterIntegration|Add Kubernetes cluster'), clusterable.new_path, class: 'btn gl-button btn-success js-add-cluster'
        - else
          %span.btn.gl-button.btn-success.js-add-cluster.disabled
            = s_("ClusterIntegration|Add Kubernetes cluster")

    #js-clusters-list-app{ data: js_clusters_list_data(clusterable.index_path(format: :json)) }
