- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Clusters')

= render_gcp_signup_offer

.clusters-container.gl-my-2
  - if display_cluster_agents?(clusterable)
    .js-toggle-container
      %ul.nav-links.nav-tabs.nav{ role: 'tablist' }
        %li.nav-item{ role: 'presentation' }
          %a.nav-link.active{ href: "#certificate-clusters-pane", id: "certificate-clusters-tab", data: { toggle: 'tab' }, role: 'tab' }
            %span= s_('ClusterIntegration|Clusters connected with a certificate')

        %li.nav-item{ role: 'presentation' }
          %a.nav-link{ href: "#agent-clusters-pane", id: "agent-clusters-tab", data: { toggle: 'tab' }, role: 'tab' }
            %span= s_('ClusterIntegration|GitLab Agent managed clusters')

      .tab-content
        .tab-pane.active{ id: 'certificate-clusters-pane', role: 'tabpanel' }
          = render 'cluster_list', clusters: @clusters

        .tab-pane{ id: 'agent-clusters-pane', role: 'tabpanel' }
          #js-cluster-agents-list{ data: js_cluster_agents_list_data(clusterable) }

  - else
    = render 'cluster_list', clusters: @clusters
