- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Clusters')

= render_gcp_signup_offer

.clusters-container
  - if @clusters.empty?
    = render "empty_state"
  - else
    .top-area.adjust
      .nav-text
        = s_('ClusterIntegration|Kubernetes clusters can be used to deploy applications and to provide Review Apps for this project')
      = render 'clusters/clusters/buttons'

    - if @has_ancestor_clusters
      .bs-callout.bs-callout-info
        = s_('ClusterIntegration|Clusters are utilized by selecting the nearest ancestor with a matching environment scope. For example, project clusters will override group clusters.')
        %strong
          = link_to _('More information'), help_page_path('user/group/clusters/index', anchor: 'cluster-precedence')

    - if Feature.enabled?(:clusters_list_redesign)
      #js-clusters-list-app{ data: { endpoint: clusterable.index_path(format: :json) } }
    - else
      .clusters-table.js-clusters-list
        .gl-responsive-table-row.table-row-header{ role: "row" }
          .table-section.section-60{ role: "rowheader" }
            = s_("ClusterIntegration|Kubernetes cluster")
          .table-section.section-30{ role: "rowheader" }
            = s_("ClusterIntegration|Environment scope")
          .table-section.section-10{ role: "rowheader" }
        - @clusters.each do |cluster|
          = render "cluster", cluster: cluster.present(current_user: current_user)
      = paginate @clusters, theme: "gitlab"
