- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Cluster')
- active_tab = local_assigns.fetch(:active_tab, 'create')
- provider = params[:provider]
= javascript_include_tag 'https://apis.google.com/js/api.js'

= render_gcp_signup_offer

.row.gl-mt-3
  .col-md-3
    = render 'sidebar'
  .col-md-9.js-toggle-container
    %ul.nav-links.nav-tabs.gitlab-tabs.nav{ role: 'tablist' }
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#create-cluster-pane', id: 'create-cluster-tab', class: active_when(active_tab == 'create'), data: { toggle: 'tab' }, role: 'tab' }
          %span
            = create_new_cluster_label(provider: params[:provider])
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#add-cluster-pane', id: 'add-cluster-tab', class: active_when(active_tab == 'add'), data: { toggle: 'tab', qa_selector: 'add_existing_cluster_tab' }, role: 'tab' }
          %span= s_('ClusterIntegration|Connect existing cluster')

    .tab-content.gitlab-tab-content
      .tab-pane.p-0{ id: 'create-cluster-pane', class: active_when(active_tab == 'create'), role: 'tabpanel' }
        = render 'clusters/clusters/cloud_providers/cloud_provider_selector'

        - if ['aws', 'gcp'].include?(provider)
          .p-3.border-top
            = render "clusters/clusters/#{provider}/new"

      .tab-pane{ id: 'add-cluster-pane', class: active_when(active_tab == 'add'), role: 'tabpanel' }
        #js-cluster-new{ data: js_cluster_new }
        = render 'clusters/clusters/user/form'
