- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Cluster')
- active_tab = local_assigns.fetch(:active_tab, 'create')
= javascript_include_tag 'https://apis.google.com/js/api.js'

= render_gcp_signup_offer

.row.prepend-top-default
  .col-md-3
    = render 'sidebar'
  .col-md-9.js-toggle-container
    %ul.nav-links.nav-tabs.gitlab-tabs.nav{ role: 'tablist' }
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#create-cluster-pane', id: 'create-cluster-tab', class: active_when(active_tab == 'create'), data: { toggle: 'tab' }, role: 'tab' }
          %span
            = create_new_cluster_label(provider: params[:provider])
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#add-cluster-pane', id: 'add-cluster-tab', class: active_when(active_tab == 'add'), data: { toggle: 'tab' }, role: 'tab' }
          %span Add existing cluster

    .tab-content.gitlab-tab-content
      .tab-pane{ id: 'create-cluster-pane', class: active_when(active_tab == 'create'), role: 'tabpanel' }
        = render new_cluster_partial(provider: params[:provider])

      .tab-pane{ id: 'add-cluster-pane', class: active_when(active_tab == 'add'), role: 'tabpanel' }
        = render 'clusters/clusters/user/header'
        = render 'clusters/clusters/user/form'
