%tr
  %th{colspan: 10}
    %strong
      %a{name: stage}
      - status = statuses.latest.status
      %span{class: "ci-status-link ci-status-icon-#{status}"}
        = ci_icon_for_status(status)
      - if stage
        &nbsp;
        = stage.titleize
  = render statuses.latest_ci_stages, coverage: @project.build_coverage_enabled?, stage: false, ref: false, pipeline_link: false, allow_retry: true
  = render statuses.retried_ci_stages, coverage: @project.build_coverage_enabled?, stage: false, ref: false, pipeline_link: false, retried: true
%tr
  %td{colspan: 10}
    &nbsp;
