%ul.nav-links.no-top.no-bottom.commit-ci-menu
  = nav_link(path: 'commit#show') do
    = link_to namespace_project_commit_path(@project.namespace, @project, @commit.id) do
      Changes
      %span.badge= @diffs.count
  = nav_link(path: 'commit#builds') do
    = link_to builds_namespace_project_commit_path(@project.namespace, @project, @commit.id) do
      Builds
      %span.badge= @statuses.count
