- signature = local_assigns.fetch(:signature)
- title = local_assigns.fetch(:title)
- label = local_assigns.fetch(:label)
- css_class = local_assigns.fetch(:css_class)
- icon = local_assigns.fetch(:icon)
- show_user = local_assigns.fetch(:show_user, false)

- css_classes = commit_signature_badge_classes(css_class)

- title = capture do
  .gpg-popover-status
    .gpg-popover-icon{ class: css_class }
      = sprite_icon(icon)
    %div
      = title

- content = capture do
  - if show_user
    .clearfix
      = render partial: 'projects/commit/signature_badge_user', locals: { signature: signature }

  GPG Key ID:
  %span.monospace= signature.gpg_key_primary_keyid

  = link_to('Learn more about signing commits', help_page_path('user/project/repository/gpg_signed_commits/index.md'), class: 'gpg-popover-help-link')

%a{ href: 'javascript:void(0)', tabindex: 0, class: css_classes, data: { toggle: 'popover', html: 'true', placement: 'top', title: title, content: content } }
  = label
