- if @branches.any? || @tags.any?
  - branch = commit_default_branch(@project, @branches)
  = link_to(project_ref_path(@project, branch), class: "label label-gray ref-name") do
    = icon('code-fork')
    = branch

  -# `commit_default_branch` deletes the default branch from `@branches`,
  -# so only render this if we have more branches left
  - if @branches.any? || @tags.any?
    %span
      = link_to "…", "#", class: "js-details-expand label label-gray"

      %span.js-details-content.hide
        = commit_branches_links(@project, @branches) if @branches.any?
        = commit_tags_links(@project, @tags) if @tags.any?
