- page_title "Builds", "#{@commit.title} (#{@commit.short_id})", "Commits"
= render "projects/commits/header_title"
= render "commit_box"
= render "ci_menu"


- if @ci_commit.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 Found errors in your .gitlab-ci.yml:
    %ul
      - @ci_commit.yaml_errors.split(",").each do |error|
        %li= error

- unless @ci_commit.ci_yaml_file
  .bs-callout.bs-callout-warning
    \.gitlab-ci.yml not found in this commit

.gray-content-block.second-block
  Latest builds

  .pull-right
    - if @ci_commit.duration > 0
      %i.fa.fa-time
      #{time_interval_in_words @ci_commit.duration}

    &nbsp;

    - if @ci_project && current_user && can?(current_user, :manage_builds, @project)
      - if @ci_commit.builds.latest.failed.any?(&:retryable?)
        = link_to "Retry failed", retry_builds_namespace_project_commit_path(@project.namespace, @project, @commit.sha), class: 'btn btn-xs btn-primary', method: :post

      - if @ci_commit.builds.running_or_pending.any?
        = link_to "Cancel running", cancel_builds_namespace_project_commit_path(@project.namespace, @project, @commit.sha), class: 'btn btn-xs btn-danger', method: :post

.table-holder
  %table.table.builds
    %thead
      %tr
        %th Status
        %th Build ID
        %th Ref
        %th Stage
        %th Name
        %th Duration
        %th Finished at
        - if @ci_project && @ci_project.coverage_enabled?
          %th Coverage
        %th
    - @ci_commit.refs.each do |ref|
      = render partial: "projects/commit_statuses/commit_status", collection: @ci_commit.statuses.for_ref(ref).latest.ordered,
               locals: { coverage: @ci_project.try(:coverage_enabled?), stage: true, allow_retry: true }

- if @ci_commit.retried.any?
  .gray-content-block.second-block
    Retried builds

  .table-holder
    %table.table.builds
      %thead
        %tr
          %th Status
          %th Build ID
          %th Ref
          %th Stage
          %th Name
          %th Duration
          %th Finished at
          - if @ci_project && @ci_project.coverage_enabled?
            %th Coverage
          %th
      = render partial: "projects/commit_statuses/commit_status", collection: @ci_commit.retried,
               locals: { coverage: @ci_project.try(:coverage_enabled?), stage: true }
