-# no_container is needed here because of full width side-by-side diff view
- @no_container = true
- add_to_breadcrumbs _('Commits'), project_commits_path(@project)
- breadcrumb_title @commit.short_id
- container_class = !fluid_layout && diff_view == :inline ? 'container-limited' : ''
- page_title        "#{@commit.title} (#{@commit.short_id})", _('Commits')
- page_description  @commit.description
- add_page_specific_style 'page_bundles/pipelines'
- add_page_specific_style 'page_bundles/commit_rapid_diffs'

.container-fluid{ class: [container_class] }
  = render "commit_box"
  = render "ci_menu"
  .code{ class: user_color_scheme }
    = render RapidDiffs::DiffFileComponent.with_collection(@diffs_slice.diff_files, parallel_view: diff_view == :parallel)
    - if @stream_url
      #js-stream-container{ data: { diffs_stream_url: @stream_url } }
