- page_title        "#{@commit.title} (#{@commit.short_id})", "Commits"
- page_description  @commit.description

= render "projects/commits/header_title"

.prepend-top-default
  = render "commit_box"
- if @ci_commit
  = render "ci_menu"
- else
  %div.block-connector
= render "projects/diffs/diffs", diffs: @diffs, project: @project
= render "projects/notes/notes_with_form"
