.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      Recent Deliveries
    %p When an event in GitLab triggers a webhook, you can use the request details to figure out if something went wrong.
  .col-lg-9
    - if hook_logs.any?
      %table.table
        %thead
          %tr
            %th Status
            %th Trigger
            %th URL
            %th Elapsed time
            %th Request time
            %th
        - hook_logs.each do |hook_log|
          %tr
            %td
              = render partial: 'shared/hook_logs/status_label', locals: { hook_log: hook_log }
            %td.d-none.d-sm-block
              %span.label.label-gray.deploy-project-label
                = hook_log.trigger.singularize.titleize
            %td
              = truncate(hook_log.url, length: 50)
            %td.light
              #{number_with_precision(hook_log.execution_duration, precision: 2)} sec
            %td.light
              = time_ago_with_tooltip(hook_log.created_at)
            %td
              = link_to 'View details', admin_hook_hook_log_path(hook, hook_log)

      = paginate hook_logs, theme: 'gitlab'

    - else
      .settings-message.text-center
        You don't have any webhooks deliveries
