= form_for @cluster, url: namespace_project_cluster_path(@project.namespace, @project, @cluster), as: :cluster do |field|
  = form_errors(@cluster)
  .form-group
    = field.label :name, s_('ClusterIntegration|Kubernetes cluster name')
    = field.text_field :name, class: 'form-control', placeholder: s_('ClusterIntegration|Kubernetes cluster name')

  = field.fields_for :platform_kubernetes, @cluster.platform_kubernetes do |platform_kubernetes_field|
    .form-group
      = platform_kubernetes_field.label :api_url, s_('ClusterIntegration|API URL')
      = platform_kubernetes_field.text_field :api_url, class: 'form-control', placeholder: s_('ClusterIntegration|API URL')

    .form-group
      = platform_kubernetes_field.label :ca_cert, s_('ClusterIntegration|CA Certificate')
      = platform_kubernetes_field.text_area :ca_cert, class: 'form-control', placeholder: s_('ClusterIntegration|Certificate Authority bundle (PEM format)')

    .form-group
      = platform_kubernetes_field.label :token, s_('ClusterIntegration|Token')
      .input-group
        = platform_kubernetes_field.text_field :token, class: 'form-control js-cluster-token', type: 'password', placeholder: s_('ClusterIntegration|Token'), autocomplete: 'off'
        %span.input-group-addon.clipboard-addon
          %button.js-show-cluster-token.btn-blank{ type: 'button' }
            = s_('ClusterIntegration|Show')

    .form-group
      = platform_kubernetes_field.label :namespace, s_('ClusterIntegration|Project namespace (optional, unique)')
      = platform_kubernetes_field.text_field :namespace, class: 'form-control', placeholder: s_('ClusterIntegration|Project namespace')

    .form-group
      = field.submit s_('ClusterIntegration|Save changes'), class: 'btn btn-success'
