= content_for :head do
  = stylesheet_link_tag 'mailers/highlighted_diff_email'

New comment

- if @discussion && @discussion.diff_file
  on
  = link_to @note.diff_file.file_path, @target_url, class: 'details'
  \:
  %table
    = render partial: "projects/diffs/line",
      collection: @discussion.truncated_diff_lines,
      as: :line,
      locals: { diff_file: @note.diff_file,
        plain: true,
        email: true }

= render 'note_message'
