Merge request #{@merge_request.to_reference} was approved by #{sanitize_name(@approved_by.name)}

Merge request URL: #{project_merge_request_url(@merge_request.target_project, @merge_request)}

= merge_path_description(@merge_request, 'to')

Author: #{sanitize_name(@merge_request.author_name)}
= assignees_label(@merge_request)
= reviewers_label(@merge_request)
