%p
  = "Merge Request #{@merge_request.iid} was closed by #{@updated_by.name}"
%p
  != merge_path_description(@merge_request, '&rarr;')
%p
  Assignee: #{@merge_request.author_name} &rarr; #{@merge_request.assignee_name}

