- source_hostname = @source_user.source_hostname
- source_name = @source_user.source_name
- source_username = "@#{@source_user.source_username}"
- reassign_to_user = @source_user.reassign_to_user
- reassign_to_name = reassign_to_user.name
- reassign_to_username = link_to reassign_to_user.to_reference, user_url(reassign_to_user)
- destination_group = link_to "#{@source_user.namespace.name} (/#{@source_user.namespace.full_path})", group_group_members_url(@source_user.namespace, tab: 'placeholders')

- header_style = 'font-size:24px; text-align:center; line-height:30px;'
- text_style = 'font-size:16px; text-align:center; line-height:24px; margin-top: 24px;'

%h1{ style: header_style }
  = s_('UserMapping|Reassignment rejected')

%p{ style: text_style }
  = safe_format(s_('UserMapping|%{reassign_to_name} (%{reassign_to_username}) has declined your request to reassign contributions from %{source_name} (%{source_username}) on %{source_hostname} to them in %{destination_group}. To reassign these contributions to another user, go to the "Members" page of %{destination_group}.'),
    reassign_to_name: reassign_to_name,
    reassign_to_username: reassign_to_username,
    source_name: source_name,
    source_username: source_username,
    source_hostname: source_hostname,
    destination_group: destination_group)
