%td.content{align: "left", style: "font-family: Helvetica, Arial, sans-serif; padding: 20px 0 0;", valign: "top", width: "600"}
  %table{border: "0", cellpadding: "0", cellspacing: "0", style: "color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;", width: "600"}
    %tr
      %td{width: "21"}
      %td
        %h2{style: "color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "}
          = "Issue was #{@issue_status} by #{@updated_by.name}"
      %td{style: "font-size: 1px; line-height: 1px;", width: "21"}
    %tr
      %td{style: "font-size: 1px; line-height: 1px;", width: "21"}
      %td{align: "left", style: "padding: 20px 0 0;"}
        %p{style: "color:#646464 !important; line-height: 26px; font-size: 16px; font-family: Helvetica, Arial, sans-serif; "}
          = "Issue ##{@issue.id}"
          = link_to_gfm truncate(@issue.title, length: 45), project_issue_url(@issue.project, @issue), title: @issue.title
        %br

