Merge request #{@merge_request.to_reference} was set to auto-merge by #{sanitize_name(@mwps_set_by.name)}

Merge request url: #{project_merge_request_url(@merge_request.target_project, @merge_request)}

= merge_path_description(@merge_request)

Author: #{sanitize_name(@merge_request.author_name)}
= assignees_label(@merge_request)
= reviewers_label(@merge_request)
