%p
  = "New Merge Request !#{@merge_request.id}"
%p
  = link_to_gfm truncate(@merge_request.title, length: 40), project_merge_request_url(@merge_request.project, @merge_request)
%p
  Branches: #{@merge_request.source_branch} &rarr; #{@merge_request.target_branch}
%p
  Assignee: #{@merge_request.author_name} &rarr; #{@merge_request.assignee_name}

