%p
  Hi #{sanitize_name(@user['name'])}!
%p
  - if Gitlab::CurrentSettings.allow_signup?
    Your account has been created successfully.
  - else
    The Administrator created an account for you. Now you are a member of the company GitLab application.
%p
  login..........................................
  %code= @user['email']

- if @user.created_by_id
  %p
    = link_to "Click here to set your password", edit_password_url(@user, reset_password_token: @token)
  %p
    This link is valid for #{password_reset_token_valid_time}.
    After it expires, you can #{link_to("request a new one", new_user_password_url(user_email: @user.email))}.
