%p.details
  = html_escape(_('%{userLinkStart}%{user}%{linkEnd} created a %{mrLinkStart}merge request%{linkEnd}:')) % {userLinkStart: "<a href=\"#{user_url(@merge_request.author)}\">".html_safe,
                                                                                                            user: @merge_request.author_name,
                                                                                                            mrLinkStart: "<a href=\"#{@target_url}\">".html_safe,
                                                                                                            linkEnd: '</a>'.html_safe}

%p
  .branch
    = merge_path_description(@merge_request, 'to')
  .author
    Author: #{@merge_request.author_name}
  .assignee
    = assignees_label(@merge_request)
  .reviewer
    = reviewers_label(@merge_request)
  .approvers
    = render_if_exists 'notify/merge_request_approvers', presenter: @mr_presenter

- if @merge_request.description
  %div
    = markdown(@merge_request.description, pipeline: :email, author: @merge_request.author)
