%p
  Verification has failed for one of your GitLab Pages custom domains!
%p
  Project: #{link_to @project.human_name, project_url(@project)}
%p
  Domain: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  Unless you take action, it will be disabled on
  %strong= @domain.enabled_until.strftime('%F %T.')
  Until then, you can view your content at #{link_to @domain.url, @domain.url}
%p
  Please visit
  = link_to 'these instructions', help_page_url('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
  for more information about custom domain verification.
%p
  If you no longer wish to use this domain with GitLab Pages, please remove it
  from your GitLab project and delete any related DNS records.
