%p
  = _("Something went wrong while obtaining the Let's Encrypt certificate.")
%p
  #{_('Project')}: #{link_to @project.human_name, project_url(@project)}
%p
  #{_('Domain')}: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  - docs_url = help_page_url('user/project/pages/custom_domains_ssl_tls_certification/lets_encrypt_integration.md', anchor: 'troubleshooting')
  - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: docs_url }
  - link_end = '</a>'.html_safe
  = _("Please follow the %{link_start}Let's Encrypt troubleshooting instructions%{link_end} to re-obtain your Let's Encrypt certificate.").html_safe % { link_start: link_start, link_end: link_end }
