%p
  You have been invited 
  - if inviter = @project_member.created_by
    by
    = link_to inviter.name, user_url(inviter)
  to join project
  = link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)
  as #{@project_member.human_access}.

%p
  = link_to 'Accept invitation', invite_url(@token)
  or
  = link_to 'decline', decline_invite_url(@token)
