- body = @alert.resolved? ? _('An alert has been resolved in %{project_path}.') : _('An alert has been triggered in %{project_path}.')

%p
  = body % { project_path: @alert.project.full_path }
%p
  = link_to(_('View alert details.'), @alert.details_url)

- if description = @alert.description
  %p
    = _('Description:')
    = description

- if env_name = @alert.environment&.name
  %p
    = _('Environment:')
    = env_name

- if @alert.show_incident_issues_link?
  %p
    = link_to(_('View incident issues.'), @alert.incident_issues_link)
