%td.content{align: "left", style: "font-family: Helvetica, Arial, sans-serif; padding: 20px 0 0;", valign: "top", width: "600"}
  %table{border: "0", cellpadding: "0", cellspacing: "0", style: "color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;", width: "600"}
    %tr
      %td{style: "font-size: 1px; line-height: 1px;", width: "21"}
      %td{align: "left", style: "padding: 20px 0 0;"}
        %h2{style: "color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; "}
          = "Reassigned Merge Request !#{@merge_request.id}"
          = link_to_gfm truncate(@merge_request.title, length: 30), project_merge_request_url(@merge_request.project, @merge_request)
      %td{style: "font-size: 1px; line-height: 1px;", width: "21"}
    %tr
      %td{style: "font-size: 1px; line-height: 1px;", width: "21"}
      %td{style: "padding: 15px 0 15px;", valign: "top"}
        %p{style: "color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; "}
          Assignee changed from #{@previous_assignee.name} to #{@merge_request.assignee_name}
      %td

