#{@author.name} pushed to #{@branch} at #{link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)}

\
Commits:
- @commits.each do |commit|
  #{link_to commit.short_id, namespace_project_commit_url(@project.namespace, @project, commit)} by #{commit.author_name}
  #{commit.safe_message}
  \- - - - -
\
\
#{pluralize @diffs.count, "changed file"}:
\
- @diffs.each do |diff|
  - if diff.deleted_file
    \- − #{diff.old_path}
  - elsif diff.renamed_file
    \- #{diff.old_path} → #{diff.new_path}
  - elsif diff.new_file
    \- + #{diff.new_path}
  - else
    \- #{diff.new_path}
\
\
Changes:
- @diffs.each do |diff|
  \
  \=====================================
  - if diff.deleted_file
    #{diff.old_path} deleted
  - elsif diff.renamed_file
    #{diff.old_path} → #{diff.new_path}
  - else
    = diff.new_path
  \=====================================
  != diff.diff
\
- if @compare.timeout
  Huge diff. To prevent performance issues it was hidden
