#{@author.name} pushed to #{@branch} at #{@project.name_with_namespace}

\
Commits:
- @commits.each do |commit|
  #{commit.short_id} by #{commit.author_name}
  #{commit.safe_message}
  \- - - - -
\
\
Changes:
- @diffs.each do |diff|
  \
  \=====================================
  - if diff.old_path == diff.new_path
    = diff.new_path
  - elsif diff.new_path && diff.old_path
    #{diff.old_path} &rarr; #{diff.new_path}
  - else
    = diff.new_path || diff.old_path
  \=====================================
  != diff.diff
\
- if @compare.timeout
  Huge diff. To prevent performance issues it was hidden
- elsif @compare.commits_over_limit?
  Changes are not shown due to large amount of commits
