%h3 #{@author.name} pushed to #{@branch} at #{@project.name_with_namespace}

%h4 Commits:

%ul
  - @commits.each do |commit|
    %li
      %strong #{commit.short_id}
      %span by #{commit.author_name}
      %pre #{commit.safe_message}

%h4 Changes:
- @diffs.each do |diff|
  %li
    %strong
      - if diff.old_path == diff.new_path
        = diff.new_path
      - elsif diff.new_path && diff.old_path
        #{diff.old_path} &rarr; #{diff.new_path}
      - else
        = diff.new_path || diff.old_path
    %hr
    %pre
      = diff.diff
    %br

- if @compare.timeout
  %h5 To prevent performance issues changes are hidden
- elsif @compare.commits_over_limit?
  %h5 Changes are not shown due to large amount of commits
