%p
  = _('Hi %{username}!') % { username: sanitize_name(@user.name) }
%p
  = _('One or more of your resource access tokens will expire in %{days_to_expire} or less:') % { days_to_expire: pluralize(@days_to_expire, _('day')) }
%p
  #{@resource.class.name.titleize}: #{@resource.full_path}
%p
  %ul
    - @token_names.each do |token|
      %li= token
%p
  - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: @target_url }
  = html_escape(_('You can create a new one or check them in your %{link_start}access tokens%{link_end} settings.')) % { link_start: link_start, link_end: '</a>'.html_safe }
%p
  = @reason_text
