.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action_name}= event_action_name(event)
  - if event.target
    %strong= link_to_gfm truncate(event.target_title), [event.project, event.target]
  - else
    %strong= gfm truncate(event.target_title)
  at
  - if event.project
    = link_to_project event.project
  - else
    = event.project_name
