.event-title
  %span.author_name= link_to_author event
  %span.event_label{class: event.action_name}= event_action_name(event)
  - if event.target
    = link_to [event.project, event.target] do
      %strong= truncate event.target_title
  - else
    %strong= truncate event.target_title
  at
  - if event.project
    = link_to_project event.project
  - else
    = event.project_name
