= icon_for_profile_event(event)

.event-title
  %span.author_name= link_to_author(event)
  %span{ class: event.action_name }
  - if event.target
    = event.action_name
    %strong
      = link_to [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip', title: event.target_title do
        = event.target_type.titleize.downcase
        = event.target.reference_link_text
  - else
    = event_action_name(event)

  = render "events/event_scope", event: event

- if event.target.respond_to?(:title)
  .event-body
    .event-note
      = event.target.title
