= icon_for_profile_event(event)

= event_user_info(event)

.event-title.d-flex.flex-wrap
  = inline_event_icon(event)
  %span.event-type.d-inline-block.append-right-4{ class: event.action_name }
    = event_action_name(event)

  - if event.project
    = link_to_project(event.project)
  - else
    = event.resource_parent_name
