- if current_path?('users#show')
  .system-note-image{ class: "#{event.action_name}-icon" }
    = icon_for_system_note(event.action_name)
- else
  .system-note-image.user-avatar
    = author_avatar(event, size: 32)


.event-title
  %span.author_name= link_to_author event
  %span{ class: event.action_name }
    = event_action_name(event)

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name
