.event-title
  %span.author_name= link_to_author event
<<<<<<< HEAD
  %span.event_label
    = event.action_name
    = event_note_title_html(event)
    at
=======
  %span.event_label commented on
  - if event.note_target
    - if event.note_commit?
      = event.note_target_type
      = link_to event.note_short_commit_id, project_commit_path(event.project, event.note_commit_id), class: "commit_short_id"
    - else
      = link_to event_note_target_path(event) do
        %strong
          #{event.note_target_type} ##{truncate event.note_target_id}
>>>>>>> gitlabhq/5-2-stable

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

.event-body
  .event-note
    .md
      = event_note(event.target.note, project: event.project)
    - note = event.target
    - if note.attachment.url
      - if note.attachment.image?
        = link_to note.attachment.url, target: '_blank' do
          = image_tag note.attachment.url, class: 'note-image-attach'
      - else
        = link_to note.attachment.url, target: "_blank", class: 'note-file-attach' do
          %i.fa.fa-paperclip
          = note.attachment_identifier
