.event-title
  %span.author_name= link_to_author event
  %span.event_label commented on #{event_note_title_html(event)} at
  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

.event-body
  .event-note
    .md
      %i.icon-comment-alt.event-note-icon
      = sanitize(markdown(truncate(event.target.note, length: 150)), tags: %w(a img b pre p))
    - note = event.target
    - if note.attachment.url
      = link_to note.attachment.secure_url, target: "_blank", class: 'note-file-attach' do
        - if note.attachment.image?
          = image_tag note.attachment.url, class: 'note-image-attach'
        - else
          %i.icon-paper-clip
          = note.attachment_identifier
