.event-item{ class: current_path?('users#activity') ? 'user-profile-activity gl-border-b-0 !gl-pl-7 gl-pb-3' : '' }
  .event-item-timestamp.gl-text-sm
    = time_ago_with_tooltip(event.created_at)

  .system-note-image.gl-rounded-full.gl-bg-strong.gl-leading-0= sprite_icon('eye-slash', size: 14, css_class: 'icon')

  = event_user_info(event)

  .event-title.gl-flex
    = inline_event_icon(event)
    = s_('Profiles|Made a private contribution')
