.row.prepend-top-default.append-bottom-default.prometheus-metrics-monitoring.js-prometheus-metrics-monitoring
  .col-lg-3
    %h4.prepend-top-0
      = s_('PrometheusService|Metrics')
    %p
      = s_('PrometheusService|Common metrics are automatically monitored based on a library of metrics from popular exporters.')
      = link_to s_('PrometheusService|More information'), help_page_path('user/project/integrations/prometheus_library/metrics'), target: '_blank', rel: "noopener noreferrer"

  .col-lg-9
    .panel.panel-default.custom-monitored-metrics.js-panel-custom-monitored-metrics{ data: { active_custom_metrics: project_prometheus_metrics_path(@project), environments_data: environments_list_data } }
      .panel-heading
        %h3.panel-title
          = s_('PrometheusService|Custom metrics')
          %span.badge.js-custom-monitored-count 0
          = link_to s_('PrometheusService|New metric'), new_project_prometheus_metric_path(@project), class: 'btn btn-success js-new-metric-button hidden'
      .panel-body
        .flash-container.hidden
          .flash-warning
            .flash-text
        .loading-metrics.js-loading-custom-metrics
          %p.prepend-top-10.prepend-left-10
            = icon('spinner spin', class: 'metrics-load-spinner')
            = s_('PrometheusService|Finding custom metrics...')
        .empty-metrics.hidden.js-empty-custom-metrics
          = link_to s_('PrometheusService|New metric'), new_project_prometheus_metric_path(@project), class: 'btn btn-success prepend-top-10 prepend-left-10 append-bottom-10'
        %ul.list-unstyled.metrics-list.hidden.js-custom-metrics-list

    .panel.panel-default.js-panel-monitored-metrics{ data: { active_metrics: active_common_project_prometheus_metrics_path(@project, :json), metrics_help_path: help_page_path('user/project/integrations/prometheus_library/metrics') } }
      .panel-heading
        %h3.panel-title
          = s_('PrometheusService|Common metrics')
          %span.badge.js-monitored-count 0
      .panel-body
        .loading-metrics.js-loading-metrics
          %p.prepend-top-10.prepend-left-10
            = icon('spinner spin', class: 'metrics-load-spinner')
            = s_('PrometheusService|Finding and configuring metrics...')
        .empty-metrics.hidden.js-empty-metrics
          %p.text-tertiary.prepend-top-10.prepend-left-10
            = s_('PrometheusService|Waiting for your first deployment to an environment to find common metrics')
        %ul.list-unstyled.metrics-list.hidden.js-metrics-list

    .panel.panel-default.hidden.js-panel-missing-env-vars
      .panel-heading
        %h3.panel-title
          = icon('caret-right lg fw', class: 'panel-toggle js-panel-toggle', 'aria-label' => 'Toggle panel')
          = s_('PrometheusService|Missing environment variable')
          %span.badge.js-env-var-count 0
      .panel-body.hidden
        .flash-container
          .flash-notice
            .flash-text
              = s_("PrometheusService|To set up automatic monitoring, add the environment variable %{variable} to exporter's queries." % { variable: "<code>$CI_ENVIRONMENT_SLUG</code>" }).html_safe
              = link_to s_('PrometheusService|More information'), help_page_path('user/project/integrations/prometheus', anchor: 'metrics-and-labels')
        %ul.list-unstyled.metrics-list.js-missing-var-metrics-list
