= gitlab_ui_form_for [:admin, @group] do |f|
  = form_errors(@group)
  = render ::Layouts::HorizontalSectionComponent.new(options: { class: 'gl-pb-5 gl-mb-6' }) do |c|
    - c.with_title { _('Naming, visibility') }
    - c.with_description do
      = _('Update your group name, description, avatar, and visibility.')
      = link_to _('Learn more about groups.'), help_page_path('user/group/index')
    - c.with_body do
      = render 'shared/groups/group_name_and_path_fields', f: f
      = render 'shared/group_form_description', f: f
      .form-group.gl-form-group{ role: 'group' }
        = f.label :avatar, _("Group avatar"), class: 'gl-block col-form-label'
        = render 'shared/choose_avatar_button', f: f
      = render 'shared/visibility_level', f: f, visibility_level: visibility_level, can_change_visibility_level: can_change_group_visibility_level?(@group), form_model: @group, with_label: false

  = render ::Layouts::HorizontalSectionComponent.new(options: { class: 'gl-pb-3 gl-mb-6' }) do |c|
    - c.with_title { _('Permissions and group features') }
    - c.with_description do
      = _('Configure advanced permissions, Large File Storage, two-factor authentication, and CI/CD settings.')
    - c.with_body do
      = render_if_exists 'shared/old_repository_size_limit_setting', form: f, type: :group
      = render_if_exists 'admin/namespace_plan', f: f
      .form-group.gl-form-group{ role: 'group' }
        = render 'shared/allow_request_access', form: f
      = render 'groups/group_admin_settings', f: f
      = render_if_exists 'namespaces/shared_runners_minutes_settings', group: @group, form: f

  = render ::Layouts::HorizontalSectionComponent.new(border: false, options: { class: 'gl-pb-3' }) do |c|
    - c.with_title { _('Admin notes') }
    - c.with_body do
      = render 'shared/admin/admin_note_form', f: f

  - if @group.new_record?
    = render Pajamas::AlertComponent.new(dismissible: false) do |c|
      - c.with_body do
        = render 'shared/group_tips'
    .gl-mt-5
      = f.submit _('Create group'), pajamas_button: true
      = render Pajamas::ButtonComponent.new(href: admin_groups_path) do
        = _('Cancel')

  - else
    .gl-mt-5
      = f.submit _('Save changes'), data: { testid: 'save-changes-button' }, pajamas_button: true
      = render Pajamas::ButtonComponent.new(href: admin_group_path(@group)) do
        = _('Cancel')
