= bootstrap_form_for [:admin, @group], layout: :horizontal do |f|
  = f.alert_message 'Please check your form for possible errors.'

  = render 'shared/group_form', f: f

  = f.form_group :avatar, label: { text: 'Group avatar' } do
    = render 'shared/choose_group_avatar_button', f: f

  - if @group.new_record?
    = f.form_group do
      .alert.alert-info
        = render 'shared/group_tips'

    .form-actions
      = f.submit 'Create group', class: 'btn btn-create'
      = link_to 'Cancel', admin_groups_path, class: 'btn btn-cancel'

  - else
    .form-actions
      = f.primary 'Save changes'
      = link_to 'Cancel', admin_group_path(@group), class: 'btn btn-cancel'

