= form_for [:admin, @group], html: { class: "form-horizontal" } do |f|
  - if @group.errors.any?
    .alert.alert-danger
      %span= @group.errors.full_messages.first
  .form-group.group_name_holder
    = f.label :name, class: 'control-label' do
      Group name
    .col-sm-10
      = f.text_field :name, placeholder: "Example Group", class: "form-control"

  .form-group.group-description-holder
    = f.label :description, "Details", class: 'control-label'
    .col-sm-10
      = f.text_area :description, maxlength: 250, class: "form-control js-gfm-input", rows: 4

  .form-group.group-description-holder
    = f.label :avatar, "Group avatar", class: 'control-label'
    .col-sm-10
      %a.choose-btn.btn.btn-small.js-choose-group-avatar-button
        %i.icon-paper-clip
        %span Choose File ...
      &nbsp;
      %span.file_name.js-avatar-filename File name...
      = f.file_field :avatar, class: "js-group-avatar-input hidden"
      .light The maximum file size allowed is 100KB.

  - if @group.new_record?
    .form-group
      .col-sm-2
      .col-sm-10
        .bs-callout.bs-callout-info
          %ul
            %li A group is a collection of several projects
            %li Groups are private by default
            %li Members of a group may only view projects they have permission to access
            %li Group project URLs are prefixed with the group namespace
            %li Existing projects may be moved into a group
    .form-actions
      = f.submit 'Create group', class: "btn btn-create"
      = link_to  'Cancel', admin_groups_path, class: "btn btn-cancel"

  - else
    .form-group.group_name_holder
      = f.label :path, class: 'control-label' do
        %span Group path
      .col-sm-10
        = f.text_field :path, placeholder: "example-group", class: "form-control danger"
        .bs-callout.bs-callout-danger
          %ul
            %li Changing group path can have unintended side effects.
            %li Renaming group path will rename directory for all related projects
            %li It will change web url for access group and group projects.
            %li It will change the git path to repositories under this group.

    %section.ldap-group-links
      %fieldset
        %legend Current LDAP links
        - if @group.ldap_group_links.any?
          %ul.bordered-list
            - @group.ldap_group_links.each do |ldap_group_link|
              %li
                %h4
                  = ldap_group_link.cn
                  %small.light== as #{ldap_group_link.human_access}
                  .pull-right
                    = link_to group_ldap_group_link_path(@group, ldap_group_link), method: :destroy, class: 'btn btn-danger btn-small' do
                      = fa_icon('unlink', text: 'unlink')
        - else
          %p No links yet

      %fieldset
        %legend Add new LDAP link
        %div.form-holder
          .form-group.clearfix
            = f.label :ldap_cn, class: 'control-label' do
              LDAP Group cn
            .col-sm-10
              = f.hidden_field :ldap_cn, placeholder: "Ex. QA group", class: "xxlarge ajax-ldap-groups-select input-mn-300"
              .help-block
                Synchronize #{@group.name}'s members with this LDAP group.
                %br
                If you select an LDAP group you do not belong to you will lose ownership of #{@group.name}.

          .form-group.clearfix
            = f.label :ldap_access, class: 'control-label' do
              LDAP Access
            .col-sm-10
              = f.select :ldap_access, options_for_select(UsersGroup.group_access_roles, @group.ldap_access)
              .help-block
                Default, minimum permission level for LDAP group members of #{@group.name}.
                %br
                You can manage permission levels for individual group members in the Members tab.

    .form-actions
      = f.submit 'Save changes', class: "btn btn-primary"
      = link_to  'Cancel', admin_group_path(@group), class: "btn btn-cancel"

