= form_for [:admin, @group] do |f|
  - if @group.errors.any?
    .alert-message.block-message.error
      %span= @group.errors.full_messages.first
  .clearfix.group_name_holder
    = f.label :name do
      Group name is
    .input
      = f.text_field :name, placeholder: "Example Group", class: "xxlarge"
  .clearfix
    = f.label :code do
      URL
    .input
      .input-prepend
        %span.add-on= web_app_url + 'groups/'
        = f.text_field :code, placeholder: "example"

  .form-actions
    = f.submit 'Save group', class: "btn save-btn"
