%h3.page_title Rename Group
%hr
= form_for [:admin, @group] do |f|
  - if @group.errors.any?
    .alert-message.block-message.error
      %span= @group.errors.full_messages.first
  .clearfix.group_name_holder
    = f.label :name do
      Group name is
    .input
      = f.text_field :name, placeholder: "Example Group", class: "xxlarge"



  .clearfix.group_name_holder
    = f.label :path do
      %span.cred Group path is
    .input
      = f.text_field :path, placeholder: "example-group", class: "xxlarge danger"
      %ul.cred
        %li Changing group path can have unintended side effects.
        %li Renaming group path will rename directory for all related projects
        %li It will change web url for access group and group projects.
        %li It will change the git path to repositories under this group.

  .form-actions
    = f.submit 'Rename group', class: "btn danger"
    = link_to  'Cancel', admin_groups_path, class: "btn cancel-btn"
