%h3.page-title
  Groups (#{@groups.total_count})
  %small
    allows you to keep projects organized.
    Use groups for uniting related projects.

  = link_to 'New Group', new_admin_group_path, class: "btn btn-new pull-right"
%br
= form_tag admin_groups_path, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :name, params[:name], class: "form-control input-mn-300"
  = submit_tag "Search", class: "btn submit btn-primary"

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        .pull-right.prepend-top-10
          = link_to 'Edit', edit_admin_group_path(group), id: "edit_#{dom_id(group)}", class: "btn btn-small"
          = link_to 'Destroy', [:admin, group], data: {confirm: "REMOVE #{group.name}? Are you sure?"}, method: :delete, class: "btn btn-small btn-remove"

        %h4
          = link_to [:admin, group] do
            = group.name

          &rarr;
          %span.monospace
            %i.icon-folder-close
            %strong #{group.path}/

      .clearfix.light.append-bottom-10
        %span
          %b Members:
          %span.badge= group.members.size
        \|
        %span
          %b Projects:
          %span.badge= group.projects.count

      .clearfix
        %p
          = truncate group.description, length: 150

= paginate @groups, theme: "gitlab"
