- page_title _("Groups")

.top-area
  .gl-mt-3.gl-mb-3
    = form_tag admin_groups_path, method: :get, class: 'js-search-form' do |f|
      = hidden_field_tag :sort, @sort
      .search-holder
        - project_name = params[:name].present? ? params[:name] : nil
        .search-field-holder
          = search_field_tag :name, project_name, class: "form-control search-text-input js-search-input", autofocus: true, spellcheck: false, placeholder: 'Search by name', data: { qa_selector: 'group_search_field' }
          = sprite_icon('search', css_class: 'search-icon')
        = render "shared/groups/dropdown", options_hash: admin_groups_sort_options_hash
        = link_to new_admin_group_path, class: "gl-button btn btn-confirm" do
          = _('New group')
%ul.content-list
  = render @groups

= paginate @groups, theme: "gitlab"
