- page_title "Groups"
%h3.page-title
  Groups (#{number_with_delimiter(@groups.total_count)})
  = link_to 'New Group', new_admin_group_path, class: "btn btn-new pull-right"

%p.light
  Group allows you to keep projects organized.
  Use groups for uniting related projects.

%hr
= form_tag admin_groups_path, method: :get, class: 'form-inline' do
  = hidden_field_tag :sort, @sort
  .form-group
    = text_field_tag :name, params[:name], class: "form-control"
  = button_tag "Search", class: "btn submit btn-primary"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light
        - if @sort.present?
          = sort_options_hash[@sort]
        - else
          = sort_title_recently_created
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to admin_groups_path(sort: sort_value_recently_created) do
            = sort_title_recently_created
          = link_to admin_groups_path(sort: sort_value_oldest_created) do
            = sort_title_oldest_created
          = link_to admin_groups_path(sort: sort_value_recently_updated) do
            = sort_title_recently_updated
          = link_to admin_groups_path(sort: sort_value_oldest_updated) do
            = sort_title_oldest_updated

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        .pull-right.prepend-top-10
          = link_to 'Edit', edit_admin_group_path(group), id: "edit_#{dom_id(group)}", class: "btn btn-sm"
          = link_to 'Destroy', [:admin, group], data: {confirm: "REMOVE #{group.name}? Are you sure?"}, method: :delete, class: "btn btn-sm btn-remove"

        %h4
          = link_to [:admin, group] do
            %i.fa.fa-folder
            = group.name

          &rarr;
          %span.monospace
            %strong #{group.path}/
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, 'member')}, #{pluralize(group.projects.count, 'project')}


= paginate @groups, theme: "gitlab"
