- @no_container = true
- page_title "Groups"
= render "admin/dashboard/head"

%div{ class: container_class }
  %h3.page-title
    Groups (#{number_with_delimiter(@groups.total_count)})

  %p.light
    Group allows you to keep projects organized.
    Use groups for uniting related projects.

  .top-area
    .nav-search
      = form_tag admin_groups_path, method: :get, class: 'form-inline' do
        = hidden_field_tag :sort, @sort
        = text_field_tag :name, params[:name], class: "form-control"
        = button_tag "Search", class: "btn submit btn-primary"

    .nav-controls
      .dropdown.inline
        %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
          %span.light
          - if @sort.present?
            = sort_options_hash[@sort]
          - else
            = sort_title_recently_created
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to admin_groups_path(sort: sort_value_recently_created) do
              = sort_title_recently_created
            = link_to admin_groups_path(sort: sort_value_oldest_created) do
              = sort_title_oldest_created
            = link_to admin_groups_path(sort: sort_value_recently_updated) do
              = sort_title_recently_updated
            = link_to admin_groups_path(sort: sort_value_oldest_updated) do
              = sort_title_oldest_updated
      = link_to 'New Group', new_admin_group_path, class: "btn btn-new"

  %ul.content-list
    = render @groups

  = paginate @groups, theme: "gitlab"
