%h3.page_title
  Group: #{@group.name}

%br
%table.zebra-striped
  %thead
    %tr
      %th Group
      %th
  %tr
    %td
      %b
        Name:
    %td
      = @group.name
      &nbsp;
      = link_to edit_admin_group_path(@group), class: "btn btn-small right" do
        %i.icon-edit
        Rename
  %tr
    %td
      %b
        Path:
    %td
      %span.monospace= File.join(Gitlab.config.gitolite.repos_path, @group.path)
  %tr
    %td
      %b
        Owner:
    %td
      = @group.owner_name
      .right
        = link_to "#", class: "btn btn-small change-owner-link" do
          %i.icon-edit
          Change owner

  %tr.change-owner-holder.hide
    %td.bgred
      %b.cred
        New Owner:
    %td.bgred
      = form_for [:admin, @group] do |f|
        = f.select :owner_id, User.all.map { |user| [user.name, user.id] }, {}, {class: 'chosen'}
        %div
          = f.submit 'Change Owner', class: "btn danger"
          = link_to "Cancel", "#", class: "btn change-owner-cancel-link"
%fieldset
  %legend Projects (#{@group.projects.count})
  %table
    %thead
      %tr
        %th Project name
        %th Path
        %th Users
        %th.cred Danger Zone!
    - @group.projects.each do |project|
      %tr
        %td
          = link_to project.name_with_namespace, [:admin, project]
        %td
          %span.monospace= project.path_with_namespace + ".git"
        %td= project.users.count
        %td.bgred
          = link_to 'Transfer project to global namespace', remove_project_admin_group_path(@group, project_id: project.id), confirm: 'Remove project from group and move to global namespace. Are you sure?', method: :delete, class: "btn danger small"


= form_tag project_update_admin_group_path(@group), class: "bulk_import", method: :put  do
  %fieldset
    %legend Move projects to group
    .alert
      You can move only projects with existing repos
      %br
      Group projects will be moved in group directory and will not be accessible by old path
    .clearfix
      = label_tag :project_ids do
        Projects
      .input
        = select_tag :project_ids, options_from_collection_for_select(@projects , :id, :name_with_namespace), multiple: true, data: {placeholder: 'Select projects'}, class: 'chosen span5'
    .form-actions
      = submit_tag 'Add', class: "btn primary"

:javascript
  $(function(){
    var modal = $('.change-owner-holder');
    $('.change-owner-link').bind("click", function(){
      $(this).hide();
      modal.show();
    });
    $('.change-owner-cancel-link').bind("click", function(){
      modal.hide();
      $('.change-owner-link').show();
    })
  })

