%h3.page_title
  Team: #{@team.name}
%hr
= form_tag admin_team_projects_path(@team), id: "assign_projects", class: "bulk_import", method: :post  do
  %h6 Choose Projects you want to assign:
  .clearfix
    = label_tag :project_ids, "Projects"
    .input
      = select_tag :project_ids, options_from_collection_for_select(@projects , :id, :name_with_namespace), multiple: true, data: {placeholder: 'Select projects'}, class: 'chosen span5'

  %h6 Choose greatest user acces for your team in this projects:
  .clearfix
    = label_tag :greatest_project_access, "Greatest Access"
    .input
      = select_tag :greatest_project_access, options_for_select(Project.access_options), {class: "project-access-select chosen span3" }

  .form-actions
    = submit_tag 'Add team to projects', class: "btn btn-create", id: :assign_projects_to_team
