- pipeline = local_assigns.fetch(:pipeline) { project.latest_successful_pipeline_for(ref) }

- if !project.empty_repo? && can?(current_user, :download_code, project)
  - archive_prefix = "#{project.path}-#{ref.tr('/', '-')}"
  .project-action-button.dropdown.inline>
    %button.btn.has-tooltip{ title: s_('DownloadSource|Download'), 'data-toggle' => 'dropdown', 'aria-label' => s_('DownloadSource|Download'), 'data-display' => 'static' }
      = sprite_icon('download')
      %span.sr-only=  _('Select Archive Format')
      = sprite_icon("arrow-down")
    %ul.dropdown-menu.dropdown-menu-right{ role: 'menu' }
      %li.dropdown-bold-header= _('Download source code')
      %li.dropdown-menu-content
        %ul
          %li.d-inline-block.m-0.p-0
            = link_to _('zip'), project_archive_path(project, id: tree_join(ref, archive_prefix), format: 'zip'), rel: 'nofollow', download: '', class: 'btn btn-primary btn-xs'
          %li.d-inline-block.m-0.p-0
            = link_to _('tar.gz'), project_archive_path(project, id: tree_join(ref, archive_prefix), format: 'tar.gz'), rel: 'nofollow', download: '', class: 'btn btn-xs'
          %li.d-inline-block.m-0.p-0
            = link_to _('tar.bz2'), project_archive_path(project, id: tree_join(ref, archive_prefix), format: 'tar.bz2'), rel: 'nofollow', download: '', class: 'btn btn-xs'
          %li.d-inline-block.m-0.p-0
            = link_to _('tar'), project_archive_path(project, id: tree_join(ref, archive_prefix), format: 'tar'), rel: 'nofollow', download: '', class: 'btn btn-xs'
      - if directory?
        %li.separator
        %li.dropdown-bold-header= _('Download this directory')
        %li.dropdown-menu-content
          %ul
            %li.d-inline-block.m-0.p-0
              = link_to _('zip'), project_archive_path(project, id: tree_join(ref, archive_prefix), path: @path, format: 'zip'), rel: 'nofollow', download: '', class: 'btn btn-primary btn-xs'
            %li.d-inline-block.m-0.p-0
              = link_to _('tar.gz'), project_archive_path(project, id: tree_join(ref, archive_prefix), path: @path, format: 'tar.gz'), rel: 'nofollow', download: '', class: 'btn btn-xs'
            %li.d-inline-block.m-0.p-0
              = link_to _('tar.bz2'), project_archive_path(project, id: tree_join(ref, archive_prefix), path: @path, format: 'tar.bz2'), rel: 'nofollow', download: '', class: 'btn btn-xs'
            %li.d-inline-block.m-0.p-0
              = link_to _('tar'), project_archive_path(project, id: tree_join(ref, archive_prefix), path: @path, format: 'tar'), rel: 'nofollow', download: '', class: 'btn btn-xs'
      - if pipeline && pipeline.latest_builds_with_artifacts.any?
        %li.separator
        %li.dropdown-bold-header= _('Download artifacts')
        - unless pipeline.latest?
          %span.unclickable= ci_status_for_statuseable(project.pipeline_for(ref))
        %li.dropdown-header= _('Previous Artifacts')
        - pipeline.latest_builds_with_artifacts.each do |job|
          %li
            = link_to job.name, latest_succeeded_project_artifacts_path(project, "#{ref}/download", job: job.name), rel: 'nofollow', download: ''
