- unless @project.empty_repo?
  - if can? current_user, :download_code, @project
    .dropdown.inline.btn-group
      %button.btn{ 'data-toggle' => 'dropdown' }
        = icon('download')
        = icon('caret-down')
        %span.sr-only
          Select Archive Format
      %ul.dropdown-menu.dropdown-menu-align-right{ role: 'menu' }
        %li.dropdown-header Source code
        %li
          = link_to archive_namespace_project_repository_path(@project.namespace, @project, ref: @ref, format: 'zip'), rel: 'nofollow' do
            %span Download zip
        %li
          = link_to archive_namespace_project_repository_path(@project.namespace, @project, ref: @ref, format: 'tar.gz'), rel: 'nofollow' do
            %span Download tar.gz
        - pipeline = @project.pipelines.latest_successful_for(@ref).first
        - if pipeline
          - artifacts = pipeline.builds.latest.with_artifacts
          - if artifacts.any?
            %li.dropdown-header Artifacts
            - unless pipeline.latest?
              = " (not latest, but #{link_to(pipeline.short_sha, namespace_project_pipeline_path(@project.namespace, @project, pipeline))})"
            - artifacts.each do |job|
              %li
                = link_to search_namespace_project_artifacts_path(@project.namespace, @project, @ref, 'download', job: job.name), rel: 'nofollow' do
                  %span Download '#{job.name}'
