- if @notification_setting
  = form_tag profile_notifications_path, method: :put, remote: true, class: 'inline', id: 'notification-form' do
    = hidden_field_tag :notification_id, @notification_setting.id
    = hidden_field_tag :notification_level, @notification_setting.level
    %span.dropdown
      %a.dropdown-new.btn.notifications-btn#notifications-button{href: '#', "data-toggle" => "dropdown"}
        = icon('bell')
        = notification_title(@notification_setting.level)
        = icon('angle-down')
      %ul.dropdown-menu.dropdown-menu-right.project-home-dropdown
        - NotificationSetting.levels.each do |level|
          = notification_list_item(level.first, @notification_setting)
