- if current_user and !@membership.nil?
  = form_tag profile_notifications_path, method: :put, remote: true, class: 'inline-form', id: 'notification-form' do
    = hidden_field_tag :notification_type, 'project'
    = hidden_field_tag :notification_id, @membership.id
    = hidden_field_tag :notification_level
    %span.dropdown
      %a.dropdown-toggle.btn.btn-new{href: '#', "data-toggle" => "dropdown"}
        = icon('bell')
        Notifications
        = icon('angle-down')
      %ul.dropdown-menu.dropdown-menu-right.project-home-dropdown
        - Notification.notification_levels.each do |level|
          = notification_list_item(level, @membership)