- if @notification_setting
  = form_for @notification_setting, url: namespace_project_notification_setting_path(@project.namespace.becomes(Namespace), @project), method: :patch, remote: true, html: { class: 'inline', id: 'notification-form' } do |f|
    = f.hidden_field :level
    %span.dropdown
      %a.dropdown-new.btn.notifications-btn#notifications-button{href: '#', "data-toggle" => "dropdown"}
        = icon('bell')
        = notification_title(@notification_setting.level)
        = icon('angle-down')
      %ul.dropdown-menu.dropdown-menu-right.project-home-dropdown
        - NotificationSetting.levels.each do |level|
          = notification_list_item(level.first, @notification_setting)
