- if current_user
  = link_to toggle_star_namespace_project_path(@project.namespace, @project), class: 'btn star-btn toggle-star has_tooltip', method: :post, remote: true, title: "Star project" do
    - if current_user.starred?(@project)
      = icon('star fw')
      %span.starred Unstar
    - else
      = icon('star-o fw')
      %span Star
  %div.count-with-arrow
    %span.arrow
    %span.count.star-count
      = @project.star_count

- else
  = link_to new_user_session_path, class: 'btn has_tooltip star-btn', title: 'You must sign in to star a project' do
    = icon('star fw')
    Star
  %div.count-with-arrow
    %span.arrow
    %span.count
      = @project.star_count
