= render "head"

#tree-holder.tree-holder
  %ul.breadcrumb
    %li
      %span.arrow
      = link_to project_tree_path(@project, @ref) do
        = @project.name
    - @tree.breadcrumbs(6) do |link|
      \/
      %li= link
  .clear

  .file_holder
    .file_title
      %i.icon-file
      %span.file_name
        = @tree.name
        %small= number_to_human_size @tree.size
      %span.options= render "tree/blob_actions"
    .file_content.blame
      %table
        - current_line = 1
        - @blame.each do |commit, lines|
          - commit = CommitDecorator.decorate(Commit.new(commit))
          %tr
            %td.blame-commit
              %span.commit
                = link_to commit.short_id(8), project_commit_path(@project, commit), class: "commit_short_id"
                &nbsp;
                = commit.author_link avatar: true, size: 16
                &nbsp;
                = link_to_gfm truncate(commit.title, length: 20), project_commit_path(@project, commit.id), class: "row_title"
            %td.lines.blame-numbers
              %pre
                - if lines.empty?
                  = current_line
                  - current_line += 1
                - else
                  - lines.each do |line|
                    = current_line
                    - current_line += 1
            %td.lines
              %pre
                - lines.each do |line|
                  = line
