- file = params[:path] ? File.join(params[:path], content.name) : content.name
%tr{ :class => "tree-item file_#{Digest::SHA1.hexdigest(content.name)}", :url => tree_file_project_ref_path(@project, @ref, file) }
  %td.tree-item-file-name
    - if content.is_a?(Grit::Blob)
      - if content.text?
        = image_tag "file_txt.png", :class => "tree-ico"
      - elsif content.image?
        = image_tag "file_img.png", :class => "tree-ico"
      - else
        = image_tag "file_bin.png", :class => "tree-ico"
    - else
      = image_tag "file_dir.png", :class => "tree-ico"
    = link_to truncate(content.name, :length => 40), tree_file_project_ref_path(@project, @ref || @commit.id, file), :remote => :true
  %td.tree_time_ago.cgray
  %td.tree_commit
