:css
.view_file
  .view_file_header
    %strong
      %span.file_icon= image_tag "txt.png"
      %span.mode_text= file.mode
      %span.file_name= name
      = link_to "raw", blob_project_ref_path(@project, @ref, :path => params[:path] ), :class => "right", :target => "_blank"
      = link_to "history", project_commits_path(@project, :path => params[:path], :ref => @ref ), :class => "right", :style => "margin-right:10px;"
      %br/
  - if file.text?
    .view_file_content
      - unless file.empty?
        %div{:class => current_user.dark_scheme ? "black" : ""} 
          :erb
            <%= raw file.colorize %>
      - else 
        %h3
          %center Empty file
  - elsif file.image?
    .view_file_content_image
      %img{ :src => "data:#{file.mime_type};base64,#{Base64.encode64(file.data)}"}
  - else
    %center
      = link_to blob_project_ref_path(@project, @ref, :path => params[:path] ) do 
        %div
          %br
          = image_tag "download.png", :width => 64
          %h3 
            Download (#{file.mb_size})
