%section
  .crud.gl-bg-subtle.gl-border.gl-border-default.gl-rounded-base{ @options, class: ('js-toggle-container' if @toggle_text) }
    %header.gl-flex.gl-flex-wrap.gl-justify-between.gl-gap-x-5.gl-gap-y-2.gl-px-5.gl-py-4.gl-bg-default.gl-border-b.gl-border-default.gl-rounded-t-base
      .gl-flex.gl-flex-col.gl-self-center
        %h2.gl-text-base.gl-font-bold.gl-leading-24.gl-inline-flex.gl-gap-3.gl-m-0{ data: { testid: 'crud-title' } }
          = @title
          - if @count
            %span.gl-inline-flex.gl-items-center.gl-gap-2.gl-text-sm.gl-text-subtle{ data: { testid: 'crud-count' } }
              - if @icon
                = sprite_icon(@icon, css_class: @icon_class)
              %span{ @count_options }
                = @count
        - if description? || @description
          .gl-text-sm.gl-text-subtle.gl-mt-1.gl-mb-0{ data: { testid: 'crud-description' } }
            = description || @description
      .gl-flex.gl-gap-3.gl-items-baseline{ data: { testid: 'crud-actions' } }
        - if @toggle_text
          = render Pajamas::ButtonComponent.new(size: :small, button_options: toggle_button_options_attrs) do
            = @toggle_text
        = actions

    - if form?
      .gl-p-5.gl-pt-4.gl-bg-default.gl-border-b.gl-border-default{ form_options_attrs }
        = form

    .crud-body.gl-mx-5.gl-my-4{ body_options_attrs }
      = body

      - if pagination?
        .crud-pagination.gl-flex.gl-justify-center.gl-p-5.gl-border-t{ data: { testid: 'crud-pagination' } }
          = pagination

    - if footer?
      .gl-px-5.gl-py-4.gl-bg-default.gl-border-t.gl-border-default.gl-rounded-b-base{ footer_options_attrs }
        = footer
