- if current_user && @project.feature_available?(:export_issues)
  .issues-export-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %h3
            Export issues
          .export-svg-container
            = render 'projects/issues/export_issues/export_issues_list.svg'
          %a.close{ href: '#', 'data-dismiss' => 'modal' } ×
        .modal-body
          .export-modal-subheader
            = icon('check', { class: 'export-checkmark' })
            %strong.prepend-left-10
              #{pluralize(issuables_count_for_state(:issues, params[:state]), 'issue')} selected
          .export-modal-text
            The CSV export will be created in the background. Once finished, it will be sent to
            %strong= @current_user.notification_email
            in an attachment.
        .modal-footer
          = link_to 'Export issues', export_csv_project_issues_path(@project, request.query_parameters), method: :post, class: 'btn btn-success float-left', title: 'Export issues'
- elsif show_promotions?
  = render 'shared/promotions/promote_csv_export'
