#content
  = email_default_heading(_("%{name}, confirm your email address now!") % { name: sanitize_name(@resource.user.name) })
  %p= _('Click the link below to confirm your email address (%{email})') % { email: @resource.email }
  #cta
    = link_to _('Confirm your email address'), confirmation_url(@resource, confirmation_token: @token)
  %p
    = _('If this email was added in error, you can remove it here:')
    = link_to _("Emails"), profile_emails_url
