- related_branches_path = related_branches_project_issue_path(@project, issuable)
- api_awards_path = local_assigns.fetch(:api_awards_path, nil)

= render "projects/issues/alert_moved_from_service_desk", issue: issuable

.issue-details.issuable-details.js-issue-details
  .detail-page-description.content-block.js-detail-page-description.gl-pt-3.gl-pb-0.gl-border-none
    #js-issuable-app{ data: { initial: issuable_initial_data(issuable).to_json,
      header_actions_data: issue_header_actions_data(@project, issuable, current_user, @issuable_sidebar).to_json } }
      .title-container
        %h1.gl-heading-1{ class: '!gl-m-0' }= markdown_field(issuable, :title)
      - if issuable.description.present?
        .description
          .md= markdown_field(issuable, :description)

      = edited_time_ago_with_tooltip(issuable, placement: 'bottom', html_class: 'issue-edited-ago js-issue-edited-ago')

    .js-issue-widgets
      = render 'projects/issues/emoji_block', issuable: issuable, api_awards_path: api_awards_path, new_custom_emoji_path: new_custom_emoji_path(@project.group)

  .js-issue-widgets
    = render 'projects/issues/sentry_stack_trace', issuable: issuable

    = render 'projects/issues/design_management'

    = render_if_exists 'projects/issues/work_item_links'
    = render_if_exists 'projects/issues/linked_resources'
    = render 'projects/issues/related_issues'

    #js-related-merge-requests{ data: { has_closing_merge_request: (issuable.merge_requests_count(current_user) != 0).to_s,
      project_path: @project.full_path,
      iid: issuable.iid } }

    - if can?(current_user, :read_code, @project)
      - add_page_startup_api_call related_branches_path
      #related-branches{ data: { url: related_branches_path } }
        -# This element is filled in using JavaScript.

    - if can?(current_user, :admin_feature_flags_issue_links, @project)
      = render_if_exists 'projects/issues/related_feature_flags'

  .js-issue-widgets

    = render 'projects/issues/discussion'

= render 'shared/issuable/sidebar', issuable_sidebar: @issuable_sidebar, assignees: @issue.assignees
