%ul.nav.nav-tabs
  = nav_link(controller: :issues) do
    = link_to project_issues_path(@project), class: "tab" do
      Browse Issues
      - if current_controller?(:issues)
        %span.badge.issue_counter #{@issues.total_count}
  = nav_link(controller: :milestones) do
    = link_to 'Milestones', project_milestones_path(@project), class: "tab"
  = nav_link(controller: :labels) do
    = link_to 'Labels', project_labels_path(@project), class: "tab"

  - if current_controller?(:issues)
    - if current_user
      %li
        = link_to project_issues_path(@project, :atom, { private_token: current_user.private_token }) do
          %i.icon-rss

    %li.pull-right
      .pull-right
        = form_tag project_issues_path(@project), method: :get, id: "issue_search_form", class: 'pull-left issue-search-form'  do
          .append-right-10.hidden-xs.hidden-sm
            = search_field_tag :issue_search, nil, { placeholder: 'Filter by title or description', class: 'form-control issue_search search-text-input input-mn-300' }
        - if can? current_user, :write_issue, @project
          = link_to new_project_issue_path(@project, issue: { assignee_id: params[:assignee_id], milestone_id: params[:milestone_id]}), class: "btn btn-new pull-left", title: "New Issue", id: "new_issue_link" do
            %i.icon-plus
            New Issue
