- time_format = '%b %e, %Y %l:%M%P %Z%z'

- if merge_request.merged?
  - mr_status_date = merge_request.merged_at
  - mr_status_title = _('Merged')
  - mr_status_icon = 'merge'
  - mr_status_class = 'merged'
- elsif merge_request.closed?
  - mr_status_date = merge_request.closed_event&.created_at
  - mr_status_title = _('Closed')
  - mr_status_icon = 'issue-close'
  - mr_status_class = 'closed'
- else
  - mr_status_date = merge_request.created_at
  - mr_status_title = _('Opened')
  - mr_status_icon = 'issue-open-m'
  - mr_status_class = 'open'

- mr_status_tooltip = "<div><span class=\"bold\">#{mr_status_title}</span> #{time_ago_in_words(mr_status_date)} ago</div><span class=\"text-tertiary\">#{l(mr_status_date.to_time, format: time_format)}</span>"

%span.mr-status-wrapper.suggestion-help-hover{ class: css_class, data: { toggle: 'tooltip', placement: 'bottom', html: 'true', title:  mr_status_tooltip } }
  = sprite_icon(mr_status_icon, size: 16, css_class: "merge-request-status #{mr_status_class}")
