- service_desk_enabled = @project.service_desk_enabled?

- can_edit_project_settings = can?(current_user, :admin_project, @project)
- title_text = s_("ServiceDesk|Use Service Desk to connect with your users and offer customer support through email right inside GitLab")

- if Gitlab::ServiceDesk.supported?
  .empty-state
    .svg-content
      = render 'shared/empty_states/icons/service_desk_empty_state.svg'

    .text-content
      %h4= title_text

      - if can_edit_project_settings && service_desk_enabled
        %p
          = s_("ServiceDesk|Your users can send emails to this address:")
          %code= @project.service_desk_address

      %span= s_("ServiceDesk|Issues created from Service Desk emails appear here. Each comment becomes part of the email conversation.")
      = link_to _('Learn more.'), help_page_path('user/project/service_desk')

      - if can_edit_project_settings && !service_desk_enabled
        .text-center
          = link_to s_("ServiceDesk|Enable Service Desk"), edit_project_path(@project), class: 'gl-button btn btn-success'
- else
  .empty-state
    .svg-content
      = render 'shared/empty_states/icons/service_desk_setup.svg'
    .text-content
      %h4= s_('ServiceDesk|Service Desk is enabled but not yet active')
      %p
        = s_("ServiceDesk|To activate Service Desk on this instance, an instance administrator must first set up incoming email.")
        = link_to _('Learn more.'), help_page_path('administration/incoming_email', anchor: 'set-it-up')
