- service_desk_enabled = @project.service_desk_enabled?

- can_edit_project_settings = can?(current_user, :admin_project, @project)
- title_text = _("Use Service Desk to connect with your users (e.g. to offer customer support) through email right inside GitLab")

- if Gitlab::ServiceDesk.supported?
  .empty-state
    .svg-content
      = render 'shared/empty_states/icons/service_desk_empty_state.svg'

    .text-content
      %h4= title_text

      - if can_edit_project_settings && service_desk_enabled
        %p
          = _("Have your users email")
          %code= @project.service_desk_address

      %span= _("Those emails automatically become issues (with the comments becoming the email conversation) listed here.")
      = link_to _('Read more'), help_page_path('user/project/service_desk')

      - if can_edit_project_settings && !service_desk_enabled
        .text-center
          = link_to _("Turn on Service Desk"), edit_project_path(@project), class: 'gl-button btn btn-success'
- else
  .empty-state
    .svg-content
      = render 'shared/empty_states/icons/service_desk_setup.svg'
    .text-content
      %h4= _('Service Desk is enabled but not yet active')
      %p
        = _("You must set up incoming email before it becomes active.")
        = link_to _('More information'), help_page_path('administration/incoming_email', anchor: 'set-it-up')
