.settings-section
  .settings-sticky-header
    .settings-sticky-header-inner
      %h4.gl-my-0
        = s_('AdminUsers|Access')

  .form-group.gl-form-group{ role: 'group' }
    = f.label :projects_limit, s_('AdminUsers|Projects limit'), class: 'gl-block col-form-label'
    = f.number_field :projects_limit, min: 0, max: Gitlab::Database::MAX_INT_VALUE, class: 'form-control gl-form-input gl-form-input-sm'

  .form-group.gl-form-group{ role: 'group' }
    - if @user.allow_user_to_create_group_and_project?
      = f.gitlab_ui_checkbox_component :can_create_group, s_('AdminUsers|Can create top-level group')
    = f.gitlab_ui_checkbox_component :private_profile, s_('AdminUsers|Private profile')

  %fieldset.form-group.gl-form-group
    %legend.col-form-label.col-form-label
      = s_('AdminUsers|Access level')
    - editing_current_user = (current_user == @user)

    = f.gitlab_ui_radio_component :access_level, :regular,
        s_('AdminUsers|Regular'),
        radio_options: { disabled: editing_current_user },
        help_text: s_('AdminUsers|Regular users have access to their groups and projects.')

    = render_if_exists 'admin/users/auditor_access_level_radio', f: f, disabled: editing_current_user

    - help_text = s_('AdminUsers|The user has unlimited access to all groups, projects, users, and features.')
    - help_text += ' ' + s_('AdminUsers|You cannot remove your own administrator access.') if editing_current_user
    = f.gitlab_ui_radio_component :access_level, :admin,
        s_('AdminUsers|Administrator'),
        radio_options: { disabled: editing_current_user },
        help_text: help_text

  .form-group.gl-form-group{ role: 'group' }
    = f.gitlab_ui_checkbox_component :external,
      s_('AdminUsers|External'),
      help_text: s_('AdminUsers|External users cannot see internal or private projects unless access is explicitly granted. Also, external users cannot create projects, groups, or personal snippets.')
    .hidden{ data: user_internal_regex_data }
    .gl-flex.gl-items-baseline
      %row.hidden#warning_external_automatically_set
        = gl_badge_tag s_('AdminUsers|Automatically marked as default internal user'), variant: :warning

  .form-group.gl-form-group{ role: 'group' }
    - @user.credit_card_validation || @user.build_credit_card_validation
    = f.fields_for :credit_card_validation do |ff|
      = ff.gitlab_ui_checkbox_component :credit_card_validated_at,
        s_('AdminUsers|Validate user account'),
        help_text: s_('AdminUsers|A user can validate themselves by inputting a credit/debit card, or an admin can manually validate a user. Validated users can use free compute minutes on instance runners.'),
        checkbox_options: { checked: @user.credit_card_validated_at.present? }
