.user_new
  = bootstrap_form_for [:admin, @user], layout: :horizontal, html: { class: 'fieldset-form' } do |f|
    = f.alert_message 'Please check your form for possible errors.'

    %fieldset
      %legend Account
      = f.text_field :name, required: true, autocomplete: 'off'
      = f.text_field :username, required: true, autocomplete: 'off'
      = f.text_field :email, required: true, autocomplete: 'off'

    - if @user.new_record?
      %fieldset
        %legend Password
        = f.static_control :password do
          %strong
            Reset link will be generated and sent to the user.
            %br
            User will be forced to set the password on first sign in.

    - else
      %fieldset
        %legend Password
        = f.password_field :password, disabled: f.object.force_random_password
        = f.password_field :password_confirmation, disabled: f.object.force_random_password

    %fieldset
      %legend Access
      = f.number_field :projects_limit
      = f.form_group :can_create_group, label: { text: 'Can create group' } do
        = f.check_box :can_create_group

      = f.form_group :admin, label: { text: 'Admin' },  help: current_user == @user ? 'You cannot remove your own admin rights' : '' do
        = f.check_box :admin, disabled: current_user == @user

    %fieldset
      %legend Profile
      = f.file_field :avatar
      = f.text_field :skype
      = f.text_field :linkedin
      = f.text_field :twitter
      = f.text_field :website_url

    .form-actions
      - if @user.new_record?
        = f.submit 'Create user', class: 'btn btn-create'
        = link_to 'Cancel', admin_users_path, class: 'btn btn-cancel'
      - else
        = f.submit 'Save changes', class: 'btn btn-save'
        = link_to 'Cancel', admin_user_path(@user), class: 'btn btn-cancel'
