.user_new
  = form_for [:admin, @admin_user] do |f|
    -if @admin_user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
        %ul
          - @admin_user.errors.full_messages.each do |msg|
            %li= msg

    .form-row
      = f.label :name
      %br
      = f.text_field :name
    .form-row
      = f.label :email
      %br
      = f.text_field :email
    .form-row
      = f.label :password
      %br
      = f.password_field :password
    .form-row
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
    .form-row
      = f.check_box :admin
      = f.label :admin

    .form-row
      = f.text_field :projects_limit, :class => "small_input"
      = f.label :projects_limit

    .form-row
      = f.label :skype
      %br
      = f.text_field :skype
    .form-row
      = f.label :linkedin
      %br
      = f.text_field :linkedin
    .form-row
      = f.label :twitter
      %br
      = f.text_field :twitter
    .clear
    %br
    .actions
      = f.submit 'Save', :class => "lbutton"
