.user_new
  = form_for [:admin, @admin_user] do |f|
    -if @admin_user.errors.any?
      #error_explanation
        %ul.unstyled.alert.alert-error
          - @admin_user.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      %legend Account
      .clearfix
        = f.label :name
        .input
          = f.text_field :name, required: true
          %span.help-inline * required
      .clearfix
        = f.label :username
        .input
          = f.text_field :username, required: true
          %span.help-inline * required
      .clearfix
        = f.label :email
        .input
          = f.text_field :email, required: true
          %span.help-inline * required

    %fieldset
      %legend Password
      .clearfix
        = f.label :password
        .input= f.password_field :password, disabled: f.object.force_random_password
      .clearfix
        = f.label :password_confirmation
        .input= f.password_field :password_confirmation, disabled: f.object.force_random_password
      -if f.object.new_record?
        .clearfix
          = f.label :force_random_password do
            %span Generate random password
          .input= f.check_box :force_random_password, {}, true, nil

    %fieldset
      %legend Access
      .row
        .span8
          .clearfix
            = f.label :projects_limit
            .input= f.number_field :projects_limit

          .clearfix
            = f.label :admin do
              %strong.cred Administrator
            .input= f.check_box :admin
        .span4
          - unless @admin_user.new_record?
            .alert.alert-error
              - if @admin_user.blocked
                %p This user is blocked and is not able to login to GitLab
                = link_to 'Unblock User', unblock_admin_user_path(@admin_user), method: :put, class: "btn small"
              - else
                %p Blocked users will be removed from all projects &amp; will not be able to login to GitLab.
                = link_to 'Block User', block_admin_user_path(@admin_user), confirm: 'USER WILL BE BLOCKED! Are you sure?', method: :put, class: "btn small danger"
    %fieldset
      %legend Profile
      .clearfix
        = f.label :skype
        .input= f.text_field :skype
      .clearfix
        = f.label :linkedin
        .input= f.text_field :linkedin
      .clearfix
        = f.label :twitter
        .input= f.text_field :twitter

    .actions
      = f.submit 'Save', class: "btn save-btn"
      - if @admin_user.new_record?
        = link_to 'Cancel', admin_users_path, class: "btn cancel-btn"
      - else
        = link_to 'Cancel', admin_user_path(@admin_user), class: "btn cancel-btn"
