.user_new
  = form_for [:admin, @admin_user] do |f|
    -if @admin_user.errors.any?
      #error_explanation
        %ul
          - @admin_user.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :name
      .input= f.text_field :name
    .clearfix
      = f.label :email
      .input= f.text_field :email
    .clearfix
      = f.label :password
      .input= f.password_field :password
    .clearfix
      = f.label :password_confirmation
      .input= f.password_field :password_confirmation
    .clearfix
      = f.check_box :admin
      = f.label :admin

    .clearfix
      = f.label :projects_limit
      .input= f.text_field :projects_limit, :class => "small_input"

    .clearfix
      = f.label :skype
      .input= f.text_field :skype
    .clearfix
      = f.label :linkedin
      .input= f.text_field :linkedin
    .clearfix
      = f.label :twitter
      .input= f.text_field :twitter
    .clear
    %br
    .actions
      = f.submit 'Save', :class => "btn primary"
      = link_to 'Cancel', admin_users_path, :class => "btn"
