.user_new
  = form_for [:admin, @user], html: { class: 'fieldset-form' } do |f|
    = form_errors(@user)

    %fieldset
      %legend Account
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :name
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * required
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :username
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: false, class: 'form-control'
          %span.help-inline * required
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :email
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: 'off', class: 'form-control'
          %span.help-inline * required

    - if @user.new_record?
      %fieldset
        %legend Password
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password
          .col-sm-10
            %strong
              Reset link will be generated and sent to the user.
              %br
              User will be forced to set the password on first sign in.
    - else
      %fieldset
        %legend Password
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password
          .col-sm-10
            = f.password_field :password, disabled: f.object.force_random_password, class: 'form-control'
        .form-group.row
          .col-sm-2.col-form-label
            = f.label :password_confirmation
          .col-sm-10
            = f.password_field :password_confirmation, disabled: f.object.force_random_password, class: 'form-control'

    = render partial: 'access_levels', locals: { f: f }

    = render_if_exists 'admin/users/namespace_plan_fieldset', f: f

    = render_if_exists 'admin/users/limits', f: f

    %fieldset
      %legend Profile
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :avatar
        .col-sm-10
          = f.file_field :avatar

      .form-group.row
        .col-sm-2.col-form-label
          = f.label :skype
        .col-sm-10
          = f.text_field :skype, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :linkedin
        .col-sm-10
          = f.text_field :linkedin, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :twitter
        .col-sm-10
          = f.text_field :twitter, class: 'form-control'
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :website_url
        .col-sm-10
          = f.text_field :website_url, class: 'form-control'

    = render 'admin/users/admin_notes', f: f

    .form-actions
      - if @user.new_record?
        = f.submit 'Create user', class: "btn btn-success"
        = link_to 'Cancel', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit 'Save changes', class: "btn btn-success"
        = link_to 'Cancel', admin_user_path(@user), class: "btn btn-cancel"
