.user_new
  = form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|
    -if @user.errors.any?
      #error_explanation
        %ul.unstyled.alert.alert-danger
          - @user.errors.full_messages.each do |msg|
            %li= msg

    %fieldset
      %legend Account
      .form-group
        = f.label :name, class: 'control-label'
        .col-sm-10
          = f.text_field :name, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required
      .form-group
        = f.label :username, class: 'control-label'
        .col-sm-10
          = f.text_field :username, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required
      .form-group
        = f.label :email, class: 'control-label'
        .col-sm-10
          = f.text_field :email, required: true, autocomplete: "off", class: 'form-control'
          %span.help-inline * required

    - if @user.new_record?
      %fieldset
        %legend Password
        .form-group
          = f.label :password, class: 'control-label'
          .col-sm-10
            %strong
              A temporary password will be generated and sent to user.
              %br
              User will be forced to change it after first sign in
    - else
      %fieldset
        %legend Password
        .form-group
          = f.label :password, class: 'control-label'
          .col-sm-10= f.password_field :password, disabled: f.object.force_random_password, class: 'form-control'
        .form-group
          = f.label :password_confirmation, class: 'control-label'
          .col-sm-10= f.password_field :password_confirmation, disabled: f.object.force_random_password, class: 'form-control'

    %fieldset
      %legend Access
      .form-group
        = f.label :projects_limit, class: 'control-label'
        .col-sm-10= f.number_field :projects_limit, class: 'form-control'

      .form-group
        = f.label :can_create_group, class: 'control-label'
        .col-sm-10= f.check_box :can_create_group

      .form-group
        = f.label :admin, class: 'control-label'
        - if current_user == @user
          .col-sm-10= f.check_box :admin, disabled: true
          .col-sm-10 You cannot remove your own admin rights
        - else
          .col-sm-10= f.check_box :admin
      - unless @user.new_record? || current_user == @user
        .alert.alert-danger
          - if @user.blocked?
            %p This user is blocked and is not able to login to GitLab
            = link_to 'Unblock User', unblock_admin_user_path(@user), method: :put, class: "btn btn-small"
          - else
            %p Blocked users will be removed from all projects &amp; will not be able to login to GitLab.
            = link_to 'Block User', block_admin_user_path(@user), data: {confirm: 'USER WILL BE BLOCKED! Are you sure?'}, method: :put, class: "btn btn-small btn-remove"
    %fieldset
      %legend Profile
      .form-group
        = f.label :skype, class: 'control-label'
        .col-sm-10= f.text_field :skype, class: 'form-control'
      .form-group
        = f.label :linkedin, class: 'control-label'
        .col-sm-10= f.text_field :linkedin, class: 'form-control'
      .form-group
        = f.label :twitter, class: 'control-label'
        .col-sm-10= f.text_field :twitter, class: 'form-control'
      .form-group
        = f.label :website_url, 'Website', class: 'control-label'
        .col-sm-10= f.text_field :website_url, class: 'form-control'

    .form-actions
      - if @user.new_record?
        = f.submit 'Create user', class: "btn btn-create"
        = link_to 'Cancel', admin_users_path, class: "btn btn-cancel"
      - else
        = f.submit 'Save changes', class: "btn btn-save"
        = link_to 'Cancel', admin_user_path(@user), class: "btn btn-cancel"
