= render Pajamas::CardComponent.new(card_options: { class: 'gl-mb-5' }, body_options: { class: 'gl-py-0' }) do |c|
  - c.with_header do
    = _('Profile')
  - c.with_body do
    %ul.content-list
      %li
        %span.light= _('Member since')
        %strong= user.created_at.to_fs(:medium)
      - unless user.public_email.blank?
        %li
          %span.light= _('E-mail:')
          %strong= link_to user.public_email, "mailto:#{user.public_email}"
      - unless user.skype.blank?
        %li
          %span.light= _('Skype:')
          %strong= link_to user.skype, "skype:#{user.skype}"
      - unless user.linkedin.blank?
        %li
          %span.light= _('LinkedIn:')
          %strong= link_to user.linkedin, "https://www.linkedin.com/in/#{user.linkedin}"
      - unless user.twitter.blank?
        %li
          %span.light= _('X (formerly Twitter):')
          %strong= link_to user.twitter, "https://twitter.com/#{user.twitter}"
      - unless user.website_url.blank?
        %li
          %span.light= _('Website:')
          %strong= link_to user.short_website_url, user.full_website_url
      - unless user.location.blank?
        %li
          %span.light= _('Location:')
          %strong= user.location
