%p
  = s_('AdminUsers|Approved users can:')
%ul
  %li
    = s_('AdminUsers|Log in')
  %li
    = s_('AdminUsers|Access Git repositories')
  %li
    = s_('AdminUsers|Access the API')
  %li
    = s_('AdminUsers|Be added to groups and projects')
