%p
  = s_('AdminUsers|Blocking user has the following effects:')
%ul
  %li
    = s_('AdminUsers|User will not be able to login')
  %li
    = s_('AdminUsers|User will not be able to access git repositories')
  %li
    = s_('AdminUsers|Personal projects will be left')
  %li
    = s_('AdminUsers|Owned groups will be left')
