.flex-list
  .flex-row
    = image_tag avatar_icon_for_user(user), class: 'avatar s32 d-none d-md-flex', alt: _('Avatar for %{name}') % { name: sanitize_name(user.name) }
    .row-main-content
      .row-title.str-truncated-100
        = image_tag avatar_icon_for_user(user), class: 'avatar s16 d-xs-flex d-md-none mr-1 gl-mt-2', alt: _('Avatar for %{name}') % { name: sanitize_name(user.name) }
        = link_to user.name, admin_user_path(user), class: 'text-plain js-user-link', data: { user_id: user.id, qa_selector: 'username_link' }

      = render 'admin/users/user_listing_note', user: user

      - user_badges_in_admin_section(user).each do |badge|
        - css_badge = "badge badge-#{badge[:variant]}" if badge[:variant].present?
        %span{ class: css_badge }
          = badge[:text]

      .row-second-line.str-truncated-100
        = mail_to user.email, user.email, class: 'text-secondary'
        - unless Feature.disabled?(:security_auto_fix) || !user.internal? || user.website_url.blank?
          = link_to "(#{_('more information')})", user.website_url
