- add_page_specific_style 'page_bundles/search'

- if registration_features_can_be_prompted?
  = render Pajamas::AlertComponent.new(variant: :tip,
    alert_options: { class: 'gl-my-5' },
    dismissible: false) do |c|
    - c.with_body do
      = render 'shared/registration_features_discovery_message', feature_title: s_('RegistrationFeatures|send emails to users')

.admin-users-search.row-content-block.gl-lg-display-grid.gl-border-bottom-0.gl-border-top-0{ data: { testid: "filtered-search-block" } }
  #js-admin-users-filter-app.gl-mb-4
  .dropdown.gl-lg-ml-3
    = label_tag s_('AdminUsers|Sort by')
    = gl_redirect_listbox_tag admin_users_sort_options(filter: params[:filter], search_query: params[:search_query]), @sort, data: { placement: 'right' }

#js-admin-users-app{ data: admin_users_data_attributes(@users) }
  = render Pajamas::SpinnerComponent.new(size: :lg, class: 'gl-my-7')

= paginate_collection @users
