- page_title _("Users")

= render ::Layouts::PageHeadingComponent.new(_('Users'), options: { data: { event_tracking_load: 'true', event_tracking: 'view_admin_users_pageload' } }) do |c|
  - c.with_actions do
    - if can?(current_user, :admin_all_resources)
      = render_if_exists 'admin/users/admin_email_users'
      = render_if_exists 'admin/users/admin_export_user_permissions'
      = render Pajamas::ButtonComponent.new(variant: :confirm, href: new_admin_user_path) do
        = s_('AdminUsers|New user')

= render 'tabs'

.tab-content.gl-border-t
  .tab-pane.active
    = render 'users'
