%h3 
  = t '.title'
  = link_to t('.new'), new_admin_user_path, :class => "btn small right"
%hr
%table.zebra-striped
  %thead
    %th 
      = t '.admin'
    %th
      = t '.name'
    %th
      = t '.email'
    %th
      = t '.projects'
    %th
    %th

  - @admin_users.each do |user|
    %tr
      %td= check_box_tag "admin",   1, user.admin, :disabled => :disabled
      %td= link_to user.name, [:admin, user]
      %td= user.email
      %td= user.users_projects.count
      %td= link_to t('global.edit'), edit_admin_user_path(user), :id => "edit_#{dom_id(user)}", :class => "btn small"
      %td= link_to t('global.destroy'), [:admin, user], :confirm => t('global.destroy_confirm'), :method => :delete, :class => "btn small danger"

= paginate @admin_users, :theme => "admin"
