%h3.page_title
  User: #{@admin_user.name}
  - if @admin_user.blocked
    %small Blocked
  - if @admin_user.admin
    %small Administrator
  = link_to edit_admin_user_path(@admin_user), class: "btn pull-right" do
    %i.icon-edit
    Edit

%br

%table.zebra-striped
  %thead
    %tr
      %th Profile
      %th
  %tr
    %td
      %b
        Email:
    %td
      = @admin_user.email
  %tr
    %td
      %b
        Username:
    %td
      = @admin_user.username
  %tr
    %td
      %b
        Admin:
        %td= check_box_tag "admin", 1, @admin_user.admin, disabled: :disabled
  %tr
    %td
      %b
        Blocked:
        %td= check_box_tag "blocked", 1, @admin_user.blocked, disabled: :disabled
  %tr
    %td
      %b
        Created at:
    %td
      = @admin_user.created_at.stamp("March 1, 1999")
  %tr
    %td
      %b
        Projects limit:
    %td
      = @admin_user.projects_limit
  - unless @admin_user.skype.empty?
    %tr
      %td
        %b
          Skype:
      %td
        = @admin_user.skype
  - unless @admin_user.linkedin.empty?
    %tr
      %td
        %b
          Linkedin:
      %td
        = @admin_user.linkedin
  - unless @admin_user.twitter.empty?
    %tr
      %td
        %b
          Twitter:
      %td
        = @admin_user.twitter

%br
%h5 Add User to Projects
%br
= form_tag team_update_admin_user_path(@admin_user), class: "bulk_import", method: :put  do
  %table
    %thead
      %tr
        %th Projects
        %th Project Access:

    %tr
      %td= select_tag :project_ids, options_from_collection_for_select(@projects , :id, :name_with_namespace),  multiple: true, data: {placeholder: 'Select projects'}, class: 'chosen span5'
      %td= select_tag :project_access, options_for_select(Project.access_options), class: "project-access-select chosen span3"

    %tr
      %td= submit_tag 'Add', class: "btn btn-primary"
      %td
        Read more about project permissions
        %strong= link_to "here", help_permissions_path, class: "vlink"
%br

- if @admin_user.groups.present?
  %h5 Owner of groups:
  %br

  %table.zebra-striped
    %thead
      %tr
        %th Name

    - @admin_user.groups.each do |group|
      %tr
        %td= link_to group.name, admin_group_path(group)


- if @admin_user.authorized_projects.present?
  %h5 Authorized Projects:
  %br

  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Project Access
        %th
        %th

    - @admin_user.tm_in_authorized_projects.each do |tm|
      - project = tm.project
      %tr
        %td= link_to project.name_with_namespace, admin_project_path(project)
        %td= tm.project_access_human
        %td= link_to 'Edit Access', edit_admin_project_member_path(project, tm.user), class: "btn btn-small"
        %td= link_to 'Remove from team', admin_project_member_path(project, tm.user), confirm: 'Are you sure?', method: :delete, class: "btn btn-small btn-remove"
