- unless notice.nil?
  %p#notice= notice

#infoblock
  %p
    %b Name:
    = @admin_user.name
  %p
    %b Email:
    = @admin_user.email
  %p
    %b Admin:
    = @admin_user.admin
  %p
    %b Projects limit:
    = @admin_user.projects_limit

  %p
    %b Skype:
    = @admin_user.skype
  %p
    %b LinkedIn:
    = @admin_user.linkedin
  %p
    %b Twitter:
    = @admin_user.twitter

  .clear
  = link_to 'Edit', edit_admin_user_path(@admin_user)
  \|
  = link_to 'Back', admin_users_path

.span-14
  %h2 Projects

  %table.round-borders
    %tr
      %th Name
      %th Added
      %th Web
      %th Git
      %th Admin
      %th

    - @admin_user.users_projects.each do |tm|
      - project = tm.project
      %tr
        %td= link_to project.name, admin_project_path(project)
        %td= time_ago_in_words(tm.updated_at) + " ago"
        %td= check_box_tag "read",   1, project.readers.include?(@admin_user), :disabled => :disabled
        %td= check_box_tag "commit", 1, project.writers.include?(@admin_usertm), :disabled => :disabled
        %td.span-2= check_box_tag "admin",  1, project.admins.include?(@admin_user), :disabled => :disabled
        %td= link_to 'Edit', edit_admin_team_member_path(tm)
        %td= link_to 'Cancel', admin_team_member_path(tm), :confirm => 'Are you sure?', :method => :delete

  = link_to 'Add To Another Project', new_admin_team_member_path(:team_member => {:user_id => @admin_user.id})
