- if artifacts.blank?
  .nothing-here-block= _('No jobs to show')
- else
  .table-holder
    .ci-table
      .gl-responsive-table-row.table-row-header.px-md-3{ role: 'row' }
        .table-section.section-25{ role: 'rowheader' }= _('Job')
        .table-section.section-15{ role: 'rowheader' }= _('Name')
        .table-section.section-20{ role: 'rowheader' }= _('Creation date')
        .table-section.section-20{ role: 'rowheader' }= _('Expiration date')
        .table-section.section-10{ role: 'rowheader' }= _('Size')
        .table-section.section-10{ role: 'rowheader' }

      = render partial: 'artifact', collection: artifacts, as: :artifact

  = paginate artifacts, theme: "gitlab", total_pages: @total_pages
