- breadcrumb_title _('Artifacts')
- page_title @path.presence, _('Artifacts'), "#{@build.name} (##{@build.id})", _('Jobs')

= render "projects/jobs/header"

- add_to_breadcrumbs(s_('CICD|Jobs'), project_jobs_path(@project))
- add_to_breadcrumbs("##{@build.id}", project_job_path(@project, @build))

.tree-holder
  .nav-block
    %ul.breadcrumb.repo-breadcrumb
      %li.breadcrumb-item
        = link_to 'Artifacts', browse_project_job_artifacts_path(@project, @build)
      - path_breadcrumbs do |title, path|
        %li.breadcrumb-item
          = link_to truncate(title, length: 40), browse_project_job_artifacts_path(@project, @build, path)

    .tree-controls<
      = link_to download_project_job_artifacts_path(@project, @build),
        rel: 'nofollow', download: '', class: 'gl-button btn btn-default download' do
        = sprite_icon('download', css_class: 'gl-mr-2')
        Download artifacts archive

  .tree-content-holder
    %table.table.tree-table
      %thead
        %tr
          %th Name
          %th Size
      = render partial: 'tree_directory', collection: @entry.directories(parent: true), as: :directory
      = render partial: 'tree_file', collection: @entry.files, as: :file

- if @entry.empty?
  .center Empty
