- page_title @path, _('Artifacts'), "#{@build.name} (##{@build.id})", _('Jobs')
- add_page_specific_style 'page_bundles/tree'

= render "projects/jobs/header"

.tree-holder
  = render 'projects/artifacts/file_navigation', project: @project, build: @build, path: @path

  %article.file-holder
    - blob = @entry.blob
    .js-file-title.file-title-flex-parent
      = render 'projects/blob/header_content', blob: blob

      .file-actions.d-none.d-sm-block
        .btn-group{ role: "group" }<
          = copy_blob_source_button(blob)
          = download_blob_button(blob)

    = render 'projects/blob/content', blob: blob
