- verification_enabled = Gitlab::CurrentSettings.pages_domain_verification_enabled?
- dns_record = "#{@domain.domain} CNAME #{@domain.project.pages_subdomain}.#{Settings.pages.host}."

.form-group.border-section
  .row
    .col-sm-2
      = _("DNS")
    .col-sm-10
      .input-group
        = text_field_tag :domain_dns, dns_record , class: "monospace js-select-on-focus form-control", readonly: true
        .input-group-append
          = clipboard_button(target: '#domain_dns', class: 'btn-default input-group-text d-none d-sm-block')
      %p.form-text.text-muted
        = _("To access this domain create a new DNS record")
- if verification_enabled
  - verification_record = "#{@domain.verification_domain} TXT #{@domain.keyed_verification_code}"
  .form-group.border-section
    .row
      .col-sm-2
        = _("Verification status")
      .col-sm-10
        .status-badge
          - text, status = @domain.unverified? ? [_('Unverified'), 'badge-danger'] : [_('Verified'), 'badge-success']
          .badge{ class: status }
            = text
          = link_to sprite_icon("redo"), verify_project_pages_domain_path(@project, @domain), method: :post, class: "btn has-tooltip", title: _("Retry verification")
        .input-group
          = text_field_tag :domain_verification, verification_record, class: "monospace js-select-on-focus form-control", readonly: true
          .input-group-append
            = clipboard_button(target: '#domain_verification', class: 'btn-default d-none d-sm-block')
        %p.form-text.text-muted
          - link_to_help = link_to(_('verify ownership'), help_page_path('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: '4-verify-the-domains-ownership'))
          = _("To %{link_to_help} of your domain, add the above key to a TXT record within to your DNS configuration.").html_safe % { link_to_help: link_to_help }
