- verification_enabled = Gitlab::CurrentSettings.pages_domain_verification_enabled?
- dns_record = "#{domain_presenter.domain} ALIAS #{pages_subdomain(domain_presenter.project)}.#{Settings.pages.host}."

.form-group
  .row
    .col-12
      %label{ for: "domain_dns" }
        = _("DNS")
      .input-group
        = text_field_tag :domain_dns, dns_record , class: "monospace js-select-on-focus form-control", readonly: true
        .input-group-append
          = clipboard_button(target: '#domain_dns', category: :primary, size: :medium)
      %p.form-text.gl-text-subtle
        = _("To access this domain create a new DNS record")
- if verification_enabled
  .form-group
    .row
      .col-12
        .gl-flex.gl-items-baseline.gl-gap-3
          %label{ for: "domain_verification" }
            = _("Verification status")
          .gl-flex.gl-items-baseline.gl-gap-2
            - text, status = domain_presenter.unverified? ? [_('Unverified'), :danger] : [_('Verified'), :success]
            = gl_badge_tag text, variant: status
            = link_button_to sprite_icon("redo"), verify_project_pages_domain_path(@project, domain_presenter), method: :post, class: 'gl-ml-2 has-tooltip', title: _("Retry verification"), size: :small
        .input-group
          = text_field_tag :domain_verification, domain_presenter.verification_record, class: "monospace js-select-on-focus form-control", readonly: true
          .input-group-append
            = clipboard_button(target: '#domain_verification', category: :primary, size: :medium)
        %p.form-text.gl-text-subtle
          - link_to_help = link_to(_('verify ownership'), help_page_path('user/project/pages/custom_domains_ssl_tls_certification/_index.md', anchor: '4-verify-the-domains-ownership'))
          = _("To %{link_to_help} of your domain, add the above key to a TXT record within your DNS configuration within seven days.").html_safe % { link_to_help: link_to_help }
