- if @domain.errors.any?
  #error_explanation
    .alert.alert-danger
      - @domain.errors.full_messages.each do |msg|
        %p= msg

.form-group.row
  .col-sm-2.col-form-label
    = f.label :domain, _("Domain")
  .col-sm-10
    = f.text_field :domain, required: true, autocomplete: 'off', class: 'form-control', disabled: @domain.persisted?

- if Gitlab.config.pages.external_https
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :certificate, _("Certificate (PEM)")
    .col-sm-10
      = f.text_area :certificate, rows: 5, class: 'form-control'
      %span.help-inline= _("Upload a certificate for your domain with all intermediates")

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :key, _("Key (PEM)")
    .col-sm-10
      = f.text_area :key, rows: 5, class: 'form-control'
      %span.help-inline= _("Upload a private key for your certificate")
- else
  .nothing-here-block
    = _("Support for custom certificates is disabled. Ask your system's administrator to enable it.")
