- add_to_breadcrumbs _("Pages"), project_pages_path(@project)
- breadcrumb_title @domain.domain
- page_title @domain.domain
%h3.page-title
  = @domain.domain
= render 'projects/pages_domains/helper_text'
%hr.clearfix
%div
  = form_for [@project.namespace.becomes(Namespace), @project, @domain], html: { class: 'fieldset-form' } do |f|
    = render 'form', { f: f }
    .form-actions
      = f.submit _('Save Changes'), class: "btn btn-success"
