- add_to_breadcrumbs _("Pages"), project_pages_path(@project)
- breadcrumb_title domain_presenter.domain
- page_title domain_presenter.domain

= render ::Layouts::PageHeadingComponent.new(_('Pages Domain')) do |c|
  - c.with_description do
    = render 'projects/pages_domains/helper_text'

%div
  = gitlab_ui_form_for [@project, domain_presenter], html: { class: 'fieldset-form' } do |f|
    = render 'form', { f: f }
    .gl-flex.gl-gap-3
      = f.submit _('Save changes'), pajamas_button: true
      = link_button_to _('Cancel'), project_pages_path(@project)
