%h3.page-title Project services
%p.light Project services allow you to integrate GitLab CI with other applications

%table.table
  %thead
    %tr
      %th
      %th Service
      %th Desription
      %th Last edit
  - @services.sort_by(&:title).each do |service|
    %tr
      %td
        = boolean_to_icon service.activated?
      %td
        = link_to edit_ci_project_service_path(@project, service.to_param) do
          %strong= service.title
      %td
        = service.description
      %td.light
        = time_ago_in_words service.updated_at
        ago
