- @content_class = "limit-container-width" unless fluid_layout
- @gfm_form = true
- @noteable_type = 'Wiki'
- wiki_page_title @page, _('Changes')
- add_page_specific_style 'page_bundles/wiki'
- commit = @diffs.diffable
- add_page_specific_style 'page_bundles/commit_description'

.wiki-page-header.has-sidebar-toggle
  = render ::Layouts::PageHeadingComponent.new(_('Changes')) do |c|
    - c.with_actions do
      = link_button_to wiki_page_path(@wiki, @page, action: :history), role: 'button', data: { testid: 'page-history-button' } do
        = @page.template? ? s_('Wiki|Template history') : s_('Wiki|Page history')

      #js-vue-wiki-more-actions{ data: {
        clone_ssh_url: ssh_clone_url_to_repo(@wiki),
        clone_http_url: http_clone_url_to_repo(@wiki),
        wiki_url: wiki_path(@wiki),
        new_url: wiki_path(@wiki, action: :new),
        templates_url: wiki_page_path(@wiki, Wiki::TEMPLATES_DIR),
      } }

      = wiki_sidebar_toggle_button

    - c.with_description do
      .header-main-content
        %strong= markdown_field(commit, :title)
        %span.gl-hidden.sm:gl-inline= _('authored')
        #{time_ago_with_tooltip(commit.authored_date)}
        %span= s_('ByAuthor|by')
        = author_avatar(commit, size: 24, has_tooltip: false)
        %strong
          = commit_author_link(commit, avatar: true, size: 24)
        - if commit.description.present?
          %pre.commit-description.gl-whitespace-pre-wrap.gl-leading-normal
            = preserve(markdown_field(commit, :description))

= render 'projects/diffs/diffs', diffs: @diffs, diff_page_context: "is-wiki"
= render 'shared/wikis/sidebar'
