- @content_class = "limit-container-width" unless fluid_layout
- @gfm_form = true
- @noteable_type = 'Wiki'
- wiki_page_title @page, _('History')
- add_page_specific_style 'page_bundles/wiki'

.wiki-page-header.has-sidebar-toggle
  = render ::Layouts::PageHeadingComponent.new(_('History')) do |c|
    - c.with_actions do
      #js-vue-wiki-more-actions{ data: {
        clone_ssh_url: ssh_clone_url_to_repo(@wiki),
        clone_http_url: http_clone_url_to_repo(@wiki),
        wiki_url: wiki_path(@wiki),
        new_url: wiki_path(@wiki, action: :new),
        templates_url: wiki_page_path(@wiki, Wiki::TEMPLATES_DIR),
      } }

      = wiki_sidebar_toggle_button

.prepend-top-default.gl-mb-3
  = render Pajamas::CardComponent.new(card_options: { class: 'gl-new-card gl-mt-0 gl-mb-5' }, header_options: { class: 'gl-new-card-header gl-border-b-0' }, body_options: { class: 'gl-new-card-body gl-px-0' }) do |c|
    - c.with_header do
      .gl-new-card-title-wrapper.gl-flex-col
        %h3.gl-new-card-title
          = _('Versions')
          .gl-new-card-count
            = sprite_icon('history', css_class: 'gl-mr-2')
            = @commits_count
    - c.with_body do
      .table-holder{ data: { testid: 'wiki-history-table' } }
        %table.table.wiki-history{ class: '!gl-mb-0' }
          %thead
            %tr
              %th= _('Version')
              %th= _('Author')
              %th= _('Diff')
              %th= _('Last updated')
          %tbody
            - @commits.each_with_index do |commit, i|
              %tr
                %td
                  = link_to wiki_page_path(@wiki, @page, version_id: commit.id) do
                    v#{@commits_count - i}
                %td
                  = commit.author_name
                %td
                  .commit-content
                    = link_to wiki_page_path(@wiki, @page, action: :diff, version_id: commit.id), { title: commit.message } do
                      = commit.message
                %td
                  = time_ago_with_tooltip(commit.authored_date)

  = paginate @commits, theme: 'gitlab'

= render 'shared/wikis/sidebar'
