- page_title _("History"), @page.human_title, _("Wiki")

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .nav-text
    %h2.wiki-page-title
      = link_to @page.human_title, wiki_page_path(@wiki, @page)
      %span.light
        &middot;
        = _("History")

.table-holder
  %table.table
    %thead
      %tr
        %th= s_("Wiki|Page version")
        %th= _("Author")
        %th= _("Commit Message")
        %th= _("Last updated")
        %th= _("Format")
    %tbody
      - @page_versions.each_with_index do |version, index|
        - commit = version
        %tr
          %td
            = link_to wiki_page_path(@wiki, @page, version_id: index == 0 ? nil : commit.id) do
              = truncate_sha(commit.id)
          %td
            = commit.author_name
          %td
            = commit.message
          %td
            #{time_ago_with_tooltip(version.authored_date)}
          %td
            %strong
              = version.format
= paginate @page_versions, theme: 'gitlab'

= render 'shared/wikis/sidebar'
