- add_to_breadcrumbs "Wiki", wiki_path(@wiki)
- breadcrumb_title s_("Wiki|Pages")
- page_title s_("Wiki|Pages"), _("Wiki")
- sort_title = wiki_sort_title(params[:sort])
- add_page_specific_style 'page_bundles/wiki'

.wiki-page-header.top-area.flex-column.flex-lg-row
  %h3.page-title.gl-flex-grow-1
    = s_("Wiki|Wiki Pages")

  .nav-controls.pb-md-3.pb-lg-0
    = link_to wiki_path(@wiki, action: :git_access), class: 'btn gl-button' do
      = sprite_icon('download')
      = _("Clone repository")

    .dropdown.inline.wiki-sort-dropdown
      .btn-group{ role: 'group' }
        .btn-group{ role: 'group' }
          %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' }, class: 'btn gl-button btn-default' }
            = sort_title
            = sprite_icon('chevron-down')
          %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
            %li
              = sortable_item(s_("Wiki|Title"), wiki_path(@wiki, action: :pages, sort: Wiki::TITLE_ORDER), sort_title)
              = sortable_item(s_("Wiki|Created date"), wiki_path(@wiki, action: :pages, sort: Wiki::CREATED_AT_ORDER), sort_title)
        = wiki_sort_controls(@wiki, params[:sort], params[:direction])

%ul.wiki-pages-list.content-list
  = render @wiki_entries, context: 'pages'

= paginate @wiki_pages, theme: 'gitlab'
