.js-blob-result.gl-mt-3.gl-mb-5{ data: { testid: 'result-item-content' } }
  .file-holder.file-holder-top-border
    .js-file-title.file-title{ data: { testid: 'file-title-content' } }
      = link_to blob_link, data: { event_tracking: 'click_search_result', event_label: @scope, event_value: position } do
        = sprite_icon('document')
        %strong.gl-text-strong
          = search_blob_title(project, path)
      = copy_file_path_button(path)
    - if blob.data
      - if blob.data.size > 0
        .file-content.code.term{ data: { testid: 'file-text-content' } }
          = render 'search/results/blob_highlight', blob: blob, first_line_number: blob.startline, blob_link: blob_link, blame_link: blame_link, highlight_line: blob.highlight_line
      - else
        .file-content.code
          .nothing-here-block
            .gl-text-subtle.gl-text-sm
              = blob_data_oversize_message
