- project = note.project
- note_url = Gitlab::UrlBuilder.new(:note).build(note.id)
- noteable_identifier = note.noteable.try(:iid) || note.noteable.id
.search-result-row
  %h5.note-search-caption.str-truncated
    %i.fa.fa-comment
    = link_to_member(project, note.author, avatar: false)
    commented on
    = link_to project.name_with_namespace, project
    &middot;

    - if note.for_commit?
      = link_to "Commit #{truncate_sha(note.commit_id)}", note_url
    - else
      %span #{note.noteable_type.titleize} ##{noteable_identifier}
      &middot;
      = link_to note.noteable.title, note_url

  .note-search-result
    .term
      = preserve do
        = search_md_sanitize(markdown(note.note, {no_header_anchors: true}))
