- project = note.project
- note_url = Gitlab::UrlBuilder.build(note)
- noteable_identifier = note.noteable.try(:iid) || note.noteable.try(:id)

.search-result-row
  %h5.note-search-caption.str-truncated
    %i.fa.fa-comment
    = link_to_member(project, note.author, avatar: false)
    commented on
    = link_to project.full_name, project
    &middot;

    - if note.for_commit?
      = link_to_if(noteable_identifier, "Commit #{truncate_sha(note.commit_id)}", note_url) do
        = truncate_sha(note.commit_id)
        %span.light Commit deleted

    - else
      %span #{note.noteable_type.titleize} ##{noteable_identifier}
      &middot;
      = link_to note.noteable.title, note_url

  .note-search-result
    .term
      = search_md_sanitize(note, :note)
