.gl-display-flex.gl-flex-direction-column.gl-align-items-center
  %div
    .svg-content.svg-150
      = image_tag 'illustrations/search-timeout-md.svg'
  %div
    %h4.gl-text-center.gl-font-weight-bold= _('Your search timed out')
    %p.gl-text-center= _('To resolve this, try to:')
    %ul
      %li= html_escape(_('Refine your search criteria (select a %{strong_open}group%{strong_close} and %{strong_open}project%{strong_close} when possible)')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }
      %li= html_escape(_('Use double quotes for multiple keywords, such as %{code_open}"your search"%{code_close}')) % { code_open: '<code>'.html_safe, code_close: '</code>'.html_safe }
