%ul.content-list
  %li
    .avatar-cell.d-none.d-sm-block
      = user_avatar(user: user, user_name: user.name, css_class: 'd-none d-sm-inline avatar s40')
    .user-info
      = link_to user_path(user), class: 'd-none d-sm-inline' do
        .item-title
          = user.name
          = user_status(user)
        .cgray= user.to_reference
