%ul.content-list
  %li
    .avatar-cell
      = user_avatar(user: user, size: 40, user_name: user.name)
    .user-info
      = link_to user_path(user) do
        .item-title
          = simple_search_highlight_and_truncate(user.name, @search_term)
          = user_status(user)
        .cgray= simple_search_highlight_and_truncate(user.to_reference, @search_term)
