- file_hooks = Gitlab::FileHook.files

= render ::Layouts::SettingsSectionComponent.new(s_('Webhooks|File hooks')) do |c|
  - c.with_description do
    = _('File hooks are similar to system hooks but are executed as files instead of sending data to a URL.')
    = link_to _('For more information, see the file hooks documentation.'), help_page_path('administration/file_hooks.md')
  - c.with_body do
    = render ::Layouts::CrudComponent.new(s_('Webhooks|File hooks'), icon: 'document', count: file_hooks.count, options: { class: 'gl-mt-3' }) do |c|
      - c.with_body do
        - if file_hooks.any?
          %ul.content-list
            - file_hooks.each do |file|
              %li.gl-border-b
                .monospace
                  = File.basename(file)
        - else
          .gl-text-subtle= _('No file hooks found.')
