- file_hooks = Gitlab::FileHook.files

.row.gl-mt-3
  .col-lg-4
    %h4.gl-mt-0
      = _('File Hooks')
    %p
      = _('File hooks are similar to system hooks but are executed as files instead of sending data to a URL.')
      = link_to _('For more information, see the File Hooks documentation.'), help_page_path('administration/file_hooks')


  .col-lg-8.gl-mb-3
    - if file_hooks.any?
      = render Pajamas::CardComponent.new do |c|
        - c.header do
          = _('File Hooks (%{count})') % { count: file_hooks.count }
        - c.body do
          %ul.content-list
            - file_hooks.each do |file|
              %li
                .monospace
                  = File.basename(file)
    - else
      = render Pajamas::CardComponent.new do |c|
        - c.body do
          .nothing-here-block= _('No file hooks found.')
