- file_hooks = Gitlab::FileHook.files

.settings-section
  .settings-sticky-header
    .settings-sticky-header-inner
      %h4.gl-my-0
        = s_('Webhooks|File hooks')
  %p.gl-text-secondary
    = _('File hooks are similar to system hooks but are executed as files instead of sending data to a URL.')
    = link_to _('For more information, see the file hooks documentation.'), help_page_path('administration/file_hooks')

  .gl-mb-3
    = render ::Layouts::CrudComponent.new(s_('Webhooks|File hooks'), icon: 'document', count: file_hooks.count) do |c|
      - c.with_body do
        - if file_hooks.any?
          %ul.content-list{ class: '!-gl-my-3' }
            - file_hooks.each do |file|
              %li.gl-border-b.gl-last-of-type-border-b-0
                .monospace
                  = File.basename(file)
        - else
          .gl-text-secondary= _('No file hooks found.')
