- page_title "Milestones"
- header_title "Milestones", dashboard_milestones_path

.project-issuable-filter
  .controls
    - if @projects.any? { |project| can?(current_user, :admin_milestone, project) }
      .dropdown.inline
        %button.dropdown-toggle.btn.btn-new{type: 'button', 'data-toggle' => 'dropdown'}
          %i.fa.fa-plus
          New Milestone
          %b.caret
        %ul.dropdown-menu.dropdown-menu-align-right
          - @projects.each do |project|
            - if can?(current_user, :admin_milestone, project)
              %li
                = link_to new_namespace_project_milestone_path(project.namespace, project) do
                  = project.name_with_namespace

  = render 'shared/milestones_filter'

.gray-content-block
  List all milestones from all projects you have access to.

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
