- page_title @dashboard_milestone.title, "Milestones"
%h4.page-title
  .issue-box{ class: "issue-box-#{@dashboard_milestone.closed? ? 'closed' : 'open'}" }
    - if @dashboard_milestone.closed?
      Closed
    - else
      Open
  Milestone #{@dashboard_milestone.title}

%hr
- if (@dashboard_milestone.total_items_count == @dashboard_milestone.closed_items_count) && @dashboard_milestone.active?
  .alert.alert-success
    %span All issues for this milestone are closed. You may close the milestone now.

.description
%table.table
  %thead
    %tr
      %th Project
      %th Open issues
      %th State
      %th Due date
  - @dashboard_milestone.milestones.each do |milestone|
    %tr
      %td
        = link_to "#{milestone.project.name_with_namespace}", namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone)
      %td
        = milestone.issues.opened.count
      %td
        - if milestone.closed?
          Closed
        - else
          Open
      %td
        = milestone.expires_at

.context
  %p.lead
    Progress:
    #{@dashboard_milestone.closed_items_count} closed
    &ndash;
    #{@dashboard_milestone.open_items_count} open
  = milestone_progress_bar(@dashboard_milestone)

%ul.nav.nav-tabs
  %li.active
    = link_to '#tab-issues', 'data-toggle' => 'tab' do
      Issues
      %span.badge= @dashboard_milestone.issue_count
  %li
    = link_to '#tab-merge-requests', 'data-toggle' => 'tab' do
      Merge Requests
      %span.badge= @dashboard_milestone.merge_requests_count
  %li
    = link_to '#tab-participants', 'data-toggle' => 'tab' do
      Participants
      %span.badge= @dashboard_milestone.participants.count

  .pull-right
    = link_to 'Browse Issues', issues_dashboard_path(milestone_title: @dashboard_milestone.title), class: "btn  edit-milestone-link btn-grouped"

.tab-content
  .tab-pane.active#tab-issues
    .row
      .col-md-6
        = render 'issues', title: "Open", issues: @dashboard_milestone.opened_issues
      .col-md-6
        = render 'issues', title: "Closed", issues: @dashboard_milestone.closed_issues

  .tab-pane#tab-merge-requests
    .row
      .col-md-6
        = render 'merge_requests', title: "Open", merge_requests: @dashboard_milestone.opened_merge_requests
      .col-md-6
        = render 'merge_requests', title: "Closed", merge_requests: @dashboard_milestone.closed_merge_requests

  .tab-pane#tab-participants
    %ul.bordered-list
      - @dashboard_milestone.participants.each do |user|
        %li
          = link_to user, title: user.name, class: "darken" do
            = image_tag avatar_icon(user.email, 32), class: "avatar s32"
            %strong= truncate(user.name, lenght: 40)
            %br
            %small.cgray= user.username
