- page_title _('Authorize identity provider link')
- provider = Gitlab::Auth::OAuth::Provider.label_for(@identity.provider)

- content_for :page_specific_javascripts do
  = render "layouts/one_trust"

= render 'devise/shared/tab_single', tab_title: _('Authorize identity provider link')
%h4.gl-mt-0= safe_format(s_('Allow %{strongOpen}%{provider}%{strongClose} to sign you in?'), tag_pair(tag.strong, :strongOpen, :strongClose), provider: provider)
%p= safe_format(s_('Authorizing allows you to sign in with %{strongOpen}%{provider}%{strongClose}.'), tag_pair(tag.strong, :strongOpen, :strongClose), provider: provider)
= render Pajamas::AlertComponent.new(variant: :warning, dismissible: false, alert_options: { class: 'gl-mb-5 gl-break-anywhere' }) do |c|
  - c.with_body do
    = safe_format(_('To allow %{strongOpen}%{provider}%{strongClose} to manage your GitLab account %{strongOpen}%{username}%{strongClose} (%{email}) after you sign in successfully using single sign-on, select %{strongOpen}Authorize%{strongClose}.'), tag_pair(tag.strong, :strongOpen, :strongClose), provider: provider, username: current_user.username, email: current_user.email)

= gitlab_ui_form_for(@identity, url: user_settings_identities_path, method: :post) do |f|
  = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, block: true) do
    = _("Authorize")
  = render Pajamas::ButtonComponent.new(href: profile_account_path, block: true) do
    = _('Cancel')
