- link = link_to _("Install GitLab Runner and ensure it's running."), 'https://docs.gitlab.com/runner/install/', target: '_blank'
.gl-mb-3
  %h5= _("Set up a %{type} runner manually") % { type: type }

%ol
  %li
    = link.html_safe
  %li
    = _("Register the runner with this URL:")
    %br
    %code#coordinator_address= root_url(only_path: false)
    = clipboard_button(target: '#coordinator_address', title: _("Copy URL"), class: "btn-transparent btn-clipboard")
    %br
    %br
    = _("And this registration token:")
    %br
    %code#registration_token{ data: {testid: 'registration_token' } }= registration_token
    = clipboard_button(target: '#registration_token', title: _("Copy token"), class: "btn-transparent btn-clipboard")

.gl-mt-3.gl-mb-3
= button_to _("Reset registration token"), reset_token_url,
method: :put, class: 'gl-button btn btn-default',
data: { confirm: _("Are you sure you want to reset the registration token?") }

#js-install-runner
