- link = link_to _("Install GitLab Runner and ensure it's running."), 'https://docs.gitlab.com/runner/install/', target: '_blank', rel: 'noopener noreferrer'
.gl-mb-3
  %h5= _("Set up a %{type} runner for a project") % { type: type }
%ol
  %li
    = link.html_safe
  %li
    = _("Register the runner with this URL:")
    %br
    %code#coordinator_address= root_url(only_path: false)
    = clipboard_button(target: '#coordinator_address', title: _("Copy URL"))
    %br
    %br
    = _("And this registration token:")
    %br
    %code#registration_token{ data: {testid: 'registration_token' } }= registration_token
    = clipboard_button(target: '#registration_token', title: _("Copy token"))

.gl-mt-3.gl-mb-3
= render Pajamas::ButtonComponent.new(variant: :default, method: :put, href: reset_token_url, button_options: { id: 'Reset registration token', data: { confirm: _("Are you sure you want to reset the registration token?") } }) do
  = _('Reset registration token')

#js-install-runner
