%h3.page_title New Team
%hr
= form_for @team, url: admin_teams_path do |f|
  - if @team.errors.any?
    .alert.alert-error
      %span= @team.errors.full_messages.first
  .clearfix
    = f.label :name do
      Team name is
    .input
      = f.text_field :name, placeholder: "Ex. OpenSource", class: "xxlarge left"
      &nbsp;
      = f.submit 'Create team', class: "btn btn-primary"
  %hr
  .padded
    %ul
      %li All created teams are public (users can view who enter into team and which project are assigned for this team)
      %li People within a team see only projects they have access to
      %li You will be able to assign existing projects for team
