%h3.page_title
  Team: #{@team.name}

%br
%table.zebra-striped
  %thead
    %tr
      %th Team
      %th
  %tr
    %td
      %b
        Name:
    %td
      = @team.name
      &nbsp;
      = link_to edit_admin_team_path(@team), class: "btn btn-small right" do
        %i.icon-edit
        Rename
  %tr
    %td
      %b
        Owner:
    %td
      = @team.owner.name
      .right
        = link_to "#", class: "btn btn-small change-owner-link" do
          %i.icon-edit
          Change owner

  %tr.change-owner-holder.hide
    %td.bgred
      %b.cred
        New Owner:
    %td.bgred
      = form_for @team, url: admin_team_path(@team) do |f|
        = f.select :owner_id, User.all.map { |user| [user.name, user.id] }, {}, {class: 'chosen'}
        %div
          = f.submit 'Change Owner', class: "btn danger"
          = link_to "Cancel", "#", class: "btn change-owner-cancel-link"

%fieldset
  %legend Members (#{@team.members.count})
  %table#members_list
    %thead
      %tr
        %th User name
        %th Default project access
        %th Team access
        %th.cred Danger Zone!
    - @team.members.each do |member|
      %tr.member
        %td
          = link_to [:admin, member] do
            = member.name
            %small= "(#{member.email})"
        %td= @team.human_default_projects_access(member)
        %td= @team.admin?(member) ? "Admin" : "Member"
        %td.bgred
          = link_to 'Edit', edit_admin_team_member_path(@team, member), class: "btn small"
          &nbsp;
          = link_to 'Remove', admin_team_member_path(@team, member), confirm: 'Remove member from team. Are you sure?', method: :delete, class: "btn danger small"
    %tr
      %td
      %td
      %td
      %td= link_to 'Add members', new_admin_team_member_path(@team), class: "btn primary", id: :add_members_to_team

%fieldset
  %legend Projects (#{@team.projects.count})
  %table#projects_list
    %thead
      %tr
        %th Project name
        %th Max access
        %th.cred Danger Zone!
    - @team.projects.each do |project|
      %tr.project
        %td
          = link_to project.name_with_namespace, [:admin, project]
        %td
          %span= @team.human_max_project_access(project)
        %td.bgred
          = link_to 'Edit', edit_admin_team_project_path(@team, project), class: "btn small"
          &nbsp;
          = link_to 'Relegate', admin_team_project_path(@team, project), confirm: 'Remove project from team. Are you sure?', method: :delete, class: "btn danger small"
    %tr
      %td
      %td
      %td= link_to 'Add projects', new_admin_team_project_path(@team), class: "btn primary", id: :assign_projects_to_team

:javascript
  $(function(){
    var modal = $('.change-owner-holder');
    $('.change-owner-link').bind("click", function(){
      $(this).hide();
      modal.show();
    });
    $('.change-owner-cancel-link').bind("click", function(){
      modal.hide();
      $('.change-owner-link').show();
    })
  })

