= form_tag project_issues_path(@project), method: 'get' do
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if (params[:status] == 'open' || !params[:status]))}
        = link_to project_merge_requests_path(@project, status: 'open', milestone_id: params[:milestone_id]) do
          Open
      %li{class: ("active" if params[:status] == "closed")}
        = link_to project_merge_requests_path(@project, status: "closed", milestone_id: params[:milestone_id]) do
          Closed
      %li{class: ("active" if params[:status] == 'assigned-to-me')}
        = link_to project_merge_requests_path(@project, status: 'assigned-to-me', milestone_id: params[:milestone_id]) do
          Assigned To Me
      %li{class: ("active" if params[:status] == 'all')}
        = link_to project_merge_requests_path(@project, status: 'all', milestone_id: params[:milestone_id]) do
          All

  %fieldset
    - if %w(status milestone_id assignee_id label_name).select { |k| params[k].present? }.any?
      = link_to project_merge_requests_path(@project), class: 'cgray pull-right' do
        %i.icon-remove
        Clear filter
