- issuable_type = 'merge_request'
- notification_email = @current_user.present? ? @current_user.notification_email_or_default : nil

- if @can_bulk_update
  = render Pajamas::ButtonComponent.new(type: :submit, button_options: { class: 'gl-mr-3 js-bulk-update-toggle' }) do
    = _("Bulk edit")
- if merge_project
  = render Pajamas::ButtonComponent.new(href: new_merge_request_path, variant: :confirm) do
    = _("New merge request")

.dropdown.gl-dropdown
  = button_tag type: 'button', class: "btn dropdown-toggle btn-default btn-md gl-button gl-dropdown gl-dropdown-toggle btn-default-tertiary dropdown-icon-only dropdown-toggle-no-caret has-tooltip gl-display-none! gl-md-display-inline-flex!", data: { toggle: 'dropdown', title: _('Actions') } do
    = sprite_icon "ellipsis_v", size: 16, css_class: "dropdown-icon gl-icon"
    %span.gl-sr-only
      = _('Actions')
  = button_tag type: 'button', class: "btn dropdown-toggle btn-default btn-md btn-block gl-button gl-dropdown-toggle gl-md-display-none!", data: { 'toggle' => 'dropdown' } do
    %span.gl-dropdown-button-text= _('Actions')
    = sprite_icon "chevron-down", size: 16, css_class: "dropdown-icon gl-icon"
  .dropdown-menu.dropdown-menu-right
    .gl-dropdown-inner
      .gl-dropdown-contents
        %ul
          .js-csv-import-export-buttons{ data: { show_export_button: "true", issuable_type: issuable_type, issuable_count: issuables_count_for_state(issuable_type.to_sym, params[:state]), email: notification_email, export_csv_path: export_csv_project_merge_requests_path(@project, request.query_parameters) } }
          %li.gl-dropdown-divider
            %hr.dropdown-divider
          %li.gl-dropdown-item
            = render 'shared/issuable/feed_buttons', show_calendar_button: false
