- is_sticky = local_assigns.fetch(:is_sticky, false)

.merge-request-tabs-holder.js-sticky-tabs{ class: "#{content_class_ref} #{'sticky hide' if is_sticky}" }
  .merge-request-tabs-container
    .scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
      .fade-left= icon('angle-left')
      .fade-right= icon('angle-right')
      .nav-links.scrolling-tabs
        %ul.merge-request-tabs
          %li.notes-tab
            = link_to namespace_project_merge_request_path(project.namespace, project, merge_request), data: { target: 'div#notes', action: 'notes', toggle: 'tab' } do
              Discussion
              %span.badge= merge_request.related_notes.user.count
          - if merge_request.source_project
            %li.commits-tab
              = link_to commits_namespace_project_merge_request_path(project.namespace, project, merge_request), data: { target: 'div#commits', action: 'commits', toggle: 'tab' } do
                Commits
                %span.badge= @commits_count
          - if @pipelines.any?
            %li.pipelines-tab
              = link_to pipelines_namespace_project_merge_request_path(project.namespace, project, merge_request), data: { target: '#pipelines', action: 'pipelines', toggle: 'tab' } do
                Pipelines
                %span.badge= @pipelines.size
          %li.diffs-tab
            = link_to diffs_namespace_project_merge_request_path(project.namespace, project, merge_request), data: { target: 'div#diffs', action: 'diffs', toggle: 'tab' } do
              Changes
              %span.badge= merge_request.diff_size
    .line-resolve-all-container.prepend-top-10{ "v-cloak" => true, id: "resolve-count-app#{'-sticky' if is_sticky}" }
      %resolve-count{ "inline-template" => true, ":logged-out" => "#{current_user.nil?}" }
        %div
          .line-resolve-all{ "v-show" => "discussionCount > 0",
            ":class" => "{ 'has-next-btn': !loggedOut && resolvedDiscussionCount !== discussionCount }" }
            %span.line-resolve-btn.is-disabled{ type: "button",
                ":class" => "{ 'is-active': resolvedDiscussionCount === discussionCount }" }
              = render "shared/icons/icon_status_success.svg"
            %span.line-resolve-text
              {{ resolvedDiscussionCount }}/{{ discussionCount }} {{ resolvedCountText }} resolved
          = render "discussions/new_issue_for_all_discussions", merge_request: merge_request
          = render "discussions/jump_to_next"
