= render_if_exists 'projects/merge_requests/merge_trains_button'
- if @can_bulk_update
  = render Pajamas::ButtonComponent.new(type: :submit, button_options: { class: 'gl-mr-3 js-bulk-update-toggle' }) do
    = _("Bulk edit")
- if merge_project && can?(@current_user, :create_merge_request_in, @project)
  = render Pajamas::ButtonComponent.new(href: new_merge_request_path, variant: :confirm,
    button_options: { data: { event_tracking: 'click_new_merge_request_list' } }) do
    = _("New merge request")

#js-vue-mr-list-more-actions{ data: project_merge_requests_list_more_actions_data(@project, current_user) }
