- @content_class = "limit-container-width" unless fluid_layout
- page_title "#{@merge_request.title} (#{@merge_request.to_reference})", "Merge Requests"
- page_description @merge_request.description
- page_card_attributes @merge_request.card_attributes
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('diff_notes')
- content_for :sticky_tabs do
  = render 'nav', project: @project, merge_request: @merge_request, is_sticky: true

.merge-request{ 'data-url' => merge_request_path(@merge_request, format: :json), 'data-project-path' => project_path(@merge_request.project) }
  = render "projects/merge_requests/show/mr_title"

  .merge-request-details.issuable-details{ data: { id: @merge_request.project.id } }
    = render "projects/merge_requests/show/mr_box"

    - if @merge_request.source_branch_exists?
      = render "projects/merge_requests/show/how_to_merge"

    :javascript
      window.gl.mrWidgetData = #{serialize_issuable(@merge_request)}

    #js-vue-mr-widget.mr-widget

    - content_for :page_specific_javascripts do
      = webpack_bundle_tag 'common_vue'
      = webpack_bundle_tag 'vue_merge_request_widget'

    .content-block.content-block-small.emoji-list-container
      = render 'award_emoji/awards_block', awardable: @merge_request, inline: true

    = render 'nav', project: @project, merge_request: @merge_request

    .tab-content#diff-notes-app
      #notes.notes.tab-pane.voting_notes
        .row
          %section.col-md-12
            .issuable-discussion
              = render "projects/merge_requests/discussion"

      #commits.commits.tab-pane
        -# This tab is always loaded via AJAX
      #pipelines.pipelines.tab-pane
        - if @pipelines.any?
          = render 'projects/commit/pipelines_list', disable_initialization: true, endpoint: pipelines_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)
      #diffs.diffs.tab-pane
        -# This tab is always loaded via AJAX

    .mr-loading-status
      = spinner

= render 'shared/issuable/sidebar', issuable: @merge_request
- if @merge_request.can_be_reverted?(current_user)
  = render "projects/commit/change", type: 'revert', commit: @merge_request.merge_commit, title: @merge_request.title
- if @merge_request.can_be_cherry_picked?
  = render "projects/commit/change", type: 'cherry-pick', commit: @merge_request.merge_commit, title: @merge_request.title

:javascript
  $(function () {
    window.mergeRequest = new MergeRequest({
      action: "#{controller.action_name}"
    });
  });
