- class_bindings = "{ |
    'head': line.isHead, |
    'origin': line.isOrigin, |
    'match': line.hasMatch, |
    'selected': line.isSelected, |
    'unselected': line.isUnselected }"

- page_title "Merge Conflicts", "#{@merge_request.title} (#{@merge_request.to_reference}", "Merge Requests"
- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('merge_conflicts/merge_conflicts_bundle.js')
  = page_specific_javascript_tag('lib/ace.js')
= render "projects/merge_requests/show/mr_title"

.merge-request-details.issuable-details
  = render "projects/merge_requests/show/mr_box"

= render 'shared/issuable/sidebar', issuable: @merge_request

#conflicts{"v-cloak" => "true", data: { conflicts_path: conflicts_namespace_project_merge_request_path(@merge_request.project.namespace, @merge_request.project, @merge_request, format: :json),
    resolve_conflicts_path: resolve_conflicts_namespace_project_merge_request_path(@merge_request.project.namespace, @merge_request.project, @merge_request) } }
  .loading{"v-if" => "isLoading"}
    %i.fa.fa-spinner.fa-spin

  .nothing-here-block{"v-if" => "hasError"}
    {{conflictsData.errorMessage}}

  = render partial: "projects/merge_requests/conflicts/commit_stats"

  .files-wrapper{"v-if" => "!isLoading && !hasError"}
    .files
      .diff-file.file-holder.conflict{"v-for" => "file in conflictsData.files"}
        .file-title
          %i.fa.fa-fw{":class" => "file.iconClass"}
          %strong {{file.filePath}}
          = render partial: 'projects/merge_requests/conflicts/file_actions'
        .diff-content.diff-wrap-lines
          %div{"v-show" => "!isParallel && file.resolveMode === 'interactive' && file.type === 'text'" }
            = render partial: "projects/merge_requests/conflicts/resolve_mode_interactive_inline", locals: { class_bindings: class_bindings }
          %div{"v-show" => "isParallel && file.resolveMode === 'interactive' && file.type === 'text'" }
            = render partial: "projects/merge_requests/conflicts/resolve_mode_interactive_parallel", locals: { class_bindings: class_bindings }
          %div{"v-show" => " file.resolveMode === 'edit' ||  file.type === 'text-editor'"}
            = render partial: 'projects/merge_requests/conflicts/diff_file_editor', locals: { if_condition: "file.loadFile && isParallel" }

    = render partial: "projects/merge_requests/conflicts/submit_form"

-# Components 
= render partial: 'projects/merge_requests/conflicts/components/diff_file_editor'
 