- class_bindings = "{ |
    'head': line.isHead, |
    'origin': line.isOrigin, |
    'match': line.hasMatch, |
    'selected': line.isSelected, |
    'unselected': line.isUnselected }"

- page_title "Merge Conflicts", "#{@merge_request.title} (#{@merge_request.to_reference}", "Merge Requests"
= render "projects/merge_requests/show/mr_title"

.merge-request-details.issuable-details
  = render "projects/merge_requests/show/mr_box"

= render 'shared/issuable/sidebar', issuable: @merge_request

#conflicts{"v-cloak" => "true", data: { conflicts_path: conflicts_namespace_project_merge_request_path(@merge_request.project.namespace, @merge_request.project, @merge_request, format: :json),
    resolve_conflicts_path: resolve_conflicts_namespace_project_merge_request_path(@merge_request.project.namespace, @merge_request.project, @merge_request) } }
  .loading{"v-if" => "isLoading"}
    %i.fa.fa-spinner.fa-spin

  .nothing-here-block{"v-if" => "hasError"}
    {{conflictsData.errorMessage}}

  = render partial: "projects/merge_requests/conflicts/commit_stats"

  .files-wrapper{"v-if" => "!isLoading && !hasError"}
    = render partial: "projects/merge_requests/conflicts/parallel_view", locals: { class_bindings: class_bindings }
    = render partial: "projects/merge_requests/conflicts/inline_view", locals: { class_bindings: class_bindings }
    = render partial: "projects/merge_requests/conflicts/submit_form"

-# Components 
= render partial: 'projects/merge_requests/conflicts/components/diff_file_editor'
