- page_title "Merge Requests"
= render 'projects/last_push'
.append-bottom-10
  .pull-right
    = render 'shared/issuable/search_form', path: namespace_project_merge_requests_path(@project.namespace, @project)

    - if can? current_user, :create_merge_request, @project
      .pull-left.hidden-xs
        = link_to new_namespace_project_merge_request_path(@project.namespace, @project), class: "btn btn-new", title: "New Merge Request" do
          %i.fa.fa-plus
          New Merge Request
  = render 'shared/issuable/filter', type: :merge_requests
.merge-requests-holder
  = render 'merge_requests'
