.merge-requests-holder
  .append-bottom-10
    .pull-right
      - if can? current_user, :write_merge_request, @project
        = link_to new_namespace_project_merge_request_path(@project.namespace, @project), class: "btn btn-new pull-left", title: "New Merge Request" do
          %i.fa.fa-plus
          New Merge Request
    = render 'shared/issuable_filter'
  .panel.panel-default
    %ul.well-list.mr-list
      = render @merge_requests
      - if @merge_requests.blank?
        %li
          .nothing-here-block No merge requests to show
  - if @merge_requests.present?
    .pull-right
      %span.cgray.pull-right #{@merge_requests.total_count} merge requests for this filter

    = paginate @merge_requests, theme: "gitlab"

:javascript
  $(merge_requestsPage);
