- page_title "Merge Requests"
= render "header_title"

= render 'projects/last_push'

.top-area
  = render 'shared/issuable/nav', type: :merge_requests
  .nav-controls
    = render 'shared/issuable/search_form', path: namespace_project_merge_requests_path(@project.namespace, @project)

    - merge_project = can?(current_user, :create_merge_request, @project) ? @project : (current_user && current_user.fork_of(@project))
    - if merge_project
      = link_to new_namespace_project_merge_request_path(merge_project.namespace, merge_project), class: "btn btn-new", title: "New Merge Request" do
        = icon('plus')
        New Merge Request

= render 'shared/issuable/filter', type: :merge_requests

.merge-requests-holder
  = render 'merge_requests'
