- case @status
- when :success
  - remove_source_branch = params[:should_remove_source_branch] == '1' || @merge_request.remove_source_branch?
  :plain
    merge_request_widget.mergeInProgress(#{remove_source_branch});
- when :merge_when_pipeline_succeeds
  :plain
    $('.mr-widget-body').html("#{escape_javascript(render('projects/merge_requests/widget/open/merge_when_pipeline_succeeds'))}");
- when :hook_validation_error
  :plain
    $('.mr-widget-body').html("#{escape_javascript(render('projects/merge_requests/widget/open/error'))}");
- when :sha_mismatch
  :plain
    $('.mr-widget-body').html("#{escape_javascript(render('projects/merge_requests/widget/open/sha_mismatch'))}");
- else
  :plain
    $('.mr-widget-body').html("#{escape_javascript(render('projects/merge_requests/widget/open/reload'))}");
