- enabled = Gitlab.config.mattermost.enabled

.info-well
  .well-segment
    %p
      = s_("MattermostService|Use this service to perform common tasks in your project by entering slash commands in Mattermost.")
      = link_to help_page_path('user/project/integrations/mattermost_slash_commands.md'), target: '_blank' do
        = _("How do I configure this integration?")
        = sprite_icon('external-link')
    %p.inline
      = s_("MattermostService|After you configure the integration, view your new Mattermost commands by entering")
    %kbd.inline /&lt;trigger&gt; help
    - if !enabled && integration.project_level?
      = render 'projects/services/mattermost_slash_commands/detailed_help', integration: integration

- if enabled && integration.project_level?
  = render 'projects/services/mattermost_slash_commands/installation_info', integration: integration
