- if gitlab_markdown?(blob.name)
  .file_content.wiki
    = preserve do
      = markdown(blob.data)
- elsif markup?(blob.name)
  .file_content.wiki
    = raw GitHub::Markup.render(blob.name, blob.data)
- else
  .file_content.code
    - unless blob.empty?
      %div{class: current_user.dark_scheme ? "black" : "white"}
        = preserve do
          = raw blob.colorize(options: { linenos: 'True'})
    - else
      %h4.nothing_here_message Empty file
