.awards.votes-block
  - votable.notes.awards.grouped_awards.each do |emoji, notes|
    .award{class: (note_active_class(notes, current_user)), title: emoji_author_list(notes, current_user)}
      .icon{"data-emoji" => "#{emoji}"}
        = image_tag url_to_emoji(emoji), height: "20px", width: "20px"
      .counter
        = notes.count

  - if current_user
    .dropdown.awards-controls
      %a.add-award{"data-toggle" => "dropdown", "data-target" => "#", "href" => "#"}
        = icon('smile-o')
      %ul.dropdown-menu.awards-menu
        - emoji_list.each do |emoji|
          %li{"data-emoji" => "#{emoji}"}= image_tag url_to_emoji(emoji), height: "20px", width: "20px"

- if current_user
  :javascript
    var post_emoji_url = "#{award_toggle_namespace_project_notes_path(@project.namespace, @project)}";
    var noteable_type = "#{votable.class.name.underscore}";
    var noteable_id = "#{votable.id}";
    var aliases = #{AwardEmoji::ALIASES.to_json};
    window.awards_handler = new AwardsHandler(post_emoji_url, noteable_type, noteable_id, aliases);

    $(".awards-menu li").click(function (e) {
      var emoji = $(this).data("emoji");
      awards_handler.addAward(emoji);
    });

    $(".awards").on("click", ".award", function (e) {
      var emoji = $(this).find(".icon").data("emoji");
      awards_handler.addAward(emoji);
    });

    $(".award").tooltip();
