.awards.votes-block
  - votable.notes.awards.grouped_awards.each do | vote |
    .award{class: ("active" if vote.last.pluck(:author_id).include?(current_user.id)), title: emoji_author_list(vote.last, current_user)}
      .icon{"data-emoji" => "#{vote.first}"}
        = image_tag url_to_emoji(vote.first), height: "20px", width: "20px"
      .counter
        = vote.last.count

  .dropdown.awards-controls
    %a.add-award{"data-toggle" => "dropdown", "data-target" => "#", "href" => "#"}
      = icon('plus-circle')
    %ul.dropdown-menu.awards-menu
      - emoji_list.each do |emoji|
        %li{"data-emoji" => "#{emoji}"}= image_tag url_to_emoji(emoji), height: "20px", width: "20px"

:coffeescript
  post_emoji_url = "#{award_toggle_namespace_project_notes_path(@project.namespace, @project)}"
  noteable_type = "#{votable.class}"
  noteable_id = "#{votable.id}"
  window.awards_handler = new AwardsHandler(post_emoji_url, noteable_type, noteable_id)

  $(".awards-menu li").click (e)->
    emoji = $(this).data("emoji")
    awards_handler.addAward(emoji)

  $(".awards").on "click", ".award", (e)->
    emoji = $(this).find(".icon").data("emoji")
    awards_handler.addAward(emoji)

  $(".award").tooltip()