- if Gitlab.config.omniauth_enabled?
  %fieldset
    %legend
      %h3.page_title Social Accounts
    .oauth_select_holder
      %p.hint Tip: Click on icon to activate sigin with one of the following services
      - User.omniauth_providers.each do |provider|
        %span{class: oauth_active_class(provider) }
          = link_to authbutton(provider, 32), omniauth_authorize_path(User, provider)


%fieldset
  %legend
    %h3.page_title
      Private token
      %span.cred.right
        keep it in secret!
  .padded
    = form_for @user, url: profile_reset_private_token_path, method: :put do |f|
      .data
        %p.slead
          Private token used to access application resources without authentication.
          %br
          It can be used for atom feed or API
        %p.cgray
          - if current_user.private_token
            = text_field_tag "token", current_user.private_token, class: "xxlarge large_text"
            = f.submit 'Reset', confirm: "Are you sure?", class: "btn primary btn-build-token"
          - else
            %span You don`t have one yet. Click generate to fix it.
            = f.submit 'Generate', class: "btn success btn-build-token"

%fieldset
  %legend
    %h3.page_title Password
  = form_for @user, url: profile_password_path, method: :put do |f|
    .padded
      %p.slead After successful password update you will be redirected to login page where you should login with new password
      -if @user.errors.any?
        .alert-message.block-message.error
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .clearfix
        = f.label :password
        .input= f.password_field :password
      .clearfix
        = f.label :password_confirmation
        .input= f.password_field :password_confirmation
    .actions
      = f.submit 'Save', class: "btn save-btn"





