= form_for @user, url: profile_update_path, remote: true, method: :put do |f|
  %div
    %h3.page_title Application theme
    %br
    .themes_opts
      = label_tag do
        .prev
          = image_tag "gitlab_default.png"
        = f.radio_button :theme_id, 1
        Default

      = label_tag do
        .prev
          = image_tag "gitlab_classic.png"
        = f.radio_button :theme_id, 2
        Classic

      = label_tag do
        .prev
          = image_tag "gitlab_modern.png"
        = f.radio_button :theme_id, 3
        Modern
    %br
    .clearfix

  %h3.page_title Code review
  %br
  .themes_opts
    = label_tag do
      .prev
        = image_tag "white.png"
      = f.radio_button :dark_scheme, false
      White code preview
    = label_tag do
      .prev
        = image_tag "dark.png"
      = f.radio_button :dark_scheme, true
      Dark code preview

:javascript
  $(function(){
    $(".edit_user input").bind("click", function() {
      $(".edit_user").submit();
    });
  })
