= form_for @user, :url => profile_update_path, :remote => true, :method => :put do |f|
  %div
    %h3=t '.app'
    %hr
    .clearfix
      = label_tag do 
        = f.radio_button :theme_id, 1
        = t '.default'

      = label_tag do 
        = f.radio_button :theme_id, 2
        = t '.classic'
    %br
  %h3=t '.code'
  %hr
  .row
    %label.span3{:for => "user_dark_scheme_false"}
      .thumbnail
        = image_tag "white.png", :width => 260, :class => "styled_image"
        .caption
          %h5
            = f.radio_button :dark_scheme, false
            = t '.white'
    %label.span3{:for => "user_dark_scheme_true"}
      .thumbnail
        = image_tag "dark.png", :width => 260, :class => "styled_image"
        .caption
          %h5
            = f.radio_button :dark_scheme, true
            = t '.dark'

:javascript 
  $(function(){ 
    $(".edit_user input").bind("click", function() {
      $(".edit_user").submit();
    });
  })
