%h3 Password
%hr
= form_for @user, :url => profile_password_path, :method => :put do |f|
  .data
    .alert-message.block-message.warning
      %p After successfull password update you will be redirected to login page where you should login with new password
    -if @user.errors.any?
      .alert-message.block-message.error
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .clearfix
      = f.label :password
      .input= f.password_field :password
    .clearfix
      = f.label :password_confirmation
      .input= f.password_field :password_confirmation
  .actions
    = f.submit 'Save', :class => "btn"
  
%h3 
  Private token
  %span.cred.right
    keep it in secret!
%hr
= form_for @user, :url => profile_reset_private_token_path, :method => :put do |f|
  .data
    %p Private token used to access application resources without authentication.
    %p For example its required to access commits feed.
    %hr
    %p.cgray
      - if current_user.private_token
        = text_field_tag "token", current_user.private_token
      - else
        You don`t have one yet. Click generate to fix it.
  .actions
    - if current_user.private_token
      = f.submit 'Reset', :confirm => "Are you sure?", :class => "btn"
    - else
      = f.submit 'Generate', :class => "btn"

