.row
  .span6
    .thumbnail
      .caption
        %h3=t '.password'
        %hr
        = form_for @user, :url => profile_password_path, :method => :put do |f|
          .data
            .alert-message.block-message.warning
              %p=t '.password_hint'
            -if @user.errors.any?
              .alert-message.block-message.error
                %ul
                  - @user.errors.full_messages.each do |msg|
                    %li= msg

            .clearfix
              = f.label :password
              .input= f.password_field :password
            .clearfix
              = f.label :password_confirmation
              .input= f.password_field :password_confirmation
          %hr
            = f.submit t('global.save'), :class => "btn"

  .span6.right
    .thumbnail
      .caption
        %h3 
          = t '.token'
          %span.cred.right= t '.classified'
        %hr
        = form_for @user, :url => profile_reset_private_token_path, :method => :put do |f|
          .data
            .alert-message.block-message.warning
              %p=t '.token_hint'
            %p.cgray
              - if current_user.private_token
                = text_field_tag "token", current_user.private_token
              - else
                = t '.nyi'
          %hr
            - if current_user.private_token
            = f.submit t('.reset'), :confirm => t('.reset_confirm'), :class => "btn"
            - else
              = f.submit t('.generate'), :class => "btn"

