%p Note: after success password update you will be redirected to login page where you should login with new password
= form_for @user, :url => profile_password_path, :method => :put do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this password from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-row
    = f.label :password
    %br
    = f.password_field :password
  .form-row
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Save', :class => "lbutton vm"

