.ui-box.width-100p.append-bottom-20
  %h3 Password
  = form_for @user, :url => profile_password_path, :method => :put do |f|
    .data
      %p After successfull password update you will be redirected to login page where you should login with new password
      -if @user.errors.any?
        #error_explanation
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      .form-row
        = f.label :password
        %br
        = f.password_field :password
      .form-row
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation
    .buttons
      = f.submit 'Save', :class => "btn"
.clear

.ui-box.width-100p
  %h3 
    Private token
    %em.cred.right
      keep it in secret!
  = form_for @user, :url => profile_reset_private_token_path, :method => :put do |f|
    .data
      %p Private token used to access application resources without authentication.
      %p For example its required to access commits feed.
      %hr
      %p.cgray
        - if current_user.private_token
          = text_field_tag "token", current_user.private_token
        - else
          You don`t have one yet. Click generate to fix it.
    .buttons
      - if current_user.private_token
        = f.submit 'Reset', :confirm => "Are you sure?", :class => "grey-button"
      - else
        = f.submit 'Generate', :class => "btn"

