.media-grid
  = link_to "#" do
    = image_tag gravatar_icon(@user.email, 90), :class => "thumbnail"
  %h3.media_h= @user.name

%hr

= form_for @user, :url => profile_update_path, :method => :put do |f|
  -if @user.errors.any?
    %div.alert-message.block-message.error
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label :name
    .input= f.text_field :name
  .clearfix
    = f.label :email
    .input= f.text_field :email
  .clearfix
    = f.label :skype
    .input= f.text_field :skype
  .clearfix
    = f.label :linkedin
    .input= f.text_field :linkedin
  .clearfix
    = f.label :twitter
    .input= f.text_field :twitter

  .actions
    = f.submit 'Save', :class => "primary btn"

