.span-2
  = image_tag gravatar_icon(@user.email), :class => "left", :width => 60, :style => "padding-right:5px;"
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

%br

= form_for @user, :url => profile_edit_path, :method => :put do |f|
  -if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-row
    = f.label :skype
    %br
    = f.text_field :skype
  .form-row
    = f.label :linkedin
    %br
    = f.text_field :linkedin
  .form-row
    = f.label :twitter
    %br
    = f.text_field :twitter
  .actions
    = f.submit 'Save', :class => "lbutton vm"

