- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }

  .top-area
    - build_path_proc = ->(scope) { admin_builds_path(scope: scope) }
    = render "shared/builds/tabs", build_path_proc: build_path_proc, all_builds: @all_builds, scope: @scope

    .nav-controls
      - if @all_builds.running_or_pending.any?
        = link_to 'Cancel all', cancel_all_admin_builds_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

  .row-content-block.second-block
    #{(@scope || 'all').capitalize} builds

  %ul.content-list.builds-content-list.admin-builds-table
    = render "projects/builds/table", builds: @builds, admin: true
