.top-area
  %ul.nav-links
    %li{class: ('active' if @scope.nil?)}
      = link_to admin_builds_path do
        All
        %span.badge.js-totalbuilds-count= @all_builds.count(:id)

    %li{class: ('active' if @scope == 'running')}
      = link_to admin_builds_path(scope: :running) do
        Running
        %span.badge.js-running-count= number_with_delimiter(@all_builds.running_or_pending.count(:id))

    %li{class: ('active' if @scope == 'finished')}
      = link_to admin_builds_path(scope: :finished) do
        Finished
        %span.badge.js-running-count= number_with_delimiter(@all_builds.finished.count(:id))

  .nav-controls
    - if @all_builds.running_or_pending.any?
      = link_to 'Cancel all', cancel_all_admin_builds_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', method: :post

.gray-content-block.second-block
  #{(@scope || 'running').capitalize} builds

%ul.content-list
  - if @builds.blank?
    %li
      .nothing-here-block No builds to show
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th Status
            %th Build ID
            %th Project
            %th Commit
            %th Ref
            %th Runner
            %th Name
            %th Duration
            %th Finished at
            %th

        - @builds.each do |build|
          = render "admin/builds/build", build: build

    = paginate @builds, theme: 'gitlab'

