- @logs.each do |content_data|
  - file_name = content_data[:file_name]
  - commit = content_data[:commit]
  - next unless commit

  :plain
    var row = $("table.table_#{@hex_path} tr.file_#{hexdigest(file_name)}");
    row.find("td.tree-time-ago").html('#{escape_javascript time_ago_with_tooltip(commit.committed_date)}');
    row.find("td.tree-commit").html('#{escape_javascript render("projects/tree/tree_commit_column", commit: commit)}');

  = render_if_exists 'projects/refs/logs_tree_lock_label', lock_label: content_data[:lock_label]

- if @more_log_url
  :plain
    if($('#tree-slider').length) {
      // Load more commit logs for each file in tree
      // if we still on the same page
      var url = "#{escape_javascript(@more_log_url)}";
      gl.utils.ajaxGet(url);
    }

:plain
  gl.utils.localTimeAgo($('.js-timeago', 'table.table_#{@hex_path} tbody'));
