- page_title _('Bitbucket Server Import')
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')

%h1.page-title.gl-text-size-h-display.gl-flex.gl-items-center
  .gl-flex.gl-items-center.gl-justify-center
    = sprite_icon('bitbucket', css_class: 'gl-mr-3', size: 48)
  = _('Import repositories from Bitbucket Server')
%hr

%p
  = _('Enter in your Bitbucket Server URL and personal access token below')

= form_tag configure_import_bitbucket_server_path(namespace_id: params[:namespace_id]), method: :post do
  .form-group.row
    = label_tag :bitbucket_server_url, 'Bitbucket Server URL', class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :bitbucket_server_url, '', class: 'form-control gl-form-input gl-mr-3', placeholder: _('https://your-bitbucket-server'), size: 40
  .form-group.row
    = label_tag :bitbucket_server_url, 'Username', class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :bitbucket_server_username, '', class: 'form-control gl-form-input gl-mr-3', placeholder: _('username'), size: 40
  .form-group.row
    = label_tag :personal_access_token, 'Password/Personal access token', class: 'col-form-label col-md-2'
    .col-md-4
      = password_field_tag :personal_access_token, '', class: 'form-control gl-form-input gl-mr-3', placeholder: _('Personal access token'), size: 40
  .form-actions
    = render Pajamas::ButtonComponent.new(type: 'submit', variant: :confirm) do
      = _('List your Bitbucket Server repositories')
