= form_for runner, url: runner_form_url, html: { class: 'form-horizontal' } do |f|
  = form_errors(runner)
  .form-group
    = label :active, "有效的", class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :active
        %span.light 暂停的 runner 不接受新构建
  .form-group
    = label :run_untagged, '运行没有标签的作业', class: 'control-label'
    .col-sm-10
      .checkbox
        = f.check_box :run_untagged
        %span.light 确定此 runner 可以运行没有任何标签的作业
  .form-group
    = label_tag :token, class: 'control-label' do
      授权码
    .col-sm-10
      = f.text_field :token, class: 'form-control', readonly: true
  .form-group
    = label_tag :description, class: 'control-label' do
      描述
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = label_tag :tag_list, class: 'control-label' do
      标签
    .col-sm-10
      = f.text_field :tag_list, value: runner.tag_list.to_s, class: 'form-control'
      .help-block 你可以设置构建只使用指定标签的 runner
  .form-actions
    = f.submit '保存修改', class: 'btn btn-save'
