%h3 Group Runners

.bs-callout.bs-callout-warning
  GitLab Group Runners can execute code for all the projects in this group.
  They can be managed using the #{link_to 'Runners API', help_page_path('api/runners.md')}.

  - if @project.group
    %hr
    - if @project.group_runners_enabled?
      = link_to toggle_group_runners_project_runners_path(@project), class: 'btn btn-warning', method: :post do
        Disable group Runners
    - else
      = link_to toggle_group_runners_project_runners_path(@project), class: 'btn btn-success', method: :post do
        Enable group Runners
    &nbsp; for this project

- if !@project.group
  This project does not belong to a group and can therefore not make use of group Runners.

- elsif @group_runners.empty?
  This group does not provide any group Runners yet.

  - if can?(current_user, :admin_pipeline, @project.group)
    Group masters can register group runners in the
    = link_to 'Group CI/CD settings', group_settings_ci_cd_path(@project.group)
  - else
    Ask your group master to setup a group Runner.

- else
  %h4.underlined-title Available group Runners : #{@group_runners.count}
  %ul.bordered-list
    = render partial: 'projects/runners/runner', collection: @group_runners, as: :runner
