- link = link_to _('Runner API'), help_page_path('api/runners.md')

%h4
  = _('Group runners')

.bs-callout.bs-callout-warning
  = _('These runners are shared across projects in this group.')
  %br
  %br
  = _('Group runners can be managed with the %{link}.').html_safe % { link: link }

  - if @project.group
    %br
    %br
    - if @project.group_runners_enabled?
      = link_to toggle_group_runners_project_runners_path(@project), class: 'btn gl-button btn-default', method: :post do
        = _('Disable group runners')
    - else
      = link_to toggle_group_runners_project_runners_path(@project), class: 'btn gl-button btn-confirm-secondary', method: :post do
        = _('Enable group runners')
    &nbsp;
    = _('for this project')

- if !@project.group
  = _('This project does not belong to a group and cannot make use of group runners.')

- elsif @group_runners.empty?
  = _('This group does not have any group runners yet.')

  - if can?(current_user, :admin_pipeline, @project.group)
    - group_link = link_to _("group's CI/CD settings."), group_settings_ci_cd_path(@project.group)
    = _('Group maintainers can register group runners in the %{link}').html_safe % { link: group_link }
  - else
    = _('Ask your group maintainer to set up a group runner.')

- else
  %h4.underlined-title
    = _('Available group runners: %{runners}').html_safe % { runners: @group_runners.count }
  %ul.bordered-list
    = render partial: 'projects/runners/runner', collection: @group_runners, as: :runner
