= render 'shared/runners/runner_description'

%hr

%p.lead= _('To start serving your jobs you can either add specific Runners to your project or use shared Runners')
.row
  .col-sm-6
    = render 'projects/runners/specific_runners'
  .col-sm-6
    = render 'projects/runners/shared_runners'
    = render 'projects/runners/group_runners'
