%li.runner{ id: dom_id(runner) }
  %h4
    = runner_status_icon(runner)

    - if @project_runners.include?(runner)
      = link_to runner.short_sha, project_runner_path(@project, runner), class: 'commit-sha'

      - if runner.locked?
        = icon('lock', class: 'has-tooltip', title: _('Locked to current projects'))

      %small.edit-runner
        = link_to edit_project_runner_path(@project, runner) do
          %i.fa.fa-edit.btn
    - else
      %span.commit-sha
        = runner.short_sha

    .float-right
      - if @project_runners.include?(runner)
        - if runner.active?
          = link_to _('Pause'), pause_project_runner_path(@project, runner), method: :post, class: 'btn btn-sm btn-danger', data: { confirm: _("Are you sure?") }
        - else
          = link_to _('Resume'), resume_project_runner_path(@project, runner), method: :post, class: 'btn btn-success btn-sm'
        - if runner.belongs_to_one_project?
          = link_to _('Remove Runner'), project_runner_path(@project, runner), data: { confirm: _("Are you sure?") }, method: :delete, class: 'btn btn-danger btn-sm'
        - else
          - runner_project = @project.runner_projects.find_by(runner_id: runner) # rubocop: disable CodeReuse/ActiveRecord
          = link_to _('Disable for this project'), project_runner_project_path(@project, runner_project), data: { confirm: _("Are you sure?") }, method: :delete, class: 'btn btn-danger btn-sm'
      - elsif runner.project_type?
        = form_for [@project.namespace.becomes(Namespace), @project, @project.runner_projects.new] do |f|
          = f.hidden_field :runner_id, value: runner.id
          = f.submit _('Enable for this project'), class: 'btn btn-sm'
  .float-right
    %small.light
      \##{runner.id}
  - if runner.description.present?
    %p.runner-description
      = runner.description
  - if runner.tag_list.present?
    %p
      - runner.tag_list.sort.each do |tag|
        %span.badge.badge-primary
          = tag
