%h3 Specific Runners

.bs-callout.help-callout
  %h4 How to setup a specific Runner for a new project

  %ol
    %li
      Install a Runner compatible with GitLab CI
      (checkout the #{link_to 'GitLab Runner section', 'https://about.gitlab.com/gitlab-ci/#gitlab-runner', target: '_blank'} for information on how to install it).
    %li
      Specify the following URL during the Runner setup:
      %code #{ci_root_url(only_path: false)}
    %li
      Use the following registration token during setup:
      %code #{@project.runners_token}
    %li
      Start the Runner!


- if @project_runners.any?
  %h4.underlined-title Runners activated for this project
  %ul.bordered-list.activated-specific-runners
    = render partial: 'runner', collection: @project_runners, as: :runner

- if @assignable_runners.any?
  %h4.underlined-title Available specific runners
  %ul.bordered-list.available-specific-runners
    = render partial: 'runner', collection: @assignable_runners, as: :runner
  = paginate @assignable_runners
