%h4
  = _('Specific runners')

.bs-callout.help-callout
  - if valid_runner_registrars.include?('project')
    = _('These runners are specific to this project.')
    %hr
    = render partial: 'ci/runner/how_to_setup_runner_automatically',
             locals: { type: s_('Runners|specific'),
                       clusters_path: project_clusters_path(@project) }
    - if params[:ci_runner_templates]
      %hr
      = render partial: 'ci/runner/setup_runner_in_aws',
               locals: { registration_token: @project.runners_token }
    %hr
    = render partial: 'ci/runner/how_to_setup_runner',
            locals: { registration_token: @project.runners_token,
                      type: s_('Runners|specific'),
                      reset_token_url: reset_registration_token_namespace_project_settings_ci_cd_path,
                      project_path: @project.path_with_namespace,
                      group_path: '' }
  - else
    = _('Please contact an admin to register runners.')
    = link_to _('Learn more.'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'runner-registration'), target: '_blank', rel: 'noopener noreferrer'

%hr

- if @project_runners.any?
  %h4.underlined-title= _('Available specific runners')
  %ul.bordered-list.activated-specific-runners
    = render partial: 'projects/runners/runner', collection: @project_runners, as: :runner
  = paginate @project_runners, theme: "gitlab", param_name: "project_page", params: { expand_runners: true, anchor: 'js-runners-settings' }

- if @assignable_runners.any?
  %h4.underlined-title= _('Other available runners')
  %ul.bordered-list.available-specific-runners
    = render partial: 'projects/runners/runner', collection: @assignable_runners, as: :runner
  = paginate @assignable_runners, theme: "gitlab", param_name: "specific_page", :params => { :anchor => 'js-runners-settings'}
