- page_title "Edit", "#{@runner.description} ##{@runner.id}", "Runners"
= render "projects/settings/nav"

%h4 Runner ##{@runner.id}

%hr
 = render 'form', runner: @runner, runner_form_url: runner_path(@runner)
