- page_title _('Edit'), "#{@runner.description} ##{@runner.id}", _('Runners')

%h2.page-title
  = s_('Runners|Runner #%{runner_id}' % { runner_id: @runner.id })
  = render 'shared/runners/runner_type_badge', runner: @runner

= render 'shared/runners/runner_type_alert', runner: @runner

= render 'shared/runners/form', runner: @runner, runner_form_url: project_runner_path(@project, @runner)
