= label_tag :sort_by, 'Sort by', class: 'col-form-label label-bold px-2'
.dropdown.inline.qa-user-sort-dropdown
  = dropdown_toggle(member_sort_options_hash[@sort], { toggle: 'dropdown' })
  %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable
    %li.dropdown-header
      = _("Sort by")
    - member_sort_options_hash.each do |value, title|
      %li
        = link_to filter_group_project_member_path(sort: value), class: ("is-active" if @sort == value) do
          = title
    %li.divider
    %li{ data: { 'qa-selector': 'filter-members-with-inherited-permissions' } }
      = link_to filter_group_project_member_path(with_inherited_permissions: nil), class: ("is-active" unless params[:with_inherited_permissions].present?) do
        = _("Show all members")
    %li{ data: { 'qa-selector': 'filter-members-with-inherited-permissions' } }
      = link_to filter_group_project_member_path(with_inherited_permissions: 'exclude'), class: ("is-active" if params[:with_inherited_permissions] == 'exclude') do
        = _("Show only direct members")
    %li{ data: { 'qa-selector': 'filter-members-with-inherited-permissions' } }
      = link_to filter_group_project_member_path(with_inherited_permissions: 'only'), class: ("is-active" if params[:with_inherited_permissions] == 'only') do
        = _("Show only inherited members")
