- breadcrumb_title _('Google Cloud')
- page_title _('Google Cloud')

- @content_class = "limit-container-width" unless fluid_layout

#js-google-cloud

  %h1.gl-font-size-h1 Google Cloud

  %section#js-section-google-cloud-service-accounts

    %h2.gl-font-size-h2 Service Accounts

    %p= _('Service Accounts keys are required to authorize GitLab to deploy your Google Cloud project.')

    %table.table.b-table.gl-table

      %thead
        %tr
          %th Environment
          %th GCP Project ID
          %th Service Account Key

      %tbody

        %tr
          %td *
          %td serving-salutes-453
          %td .....

        %tr
          %td production
          %td crimson-corey-234
          %td .....

        %tr
          %td review/*
          %td roving-river-379
          %td .....

    %a.gl-button.btn.btn-primary= _('Add new service account')

  %br

  %section#js-section-google-cloud-deployments

    .row.row-fluid

      .col-lg-4
        %h2.gl-font-size-h2 Deployments
        %p= _('Google Cloud offers several deployment targets. Select the one most suitable for your project.')
        %p
          = _('Deployments to Google Kubernetes Engine can be ')
          %a{ href: '#' }= _('managed')
          = _('in Infrastructure :: Kubernetes clusters')

      .col-lg-8

        %br

        .gl-card.gl-mb-6
          .gl-card-body
            .gl-display-flex.gl-align-items-baseline
              %strong.gl-font-lg App Engine
              .gl-ml-auto.gl-text-gray-500 Disabled
            %p= _('App Engine description and apps that are suitable for this deployment target')
            %button.gl-button.btn.btn-default= _('Configure via Merge Request')

        .gl-card.gl-mb-6
          .gl-card-body
            .gl-display-flex.gl-align-items-baseline
              %strong.gl-font-lg Cloud Functions
              .gl-ml-auto.gl-text-gray-500 Disabled
            %p= _('Cloud Functions description and apps that are suitable for this deployment target')
            %button.gl-button.btn.btn-default= _('Configure via Merge Request')

        .gl-card.gl-mb-6
          .gl-card-body
            .gl-display-flex.gl-align-items-baseline
              %strong.gl-font-lg Cloud Run
              .gl-ml-auto.gl-text-gray-500 Disabled
            %p= _('Cloud Run description and apps that are suitable for this deployment target')
            %button.gl-button.btn.btn-default= _('Configure via Merge Request')
