= gl_tabs_nav({ class: 'mb-3'}) do
  = gl_tab_link_to _('Events'), project_product_analytics_path(@project)
  = gl_tab_link_to _('Graphs'), graphs_project_product_analytics_path(@project)
  = gl_tab_link_to _('Test'), test_project_product_analytics_path(@project)
  = gl_tab_link_to _('Setup'), setup_project_product_analytics_path(@project)
