- show_counter = local_assigns.fetch(:show_counter, false)
- primary = local_assigns.fetch(:primary, false)

= render Pajamas::CardComponent.new(card_options: { class: 'gl-mb-5' }, body_options: { class: 'gl-py-0' }, header_options: { class: milestone_header_class(primary, issuables) }) do |c|
  - c.with_header do
    .gl-grow-2
      = title
    .gl-ml-3.gl-shrink-0.gl-font-bold.gl-whitespace-nowrap{ class: milestone_counter_class(primary) }
      - if show_counter
        %span
          = sprite_icon('issues', css_class: 'gl-align-text-bottom')
          = number_with_delimiter(issuables.length)
      = render_if_exists "shared/milestones/issuables_weight", issuables: issuables
  - c.with_body do
    - class_prefix = dom_class(issuables).pluralize
    %ul{ class: "content-list milestone-#{class_prefix}-list", id: "#{class_prefix}-list-#{id}" }
      = render partial: 'shared/milestones/issuable',
              collection: issuables,
              as: :issuable,
              locals: { show_project_name: show_project_name }
