- args = { show_project_name: local_assigns.fetch(:show_project_name, false) }

- if display_issues_count_warning?(@milestone)
  .flash-container
    = render Pajamas::AlertComponent.new(variant: :warning,
      alert_options: { id: 'milestone-issue-count-warning' }) do |c|
      - c.with_body do
        = milestone_issues_count_message(@milestone)

.row.gl-mt-3
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: s_('Milestones|Unstarted Issues (open and unassigned)'), issuables: issues.opened.unassigned, id: 'unassigned', show_counter: true)
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: s_('Milestones|Ongoing Issues (open and assigned)'), issuables: issues.opened.assigned, id: 'ongoing', show_counter: true)
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: s_('Milestones|Completed Issues (closed)'), issuables: issues.closed, id: 'closed', show_counter: true)
