-# @project is present when viewing Project's milestone
- project = @project || merge_request.project

%li{ id: dom_id(merge_request, 'sortable'),  class: 'mr-row', 'data-iid' => merge_request.iid, 'data-url' => merge_request_path(merge_request) }
  %span
    - if show_project_name
      %strong #{project.name} &middot;
    - elsif show_full_project_name
      %strong #{project.name_with_namespace} &middot;
    = link_to_gfm merge_request.title, [project.namespace.becomes(Namespace), project, merge_request], title: merge_request.title
  .merge-request-detail
    = link_to [project.namespace.becomes(Namespace), project, merge_request] do
      %span.merge-request-number ##{merge_request.iid}
    - merge_request.labels.each do |label|
      = render_colored_label(label)
    - if merge_request.assignee
      = image_tag avatar_icon(merge_request.assignee, 16), class: "avatar s16", alt: ''
