- show_counter = local_assigns.fetch(:show_counter, false)
- primary = local_assigns.fetch(:primary, false)
- panel_class = primary ? 'panel-primary' : 'panel-default'

.panel{ class: panel_class }
  .panel-heading
    = title
    - if show_counter
      .pull-right= records.size

  - class_prefix = dom_class(records).pluralize
  %ul{ class: "well-list #{class_prefix}-sortable-list", id: "#{class_prefix}-list-#{id}", "data-state" => id }
    - records.sort_by(&:position).each do |record|
      = render 'shared/milestones/record', record: record, show_project_name: show_project_name, show_full_project_name: show_full_project_name
