- show_project_name = local_assigns.fetch(:show_project_name, false)

.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= sprite_icon('chevron-lg-left', size: 12)
  .fade-right= sprite_icon('chevron-lg-right', size: 12)
  %ul.nav-links.scrolling-tabs.js-milestone-tabs.nav.nav-tabs
    %li.nav-item
      = link_to '#tab-issues', class: 'nav-link active', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'issues', show_project_name: show_project_name) } do
        = _('Issues')
        %span.badge.badge-pill= milestone.issues_visible_to_user(current_user).size
    - if milestone.merge_requests_enabled?
      %li.nav-item
        = link_to '#tab-merge-requests', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'merge_requests', show_project_name: show_project_name) } do
          = _('Merge requests')
          %span.badge.badge-pill= milestone.merge_requests_visible_to_user(current_user).size
    %li.nav-item
      = link_to '#tab-participants', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'participants') } do
        = _('Participants')
        %span.badge.badge-pill= milestone.issue_participants_visible_by_user(current_user).count
    %li.nav-item
      = link_to '#tab-labels', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'labels') } do
        = _('Labels')
        %span.badge.badge-pill= milestone.issue_labels_visible_by_user(current_user).count

.tab-content.milestone-content
  .tab-pane.active#tab-issues
    = render "shared/milestones/tab_loading"
  - if milestone.merge_requests_enabled?
    .tab-pane#tab-merge-requests
      = render "shared/milestones/tab_loading"
  .tab-pane#tab-participants
    = render "shared/milestones/tab_loading"
  .tab-pane#tab-labels
    = render "shared/milestones/tab_loading"
