.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.scrolling-tabs.js-milestone-tabs.nav.nav-tabs
    %li.nav-item
      = link_to '#tab-issues', class: 'nav-link active', data: { toggle: 'tab', show: '.tab-issues-buttons' } do
        = _('Issues')
        %span.badge.badge-pill= milestone.issues_visible_to_user(current_user).size
    - if milestone.merge_requests_enabled?
      %li.nav-item
        = link_to '#tab-merge-requests', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'merge_requests') } do
          = _('Merge Requests')
          %span.badge.badge-pill= milestone.merge_requests_visible_to_user(current_user).size
    %li.nav-item
      = link_to '#tab-participants', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'participants') } do
        = _('Participants')
        %span.badge.badge-pill= milestone.issue_participants_visible_by_user(current_user).count
    %li.nav-item
      = link_to '#tab-labels', class: 'nav-link', data: { toggle: 'tab', endpoint: milestone_tab_path(milestone, 'labels') } do
        = _('Labels')
        %span.badge.badge-pill= milestone.issue_labels_visible_by_user(current_user).count

- issues = milestone.sorted_issues(current_user)
- show_project_name = local_assigns.fetch(:show_project_name, false)
- show_full_project_name = local_assigns.fetch(:show_full_project_name, false)

.tab-content.milestone-content
  .tab-pane.active#tab-issues{ data: { sort_endpoint: (sort_issues_project_milestone_path(@project, @milestone) if @project && current_user) } }
    = render 'shared/milestones/issues_tab', issues: issues, show_project_name: show_project_name, show_full_project_name: show_full_project_name
  - if milestone.merge_requests_enabled?
    .tab-pane#tab-merge-requests
      -# loaded async
      = render "shared/milestones/tab_loading"
  .tab-pane#tab-participants
    -# loaded async
    = render "shared/milestones/tab_loading"
  .tab-pane#tab-labels
    -# loaded async
    = render "shared/milestones/tab_loading"
