- page_title milestone.title
- @breadcrumb_link = milestone_path(milestone)

- group = local_assigns[:group]

= render 'shared/milestones/header', milestone: milestone
= render 'shared/milestones/description', milestone: milestone
= render 'shared/milestones/milestone_complete_alert', milestone: milestone do
  = _('All issues for this milestone are closed.')
  = group ? _('You may close the milestone now.') : _('Navigate to the project to close the milestone.')

= render_if_exists 'shared/milestones/burndown', milestone: milestone, project: @project
