- @no_container = true
- page_title "Charts", "Pipelines"
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('lib_chart')
  = page_specific_javascript_bundle_tag('graphs')
= render 'head'

%div{ class: container_class }
  .sub-header-block
    .oneline
      A collection of graphs for Continuous Integration

  #charts.ci-charts
    .row
      .col-md-6
        = render 'projects/pipelines/charts/overall'
      .col-md-6
        = render 'projects/pipelines/charts/build_times'

    %hr
    = render 'projects/pipelines/charts/builds'
