- page_title "New Pipeline"

%h3.page-title
  New Pipeline
%hr

= form_for @pipeline, as: :pipeline, url: namespace_project_pipelines_path(@project.namespace, @project), html: { id: "new-pipeline-form", class: "form-horizontal js-new-pipeline-form js-requires-input" } do |f|
  = form_errors(@pipeline)
  .form-group
    = f.label :ref, 'Create for', class: 'control-label'
    .col-sm-10
      = f.text_field :ref, required: true, tabindex: 2, class: 'form-control js-branch-name ui-autocomplete-input', autocomplete: :false, id: :ref
      .help-block Existing branch name, tag
  .form-actions
    = f.submit 'Create pipeline', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', namespace_project_pipelines_path(@project.namespace, @project), class: 'btn btn-cancel'

:javascript
  var availableRefs = #{@project.repository.ref_names.to_json};

  new NewBranchForm($('.js-new-pipeline-form'), availableRefs)
