- breadcrumb_title "Pipelines"
- page_title = s_("Pipeline|Run Pipeline")

%h3.page-title
  = s_("Pipeline|Run Pipeline")
%hr

= form_for @pipeline, as: :pipeline, url: project_pipelines_path(@project), html: { id: "new-pipeline-form", class: "form-horizontal js-new-pipeline-form js-requires-input" } do |f|
  = form_errors(@pipeline)
  .form-group
    = f.label :ref, s_('Pipeline|Run on'), class: 'control-label'
    .col-sm-10
      = hidden_field_tag 'pipeline[ref]', params[:ref] || @project.default_branch
      = dropdown_tag(params[:ref] || @project.default_branch,
                     options: { toggle_class: 'js-branch-select wide git-revision-dropdown-toggle',
                                filter: true, dropdown_class: "dropdown-menu-selectable git-revision-dropdown", placeholder: s_("Pipeline|Search branches"),
                                data: { selected: params[:ref] || @project.default_branch, field_name: 'pipeline[ref]' } })
      .help-block
        = s_("Pipeline|Existing branch name, tag")
  .form-actions
    = f.submit s_('Pipeline|Run pipeline'), class: 'btn btn-success', tabindex: 3
    = link_to 'Cancel', project_pipelines_path(@project), class: 'btn btn-default pull-right'

-# haml-lint:disable InlineJavaScript
%script#availableRefs{ type: "application/json" }= @project.repository.ref_names.to_json.html_safe
