- page_title "New Pipeline"
= render "header_title"

%h3.page-title
  New Pipeline
%hr

= form_for @pipeline, url: namespace_project_pipelines_path(@project.namespace, @project), html: { id: "new-pipeline-form", class: "form-horizontal js-new-pipeline-form js-requires-input" } do
  = form_errors(@pipeline)
  .form-group
    = label_tag :ref, 'Create for', class: 'control-label'
    .col-sm-10
      = text_field_tag :ref, params[:ref] || @project.default_branch, required: true, tabindex: 2, class: 'form-control'
      .help-block Existing branch name, tag
  .form-actions
    = button_tag 'Create pipeline', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', namespace_project_pipelines_path(@project.namespace, @project), class: 'btn btn-cancel'

:javascript
  var availableRefs = #{@project.repository.ref_names.to_json};

  new NewBranchForm($('.js-new-pipeline-form'), availableRefs)
