- @force_fluid_layout = true
- add_to_breadcrumbs _('Pipelines'), project_pipelines_path(@project)
- breadcrumb_title "##{@pipeline.id}"
- page_title _('Pipeline')
- pipeline_has_errors = @pipeline.builds.empty? && @pipeline.error_messages.any?
- pipeline_has_deprecated_dependency_scanning_enabled = @pipeline.builds.any? { |build| build.name.starts_with?('gemnasium') }
- add_page_specific_style 'page_bundles/pipeline'
- add_page_specific_style 'page_bundles/reports'
- add_page_specific_style 'page_bundles/ci_status'
- add_page_specific_style 'page_bundles/merge_request'
- add_page_startup_graphql_call('pipelines/get_pipeline_details', { projectPath: @project.full_path, iid: @pipeline.iid })

.js-pipeline-container{ data: { controller_action: "#{controller.action_name}" } }
  #js-pipeline-header-vue{ data: js_pipeline_header_data(@project, @pipeline) }

  - if pipeline_has_errors
    = render Pajamas::AlertComponent.new(title: s_('Pipelines|Unable to create pipeline'),
      variant: :danger,
      dismissible: false,
      alert_options: { class: 'gl-mb-5' }) do |c|
      - c.with_body do
        %ul
          - @pipeline.error_messages.pluck(:content).each do |error| # rubocop:disable CodeReuse/ActiveRecord -- done temporarily to drop yaml_errors
            %li= error
        - if can_view_pipeline_editor?(@project)
          = render Pajamas::ButtonComponent.new(href: project_ci_pipeline_editor_path(@project, branch_name: @pipeline.source_ref), variant: :confirm) do
            = s_("Pipelines|Go to the pipeline editor")

  - else
    - if pipeline_has_deprecated_dependency_scanning_enabled
      = render Pajamas::AlertComponent.new(title: _('You are using a deprecated Dependency Scanning analyzer'),
        variant: :warning,
        dismissible: true) do |c|
        - c.with_body do
          - help_page_link = help_page_url('user/application_security/dependency_scanning/dependency_scanning_sbom/index.md')
          - learn_more_link = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_link }
          = html_escape(s_('The Gemnasium analyzer has been replaced with a new Dependency Scanning analyzer. %{learn_more_link_start}Learn more%{link_end}.')) % { learn_more_link_start: learn_more_link, link_end: '</a>'.html_safe }

    #js-pipeline-tabs{ data: js_pipeline_tabs_data(@project, @pipeline, @current_user) }
