- hide_top_links = @hide_top_links || false
- unless @skip_current_level_breadcrumb
  - push_to_schema_breadcrumb(@breadcrumb_title, breadcrumb_title_link)

%nav.breadcrumbs.gl-breadcrumbs.tmp-breadcrumbs-fix{ 'aria-label': _('Breadcrumbs'), data: { testid: 'breadcrumb-links' } }
  %ul.breadcrumb.gl-breadcrumb-list.js-breadcrumbs-list.gl-flex-grow-1
    - unless hide_top_links
      = header_title
    - if @breadcrumbs_extra_links
      - @breadcrumbs_extra_links.each do |extra|
        = breadcrumb_list_item link_to(extra[:text], extra[:link])
    = render "layouts/nav/breadcrumbs/collapsed_inline_list", location: :after
    - unless @skip_current_level_breadcrumb
      %li.gl-breadcrumb-item{ data: { testid: 'breadcrumb-current-link' } }
        = link_to(@breadcrumb_title, breadcrumb_title_link)
  -# haml-lint:disable InlineJavaScript
  %script{ type: 'application/ld+json' }
    :plain
      #{schema_breadcrumb_json}
= yield :header_content
