%nav.main_menu
  = link_to "Home", root_path, :class => "home #{"current" if current_page?(projects_path) || current_page?(root_path)}", :title => "Home"
  = link_to dashboard_issues_path, :class => "#{"current" if current_page?(dashboard_issues_path)}", :id => "issues_slide" do 
    Issues
    %span.count= current_user.assigned_issues.opened.count
  = link_to dashboard_merge_requests_path, :class => "#{"current" if current_page?(dashboard_merge_requests_path)}", :id => "merge_requests_slide" do
    Requests
    %span.count= current_user.cared_merge_requests.count
  = link_to search_path, :class => "#{"current" if current_page?(search_path)}" do 
    Search
  = link_to "Help", help_path, :class => "#{"current" if controller.controller_name == "help"}"
