/ Page Header
%header.top_panel_holder
  .wrapper
    .top_panel_content
      %div.main_links
        = link_to root_path, :class => "home", :title => "Home" do 
          = image_tag "logo.png", :width => 100

      - if project_layout
        .project_name
          = truncate @project.name, :length => 28
        .git_url_wrapper
          %input.git-url.text{:id => "", :name => "", :readonly => "", :type => "text", :value => @project.url_to_repo, :class => "one_click_select"}
        -#- if @project.repo_exists?
          .left{:style => "margin-left:5px;"}
            = render :partial => "projects/refs", :locals => { :destination => controller.controller_name == "commits" ? "commits" : "tree" }
        = yield :rss_icon


      .account-box
        = link_to profile_path, :class => "pic" do
          = image_tag gravatar_icon(current_user.email)
        .account-links
          = link_to profile_path, :class => "username" do
            My profile
          = link_to 'Logout', destroy_user_session_path, :class => "logout", :method => :delete
