%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  .navbar-inner
    .container
      %div.app_logo
        = link_to root_path, class: 'home', title: 'Dashboard', id: 'js-shortcuts-home', data: {toggle: 'tooltip', placement: 'bottom'} do
          = brand_header_logo
          %h3 GitLab
      %h1.title= title

      %button.navbar-toggle{type: 'button', data: {target: '.navbar-collapse', toggle: 'collapse'}}
        %span.sr-only Toggle navigation
        = icon('bars')

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          - unless current_controller?(:search)
            %li.hidden-sm.hidden-xs
              = render 'layouts/search'
          %li.visible-sm.visible-xs
            = link_to search_path, title: 'Search', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('search')
          %li
            = link_to help_path, title: 'Help', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('question-circle')
          %li
            = link_to explore_root_path, title: 'Explore', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('globe')
          %li
            = link_to user_snippets_path(current_user), title: 'Your snippets', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('clipboard')
          - if current_user.is_admin?
            %li
              = link_to admin_root_path, title: 'Admin area', data: {toggle: 'tooltip', placement: 'bottom'} do
                = icon('cogs')
          - if current_user.can_create_project?
            %li
              = link_to new_project_path, title: 'New project', data: {toggle: 'tooltip', placement: 'bottom'} do
                = icon('plus')
          %li
            = link_to profile_path, title: 'Profile settings', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('user')
          %li
            = link_to destroy_user_session_path, class: 'logout', method: :delete, title: 'Sign out', data: {toggle: 'tooltip', placement: 'bottom'} do
              = icon('sign-out')
          %li.hidden-xs
            = link_to current_user, class: 'profile-pic', id: 'profile-pic', data: {toggle: 'tooltip', placement: 'bottom'} do
              = image_tag avatar_icon(current_user.email, 60), alt: 'User activity'

= render 'shared/outdated_browser'
