%header.navbar.navbar-static-top.navbar-gitlab
  .navbar-inner
    .container
      %div.app_logo
        %span.separator
        = link_to root_path, class: "home has_bottom_tooltip", title: "Dashboard" do
          %h1 GITLAB
        %span.separator
      %h1.project_name= title
      %ul.nav
        - if current_user.is_admin?
          %li
            = link_to admin_root_path, title: "Admin area", class: 'has_bottom_tooltip', 'data-original-title' => 'Admin area' do
              %i.icon-cogs
        - if current_user.can_create_project?
          %li
            = link_to new_project_path, title: "Create New Project", class: 'has_bottom_tooltip', 'data-original-title' => 'New project'  do
              %i.icon-plus
        %li
          = link_to profile_path, title: "My Profile", class: 'has_bottom_tooltip', 'data-original-title' => 'Your profile'  do
            %i.icon-user
        %li.separator
        %li
          = render "layouts/search"
        %li
          .account-box
            = link_to profile_path, class: "pic" do
              = image_tag gravatar_icon(current_user.email)
            .account-links
              = link_to profile_path, class: "username" do
                %i.icon-user.icon-white
                My profile
              = link_to destroy_user_session_path, class: "logout", method: :delete do
                %i.icon-signout.icon-white
                Logout


= render "layouts/init_auto_complete"
