%head
  %meta{:charset => "utf-8"}
  %title
    GitLab
    = " - #{@project.name}" if @project && !@project.new_record?
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"

  -# Atom feed
  - if @project && !@project.new_record?
    - if current_page?(tree_project_ref_path(@project, @project.root_ref)) || current_page?(project_commits_path(@project))
      = auto_discovery_link_tag(:atom, project_commits_url(@project, :atom, :ref => @ref, :private_token => current_user.private_token), :title => "Recent commits to #{@project.name}:#{@ref}")
    - if request.path == project_issues_path(@project)
      = auto_discovery_link_tag(:atom, project_issues_url(@project, :atom, :private_token => current_user.private_token), :title => "#{@project.name} issues")
  = csrf_meta_tags

