<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %title= message.subject

    -# Avoid premailer processing of client-specific styles (@media tag not supported)
    -# We need to inline the contents here because mail clients (e.g. iOS Mail, Outlook)
    -# do not support linked stylesheets.
    %style{ type: 'text/css', 'data-premailer': 'ignore' }
      = asset_to_string('mailer_client_specific.css').html_safe

    = stylesheet_link_tag 'mailer.css'
  %body
    %table#body{ border: "0", cellpadding: "0", cellspacing: "0" }
      %tbody
        %tr.line
          %td
        %tr.header
          %td
            = html_header_message
            = header_logo
        %tr
          %td
            %table.wrapper{ border: "0", cellpadding: "0", cellspacing: "0" }
              %tbody
                %tr
                  %td.wrapper-cell
                    %table.content{ border: "0", cellpadding: "0", cellspacing: "0" }
                      %tbody
                        = yield

        = render_if_exists 'layouts/mailer/additional_text'

        %tr.footer
          %td
            %img{ alt: "GitLab", height: "33", width: "90", src: image_url('mailers/gitlab_footer_logo.gif') }
            %div
              - manage_notifications_link = link_to(_("Manage all notifications"), profile_notifications_url, class: 'mng-notif-link')
              - help_link = link_to(_("Help"), help_url, class: 'help-link')
              = _("You're receiving this email because of your account on %{host}. %{manage_notifications_link} &middot; %{help_link}").html_safe % { host: Gitlab.config.gitlab.host, manage_notifications_link: manage_notifications_link, help_link: help_link }

        = yield :additional_footer
        %tr
          %td.footer-message
            = html_footer_message
