.page-with-sidebar{ class: nav_sidebar_class }
  = render "layouts/broadcast"
  .sidebar-wrapper
    - if defined?(sidebar) && sidebar
      = render "layouts/nav/#{sidebar}"
    - elsif current_user
      = render 'layouts/nav/dashboard'
    .collapse-nav
      = render partial: 'layouts/collapse_button'
  .content-wrapper
    .container-fluid
      .content
        = render "layouts/flash"
        .clearfix
          = yield

= yield :embedded_scripts
