.layout-page{ class: page_with_sidebar_class }
  - if defined?(nav) && nav
    = render "layouts/nav/sidebar/#{nav}"
  .content-wrapper{ class: "#{@content_wrapper_class}" }
    .mobile-overlay
    .alert-wrapper
      = render 'shared/outdated_browser'
      = render_if_exists "layouts/header/ee_subscribable_banner"
      = render "layouts/broadcast"
      = render "layouts/header/read_only_banner"
      = render "layouts/nav/classification_level_banner"
      = yield :flash_message
      = render "shared/ping_consent"
      = render_account_recovery_regular_check
      - unless @hide_breadcrumbs
        = render "layouts/nav/breadcrumbs"
      .d-flex
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = render "layouts/flash", extra_flash_class: 'limit-container-width'
        = yield
