- @main_wrapper_class =  "gl-@container/panel" if Feature.enabled?(:tailwind_container_queries, current_user)

.layout-page{ class: page_with_sidebar_class }
  -# Render the parent group sidebar while creating a new subgroup/project, see GroupsController#new.
  - group = @parent_group || @group
  - context = group || @project
  - alert_class = "container-limited" unless fluid_layout

  - sidebar_panel = super_sidebar_nav_panel(nav: nav, user: current_user, group: group, project: @project, current_ref: current_ref, ref_type: @ref_type, viewed_user: @user, organization: @organization)
  - sidebar_data = super_sidebar_context(current_user, group: group, project: @project, panel: sidebar_panel, panel_type: nav).to_json
  %aside.js-super-sidebar.super-sidebar.super-sidebar-loading{ data: { root_path: root_path, sidebar: sidebar_data, force_desktop_expanded_sidebar: @force_desktop_expanded_sidebar.to_s, command_palette: command_palette_data(project: @project, current_ref: current_ref).to_json, is_saas: Gitlab.com?.to_s } }

  = render_if_exists "layouts/tanuki_bot_chat" if context
  = render_if_exists "layouts/session_expire_modal"

  - if project_studio_enabled?
    .panels-container.gl-flex{ class: 'gl-h-[100vh] gl-gap-3' }
      .content-panels.gl-flex-1.gl-w-full.gl-flex.gl-gap-3.gl-relative{ class: 'gl-@container/content-panels' }
        #static-panel-portal.static-panel.content-wrapper.gl-relative.paneled-view.gl-flex-1.gl-overflow-y-auto.gl-bg-default{ class: "#{@content_wrapper_class}" }
          .panel-header
            -# Broadcast messages
            .broadcast-wrapper
              = dispensable_render_if_exists "shared/token_expiration_banner"
              = dispensable_render "layouts/broadcast" unless content_for(:hide_broadcast_messages).present?

            -# Top bar
            - unless @hide_top_bar
              = render "layouts/nav/top_bar", paneled_view: true

          .panel-content
            .panel-content-inner.js-static-panel-inner
              -# Alerts
              = render 'layouts/alerts', alert_class: alert_class, context: context

              %div{ class: "#{container_class unless @no_container} #{@content_class}" }
                %main.content{ id: "content-body", class: "gl-@container/panel", **page_itemtype }
                  -# Sticky alerts
                  = render "layouts/flash" unless @hide_flash
                  = yield :after_flash_content
                  = yield :before_content
                  = yield
              = yield :after_content
              -# This is needed by [GitLab JH](https://gitlab.com/gitlab-jh/jh-team/gitlab-cn/-/issues/81)
            = render_if_exists "shared/footer/global_footer"


        #contextual-panel-portal.paneled-view.contextual-panel{
          class: 'gl-@container/panel !gl-absolute gl-shadow-lg @xl/content-panels:gl-w-1/2 @xl/content-panels:gl-shadow-none @xl/content-panels:!gl-relative'
        }

    .paneled-view.ai-panels
      #duo-chat-panel

  - else
    .content-wrapper{ class: "#{@content_wrapper_class}" }
      -# Broadcast messages
      .broadcast-wrapper
        = dispensable_render_if_exists "shared/token_expiration_banner"
        = dispensable_render "layouts/broadcast" unless content_for(:hide_broadcast_messages).present?

      = render 'layouts/alerts', alert_class: alert_class, context: context

      -# Top bar
      - unless @hide_top_bar
        = render "layouts/nav/top_bar", paneled_view: false

      %div{ class: "#{container_class unless @no_container} #{@content_class}" }
        %main.content{ id: "content-body", **page_itemtype, class: @main_wrapper_class }
          = render "layouts/flash" unless @hide_flash
          = yield :after_flash_content
          = yield :before_content
          = yield
      = yield :after_content
      -# This is needed by [GitLab JH](https://gitlab.com/gitlab-jh/jh-team/gitlab-cn/-/issues/81)
      = render_if_exists "shared/footer/global_footer"
