.page-with-sidebar{ class: page_gutter_class }
  - if defined?(nav) && nav
    .layout-nav
      .container-fluid
        = render "layouts/nav/#{nav}"
  .content-wrapper{ class: "#{layout_nav_class}" }
    = yield :sub_nav
    .alert-wrapper
      = render "layouts/broadcast"
      = render "layouts/flash"
      = yield :flash_message
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = yield
