<<<<<<< HEAD
.page-with-sidebar{ class: page_with_sidebar_class }
  - if show_new_nav?
    - if defined?(nav) && nav
      = render "layouts/nav/#{nav}"
  - else
    - if defined?(nav) && nav
      .layout-nav
        .container-fluid
          = render "layouts/nav/#{nav}"
    - if content_for?(:sub_nav)
      = yield :sub_nav
  .content-wrapper{ class: layout_nav_class }
    - if show_new_nav?
      .mobile-overlay
=======
.page-with-sidebar{ class: "#{page_sidebar_class} #{page_gutter_class}" }
  .sidebar-wrapper.nicescroll
    .sidebar-action-buttons
      .nav-header-btn.toggle-nav-collapse{ title: "Open/Close" }
        %span.sr-only Toggle navigation
        = icon('bars')

      %div{ class: "nav-header-btn pin-nav-btn has-tooltip #{'is-active' if pinned_nav?} js-nav-pin", title: pinned_nav? ? "Unpin navigation" : "Pin Navigation", data: { placement: 'right', container: 'body' } }
        %span.sr-only Toggle navigation pinning
        = icon('fw thumb-tack')

    - if defined?(sidebar) && sidebar
      = render "layouts/nav/#{sidebar}"
    - elsif current_user
      = render 'layouts/nav/dashboard'
    - else
      = render 'layouts/nav/explore'

  - if defined?(nav) && nav
    .layout-nav
      .container-fluid
        = render "layouts/nav/#{nav}"
  .content-wrapper{ class: "#{layout_nav_class}" }
    = yield :sub_nav
>>>>>>> parent of aa792b91bb... Merge branch '26200-convert-sidebar-to-dropdown' into 'master'
    .alert-wrapper
      = render "layouts/broadcast"
      - if show_new_nav?
        - if content_for?(:new_global_flash)
          = yield :new_global_flash
        - unless @hide_breadcrumbs
          = render "layouts/nav/breadcrumbs"
      = render "layouts/flash"
      = yield :flash_message
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = yield
