.page-with-sidebar{ class: "#{page_sidebar_class} #{page_gutter_class}" }
  .sidebar-wrapper.nicescroll{ class: nav_sidebar_class }
    = render partial: 'layouts/collapse_button'
    - if defined?(sidebar) && sidebar
      = render "layouts/nav/#{sidebar}"
    - elsif current_user
      = render 'layouts/nav/dashboard'
    - else
      = render 'layouts/nav/explore'

    - if current_user
      = link_to current_user, class: 'sidebar-user', title: "Profile", data: {user: current_user.username} do
        = image_tag avatar_icon(current_user, 60), alt: 'Profile', class: 'avatar avatar s36'
        .username
          = current_user.username
    = link_to '#', class: "nav-header-btn text-center pin-nav-btn has-tooltip #{'is-active' if pinned_nav?} js-nav-pin", title: pinned_nav? ? "Unpin navigation" : "Pin Navigation", data: {placement: 'right', container: 'body'} do
      %span.sr-only Toggle navigation pinning
      = icon('thumb-tack')
  - if defined?(nav) && nav
    .layout-nav
      .container-fluid
        = render "layouts/nav/#{nav}"
  .content-wrapper{ class: "#{layout_nav_class}" }
    = render "layouts/broadcast"
    = render "layouts/flash"
    = yield :flash_message
    %div{ class: (container_class unless @no_container) }
      .content
        .clearfix
          = yield
