%nav.main_menu
  = render "layouts/const_menu_links"
  = link_to project_path(@project), :class => "#{project_tab_class}", :title => "Project" do 
    Project

  - if @project.repo_exists?
    - if can? current_user, :download_code, @project
      = link_to "Files", tree_project_ref_path(@project, @project.root_ref), :class => tree_tab_class
      = link_to "Commits", project_commits_path(@project), :class => commit_tab_class

    = link_to "Network", graph_project_path(@project), :class => current_page?(:controller => "projects", :action => "graph", :id => @project) ? "current" : nil
    - if @project.issues_enabled
      = link_to  project_issues_filter_path(@project), :class => (controller.controller_name == "issues") ? "current" : nil do
        Issues 
        %span.count= @project.issues.opened.count
    - if @project.merge_requests_enabled
      = link_to project_merge_requests_path(@project), :class => (controller.controller_name == "merge_requests") ? "current" : nil do
        Merge Requests
        %span.count= @project.merge_requests.opened.count

    - if @project.wall_enabled
      = link_to wall_project_path(@project), :class => current_page?(:controller => "projects", :action => "wall", :id => @project) ? "current" : nil do
        Wall
    
    - if @project.wiki_enabled
      = link_to project_wiki_path(@project, :index), :class => (controller.controller_name == "wikis") ? "current" : nil do
        Wiki
