%aside.project-right
  - if content_for? :sidebar_top_block
    = yield :sidebar_top_block
  - else
    - if current_user.can_create_project?
      .alert-message.block-message.info
        You can create at least
        = current_user.projects_limit
        projects. Click on button to add a new one
        = link_to new_project_path, :class => "btn small" do 
          New Project

  %h4
    Recent Projects:
  %ul
    - current_user.projects.order("id DESC").limit(5).each do |project|
      %li
        = link_to project_path(project) do
          = project.name

  %h4
    Recent Issues:
  %ul
    - current_user.assigned_issues.order("id DESC").limit(5).each do |issue|
      %li
        = link_to project_issue_path(issue.project, issue) do
          = truncate issue.title


  %h4
    Recent Requests:
  %ul
    - current_user.assigned_merge_requests.order("id DESC").limit(5).each do |issue|
      %li
        = link_to project_merge_request_path(issue.project, issue) do
          = truncate issue.title


