%ul.main_menu
  %li.home{:class => project_tab_class}
    = link_to @project.code, project_path(@project), :title => "Project"

  - if @project.repo_exists?
    - if can? current_user, :download_code, @project
      %li{:class => tree_tab_class}
        = link_to tree_project_ref_path(@project, @project.root_ref) do
          Files
      %li{:class => commit_tab_class}
        = link_to "Commits", project_commits_path(@project)

      %li{:class => tab_class(:network)}
        = link_to "Network", graph_project_path(@project)

  - if @project.issues_enabled
    %li{:class => tab_class(:issues)}
      = link_to  project_issues_filter_path(@project)  do
        Issues
        %span.count.issue_counter= @project.issues.opened.count

  - if @project.repo_exists?
    - if @project.merge_requests_enabled
      %li{:class => tab_class(:merge_requests)}
        = link_to project_merge_requests_path(@project) do
          Merge Requests
          %span.count.merge_counter= @project.merge_requests.opened.count

  - if @project.wall_enabled
    %li{:class =>  tab_class(:wall)}
      = link_to wall_project_path(@project) do
        Wall

  - if @project.wiki_enabled
    %li{:class =>  tab_class(:wiki)}
      = link_to project_wiki_path(@project, :index) do
        Wiki
