- humanized_resource_name = spammable.class.model_name.human.downcase

%h3.page-title
  Anti-spam verification
%hr

%p
  #{"We detected potential spam in the #{humanized_resource_name}. Please solve the reCAPTCHA to proceed."}

= form_for form do |f|
  = render 'shared/recaptcha_fields', spammable: spammable

  .row-content-block.footer-block
    = f.submit "Submit #{humanized_resource_name}", class: 'btn btn-create'
