!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} admin"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Admin area"
    .container
      %ul.main_menu
        = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
          = link_to "Stats", admin_root_path
        = nav_link(controller: :projects) do
          = link_to "Projects", admin_projects_path
        = nav_link(controller: :users) do
          = link_to "Users", admin_users_path
        = nav_link(controller: :logs) do
          = link_to "Logs", admin_logs_path
        = nav_link(controller: :hooks) do
          = link_to "Hooks", admin_hooks_path
        = nav_link(controller: :resque) do
          = link_to "Resque", admin_resque_path

      .content= yield
