!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Admin area"
  %body{class: "#{app_theme} sidenav admin", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "Admin area"
    .page-with-sidebar
      .sidebar-wrapper
        = render 'layouts/nav/admin'
      .content-wrapper
        .container-fluid
          .content
            = render "layouts/flash"
            .clearfix
              = yield
    = yield :embedded_scripts
