!!!
%html
  %head
    %title
      GitLab #{" - #{@project.name}" if @project && !@project.new_record?}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_tag do
      REQ_URI = "#{request.env["REQUEST_URI"]}";
      REQ_REFFER = "#{request.env["HTTP_REFERER"]}";
  %body{ :class => content_for?(:body_class) ? yield(:body_class) : 'project-page', :id => yield(:boyd_id)}
    #container
      = render :partial => "layouts/flash"
      = render :partial => "layouts/head_panel"
      .project-container
        .project-sidebar
          .fixed
            %aside
              = link_to "Users", admin_users_path, :class => controller.controller_name == "users" ? "current" : nil
              = link_to "Projects", admin_projects_path, :class => controller.controller_name == "projects" ? "current" : nil
              = link_to "Teams", admin_team_members_path, :class => controller.controller_name == "team_members" ? "current" : nil
              = link_to "Emails", admin_emails_path, :class => controller.controller_name == "mailer" ? "current" : nil

        .project-content
          = yield
