!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body.admin
    = render "layouts/flash"
    = render "layouts/head_panel", :title => "Admin area"
    .container
      %nav.main_menu
        = render "layouts/const_menu_links"
        = link_to "Users", admin_users_path, :class => controller.controller_name == "users" ? "current" : nil
        = link_to "Projects", admin_projects_path, :class => controller.controller_name == "projects" ? "current" : nil
        = link_to "Emails", admin_emails_path, :class => controller.controller_name == "mailer" ? "current" : nil
        = link_to "Resque", "/info/resque"

      .content= yield
