!!! 5
%html{ :lang => t('global.html_lang')}
  = render "layouts/head"
  %body{:class => "#{app_theme} admin"}
    = render "layouts/flash"
    = render "layouts/head_panel", :title => t('layouts.head_panel.admin_area')
    .container
      %nav.main_menu
        = render "layouts/const_menu_links"
        = link_to t('.projects'), admin_projects_path, :class => controller.controller_name == "projects" ? "current" : nil
        = link_to t('.users'), admin_users_path, :class => controller.controller_name == "users" ? "current" : nil
        = link_to t('.emails'), admin_emails_path, :class => controller.controller_name == "mailer" ? "current" : nil
        = link_to t('.resque'), "/info/resque"

      .content= yield
