!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body.application
    = render :partial => "layouts/flash"
    = render :partial => "layouts/head_panel"
    .container-fluid
      .sidebar
        = render :partial => "layouts/app_side"
      .content
        .row
          .span10= yield
          .span4= render "layouts/projects_side"
