!!! 5
%html{ :lang => t('global.html_lang')}
  = render "layouts/head"
  %body{:class => "#{app_theme} application"}
    = render "layouts/flash"
    = render "layouts/head_panel", :title => t('.dashboard')
    .container
      = render :partial => "layouts/app_menu"
      .content
        = yield
