!!!
%html
  %head
    %title
      GitLab #{" - #{@project.name}" if @project && !@project.new_record?}
    -#= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection"
    -#= stylesheet_link_tag 'blueprint/print', :media => "print"
    -#= stylesheet_link_tag 'blueprint/plugins/buttons/screen', :media => "screen, projection"
    -#= stylesheet_link_tag 'blueprint/plugins/link-icons/screen', :media => "screen, projection"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/png"}/
    = javascript_tag do
      REQ_URI = "#{request.env["REQUEST_URI"]}";
      REQ_REFFER = "#{request.env["HTTP_REFERER"]}";
  %body#thebody
    #container
      = render :partial => "layouts/flash"
      = render :partial => "layouts/head_panel"
      %div{ :id => "main", :role => "main", :class => "container_4" }
        - if @project && !@project.new_record?
          .top_bar.container= render :partial => "projects/top_menu" 
        - if ["keys", "profile"].include?(controller.controller_name)
          .top_bar.container= render :partial => "profile/top_menu"
        - if admin_namespace?
          .top_bar.container= render :partial => "admin/top_menu"
        = render :partial => "layouts/page_title"
        = yield
