!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body.application
    = render "layouts/flash"
    = render "layouts/head_panel", :title => "Dashboard"
    .container
      = render :partial => "layouts/app_menu"
      .content
        .row
          .span12= yield
          .sidebar= render "layouts/projects_side"
