!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      GitLab
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.application
    = render :partial => "layouts/flash"
    = render :partial => "layouts/head_panel"
    .container-fluid
      .sidebar
        = render :partial => "layouts/app_side"
      .content
        .row
          .span10= yield
          .span4= render "layouts/projects_side"
