!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} #{layout_type}"}
    = render "layouts/flash"
    = render "layouts/head_panel"
    .container
      = render partial: "layouts/#{layout_type}_menu"
      .content
        = yield
