!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Dashboard"
  %body{class: "#{app_theme} application"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Dashboard"
    .container
      %ul.main_menu
        = nav_link(path: 'dashboard#index', html_options: {class: 'home'}) do
          = link_to "Home", root_path, title: "Home"
        = nav_link(path: 'dashboard#issues') do
          = link_to dashboard_issues_path do
            Issues
            %span.count= current_user.assigned_issues.opened.count
        = nav_link(path: 'dashboard#merge_requests') do
          = link_to dashboard_merge_requests_path do
            Merge Requests
            %span.count= current_user.cared_merge_requests.opened.count
        = nav_link(path: 'search#show') do
          = link_to "Search", search_path
        = nav_link(path: 'help#index') do
          = link_to "Help", help_path

      .content= yield
