!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} application"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Dashboard"
    .container
      = render partial: "layouts/app_menu"
      .content
        = yield
