!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        .login-title
          %h1= brand_title
    %hr
    .container
      .content
        .row
          .col-sm-7
            .brand-image
              = brand_image
            .brand_text
              = brand_text
          .col-sm-5
            = yield
