!!! 5
%html.devise-layout-html.navless{ class: system_message_class }
  - add_page_specific_style 'page_bundles/signup'
  = render "layouts/head"
  %body.ui-indigo.signup-page{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'signup_page' } }
    = render "layouts/header/logo_with_title"
    = render "layouts/init_client_detection_flags"
    .page-wrap
      .container.signup-box-container.navless-container
        = render "layouts/broadcast"
        .content
          = yield
