!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        %center
          %h1
            = t("gitlab.name")
          %p.light
            = t("gitlab.description")
            %br
            #{link_to t("gitlab.login.sign_in"), new_user_session_path} #{t("gitlab.login.or_browse_for")} #{link_to t("gitlab.public_projects"), public_projects_path}.
    %hr
    .container
      .content
        = yield
