!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        %center
          %h1 GitLab
          %p.light
            GitLab is open source software to collaborate on code.
            %br
            #{link_to "Sign in", new_user_session_path} or browse for #{link_to "public projects", public_projects_path}.
    %hr
    .container
      .content
        = yield
