!!! 5
%html{ lang: "en", class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless{ class: "#{client_class_list}" }
    = header_message
    = render "layouts/init_client_detection_flags"
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield

    %hr
    .container
      .footer-links
        = link_to _("Explore"), explore_root_path
        = link_to _("Help"), help_path
        = link_to _("About GitLab"), "https://about.gitlab.com/"
    = footer_message
