!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        .login-title
          %h1= brand_title
    %hr
    .container
      .content
        .row
          .col-md-7
            .brand-image
              = brand_image
            .brand_text
              = brand_text
          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "Explore public projects", public_projects_path
        = link_to "Documentation", "http://doc.gitlab.com/"
        = link_to "About GitLab", "https://about.gitlab.com/"
