- add_page_specific_style 'page_bundles/login'
!!! 5
%html.devise-layout-html{ lang: "en", class: system_message_class }
  = render "layouts/head"
  %body.login-page.application.navless{ class: "#{user_application_theme} #{client_class_list}" }
    = header_message
    = render "layouts/init_client_detection_flags"
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield

    = render 'devise/shared/footer', footer_message: footer_message
