!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body.application
    = render "layouts/flash"
    = render "layouts/head_panel", :title => ""
    .container
      %nav.main_menu
        = render "layouts/const_menu_links"
      .content
        %h3= yield
