!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme}  application"}
    = render "layouts/empty_head_panel"
    .container.navless-container
      = render "layouts/flash"
      .error-page
        = yield
