!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{user_application_theme} application navless"}
    = render "layouts/header/empty"
    .container.navless-container
      = render "layouts/flash"
      .error-page
        = yield
