- page_title = 'Explore'
!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: page_title
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    - if current_user
      = render "layouts/head_panel", title: page_title
    - else
      = render "layouts/public_head_panel", title: page_title
    .container.navless-container
      .content
        .explore-title
          %h3
            Explore GitLab
          %p.lead
            Discover projects and groups. Share your projects with others


        %ul.nav.nav-tabs
          = nav_link(path: 'projects#trending') do
            = link_to 'Trending Projects', explore_root_path
          = nav_link(path: 'projects#starred') do
            = link_to 'Most Starred Projects', starred_explore_projects_path
          = nav_link(path: 'projects#index') do
            = link_to 'All Projects', explore_projects_path
          = nav_link(controller: :groups) do
            = link_to 'All Groups', explore_groups_path

        = yield
