- page_title = 'Explore'
!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: page_title
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    - if current_user
      = render "layouts/head_panel", title: page_title
    - else
      = render "layouts/public_head_panel", title: page_title
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/nav/explore'

    .container
      .content
        %h3.page-title
          Explore GitLab
        %p.light
          Discover projects and groups. Share your projects with others.
        %hr
        = yield
