- page_title = 'Explore GitLab'
!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: page_title
  %body{class: "#{app_theme}  application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    - if current_user
      = render "layouts/head_panel", title: link_to(page_title, explore_root_path)
    - else
      = render "layouts/public_head_panel", title: link_to(page_title, explore_root_path)

    = render 'layouts/page', sidebar: 'layouts/nav/explore'
