!!! 5
%html{ class: [user_application_color_mode, page_class], lang: I18n.locale }
  = render "layouts/head"
  %body{ class: "#{user_tab_width} #{@body_class} fullscreen-layout", data: body_data }
    = render 'peek/bar'
    = header_message
    .gl--flex-full.gl-h-full
      .gl--flex-full.gl-flex-col.gl-w-full
        .alert-wrapper
          = render 'shared/outdated_browser'
          = render "layouts/broadcast"
          = yield :flash_message
          = render "layouts/flash", flash_container_no_margin: true
        .content-wrapper{ id: "content-body", class: "!gl-flex flex-column align-items-stretch gl-p-0" }
          = yield
    = footer_message
