!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: group_head_title
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "group: #{@group.name}"
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/nav/group'
    .container
      .content
        = render "layouts/flash"
        = yield
