%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      GitLab
    = yield :page_specific_styles

    = javascript_include_tag 'https://connect-cdn.atl-paas.net/all.js'
    = Gon::Base.render_data(nonce: content_security_policy_nonce)
    = yield :head
  %body
    = yield
