- @with_header = true
- page_classes = page_class.push(@html_class, user_application_color_mode).flatten.compact
- body_classes = [system_message_class, @body_class]

!!! 5
%html.gl-h-full{ lang: I18n.locale, class: page_classes }
  = render "layouts/head"
  %body.gl-h-full{ data: body_data, class: body_classes }
    = header_message
    = render 'peek/bar'
    = render 'layouts/published_experiments'
    = render "layouts/header/empty"
    .layout-page.gl-h-full.borderless.gl-flex.gl-flex-wrap
      .content-wrapper.gl-pt-6{ class: 'md:!gl-pt-11' }
        %div{ class: container_class }
          %main#content-body.content
            = render "layouts/flash" unless @hide_flash
            = yield
      = yield :footer
    = footer_message
