%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :css
    img {
      max-width: 100%;
      height: auto;
    }
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }
    pre.commit-message {
      white-space: pre-wrap;
    }
    .file-stats a {
      text-decoration: none;
    }
    .file-stats .new-file {
      color: #090;
    }
    .file-stats .deleted-file {
      color: #B00;
    }
  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            Reply to this email directly or
            #{link_to "view it on GitLab", @target_url}.
          - else
            #{link_to "View it on GitLab", @target_url}.
          %br
          -# Don't link the host is the line below, one link in the email is easier to quickly click than two.
          You're receiving this email because of your account on #{Gitlab.config.gitlab.host}.
          If you'd like to receive fewer emails, you can
          - if @sent_notification && @sent_notification.unsubscribable?
            = link_to "unsubscribe", unsubscribe_sent_notification_url(@sent_notification)
            from this thread or
          adjust your notification settings.

          = email_action @target_url
