%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :css
    img {
      max-width: 100%;
      height: auto;
    }
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }
    pre.commit-message {
      white-space: pre-wrap;
    }
    .file-stats a {
      text-decoration: none;
    }
    .file-stats .new-file {
      color: #090;
    }
    .file-stats .deleted-file {
      color: #B00;
    }
  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        &mdash;
        %br
        - if @target_url
          - if @reply_by_email
            Reply to this email directly or
            #{link_to "view it on GitLab", @target_url}.
          - else
            #{link_to "View it on GitLab", @target_url}
          = email_action @target_url
        - if @project && !@disable_footer
          You're receiving this notification because you are a member of the #{link_to_unless @target_url, @project.name_with_namespace, namespace_project_url(@project.namespace, @project)} project team.
