!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      GitLab #{" - #{@project.name}" if @project && !@project.new_record?}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.profile
    = render :partial => "layouts/flash"
    = render :partial => "layouts/head_panel"
    .container-fluid
      .sidebar
        .fixed
          %aside
            = link_to "Profile", profile_path, :class => current_page?(:controller => "profile", :action => :show) ? "current" : nil
            = link_to "Password & token", profile_password_path,  :class => current_page?(:controller => "profile", :action => :password) ? "current" : nil
            = link_to "Design", profile_design_path, :class => current_page?(:controller => "profile", :action => :design) ? "current" : nil
            = link_to keys_path,  :class => controller.controller_name == "keys" ? "current" : nil do
              Keys
              - unless current_user.keys.empty?
                %span{ :class => "number" }= current_user.keys.count
      .content= yield
