!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} profile"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Profile"
    .container
      %ul.main_menu
        %li.home{class: tab_class(:profile)}
          = link_to "Profile", profile_path

        %li{class: tab_class(:account)}
          = link_to "Account", profile_account_path

        %li{class: tab_class(:ssh_keys)}
          = link_to keys_path do
            SSH Keys
            %span.count= current_user.keys.count

        %li{class: tab_class(:design)}
          = link_to "Design", profile_design_path

        %li{class: tab_class(:history)}
          = link_to "History", profile_history_path


      .content
        = yield
