!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Profile"
  %body{class: "#{app_theme} profile", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "Profile"
    = render 'layouts/page', sidebar: 'layouts/nav/profile'
