!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} profile"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Profile"
    .container
      %ul.main_menu
        %li.home{class: tab_class(:profile)}
          = link_to "Profile", profile_path

        %li{class: tab_class(:password)}
          = link_to "Password", profile_password_path

        %li{class: tab_class(:ssh_keys)}
          = link_to keys_path do
            SSH Keys
            %span.count= current_user.keys.count

        %li{class: tab_class(:token)}
          = link_to "Token", profile_token_path

        %li{class: tab_class(:design)}
          = link_to "Design", profile_design_path


      .content
        = yield
