!!! 5
%html{ :lang => t('global.html_lang')}
  = render "layouts/head"
  %body{:class => "#{app_theme} profile"}
    = render "layouts/flash"
    = render "layouts/head_panel", :title => t('.title')
    .container
      %nav.main_menu
        = render "layouts/const_menu_links"
        = link_to t('.title'), profile_path, :class => current_page?(:controller => "profile", :action => :show) ? "current" : nil
        = link_to t('.security'), profile_password_path,  :class => current_page?(:controller => "profile", :action => :password) ? "current" : nil
        = link_to t('.design'), profile_design_path, :class => current_page?(:controller => "profile", :action => :design) ? "current" : nil
        = link_to t('.keys'), keys_path,  :class => controller.controller_name == "keys" ? "current" : nil
      .content
        = yield
