!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Profile"
  %body{class: "#{app_theme} sidenav profile", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "Profile"
    .page-with-sidebar
      .sidebar-wrapper
        = render 'layouts/nav/profile'
      .content-wrapper
        .container-fluid
          .content
            = render "layouts/flash"
            .clearfix
              = yield
    = yield :embedded_scripts
