!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body{class: "#{app_theme} profile"}
    = render "layouts/flash"
    = render "layouts/head_panel", title: "Profile"
    .container
      %ul.main_menu
        = nav_link(path: 'profile#show', html_options: {class: 'home'}) do
          = link_to "Profile", profile_path
        = nav_link(path: 'profile#account') do
          = link_to "Account", profile_account_path
        = nav_link(controller: :keys) do
          = link_to keys_path do
            SSH Keys
            %span.count= current_user.keys.count
        = nav_link(path: 'profile#design') do
          = link_to "Design", profile_design_path
        = nav_link(path: 'profile#history') do
          = link_to "History", profile_history_path

      .content= yield
