!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body{:class => "#{app_theme} project"}
    = render "layouts/flash"
    = render "layouts/head_panel", :title => @project.name
    .container
      = render :partial => "layouts/project_menu"
      .content
        = yield

