- page_title       @project.name_with_namespace
- page_description @project.description    unless page_description
- header_title     project_title(@project) unless header_title
- nav              "project"

- content_for :scripts_body_top do
  - project = @target_project || @project
  - if @project_wiki && @page
    - markdown_preview_path = namespace_project_wiki_markdown_preview_path(project.namespace, project, @page.title)
  - else
    - markdown_preview_path = markdown_preview_namespace_project_path(project.namespace, project)
  - if current_user
    :javascript
      window.project_uploads_path = "#{namespace_project_uploads_path project.namespace,project}";
      window.markdown_preview_path = "#{markdown_preview_path}";

- content_for :scripts_body do
  = render "layouts/init_auto_complete" if current_user

- content_for :header_content do
  .js-dropdown-menu-projects
    .dropdown-menu.dropdown-select.dropdown-menu-projects
      = dropdown_title("Go to a project")
      = dropdown_filter("Search your projects")
      = dropdown_content
      = dropdown_loading

= render template: "layouts/application"
