!!!
%html
  %head
    %title
      GitLab #{" - #{@project.name}" if @project && !@project.new_record?}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    - if current_page?(tree_project_ref_path(@project, @project.root_ref)) || current_page?(project_commits_path(@project))
      = auto_discovery_link_tag(:atom, project_commits_url(@project, :atom, :ref => @ref, :private_token => current_user.private_token), :title => "Recent commits to #{@project.name}:#{@ref}")
    - if request.path == project_issues_path(@project)
      = auto_discovery_link_tag(:atom, project_issues_url(@project, :atom, :private_token => current_user.private_token), :title => "#{@project.name} issues")
    = csrf_meta_tags
    = javascript_tag do
      REQ_URI = "#{request.env["REQUEST_URI"]}";
      REQ_REFFER = "#{request.env["HTTP_REFERER"]}";
  %body{ :class => body_class('project-page'), :id => yield(:boyd_id)}
    = render :partial => "layouts/flash"
    #container
      = render :partial => "layouts/head_panel"
      -#= render :partial => "layouts/middle_panel" if @project && !@project.new_record?
      .project-container
        .project-sidebar
          .fixed
            %aside
              = link_to project_path(@project), :class => project_tab_class do 
                Project

              = link_to "Repository", project_repository_path(@project), :class => repository_tab_class
              = link_to "Tree", tree_project_ref_path(@project,  @project.root_ref), :class => tree_tab_class
              = link_to "Commits", project_commits_path(@project), :class => (controller.controller_name == "commits") ? "current" : nil
              = link_to "Network", graph_project_path(@project), :class => current_page?(:controller => "projects", :action => "graph", :id => @project) ? "current" : nil
              = link_to  project_issues_filter_path(@project), :class => (controller.controller_name == "issues") ? "current" : nil do
                Issues
                -#- if @project.issues.open_for(current_user).count > 0
                  %span{ :class => "number" }= @project.issues.open_for(current_user).count
              = link_to wall_project_path(@project), :class => current_page?(:controller => "projects", :action => "wall", :id => @project) ? "current" : nil do
                Wall
                - if @project.common_notes.today.count > 0
                  %span{ :class => "number" }= @project.common_notes.today.count
              = link_to project_merge_requests_path(@project), :class => (controller.controller_name == "merge_requests") ? "current" : nil do
                Requests
                -#- if @project.merge_requests.opened.count > 0
                  %span{ :class => "number" }= @project.merge_requests.opened.count



        .project-content
          = yield
