!!! 5
%html{ :lang => "en"}
  = render "layouts/head"
  %body.project
    = render :partial => "layouts/flash"
    = render :partial => "layouts/head_panel"
    .container-fluid
      .sidebar= render :partial => "layouts/project_side"
      .content
        - if @full_content
          = yield
        - else
          .row
            .span10= yield
            .span4= render "layouts/project_side_right"

