!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: group_head_title
  %body{class: "#{app_theme} sidenav application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/public_head_panel", title: "group: #{@group.name}"
    .page-with-sidebar
      .sidebar-wrapper
        = render 'layouts/nav/group'
      .content-wrapper
        .container-fluid
          .content
            = render "layouts/flash"
            .clearfix
              = yield
    = yield :embedded_scripts
