!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Public Area"
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    - if current_user
      = render "layouts/head_panel", title: "Public Area"
    - else
      = render "layouts/public_head_panel", title: "Public Area"
    %nav.main-nav
      .container= render 'layouts/nav/public'
    .container.navless-container
      .content= yield
