!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: @project.name_with_namespace
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/public_head_panel", title: @project.name_with_namespace
    %nav.main-nav
      .container= render 'layouts/nav/project'
    .container
      .content= yield
