!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Search"
  %body{class: "#{app_theme} application"}
    = render "layouts/head_panel", title: "Search"
    = render "layouts/flash"

    .container.search-container
      .content
        = yield
