- add_page_specific_style 'page_bundles/signup'
- add_page_specific_style 'page_bundles/login'
!!! 5
%html.html-devise-layout{ lang: I18n.locale }
  = render "layouts/head"
  %body.signup-page.navless{ class: "#{system_message_class} #{user_application_theme} #{client_class_list}", data: { page: body_data_page, qa_selector: 'signup_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    = render "layouts/header/logo_with_title"
    .container
      .content
        = yield

    = footer_message
