!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "Snipepts"
  %body{class: "#{app_theme} application"}
    = render "layouts/head_panel", title: "Snippets"
    = render "layouts/flash"
    %nav.main-nav
      .container
        %ul
          = nav_link(path: 'snippets#user_index', html_options: {class: 'home'}) do
            = link_to user_snippets_path(current_user), title: "My Snippets" do
              %i.icon-home
          = nav_link(path: 'snippets#new') do
            = link_to new_snippet_path do
              New snippet
          = nav_link(path: 'snippets#index') do
            = link_to snippets_path do
              Discover snippets
    .container
      .content= yield
