!!!
%html
  %head
    %title
      GitLab #{" - #{current_user.name}"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_tag do
      REQ_URI = "#{request.env["REQUEST_URI"]}";
      REQ_REFFER = "#{request.env["HTTP_REFERER"]}";
  %body{ :class => body_class('project-page'), :id => yield(:boyd_id)}
    = render :partial => "layouts/flash"
    #container
      = render :partial => "layouts/head_panel"
      .project-container
        .project-sidebar
          .fixed
            %aside
              = link_to issues_path, :class => current_page?(:controller => "user_issues", :action => "index") ? "current" : nil do
                Issues
                - unless current_user.assigned_issues.empty?
                  %span{ :class => "number" }= current_user.assigned_issues.count

        .project-content
          = yield

