- page_title "Images"
= render "header_title"

.top-area
  .nav-controls

.gray-content-block
  A list of Docker Images for this project

%ul.content-list
  - if @tags.blank?
    %li
      .nothing-here-block No images to show
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th Name
            %th Revision
            %th Size
            %th Created
            %th

        - @tags.each do |tag|
          %tr
            %td
              = link_to namespace_project_image_path(@project.namespace, @project, tag.name) do
                #{tag.repository.name}:#{tag.name}
            %td
              - if layer = tag.layers.first
                \##{layer.short_revision}
            %td
              = pluralize(tag.layers.size, "layer")
              &nbsp;
              = number_to_human_size(tag.total_size)
            %td
              = time_ago_in_words(tag.created_at)
            %td.content
              .controls.hidden-xs.pull-right
                = link_to namespace_project_image_path(@project.namespace, @project, tag.name), class: 'btn btn-remove has-tooltip', title: "Remove", data: { confirm: "Are you sure?" }, method: :delete do
                  = icon("trash cred")
