= render 'devise/shared/tab_single', tab_title: _('Sign in preview')
%form.gl-show-field-errors
  - title = _('This form is disabled in preview')
  .form-group
    = label_tag :login
    = text_field_tag :login, nil, disabled: true, class: "form-control gl-form-input top", title: title
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, disabled: true, class: "form-control gl-form-input bottom", title: title

  = render Pajamas::ButtonComponent.new(variant: :confirm, disabled: true, button_options: { title: title }) do
    = _("Sign in")
