%tr{ role: 'row' }
  %td{ role: 'cell', data: { label: _('Migration') } }
    = link_to admin_background_migration_path(migration, database: params[:database]) do
      = migration.job_class_name + ': ' + migration.table_name
  %td{ role: 'cell', data: { label: _('Progress') } }
    - progress = batched_migration_progress(migration, @successful_rows_counts[migration.id])
    - if progress
      = number_to_percentage(progress, precision: 2)
    - else
      = _('Unknown')
  %td{ role: 'cell', data: { label: _('Status') } }
    = gl_badge_tag migration.status_name.to_s.humanize, { size: :sm, variant: batched_migration_status_badge_variant(migration) }
  %td{ role: 'cell', data: { label: _('Action') } }
    - if migration.active?
      = render Pajamas::ButtonComponent.new(icon: 'pause',
        method: :post,
        href: pause_admin_background_migration_path(migration, database: params[:database]),
        button_options: { class: 'has-tooltip', title: _('Pause'), 'aria-label' => _('Pause') })
    - elsif migration.paused?
      = render Pajamas::ButtonComponent.new(icon: 'play',
        method: :post,
        href: resume_admin_background_migration_path(migration, database: params[:database]),
        button_options: { class: 'has-tooltip', title: _('Resume'), 'aria-label' => _('Resume') })
    - elsif migration.failed?
      = render Pajamas::ButtonComponent.new(icon: 'retry',
        method: :post,
        href: retry_admin_background_migration_path(migration, database: params[:database]),
        button_options: { class: 'has-tooltip', title: _('Retry'), 'aria-label' => _('Retry') })
