%h4= s_('ClusterIntegration|Kubernetes cluster integration')

.settings-content
  .hidden.js-cluster-error.alert.alert-danger.alert-block.append-bottom-10{ role: 'alert' }
    = s_('ClusterIntegration|Something went wrong while creating your Kubernetes cluster on Google Kubernetes Engine')
    %p.js-error-reason

  .hidden.js-cluster-creating.alert.alert-info.alert-block.append-bottom-10{ role: 'alert' }
    = s_('ClusterIntegration|Kubernetes cluster is being created on Google Kubernetes Engine...')

- if show_cluster_security_warning?
  .js-cluster-security-warning.alert.alert-block.alert-dismissable.bs-callout.bs-callout-warning
    %button.close.js-close{ type: "button", data: { feature_id: UserCalloutsHelper::CLUSTER_SECURITY_WARNING, dismiss_endpoint: user_callouts_path } }  &times;
    = s_("ClusterIntegration|The default cluster configuration grants access to many functionalities needed to successfully build and deploy a containerised application.")
    = link_to s_("More information"),  help_page_path('user/project/clusters/index.md', anchor: 'security-implications')
