.gl-responsive-table-row
  .table-section.section-30
    .table-mobile-header{ role: "rowheader" }= s_("ClusterIntegration|Cluster")
    .table-mobile-content
      = link_to cluster.name, namespace_project_cluster_path(@project.namespace, @project, cluster)
  .table-section.section-30
    .table-mobile-header{ role: "rowheader" }= s_("ClusterIntegration|Environment scope")
    .table-mobile-content= cluster.environment_scope
  .table-section.section-30
    .table-mobile-header{ role: "rowheader" }= s_("ClusterIntegration|Project namespace")
    .table-mobile-content= cluster.platform_kubernetes&.actual_namespace
  .table-section.section-10
    .table-mobile-header{ role: "rowheader" }
    .table-mobile-content
      %input{ type: "hidden",
        class: 'js-project-feature-toggle',
        value: cluster.enabled?,
        disabled: !cluster.can_toggle_cluster?,
        data: { endpoint: namespace_project_cluster_path(@project.namespace, @project, cluster, format: :json) } }
