= form_for @cluster, url: namespace_project_cluster_path(@project.namespace, @project, @cluster), as: :cluster do |field|
  = form_errors(@cluster)
  .form-group.append-bottom-20
    %label.append-bottom-10
      = field.hidden_field :enabled, { class: 'js-toggle-input'}

      %button{ type: 'button',
        class: "js-toggle-cluster project-feature-toggle #{'is-checked' unless !@cluster.enabled?} #{'is-disabled' unless can?(current_user, :update_cluster, @cluster)}",
        "aria-label": s_("ClusterIntegration|Toggle Cluster"),
        disabled: !can?(current_user, :update_cluster, @cluster),
        data: { "enabled-text": s_("ClusterIntegration|Active"), "disabled-text": s_("ClusterIntegration|Inactive"), } }

    - if can?(current_user, :update_cluster, @cluster)
      .form-group
        = field.submit _('Save'), class: 'btn btn-success'
