.row
  .col-sm-8.col-sm-offset-4
    %p
      - link_to_help_page = link_to(s_('ClusterIntegration|help page'), help_page_path('user/project/clusters/index'), target: '_blank', rel: 'noopener noreferrer')
      = s_('ClusterIntegration|Read our %{link_to_help_page} on cluster integration.').html_safe % { link_to_help_page: link_to_help_page}

      = form_for [@project.namespace.becomes(Namespace), @project, @cluster] do |field|
        = form_errors(@cluster)
        .form-group
          = field.label :gcp_cluster_name, s_('ClusterIntegration|Cluster name')
          = field.text_field :gcp_cluster_name, class: 'form-control'

        .form-group
          = field.label :gcp_project_id, s_('ClusterIntegration|Google Cloud Platform project ID')
          = link_to(s_('ClusterIntegration|See your projects'), 'https://console.cloud.google.com/home/dashboard', target: '_blank', rel: 'noopener noreferrer')
          = field.text_field :gcp_project_id, class: 'form-control'

        .form-group
          = field.label :gcp_cluster_zone, s_('ClusterIntegration|Zone')
          = link_to(s_('ClusterIntegration|See zones'), 'https://cloud.google.com/compute/docs/regions-zones/regions-zones', target: '_blank', rel: 'noopener noreferrer')
          = field.text_field :gcp_cluster_zone, class: 'form-control', placeholder: 'us-central1-a'

        .form-group
          = field.label :gcp_cluster_size, s_('ClusterIntegration|Number of nodes')
          = field.text_field :gcp_cluster_size, class: 'form-control', placeholder: '3'

        .form-group
          = field.label :gcp_machine_type, s_('ClusterIntegration|Machine type')
          = link_to(s_('ClusterIntegration|See machine types'), 'https://cloud.google.com/compute/docs/machine-types', target: '_blank', rel: 'noopener noreferrer')
          = field.text_field :gcp_machine_type, class: 'form-control', placeholder: 'n1-standard-4'

          .form-group
          = field.label :project_namespace, s_('ClusterIntegration|Project namespace (optional, unique)')
          = field.text_field :project_namespace, class: 'form-control', placeholder: @cluster.project_namespace_placeholder

        .form-group
          = field.submit s_('ClusterIntegration|Create cluster'), class: 'btn btn-save'
