.row.prepend-top-default.edit-cluster-form.js-edit-cluster-form{ data: { check_status: status_namespace_project_cluster_path(@cluster.project.namespace, @cluster.project, @cluster.id), edit_path: namespace_project_cluster_path(@project.namespace, @project, @cluster.id)}}
  = render 'sidebar'
  .col-lg-8
    %h4.prepend-top-0
      = s_('ClusterIntegration|Enable cluster integration')
    %p
      -#TODO: if  can?(current_user, :update_cluster, @cluster)
      -#  if :enabled
      = s_('ClusterIntegration|Disabling cluster integration will not affect your cluster. It will only temporarily turn off GitLab\'s conection to it.')
      -# else
      = s_('ClusterIntegration|Missing test/state in mockups.')
      -# else !can?(current_user, :update_cluster, @cluster)
      -# if :enabled
      = s_('ClusterIntegration|Cluster integration is enabled for this project.')
      -# else
      = s_('ClusterIntegration|Cluster integration is disabled for this project.')

    %label.toggle-wrapper
      %button{ type: 'button', class: 'js-toggle-cluster project-feature-toggle', aria: { label: 'Toggle' }, data: { 'enabled-text': 'Enable', 'disabled-text': 'disabled' } }

    .form-group


    -# render errors TODO
      #= form_errors(@cluster)

    -# if can?(current_user, :update_cluster, @cluster)
    .form_group
      %label
        = s_('ClusterIntegration|Google container engine')
      %p
        - link_gke = link_to(s_('ClusterIntegration|Manage your cluster on GKE'), '', target: '_blank', rel: 'noopener noreferrer')
        = s_('ClusterIntegration|This cluster was not set up on Google Container Engine. %{link_gke}').html_safe % { link_gke: link_gke }

    .form_group
      %label
        = s_('ClusterIntegration|Cluster name')
      .input-group
        %input.form-control{ value: @cluster.cluster_name, disabled: true}
        %span.input-group-addon.clipboard-addon
          = clipboard_button(text: @cluster.cluster_name, title: s_('ClusterIntegration|Copy cluster name'))

    %br
    -# - if can?(current_user, :admin_cluster, @cluster)
    .well.form_group
      %label.text-danger
        = s_('ClusterIntegration|Remove cluster integration')
      %p
        = s_('ClusterIntegration|Removing cluster integration will remove the cluster configuration you have added to this project. It will not delete your project.')
      = link_to(s_('ClusterIntegration|Remove integration'), namespace_project_cluster_path(@project.namespace, @project, @cluster.id), method: :delete, class: 'btn btn-danger')


%br
= link_to "Enable", namespace_project_cluster_path(@project.namespace, @project, @cluster.id), method: :put
%br
= link_to "Disable", namespace_project_cluster_path(@project.namespace, @project, @cluster.id, cluster: {enabled: 'false'}), method: :put

%br
-# status GET
-# status: The current status of the operation.
-# status_reason: If an error has occurred, a textual description of the error.
= link_to 'Check status', status_namespace_project_cluster_path(@cluster.project.namespace, @cluster.project, @cluster.id), :remote => true
%br
-# simply rendering error, if it happened
status_reason
%p= @cluster.status_reason
-# Even if we got an error during the creation process, we don't delete cluster objects automatically, because we don't have a method to delete the cluster on gke. So users move to edit page from new page **regardless of validation errors**, and they have to delete the record manually. This is for giving users headsup that a new cluster might remain in gke. /cc @ayufan
