- breadcrumb_title "Cluster"
- page_title _("Cluster")

.row.prepend-top-default
  .col-sm-4
    = render 'sidebar'
  .col-sm-8
    - if @project.kubernetes_service&.active?
      %h4.prepend-top-0= s_('ClusterIntegration|Cluster management')

      %p= s_('ClusterIntegration|A cluster has been set up on this project through the Kubernetes integration page')
      = link_to s_('ClusterIntegration|Manage Kubernetes integration'), edit_project_service_path(@project, :kubernetes), class: 'btn append-bottom-20'

    - else
      %h4.prepend-top-0= s_('ClusterIntegration|Choose how to set up cluster integration')

      %p= s_('ClusterIntegration|Create a new cluster on Google Container Engine right from GitLab')
      = link_to s_('ClusterIntegration|Create on GKE'), providers_gcp_new_namespace_project_clusters_path(@project.namespace, @project), class: 'btn append-bottom-20'
      %p= s_('ClusterIntegration|Enter the details for an existing Kubernetes cluster')
      = link_to s_('ClusterIntegration|Add an existing cluster'), edit_project_service_path(@project, :kubernetes), class: 'btn append-bottom-20'
