- breadcrumb_title 'Kubernetes'
- page_title _("Kubernetes Cluster")
- active_tab = local_assigns.fetch(:active_tab, 'gcp')
= javascript_include_tag 'https://apis.google.com/js/api.js'

= render_gcp_signup_offer

.row.prepend-top-default
  .col-md-3
    = render 'sidebar'
  .col-md-9.js-toggle-container
    %ul.nav-links.nav-tabs.gitlab-tabs.nav{ role: 'tablist' }
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#create-gcp-cluster-pane', id: 'create-gcp-cluster-tab', class: active_when(active_tab == 'gcp'), data: { toggle: 'tab' }, role: 'tab' }
          %span Create new Cluster on GKE
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#add-user-cluster-pane', id: 'add-user-cluster-tab', class: active_when(active_tab == 'user'), data: { toggle: 'tab' }, role: 'tab' }
          %span Add existing cluster

    .tab-content.gitlab-tab-content
      .tab-pane{ id: 'create-gcp-cluster-pane', class: active_when(active_tab == 'gcp'), role: 'tabpanel' }
        = render 'projects/clusters/gcp/header'
        - if @valid_gcp_token
          = render 'projects/clusters/gcp/form'
        - elsif @authorize_url
          .signin-with-google
            = link_to(image_tag('auth_buttons/signin_with_google.png', width: '191px'), @authorize_url)
            = _('or')
            = link_to('create a new Google account', 'https://accounts.google.com/SignUpWithoutGmail?service=cloudconsole&continue=https%3A%2F%2Fconsole.cloud.google.com%2Ffreetrial%3Futm_campaign%3D2018_cpanel%26utm_source%3Dgitlab%26utm_medium%3Dreferral', target: '_blank', rel: 'noopener noreferrer')
        - else
          - link = link_to(s_('ClusterIntegration|properly configured'), help_page_path("integration/google"), target: '_blank', rel: 'noopener noreferrer')
          = s_('Google authentication is not %{link_to_documentation}. Ask your GitLab administrator if you want to use this service.').html_safe % { link_to_documentation: link }

      .tab-pane{ id: 'add-user-cluster-pane', class: active_when(active_tab == 'user'), role: 'tabpanel' }
        = render 'projects/clusters/user/header'
        = render 'projects/clusters/user/form'
